{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11943"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg3238?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238",
        "name": "afs-sdk-rg3238",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiI1ODBiNzY3NS1mNWQ2LTQ4MmMtOTU1Yy1kMDE3ZGFkY2I3ZWIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYjU0MjZlNjAtZjg4ZS00YTY5LWFhZWYtMGI0YmU0ZmFhZjFkIn0=?api-version=2022-06-01",
        "Location": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiI1ODBiNzY3NS1mNWQ2LTQ4MmMtOTU1Yy1kMDE3ZGFkY2I3ZWIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYjU0MjZlNjAtZjg4ZS00YTY5LWFhZWYtMGI0YmU0ZmFhZjFkIn0=?api-version=2022-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1189",
        "X-ServiceFabricRequestId": "ef6ae7a1-9f8c-4f15-bf7d-f5c5407a59e6"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiI1ODBiNzY3NS1mNWQ2LTQ4MmMtOTU1Yy1kMDE3ZGFkY2I3ZWIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYjU0MjZlNjAtZjg4ZS00YTY5LWFhZWYtMGI0YmU0ZmFhZjFkIn0=?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11942",
        "X-ServiceFabricRequestId": "65d1ebbc-55e4-460a-b9b2-911d4a5eae98"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiI1ODBiNzY3NS1mNWQ2LTQ4MmMtOTU1Yy1kMDE3ZGFkY2I3ZWIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYjU0MjZlNjAtZjg4ZS00YTY5LWFhZWYtMGI0YmU0ZmFhZjFkIn0=",
        "name": "eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiI1ODBiNzY3NS1mNWQ2LTQ4MmMtOTU1Yy1kMDE3ZGFkY2I3ZWIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYjU0MjZlNjAtZjg4ZS00YTY5LWFhZWYtMGI0YmU0ZmFhZjFkIn0=",
        "status": "Accepted",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "error": null,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11936",
        "X-ServiceFabricRequestId": "a4d46fb8-6916-4552-bf7c-ce0702be4b2a"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "storageSyncServiceUid": null,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create1289/workflows/580b7675-f5d6-482c-955c-d017dadcb7eb",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289",
        "name": "afs-sdk-sss-create1289",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2022-10-14T19:57:58.0331804Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T19:57:58.0331804Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289/syncGroups/sg-cepcreate5472?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188",
        "X-ServiceFabricRequestId": "dce15b6f-da14-4fec-9b99-4f8fd01a9ce6"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "9815bea6-78de-443e-b189-162ff22fccfc"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289/syncGroups/sg-cepcreate5472",
        "name": "sg-cepcreate5472",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2022-10-14T19:58:08.0359153Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T19:58:08.0359153Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289/syncGroups?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11935",
        "X-ServiceFabricRequestId": "b074a57e-0845-4773-95b4-61edb7a7a492"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "syncGroupStatus": "0",
              "uniqueId": "9815bea6-78de-443e-b189-162ff22fccfc"
            },
            "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg3238/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create1289/syncGroups/sg-cepcreate5472",
            "name": "sg-cepcreate5472",
            "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
            "systemData": {
              "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "createdByType": "Application",
              "createdAt": "2022-10-14T19:58:08.0359153Z",
              "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2022-10-14T19:58:08.0359153Z"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImVhYmFjZjU4LTVkYWUtNDY2OS05YzM3LTBhZDhlN2M1MDk2ZSIsIndvcmtmbG93SWQiOiJmOTQyZmM0MC1lMTkwLTQwNjEtYTZiZS03M2U3MTQxODIzMjciLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDE5YTY4MzQtZjYwZi00Y2IwLThhZDktNWU3MmYxZjMzNjRmIn0=?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorizati[...]
[...]
