{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg8771?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771",
        "name": "afs-sdk-rg8771",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiIyZDQzNjZiYS0xOThjLTQ5NGYtYjkzYS02ZjkzY2VkZjlmM2YiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGI4YTEyZWQtNGQ4Ny00NjUxLTllODgtMjk2YjdkMjhjYzBiIn0=?api-version=2022-06-01",
        "Location": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiIyZDQzNjZiYS0xOThjLTQ5NGYtYjkzYS02ZjkzY2VkZjlmM2YiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGI4YTEyZWQtNGQ4Ny00NjUxLTllODgtMjk2YjdkMjhjYzBiIn0=?api-version=2022-06-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "X-ServiceFabricRequestId": "b52a1b40-e7b9-488b-a084-3dba3366ed0b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiIyZDQzNjZiYS0xOThjLTQ5NGYtYjkzYS02ZjkzY2VkZjlmM2YiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGI4YTEyZWQtNGQ4Ny00NjUxLTllODgtMjk2YjdkMjhjYzBiIn0=?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979",
        "X-ServiceFabricRequestId": "3dd4fecb-c239-443b-84e8-f4f52e0c73a7"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiIyZDQzNjZiYS0xOThjLTQ5NGYtYjkzYS02ZjkzY2VkZjlmM2YiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGI4YTEyZWQtNGQ4Ny00NjUxLTllODgtMjk2YjdkMjhjYzBiIn0=",
        "name": "eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiIyZDQzNjZiYS0xOThjLTQ5NGYtYjkzYS02ZjkzY2VkZjlmM2YiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGI4YTEyZWQtNGQ4Ny00NjUxLTllODgtMjk2YjdkMjhjYzBiIn0=",
        "status": "Accepted",
        "startTime": "2022-10-14T19:56:55.2619125Z",
        "endTime": "2022-10-14T19:56:55.2619127Z",
        "percentComplete": null,
        "error": null,
        "properties": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972",
        "X-ServiceFabricRequestId": "88659f1a-5b9b-436d-ae32-93667863691f"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "storageSyncServiceUid": null,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create6503/workflows/2d4366ba-198c-494f-b93a-6f93cedf9f3f",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503",
        "name": "afs-sdk-sss-create6503",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2022-10-14T19:56:55.059038Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T19:56:55.059038Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11971",
        "x-ms-request-error": "0x80C87004",
        "X-ServiceFabric": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "-2134347772",
          "message": "SyncGroup \u0027/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604\u0027 does not exist.",
          "target": "InvalidResource",
          "details": {
            "httpErrorCode": "NotFound",
            "exceptionType": "FilesCommon.Diagnostics.BackendException",
            "hashedMessage": "SyncGroup \u0027/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604\u0027 does not exist.",
            "httpMethod": "GET",
            "requestUri": "http://10.0.0.5:9081/2022-06-01/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604?api-version=2022-06-01"
          },
          "innererror": {
            "callStack": "   at StorageFiles.Foundation.Diagnostics.Tracer.TraceAndThrow(Exception ex, EventLevel level, String msg, UseInterpolatedStringOrStringDotFormat guard, String file, String member, Int32 line)\r\n   at FilesCommon.Diagnostics.ErrorHelper.CheckAndThrowException(Boolean condition, ErrorCodeCommon errorCode, ExceptionMessage errorMessage, String errorTarget, Exception innerException)\r\n   at Kailani.Hfs.V1.Actions.Services.SyncGroupProvider.InternalGet(String resourceId, String name, StorageSync[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "X-ServiceFabricRequestId": "9b1c672a-0428-4ae5-ad91-876640b33221"
      },
      "ResponseBody": {
        "properties": {
          "syncGroupStatus": "0",
          "uniqueId": "80d92c8c-6615-46cc-8a11-f8ed512b37c3"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8771/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6503/syncGroups/sg-cepcreate2604",
        "name": "sg-cepcreate2604",
        "type": "Microsoft.StorageSync/storageSyncServices/syncGroups",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2022-10-14T19:57:13.5569004Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-10-14T19:57:13.5569004Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjBiZmIwNGRlLWQ2YzAtNDFhNy05OTU1LTk5NTcwNTZkMWE1NiIsIndvcmtmbG93SWQiOiJlYjI4MmMxMi1lZTAwLTQzOWEtODliMy1kYjhiOWY0MDA1OGQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDhjOWMzMTYtM2JiNi00MmU3LTlhYWItY2ZmNzdkNDhhZDdmIn0=?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorizati[...]
[...]
