{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/dataConnections/shad-data?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "id": "shad-data",
        "name": "shad-data",
        "displayName": "shad-data",
        "kind": "azureDataExplorer",
        "content": "assets",
        "properties": {
          "clusterName": "testcluster",
          "region": "eastus",
          "databaseName": "testdb"
        },
        "createdDate": "2023-08-08T19:01:10\u002B0000",
        "frequency": "daily",
        "frequencyOffset": 0,
        "updatedDate": "2023-08-08T19:08:49\u002B0000",
        "userUpdatedAt": "2023-08-08T19:01:10\u002B0000",
        "active": false,
        "inactiveMessage": "Failed to connect to service. Ensure your connection parameters are valid and in the right format."
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT": "Sanitized",
    "RandomSeed": "1565058585",
    "RESOURCEGROUPNAME": "Sanitized",
    "SUBSCRIPTION_ID": "59af3bf1-d118-4916-808e-923509b34a94",
    "WORKSPACENAME": "Sanitized"
  }
}
