{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configYGaiVwzS",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "lowerBound": 10,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "city": "Delhi"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4
              }
            }
          },
          {
            "group": {
              "dimension": {
                "city": "Koltaka"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
              "shiftPoint": 12,
              "withinRange": false,
              "anomalyDetectorDirection": "Up",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/25b49fe6-44ec-4b20-be1e-1cc0d78e9b94"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/25b49fe6-44ec-4b20-be1e-1cc0d78e9b94",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "25b49fe6-44ec-4b20-be1e-1cc0d78e9b94",
        "name": "configYGaiVwzS",
        "description": "",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "lowerBound": 10.0,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "city": "Delhi"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4.0
              }
            }
          },
          {
            "group": {
              "dimension": {
                "city": "Koltaka"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40.0,
              "shiftPoint": 12,
              "anomalyDetectorDirection": "Up",
              "withinRange": false,
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6.0
              }
            }
          }
        ],
        "seriesOverrideConfigurations": []
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/25b49fe6-44ec-4b20-be1e-1cc0d78e9b94",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "401674915"
  }
}