{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeeddCb4so5C",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "DimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/97331ec8-c381-426c-91dd-4578f20c8038"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/97331ec8-c381-426c-91dd-4578f20c8038",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "97331ec8-c381-426c-91dd-4578f20c8038",
        "dataFeedName": "dataFeeddCb4so5C",
        "metrics": [
          {
            "metricId": "6d65f110-ac77-4bf6-8a5b-9135edb8bfa7",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "DimensionA",
            "dimensionDisplayName": "DimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-06-09T19:46:16Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configuumxr2vU",
        "description": "This configuration was created to test the .NET client.",
        "metricId": "6d65f110-ac77-4bf6-8a5b-9135edb8bfa7",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 10,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/0cef51fa-d1db-4266-86b4-25f0cffe7264"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/0cef51fa-d1db-4266-86b4-25f0cffe7264",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "0cef51fa-d1db-4266-86b4-25f0cffe7264",
        "name": "configuumxr2vU",
        "description": "This configuration was created to test the .NET client.",
        "metricId": "6d65f110-ac77-4bf6-8a5b-9135edb8bfa7",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "upperBound": 10.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/97331ec8-c381-426c-91dd-4578f20c8038",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2016156446"
  }
}