{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedqqScA538",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cb09d1a2-197a-4714-a03a-fd966969df32"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cb09d1a2-197a-4714-a03a-fd966969df32",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "cb09d1a2-197a-4714-a03a-fd966969df32",
        "dataFeedName": "dataFeedqqScA538",
        "metrics": [
          {
            "metricId": "6e5362a1-f8b4-4b51-8f98-ed779354f26b",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-06-17T21:32:32Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": "{\u0022name\u0022:\u0022configxIxABLlr\u0022,\u0022metricId\u0022:\u00226e5362a1-f8b4-4b51-8f98-ed779354f26b\u0022,\u0022wholeMetricConfig[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/da39460f-167b-4962-a11b-2816610c74cd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "da39460f-167b-4962-a11b-2816610c74cd",
        "name": "configxIxABLlr",
        "description": "",
        "metricId": "6e5362a1-f8b4-4b51-8f98-ed779354f26b",
        "wholeMetricConfiguration": {
          "hardThresholdCondition": {
            "lowerBound": 10.0,
            "upperBound": 20.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "dimensionA": "Delhi",
                "dimensionB": "Handmade"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30.0,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4.0
              }
            }
          },
          {
            "series": {
              "dimension": {
                "dimensionA": "Kolkata",
                "dimensionB": "Grocery \u0026 Gourmet Food"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40.0,
              "shiftPoint": 12,
              "anomalyDetectorDirection": "Up",
              "withinRange": false,
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6.0
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/cb09d1a2-197a-4714-a03a-fd966969df32",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "785880626"
  }
}