{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/enrichment/anomalyDetection/configurations?$maxpagesize=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyDetectionConfigurationId": "78f3a4e7-fe53-4a05-9f4d-d724ab6c23a7",
            "name": "sample-test-config",
            "description": "",
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "wholeMetricConfiguration": {
              "hardThresholdCondition": {
                "upperBound": 80000.0,
                "anomalyDetectorDirection": "Up",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          }
        ],
        "@nextLink": "https://ga-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/enrichment/anomalyDetection/configurations?$maxpagesize=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/enrichment/anomalyDetection/configurations?$maxpagesize=1\u0026$skip=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyDetectionConfigurationId": "b7b4ed44-1215-47c4-8dbf-0711e9bd1b52",
            "name": "Default",
            "description": "",
            "metricId": "b6c0649c-0c51-4aa6-82b6-3c3b0aa55066",
            "wholeMetricConfiguration": {
              "smartDetectionCondition": {
                "sensitivity": 79.0,
                "anomalyDetectorDirection": "Both",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          }
        ],
        "@nextLink": "https://ga-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/enrichment/anomalyDetection/configurations?$maxpagesize=1\u0026$skip=2"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/b6c0649c-0c51-4aa6-82b6-3c3b0aa55066/enrichment/anomalyDetection/configurations?$maxpagesize=1\u0026$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "477934132"
  }
}
