{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configt5YEufRG",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 50,
            "shiftPoint": 15,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 7,
              "minRatio": 8
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "city": "Koltaka"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
              "shiftPoint": 12,
              "withinRange": false,
              "anomalyDetectorDirection": "Up",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "city": "Delhi",
                "category": "Handmade"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5131153c-6fac-4200-a412-86615b9cefb5"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5131153c-6fac-4200-a412-86615b9cefb5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "5131153c-6fac-4200-a412-86615b9cefb5",
        "name": "configt5YEufRG",
        "description": "",
        "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10.0,
            "anomalyDetectorDirection": "Down",
  [...]
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5131153c-6fac-4200-a412-86615b9cefb5",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configt5YEufRG",
        "description": "This hook was created to test the .NET client.",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 75,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 15,
              "minRatio": 16
            }
          },
          "hardThresholdCondition": {
            "upperBound": 9,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 11,
              "minRatio": 12
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "city": "Koltaka"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
              "shiftPoint": 12,
              "withinRange": false,
              "anomalyDetectorDirection": "Up",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6
              }
            }
          },
          {
            "group": {
              "dimension": {
                "city": "Delhi"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 95,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 25,
                "minRatio": 26
              }
            }
          }
        ],
        "seriesOverrideConfigurations": []
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/5131153c-6fac-4200-a412-86615b9cefb5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "776386536"
  }
}