{
  "Entries": [
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeedALKnPAZB",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00.0000000Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/50a29005-0e4b-470c-8231-4bec3a3bce5d"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/50a29005-0e4b-470c-8231-4bec3a3bce5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "50a29005-0e4b-470c-8231-4bec3a3bce5d",
        "dataFeedName": "dataFeedALKnPAZB",
        "metrics": [
          {
            "metricId": "6558fa87-1fe5-4389-8a03-0a7f94c3d005",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2022-01-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2022-04-19T04:02:27Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configp6aHG5wc",
        "metricId": "6558fa87-1fe5-4389-8a03-0a7f94c3d005",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "dimensionA": "Kolkata"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
              "shiftPoint": 12,
              "withinRange": false,
              "anomalyDetectorDirection": "Up",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "dimensionA": "Delhi",
                "dimensionB": "Handmade"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2afc1737-29f9-4f27-930c-f0656e2baa4b"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2afc1737-29f9-4f27-930c-f0656e2baa4b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "2afc1737-29f9-4f27-930c-f0656e2baa4b",
        "name": "configp6aHG5wc",
        "description": "",
        "metricId": "6558fa87-1fe5-4389-8a03-0a7f94c3d005",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10.0,
            "anomalyDetectorDirection": "Down",
  [...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/2afc1737-29f9-4f27-930c-f0656e2baa4b",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configp6aHG5wc",
        "description": "",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 12,
            "upperBound": null,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          },
          "changeThresholdCondition": null
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "dimensionA": "Kolkata"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
      [...]
[...]
    {
      "RequestUri": "https://ga-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/50a29005-0e4b-470c-8231-4bec3a3bce5d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "ga-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "2118570776"
  }
}
