{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "query": "query"
        },
        "dataSourceType": "SqlServer",
        "dataFeedName": "dataFeed9OR03UcA",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "metric"
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/88e6e5ea-67d0-4824-bbee-20a5a469b5eb"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/88e6e5ea-67d0-4824-bbee-20a5a469b5eb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "dataFeedId": "88e6e5ea-67d0-4824-bbee-20a5a469b5eb",
        "dataFeedName": "dataFeed9OR03UcA",
        "metrics": [
          {
            "metricId": "e41bd543-96f7-4852-a5d5-0ce49383951a",
            "metricName": "metric",
            "metricDisplayName": "metric",
            "metricDescription": ""
          }
        ],
        "dimension": [
          {
            "dimensionName": "dimensionA",
            "dimensionDisplayName": "dimensionA"
          },
          {
            "dimensionName": "dimensionB",
            "dimensionDisplayName": "dimensionB"
          }
        ],
        "dataStartFrom": "2020-10-01T00:00:00Z",
        "dataSourceType": "SqlServer",
        "timestampColumn": "",
        "startOffsetInSeconds": 0,
        "maxQueryPerMinute": 30.0,
        "granularityName": "Daily",
        "needRollup": "NoRollup",
        "fillMissingPointType": "PreviousValue",
        "fillMissingPointValue": 0.0,
        "rollUpMethod": "None",
        "dataFeedDescription": "",
        "stopRetryAfterInSeconds": -1,
        "minRetryIntervalInSeconds": -1,
        "maxConcurrency": -1,
        "viewMode": "Private",
        "admins": [
          "foo@contoso.com"
        ],
        "viewers": [],
        "creator": "foo@contoso.com",
        "status": "Active",
        "createdTime": "2021-06-17T21:32:30Z",
        "isAdmin": true,
        "actionLinkTemplate": "",
        "dataSourceParameter": {
          "query": "query"
        },
        "authenticationType": "Basic"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "configEjjpJh0Q",
        "metricId": "e41bd543-96f7-4852-a5d5-0ce49383951a",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10,
            "anomalyDetectorDirection": "Down",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 2
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [
          {
            "group": {
              "dimension": {
                "dimensionA": "Kolkata"
              }
            },
            "changeThresholdCondition": {
              "changePercentage": 40,
              "shiftPoint": 12,
              "withinRange": false,
              "anomalyDetectorDirection": "Up",
              "suppressCondition": {
                "minNumber": 5,
                "minRatio": 6
              }
            }
          }
        ],
        "seriesOverrideConfigurations": [
          {
            "series": {
              "dimension": {
                "dimensionA": "Delhi",
                "dimensionB": "Handmade"
              }
            },
            "smartDetectionCondition": {
              "sensitivity": 30,
              "anomalyDetectorDirection": "Both",
              "suppressCondition": {
                "minNumber": 3,
                "minRatio": 4
              }
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/22805aa1-25fd-4f7d-9940-1960675cce5a"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/22805aa1-25fd-4f7d-9940-1960675cce5a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "22805aa1-25fd-4f7d-9940-1960675cce5a",
        "name": "configEjjpJh0Q",
        "description": "",
        "metricId": "e41bd543-96f7-4852-a5d5-0ce49383951a",
        "wholeMetricConfiguration": {
          "conditionOperator": "OR",
          "smartDetectionCondition": {
            "sensitivity": 60.0,
            "anomalyDetectorDirection": "Up",
            "suppressCondition": {
              "minNumber": 5,
              "minRatio": 6.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 10.0,
            "anomalyDetectorDirection": "Down",
  [...]
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/88e6e5ea-67d0-4824-bbee-20a5a469b5eb",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "634681064"
  }
}