{
  "Entries": [
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/synonymmaps?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "yjlkevvv",
        "format": "solr",
        "synonyms": "Afghanistan,AF,AFG\n\u00C5land Islands,AX,ALA\nAlbania,AL,ALB\nAlgeria,DZ,DZA\nAmerican Samoa,AS,ASM\nAndorra,AD,AND\nAngola,AO,AGO\nAnguilla,AI,AIA\nAntarctica,AQ,ATA\nAntigua and Barbuda,AG,ATG\nArgentina,AR,ARG\nArmenia,AM,ARM\nAruba,AW,ABW\nAustralia,AU,AUS\nAustria,AT,AUT\nAzerbaijan,AZ,AZE\nBahamas,BS,BHS\nBahrain,BH,BHR\nBangladesh,BD,BGD\nBarbados,BB,BRB\nBelarus,BY,BLR\nBelgium,BE,BEL\nBelize,BZ,BLZ\nBenin,BJ,BEN\nBermuda,BM,BMU\nBhutan,BT,BTN\nBolivia,Plurinational State of Bolivia,B[...]
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexes?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "fgsbkgip",
        "fields": [
          {
            "name": "hotelId",
            "type": "Edm.String",
            "key": true,
            "retrievable": true,
            "searchable": false,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "hotelName",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": true,
            "sortable": true,
            "facetable": false
          },
          {
            "name": "description",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "en.lucene"
          },
          {
            "name": "descriptionFr",
            "type": "Edm.String",
            "key": false,
            "retrievable": true,
            "searchable": true,
            "filterable": false,
            "sortable": false,
            "facetable": false,
            "analyzer": "fr.lucene"
          },
          {
            "name": "tags",
            "type": "Collection(Edm.String)",
            "key": false,
            "retrievable": true,
          [...]
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/datasources?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "ofgjbglc",
        "type": "azureblob",
        "credentials": {
          "connectionString": "DefaultEndpointsProtocol=https;AccountName=pakrymsearch2stg;AccountKey=Sanitized;EndpointSuffix=core.windows.net"
        },
        "container": {
          "name": "dvgwuelk"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "42",
        "ETag": "W/\u00220x8D82A9AD96C06BF\u0022",
        "Location": "https://azs-net-pakrymsearch2.search.windows.net/datasources(\u0027ofgjbglc\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-pakrymsearch2.search.windows.net/$metadata#datasources/$entity",
        "@odata.etag": "\u00220x8D82A9AD96C06BF\u0022",
        "name": "ofgjbglc",
        "description": null,
        "type": "azureblob",
        "subtype": null,
        "credentials": {
          "connectionString": null
        },
        "container": {
          "name": "dvgwuelk",
          "query": null
        },
        "dataChangeDetectionPolicy": null,
        "dataDeletionDetectionPolicy": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/skillsets?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "tpmehipv",
        "skills": [
          {
            "defaultToLanguageCode": "fr",
            "defaultFromLanguageCode": "en",
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "context": "/document",
            "inputs": [
              {
                "name": "text",
                "source": "/document/description"
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "context": "/document",
            "inputs": [
              {
                "name": "condition",
                "source": "= $(/document/descriptionFr) == null"
              },
              {
                "name": "whenTrue",
                "source": "/document/descriptionFrTranslated"
              },
              {
                "name": "whenFalse",
                "source": "/document/descriptionFr"
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "descriptionFrFinal"
              }
            ]
          }
        ],
        "cognitiveServices": {
          "key": "Sanitized",
          "@odata.type": "#Microsoft.Azure.Search.CognitiveServicesByKey"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "108",
        "ETag": "W/\u00220x8D82A9AD9800790\u0022",
        "Location": "https://azs-net-pakrymsearch2.search.windows.net/skillsets(\u0027tpmehipv\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-pakrymsearch2.search.windows.net/$metadata#skillsets/$entity",
        "@odata.etag": "\u00220x8D82A9AD9800790\u0022",
        "name": "tpmehipv",
        "description": null,
        "skills": [
          {
            "@odata.type": "#Microsoft.Skills.Text.TranslationSkill",
            "name": "descriptionFrTranslation",
            "description": null,
            "context": "/document",
            "defaultFromLanguageCode": "en",
            "defaultToLanguageCode": "fr",
            "suggestedFrom": null,
            "inputs": [
              {
                "name": "text",
                "source": "/document/description",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "translatedText",
                "targetName": "descriptionFrTranslated"
              }
            ]
          },
          {
            "@odata.type": "#Microsoft.Skills.Util.ConditionalSkill",
            "name": "descriptionFrConditional",
            "description": null,
            "context": "/document",
            "inputs": [
              {
                "name": "condition",
                "source": "= $(/document/descriptionFr) == null",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "whenTrue",
                "source": "/document/descriptionFrTranslated",
                "sourceContext": null,
                "inputs": []
              },
              {
                "name": "whenFalse",
                "source": "/document/descriptionFr",
                "sourceContext": null,
                "inputs": []
              }
            ],
            "outputs": [
              {
                "name": "output",
                "targetName": "descriptionFrFinal"
              }
            ]
          }
        ],
        "cognitiveServices": {
          "@odata.type": "#Microsoft.Azure.Search.CognitiveServicesByKey",
          "description": null,
          "key": "Sanitized"
        },
        "knowledgeStore": null,
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexers?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "caupyhfn",
        "dataSourceName": "ofgjbglc",
        "skillsetName": "tpmehipv",
        "targetIndexName": "fgsbkgip",
        "parameters": {
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "hotelId"
          },
          {
            "sourceFieldName": "hotelName"
          },
          {
            "sourceFieldName": "description"
          },
          {
            "sourceFieldName": "tags"
          },
          {
            "sourceFieldName": "address"
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "descriptionFr"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "367",
        "ETag": "W/\u00220x8D82A9AD9AE72EE\u0022",
        "Location": "https://azs-net-pakrymsearch2.search.windows.net/indexers(\u0027caupyhfn\u0027)?api-version=2020-06-30",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-pakrymsearch2.search.windows.net/$metadata#indexers/$entity",
        "@odata.etag": "\u00220x8D82A9AD9AE72EE\u0022",
        "name": "caupyhfn",
        "description": null,
        "dataSourceName": "ofgjbglc",
        "skillsetName": "tpmehipv",
        "targetIndexName": "fgsbkgip",
        "disabled": null,
        "schedule": null,
        "parameters": {
          "batchSize": null,
          "maxFailedItems": null,
          "maxFailedItemsPerBatch": null,
          "base64EncodeKeys": null,
          "configuration": {
            "parsingMode": "json"
          }
        },
        "fieldMappings": [
          {
            "sourceFieldName": "hotelId",
            "targetFieldName": "hotelId",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "hotelName",
            "targetFieldName": "hotelName",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "description",
            "targetFieldName": "description",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "tags",
            "targetFieldName": "tags",
            "mappingFunction": null
          },
          {
            "sourceFieldName": "address",
            "targetFieldName": "address",
            "mappingFunction": null
          }
        ],
        "outputFieldMappings": [
          {
            "sourceFieldName": "/document/descriptionFrFinal",
            "targetFieldName": "descriptionFr",
            "mappingFunction": null
          }
        ],
        "encryptionKey": null
      }
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexers(\u0027caupyhfn\u0027)/search.status?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "14",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-pakrymsearch2.search.windows.net/$metadata#Microsoft.Azure.Search.V2020_06_30.IndexerExecutionInfo",
        "name": "caupyhfn",
        "status": "running",
        "lastResult": {
          "status": "success",
          "errorMessage": null,
          "startTime": "2020-07-17T21:46:24.275Z",
          "endTime": "2020-07-17T21:46:25.509Z",
          "itemsProcessed": 10,
          "itemsFailed": 0,
          "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-07-17T21:46:24.29Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
          "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-07-17T21:45:54.2908111\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-07-17T21:45:54.2908111\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
          "errors": [],
          "warnings": [
            {
              "key": "localId=6\u0026documentKey=6",
              "name": "Enrichment.ConditionalSkill.descriptionFrConditional",
              "message": "Skill executed but may have unexpected results because one or more skill input was invalid.",
              "details": "Optional skill input is missing. Name: \u0027whenFalse\u0027, Source: \u0027/document/descriptionFr\u0027.\r\nExpression language parsing issues:\nMissing value \u0027/document/descriptionFr\u0027.",
              "documentationLink": "https://go.microsoft.com/fwlink/?linkid=2106385"
            }
          ],
          "metrics": null
        },
        "executionHistory": [
          {
            "status": "success",
            "errorMessage": null,
            "startTime": "2020-07-17T21:46:24.275Z",
            "endTime": "2020-07-17T21:46:25.509Z",
            "itemsProcessed": 10,
            "itemsFailed": 0,
            "initialTrackingState": "{\r\n  \u0022lastFullEnumerationStartTime\u0022: \u00220001-01-01T00:00:00Z\u0022,\r\n  \u0022lastAttemptedEnumerationStartTime\u0022: \u00222020-07-17T21:46:24.29Z\u0022,\r\n  \u0022nameHighWaterMark\u0022: null\r\n}",
            "finalTrackingState": "{\u0022LastFullEnumerationStartTime\u0022:\u00222020-07-17T21:45:54.2908111\u002B00:00\u0022,\u0022LastAttemptedEnumerationStartTime\u0022:\u00222020-07-17T21:45:54.2908111\u002B00:00\u0022,\u0022NameHighWaterMark\u0022:null}",
            "errors": [],
            "warnings": [
              {
                "key": "localId=6\u0026documentKey=6",
                "name": "Enrichment.ConditionalSkill.descriptionFrConditional",
                "message": "Skill executed but may have unexpected results because one or more skill input was invalid.",
                "details": "Optional skill input is missing. Name: \u0027whenFalse\u0027, Source: \u0027/document/descriptionFr\u0027.\r\nExpression language parsing issues:\nMissing value \u0027/document/descriptionFr\u0027.",
                "documentationLink": "https://go.microsoft.com/fwlink/?linkid=2106385"
              }
            ],
            "metrics": null
          }
        ],
        "limits": {
          "maxRunTime": "PT1H",
          "maxDocumentExtractionSize": 16777216,
          "maxDocumentContentCharactersToExtract": 32768
        }
      }
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexes(\u0027fgsbkgip\u0027)/docs/search.post.search?api-version=2020-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "search": "ocean view"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none",
        "elapsed-time": "93",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": "{\u0022value\u0022:[{\u0022@search.score\u0022:7.2570066,\u0022hotelId\u0022:\u00226\u0022,\u0022hotelName\u0022:null,\u0022description\u0022:\u0022Surprisingly expensive. Model suites have an o[...]
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexers(\u0027caupyhfn\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "117"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/skillsets(\u0027tpmehipv\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "37"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/datasources(\u0027ofgjbglc\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "24"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/indexes(\u0027fgsbkgip\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "384"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://azs-net-pakrymsearch2.search.windows.net/synonymmaps(\u0027yjlkevvv\u0027)?api-version=2020-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "13"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "BlobContainerName": "dvgwuelk",
    "RandomSeed": "1271390025",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_COGNITIVE_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-pakrymsearch2",
    "SEARCH_STORAGE_KEY": "Sanitized",
    "SEARCH_STORAGE_NAME": "pakrymsearch2stg"
  }
}