{
  "Entries": [
    {
      "RequestUri": "https://azs-net-oyoarufh.search.windows.net/servicestats?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "58",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-oyoarufh.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 0,
            "quota": null
          },
          "indexesCount": {
            "usage": 1,
            "quota": 3
          },
          "indexersCount": {
            "usage": 0,
            "quota": 3
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 3
          },
          "storageSize": {
            "usage": 0,
            "quota": 52428800
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 3
          }
        },
        "limits": {
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "f9ab11db-b032-44b3-af0a-44713541cc40",
    "LOCATION": "westus2",
    "RandomSeed": "2134332413",
    "RESOURCE_GROUP": "heaths-search",
    "SearchIndexName": "braqxhgp",
    "SearchServiceName": "azs-net-oyoarufh",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}