{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsearch2.search.windows.net/servicestats?api-version=2019-05-06-Preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "34",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsearch2.search.windows.net/$metadata#Microsoft.Azure.Search.V2019_05_06_Preview.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 10,
            "quota": null
          },
          "indexesCount": {
            "usage": 1,
            "quota": 3
          },
          "indexersCount": {
            "usage": 0,
            "quota": 3
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 3
          },
          "storageSize": {
            "usage": 35876,
            "quota": 52428800
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          },
          "skillsetCount": {
            "usage": 0,
            "quota": 3
          }
        },
        "limits": {
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1977008283",
    "SearchIndexName": "yrehvsfy",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsearch2"
  }
}