{
  "Entries": [
    {
      "RequestUri": "https://azs-net-heathsrchtst.search.windows.net/servicestats?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "elapsed-time": "162",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@odata.context": "https://azs-net-heathsrchtst.search.windows.net/$metadata#Microsoft.Azure.Search.V2020_06_30.ServiceStatistics",
        "counters": {
          "documentCount": {
            "usage": 10,
            "quota": null
          },
          "indexesCount": {
            "usage": 1,
            "quota": 3
          },
          "indexersCount": {
            "usage": 0,
            "quota": 3
          },
          "dataSourcesCount": {
            "usage": 0,
            "quota": 3
          },
          "storageSize": {
            "usage": 37093,
            "quota": 52428800
          },
          "synonymMaps": {
            "usage": 0,
            "quota": 3
          }
        },
        "limits": {
          "maxFieldsPerIndex": 1000,
          "maxFieldNestingDepthPerIndex": 10,
          "maxComplexCollectionFieldsPerIndex": 40,
          "maxComplexObjectsInCollectionsPerDocument": 3000
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "180277775",
    "SearchIndexName": "josgoidr",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-heathsrchtst"
  }
}