{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejaazsearch.search.windows.net/indexes(\u0027doesnotexist\u0027)/docs/$count?api-version=2020-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "7",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "",
          "message": "The index \u0027doesnotexist\u0027 for service \u0027azs-net-shrejaazsearch\u0027 was not found."
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "50600248",
    "SearchIndexName": "dlnpqugf",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejaazsearch"
  }
}
