{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/domains?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#domains\",\r\n  \"value\": [\r\n    {\r\n      \"authenticationType\": \"Federated\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": false,\r\n      \"isVerified\": false,\r\n      \"name\": \"BFDevOpsNonRestricted.onmicrosoft.de\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": false,\r\n      \"isInitial\": false,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"azdevextest.com\",\r\n      \"supportedServices\": [],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    },\r\n    {\r\n      \"authenticationType\": \"Managed\",\r\n      \"availabilityStatus\": null,\r\n      \"isAdminManaged\": true,\r\n      \"isDefault\": true,\r\n      \"isInitial\": true,\r\n      \"isRoot\": true,\r\n      \"isVerified\": true,\r\n      \"name\": \"AzureSDKTeam.onmicrosoft.com\",\r\n      \"supportedServices\": [\r\n        \"Email\",\r\n        \"OfficeCommunicationsOnline\"\r\n      ],\r\n      \"forceDeleteState\": null,\r\n      \"state\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "UUsoRVZx52dAfTb5wv/hhWzDqbmsJKcNRViHoL4/1IY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "X33AypnNGhwbfaz4alsOBiiqbZcNyqyIxcOyAsxvFk1OeJdtyaYYhk6qPTmDSYmoA81S6sEsh-vXC8iGjijoiiUkFpWbNvmMlK1kypLB8fUCSwvjbgDbtZ1tUEuLkVb3sX1_IWYFxm0d0q2Yf17YdXEKyYrW_k37crCoXCzomyYG-gmPcOQKDOyBFycQlD-UkACvayai9W1Mih6GueyEZg.gtLJ7bgrmLTyUGtqB6oBs53WvIbhC3DQbsQAzTFf6ds"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "739805"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"userf94628237f\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"StrongPass!123\"\r\n  },\r\n  \"userPrincipalName\": \"userf94628237f@AzureSDKTeam.onmicrosoft.com\",\r\n  \"mailNickname\": \"userf94628237f\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"62802ba0-0a86-49d4-bca8-11a4e04f1cef\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"userf94628237f\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"userf94628237f\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": {\r\n    \"password\": null,\r\n    \"forceChangePasswordNextLogin\": true,\r\n    \"enforceChangePasswordPolicy\": false\r\n  },\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-07-31T22:25:34.7187909Z\",\r\n  \"showInAddressList\": null,\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"userf94628237f@AzureSDKTeam.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/62802ba0-0a86-49d4-bca8-11a4e04f1cef/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "ErkDJKlVQsY3enwAIcldlnUKAhrncYrX6ndjfYa0CVQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "iEV8Z0h32Fq2BWZd2T72Fpe79haXXITufOV5CFQndGb__EA7qWTMRnsiREbD6ePJHg39jUmbfQH3pcEYOlnIoUujziKApMRA5_bJTnTTtgQ6CJQaf4r4mXBXj751ckmVVMhLglsovXQ_5g51MM5ZItAoJMRdOYh4SsfXqomGY--wdp8Gbk6U7Uy1F89vGWPlGUgrNVVBq69W2IAlEAxx5g.Sa4Tm7E0XSiQRIbYQg5-iQkroKPGJR0KxolbrmlUOMw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "15241372"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"https://spee3205250e2\",\r\n  \"homepage\": \"https://spee3205250e2\",\r\n  \"identifierUris\": [\r\n    \"https://spee3205250e2\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"https://spee3205250e2\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"0c5e9a0a-a039-4abf-a165-b92a21436959\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"4de8205e-d9b4-451c-8de8-e99a5299e6e9\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"https://spee3205250e2\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"https://spee3205250e2\",\r\n  \"identifierUris\": [\r\n    \"https://spee3205250e2\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access https://spee3205250e2 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access https://spee3205250e2\",\r\n      \"id\": \"07ce3f00-5558-4f72-97c0-3caf41181c9a\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access https://spee3205250e2 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access https://spee3205250e2\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"https://spee3205250e2\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/0c5e9a0a-a039-4abf-a165-b92a21436959/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "3/hPBrNk3bWDiI3Le668U3KnfkdAVCOsHPHBA7wvvMs="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "CoECKymlf4K5-Z1_GTYLSda_cLf7sSLZmG4dHo7AzqqicF78Yzbf8vKHb5Q0OZ7XgKh2xC3tOKtWXZVwGj20nVCapO-mZpjdySk7ow9Cd8p3cVIidRK2CtdFIZHqc4nWFg1c66lYGEWvbOxi5kbEKglfo0G_gza3z6RgKbdavGYBHIrnqR5xDLW4NwhzH4FuACkagButSWuWSOiXclRMgw.8jF4XFyv8xFH4JRQi6Kuch48k_cMzaKcDpSkSU_S5n8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "10193517"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/0c5e9a0a-a039-4abf-a165-b92a21436959/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "/QkbbxZfyhW9slqPlub3XcBNO9jE7EivLDzFDO23uzo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "tKBIU0Vn8HXjutkvl_Qlvbt5gyqzzm8W5J2UHs9L6mEAkVi0soqE2y8EInYWNSQmeSLhNwuckF_ogB88h2vbIvxmzvfE-PgnBV4DTb-IPDqwyLRXUPK-TnTINbjVPUHyS1-0upVh3_AC8oq7IgySUtje2Pr-S_iSp6gRMHOf9EJ_TY1XlpVx2WfLt1ALED27xQYQqz90HP076kggdtAxXw.FpclydIToHjqD1J8W4blDmnLvmVjSmUaqukS6xwTjDM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1175151"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/0c5e9a0a-a039-4abf-a165-b92a21436959/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "ErkDJKlVQsY3enwAIcldlnUKAhrncYrX6ndjfYa0CVQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Z1zs1jMidOjRF--361hZkiEHgnxq1dnNuhg7yI9_1KzNTW_hieG8fV0f2MaZFKPKTfkvthlBxyU11rU5cF1NEYfF2-9Fpk-CJLfbLGLswu5q1ZvXxIhhPzFFSqWjWjVPSWKevGgU6eUn503nM8vKIAMbfoic3VrZWU7TRxzsKEnn1NyeB5xD1PFp4Vqw6h0_IZqcwztGzZFxVjWKAgtcwA.PsOGZXvJYdCGyWkFXWBKE71Ri0tx4CLq4Pa62jbP9zk"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "717662"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"4de8205e-d9b4-451c-8de8-e99a5299e6e9\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"7dc9a16b-dbc6-48cb-a975-67caa5e5797a\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"https://spee3205250e2\",\r\n  \"appId\": \"4de8205e-d9b4-451c-8de8-e99a5299e6e9\",\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"https://spee3205250e2\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"https://spee3205250e2\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access https://spee3205250e2 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access https://spee3205250e2\",\r\n      \"id\": \"07ce3f00-5558-4f72-97c0-3caf41181c9a\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access https://spee3205250e2 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access https://spee3205250e2\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [\r\n    \"https://spee3205250e2\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"4de8205e-d9b4-451c-8de8-e99a5299e6e9\",\r\n    \"https://spee3205250e2\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/7dc9a16b-dbc6-48cb-a975-67caa5e5797a/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "6jK4XfmKxcTjGA4F0kismAWyAzj8N/JPhQDwsSuw5/U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8893a4kvnDNWe00z0PjVrWkI7RO0BOLkltu0zELT-qJOcXlHQGjfEbVPFTrErr_SYeWfprtl4Hg1LOYqyQqlfsBVe5Zo3qQ3T3Y0BPwZsxzd1SbYTFs5cS6KHjGJhGNxDBtzL-4Xay3sySGAAyMv8QfRkQmxFWD-XDfiEK0amj-xd3oO9-7V96DqorBehK1l6K7J6_OJzn_bv4c3cVCCZQ.P09FFSBcnUIOD0RJBz0BtPM0sxlFaWFWTTkArW3cyc8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5912383"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7dc9a16b-dbc6-48cb-a975-67caa5e5797a/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "2DD9Uu67ybR8Pd6jBxWLoYGX++26Si/Rh4KiODEAByo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "c5YDGgOW0FSUeI0mUNxi4WRnjgmfbd4h8nrnnAH6WnuB694dNOgOzSneYePJWC8IE5S91Jv2APQwzTRLuUpA6ubJGVfeWcBmAoB_YALSVXu2xVEfMLLT3yyuG9x3JyuaPKhi-4lZE5hY17wmTefCHEeN2dOx6M2SAjq8PUpVLeyQbBEVTKLoilaheCS3_hVyWqyM3MZ_dexHTk_ZOe9aLg.mdORE1z2JOGVM6iApiaAzVeYM6nITXEPeloWCOW39Kw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "536893"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7dc9a16b-dbc6-48cb-a975-67caa5e5797a/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#Collection(Microsoft.DirectoryServices.PasswordCredential)\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "DRh1E8KpzyDQ2JIEbQFJYUEDvVJ2kaqlg9shn22LEv0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "1DM6xwGAPQtJtjUs3bMhGcD42A7laXpyw2pEQ_WanPgiO_DEztmdzXvwfxjBbOGI-wDkpgWrPEwPbHqV1m9i44i-P-VEaWHr62JVwxpL3SgNoZz51prE5SCULJmWlpMkCB91p401MA_iwku9SSSrjWzVsvkjKEEMx_87F18bKpb6AULxHqSHsOV1UJQJPrDytZsFMuyRPMfYKL9Cb6RnoQ.M7RSREuI1a5tP1jcWwONaoFRVcFu-OcbCsNaclC6vn0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "803716"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"groupb0561195e\",\r\n  \"mailNickname\": \"groupb0561195e\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"03c94a32-fe6e-4391-875d-4cc8fe283484\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"groupb0561195e\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"groupb0561195e\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/03c94a32-fe6e-4391-875d-4cc8fe283484/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "MCIqkXh8dsIa04Dr+EtELDu26kRqrT5smoGvnFozY3U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "fT27iYaiGiA3xyIGGdNefCrGV7dcUOLff7xSvUV4XrEgkVx1qTkTSkAAMd7CPMg08uyhdWfkUTPwrfN90psrXuru0U9X5qr21fDHVTJEve5_URTNjmuWIKKkbL-6KcPwcGYFG3JTWiE9pKCoJKxw6NqFrCDXp6OmxAGtJqECbQ0JcOV14-rkY3N1_fiWIB7I1Ga7U2-r0evU39vx1pPQjQ.dgzTp4OiQYwHRbdTwsYKDJkcnwZsPYrY2KkdHEGAyvg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4411464"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/80423274-29a1-4b7d-b47f-3e8e12af929e/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/62802ba0-0a86-49d4-bca8-11a4e04f1cef\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "DRh1E8KpzyDQ2JIEbQFJYUEDvVJ2kaqlg9shn22LEv0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "cL6cABJX88t-Q6UQlJGPVCOwTp7E39X8sSKis1m7H9dfqNLcDokyBkIzUNG5GpiuxDGKrezJJmNbKGbioftJbKtvEKQdv7tGxsppGcVdo1qVpZO14LZemkGj1n6_F6oxQ3UnhZHm4jE2Nu7kq5R5OCTV6_TD3efYRWn8q5zWKu3Q1bPaeYuaUf2v75QNVI1l64V0njQJAdqzVRT5uw9BPA.2mxauUkTJ3hEQjsM8aZMfsi66yBmtdDUpojzubnp5Es"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3689092"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/groups/80423274-29a1-4b7d-b47f-3e8e12af929e/members?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n      \"objectType\": \"User\",\r\n  [...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/7dc9a16b-dbc6-48cb-a975-67caa5e5797a?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "ZvKWcqoSx4tK8aDiFI7C5E7IjSS35e7InPgjy4hCD48="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "n0tk5IBhkX7pdtsMc2Gp4SWqPzgaIh2U1Tndq5jJmnUJe0ZBQWiheYTCvfs9pMfBAS2UHvPtdo9DuqLttA6kGDtMKYx2qZhpsyX-t7ChmCi9T7Fdb284gxZolwN2UH4NRNzFO1_PwzOpysoMxWd71snxHaL4RaKQoD5kaxiQPSwFFnhypV4iPWVUFbnEQRwjuUzYVdHJ-BxI7RmCYMI2mw.Hp50a2SKw3COr8iKBHxhF-P7OS_Gkg41SlmWV27Dsw0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2850097"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CanCRUDGroup": [
      "userf94628237f",
      "spee3205250e2",
      "groupb0561195e",
      "groupc6d324228"
    ]
  },
  "Variables": {
    "ServicePrincipal": "a971e5df-eeb7-4481-9bf7-e72e66a2ba12",
    "AADTenant": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590"
  }
}