{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-7742?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742",
        "name": "testRG-7742",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "sku": {
            "name": "Basic"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118?api-version=2021-06-22",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "account3118",
        "systemData": {
          "createdAt": "2023-04-13T08:24:57.81\u002B00:00",
          "lastModifiedAt": "2023-04-13T08:24:57.81\u002B00:00"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118",
        "type": "Microsoft.Automation/AutomationAccounts",
        "location": "eastus",
        "tags": {},
        "etag": null,
        "properties": {
          "disableLocalAuth": false,
          "sku": {
            "name": "Basic",
            "family": null,
            "capacity": null
          },
          "state": "Ok",
          "RegistrationUrl": "https://bded9b56-150b-420f-9a58-16893dcf1109.agentsvc.eus.azure-automation.net/accounts/bded9b56-150b-420f-9a58-16893dcf1109",
          "encryption": {
            "keySource": "Microsoft.Automation",
            "identity": {
              "userAssignedIdentity": null
            }
          },
          "automationHybridServiceUrl": "https://bded9b56-150b-420f-9a58-16893dcf1109.jrds.eus.azure-automation.net/automationAccounts/bded9b56-150b-420f-9a58-16893dcf1109",
          "RuntimeConfiguration": {
            "powershell": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            },
            "powershell7": {
              "builtinModules": {
                "Az": "8.0.0"
              }
            }
          },
          "creationTime": "2023-04-13T08:24:57.81\u002B00:00",
          "lastModifiedBy": null,
          "lastModifiedTime": "2023-04-13T08:24:57.81\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule7274?api-version=2020-01-13-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "schedule7274",
        "properties": {
          "startTime": "2023-04-13T08:35:01.1771043Z",
          "interval": 1,
          "frequency": "Hour"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule7274?api-version=2020-01-13-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule7274",
        "name": "schedule7274",
        "type": "Microsoft.Automation/AutomationAccounts/Schedules",
        "properties": {
          "description": null,
          "startTime": "2023-04-13T08:35:00\u002B00:00",
          "startTimeOffsetMinutes": 0.0,
          "expiryTime": "9999-12-31T23:59:00\u002B00:00",
          "expiryTimeOffsetMinutes": 0.0,
          "isEnabled": true,
          "nextRun": "2023-04-13T08:35:00\u002B00:00",
          "nextRunOffsetMinutes": 0.0,
          "interval": 1,
          "frequency": "Hour",
          "creationTime": "2023-04-13T08:25:01.0266667\u002B00:00",
          "lastModifiedTime": "2023-04-13T08:25:01.0266667\u002B00:00",
          "timeZone": "Etc/UTC",
          "advancedSchedule": null
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule6416",
            "name": "schedule6416",
            "type": "Microsoft.Automation/AutomationAccounts/Schedules",
            "properties": {
              "description": null,
              "startTime": "2023-04-13T08:35:00\u002B00:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryT[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule72741?api-version=2020-01-13-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "code": "NotFound",
        "message": ""
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-7742/providers/Microsoft.Automation/automationAccounts/account3118/schedules/schedule7274?api-version=2020-01-13-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1476395803",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
