{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "5a57980f-c6bb-4cd7-8b26-6d258bae1d71",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "FRS.DEV",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourcegroups/lin-demo?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourceGroups/lin-demo",
        "name": "lin-demo",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Env": "NonProd",
          "ringValue": "r51"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourceGroups/lin-demo/providers/Microsoft.FluidRelay/fluidRelayServers/dotNetSDKTest?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228c0156fe-0000-0500-0000-62d8f8490000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourceGroups/lin-demo/providers/Microsoft.FluidRelay/fluidRelayServers/dotNetSDKTest",
        "name": "dotNetSDKTest",
        "type": "microsoft.fluidrelay/fluidrelayservers",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "linlin1@microsoft.com",
          "createdByType": "User",
          "createdAt": "2022-07-21T06:55:03.5778616Z",
          "lastModifiedBy": "linlin1@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2022-07-21T06:55:03.5778616Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "frsTenantId": "8b399496-4538-4dc9-b7b8-b9bbcef185b9",
          "fluidRelayEndpoints": {
            "ordererEndpoints": [
              "https://alfred.westus2.fluidrelay.azure.com"
            ],
            "storageEndpoints": [
              "https://historian.westus2.fluidrelay.azure.com"
            ],
            "serviceEndpoints": [
              "https://us.fluidrelay.azure.com"
            ]
          },
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourceGroups/lin-demo/providers/Microsoft.FluidRelay/fluidRelayServers/dotNetSDKTest/fluidRelayContainers/19b201e5-a5f6-4f90-b3c0-bc36b650e64e?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00221e6-2pAWNttTgUhSSNnJNArd\u002BtVV3Vk\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/5a57980f-c6bb-4cd7-8b26-6d258bae1d71/resourceGroups/lin-demo/providers/Microsoft.FluidRelay/fluidRelayServers/dotnetsdktest/fluidRelayContainers/19b201e5-a5f6-4f90-b3c0-bc36b650e64e",
        "name": "19b201e5-a5f6-4f90-b3c0-bc36b650e64e",
        "type": "Microsoft.FluidRelay/fluidRelayServers/fluidRelayContainers",
        "properties": {
          "frsContainerId": "19b201e5-a5f6-4f90-b3c0-bc36b650e64e",
          "frsTenantId": "8b399496-4538-4dc9-b7b8-b9bbcef185b9",
          "creationTime": "2022-07-21T07:33:57.310Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1024826546",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "5a57980f-c6bb-4cd7-8b26-6d258bae1d71"
  }
}
