{
  "Entries": [
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.ContainerRegistry?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.ContainerRegistry\",\r\n  \"namespace\": \"Microsoft.ContainerRegistry\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"6a0ec4d3-30cb-4a83-91c0-ae56bc0e3d26\",\r\n      \"roleDefinitionId\": \"78e18383-93eb-418a-9887-bc9271046576\"\r\n    },\r\n    {\r\n      \"applicationId\": \"737d58c1-397a-46e7-9d12-7d8c830883c2\",\r\n      \"roleDefinitionId\": \"716bb53a-0390-4428-bf41-b1bedde7d751\"\r\n    },\r\n    {\r\n      \"applicationId\": \"918d0db8-4a38-4938-93c1-9313bdfe0272\",\r\n      \"roleDefinitionId\": \"dcd2d2c9-3f80-4d72-95a8-2593111b4b12\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d2fa1650-4805-4a83-bcb9-cf41fe63539c\",\r\n      \"roleDefinitionId\": \"c15f8dab-b103-4f8d-9afb-fbe4b8e98de2\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a4c95b9e-3994-40cc-8953-5dc66d48348d\",\r\n      \"roleDefinitionId\": \"dc88c655-90fa-48d9-8d51-003cc8738508\"\r\n    },\r\n    {\r\n      \"applicationId\": \"62c559cd-db0c-4da0-bab2-972528c65d42\",\r\n      \"roleDefinitionId\": \"437b639a-6d74-491d-959f-d172e8c5c1fc\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"registries\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"Korea Central\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"East Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Southeast Asia\",\r\n        \"South India\",\r\n        \"Brazil South\",\r\n        \"Canada East\",\r\n        \"Canada Central\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"Switzerland North\",\r\n        \"East US 2 EUAP\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-12-01-preview\",\r\n        \"2019-05-01\",\r\n        \"2017-10-01\",\r\n        \"2017-03-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"registries/scopeMaps\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"East A[...]
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/acr_rg2479?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479\",\r\n  \"name\": \"acr_rg2479\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699?api-version=2019-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699\",\r\n  \"name\": \"acrregistry7699\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"properties\": {\r\n    \"loginServer\": \"acrregistry7699.azurecr.io\",\r\n    \"creationDate\": \"2020-04-05T19:37:33.987487Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": false,\r\n    \"networkRuleSet\": {\r\n      \"defaultAction\": \"Allow\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": []\r\n    },\r\n    \"policies\": {\r\n      \"quarantinePolicy\": {\r\n        \"status\": \"disabled\"\r\n      },\r\n      \"trustPolicy\": {\r\n        \"type\": \"Notary\",\r\n        \"status\": \"disabled\"\r\n      },\r\n      \"retentionPolicy\": {\r\n        \"days\": 7,\r\n        \"lastUpdatedTime\": \"2020-04-05T12:37:34.7807997-07:00\",\r\n        \"status\": \"disabled\"\r\n      }\r\n    },\r\n    \"encryption\": {\r\n      \"status\": \"disabled\"\r\n    },\r\n    \"dataEndpointEnabled\": false,\r\n    \"dataEndpointHostNames\": [],\r\n    \"privateEndpointConnections\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/acrsdktestidentity\": {}\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"runRequest\": {\r\n      \"type\": \"EncodedTaskRunRequest\",\r\n      \"encodedTaskContent\": \"DQp2ZXJzaW9uOiB2MS4xLjANCnN0ZXBzOg0KICAtIGNtZDogZG9ja2VyIGltYWdlcw==\",\r\n      \"timeout\": 600,\r\n      \"platform\": {\r\n        \"os\": \"Linux\",\r\n        \"architecture\": \"amd64\"\r\n      },\r\n      \"credentials\": {\r\n        \"sourceRegistry\": {\r\n          \"loginMode\": \"Default\"\r\n        },\r\n        \"customRegistries\": {\r\n          \"acrsdktestregistry.azurecr.io\": {\r\n            \"identity\": \"84962bda-7c5e-403e-8515-5100e4ede735\"\r\n          }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629/operationStatuses/ca1?api-version=2019-06-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"runRequest\": {\r\n      \"type\": \"EncodedTaskRunRequest\",\r\n      \"encodedTaskContent\": \"DQp2ZXJzaW9uOiB2MS4xLjANCnN0ZXBzOg0KICAtIGNtZDogZG9ja2VyIGltYWdlcw==\",\r\n      \"timeout\": 600,\r\n      \"platform\": {\r\n        \"os\": \"Linux\",\r\n        \"architecture\": \"amd64\"\r\n      },\r\n      \"credentials\": {\r\n        \"sourceRegistry\": {\r\n          \"loginMode\": \"Default\"\r\n        },\r\n        \"customRegistries\": {\r\n          \"acrsdktestregistry.azurecr.io\": null\r\n        }\r\n      },\r\n      \"isArchiveEnabled\": true\r\n    },\r\n    \"runResult\": {\r\n      \"type\": \"Microsoft.ContainerRegistry/registries/runs\",\r\n      \"properties\": {\r\n        \"runId\": \"ca1\",\r\n        \"status\": \"Queued\",\r\n        \"lastUpdatedTime\": \"2020-04-05T12:37:37-07:00\",\r\n        \"runType\": \"QuickRun\",\r\n        \"createTime\": \"2020-04-05T12:37:37.2396486-07:00\",\r\n        \"platform\": {\r\n          \"os\": \"Linux\",\r\n          \"architecture\": \"amd64\"\r\n        },\r\n        \"agentConfiguration\": {\r\n          \"cpu\": 2\r\n        },\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"isArchiveEnabled\": true\r\n      },\r\n      \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/runs/ca1\",\r\n      \"name\": \"ca1\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629\",\r\n  \"name\": \"acrtaskrun9629\",\r\n  \"location\": \"EASTUS\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629/operationStatuses/ca1?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629/operationStatuses/ca1/operationStatuses/ca1?api-version=2019-06-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Creating\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.ContainerRegistry/registries/taskRuns\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"runRequest\": {\r\n          \"type\": \"EncodedTaskRunRequest\",\r\n          \"encodedTaskContent\": \"DQp2ZXJzaW9uOiB2MS4xLjANCnN0ZXBzOg0KICAtIGNtZDogZG9ja2VyIGltYWdlcw==\",\r\n          \"timeout\": 600,\r\n          \"platform\": {\r\n            \"os\": \"Linux\",\r\n            \"architecture\": \"amd64\"\r\n          },\r\n          \"credentials\": {\r\n            \"sourceRegistry\": {\r\n              \"loginMode\": \"Default\"\r\n            },\r\n            \"customRegistries\": {\r\n              \"acrsdktestregistry.azurecr.io\": null\r\n            }\r\n          },\r\n          \"isArchiveEnabled\": true\r\n        },\r\n        \"runResult\": {\r\n          \"type\": \"Microsoft.ContainerRegistry/registries/runs\",\r\n          \"properties\": {\r\n            \"runId\": \"ca1\",\r\n            \"status\": \"Succeeded\",\r\n            \"lastUpdatedTime\": \"2020-04-05T12:37:56-07:00\",\r\n            \"runType\": \"QuickRun\",\r\n            \"createTime\": \"2020-04-05T12:37:37.2396486-07:00\",\r\n            \"startTime\": \"2020-04-05T12:37:37.3677219-07:00\",\r\n            \"finishTime\": \"2020-04-05T12:37:56.5227087-07:00\",\r\n            \"platform\": {\r\n              \"os\": \"Linux\",\r\n              \"architecture\": \"amd64\"\r\n            },\r\n            \"agentConfiguration\": {\r\n              \"cpu\": 2\r\n            },\r\n            \"sourceRegistryAuth\": \"Default\",\r\n            \"customRegistries\": [\r\n              \"acrsdktestregistry.azurecr.io\"\r\n            ],\r\n            \"provisioningState\": \"Succeeded\",\r\n            \"isArchiveEnabled\": true\r\n          },\r\n          \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/runs/ca1\",\r\n          \"name\": \"ca1\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699/taskRuns/acrtaskrun9629\",\r\n      \"name\": \"acrtaskrun9629\",\r\n      \"location\": \"EASTUS\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/acr_rg2479/providers/Microsoft.ContainerRegistry/registries/acrregistry7699?api-version=2019-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "acr_rg2479"
    ],
    "CreateManagedContainerRegistry": [
      "acrregistry7699"
    ],
    "ContainerRegistryTaskRunTest": [
      "acrtaskrun9629"
    ]
  },
  "Variables": {
    "SubscriptionId": "84c559c6-30a0-417c-ba06-8a2253b388c3"
  }
}