{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "All",
          "displayName": "PolicyInsights Test $PolicyInsightsDefinitionTest6166",
          "policyRule": {
            "if": {
              "field": "type",
              "equals": "Microsoft.Resources/subscriptions/resourceGroups"
            },
            "then": {
              "effect": "manual"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "PolicyInsights Test $PolicyInsightsDefinitionTest6166",
          "policyType": "Custom",
          "mode": "All",
          "metadata": {
            "createdBy": "7bee3764-dbea-4729-9c33-446f321aa721",
            "createdOn": "2023-03-09T05:47:14.8836853Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "field": "type",
              "equals": "Microsoft.Resources/subscriptions/resourceGroups"
            },
            "then": {
              "effect": "manual"
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "PolicyInsightsDefinitionTest6166"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/PolicyRG9718?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718",
        "name": "PolicyRG9718",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.Authorization/policyAssignments/PolicyInsightsAssignmentTest4500?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "PolicyInsights Test $PolicyInsightsAssignmentTest4500",
          "policyDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "PolicyInsights Test $PolicyInsightsAssignmentTest4500",
          "policyDefinitionId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166",
          "scope": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718",
          "metadata": {
            "createdBy": "7bee3764-dbea-4729-9c33-446f321aa721",
            "createdOn": "2023-03-09T05:47:19.1468135Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "enforcementMode": "Default"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.Authorization/policyAssignments/PolicyInsightsAssignmentTest4500",
        "type": "Microsoft.Authorization/policyAssignments",
        "name": "PolicyInsightsAssignmentTest4500"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkQxMzJEMDVCNy4wLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-policy-insights-requests": "149",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkQxMzJEMDVCNy4wLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkQxMzJEMDVCNy4wLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01",
        "Retry-After": "30",
        "x-ms-ratelimit-remaining-policy-insights-requests": "148",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkQxMzJEMDVCNy4wLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-policy-insights-requests": "148",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.PolicyInsights/attestations/attestationtest6286?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "policyAssignmentId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.Authorization/policyAssignments/PolicyInsightsAssignmentTest4500",
          "complianceState": "Compliant",
          "owner": "Test Owner",
          "comments": ".NET SDK Test",
          "evidence": [
            {
              "description": "Evidence 1",
              "sourceUri": "http://www.contoso.com/evidence1"
            },
            {
              "description": "Evidence 2",
              "sourceUri": "http://www.contoso.com/evidence2"
            }
          ],
          "metadata": {
            "DEPT_ID": "NYC4-MARKETING"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-policy-insights-requests": "147",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "policyAssignmentId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/policyrg9718/providers/microsoft.authorization/policyassignments/policyinsightsassignmenttest4500",
          "complianceState": "Compliant",
          "lastComplianceStateChangeAt": "2023-03-09T05:55:12.8532156Z",
          "owner": "Test Owner",
          "comments": ".NET SDK Test",
          "evidence": [
            {
              "description": "Evidence 1",
              "sourceUri": "http://www.contoso.com/evidence1"
            },
            {
              "description": "Evidence 2",
              "sourceUri": "http://www.contoso.com/evidence2"
            }
          ],
          "metadata": {
            "DEPT_ID": "NYC4-MARKETING"
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/policyrg9718/providers/microsoft.policyinsights/attestations/attestationtest6286",
        "name": "attestationtest6286",
        "type": "Microsoft.PolicyInsights/attestations",
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2023-03-09T05:55:12.8532156Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-09T05:55:12.8532156Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-policy-insights-re[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/policyrg9718/providers/Microsoft.PolicyInsights/attestations/attestationtest6286?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": "143",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/PolicyRG9718/providers/Microsoft.PolicyInsights/attestations/attestationtest6286?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "error": {
          "code": "AttestationNotFound",
          "message": "The attestation with name \u0027attestationtest6286\u0027 does not exist."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166?api-version=2020-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "PolicyInsights Test $PolicyInsightsDefinitionTest6166",
          "policyType": "Custom",
          "mode": "All",
          "metadata": {
            "createdBy": "7bee3764-dbea-4729-9c33-446f321aa721",
            "createdOn": "2023-03-09T05:47:14.8836853Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "field": "type",
              "equals": "Microsoft.Resources/subscriptions/resourceGroups"
            },
            "then": {
              "effect": "manual"
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Authorization/policyDefinitions/PolicyInsightsDefinitionTest6166",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "PolicyInsightsDefinitionTest6166"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1482356057",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
