{
  "Entries": [
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-6df550ee-8c73-b4c2-3e83-3f88cc8268ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-6df550ee-8c73-b4c2-3e83-3f88cc8268ce/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "<QueueMessage><MessageText>foo</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5af55ac6-d224-43b7-aab5-6090d89e881b</MessageId><InsertionTime>Thu, 12 Sep 2019 22:20:07 GMT</InsertionTime><ExpirationTime>Thu, 19 Sep 2019 22:20:07 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAAbPSO7hp1QE=</PopReceipt><TimeNextVisible>Thu, 12 Sep 2019 22:20:07 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-6df550ee-8c73-b4c2-3e83-3f88cc8268ce/messages/5af55ac6-d224-43b7-aab5-6090d89e881b?popreceipt=AgAAAAMAAAAAAAAAAbPSO7hp1QE%3D&visibilitytimeout=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "<QueueMessage><MessageText>bar</MessageText></QueueMessage>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAA/a3fO7hp1QEAAAAA",
        "x-ms-time-next-visible": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-6df550ee-8c73-b4c2-3e83-3f88cc8268ce/messages?peekonly=true&numofmessages=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>5af55ac6-d224-43b7-aab5-6090d89e881b</MessageId><InsertionTime>Thu, 12 Sep 2019 22:20:07 GMT</InsertionTime><ExpirationTime>Thu, 19 Sep 2019 22:20:07 GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>bar</MessageText></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-6df550ee-8c73-b4c2-3e83-3f88cc8268ce",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:07 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1765365388",
    "Storage_TestConfigDefault": "ProductionTenant\ngapradev\nU2FuaXRpemVk\nhttp://gapradev.blob.core.windows.net\nhttp://gapradev.file.core.windows.net\nhttp://gapradev.queue.core.windows.net\nhttp://gapradev.table.core.windows.net\n\n\n\n\nhttp://gapradev-secondary.blob.core.windows.net\nhttp://gapradev-secondary.file.core.windows.net\nhttp://gapradev-secondary.queue.core.windows.net\nhttp://gapradev-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://gapradev.blob.core.windows.net/;QueueEndpoint=http://gapradev.queue.core.windows.net/;TableEndpoint=http://gapradev.table.core.windows.net/;FileEndpoint=http://gapradev.file.core.windows.net/;BlobSecondaryEndpoint=http://gapradev-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gapradev-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://gapradev-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://gapradev-secondary.file.core.windows.net/;AccountName=gapradev;AccountKey=Sanitized\nseanscope1"
  }
}