{
  "Entries": [
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-870d37bc-6867-6508-c703-20d17c1590f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-870d37bc-6867-6508-c703-20d17c1590f8/messages",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "<QueueMessage><MessageText>foo</MessageText></QueueMessage>",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>67249804-2e42-4410-980b-5e40880d3cdc</MessageId><InsertionTime>Thu, 12 Sep 2019 22:20:09 GMT</InsertionTime><ExpirationTime>Thu, 19 Sep 2019 22:20:09 GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAPzjjPLhp1QE=</PopReceipt><TimeNextVisible>Thu, 12 Sep 2019 22:20:09 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-870d37bc-6867-6508-c703-20d17c1590f8/messages/67249804-2e42-4410-980b-5e40880d3cdc?popreceipt=AgAAAAMAAAAAAAAAPzjjPLhp1QE%3D&visibilitytimeout=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": "<QueueMessage><MessageText>bar</MessageText></QueueMessage>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-popreceipt": "AwAAAAMAAAAAAAAA0DDwPLhp1QEAAAAA",
        "x-ms-time-next-visible": "Thu, 12 Sep 2019 22:20:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://gapradev.queue.core.windows.net/test-queue-870d37bc-6867-6508-c703-20d17c1590f8",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 12 Sep 2019 22:20:09 GMT",
        "x-ms-version": "2018-11-09"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2018-11-09"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "612303522",
    "Storage_TestConfigDefault": "ProductionTenant\ngapradev\nU2FuaXRpemVk\nhttp://gapradev.blob.core.windows.net\nhttp://gapradev.file.core.windows.net\nhttp://gapradev.queue.core.windows.net\nhttp://gapradev.table.core.windows.net\n\n\n\n\nhttp://gapradev-secondary.blob.core.windows.net\nhttp://gapradev-secondary.file.core.windows.net\nhttp://gapradev-secondary.queue.core.windows.net\nhttp://gapradev-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://gapradev.blob.core.windows.net/;QueueEndpoint=http://gapradev.queue.core.windows.net/;TableEndpoint=http://gapradev.table.core.windows.net/;FileEndpoint=http://gapradev.file.core.windows.net/;BlobSecondaryEndpoint=http://gapradev-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://gapradev-secondary.queue.core.windows.net/;TableSecondaryEndpoint=http://gapradev-secondary.table.core.windows.net/;FileSecondaryEndpoint=http://gapradev-secondary.file.core.windows.net/;AccountName=gapradev;AccountKey=Sanitized\nseanscope1"
  }
}