{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B134649728?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00c51a5c-a047-48c4-9f76-94f6839069a6",
        "traceresponse": "00-8620f92dcbe5454b87e23a525c9473cf-cd83a0a354559422-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;134649728. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11958?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c16be87f-c126-450d-a28b-c4a7a04cf1e1",
        "traceresponse": "00-396dda3c23b7b24698af19e8c8e9fd1a-7972da00952b32db-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11958. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin142419640?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f78e4f5e-3ad2-40fb-a657-bd0e060d61c6",
        "traceresponse": "00-b8b1456b3dcc8241a28b089a1c03d5d5-d406ec7bf9c11a14-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin142419640. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-93104930?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "type = \u0027Microsoft.DigitalTwins.Twin.Create\u0027 OR type = \u0027microsoft.iot.telemetry\u0027"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "abd077cb-0039-42ee-b3b9-3faf16e7a0f8",
        "traceresponse": "00-28558a9bbbab704fb0c2ea18e15f778f-8844b7b94b3b3f91-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11958\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u002[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8bedc5eb-2d5d-4966-b34c-0afc1ff6ef9c",
        "traceresponse": "00-531320e3fed8af47b287ea2842d4783a-3b72c6746719e822-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;113146068",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.2255171\u002B00:00"
          },
          {
            "id": "dtmi:example:room;130376293",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-02-15T17:42:08.3082608\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;111396979",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin142419640?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11958"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00227187d36a-e5ae-4927-9306-3ff69b77c454\u0022",
        "mise-correlation-id": "58eb941f-e555-4eba-9918-8dacf5e1deec",
        "traceresponse": "00-38e509c0dd287f41a2ec712c4ce9b89a-3b6807896f508600-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin142419640",
        "$etag": "W/\u00227187d36a-e5ae-4927-9306-3ff69b77c454\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2023-02-15T18:25:54.2526443Z",
            "RouterName": {
              "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
            },
            "Network": {
              "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11958",
          "$lastUpdateTime": "2023-02-15T18:25:54.2526443Z",
          "Temperature": {
            "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-02-15T18:25:54.2526443Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin142419640/telemetry?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Message-Id": "8392b0ca-20db-0d48-e3a5-85ee42bd7f11",
        "Telemetry-Source-Time": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": {
        "Telemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e3b122d8-f825-47f0-8afe-4a4566976bcb",
        "traceresponse": "00-53d8964daa822b428cc0904d498489ef-9d6215da21a948af-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin142419640/components/wifiAccessPoint/telemetry?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Message-Id": "b9899bc2-2d60-4171-8af0-7a27e149b47e",
        "Telemetry-Source-Time": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": {
        "ComponentTelemetry1": 9
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "75035648-d503-46ae-9622-53e436c09a02",
        "traceresponse": "00-f076f851a1183e43ac326af8b2d36ed7-4a7fa4c64203e1fd-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11958?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b476fc1a-b682-4500-942c-90a5204af4cd",
        "traceresponse": "00-6bdaa35f75571a4dae7c87014cbf5d4a-d7e096f21aa8d0a7-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B134649728?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c1d9e398-70ba-4a99-a495-4b332fcd32d1",
        "traceresponse": "00-1045df8c60fad340999e69cca1901320-a434a19d666d5e9e-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1964353211"
  }
}
