{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B186564028?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1d68a37b-e14d-41eb-8bc8-e8d07d003a4d",
        "traceresponse": "00-f58b27fe2d06f5c68af87cbd949e6ff8-1bb00ce6624f9c4a-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;186564028. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12701?includeModelDefinition=true\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c233d971-a94d-4b24-8006-0226ef9b3d13",
        "traceresponse": "00-6bcaf903bed282b562146f4711fa7bb3-9eeedb2375ff8843-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;12701. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin667870848?api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "traceresponse": "00-1f6cf753fa5a10b78739e340a870c24e-a84181a97cbc2042-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin667870848. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-1002973280?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "type = \u0027Microsoft.DigitalTwins.Twin.Create\u0027 OR type = \u0027microsoft.iot.telemetry\u0027"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "27e612a8-9283-4760-921b-968d2fbb74e4",
        "traceresponse": "00-acecde2e5853cf3be9fecdf33311bec7-556b52265d63d746-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;12701\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [        {            \u0022@type\u[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false\u0026api-version=2022-05-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5410ddfc-35c1-4b04-b824-6fe380c86e39",
        "traceresponse": "00-e6a4b707d783d51c9905ddaf5cfc2718-ee42e7b94447db4e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;113089428",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1560817\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;115732946",
            "description": {
              "en-US": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en-US": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2022-05-26T01:04:05.1564508\u002B00:00"
          },
          {
            "id": "dtmi:example:room;116996374",[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin667870848?api-version=2022-05-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12701"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "$metadata": {},
          "RouterName": "Cisco1",
          "Network": "Room1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022deaf8658-f749-46ad-8f25-b98fca1a317f\u0022",
        "traceresponse": "00-dba515e0deb4819dc55c38342cbdb23c-7f2e704e7a80c14d-01"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin667870848",
        "$etag": "W/\u0022deaf8658-f749-46ad-8f25-b98fca1a317f\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$lastUpdateTime": "2022-05-26T01:31:00.9570888Z",
            "RouterName": {
              "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
            },
            "Network": {
              "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;12701",
          "$lastUpdateTime": "2022-05-26T01:31:00.9570888Z",
          "Temperature": {
            "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
          },
          "Humidity": {
            "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2022-05-26T01:31:00.9570888Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin667870848/telemetry?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Message-Id": "9ddd8ef9-4bdc-2452-30e7-afacc0a962df",
        "Telemetry-Source-Time": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": {
        "Telemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-cdff40e677c9f984c9960af37ba21f85-8fc250aea22f6443-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin667870848/components/wifiAccessPoint/telemetry?api-version=2022-05-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Message-Id": "9644314e-c6ec-f67a-44f8-68315113edb3",
        "Telemetry-Source-Time": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": {
        "ComponentTelemetry1": 9
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "traceresponse": "00-3954a66f26935c35d693b1c4d3822b7e-8a7b9091a30fa64c-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B12701?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "dbdee7dc-a77e-472c-a799-aa0d980027b6",
        "traceresponse": "00-c34b24efa66722ebbc93f315789e6565-6b391aaf1cafc44a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B186564028?api-version=2022-05-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b3d5b8d4-bfa9-45e7-94fb-3d344307a648",
        "traceresponse": "00-7e4ce343b7065a310c7edf8415049348-7fa2e128d2e69548-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "217030189"
  }
}
