{
  "Entries": [
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B114383368?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifi;114383368. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11112?includeModelDefinition=true\u0026api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:wifiroom;11112. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1651711051?api-version=2020-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomWithWifiTwin1651711051. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/eventroutes/someEventRouteId-87181891?api-version=2020-05-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "endpointName": "someEventHubEndpoint",
        "filter": "type = \u0027Microsoft.DigitalTwins.Twin.Create\u0027 OR type = \u0027microsoft.iot.telemetry\u0027"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/models?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:wifiroom;11112\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022RoomWithWifi\u0022,    \u0022contents\u0022: [       [...]
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1651711051?api-version=2020-05-31-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=utf-8"
      },
      "RequestBody": "{  \u0022$metadata\u0022: {    \u0022$model\u0022: \u0022dtmi:example:wifiroom;11112\u0022  },  \u0022Temperature\u0022: 80,  \u0022Humidity\u0022: 25,  \u0022IsOccupied\u0022: true,  \u0022EmployeeId\u0022: \u0022Employee1\u0022,  \u0022wifiAccessPoint\u0022: {        \u0022$metadata\u0022: {            \u0022$model\u0022: \u0022dtmi:example:wifi;114383368\u0022        },        \u0022RouterName\u0022: \u0022Cisco1\u0022,        \u0022Network\u0022: \u0022Room1\u0022    }}",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022f07bd8ed-423f-4e21-be2a-9ab24aacd460\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomWithWifiTwin1651711051",
        "$etag": "f07bd8ed-423f-4e21-be2a-9ab24aacd460",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "wifiAccessPoint": {
          "RouterName": "Cisco1",
          "Network": "Room1",
          "$metadata": {
            "$model": "dtmi:example:wifi;114383368",
            "RouterName": {
              "desiredValue": "Cisco1",
              "desiredVersion": 1,
              "ackVersion": 1,
              "ackCode": 200,
              "ackDescription": "Auto-Sync"
            },
            "Network": {
              "desiredValue": "Room1",
              "desiredVersion": 1,
              "ackVersion": 1,
              "ackCode": 200,
              "ackDescription": "Auto-Sync"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:example:wifiroom;11112",
          "Temperature": {
            "desiredValue": 80,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "Humidity": {
            "desiredValue": 25,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "IsOccupied": {
            "desiredValue": true,
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          },
          "EmployeeId": {
            "desiredValue": "Employee1",
            "desiredVersion": 1,
            "ackVersion": 1,
            "ackCode": 200,
            "ackDescription": "Auto-Sync"
          }
        }
      }
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1651711051/telemetry?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dt-id": "dccb72ab-3e3a-6c3d-9e66-255a38326945",
        "dt-timestamp": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": "{\u0022Telemetry1\u0022: 5}",
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/digitaltwins/roomWithWifiTwin1651711051/components/wifiAccessPoint/telemetry?api-version=2020-05-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "dt-id": "6d4d5da4-a979-ec49-1ab1-1ce602413a24",
        "dt-timestamp": "01/01/01 0:00:00 \u002B00:00"
      },
      "RequestBody": {
        "ComponentTelemetry1": 9
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifiroom%3B11112?api-version=2020-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://barustum-rg3.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Awifi%3B114383368?api-version=2020-05-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://barustum-rg3.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1563569306"
  }
}