{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Storage/storageAccounts/azstorageforbatch9614"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/operationResults/89f1e61e-a26d-4644-9c85-268115c6d4db?api-version=2023-05-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1096"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/operationResults/89f1e61e-a26d-4644-9c85-268115c6d4db?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/operationResults/89f1e61e-a26d-4644-9c85-268115c6d4db?api-version=2023-05-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11823"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/operationResults/89f1e61e-a26d-4644-9c85-268115c6d4db?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DB717DEA03CA51\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 11:03:01 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11822"
      },
      "ResponseBody": {
        "id": "/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883",
        "name": "testaccount5883",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount5883.westus.batch.azure.com",
          "nodeManagementEndpoint": "a86e1cd7-e4ab-4b9b-9f8b-c6942d1d1f4d.westus.service.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/applications/testApplication-6000?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DB717DEA3823E8\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 11:03:01 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1095"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/applications/testApplication-6000",
        "name": "testApplication-6000",
        "etag": "W/\u00220x8DB717DEA3823E8\u0022",
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/applications/testApplication-6000/versions/testApplicationPackage-8347?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DB717DEA7BBEB0\u0022",
        "Last-Modified": "Tue, 20 Jun 2023 11:03:02 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1094"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications/versions",
        "id": "/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/applications/testApplication-6000/versions/testApplicationPackage-8347",
        "name": "testApplicationPackage-8347",
        "etag": "W/\u00220x8DB717DEA7BBEB0\u0022",
        "properties": {
          "storageUrl": "https://fakeaccount.blob.core.windows.net",
          "storageUrlExpiry": "2023-06-20T15:03:02.199194Z",
          "state": "Pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/01b6a57a-5aef-40e2-8af7-562a2f81462e/resourceGroups/testrg-batch7148/providers/Microsoft.Batch/batchAccounts/testaccount5883/applications/testApplication-6000/versions/testApplicationPackage-8347?api-version=2023-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1621180134",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "01b6a57a-5aef-40e2-8af7-562a2f81462e"
  }
}
