{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.Cdn/edgenodes?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/providers/Microsoft.Cdn/edgenodes/Standard_Verizon",
            "type": "Microsoft.Cdn/edgenodes",
            "name": "Standard_Verizon",
            "properties": {
              "ipAddressGroups": [
                {
                  "deliveryRegion": "All",
                  "ipv4Addresses": [
                    {
                      "baseIpAddress": "5.104.64.0",
                      "prefixLength": 21
                    },
                    {
                      "baseIpAddress": "46.22.64.0",
                      "prefixLength": 20
                    },
                    {
                      "baseIpAddress": "61.221.181.64",
                      "prefixLength": 26
                    },
                    {
                      "baseIpAddress": "68.232.32.0",
                      "prefixLength": 20
                    },
                    {
                      "baseIpA[...]
