{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/fileservers?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"domainName\": \"fareast.corp.microsoft.com\",\r\n        \"storageDomainId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/storageDomains/sd-fs-HSDK-4XY4FI2IVG\",\r\n        \"backupScheduleGroupId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/backupScheduleGroups/BackupSchGroupForSDKTest\",\r\n        \"description\": \"Update description of fileserver\"\r\n      },\r\n      \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/fileServers/HSDK-4XY4FI2IVG\",\r\n      \"name\": \"HSDK-4XY4FI2IVG\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices/fileServers\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/fileservers/HSDK-4XY4FI2IVG/shares?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"description\": \"Demo FileShare for SDK Test Local\",\r\n        \"shareStatus\": \"Online\",\r\n        \"dataPolicy\": \"Local\",\r\n        \"adminUser\": \"fareast\\\\idcdlslb\",\r\n        \"provisionedCapacityInBytes\": 536870912000,\r\n        \"usedCapacityInBytes\": 200278016,\r\n        \"localUsedCapacityInBytes\": 200278016,\r\n        \"monitoringStatus\": \"Enabled\"\r\n      },\r\n      \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/fileServers/HSDK-4XY4FI2IVG/shares/Auto-TestFileShare2\",\r\n      \"name\": \"Auto-TestFileShare2\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices/fileServers/shares\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"description\": \"Updated: Demo FileShare for SDK Test Tiered\",\r\n        \"shareStatus\": \"Offline\",\r\n        \"dataPolicy\": \"Tiered\",\r\n        \"adminUser\": \"fareast\\\\idcdlslb\",\r\n        \"provisionedCapacityInBytes\": 536870912000,\r\n        \"usedCapacityInBytes\": 152043520,\r\n        \"localUsedCapacityInBytes\": 152043520,\r\n        \"monitoringStatus\": \"Enabled\"\r\n      },\r\n      \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/fileServers/HSDK-4XY4FI2IVG/shares/Auto-TestFileShare1\",\r\n      \"name\": \"Auto-TestFileShare1\",\r\n      \"type\": \"Microsoft.StorSimple/managers/devices/fileServers/shares\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/fileservers/HSDK-4XY4FI2IVG/backup?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/fileservers/HSDK-4XY4FI2IVG/operationResults/7065a3c3-4198-42fc-a133-59b4fb75d96d?api-version=2016-06-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/fileservers/HSDK-4XY4FI2IVG/operationResults/7065a3c3-4198-42fc-a133-59b4fb75d96d?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/fileservers/HSDK-4XY4FI2IVG/operationResults/7065a3c3-4198-42fc-a133-59b4fb75d96d?api-version=2016-06-01"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/jobs/58d33025-e837-41cc-b15f-7c85ced64aab?api-version=2016-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/jobs/58d33025-e837-41cc-b15f-7c85ced64aab?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-08-09T16:19:09.6532352Z\",\r\n  \"endTime\": \"2018-08-09T16:19:57.580225Z\",\r\n  \"percentComplete\": 100,\r\n  \"properties\": {\r\n    \"jobType\": \"Backup\",\r\n    \"entityId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg\",\r\n    \"entityType\": \"Microsoft.StorSimple/managers/devices\",\r\n    \"jobStages\": [],\r\n    \"deviceId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg\",\r\n    \"isCancellable\": false,\r\n    \"stats\": {\r\n      \"completedWorkItemCount\": 0,\r\n      \"totalWorkItemCount\": 0,\r\n      \"estimatedTimeRemaining\": 0\r\n    },\r\n    \"targetType\": \"FileServer\",\r\n    \"backupPointInTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/jobs/58d33025-e837-41cc-b15f-7c85ced64aab\",\r\n  \"name\": \"58d33025-e837-41cc-b15f-7c85ced64aab\",\r\n  \"type\": \"Microsoft.StorSimple/managers/devices/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/backups?$filter=initiatedBy%20eq%20'Manual'&api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"targetId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/fileServers/HSDK-4XY4FI2IVG\",\r\n        \"targetType\": \"Microsoft.StorSimple/managers/devices/fileServers\",\r\n        \"sizeInBytes\": 1073741824000,\r\n        \"createdTime\": \"2018-08-09T16:19:09.6532352Z\",\r\n        \"expirationTime\": \"9999-12-31T23:59:59.9999999Z\",\r\n        \"initiatedBy\": \"Manual\",\r\n        \"deviceId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg\",\r\n        \"elements\": [\r\n          {\r\n            \"properties\": {\r\n              \"sizeInBytes\": 536870912000,\r\n              \"endpointName\": \"Auto-TestFileShare2\",\r\n              \"dataPolicy\": \"Local\"\r\n            },\r\n            \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/backups/58d33025-e837-41cc-b15f-7c85ced64aab/elements/2304968f-91af-4f59-8b79-31e321eee40e\",\r\n            \"name\": \"2304968f-91af-4f59-8b79-31e321eee40e\",\r\n            \"type\": \"Microsoft.StorSimple/mana[...]
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"activationTime\": \"2018-08-09T09:47:59.8284448Z\",\r\n    \"allowedDeviceOperations\": [\r\n      \"Deactivate\",\r\n      \"Browsable\"\r\n    ],\r\n    \"culture\": \"en-US\",\r\n    \"deviceCapabilities\": [\r\n      \"FileServer\"\r\n    ],\r\n    \"domainName\": \"fareast.corp.microsoft.com\",\r\n    \"deviceSoftwareVersion\": \"10.0.10296.0\",\r\n    \"deviceConfigurationStatus\": \"Complete\",\r\n    \"modelDescription\": \"1200\",\r\n    \"status\": \"Online\",\r\n    \"type\": \"Series9000OnPremVirtualAppliance\"\r\n  },\r\n  \"id\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg\",\r\n  \"name\": \"HSDK-4XY4FI2IVG\",\r\n  \"type\": \"Microsoft.StorSimple/managers/devices\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/backups/58d33025-e837-41cc-b15f-7c85ced64aab/elements/2304968f-91af-4f59-8b79-31e321eee40e/clone?api-version=2016-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetDeviceId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg\",\r\n    \"targetAccessPointId\": \"/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/hsdk-4xy4fi2ivg/fileServers/HSDK-4XY4FI2IVG\",\r\n    \"newEndpointName\": \"ClonedTieredFileShareForSDKTest\",\r\n    \"share\": {\r\n      \"Client\": {\r\n        \"BaseUri\": \"https://management.azure.com/\",\r\n        \"SubscriptionId\": \"9eb689cd-7243-43b4-b6f6-5c65cb296641\",\r\n        \"AcceptLanguage\": \"en-US\",\r\n        \"LongRunningOperationRetryTimeout\": 30,\r\n        \"GenerateClientRequestId\": true\r\n      },\r\n      \"ResourceGroupName\": \"ResourceGroupForSDKTest\",\r\n      \"ManagerName\": \"hAzureSDKOperations\",\r\n      \"properties\": {\r\n        \"description\": \"Restore file Share\",\r\n        \"shareStatus\": \"Online\",\r\n        \"dataPolicy\": \"Tiered\",\r\n        \"adminUser\": \"HSDK-4XY4FI2IVG\\\\StorSimpleAdmin\",\r\n        \"provisionedCapacityInBytes\": 536870912000,\r\n        \"monitoringStatus\": \"Enabled\"\r\n      },\r\n      \"name\": \"TieredFileShareForSDKTest\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/backups/58d33025-e837-41cc-b15f-7c85ced64aab/elements/2304968f-91af-4f59-8b79-31e321eee40e/operationResults/ec25a616-6775-4256-85d7-346e94e1a2a3?api-version=2016-06-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/backups/58d33025-e837-41cc-b15f-7c85ced64aab/elements/2304968f-91af-4f59-8b79-31e321eee40e/operationResults/ec25a616-6775-4256-85d7-346e94e1a2a3?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-4XY4FI2IVG/backups/58d33025-e837-41cc-b15f-7c85ced64aab/elements/2304968f-91af-4f59-8b79-31e321eee40e/operationResults/ec25a616-6775-4256-85d7-346e94e1a2a3?api-version=2016-06-01"
        ],
        "Retry-After": [
          "30"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 202
    },
[...]
