{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/dictionary/examples?from=en\u0026to=es\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022fly\u0022,\u0022Translation\u0022:\u0022volar\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "8",
        "X-RequestId": "DTEX.MW1P.99BE.0310T0013.5244C5D"
      },
      "ResponseBody": "[{\u0022normalizedSource\u0022:\u0022fly\u0022,\u0022normalizedTarget\u0022:\u0022volar\u0022,\u0022examples\u0022:[{\u0022sourcePrefix\u0022:\u0022I mean, for a guy who could \u0022,\u0022sourceTerm\u0022:\u0022fly\u0022,\u0022sourceSuffix\u0022:\u0022.\u0022,\u0022targetPrefix\u0022:\u0022Quiero decir, para un tipo que pod\u00EDa \u0022,\u0022targetTerm\u0022:\u0022volar\u0022,\u0022targetSuffix\u0022:\u0022.\u0022},{\u0022sourcePrefix\u0022:\u0022Now it\u0027s time to make you \u0022,\u0022[...]
