{
  "Entries": [
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"activeDirectories\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A17%3A16.3957439Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/19e5e9fc-be03-44ea-9e8b-17e5c3b93dac?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b\",\r\n  \"name\": \"sdk-net-tests-acc-20b\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-12-22T14%3A17%3A16.3957439Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"activeDirectories\": [],\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/19e5e9fc-be03-44ea-9e8b-17e5c3b93dac?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/19e5e9fc-be03-44ea-9e8b-17e5c3b93dac\",\r\n  \"name\": \"19e5e9fc-be03-44ea-9e8b-17e5c3b93dac\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-12-22T14:17:16.2974113Z\",\r\n  \"endTime\": \"2020-12-22T14:17:16.5317726Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A17%3A54.561411Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/e7ca34aa-a42e-4642-a841-732528aa883f?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b\",\r\n  \"name\": \"sdk-net-tests-acc-20b/sdk-net-tests-pool-10b\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-12-22T14%3A17%3A54.561411Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"totalThroughputMibps\": 0.0,\r\n    \"utilizedThroughputMibps\": 0.0,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A17%3A54.7005077Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b\",\r\n  \"name\": \"sdk-net-tests-acc-20b/sdk-net-tests-pool-10b\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-12-22T14%3A17%3A54.7005077Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"poolId\": \"8e333e5e-7fdc-3e97-ae27-8f1409094af3\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"qosType\": \"Auto\",\r\n    \"totalThroughputMibps\": 262.144,\r\n    \"utilizedThroughputMibps\": 0.0,\r\n    \"encryptionType\": \"Single\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"creationToken\": \"sdk-net-tests-vol-1000b\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"subnetId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A18%3A32.6660878Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a[...]
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A21%3A35.186641Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b\",\r\n  \"name\": \"sdk-net-tests-acc-20b/sdk-net-tests-pool-10b/sdk-net-tests-vol-1000b\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-12-22T14%3A21%3A35.186641Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"mountTargetId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n        \"fileSystemId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n        \"ipAddress\": \"10.1.9.10\",\r\n        \"smbServerFQDN\": \"\"\r\n      }\r\n    ],\r\n    \"throughputMibps\": 0.0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n    \"name\": \"sdk-net-tests-vol-1000b\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"sdk-net-tests-vol-1000b\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\",\r\n          \"kerberos5ReadOnly\": false,\r\n          \"kerberos5ReadWrite\": false,\r\n          \"kerberos5iReadOnly\": false,\r\n          \"kerberos5iReadWrite\": false,\r\n          \"kerberos5pReadOnly\": false,\r\n          \"kerberos5pReadWrite\": false,\r\n          \"hasRootAccess\": true\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_f219b16f\",\r\n    \"subnetId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464/subnets/default\",\r\n    \"snapshotDirectoryVisible\": true,\r\n    \"kerberosEnabled\": false,\r\n    \"securityStyle\": \"Unix\",\r\n    \"smbEncryption\": false,\r\n    \"smbContinuouslyAvailable\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"activeDirectories\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus/operationResults/dfc87b60-11f3-4b36-a329-60b3af2a6c06?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/eastus/operationResults/dfc87b60-11f3-4b36-a329-60b3af2a6c06\",\r\n  \"name\": \"dfc87b60-11f3-4b36-a329-60b3af2a6c06\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-12-22T14:22:26.9397151Z\",\r\n  \"endTime\": \"2020-12-22T14:22:27.0647317Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R/capacityPools/sdk-net-tests-pool-10b-R?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "applica[...]
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R/capacityPools/sdk-net-tests-pool-10b-R/volumes/sdk-net-tests-vol-1000b-R?api-version=2020-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"creationToken\": \"sdk-net-tests-vol-1000b-R\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"subnetId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464east-R/subnets/default\",\r\n    \"volumeType\": \"DataProtection\",\r\n    \"dataProtection\": {\r\n      \"replication\": {\r\n        \"endpointType\": \"dst\",\r\n        \"replicationSchedule\": \"_10minutely\",\r\n        \"remoteVolumeResourceId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-12-22T14%3A23%3A44.4407435Z'\""
        ],
        "Azure-A[...]
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b/authorizeReplication?api-version=2020-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"remoteVolumeResourceId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R/capacityPools/sdk-net-tests-pool-10b-R/volumes/sdk-net-tests-vol-1000b-R\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5c9cc546-cdec-4cb2-b014-c028e1f10ea6?api-version=2020-09-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5c9cc546-cdec-4cb2-b014-c028e1f10ea6?api-version=2020-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/providers/Microsoft.NetApp/locations/westus2/operationResults/5c9cc546-cdec-4cb2-b014-c028e1f10ea6?api-version=2020-09-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b\",\r\n  \"name\": \"sdk-net-tests-acc-20b/sdk-net-tests-pool-10b/sdk-net-tests-vol-1000b\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-12-22T14%3A28%3A25.1914262Z'\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"dataProtection\": {\r\n      \"replication\": {\r\n        \"endPointType\": \"Src\",\r\n        \"replicationStatus\": \"\",\r\n        \"remotePath\": {\r\n          \"externalHostName\": \"az-bl22-f02c35-bp420-sto\",\r\n          \"serverName\": \"svm_e6db99cacbc54bf6b9f6acb8edf404c5_bd26df7d\",\r\n          \"volumeName\": \"vol_sdk_net_tests_vol_1000b_R_35f4e9\"\r\n        },\r\n        \"remoteVolumeResourceId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R/capacityPools/sdk-net-tests-pool-10b-R/volumes/sdk-net-tests-vol-1000b-R\",\r\n        \"remoteVolumeRegion\": \"eastus\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n    \"name\": \"sdk-net-tests-vol-1000b\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"sdk-net-tests-vol-1000b\",\r\n    \"ownerId\": \"8f82c7b4-0509-489d-9e97-d719b9b955b4\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\",\r\n          \"kerberos5ReadOnly\": false,\r\n          \"kerberos5ReadWrite\": false,\r\n          \"kerberos5iReadOnly\": false,\r\n          \"kerberos5iReadWrite\": false,\r\n          \"kerberos5pReadOnly\": false,\r\n          \"kerberos5pReadWrite\": false,\r\n          \"hasRootAccess\": true\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_8f82c7b40509489d9e97d719b9b955b4_f219b16f\",\r\n    \"subnetId\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464/subnets/default\",\r\n    \"snapshotDirectoryVisible\": true,\r\n    \"vendorID\": \"/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b/capacityPools/sdk-net-tests-pool-10b/volumes/sdk-net-tests-vol-1000b\",\r\n    \"poolId\": \"8e333e5e-7fdc-3e97-ae27-8f1409094af3\",\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"\",\r\n        \"mountTargetId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n        \"fileSystemId\": \"c2c68ed2-5409-fbde-1139-2be59d7942a4\",\r\n        \"startIp\": \"\",\r\n        \"endIp\": \"\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.1.9.10\",\r\n        \"smbServerFQDN\": \"\"\r\n      }\r\n    ],\r\n    \"throughputMibps\": 0.0,\r\n    \"isCreate\": false,\r\n    \"kerberosEnabled\": false,\r\n    \"securityStyle\": \"Unix\",\r\n    \"smbEncryption\": false,\r\n    \"qosType\": \"Auto\",\r\n    \"smbContinuouslyAvailable\": false,\r\n    \"encryptionKeySource\": \"Microsoft.NetApp\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/69a75bda-882e-44d5-8431-63421204132a/resourceGroups/sdk-test-qa2-R/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20b-R/capacityPools/sdk-net-tests-pool-10b-R/volumes/sdk-net-tests-vol-1000b-R/replicationStatus?api-version=2020-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11968"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"healthy\": true,\r\n  \"relationshipStatus\": \"Idle\",\r\n  \"mirrorState\": \"Uninitialized\",\r\n  \"totalProgress\": \"\",\r\n  \"errorMessage\": \"\"\r\n}",
      "StatusCode": 200
    },
[...]
