{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2stage\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A32%3A22.4327112Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/8ec32916-3510-4bf6-84f9-b769261e20e9?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20\",\r\n  \"name\": \"sdk-net-tests-acc-20\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A32%3A22.4327112Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"name\": \"sdk-net-tests-acc-20\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A32%3A32.8796655Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/084a89f2-b0b3-4a46-9eb5-ace356776b98?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10\",\r\n  \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A32%3A32.8796655Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/084a89f2-b0b3-4a46-9eb5-ace356776b98?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/084a89f2-b0b3-4a46-9eb5-ace356776b98\",\r\n  \"name\": \"084a89f2-b0b3-4a46-9eb5-ace356776b98\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-03T17:32:32.4706612Z\",\r\n  \"endTime\": \"2020-04-03T17:32:33.8908459Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A32%3A33.7735166Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10\",\r\n  \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A32%3A33.7735166Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"poolId\": \"5dcf6d94-b8fc-df82-f5bd-2eda2ca6619b\",\r\n    \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"size\": 4398046511104,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"creationToken\": \"sdk-net-tests-vol-1000\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464/subnets/default\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A33%3A13.4853603Z'\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/066[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A36%3A05.3501179Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11970"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000\",\r\n  \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10/sdk-net-tests-vol-1000\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A36%3A05.3501179Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"\",\r\n        \"mountTargetId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"fileSystemId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"startIp\": \"\",\r\n        \"endIp\": \"\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.1.8.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fileSystemId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n    \"name\": \"sdk-net-tests-vol-1000\",\r\n    \"serviceLevel\": \"Premium\",\r\n    \"creationToken\": \"sdk-net-tests-vol-1000\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"usedBytes\": 0,\r\n    \"exportPolicy\": {\r\n      \"rules\": [\r\n        {\r\n          \"ruleIndex\": 1,\r\n          \"unixReadOnly\": false,\r\n          \"unixReadWrite\": true,\r\n          \"cifs\": false,\r\n          \"nfsv3\": true,\r\n          \"nfsv4\": false,\r\n          \"nfsv41\": false,\r\n          \"allowedClients\": \"0.0.0.0/0\"\r\n        }\r\n      ]\r\n    },\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"baremetalTenantId\": \"baremetalTenant_svm_fb0467dd8e8011e9a7f006ddec9cd511_afd38980\",\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464/subnets/default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A41%3A34.8551832Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11955"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000\",\r\n  \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10/sdk-net-tests-vol-1000\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A41%3A34.8551832Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"dataProtection\": {\r\n      \"replication\": {\r\n        \"endPointType\": \"Src\",\r\n        \"remoteVolumeResourceId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC\",\r\n        \"remoteVolumeRegion\": \"southcentralusstage\"\r\n      }\r\n    },\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"\",\r\n        \"mountTargetId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"fileSystemId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"startIp\": \"\",\r\n        \"endIp\": \"\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.1.8.4\"\r\n      }\r\n    ],\r\n    \"provisioningState[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A47%3A15.245857Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11712"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000\",\r\n  \"name\": \"sdk-net-tests-acc-20/sdk-net-tests-pool-10/sdk-net-tests-vol-1000\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A47%3A15.245857Z'\\\"\",\r\n  \"location\": \"westus2stage\",\r\n  \"properties\": {\r\n    \"volumeType\": \"\",\r\n    \"dataProtection\": {},\r\n    \"mountTargets\": [\r\n      {\r\n        \"provisioningState\": \"\",\r\n        \"mountTargetId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"fileSystemId\": \"b6e135c9-dcb2-4ba9-7c0b-fc3bf071d7e0\",\r\n        \"startIp\": \"\",\r\n        \"endIp\": \"\",\r\n        \"gateway\": \"\",\r\n        \"netmask\": \"\",\r\n        \"subnet\": \"\",\r\n        \"ipAddress\": \"10.1.8.4\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Su[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralusstage\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-0[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralusstage\",\r\n  \"properties\": {\r\n    \"size\": 4398046511104,\r\n    \"serviceLevel\": \"Premium\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
 [...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/54076a36-f4e2-44e9-a19b-6204712f0706?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/54076a36-f4e2-44e9-a19b-6204712f0706\",\r\n  \"name\": \"54076a36-f4e2-44e9-a19b-6204712f0706\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-04-03T17:36:37.8177167Z\",\r\n  \"endTime\": \"2020-04-03T17:36:38.4154889Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"resourceName\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC?api-version=2019-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralusstage\",\r\n  \"properties\": {\r\n    \"creationToken\": \"sdk-net-tests-vol-1000-RSC\",\r\n    \"usageThreshold\": 107374182400,\r\n    \"protocolTypes\": [\r\n      \"NFSv3\"\r\n    ],\r\n    \"subnetId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.Network/virtualNetworks/sdktestqa2vnet464-RSC/subnets/default\",\r\n    \"volumeType\": \"DataProtection\",\r\n    \"dataProtection\": {\r\n      \"replication\": {\r\n        \"endpointType\": \"dst\",\r\n        \"replicationSchedule\": \"_10minutely\",\r\n        \"remoteVolumeResourceId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"datetime'2020-04-03T17%3A40%3A36.8645718Z'\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC\",\r\n  \"name\": \"sdk-net-tests-acc-20-RSC/sdk-net-tests-pool-10-RSC/sdk-net-tests-vol-1000-RSC\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts/capacityPools/volumes\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A40%3A36.8645718Z'\\\"\",\r\n  \"location\": \"southcentralusstage\",\r\n  \"properties\": {\r\n    \"volumeType\": \"DataProtection\",\r\n    \"dataProtection\": {\r\n      \"replication\": {\r\n        \"replicationId\": \"dd524949-723a-b155-e1d6-b7b501f12a3f\",\r\n        \"endPointType\": \"Dst\",\r\n        \"replicationSchedule\": \"_10minutely\",\r\n        \"remoteVolumeResourceId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000\",\r\n        \"remoteVolumeRegion\": \"westus2stage\"\r\n      }\r\n    },\r\n    \"mountTargets\": [\r\n      {\r[...]
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20/capacityPools/sdk-net-tests-pool-10/volumes/sdk-net-tests-vol-1000/authorizeReplication?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"remoteVolumeResourceId\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/5f8e3a8c-1e77-46cd-978c-909278caf127?api-version=2019-11-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/5f8e3a8c-1e77-46cd-978c-909278caf127?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/westus2stage/operationResults/5f8e3a8c-1e77-46cd-978c-909278caf127?api-version=2019-11-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ],
        "Content-Type": [
          "application/jso[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC/replicationStatus?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"healthy\": false,\r\n  \"relationshipStatus\": \"\",\r\n  \"mirrorState\": \"\",\r\n  \"totalProgress\": \"0\",\r\n  \"errorMessage\": \"\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC/replicationStatus?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11713"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"VolumeReplicationMissing\",\r\n    \"message\": \"Volume Replication was not found for volume: '/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC'\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC/breakReplication?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/ad0d4c4c-7172-458f-b412-e30142047390?api-version=2019-11-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/ad0d4c4c-7172-458f-b412-e30142047390?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/ad0d4c4c-7172-458f-b412-e30142047390?api-version=2019-11-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11725"
        ],
        "Content-Type": [
          "applicat[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC/resyncReplication?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/e25c38b6-c04e-422b-89c5-8c5b3f46dc2a?api-version=2019-11-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/e25c38b6-c04e-422b-89c5-8c5b3f46dc2a?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC/capacityPools/sdk-net-tests-pool-10-RSC/volumes/sdk-net-tests-vol-1000-RSC/deleteReplication?api-version=2019-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/9a350696-fa23-4833-90fa-e996692b4eeb?api-version=2019-11-01&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/9a350696-fa23-4833-90fa-e996692b4eeb?api-version=2019-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/3349f2a5-3520-44b8-9609-67c92bfe9358?api-version=2019-11-01&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11695"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/resourceGroups/sdk-test-qa2-RSC/providers/Microsoft.NetApp/netAppAccounts/sdk-net-tests-acc-20-RSC\",\r\n  \"name\": \"sdk-net-tests-acc-20-RSC\",\r\n  \"type\": \"Microsoft.NetApp/netAppAccounts\",\r\n  \"etag\": \"W/\\\"datetime'2020-04-03T17%3A52%3A18.3629418Z'\\\"\",\r\n  \"location\": \"southcentralusstage\",\r\n  \"properties\": {\r\n    \"name\": \"sdk-net-tests-acc-20-RSC\",\r\n    \"provisioningState\": \"Deleting\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0661b131-4a11-479b-96bf-2f95acca2f73"
  }
}