{
  "Entries": [
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi?api-version=2019-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@autorestsdk.com\",\r\n    \"publisherName\": \"autorestsdk\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Developer\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\",\r\n    \"tag3\": \"value3\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"AAAAAAAHPfk=\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi\",\r\n  \"name\": \"sdktestservicemapi\",\r\n  \"type\": \"Microsoft.ApiManagement/service\",\r\n  \"tags\": {\r\n    \"tag1\": \"value1\",\r\n    \"tag2\": \"value2\",\r\n    \"tag3\": \"value3\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"etag\": \"AAAAAAAHPfk=\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@autorestsdk.com\",\r\n    \"publisherName\": \"autorestsdk\",\r\n    \"notificationSenderEmail\": \"apimgmt-noreply@mail.windowsazure.com\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"targetProvisioningState\": \"\",\r\n    \"createdAtUtc\": \"2020-01-15T02:10:29.8101523Z\",\r\n    \"gatewayUrl\": \"https://sdktestservicemapi.preview.int-azure-api.net\",\r\n    \"gatewayRegionalUrl\": \"https://sdktestservicemapi-eastus-01.regional.preview.int-azure-api.net\",\r\n    \"portalUrl\": \"https://sdktestservicemapi.portal.preview.int-azure-api.net\",\r\n    \"developerPortalUrl\": \"https://sdktestservicemapi.developer.preview.int-azure-api.net\",\r\n    \"managementApiUrl\": \"https://sdktestservicemapi.management.preview.int-azure-api.net\",\r\n    \"scmUrl\": \"https://sdktestservicemapi.scm.preview.int-azure-api.net\",\r\n    \"hostnameConfigurations\": [\r\n      {\r\n        \"type\": \"Proxy\",\r\n        \"hostName\": \"sdktestservicemapi.preview.int-azure-api.net\",\r\n        \"encodedCertificate\": null,\r\n        \"keyVaultId\": null,\r\n        \"certificatePassword\": null,\r\n        \"negotiateClientCertificate\": false,\r\n        \"certificate\": null,\r\n        \"defaultSslBinding\": true\r\n      }\r\n    ],\r\n    \"publicIPAddresses\": [\r\n      \"52.170.235.245\"\r\n    ],\r\n    \"privateIPAddresses\": null,\r\n    \"additionalLocations\": null,\r\n    \"virtualNetworkConfiguration\": null,\r\n    \"customProperties\": {\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30\": \"False\",\r\n      \"Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2\": \"False\"\r\n    },\r\n    \"virtualNetworkType\": \"None\",\r\n    \"certificates\": [],\r\n    \"disableGateway\": false,\r\n    \"apiVersionConstraint\": {\r\n      \"minApiVersion\": null\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Developer\",\r\n    \"capacity\": 1\r\n  },\r\n  \"identity\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762?api-version=2019-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"path\": \"openapi4\",\r\n    \"value\": \"{\\r\\n    \\\"openapi\\\": \\\"3.0.0\\\",\\r\\n    \\\"servers\\\": [\\r\\n        {\\r\\n            \\\"url\\\": \\\"http://petstore.swagger.io/v2\\\"\\r\\n        }\\r\\n    ],\\r\\n    \\\"info\\\": {\\r\\n        \\\"description\\\": \\\":dog: :cat: :rabbit: This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.\\\",\\r\\n        \\\"version\\\": \\\"1.0.0\\\",\\r\\n        \\\"title\\\": \\\"Swagger Petstore\\\",\\r\\n        \\\"termsOfService\\\": \\\"http://swagger.io/terms/\\\",\\r\\n        \\\"contact\\\": {\\r\\n            \\\"email\\\": \\\"apiteam@swagger.io\\\"\\r\\n        },\\r\\n        \\\"license\\\": {\\r\\n            \\\"name\\\": \\\"Apache 2.0\\\",\\r\\n            \\\"url\\\": \\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"\\r\\n        }\\r\\n    },\\r\\n    \\\"tags\\\": [\\r\\n        {\\r\\n            \\\"name\\\": \\\"pet\\\",\\r\\n            \\\"description\\\": \\\"Everything about your Pets\\\",\\r\\n            \\\"externalDocs\\\": {\\r\\n                \\\"description\\\": \\\"Find out more\\\",\\r\\n                \\\"url\\\": \\\"http://swagger.io\\\"\\r\\n            }\\r\\n        },\\r\\n        {\\r\\n            \\\"name\\\": \\\"store\\\",\\r\\n            \\\"description\\\": \\\"Access to Petstore orders\\\"\\r\\n        },\\r\\n        {\\r\\n            \\\"name\\\": \\\"user\\\",\\r\\n            \\\"description\\\": \\\"Operations about user\\\",\\r\\n            \\\"externalDocs\\\": {\\r\\n                \\\"description\\\": \\\"Find out more about our store\\\",\\r\\n                \\\"url\\\": \\\"http://swagger.io\\\"\\r\\n            }\\r\\n        }\\r\\n    ],\\r\\n    \\\"paths\\\": {\\r\\n        \\\"/pet\\\": {\\r\\n            \\\"post\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Add a new pet to the store\\\",\\r\\n                \\\"description\\\": \\\"\\\",\\r\\n                \\\"operationId\\\": \\\"addPet\\\",\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"405\\\": {\\r\\n                        \\\"description\\\": \\\"Invalid input\\\"\\r\\n                    }\\r\\n                },\\r\\n                \\\"security\\\": [\\r\\n                    {\\r\\n                        \\\"petstore_auth\\\": [\\r\\n                            \\\"write:pets\\\",\\r\\n                            \\\"read:pets\\\"\\r\\n                        ]\\r\\n                    }\\r\\n                ],\\r\\n                \\\"requestBody\\\": {\\r\\n                    \\\"$ref\\\": \\\"#/components/requestBodies/Pet\\\"\\r\\n                },\\r\\n                \\\"parameters\\\": []\\r\\n            },\\r\\n            \\\"put\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Update an existing pet\\\",\\r\\n                \\\"description\\\": \\\"\\\",\\r\\n                \\\"operationId\\\": \\\"updatePet\\\",\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"400\\\": {\\r\\n                        \\\"description\\\": \\\"Invalid ID supplied\\\"\\r\\n                    },\\r\\n                    \\\"404\\\": {\\r\\n                        \\\"description\\\": \\\"Pet not found\\\"\\r\\n                    },\\r\\n                    \\\"405\\\": {\\r\\n                        \\\"description\\\": \\\"Validation exception\\\"\\r\\n                    }\\r\\n                },\\r\\n                \\\"security\\\": [\\r\\n                    {\\r\\n                        \\\"petstore_auth\\\": [\\r\\n                            \\\"write:pets\\\",\\r\\n                            \\\"read:pets\\\"\\r\\n                        ]\\r\\n                    }\\r\\n                ],\\r\\n                \\\"requestBody\\\": {\\r\\n                    \\\"$ref\\\": \\\"#/components/requestBodies/Pet\\\"\\r\\n                },\\r\\n                \\\"parameters\\\": []\\r\\n            }\\r\\n        },\\r\\n        \\\"/pet/findByStatus\\\": {\\r\\n            \\\"get\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Finds Pets by status\\\",\\r\\n                \\\"description\\\": \\\"Multiple status values can be provided with comma separated strings\\\",\\r\\n                \\\"operationId\\\": \\\"findPetsByStatus\\\",\\r\\n                \\\"parameters\\\": [\\r\\n                    {\\r\\n                        \\\"name\\\": \\\"status\\\",\\r\\n                        \\\"in\\\": \\\"query\\\",\\r\\n                        \\\"description\\\": \\\"Status values that need to be considered for filter\\\",\\r\\n                        \\\"required\\\": true,\\r\\n                        \\\"explode\\\": true,\\r\\n                        \\\"schema\\\": {\\r\\n                            \\\"type\\\": \\\"array\\\",\\r\\n                            \\\"items\\\": {\\r\\n                                \\\"type\\\": \\\"string\\\",\\r\\n                                \\\"enum\\\": [\\r\\n                                    \\\"available\\\",\\r\\n                                    \\\"pending\\\",\\r\\n                                    \\\"sold\\\"\\r\\n                                ],\\r\\n                                \\\"default\\\": \\\"available\\\"\\r\\n                            }\\r\\n                        }\\r\\n                    }\\r\\n                ],\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"200\\\": {\\r\\n                        \\\"description\\\": \\\"successful operation\\\",\\r\\n                        \\\"content\\\": {\\r\\n                            \\\"application/xml\\\": {\\r\\n                                \\\"schema\\\": {\\r\\n                                    \\\"type\\\": \\\"array\\\",\\r\\n                                    \\\"items\\\": {\\r\\n                                        \\\"$ref\\\": \\\"#/components/schemas/Pet\\\"\\r\\n                                    }\\r\\n                                }\\r\\n                            },\\r\\n                            \\\"applica[...]
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762?api-version=2019-12-01-preview&asyncId=5e73e6a207b43d1b24e97422&asyncCode=201",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"AAAAAAAALcY=\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"aid4762\",\r\n  \"properties\": {\r\n    \"displayName\": \"Swagger Petstore\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \":dog: :cat: :rabbit: This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.\",\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://petstore.swagger.io/v2\",\r\n    \"path\": \"openapi4\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762?format=openapi-link&export=true&api-version=2019-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"AAAAAAAALcY=\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762\",\r\n  \"format\": \"openapi-link\",\r\n  \"value\": {\r\n    \"link\": \"https://apimstefvgp0mngpmb4egru0.blob.core.windows.net/api-export/Swagger Petstore.yaml?sv=2017-04-17&sr=b&sig=ySqbhO0%2FVjKd2Ef4XAy0%2B5YBEqyaNw0dNkU2DOdVPKk%3D&se=2020-03-19T21:45:18Z&sp=r\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/apis/aid4762?api-version=2019-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/tags?api-version=2019-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },[...]
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/tags/pet?api-version=2019-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/tags/store?api-version=2019-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3/resourceGroups/ApiM-SDK-EastUS/providers/Microsoft.ApiManagement/service/sdktestservicemapi/tags/user?api-version=2019-12-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "OpenApiInJsonTest": [
      "aid4762"
    ]
  },
  "Variables": {
    "SubscriptionId": "74f34d9c-50ed-4d7a-a1a8-88d2aed13ac3",
    "TestCertificate": "MIIHEwIBAzCCBs8GCSqGSIb3DQEHAaCCBsAEgga8MIIGuDCCA9EGCSqGSIb3DQEHAaCCA8IEggO+MIIDujCCA7YGCyqGSIb3DQEMCgECoIICtjCCArIwHAYKKoZIhvcNAQwBAzAOBAidzys9WFRXCgICB9AEggKQRcdJYUKe+Yaf12UyefArSDv4PBBGqR0mh2wdLtPW3TCs6RIGjP4Nr3/KA4o8V8MF3EVQ8LWd/zJRdo7YP2Rkt/TPdxFMDH9zVBvt2/4fuVvslqV8tpphzdzfHAMQvO34ULdB6lJVtpRUx3WNUSbC3h5D1t5noLb0u0GFXzTUAsIw5CYnFCEyCTatuZdAx2V/7xfc0yF2kw/XfPQh0YVRy7dAT/rMHyaGfz1MN2iNIS048A1ExKgEAjBdXBxZLbjIL6rPxB9pHgH5AofJ50k1dShfSSzSzza/xUon+RlvD+oGi5yUPu6oMEfNB21CLiTJnIEoeZ0Te1EDi5D9Sr[...]
