{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9cb647dd-f74b-784f-51e0-e58d53943125?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 17 Feb 2021 22:17:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D391D8FBE2E9\"",
        "Last-Modified": "Wed, 17 Feb 2021 22:17:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9cb647dd-f74b-784f-51e0-e58d53943125?restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:17:43 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D391D8FBE2E9\"",
        "Last-Modified": "Wed, 17 Feb 2021 22:17:43 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9cb647dd-f74b-784f-51e0-e58d53943125?sv=2022-11-02&ss=b&srt=sco&st=2021-02-17T21%3A17%3A43Z&se=2021-02-17T23%3A17%3A43Z&sp=rwdxlact&sig=Sanitized&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D391D8FBE2E9\"",
        "Last-Modified": "Wed, 17 Feb 2021 22:17:43 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-9cb647dd-f74b-784f-51e0-e58d53943125?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 17 Feb 2021 22:17:44 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-17T16:17:43.8727731-06:00",
    "RandomSeed": "1816168727",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}