{
  "Entries": [
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D89B85584\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:11 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D8A586E48\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459/test-directory-6f531165-9f1b-68ee-8d20-d0f2841fb26b?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D8A686C91\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459/test-directory-6f531165-9f1b-68ee-8d20-d0f2841fb26b/test-directory-3b62b713-7dde-72d0-f633-391fc2868141?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D8A772305\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459/test-directory-6f531165-9f1b-68ee-8d20-d0f2841fb26b/test-directory-3b62b713-7dde-72d0-f633-391fc2868141/test-directory-4a41a1b2-9d74-728e-788c-058a709f63f8?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D8A859868\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.dfs.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459/test-directory-6f531165-9f1b-68ee-8d20-d0f2841fb26b/test-directory-3b62b713-7dde-72d0-f633-391fc2868141/test-directory-4a41a1b2-9d74-728e-788c-058a709f63f8/test-file-dd37237a-5236-6036-496c-7558659ded31?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D87A9D8A96BEBE\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764/test-directory-c7e36b72-4897-d5d5-ebf6-6ba1db026459/test-directory-6f531165-9f1b-68ee-8d20-d0f2841fb26b/test-directory-3b62b713-7dde-72d0-f633-391fc2868141/test-directory-4a41a1b2-9d74-728e-788c-058a709f63f8?sv=2020-04-08\u0026st=2020-10-27T16%3A27%3A12Z\u0026se=2020-10-27T18%3A27%3A12Z\u0026sr=d\u0026sp=racwdlmeop\u0026sdd=4\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D87A9D8A859868\u0022",
        "Last-Modified": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 27 Oct 2020 17:27:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandaadlscanary2.blob.core.windows.net/test-filesystem-c5935c65-d791-4011-7ae3-2c75abc91764?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-27T10:27:12.7030971-07:00",
    "RandomSeed": "1242983473",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\namandaadlscanary2\nU2FuaXRpemVk\nhttp://amandaadlscanary2.blob.core.windows.net\nhttp://amandaadlscanary2.file.core.windows.net\nhttp://amandaadlscanary2.queue.core.windows.net\nhttp://amandaadlscanary2.table.core.windows.net\n\n\n\n\nhttp://amandaadlscanary2-secondary.blob.core.windows.net\nhttp://amandaadlscanary2-secondary.file.core.windows.net\nhttp://amandaadlscanary2-secondary.queue.core.windows.net\n\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=http://amandaadlscanary2.blob.core.windows.net/;QueueEndpoint=http://amandaadlscanary2.queue.core.windows.net/;FileEndpoint=http://amandaadlscanary2.file.core.windows.net/;BlobSecondaryEndpoint=http://amandaadlscanary2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://amandaadlscanary2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://amandaadlscanary2-secondary.file.core.windows.net/;AccountName=amandaadlscanary2;AccountKey=Sanitized\n"
  }
}