{
  "Entries": [
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084EAA3BCB\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084EBE4C6C\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07/test-directory-ae6a8f21-ecfa-ba52-bcbe-2985e23198e9?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084ECCFB4D\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07/test-directory-ae6a8f21-ecfa-ba52-bcbe-2985e23198e9/test-directory-eeeb8ca3-f5ad-7892-8756-eb631ddfd6dc?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084ED97CEE\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07/test-directory-ae6a8f21-ecfa-ba52-bcbe-2985e23198e9/test-directory-eeeb8ca3-f5ad-7892-8756-eb631ddfd6dc/test-directory-5b09f999-01ac-e6af-525b-085f0a30a6bd?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084EE90DC4\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.dfs.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07/test-directory-ae6a8f21-ecfa-ba52-bcbe-2985e23198e9/test-directory-eeeb8ca3-f5ad-7892-8756-eb631ddfd6dc/test-directory-5b09f999-01ac-e6af-525b-085f0a30a6bd/test-file-ff7196a0-ba7e-1afd-116c-415a82827d73?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8D8D5084EF6A80F\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de/test-directory-4c334a14-c167-0312-04a2-11cb18fc3b07/test-directory-ae6a8f21-ecfa-ba52-bcbe-2985e23198e9/test-directory-eeeb8ca3-f5ad-7892-8756-eb631ddfd6dc/test-directory-5b09f999-01ac-e6af-525b-085f0a30a6bd?sv=2023-01-03&st=2021-02-19T17%3A58%3A14Z&se=2021-02-19T19%3A58%3A14Z&sr=d&sp=racwdlmeop&sdd=4&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8D8D5084EE90DC4\"",
        "Last-Modified": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 19 Feb 2021 18:58:13 GMT",
        "x-ms-group": "c4f48289-bb84-4086-b250-6f94a8f64cee",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-owner": "c4f48289-bb84-4086-b250-6f94a8f64cee",
        "x-ms-permissions": "rwxr-x---",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://seannse.blob.core.windows.net/test-filesystem-02986d06-5811-183b-3900-71f089edd5de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2021-02-19T12:58:14.1764614-06:00",
    "RandomSeed": "725953596",
    "Storage_TestConfigHierarchicalNamespace": "NamespaceTenant\nseannse\nU2FuaXRpemVk\nhttps://seannse.blob.core.windows.net\nhttps://seannse.file.core.windows.net\nhttps://seannse.queue.core.windows.net\nhttps://seannse.table.core.windows.net\n\n\n\n\nhttps://seannse-secondary.blob.core.windows.net\nhttps://seannse-secondary.file.core.windows.net\nhttps://seannse-secondary.queue.core.windows.net\nhttps://seannse-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seannse.blob.core.windows.net/;QueueEndpoint=https://seannse.queue.core.windows.net/;FileEndpoint=https://seannse.file.core.windows.net/;BlobSecondaryEndpoint=https://seannse-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seannse-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seannse-secondary.file.core.windows.net/;AccountName=seannse;AccountKey=Sanitized\n\n\n"
  }
}