{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames/csmtg4292?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames/csmtg4292\",\r\n  \"tagName\": \"csmtg4292\",\r\n  \"count\": {\r\n    \"type\": \"Total\",\r\n    \"value\": 0\r\n  },\r\n  \"values\": []\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames/csmtg4292/tagValues/csmtgv8929?api-version=2021-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames/csmtg4292/tagValues/csmtgv8929\",\r\n  \"tagValue\": \"csmtgv8929\",\r\n  \"count\": {\r\n    \"type\": \"Total\",\r\n    \"value\": 0\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a93e8c5c-[...]
[...]
    {
      "RequestUri": "/subscriptions/a93e8c5c-63cb-4635-933f-6d166ac25187/tagNames/csmtg4292?api-version=2021-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateListAndDeleteSubscriptionTagValue": [
      "csmtg4292",
      "csmtgv8929"
    ]
  },
  "Variables": {
    "SubscriptionId": "a93e8c5c-63cb-4635-933f-6d166ac25187"
  }
}