{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/attached?referenceName=%2Fsubscriptions%2Fd941aad1-e4af-44a5-a70e-0381a9f702f1%2Fresourcegroups%2Fdev-rg%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Fconsumeraccount&api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-06-12T04:04:14.1369877Z",
              "sharedAt": "2023-06-12T04:04:14.1369877Z",
              "displayName": "testDisplayName1",
              "state": "Succeeded",
              "shareStatus": "Attached",
              "sentShareDescription": "updatedDescription",
              "receiverName": "sdk-05-30-share",
              "receiverTenantName": "Microsoft",
              "senderName": "sdk-05-30-share",
              "senderTenantName": "Microsoft",
              "assetLocation": "australiaeast",
              "assetStoreKind": "AdlsGen2Account",
              "sink": {
                "properties": {
                  "containerName": "container222613",
                  "folder": "folder222613",
                  "mountPath": "",
                  "location": "australiaeast"
                },
                "storeKind": "AdlsGen2Account",
                "storeReference": {
                  "referenceName": "/subscriptions/d941aad1-e4af-44a5-a70e-0381a9f702f1/resourcegroups/dev-rg/providers/Microsoft.Storage/storageAccounts/consumeraccount",
                  "type": "ArmResourceReference"
                }
              }
            },
            "shareKind": "InPlace",
            "id": "098d6c8e-165f-4cf1-9653-79f6a7f99048",
            "type": "ReceivedShare"
          },
          {
            "properties": {
              "createdAt": "2023-06-12T03:59:44.2894837Z",
              "sharedAt": "2023-06-12T03:59:44.2894837Z",
              "displayName": "testDisplayName1",
              "state": "Succeeded",
              "shareStatus": "Attached",
              "sentShareDescription": "updatedDescription",
              "receiverName": "sdk-05-30-share",
              "rec[...]
