{
  "Entries": [
    {
      "RequestUri": "https://smstestapp.communication.azure.com/alphaIds/configuration?api-version=2022-09-26-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 Aug 2022 20:56:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "api-supported-versions": "2022-09-26-preview",
        "Content-Type": "application/json",
        "MS-CV": "fAlsV0T48kymyvoKBpuNLw.0",
        "X-Processing-Time": "154ms"
      },
      "ResponseBody": {
        "error": {
          "code": "Forbidden",
          "message": "Subscription with subscriptionId 50ad1522-5c2c-4d9a-a6c8-67c11ecb75b8 is not eligible for Alpha IDs usage.",
          "target": "subscriptionid"
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://smstestapp.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1445882688"
  }
}
