{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11530"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-363?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "968"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363",
        "name": "testRG-363",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542?api-version=2022-03-03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/capsOperations/16a0f5aa-ed4b-4a44-b08b-4580c96875ce?api-version=2022-03-03",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateGallery3Min;37,Microsoft.Compute/CreateUpdateGallery30Min;273",
        "x-ms-ratelimit-remaining-subscription-writes": "967"
      },
      "ResponseBody": {
        "name": "testGallery_6542",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542",
        "type": "Microsoft.Compute/galleries",
        "location": "eastus",
        "tags": {},
        "properties": {
          "identifier": {
            "uniqueName": "db1ab6f0-4769-4b27-930e-01e2ef9c123c-TESTGALLERY_6542"
          },
          "provisioningState": "Creating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/capsOperations/16a0f5aa-ed4b-4a44-b08b-4580c96875ce?api-version=2022-03-03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperationStatus3Min;1038,Microsoft.Compute/GetOperationStatus30Min;3994",
        "x-ms-ratelimit-remaining-subscription-reads": "11529"
      },
      "ResponseBody": {
        "startTime": "2022-09-30T02:30:52.0273247\u002B00:00",
        "endTime": "2022-09-30T02:30:52.10546\u002B00:00",
        "status": "Succeeded",
        "name": "16a0f5aa-ed4b-4a44-b08b-4580c96875ce"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542/images/testGallery_8072?api-version=2022-03-03",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "osType": "Linux",
          "identifier": {
            "publisher": "publisher5421",
            "offer": "offer7607",
            "sku": "sku6059"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/capsOperations/feb75122-1295-40c9-be83-45cf327e34c4?api-version=2022-03-03",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateGalleryImage3Min;136,Microsoft.Compute/CreateUpdateGalleryImage30Min;736",
        "x-ms-ratelimit-remaining-subscription-writes": "966"
      },
      "ResponseBody": {
        "name": "testGallery_8072",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542/images/testGallery_8072",
        "type": "Microsoft.Compute/galleries/images",
        "location": "eastus",
        "tags": {},
        "properties": {
          "hyperVGeneration": "V1",
          "architecture": "x64",
          "osType": "Linux",
          "osState": "Generalized",
          "identifier": {
            "publisher": "publisher5421",
            "offer": "offer7607",
            "sku": "sku6059"
          },
          "provisioningState": "Creating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542/images/testGallery_8072?api-version=2022-03-03",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetGalleryImage3Min;509,Microsoft.Compute/GetGalleryImage30Min;2909",
        "x-ms-ratelimit-remaining-subscription-reads": "11525"
      },
      "ResponseBody": {
        "name": "testGallery_8072",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-363/providers/Microsoft.Compute/galleries/testGallery_6542/images/testGallery_8072",
        "type": "Microsoft.Compute/galleries/images",
        "location": "eastus",
        "tags": {},
        "properties": {
          "hyperVGeneration": "V1",
          "architecture": "x64",
          "osType": "Linux",
          "osState": "Generalized",
          "identifier": {
            "publisher": "publisher5421",
            "offer": "offer7607",
            "sku": "sku6059"
          },
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1011524328",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
