{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B88D7BF72\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394/test-blob-f7c1ad02-ef47-fe8c-1777-42b83cbea4b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B88E13439\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:18.6063929Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394/test-blob-f7c1ad02-ef47-fe8c-1777-42b83cbea4b4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B88E13439\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "nCc3s4h2eAKdPAa7HVNdZFuBJ\u002B5QEk5pQ/w1m/QXPNlUVR\u002B4ob9xrSnTgwlPXB9Z/UVd0BIycYnYznCMQdwOhgAsZ8g0pMObD3nEfI9FGebd252uumvGIuSV39NP5WxNxf0IIvVXJVmBwcGYbfT6k7SJr2U/X8uUZUXjnsXwTCkNd7eSPPfxhrZELfmqLrTwm0wfxTYGDWUxdLyvc4eUkXSXivU8Z1a8mCmv\u002BzLS6jeQ8wJ40IfzB2lSYMg6QRIusJuEEqO/szP2Yi0NVxIyXomEH4CEG8Hto4OL6gaNgVYWgEuXTteT0UDPgm5a5rBXIAI\u002B[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394/test-blob-f7c1ad02-ef47-fe8c-1777-42b83cbea4b4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B88EA81B1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:18.6063929Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394/test-blob-f7c1ad02-ef47-fe8c-1777-42b83cbea4b4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30B88EA81B1\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B88EA81B1\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:18.6063929Z"
      },
      "ResponseBody": "nCc3s4h2eAKdPAa7HVNdZFuBJ\u002B5QEk5pQ/w1m/QXPNlUVR\u002B4ob9xrSnTgwlPXB9Z/UVd0BIycYnYznCMQdwOhgAsZ8g0pMObD3nEfI9FGebd252uumvGIuSV39NP5WxNxf0IIvVXJVmBwcGYbfT6k7SJr2U/X8uUZUXjnsXwTCk="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-18ca6da0-3530-3d0f-3dce-7b4a90263394?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1706844224",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}