{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b0719986-dc3a-3622-b61b-a84655b5fde5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B75165EBB\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b0719986-dc3a-3622-b61b-a84655b5fde5/test-blob-c0e88035-1de3-82f4-07b4-98de81c1c783",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B751FA6BD\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:45.4612157Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b0719986-dc3a-3622-b61b-a84655b5fde5/test-blob-c0e88035-1de3-82f4-07b4-98de81c1c783?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B751FA6BD\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "PkR2cNarJGhne5tRIpc06T6/A6/4SLstD3ngTi4ycOq4rky9VWwTmIFUTq\u002BjI\u002BRv9AbBxieBE/aJSWBcytY5NQuwmHNKd5TSrGsuo/kMieuVcFkocKrCN5tWNAwLts2qGxmk8opwJH1x7hq8U2/8fMB1x1p9EMRh7mHY80OIx/Wdg4jgaJZgJEvctoKPBeMsWbdMlu5zLQpVQgQpmDE56SYkH9DnHBQpFKMOoVlB0eh9rJmMPDEGKlV9iiWSN4waos1ba\u002BYTRD2iIoJLZIyxE3Ebq\u002BuXra31HfR6aZHvl9wW8/\u002BM5WUCaWdc6Rmvu8X[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b0719986-dc3a-3622-b61b-a84655b5fde5/test-blob-c0e88035-1de3-82f4-07b4-98de81c1c783",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B755F8CA4\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:45.4612157Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b0719986-dc3a-3622-b61b-a84655b5fde5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:45 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1056881545",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}