{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8ee47afb-6237-b5eb-ca9d-8c388916e333?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B82B54BEB\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8ee47afb-6237-b5eb-ca9d-8c388916e333/test-blob-88c08794-de4f-aa94-f090-3b37848c6cbd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B82BE97E7\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:08.3132391Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8ee47afb-6237-b5eb-ca9d-8c388916e333/test-blob-88c08794-de4f-aa94-f090-3b37848c6cbd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B82BE97E7\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ora0tSesTY6e\u002Bc109hlO0mIljsvwcmsjBdBxYbTx2kEMIi\u002BvQ4U//nCW0s44syEhOOSI6/LpWTBKkK9WOuvarB\u002BLZ9Tpn47c5Y9aWp\u002Bd61KuUCjPaO5PI8j/ZLPW6cSFvCaurUxNN5lWrAZij/\u002BQraVcqOnDCkMxO0QL6jrbBfzL1Z157j4GYRiOebzn7ZPJbrcNeUDawbLifXEHQUxfeqYKl7lhFr9nVkbRNJGHSU6wQnuCzoy78RPrl3DM/h/LL/4V3VbaZ1j4pSP6CI0gWzQjV//Q3KwaT6Wldn9Om1cnBQWScWz31dsjiihowOi[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8ee47afb-6237-b5eb-ca9d-8c388916e333/test-blob-88c08794-de4f-aa94-f090-3b37848c6cbd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B82FECBE4\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:08.3132391Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8ee47afb-6237-b5eb-ca9d-8c388916e333?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:08 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1554977560",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}