{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C6CEEE4FA\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27/test-blob-364e7ad1-43a5-b8fe-94ff-3b5abf97d8ef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30C6CF8AB4C\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:06:41.2806988Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27/test-blob-364e7ad1-43a5-b8fe-94ff-3b5abf97d8ef?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30C6CF8AB4C\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "H6s261ne0kqNU6Llc/Q77UujHAgEv4dKxWaqGwKJKnMn\u002BfZHVt2R\u002BWQajkzHuM8Ueu86PBiaN2Ak7CXzM7ZHBCgvvnn99JduEiOk6TA6gg2WlaETTu5ajMKWImm3nsWt04ojmPlVFoVYzCr19k4v6WkYXJ0VNLU61TG3Z9EttnNd9hamF\u002BoTQX4bu4HEZJZ0ZzgAn0EnmJ/U6MPInq\u002B0Kxa2l/84idJ/BBsf\u002BXk0dXCbQwCYLBcyNl520S4nS6PPZ5BrDs2WPN1mgZomCJ4moHJSLFuvG/7\u002Bg2CgwbekWLl3T5LoyGejBAciMq[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27/test-blob-364e7ad1-43a5-b8fe-94ff-3b5abf97d8ef",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C6D021FCD\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:06:41.2806988Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27/test-blob-364e7ad1-43a5-b8fe-94ff-3b5abf97d8ef",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30C6D021FCD\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30C6D021FCD\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:06:41.2806988Z"
      },
      "ResponseBody": "H6s261ne0kqNU6Llc/Q77UujHAgEv4dKxWaqGwKJKnMn\u002BfZHVt2R\u002BWQajkzHuM8Ueu86PBiaN2Ak7CXzM7ZHBCgvvnn99JduEiOk6TA6gg2WlaETTu5ajMKWImm3nsWt04ojmPlVFoVYzCr19k4v6WkYXJ0VNLU61TG3Z9EttnNd9hamF\u002BoTQX4bu4HEZJZ0ZzgAn0EnmJ/U6MPInq\u002B0Kxa2l/84idJ/BBsf\u002BXk0dXCbQwCYLBcyNl520S4nS6PPZ5BrDs2WPN1mgZomCJ4moHJSLFuvG/7\u002Bg2CgwbekWLl3T5LoyGejBAciMqt8Cy7AUDG71B5IH0yRbIps9XolwinhrrgLPdcLrydUjehTgngy4HCG6IOaLzBGV1zdNg6M/HCCm1x1tBNZryT29JJjPuoSORUKn9mlRn\u002BHxeV7LngYx5B40ecbvCxcLDhfozud4hlyy/35gV2W3FTd7e4t3oGs3iwC620C9nzprXKgRaJD6uPMCWN7H0Yy4vSSPs49L022s8UPm/esb9SAENTr9ZaxmgMKYdUeML7l0Al4cLitq34k6ZLdM07sIJmO\u002Bg5xR\u002Bxd4KTLMs14mIIGKcvtM/8c0mRWxgsE1Ga0HkA7kDawdIkcG48T4niwrFEQ1gqD/u2acSepG4DgWQw9FhSNPQhLVrVC0RhvCO/spRq58/4="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-4a5d9d29-a9b0-2e0a-7914-8ef33f69db27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:06:41 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1711418384",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}