{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b9b049fc-c2e3-c347-4cd1-b4ea06286f65?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BA1076CD9\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b9b049fc-c2e3-c347-4cd1-b4ea06286f65/test-blob-29390083-7ba0-4010-c314-ca4b5bdda39a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BA110E83A\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:59.1843386Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b9b049fc-c2e3-c347-4cd1-b4ea06286f65/test-blob-29390083-7ba0-4010-c314-ca4b5bdda39a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30BA110E83A\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "ddq7rrr0mY7OJiP6goHxx9WOYTv1vhgI2WwOOIEodhkGtFH4ykxrlDGl4iabBC/HjSV8hBqmlrfBstVO5mAMpbAJ880v\u002Bf2IIs0JT9vxbNU9RqtcrPL/Xx2aNhd3Ha3QmTx1khBhl5Mn9GFNnUbb0EUAEZ\u002B1r/m\u002BCpSvlcPmEQUfObaee9rE264XNLiQscLXvmbRdgsNG\u002BlDt4d7sQLPQeJbLWSPPFRrOzXxnXtBLVjR2NZdFZv6Eh3NW8RSSSqsR/PVNIReR4ESZTrWHH1uAYkvqdgrcixHYRtGwuGPGPILRVWHa/jTc5FVS69gJPWfX1k6[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b9b049fc-c2e3-c347-4cd1-b4ea06286f65/test-blob-29390083-7ba0-4010-c314-ca4b5bdda39a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BA119C091\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:59.1843386Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-b9b049fc-c2e3-c347-4cd1-b4ea06286f65?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "459740955",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}