{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B842FA689\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7/test-blob-cb009dcc-2280-81f3-3c44-d558d09beb25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B843FF6D3\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:10.8388051Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7/test-blob-cb009dcc-2280-81f3-3c44-d558d09beb25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B843FF6D3\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "rJ4q6DKK0WChOWXiBHNGFGz0ZBmYKq/Hrl9SN49EtZi/LgA6\u002BQ3wIckjas4cirfZjbXyR6QV7ILuYzrTN5rRXYTNItZyCxteBENQdL/hqiOnearaUW30qkF\u002BTJbTHOkuUg1KT2jhZoGZlEJhxXfCDbgWK77w9gsW2HiU9L\u002BEi\u002BhaISKyllu7xhIoQL0qk\u002BTKvD7evPAqPVsCM3bvTHLBFQlaBqRVD3ZcW2WsyLZN7EWUyjiAps73L\u002BPGsGPky3qfZiu0z4w/dazIgWGLfXWltEYxW4I6QW86Y9bBjl8SeJDqDGGLmRy5VFSLuC[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7/test-blob-cb009dcc-2280-81f3-3c44-d558d09beb25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B8448CF29\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:10.8388051Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7/test-blob-cb009dcc-2280-81f3-3c44-d558d09beb25",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30B8448CF29\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B8448CF29\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-072a45b9-b8d1-1e20-3961-1710b41c37b7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:11 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "648545114",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}