{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B896A25FD\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554/test-blob-5e7cfeb4-0c2a-6132-3f93-61572e6dfcab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B8973E904\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:19.5678468Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554/test-blob-5e7cfeb4-0c2a-6132-3f93-61572e6dfcab?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B8973E904\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "asVHvSU8PgON0MPXKc2P/1lj5m6K4sD9ufqcH9ChATk96/Jz0t2q/1IaRMPHpKDZlTcQrawT4IcFSgQqnx4y68\u002BKmT3bGyx8uOYbcJ78NhRZw4qZkVOMKgpqbYjYf18051n0PQpj/nkKlPTG93DpCRPw0dyTmVl7/W8ycK2kozmG54hEB/gK9sUQjv1fxjKagGR06K6DoE3/eUCaMI3MZvC7QBDnpQEb5toWgwpcGzY8mO9IL7qKAkY7RI63b8U4RCgMpIYisttjWALTbR1Do10JXZidgzY1MD3JrGBzY3YU3j7iT3ewGuUT5de4t5Up\u002BKEwrhEtmsHy1n[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554/test-blob-5e7cfeb4-0c2a-6132-3f93-61572e6dfcab",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B897CE866\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:19.5678468Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554/test-blob-5e7cfeb4-0c2a-6132-3f93-61572e6dfcab",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30B897CE866\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B897CE866\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:00:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:00:19.5678468Z"
      },
      "ResponseBody": "asVHvSU8PgON0MPXKc2P/1lj5m6K4sD9ufqcH9ChATk96/Jz0t2q/1IaRMPHpKDZlTcQrawT4IcFSgQqnx4y68\u002BKmT3bGyx8uOYbcJ78NhRZw4qZkVOMKgpqbYjYf18051n0PQpj/nkKlPTG93DpCRPw0dyTmVl7/W8ycK2kozk="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-8fe3990a-7f96-c829-19f5-3322ffa8b554?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:20 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1285116917",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}