{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B7DBCFBE4\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95/test-blob-92b716dd-9412-a1a0-f771-7aae1c3c811b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B7DC66D7A\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:59.9759738Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95/test-blob-92b716dd-9412-a1a0-f771-7aae1c3c811b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B7DC66D7A\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "\u002BMGoFYHLaghhtK98oqzi1LZolT9hisuRzd\u002BVm0M4rlLXPnoL1dg81vqHXxW6rtC3m1DLDKzpM232F0ihNc/EKAVdpGQx1v7eLL5F2iu11x4P3gDybaKm7QsNFb2Qm6ErwjYPXApshsVS7eDupFhBQUApklfP0btjtrZYI8FATZAdGRj1pXoUolg6oIDCt0izzNN9ZglJXPB7rKZTFGIEEZ9P0Ys/TJvFFe/\u002BlDA6oP9upVftw\u002BaG070nefnUwI71No/gcua9c384t1AaS8e/QAum5W4LFk64yP3NGNKi8VVgCV2hWS4YsDLXtAuWbIj1Zzju[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95/test-blob-92b716dd-9412-a1a0-f771-7aae1c3c811b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B7DD733EB\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:59.9759738Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95/test-blob-92b716dd-9412-a1a0-f771-7aae1c3c811b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30B7DD733EB\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B7DD733EB\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 22:59:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:59.9759738Z"
      },
      "ResponseBody": "\u002BMGoFYHLaghhtK98oqzi1LZolT9hisuRzd\u002BVm0M4rlLXPnoL1dg81vqHXxW6rtC3m1DLDKzpM232F0ihNc/EKAVdpGQx1v7eLL5F2iu11x4P3gDybaKm7QsNFb2Qm6ErwjYPXApshsVS7eDupFhBQUApklfP0btjtrZYI8FATZA="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-44d81c71-767d-b01f-52a5-2637a5f14b95?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:00:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "653519541",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}