{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BA1A0D747\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88/test-blob-15904ba4-0d5e-03a6-3c05-e4fed029895a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30BA1AA2BBF\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:01:00.1887679Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88/test-blob-15904ba4-0d5e-03a6-3c05-e4fed029895a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30BA1AA2BBF\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "MJgiEEqWKvWyhgToTRwVMG24aAONEjkPAvwXgMNZno9I2WUREb0BI4RrSsjMoBjPWy8MQdjYFB1eEw5NfqkxWeh1oHS2BB6vtkV\u002BIshxQmHkSCWUTFy2b8RHsv6vtKTbOfHfVwCjGFcQXIqTWfJV7dCsaTaEnQyLvjCwblIfAAKgo\u002BjXketgQC/Og/DRIxXR8sQuAkpuV5vlU5jQ86kF8VyI87YJflvkTCkGthobupoa3nyN8f23MUtN8T5Sj0yGyJGUSTBfx3NpSbYhaKGAyZn\u002BthUsdwBe0MFqvIwdkbzcgO2Jh3BquxYII6dGlsmqzCikVNk3W[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88/test-blob-15904ba4-0d5e-03a6-3c05-e4fed029895a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BA1B3C74A\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T23:01:00.1887679Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88/test-blob-15904ba4-0d5e-03a6-3c05-e4fed029895a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30BA1B3C74A\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30BA1B3C74A\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-d61f8517-c90d-bfb2-643c-0421b2ed0f88?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 23:01:00 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "546226630",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}