{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B6FB71E97\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e/test-blob-ff9eb00d-2a66-1c4a-b14a-84e58153cd24",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A30B6FC08C0C\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:36.4493324Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e/test-blob-ff9eb00d-2a66-1c4a-b14a-84e58153cd24?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A30B6FC08C0C\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "O2DMRhr1TvhUu/nyvvDKK\u002B4dAsPydT/9TwUfe0nQB1ieG3bwRhGJqTaLQGQwLRVKYNv9DBuq6MYhzvYV1dOvg7OhU6N52eTdk1mMZjXazCLv1Rtt0/s88zKwz3cadNNj3Lywj9ly0Yb2IHjCHYGQRgHTJgC3QbC4ZF9wyAptwh\u002BGKYp4Kj1JfQSVdrKCetawIIh1Rk7Sq5oM\u002BCp5AQh7iF1YO/T3FxzEiqj8Isr9NeqJv6iC\u002BHvRs33wazITz3v7Ge1VKT7huQhrsbul1onPD8I/8EJg\u002BZDhh4h3B6vqsLstAAncqAuspwWfFka/LN3[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e/test-blob-ff9eb00d-2a66-1c4a-b14a-84e58153cd24",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B6FC9B277\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:36.4493324Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e/test-blob-ff9eb00d-2a66-1c4a-b14a-84e58153cd24",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A30B6FC9B277\u0022",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A30B6FC9B277\u0022",
        "Last-Modified": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Mon, 08 Nov 2021 22:59:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-11-08T22:59:36.4493324Z"
      },
      "ResponseBody": "O2DMRhr1TvhUu/nyvvDKK\u002B4dAsPydT/9TwUfe0nQB1ieG3bwRhGJqTaLQGQwLRVKYNv9DBuq6MYhzvYV1dOvg7OhU6N52eTdk1mMZjXazCLv1Rtt0/s88zKwz3cadNNj3Lywj9ly0Yb2IHjCHYGQRgHTJgC3QbC4ZF9wyAptwh8="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-71eb1148-b4fe-1ca2-3d46-c1a14877095e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 08 Nov 2021 22:59:37 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "799541026",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}