{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5744AEDF9E8\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a/test-blob-465ac647-3280-c55a-ee9d-d577647a170d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5744AF74251\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:14.2143569Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a/test-blob-465ac647-3280-c55a-ee9d-d577647a170d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A5744AF74251\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "dvhTDY8b45aT8m1Rhg13rxgN/5T4x4cx2cQfVqSBL4XJ9eO3UWg\u002BuFs4XyBY7AY8HkhooWLxUq5xITTK/I3yEcLoh5ApwF2vzkc5wGhm2Oy\u002B4jhbGY0i16I0RjA0c7zNRU1dcGV1El3quNIbuJJGCkhHDBlVl/c0xa/t9Xkte1qKa3oaCGiHSc/acGG7Bx8Q7jvn7GejeK5WKau1hx3jvTx4kEwXKwHgwMNJeiaWeb2P3QY\u002BRY/y5/LMxN\u002B80sGy9rIkQ3fT\u002BMI6ByukWf2HwK/tJakWpXithalZS2chI\u002B4BloRzcTZGvOREAz[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a/test-blob-465ac647-3280-c55a-ee9d-d577647a170d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5744B0793A4\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:14.2143569Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a/test-blob-465ac647-3280-c55a-ee9d-d577647a170d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A5744B0793A4\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5744B0793A4\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:14.2143569Z"
      },
      "ResponseBody": "dvhTDY8b45aT8m1Rhg13rxgN/5T4x4cx2cQfVqSBL4XJ9eO3UWg\u002BuFs4XyBY7AY8HkhooWLxUq5xITTK/I3yEcLoh5ApwF2vzkc5wGhm2Oy\u002B4jhbGY0i16I0RjA0c7zNRU1dcGV1El3quNIbuJJGCkhHDBlVl/c0xa/t9Xkte1o="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-54d09532-c7a1-2766-548e-dbd3d3c8ba9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:14 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2065565201",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}