{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5744A26A842\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454/test-blob-c36dbdc1-2573-2e5e-e045-40a82ff34af4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A5744A340EC2\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:12.9350850Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454/test-blob-c36dbdc1-2573-2e5e-e045-40a82ff34af4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A5744A340EC2\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "yrutzF211A2gi8NIXubG15dfs5E\u002Blek8qaOL7oMx/2E9fUeGg0SnPGJcLt8iuTPO5AIy92J0jDXScSO5KeWJboxhC\u002BGeQFRSt3cu4WYJGfBwvAmB/gf/yPEStBEh7hJ80sBSwK1SMKSt4D/qRarPyFczSW3cB2\u002BFYUPwjItCMcllsg\u002BmtlhCHoxk1B7HFIJGQ\u002Bu67aWloMpQzV5qYqQYaq92hZObKRL\u002B8CrhdzNRvk3AqUigiEMkvxJEVen52LvnTGlvUY7vqhnZu/x6wyiX/w8RqbhbeOJrUcWAV9MoBRhu\u002BSvJ4W2\u[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454/test-blob-c36dbdc1-2573-2e5e-e045-40a82ff34af4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:13 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5744A44AE27\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:12.9350850Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454/test-blob-c36dbdc1-2573-2e5e-e045-40a82ff34af4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A5744A44AE27\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:13 GMT",
        "x-ms-range": "bytes=0-127",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-127/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A5744A44AE27\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:13 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:12.9350850Z"
      },
      "ResponseBody": "yrutzF211A2gi8NIXubG15dfs5E\u002Blek8qaOL7oMx/2E9fUeGg0SnPGJcLt8iuTPO5AIy92J0jDXScSO5KeWJboxhC\u002BGeQFRSt3cu4WYJGfBwvAmB/gf/yPEStBEh7hJ80sBSwK1SMKSt4D/qRarPyFczSW3cB2\u002BFYUPwjItCMck="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3be19b6b-a78c-09f9-08a8-64a4c7a76454?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:13 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "807928977",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}