{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A57449436E36\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691/test-blob-68f915b7-5d32-288f-e796-df2735cfad90",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9A574494CDDB2\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:11.4199474Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691/test-blob-68f915b7-5d32-288f-e796-df2735cfad90?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D9A574494CDDB2\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": "vlJrz2xZBwXgvO4Fk1A311QjL0e7Ob/DH44eMMEwK4VpSwfCS1KZjEx/vBXHxe0qn1Dw5QEsOIWTp7DdOtZDsJFpnEhIdIwCiqL7O32p/Fmh9JBxQEaDPBOCL6Ohu1F1PAyEXSml4SrD7lpfMfwH6apXPEZF0W9K5mA0xkToYM9Qhv9xJZ8w\u002BxNmrlLrIwsWekb4SX4LL2qcOXbJcBvl2o2LDqr8lsMLJ0Ez3yMdX8JVHUv\u002B7xdRRVeU1esoZ4v3gNPFYBRgGeSC7SI92E9Hftq0dFLQ5\u002Bt2OclTaMDY48C1O19PWP6u9ARmewL0E20HTVYQc/I4J[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691/test-blob-68f915b7-5d32-288f-e796-df2735cfad90",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574495E8E5F\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:11.4199474Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691/test-blob-68f915b7-5d32-288f-e796-df2735cfad90",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D9A574495E8E5F\u0022",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-range": "bytes=0-99",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-99/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9A574495E8E5F\u0022",
        "Last-Modified": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-02-12",
        "x-ms-version-id": "2021-11-12T00:35:11.4199474Z"
      },
      "ResponseBody": "vlJrz2xZBwXgvO4Fk1A311QjL0e7Ob/DH44eMMEwK4VpSwfCS1KZjEx/vBXHxe0qn1Dw5QEsOIWTp7DdOtZDsJFpnEhIdIwCiqL7O32p/Fmh9JBxQEaDPBOCL6Ohu1F1PAyEXQ=="
    },
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a5f155ef-d2e3-4c16-8e76-29159b40d691?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 12 Nov 2021 00:35:11 GMT",
        "x-ms-version": "2021-02-12"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-02-12"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "569966859",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}