{
  "Entries": [
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:28:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtablehdxutm6v"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtablehdxutm6v\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "testtablehdxutm6v"
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/testtablehdxutm6v?$format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:28:52 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-08-20T22%3A28%3A53.0039428Z\u0027\u0022",
        "Location": "https://td29f528fe8af4d53prim.table.core.windows.net/testtablehdxutm6v(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.core.windows.net/$metadata#testtablehdxutm6v/@Element",
        "odata.etag": "W/\u0022datetime\u00272020-08-20T22%3A28%3A53.0039428Z\u0027\u0022",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": "2020-08-20T22:28:53.0039428Z",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1.0,
        "IntTypeProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/testtablehdxutm6v()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=%28PartitionKey%20eq%20%27somPartition%27%29%20and%20%28PartitionKey%20eq%20%27somPartition2%27%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 20 Aug 2020 22:28:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://td29f528fe8af4d53prim.table.core.windows.net/$metadata#testtablehdxutm6v",
        "value": []
      }
    },
    {
      "RequestUri": "https://td29f528fe8af4d53prim.table.core.windows.net/Tables(\u0027testtablehdxutm6v\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 20 Aug 2020 22:28:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1821153837",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "TABLES_STORAGE_ACCOUNT_NAME": "td29f528fe8af4d53prim"
  }
}
