{
  "Entries": [
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 25 Jul 2020 01:24:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabler82jj4z3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://allkimprim.table.core.windows.net/Tables(\u0027testtabler82jj4z3\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "allkimprim.Tables",
        "odata.id": "https://allkimprim.table.core.windows.net/Tables(\u0027testtabler82jj4z3\u0027)",
        "odata.editLink": "Tables(\u0027testtabler82jj4z3\u0027)",
        "TableName": "testtabler82jj4z3"
      }
    },
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/testtabler82jj4z3?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 25 Jul 2020 01:24:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": null,
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-07-25T01%3A24%3A27.3498943Z\u0027\u0022",
        "Location": "https://allkimprim.table.core.windows.net/testtabler82jj4z3(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.core.windows.net/$metadata#testtabler82jj4z3/@Element",
        "odata.type": "allkimprim.testtabler82jj4z3",
        "odata.id": "https://allkimprim.table.core.windows.net/testtabler82jj4z3(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-07-25T01%3A24%3A27.3498943Z\u0027\u0022",
        "odata.editLink": "testtabler82jj4z3(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-07-25T01:24:27.3498943Z",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1.0,
        "IntTypeProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/testtabler82jj4z3()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=%28PartitionKey%20eq%20%27somPartition%27%29%20and%20%28PartitionKey%20eq%20%27somPartition2%27%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Sat, 25 Jul 2020 01:24:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://allkimprim.table.core.windows.net/$metadata#testtabler82jj4z3",
        "value": []
      }
    },
    {
      "RequestUri": "https://allkimprim.table.core.windows.net/Tables(\u0027testtabler82jj4z3\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 25 Jul 2020 01:24:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "598564892",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "allkimprim"
  }
}