{
  "Entries": [
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableG9hj8oHU()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$top=2\u0026$filter=PartitionKey eq %27PK%27 and Value ne %27x2%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "x-ms-continuation-NextPartitionKey": "{\u0022token\u0022:\u0022\u002BRID:~EX0BANY0hoMDAAAAAAAAAA==#RT:1#TRC:2#ISV:2#IEO:65567#QCF:4#FPC:AQMAAAAAAAAABAAAAAAAAAA=\u0022,\u0022range\u0022:{\u0022min\u0022:\u0022\u0022,\u0022max\u0022:\u0022FF\u0022}}",
        "x-ms-continuation-NextRowKey": "NA"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-15T18%3A55%3A51.4621960Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK1",
            "Value": "x1",
            "Timestamp": "2021-12-15T18:55:51.4621960Z"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272021-12-15T18%3A55%3A51.4912776Z\u0027\u0022",
            "PartitionKey": "PK",
            "RowKey": "RK3",
            "Value": "x3",
            "Timestamp": "2021-12-15T18:55:51.4912776Z"
          }
        ],
        "odata.metadata": "https://pakrymtables3prim.table.cosmos.azure.com/$metadata#testtableG9hj8oHU"
      }
    },
    {
      "RequestUri": "https://pakrymtables3prim.table.cosmos.azure.com/testtableG9hj8oHU()?$format=application%2Fjson%3Bodata%3Dminimalmetadata\u0026$filter=PartitionKey eq %27PK%27 and Value ne %27x2%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 15 Dec 2021 18:55:51 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      [...]
[...]
