{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alerts?api-version=2019-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "3e8e1a3b-6c76-4a9a-875b-e46e29de7784",
          "ca7cd4a0-c86d-4e27-aead-8ed71bb7765a"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/taklei/providers/Microsoft.Security/locations/westeurope/alerts/2518136982923187680_ef6aa4e6-9c60-4405-8f08-f465e8e50cd2\",\r\n      \"name\": \"2518136982923187680_ef6aa4e6-9c60-4405-8f08-f465e8e50cd2\",\r\n      \"type\": \"Microsoft.Security/Locations/alerts\",\r\n      \"properties\": {\r\n        \"systemSource\": \"Azure\",\r\n        \"vendorName\": \"Microsoft\",\r\n        \"alertDisplayName\": \"Azure Security Center test alert (not a threat)\",\r\n        \"alertName\": \"VM_EICAR\",\r\n        \"detectedTimeUtc\": \"2020-05-04T14:28:27.6812319Z\",\r\n        \"description\": \"This is a test alert generated by Azure Security Center. No further action is needed.\",\r\n        \"remediationSteps\": \"No further action is needed.\",\r\n        \"actionTaken\": \"Undefined\",\r\n        \"reportedSeverity\": \"High\",\r\n        \"compromisedEntity\": \"ALERTSTEST\",\r\n        \"associatedResource\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/taklei/providers/Microsoft.Compute/virtualMachines/alertsTest\",\r\n        \"subscriptionId\": \"487bb485-b5b0-471e-9c0d-10717612f869\",\r\n        \"instanceId\": \"ef6aa4e6-9c60-4405-8f08-f465e8e50cd2\",\r\n        \"extendedProperties\": {\r\n          \"compromised Host\": \"ALERTSTEST\",\r\n          \"user Name\": \"WORKGROUP\\\\alertsTest$\",\r\n          \"account Session Id\": \"0x3e7\",\r\n          \"suspicious Process\": \"c:\\\\scripts\\\\asc_alerttest_662jfi039n.exe\",\r\n          \"suspicious Command Line\": \"c:\\\\scripts\\\\asc_alerttest_662jfi039n.exe -foo\",\r\n          \"parent Process\": \"c:\\\\windows\\\\system32\\\\svchost.exe\",\r\n          \"suspicious Process Id\": \"0x688\",\r\n          \"arguments Auditing Enabled\": \"true\",\r\n          \"enrichment_tas_threat__reports\": \"{\\\"Kind\\\":\\\"MultiLink\\\",\\\"DisplayValueToUrlDictionary\\\":{\\\"Report: EICAR File\\\":\\\"https://interflowwebportalext.trafficmanager.net/reports/DisplayReport?callerIdentity=ddd5443d-e6f4-441c-b52b-5278d2f21dfa&reportCreateDateTime=2020-05-04T09%3a13%3a05&reportName=MSTI-TS-EICAR-File.pdf&tenantId=387eb67f-0039-43ad-81b9-b66c6c0b1951&urlCreateDateTime=2020-05-04T09%3a13%3a05&token=aRLLv1q8UI%20eVn54OVy%20WbqcH7H9dSGDUOuWywymCrQ=\\\"}}\",\r\n          \"resourceType\": \"Virtual Machine\"\r\n        },\r\n        \"state\": \"Dismissed\",\r\n        \"reportedTimeUtc\": \"2020-05-04T14:29:05.5983077Z\",\r\n        \"workspaceArmId\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/mainws/providers/microsoft.operationalinsights/workspaces/securityuserws\",\r\n        \"confidenceReasons\": [],\r\n        \"canBeInvestigated\": true,\r\n        \"isIncident\": false,\r\n        \"entities\": [\r\n          {\r\n            \"$id\": \"westeurope_1\",\r\n            \"dnsDomain\": \"\",\r\n            \"ntDomain\": \"\",\r\n            \"hostName\": \"ALERTSTEST\",\r\n            \"netBiosName\": \"ALERTSTEST\",\r\n            \"azureID\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/taklei/providers/Microsoft.Compute/virtualMachines/alertsTest\",\r\n            \"omsAgentID\": \"6bc4f1df-17e1-40f0-8227-f1635aea54dd\",\r\n            \"osFamily\": \"Windows\",\r\n            \"osVersion\": \"Windows\",\r\n            \"isDomainJoined\": false,\r\n            \"type\": \"host\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_2\",\r\n            \"directory\": \"c:\\\\windows\\\\system32\",\r\n            \"name\": \"svchost.exe\",\r\n            \"type\": \"file\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_3\",\r\n            \"processId\": \"0x6ec\",\r\n            \"commandLine\": \"\",\r\n            \"imageFile\": {\r\n              \"$ref\": \"westeurope_2\"\r\n            },\r\n            \"host\": {\r\n              \"$ref\": \"westeurope_1\"\r\n            },\r\n            \"type\": \"process\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_4\",\r\n            \"name\": \"alertsTest$\",\r\n            \"ntDomain\": \"WORKGROUP\",\r\n            \"host\": {\r\n              \"$ref\": \"westeurope_1\"\r\n            },\r\n            \"sid\": \"S-1-5-18\",\r\n            \"isDomainJoined\": true,\r\n            \"type\": \"account\",\r\n            \"LogonId\": \"0x3e7\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_5\",\r\n            \"directory\": \"c:\\\\scripts\",\r\n            \"name\": \"asc_alerttest_662jfi039n.exe\",\r\n            \"type\": \"file\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_6\",\r\n            \"processId\": \"0x688\",\r\n            \"commandLine\": \"c:\\\\scripts\\\\asc_alerttest_662jfi039n.exe -foo\",\r\n            \"elevationToken\": \"Default\",\r\n            \"creationTimeUtc\": \"2020-05-04T14:28:27.6812319Z\",\r\n            \"imageFile\": {\r\n              \"$ref\": \"westeurope_5\"\r\n            },\r\n            \"account\": {\r\n              \"$ref\": \"westeurope_4\"\r\n            },\r\n            \"parentProcess\": {\r\n              \"$ref\": \"westeurope_3\"\r\n            },\r\n            \"host\": {\r\n              \"$ref\": \"westeurope_1\"\r\n            },\r\n            \"type\": \"process\"\r\n          },\r\n          {\r\n            \"$id\": \"westeurope_7\",\r\n            \"sessionId\": \"0x3e7\",\r\n            \"startTimeUtc\": \"2020-05-04T14:28:27.6812319Z\",\r\n            \"endTimeUtc\": \"2020-05-04T14:28:27.6812319Z\",\r\n            \"type\": \"host-logon-session\",\r\n            \"host\": {\r\n              \"$ref\": \"westeurope_1\"\r\n            },\r\n            \"account\": {\r\n              \"$ref\": \"westeurope_4\"\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/taklei/providers/Microsoft.Security/locations/westeurope/alerts/2518137000923212703_d25bac04[...]
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/locations/westeurope/alerts/2518136982923187680_ef6aa4e6-9c60-4405-8f08-f465e8e50cd2/dismiss?api-version=2019-01-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}