{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/phonenumbers?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "VZ3ZnCsI302taCGX\u002BBEqbw.0",
        "X-Processing-Time": "757ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "OutboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "availableCapabilities": [
              "UserAssignment",
              "InboundCalling",
              "OutboundCalling",
              "Geographic",
              "Office365",
              "Azure"
            ],
            "assignmentStatus": "Unknown",
            "placeName": "San Diego, United States",
            "activationState": "Activated"
          },
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "OutboundCalling",
              "UserAssignment",
              "Geographic"
            ],
            "availableCapabilities": [
              "UserAssignment",
              "InboundCalling",
              "OutboundCalling",
              "Geographic",
              "Office365",
              "Azure"
            ],
            "assignmentSta[...]
