{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "lnZbc9J5bkakiTArf2iQrw.0",
        "X-Processing-Time": "698ms"
      },
      "ResponseBody": {
        "phonePlanGroups": [
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure- User - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "Geographic",
            "localizedName": "Azure - Geographic",
            "localizedDescription": "These are numbers used by Azure resources."
          },
          {
            "phonePlanGroupId": "Sanitized",
            "phoneNumberType": "TollFree",
            "localizedName": "Azure - Toll Free",
            "localizedDescription": "These are toll free numbers used by Azure resources."
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/countries/US/phoneplangroups/Sanitized/phoneplans?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jHGqsDXQpEq/OYDO4YJSeg.0",
        "X-Processing-Time": "243ms"
      },
      "ResponseBody": {
        "phonePlans": [
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Outbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "Azure",
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "maximumSearchSize": 20
          },
          {
            "phonePlanId": "Sanitized",
            "localizedName": "2-way SMS (A2P) \u0026 Inbound Only PSTN - Toll Free",
            "locationType": "NotRequired",
            "areaCodes": [
              "833"
            ],
            "capabilities": [
              "Azure",
              "InboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            [...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "displayName": "My reservation",
        "description": "reservation description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "JND7kwvPcUSfmdpk0ExPVA.0",
        "X-Processing-Time": "980ms"
      },
      "ResponseBody": {
        "searchId": "d4d3b609-26c7-4f71-abc8-31f175f9cded"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "jRqdDIMi0EmM6zx13ECeGQ.0",
        "X-Processing-Time": "271ms"
      },
      "ResponseBody": {
        "searchId": "d4d3b609-26c7-4f71-abc8-31f175f9cded",
        "displayName": "My reservation",
        "createdAt": "2020-11-27T23:59:07.4537938\u002B00:00",
        "description": "reservation description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Pending",
        "phoneNumbers": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "zotplIt9wkCNQ9T95jbJ8Q.0",
        "X-Processing-Time": "266ms"
      },
      "ResponseBody": {
        "searchId": "d4d3b609-26c7-4f71-abc8-31f175f9cded",
        "displayName": "My reservation",
        "createdAt": "2020-11-27T23:59:07.4537938\u002B00:00",
        "description": "reservation description",
        "phonePlanIds": [
          "Sanitized"
        ],
        "areaCode": "833",
        "quantity": 1,
        "locationOptions": [],
        "status": "Reserved",
        "phoneNumbers": [
          "Sanitized"
        ],
        "reservationExpiryDate": "2020-11-28T00:15:14.3756118\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/searches/Sanitized/purchase?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "MS-CV": "5ieF4W4P6kereleTvI8oeA.0",
        "X-Processing-Time": "672ms"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/phonenumbers?locale=en-US\u0026api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "p3nvfxs/tUCJ0asXID7dFg.0",
        "X-Processing-Time": "6007ms"
      },
      "ResponseBody": {
        "phoneNumbers": [
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "InboundCalling",
              "UserAssignment",
              "Geographic",
              "OutboundCalling"
            ],
            "availableCapabilities": [
              "UserAssignment",
              "Geographic",
              "Azure",
              "Office365",
              "InboundCalling",
              "OutboundCalling"
            ],
            "assignmentStatus": "Unassigned",
            "placeName": "Birmingham, United States",
            "activationState": "Activated"
          },
          {
            "phoneNumber": "Sanitized",
            "acquiredCapabilities": [
              "Azure",
              "OutboundCalling",
              "ThirdPartyAppAssignment",
              "InboundA2PSms",
              "OutboundA2PSms",
              "TollFree"
            ],
            "availableCapabilities": [
              "Azure",
              "Office365",
              "InboundCalling",
              "OutboundCalling",
              "ThirdPartyAppAs[...]
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/releases?api-version=2020-07-20-preview1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "phoneNumbers": [
          "Sanitized"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "ULFRJZmsREO8By3bNNzNtQ.0",
        "X-Processing-Time": "594ms"
      },
      "ResponseBody": {
        "releaseId": "a583798b-1dc1-472c-8010-8f7f9a9fe383"
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/administration/phonenumbers/releases/Sanitized?api-version=2020-07-20-preview1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Wumb6bb4UkuJxUb/Qtz13g.0",
        "X-Processing-Time": "188ms"
      },
      "ResponseBody": {
        "releaseId": "a583798b-1dc1-472c-8010-8f7f9a9fe383",
        "createdAt": "2020-11-27T23:59:53.1006315\u002B00:00",
        "status": "Pending",
        "phoneNumberReleaseStatusDetails": {
          "Sanitized": {
            "status": "Pending"
          }
        }
      }
    },
[...]
