{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/operations?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ms-service-version": [
          "9.11.1047.343"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"display\": {\r\n        \"operation\": \"List/Get Department(s)\",\r\n        \"provider\": \"Microsoft Billing\",\r\n        \"resource\": \"Departments\"\r\n      },\r\n      \"isDataAction\": false,\r\n      \"name\": \"Microsoft.Billing/billingAccounts/departments/read\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"operation\": \"Download Pricesheet by Billing Profile\",\r\n        \"provider\": \"Microsoft Billing\",\r\n        \"resource\": \"Pricesheet\"\r\n      },\r\n      \"isDataAction\": false,\r\n      \"name\": \"Microsoft.Billing/billingAccounts/billingProfiles/pricesheet/download/action\"\r\n    },\r\n    {\r\n      \"display\": {\r\n        \"operation\": \"Download Pricesheet by Inv[...]
