{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:42 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "96-A4-C4-16-45-5D-48-A9-C0-3E-62-9B-12-D2-C2-07-1F": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "C3-F7-82-97-9E-17-D5-18-5A-90-1C-38-A2-77-4A-37-08": {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f0c6a71-0000-0700-0000-62aa856a0000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:42 GMT",
        "trace-id": "c731660b46e7c540a743e00150f97190"
      },
      "ResponseBody": {
        "id": "9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C",
        "exceptionRules": {
          "96-A4-C4-16-45-5D-48-A9-C0-3E-62-9B-12-D2-C2-07-1F": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "C3-F7-82-97-9E-17-D5-18-5A-90-1C-38-A2-77-4A-37-08": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 16 Jun 2022 01:20:43 GMT"
      },
      "RequestBody": {
        "name": "9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C-ExceptionPolicyName",
        "exceptionRules": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221f0c6d71-0000-0700-0000-62aa856b0000\u0022",
        "Last-Modified": "Thu, 16 Jun 2022 01:20:43 GMT",
        "trace-id": "4c0ade6595c2014aa395c95b587449d5"
      },
      "ResponseBody": {
        "id": "9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C",
        "name": "9E-C1-F9-7D-E3-48-7F-E8-A0-54-FF-1E-17-FC-90-B8-7C-ExceptionPolicyName",
        "exceptionRules": {
          "96-A4-C4-16-45-5D-48-A9-C0-3E-62-9B-12-D2-C2-07-1F": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "C3-F7-82-97-9E-17-D5-18-5A-90-1C-38-A2-77-4A-37-08": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-s3eou1yNAEOZqeQOjkNdSA-",
    "RandomSeed": "521613497"
  }
}
