{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:52:28 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200004746-0000-0700-0000-646fbc7d0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:52:29 GMT",
        "trace-id": "22aa0989-85cb-fe41-c142-30945088cea4"
      },
      "ResponseBody": {
        "id": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "name": "LongestIdleDistributionPolicy992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:52:29 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220c0088d3-0000-0700-0000-646fbc7d0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:52:29 GMT",
        "trace-id": "abd21e5e-5939-2474-fc02-b3e0fc56f629"
      },
      "ResponseBody": {
        "id": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "distributionPolicyId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "labels": {
          "Id": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:52:29 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201005c5f-0000-0700-0000-646fbc7d0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:52:29 GMT",
        "trace-id": "50ff142e-57dd-d42c-1d1f-dd4144aab83b"
      },
      "ResponseBody": {
        "id": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:52:29 GMT"
      },
      "RequestBody": {
        "name": "FakeExceptionPolicyFriendlyName",
        "exceptionRules": {
          "69805B7DC3147EC25D395E4DD61E112001C8333855F12F1B9D": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "EB0A0427D8489E9095D9937A57C55A07C48D04A2D2FA58B829": {
                "classificationPolicyId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              "E664A550E7814DBD5D26745D1FCB77AB82224DF3BA1AFB9664": {
                "queueId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002219002190-0000-0700-0000-646fbc7d0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:52:29 GMT",
 [...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 25 May 2023 19:52:29 GMT"
      },
      "RequestBody": {
        "Name": null
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002219002590-0000-0700-0000-646fbc7d0000\u0022",
        "Last-Modified": "Thu, 25 May 2023 19:52:29 GMT",
        "trace-id": "09ddce4c-b956-9b93-af5f-7f2498116c27"
      },
      "ResponseBody": {
        "id": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
        "exceptionRules": {
          "69805B7DC3147EC25D395E4DD61E112001C8333855F12F1B9D": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "EB0A0427D8489E9095D9937A57C55A07C48D04A2D2FA58B829": {
                "kind": "reclassify",
                "classificationPolicyId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                }
              },
              "E664A550E7814DBD5D26745D1FCB77AB82224DF3BA1AFB9664": {
                "kind": "manual-reclassify",
                "queueId": "992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
                "priority": 1,
                "workerSelectors": [
                  {
                    "expedite": false,
                    "state": "active",
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ]
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-ppe-test.ppe.communication.azure.net/routing/distributionPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=B/sOD2qlhMF5x3adP/9xnmzmItuLMWGSUJyneXDIkYk=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Thu, 25 May 2023 19:52:29 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "d674f01d-1d3c-1166-2576-c0f39b023add"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/992A3F09D440D998D8C4D00D36EAC5E8FFE738205B27E20C54",
          "details": [
            {
              "code": "QueueExistWithDistributionPolciy",
              "message": "There is queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-8PsfSwkK10COvDbyVHVGTw-",
    "RandomSeed": "416012697"
  }
}
