{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:02 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "B7-28-88-E9-7C-6B-FA-17-03-79-D5-F5-D9-57-E0-40-DB": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "A9-B7-75-9D-F0-25-A1-19-B9-2B-9F-E5-18-C9-40-3A-AB": {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d0c7545-0000-0700-0000-62aa6efe0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:02 GMT",
        "trace-id": "8833674a500d2d45bc8dc50852405c61"
      },
      "ResponseBody": {
        "id": "CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1",
        "exceptionRules": {
          "B7-28-88-E9-7C-6B-FA-17-03-79-D5-F5-D9-57-E0-40-DB": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "A9-B7-75-9D-F0-25-A1-19-B9-2B-9F-E5-18-C9-40-3A-AB": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:02 GMT"
      },
      "RequestBody": {
        "name": "CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1-ExceptionPolicyName",
        "exceptionRules": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d0c7a45-0000-0700-0000-62aa6efe0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:02 GMT",
        "trace-id": "4b5d03db9320e14284b4c0d92c1ead93"
      },
      "ResponseBody": {
        "id": "CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1",
        "name": "CF-AA-43-58-DF-34-49-36-CA-93-BF-76-C2-34-FC-8F-C1-ExceptionPolicyName",
        "exceptionRules": {
          "B7-28-88-E9-7C-6B-FA-17-03-79-D5-F5-D9-57-E0-40-DB": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "A9-B7-75-9D-F0-25-A1-19-B9-2B-9F-E5-18-C9-40-3A-AB": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-VVn1XQE0G0Cn5d0N4lChyA-",
    "RandomSeed": "1141618961"
  }
}
