{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:16:35 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "78-50-4D-7E-FD-A7-24-63-AE-E9-1B-9D-55-B9-6B-03-FA": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "FC-7B-91-0C-FA-4E-6A-DE-97-A8-16-C0-D6-B5-FB-57-DA": {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d50418a4-0000-0700-0000-62db76250000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:16:37 GMT",
        "trace-id": "ebc77f8bf76de34393bcfd0e549324ba"
      },
      "ResponseBody": {
        "id": "B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6",
        "exceptionRules": {
          "78-50-4D-7E-FD-A7-24-63-AE-E9-1B-9D-55-B9-6B-03-FA": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "FC-7B-91-0C-FA-4E-6A-DE-97-A8-16-C0-D6-B5-FB-57-DA": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 23 Jul 2022 04:16:37 GMT"
      },
      "RequestBody": {
        "name": "B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6-ExceptionPolicyName",
        "exceptionRules": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d50420a4-0000-0700-0000-62db76250000\u0022",
        "Last-Modified": "Sat, 23 Jul 2022 04:16:37 GMT",
        "trace-id": "25cd7c63a65f60498cc846ef25733123"
      },
      "ResponseBody": {
        "id": "B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6",
        "name": "B1-53-CD-2A-FE-25-87-8D-4F-B7-1C-E3-B6-28-67-C3-B6-ExceptionPolicyName",
        "exceptionRules": {
          "78-50-4D-7E-FD-A7-24-63-AE-E9-1B-9D-55-B9-6B-03-FA": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "FC-7B-91-0C-FA-4E-6A-DE-97-A8-16-C0-D6-B5-FB-57-DA": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-e-eHsOa72kql_y-RUe7cuQ-",
    "RandomSeed": "524886808"
  }
}
