{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:33:41 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220b008091-0000-0d00-0000-649e22e60000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:33:42 GMT",
        "trace-id": "c1878f90-6580-80fc-798a-7b759c80f9a5"
      },
      "ResponseBody": {
        "id": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "name": "LongestIdleDistributionPolicy96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:33:42 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220801f564-0000-0d00-0000-649e22e70000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:33:43 GMT",
        "trace-id": "61355efd-ccfd-b7b0-ff1f-410afc06ff7c"
      },
      "ResponseBody": {
        "id": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "distributionPolicyId": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "labels": {
          "Id": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:33:42 GMT"
      },
      "RequestBody": {
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c70035bd-0000-0d00-0000-649e22e70000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:33:43 GMT",
        "trace-id": "43145317-78c8-d046-705c-6fbef788abf0"
      },
      "ResponseBody": {
        "id": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 30 Jun 2023 00:33:42 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "3389C81FE57F9691698516A7A404B64C2ED96DD5FF11FDC425": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "7E6FE79742EB146B0D7B3AF2E2F78005BDEA285A99F9E2ADE7": {
                "classificationPolicyId": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              "58CC00208903EA588553222C3DEE1117CC6C7CD2BCFE113AC1": {
                "queueId": "96FF8C057BDEAF6458901A284B4D17948E58E55BE14CA91D0A",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228b00c3e6-0000-0d00-0000-649e22e70000\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 00:33:43 GMT",
 [...]
[...]
