{
  "Entries": [
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:02 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "FB-7C-D5-7B-73-E1-4B-2D-80-B6-34-5A-6E-84-C8-7A-65": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "1D-93-33-CD-AC-A0-B1-0D-9F-C0-83-BE-EB-CC-8D-52-A2": {
                "dispositionCode": "CancelledDueToMaxQueueLengthReached",
                "kind": "cancel"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d0c6f45-0000-0700-0000-62aa6efe0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:02 GMT",
        "trace-id": "89534512ac033440921b2755eeab080d"
      },
      "ResponseBody": {
        "id": "C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10",
        "exceptionRules": {
          "FB-7C-D5-7B-73-E1-4B-2D-80-B6-34-5A-6E-84-C8-7A-65": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "1D-93-33-CD-AC-A0-B1-0D-9F-C0-83-BE-EB-CC-8D-52-A2": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10?api-version=2021-10-20-preview2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Jun 2022 23:45:02 GMT"
      },
      "RequestBody": {
        "name": "C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10-ExceptionPolicyName",
        "exceptionRules": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2021-10-20-preview2",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d0c7045-0000-0700-0000-62aa6efe0000\u0022",
        "Last-Modified": "Wed, 15 Jun 2022 23:45:02 GMT",
        "trace-id": "eccf1b4f265ee241a4c50174e6091013"
      },
      "ResponseBody": {
        "id": "C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10",
        "name": "C3-05-15-79-AB-2B-66-C5-B3-BD-6A-77-07-5A-10-16-10-ExceptionPolicyName",
        "exceptionRules": {
          "FB-7C-D5-7B-73-E1-4B-2D-80-B6-34-5A-6E-84-C8-7A-65": {
            "trigger": {
              "kind": "queue-length",
              "threshold": 1
            },
            "actions": {
              "1D-93-33-CD-AC-A0-B1-0D-9F-C0-83-BE-EB-CC-8D-52-A2": {
                "kind": "cancel",
                "dispositionCode": "CancelledDueToMaxQueueLengthReached"
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://rsarkar-sdktest.int.communication.azure.net/;accesskey=Kg==",
    "id-prefix": "sdk-rRViN1Y6gE-klaJLTQ_nZg-",
    "RandomSeed": "1635650077"
  }
}
