{
  "Entries": [
    {
      "RequestUri": "https://dt-poc.communication.azure.com/routing/distributionPolicies/1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Mar 2023 23:54:34 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c1005cac-0000-0700-0000-64125ab90000\u0022",
        "Last-Modified": "Wed, 15 Mar 2023 23:54:33 GMT",
        "trace-id": "6cd4276e-420c-b0f7-6194-e2d708074a91"
      },
      "ResponseBody": {
        "id": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "name": "LongestIdleDistributionPolicy1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "offerTtlSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://dt-poc.communication.azure.com/routing/queues/1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Mar 2023 23:54:35 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ed00895c-0000-0700-0000-64125ab90000\u0022",
        "Last-Modified": "Wed, 15 Mar 2023 23:54:33 GMT",
        "trace-id": "7c9420f1-149a-8a11-4ed8-3f5cb70e4140"
      },
      "ResponseBody": {
        "id": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "distributionPolicyId": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "labels": {
          "Id": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B"
        }
      }
    },
    {
      "RequestUri": "https://dt-poc.communication.azure.com/routing/classificationPolicies/1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Mar 2023 23:54:35 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022820073cd-0000-0700-0000-64125aba0000\u0022",
        "Last-Modified": "Wed, 15 Mar 2023 23:54:34 GMT",
        "trace-id": "273e276e-c707-752f-8d66-1c66223332ee"
      },
      "ResponseBody": {
        "id": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://dt-poc.communication.azure.com/routing/exceptionPolicies/1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 15 Mar 2023 23:54:35 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "5B-21-8F-6A-39-C8-D9-B0-14-EC-8A-CF-75-A6-5F-B9-FB": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "2E-F0-CA-43-CB-62-D6-12-4C-EA-E9-92-95-93-84-24-8A": {
                "classificationPolicyId": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              "E1-09-7A-E5-64-72-17-19-CB-BD-3A-25-5D-BE-4D-89-D0": {
                "queueId": "1B-E8-22-57-6C-9D-D8-37-0D-68-09-E3-F2-03-CE-0F-3B",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221d06d853-0000-0700-0000-64125aba0000\u0022",
        "Last-Modified": "Wed, 15 Mar 2023 23:54:34 GMT",
 [...]
[...]
