{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:49 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101260b-0000-0700-0000-648ccb630000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:47 GMT",
        "trace-id": "096abd80-f2c0-a5d9-53d2-ffda96597cb2"
      },
      "ResponseBody": {
        "id": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "name": "LongestIdleDistributionPolicy1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:49 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208000d4b-0000-0700-0000-648ccb630000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:47 GMT",
        "trace-id": "a2c31bd3-b0d4-11e7-7799-aa0a6e9ee3fb"
      },
      "ResponseBody": {
        "id": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "distributionPolicyId": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "labels": {
          "Id": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:50 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff00772f-0000-0700-0000-648ccb630000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:47 GMT",
        "trace-id": "5d6e2e48-57ea-7c72-1141-f5d4713cf980"
      },
      "ResponseBody": {
        "id": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:50 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "2D7B10F241A48B33C82B436DAD8B52618AA1000D585AF114BE": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "42C703951F9992F3A4DC13B36611CBB2E155A8619DAA58FD7E": {
                "classificationPolicyId": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              "6394D17C624807C6EBD98F0C23B4A71A6B6D34DCC140461CB0": {
                "queueId": "1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002211004491-0000-0700-0000-648ccb630000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:51:47 GMT",
 [...]
[...]
    {
      "RequestUri": "https://rsarkar-sdktest.int.communication.azure.net/routing/exceptionPolicies/1F0E26B8B398BBBFB7A8ACE2315BB2AD862E4C8169CEDDB376?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "HMAC-SHA256 SignedHeaders=x-ms-date;host;x-ms-content-sha256\u0026Signature=YhSwK6vYNM2KmUcwFHA8jwy6jIwE73gYA8BzroprTAg=",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU=",
        "x-ms-date": "Fri, 16 Jun 2023 20:51:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "trace-id": "a44a0ac8-f035-2ff4-a66d-ed2cfba96d8f"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-U5OSV2CJRkGuJ3PLhP-WtQ-",
    "RandomSeed": "1465681216"
  }
}
