{
  "Entries": [
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:16 GMT"
      },
      "RequestBody": {
        "name": "LongestIdleDistributionPolicy958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227101a80b-0000-0700-0000-648ccb7f0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:15 GMT",
        "trace-id": "5425592e-8b5c-ca78-97b6-386df162e24e"
      },
      "ResponseBody": {
        "id": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "name": "LongestIdleDistributionPolicy958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "offerExpiresAfterSeconds": 30,
        "mode": {
          "kind": "longest-idle",
          "minConcurrentOffers": 1,
          "maxConcurrentOffers": 1,
          "bypassSelectors": false
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/queues/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:17 GMT"
      },
      "RequestBody": {
        "distributionPolicyId": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002208001f4b-0000-0700-0000-648ccb7f0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:15 GMT",
        "trace-id": "0b64e6cc-5acf-655b-cac8-f6cbcaef3e8d"
      },
      "ResponseBody": {
        "id": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "distributionPolicyId": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "labels": {
          "Id": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/classificationPolicies/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:17 GMT"
      },
      "RequestBody": {
        "queueSelectors": [],
        "prioritizationRule": {
          "value": 1,
          "kind": "static-rule"
        },
        "workerSelectors": []
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ff004830-0000-0700-0000-648ccb7f0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:15 GMT",
        "trace-id": "7c62f5d0-f1da-fbe7-0f8e-75ebfc3c51ab"
      },
      "ResponseBody": {
        "id": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
        "queueSelectors": [],
        "prioritizationRule": {
          "kind": "static-rule",
          "value": 1
        },
        "workerSelectors": []
      }
    },
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/exceptionPolicies/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA?api-version=2022-07-18-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:18 GMT"
      },
      "RequestBody": {
        "exceptionRules": {
          "ABC953162F6C20FEAEFBE00CE54B13B3E247FCED952D05F2CB": {
            "trigger": {
              "threshold": 1,
              "kind": "queue-length"
            },
            "actions": {
              "760E17A528C7A4FC1BD4D38ACFFBAEC64B3E5E6A84E7A11361": {
                "classificationPolicyId": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
                "labelsToUpsert": {
                  "Label_1": "Value_1"
                },
                "kind": "reclassify"
              },
              "210E0F5DF84BC9ABF429B4DE16E06C4F6A941310100A1D2C77": {
                "queueId": "958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
                "priority": 1,
                "workerSelectors": [
                  {
                    "key": "abc",
                    "labelOperator": "equal",
                    "value": 1
                  }
                ],
                "kind": "manual-reclassify"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002211004d91-0000-0700-0000-648ccb7f0000\u0022",
        "Last-Modified": "Fri, 16 Jun 2023 20:52:15 GMT",
 [...]
[...]
    {
      "RequestUri": "https://sanitized.comminication.azure.com/routing/distributionPolicies/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA?api-version=2022-07-18-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 16 Jun 2023 20:52:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2021-04-07-preview1, 2022-07-18-preview",
        "Content-Type": "application/json; charset=utf-8",
        "trace-id": "325c9a30-a436-5870-3042-911e3f92ab52"
      },
      "ResponseBody": {
        "communicationError": {
          "code": "BadRequest",
          "message": "One or more validation errors occurred.",
          "target": "/routing/distributionPolicies/958FC81E73C22CC955682B2C69F0329108C739066E3C3099BA",
          "details": [
            {
              "code": "QueueExistsWithDistributionPolicy",
              "message": "There is a queue with this distribution policy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "id-prefix": "sdk-_nxfVo47dEatH8k25x2-7A-",
    "RandomSeed": "1002384311"
  }
}
