{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/protectionpolicies/3b270816-9802-4384-8657-4f6a91981b89?api-version=2014-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"policyname\": \"ProtPolicy01_updated\",\r\n  \"schedule\": {\r\n    \"BackupType\": \"Full\",\r\n    \"ScheduleRun\": \"Daily\",\r\n    \"ScheduleStartTime\": \"0001-01-01T00:00:00\",\r\n    \"ScheduleRunDays\": [],\r\n    \"ScheduleRunTimes\": [\r\n      \"2015-06-12T19:30:00\"\r\n    ],\r\n    \"RetentionPolicy\": {\r\n      \"RetentionType\": \"Days\",\r\n      \"RetentionDuration\": 30\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "\"00000000-0000-0000-0000-000000000000\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}