{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 05:02:42 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "grid": {
            "rows": 2,
            "columns": 2,
            "inputIds": [
              [
                "jill",
                "jack"
              ],
              [
                "jane",
                "jerry"
              ]
            ]
          }
        },
        "inputs": {
          "jill": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "jack": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "jane": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "2dd69470-dc25-49cf-b5c3-f562f08bf3b2"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "jerry": {
            "participant": {
              "id": {
                "microsoftTeamsUser": {
                  "userId": "30e29fde-ac1c-448f-bb34-0f3448d5a677"
                }
              },
              "placeholderImageUri": "https://imageendpoint",
              "call": "teamsMeeting"
            }
          },
          "teamsMeeting": {
            "teamsMeeting": {
              "teamsJoinUrl": "https://teamsJoinUrl"
            }
          }
        },
        "outputs": {
          "acsGroupCall": {
            "groupCall": {
              "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193"
            }
          }
        },
        "streamState": "notStarted"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "grid": {
            "rows": 2,
            "columns": 2,
            "inputIds": [
              [
                "jill",
                "jack"
              ],
              [
                "jane",
                "jerry"
              ]
            ]
          }
        },
        "inputs": {
          "jill": {
            "kind": "participant",
            "participant": {
  [...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 05:02:42 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "resolution": {
            "width": 720,
            "height": 480
          },
          "presenter": {
            "presenterId": "jill",
            "supportId": "jack",
            "supportPosition": "bottomRight",
            "supportAspectRatio": 1
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "kind": "presenter",
          "resolution": {
            "width": 720,
            "height": 480
          },
          "presenter": {
            "presenterId": "jill",
            "supportId": "jack",
      [...]
[...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 13 Jul 2022 05:02:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1017232121"
  }
}
