{
  "Entries": [
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:57 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "jill": {
            "id": {
              "rawId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "communicationUser": {
                "id": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jack": {
            "id": {
              "rawId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "communicationUser": {
                "id": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jane": {
            "id": {
              "rawId": "2dd69470-dc25-49cf-b5c3-f562f08bf3b2",
              "communicationUser": {
                "id": "2dd69470-dc25-49cf-b5c3-f562f08bf3b2"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jerry": {
            "id": {
              "rawId": "30e29fde-ac1c-448f-bb34-0f3448d5a677",
              "communicationUser": {
                "id": "30e29fde-ac1c-448f-bb34-0f3448d5a677"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "GZlzeIMvN02ej9ho6kk23w.0"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null,
          "scalingMode": "crop"
        },
        "inputs": {
          "jill": {
            "id": {
              "kind": "communicationUser",
              "rawId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "communicationUser": {
                "id": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jack": {
            "id": {
   [...]
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/2x2Grid:stop?api-version=2022-07-16-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Kw8pk21JkEi7Raei1W0wqA.0"
      },
      "ResponseBody": {
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://test-media.dev.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 01 Feb 2023 21:19:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "MS-CV": "iJ5VpSCxRkOMuUm7g3M14g.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://test-media.dev.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1773869951"
  }
}
