{
  "Entries": [
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:53 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "jill": {
            "id": {
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jack": {
            "id": {
              "rawId": "8:orgid:fa4337b5-f13a-41c5-a34f-f2aa46699b61",
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jane": {
            "id": {
              "rawId": "8:orgid:2dd69470-dc25-49cf-b5c3-f562f08bf3b2",
              "microsoftTeamsUser": {
                "userId": "2dd69470-dc25-49cf-b5c3-f562f08bf3b2",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jerry": {
            "id": {
              "rawId": "8:orgid:30e29fde-ac1c-448f-bb34-0f3448d5a677",
              "microsoftTeamsUser": {
                "userId": "30e29fde-ac1c-448f-bb34-0f3448d5a677",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null,
          "scalingMode": "crop"
        },
        "inputs": {
          "jill": {
            "id": {
              "kind": "microsoftTeamsUser",
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
                "isAnonymous": false,
                "cloud": "public"
              }
            },
            "call": "acsGroupCall",
            "kind": "participant",
            "placeholderImag[...]
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:53 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "inputIds": [
            "acsGroupCall"
          ],
          "kind": "autoGrid",
          "resolution": {
            "width": 720,
            "height": 480
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "inputIds": [
            "acsGroupCall"
          ],
          "highlightDominantSpeaker": false,
          "kind": "autoGrid",
          "resolution": {
            "width": 720,
            "height": 480
          },
          "placeholderImageUri": null,
          "scalingMode": "crop"
        },
        "inputs": {
          "jill": {
            "id": {
              "kind": "microsoftTeamsUser",
              "rawId": "8:orgid:f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7",
          [...]
    {
      "RequestUri": "https://mediacomposition-clientsdk-int.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 07 Dec 2022 17:46:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://mediacomposition-clientsdk-int.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "1189211421"
  }
}
