{
  "Entries": [
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:54 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          }
        },
        "inputs": {
          "jill": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "f3ba9014-6dca-4456-8ec0-fa03cfa2b7b7"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jack": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "fa4337b5-f13a-41c5-a34f-f2aa46699b61"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jane": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "2dd69470-dc25-49cf-b5c3-f562f08bf3b2"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "jerry": {
            "id": {
              "microsoftTeamsUser": {
                "userId": "30e29fde-ac1c-448f-bb34-0f3448d5a677"
              }
            },
            "call": "teamsMeeting",
            "kind": "participant",
            "placeholderImageUri": "https://imageendpoint"
          },
          "teamsMeeting": {
            "teamsJoinUrl": "https://teamsJoinUrl",
            "kind": "teamsMeeting"
          }
        },
        "outputs": {
          "acsGroupCall": {
            "id": "d12d2277-ffec-4e22-9979-8c0d8c13d193",
            "kind": "groupCall"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
              "jane",
              "jerry"
            ]
          ],
          "kind": "grid",
          "resolution": {
            "width": 1920,
            "height": 1080
          },
          "placeholderImageUri": null
        },
        "inputs": {
          "jill": {
            "id": [...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:54 GMT"
      },
      "RequestBody": {
        "id": "2x2Grid",
        "outputs": {
          "youtube": {
            "streamKey": "key",
            "resolution": {
              "width": 1920,
              "height": 1080
            },
            "streamUrl": "rtmp://a.rtmp.youtube.com/live2",
            "kind": "rtmp"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "2x2Grid",
        "layout": {
          "rows": 2,
          "columns": 2,
          "inputIds": [
            [
              "jill",
              "jack"
            ],
            [
      [...]
    {
      "RequestUri": "https://shwali-test-resource.int.communication.azure.net/mediaCompositions/2x2Grid?api-version=2022-07-16-preview1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 08 Aug 2022 21:05:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2022-07-16-preview1"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://shwali-test-resource.int.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "313961547"
  }
}
