{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Baby not likely to have Meningitis. in case of fever in the mother, consider Penicillin for the baby too.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "Healthcare"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/89ba1565-7b49-445e-94e2-656ec2f661ab?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/89ba1565-7b49-445e-94e2-656ec2f661ab?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "89ba1565-7b49-445e-94e2-656ec2f661ab",
        "lastUpdateDateTime": "2022-10-14T22:03:19Z",
        "createdDateTime": "2022-10-14T22:03:19Z",
        "expirationDateTime": "2022-10-15T22:03:19Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/89ba1565-7b49-445e-94e2-656ec2f661ab?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "89ba1565-7b49-445e-94e2-656ec2f661ab",
        "lastUpdateDateTime": "2022-10-14T22:03:21Z",
        "createdDateTime": "2022-10-14T22:03:19Z",
        "expirationDateTime": "2022-10-15T22:03:19Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "lastUpdateDateTime": "2022-10-14T22:03:21.1877104Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "offset": 0,
                        "length": 4,
                        "text": "Baby",
                        "category": "Age",
                        "confidenceScore": 0.94,
                        "name": "Infant",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0021270"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000005273"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "0030805"
                          },
                          {
                            "dataSource": "CHV",
                            "id": "[...]
