{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Can cause rapid or irregular heartbeat, delirium, panic, psychosis, and heart failure.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "fhirVersion": "4.0.1",
              "documentType": "DischargeSummary",
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "Healthcare"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b0463335-a5a5-4b9e-b249-38500b7b0c6d?api-version=2022-10-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b0463335-a5a5-4b9e-b249-38500b7b0c6d?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b0463335-a5a5-4b9e-b249-38500b7b0c6d",
        "lastUpdateDateTime": "2022-10-17T17:04:54Z",
        "createdDateTime": "2022-10-17T17:04:54Z",
        "expirationDateTime": "2022-10-18T17:04:54Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b0463335-a5a5-4b9e-b249-38500b7b0c6d?api-version=2022-10-01-preview\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b0463335-a5a5-4b9e-b249-38500b7b0c6d",
        "lastUpdateDateTime": "2022-10-17T17:04:56Z",
        "createdDateTime": "2022-10-17T17:04:54Z",
        "expirationDateTime": "2022-10-18T17:04:54Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "HealthcareLROResults",
              "lastUpdateDateTime": "2022-10-17T17:04:56.3291629Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "offset": 18,
                        "length": 5,
                        "text": "100mg",
                        "category": "Dosage",
                        "confidenceScore": 0.99
                      },
                      {
                        "offset": 27,
                        "length": 9,
                        "text": "ibuprofen",
                        "category": "MedicationName",
                        "confidenceScore": 1.0,
                        "name": "ibuprofen",
                        "links": [
                          {
                            "dataSource": "UMLS",
                            "id": "C0020740"
                          },
                          {
                            "dataSource": "AOD",
                            "id": "0000019879"
                          },
                          {
                            "dataSource": "ATC",
                            "id": "M01AE01"
                          },
                          {
                            "dataSource": "CCPSS",
                            "id": "[...]
