{
  "Entries": [
    {
      "RequestUri": "https://jolov-cloud.centralus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022specversion\u0022:\u00221.0\u0022,\u0022type\u0022:\u0022record\u0022,\u0022source\u0022:\u0022http://localHost\u0022,\u0022id\u0022:\u0022299650a5-2d8c-307e-1137-a085391db9b1\u0022,\u0022time\u0022:\u00222021-06-14T15:05:24.3945223-07:00\u0022,\u0022data\u0022:{\u0022Name\u0022:\u0022name\u0022,\u0022Age\u0022:0}},{\u0022specversion\u0022:\u00221.0\u0022,\u0022type\u0022:\u0022record\u0022,\u0022source\u0022:\u0022http://localHost\u0022,\u0022id\u0022:\u00221d75081d-5719-7a05-2fe6-631[...]
