{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotas?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-RequestId": "h2FRzQy04UOjgBt1t_D2Qw.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "limit": {
                "limitObjectType": "LimitValue",
                "limitType": "Independent",
                "value": 1000
              },
              "name": {
                "value": "VirtualNetworks",
                "localizedValue": "Virtual Networks"
              },
              "properties": {},
              "unit": "Count",
              "isQuotaApplicable": false
            },
            "id": "/subscriptions/9f6cce51-6baf-4de5-a3c4-6f58b85315b9/providers/Microsoft.Network/locations/westus/providers/Microsoft.Quota/quotas/VirtualNetworks",
            "type": "Microsoft.Quota/Quotas",
            "name": "VirtualNetworks"
          },
          {
            "properties": {
              "limit": {
                "limitObjectType": "LimitValue",
                "limitType": "Independent",
                "value": 1003
              },
              "name": {
                "value": "StaticPublicIPAddresses",
                "localizedValue": "Static Public IP Addresses"
              },
              "properties": {},
              "unit": "Count"[...]
