{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "DDFunMDCTag": "Public"
        },
        "subscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "CacheTeam - AJ Tiwari",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/testRG-6640?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640",
        "name": "testRG-6640",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/redis/RedisBegin9156?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru",
            "maxmemory-reserved": 210
          },
          "redisVersion": "latest",
          "replicasPerMaster": 2,
          "minimumTlsVersion": "1.2",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/9fae6bb0-1aa7-4f7e-be63-6e6655e57846?api-version=2023-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/redis/RedisBegin9156?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/Redis/RedisBegin9156",
        "location": "East US",
        "name": "RedisBegin9156",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Creating",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15001,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15002,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru",
            "maxmemory-reserved": "642",
            "maxclients": "7500",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": {
            "primaryKey": "Sanitized",
            "secondaryKey": "Sanitized"
          },
          "hostName": "RedisBegin9156.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "replicasPerMaster": 2,
          "linkedServers": [],
          "replicasPerPrimary": 2
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/9fae6bb0-1aa7-4f7e-be63-6e6655e57846?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/asyncOperations/9fae6bb0-1aa7-4f7e-be63-6e6655e57846?api-version=2023-04-01",
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East US/asyncOperations/9fae6bb0-1aa7-4f7e-be63-6e6655e57846",
        "name": "9fae6bb0-1aa7-4f7e-be63-6e6655e57846",
        "status": "InProgress",
        "startTime": null,
        "endTime": null,
        "percentComplete": null,
        "properties": null,
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/redis/RedisBegin9156?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11972",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "id": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/Redis/RedisBegin9156",
        "location": "East US",
        "name": "RedisBegin9156",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": false,
          "instances": [
            {
              "sslPort": 15000,
              "shardId": 0,
              "isMaster": true,
              "isPrimary": true
            },
            {
              "sslPort": 15001,
              "shardId": 0,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15002,
              "shardId": 0,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru",
            "maxmemory-reserved": "642",
            "maxclients": "7500",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": null,
          "hostName": "RedisBegin9156.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "replicasPerMaster": 2,
          "linkedServers": [],
          "replicasPerPrimary": 2
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/operationresults/e5cc18c1-30b0-400c-a60b-b02c773a0309?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/East%20US/operationresults/e5cc18c1-30b0-400c-a60b-b02c773a0309?api-version=2023-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11971",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/testRG-6640/providers/Microsoft.Cache/redis/RedisBegin9156?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11958",
        "x-rp-server-mvid": "7bfbfeec-1fa5-40de-80e4-255dbbd614d8"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "A requested resource could not be found. It may already have been deleted.\r\nRequestID=6fb4fa7a-66d9-46a6-afd1-df7653d30706",
          "target": null
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2087831797",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}
