{
  "Entries": [
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest6446\",\r\n      \"name\": \"SdkNetTest6446\",\r\n      \"type\": \"Microsoft.Support/supportTickets\",\r\n      \"properties\": {\r\n        \"description\": \"test ticket from sdk test. please ignore and close\",\r\n        \"problemClassificationId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc/problemClassifications/3ec1a070-f242-9ecf-5a7c-e1a88ce029ef\",\r\n        \"problemClassificationDisplayName\": \"Add or update VAT, tax id, PO number or profile information\",\r\n        \"severity\": \"Minimal\",\r\n        \"require24X7Response\": false,\r\n        \"enrollmentId\": \"\",\r\n        \"contactDetails\": {\r\n          \"firstName\": \"first name\",\r\n          \"lastName\": \"last name\",\r\n          \"preferredContactMethod\": \"Email\",\r\n          \"primaryEmailAddress\": \"user@contoso.com\",\r\n          \"preferredTimeZone\": \"Pacific Standard Time\",\r\n          \"country\": \"USA\",\r\n          \"preferredSupportLanguage\": \"en-us\"\r\n        },\r\n        \"serviceLevelAgreement\": {\r\n          \"startTime\": \"2020-03-12T13:00:00Z\",\r\n          \"expirationTime\": \"2020-03-12T17:00:00Z\",\r\n          \"slaMinutes\": 240\r\n        },\r\n        \"supportEngineer\": {},\r\n        \"supportPlanType\": \"Premier\",\r\n        \"supportTicketId\": \"120031221000098\",\r\n        \"title\": \"test ticket from sdk test. please ignore and close\",\r\n        \"serviceId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc\",\r\n        \"serviceDisplayName\": \"Billing\",\r\n        \"status\": \"Open\",\r\n        \"createdDate\": \"2020-03-12T01:56:55Z\",\r\n        \"modifiedDate\": \"2020-03-12T01:56:56Z\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/SdkNetTest4786\",\r\n      \"name\": \"SdkNetTest4786\",\r\n      \"type\": \"Microsoft.Support/supportTickets\",\r\n      \"properties\": {\r\n        \"description\": \"test ticket from sdk test. please ignore and close\",\r\n        \"problemClassificationId\": \"/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-a[...]
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets?api-version=2020-04-01&%24skipToken=%255B%257B%2522compositeToken%2522%253A%257B%2522token%2522%253Anull%252C%2522range%2522%253A%257B%2522min%2522%253A%252205C1EB3399CD64%2522%252C%2522max%2522%253A%252205C1EB99CD6732%2522%257D%257D%252C%2522orderByItems%2522%253A%255B%257B%2522item%2522%253A%25222020-03-11T11%253A10%253A08.3568927Z%2522%257D%255D%252C%2522rid%2522%253A%2522[...]
