{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "d0efb362-cb15-4021-9b3b-8c107b937d4c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AMVM-SubLib-019",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourcegroups/SDKAutomanage-4079?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079",
        "name": "SDKAutomanage-4079",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9859?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9859",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9859",
        "name": "SDKAutomanageProfile-9859",
        "type": "Microsoft.Automanage/configurationProfiles",
        "location": "eastus",
        "tags": {},
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "systemData": {
          "createdAt": "2022-11-15T23:53:49.2972674\u002B00:00",
          "createdBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "createdByType": "Application",
          "lastModifiedAt": "2022-11-15T23:53:49.2972674\u002B00:00",
          "lastModifiedBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9859/versions/1?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configuration": {
            "Antimalwa[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-4079/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-9859/versions?api-version=2022-05-04",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "927960874",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "d0efb362-cb15-4021-9b3b-8c107b937d4c"
  }
}
