{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "d0efb362-cb15-4021-9b3b-8c107b937d4c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AMVM-SubLib-019",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourcegroups/SDKAutomanage-1290?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290",
        "name": "SDKAutomanage-1290",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "tags": {},
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220",
        "name": "SDKAutomanageProfile-2220",
        "type": "Microsoft.Automanage/configurationProfiles",
        "location": "eastus",
        "tags": {},
        "properties": {
          "configuration": {
            "Antimalware/Enable": true,
            "Antimalware/EnableRealTimeProtection": true,
            "Antimalware/RunScheduledScan": true,
            "Backup/Enable": true,
            "WindowsAdminCenter/Enable": false,
            "VMInsights/Enable": true,
            "AzureSecurityCenter/Enable": true,
            "UpdateManagement/Enable": true,
            "ChangeTrackingAndInventory/Enable": true,
            "GuestConfiguration/Enable": true,
            "AutomationAccount/Enable": true,
            "LogAnalytics/Enable": true,
            "BootDiagnostics/Enable": true
          }
        },
        "systemData": {
          "createdAt": "2022-11-15T23:54:06.7405026\u002B00:00",
          "createdBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "createdByType": "Application",
          "lastModifiedAt": "2022-11-15T23:54:06.7405026\u002B00:00",
          "lastModifiedBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220/versions/1?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configuration": {
            "Antimalwa[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Resources/deployments/deployVM?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "vmName": {
                "type": "string",
                "defaultValue": "test-vm"
              }
            },
            "resources": [
              {
                "name": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027)]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2020-11-01",
                "location": "[resourceGroup().location]",
                "tags": {
                  "displayName": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027)]"
                },
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork-Subnet\u0027)]",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24"
                      }
                    }
                  ]
                }
              },
              {
                "name": "[concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027)]",
                "type": "Microsoft.Network/networkInterfaces",
                "apiVersion": "2020-11-01",
                "location": "[resourceGroup().location]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027))]"
                ],
                "tags": {
                  "displayName": "[concat(parameters(\u0027vmName\u0027), \u0027-Network Interface\u0027)]"
                },
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipConfig1",
                      "properties": {
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork\u0027), concat(parameters(\u0027vmName\u0027), \u0027-VirtualNetwork-Subnet\u0027))]"
                        }
                      }
                    }
                  ]
                }
              },
              {
                "name": "[parameters(\u0027vmName\u0027)]",
                "type": "Microsoft.Compute/virtualMachines",
                "apiVersion": "2021-03-01",
                "location": "[resourceGroup().location]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027))]"
                ],
                "properties": {
                  "hardwareProfile": {
                    "vmSize": "Standard_B1s"
                  },
                  "osProfile": {
                    "computerName": "[parameters(\u0027vmName\u0027)]",
                    "adminUsername": "adminUser",
                    "adminPassword": "[concat(\u0027P\u0027, uniqueString(resourceGroup().id, \u002734f322c6-845c-4b54-b2d2-09ec6500be9a\u0027), \u0027!\u0027)]",
                    "windowsConfiguration": {
                      "enableAutomaticUpdates": true,
                      "patchSettings": {
                        "patchMode": "AutomaticByOS",
                        "assessmentMode": "ImageDefault",
                        "enableHotpatching": false
                      }
                    }
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsDesktop",
                      "offer": "Windows-10",
                      "sku": "win10-21h2-pro",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[concat(parameters(\u0027vmName\u0027), \u0027OSDisk\u0027)]",
                      "caching": "ReadWrite",
                      "createOption": "FromImage"
                    }
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, concat(parameters(\u0027vmName\u0027), \u0027-NetworkInterface\u0027))]"
                      }
                    ]
                  }
                }
              }
            ]
          },
          "parameters": {
            "vmName": {
              "value": "sdk-test-vm"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourcegroups/SDKAutomanage-1290/providers/Microsoft.Resources/deployments/deployVM/operationStatuses/08585330504368183812?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Resources/deployments/deployVM",
        "name": "deployVM",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "9532324445332949103",
          "parameters": {
            "vmName": {
              "type": "String",
              "value": "sdk-test-vm"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-11-15T23:54:09.3407982Z",
          "duration": "PT0.0003275S",
          "correlationId": "0fdf1481-6091-40be-91c9-97d191023fed",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "eastus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            },
            {
              "namespace": "Microsoft.Compute",
              "resourceTypes": [
                {
                  "resourceType": "virtualMachines",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Network/virtualNetworks/sdk-test-vm-VirtualNetwork",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "sdk-test-vm-VirtualNetwork"
                }
              ],
              "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Network/networkInterfaces/sdk-test-vm-NetworkInterface",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "sdk-test-vm-NetworkInterface"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Network/networkInterfaces/sdk-test-vm-NetworkInterface",
                  "resourceType": "Microsoft.Network/networkInterfaces",
                  "resourceName": "sdk-test-vm-NetworkInterface"
                }
              ],
              "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Compute/virtualMachines/sdk-test-vm",
              "resourceType": "Microsoft.Compute/virtualMachines",
              "resourceName": "sdk-test-vm"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourcegroups/SDKAutomanage-1290/providers/Microsoft.Resources/deployments/deployVM/operationStatuses/08585330504368183812?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default?api-version=2022-05-04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configurationProfile": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220/versions/1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default",
        "x-ms-ratelimit-remaining-subscription-writes": "1180"
      },
      "ResponseBody": {
        "id": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Compute/virtualMachines/sdk-test-vm/providers/Microsoft.Automanage/configurationProfileAssignments/default",
        "name": "default",
        "type": "Microsoft.Automanage/configurationProfileAssignments",
        "properties": {
          "targetId": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Compute/virtualMachines/sdk-test-vm",
          "configurationProfile": "/subscriptions/d0efb362-cb15-4021-9b3b-8c107b937d4c/resourceGroups/SDKAutomanage-1290/providers/Microsoft.Automanage/configurationProfiles/SDKAutomanageProfile-2220/versions/1",
          "status": "New"
        },
        "systemData": {
          "createdAt": "2022-11-15T23:57:57.7501849\u002B00:00",
          "createdBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "createdByType": "Application",
          "lastModifiedAt": "2022-11-15T23:57:57.7501849\u002B00:00",
          "lastModifiedBy": "fe8c00ac-251c-4142-8d76-6e653ab21919",
          "lastModifiedByType": "Application"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "2142975502",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "d0efb362-cb15-4021-9b3b-8c107b937d4c"
  }
}
