{
  "Entries": [
    {
      "RequestUri": "/d2599f84-5099-4ef0-8548-d4765d6a0718/services/networking/NonExistantVirtualNetworkSiteName/gateway",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>BadRequest</Code>\r\n  <Message>The specified virtual network name 'NonExistantVirtualNetworkSiteName' is not valid or could not be found.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d2599f84-5099-4ef0-8548-d4765d6a0718"
  }
}