{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-3935?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3935",
        "name": "testRG-3935",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3935/providers/Microsoft.Compute/disks/testDisk-3348?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/6a7a4e8e-eee4-463e-9009-db82ce62e96e?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026api-version=2019-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/6a7a4e8e-eee4-463e-9009-db82ce62e96e?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026monitor=true\u0026api-version=2019-07-01",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateDisks3Min;991,Microsoft.Compute/CreateUpdateDisks30Min;7963",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "name": "testDisk-3348",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3935/providers/Microsoft.Compute/disks/testDisk-3348",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_LRS"
        },
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1,
          "provisioningState": "Updating",
          "isArmResource": true
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/6a7a4e8e-eee4-463e-9009-db82ce62e96e?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49976,Microsoft.Compute/GetOperation30Min;399734",
        "x-ms-ratelimit-remaining-subscription-reads": "11969"
      },
      "ResponseBody": {
        "startTime": "2022-07-27T02:42:48.3613678\u002B00:00",
        "endTime": "2022-07-27T02:42:48.4707071\u002B00:00",
        "status": "Succeeded",
        "properties": {
          "output": {
            "name": "testDisk-3348",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-3935/providers/Microsoft.Compute/disks/testDisk-3348",
            "type": "Microsoft.Compute/disks",
            "location": "eastus",
            "tags": {},
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "properties": {
              "creationData": {
                "createOption": "Empty"
              },
              "diskSizeGB": 1,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "timeCreated": "2022-07-27T02:42:48.3613678\u002B00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "diskSizeBytes": 1073741824,
              "uniqueId": "7ff26cc4-914f-46e6-8d7e-d83d2f8a6439"
            }
          }
        },
        "name": "6a7a4e8e-eee4-463e-9009-db82ce62e96e"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/3d75c85f-d6c5-410e-bcaa-4f76393c6e70?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026api-version=2019-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49974,Microsoft.Compute/GetOperation30Min;399732",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "startTime": "2022-07-27T02:42:49.0019341\u002B00:00",
        "endTime": "2022-07-27T02:42:49.158232\u002B00:00",
        "status": "Succeeded",
        "name": "3d75c85f-d6c5-410e-bcaa-4f76393c6e70"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2115269753",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
