{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11904"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-6620?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1082"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6620",
        "name": "testRG-6620",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6620/providers/Microsoft.Compute/disks/testDisk-6549?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/f9c8b700-779c-48fc-88f5-d4e06121331c?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/f9c8b700-779c-48fc-88f5-d4e06121331c?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026monitor=true\u0026api-version=2021-04-01",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateUpdateDisks3Min;981,Microsoft.Compute/CreateUpdateDisks30Min;7981",
        "x-ms-ratelimit-remaining-subscription-writes": "1081"
      },
      "ResponseBody": {
        "name": "testDisk-6549",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6620/providers/Microsoft.Compute/disks/testDisk-6549",
        "type": "Microsoft.Compute/disks",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_LRS"
        },
        "properties": {
          "creationData": {
            "createOption": "Empty"
          },
          "diskSizeGB": 1,
          "provisioningState": "Updating"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/DiskOperations/f9c8b700-779c-48fc-88f5-d4e06121331c?p=8278dd3f-3f1e-4c21-b82d-89be46bb3fd2\u0026api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;49858,Microsoft.Compute/GetOperation30Min;399858",
        "x-ms-ratelimit-remaining-subscription-reads": "11903"
      },
      "ResponseBody": {
        "startTime": "2022-11-21T08:40:26.9713353\u002B00:00",
        "endTime": "2022-11-21T08:40:27.080711\u002B00:00",
        "status": "Succeeded",
        "properties": {
          "output": {
            "name": "testDisk-6549",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-6620/providers/Microsoft.Compute/disks/testDisk-6549",
            "type": "Microsoft.Compute/disks",
            "location": "eastus",
            "tags": {},
            "sku": {
              "name": "Standard_LRS",
              "tier": "Standard"
            },
            "properties": {
              "creationData": {
                "createOption": "Empty"
              },
              "diskSizeGB": 1,
              "diskIOPSReadWrite": 500,
              "diskMBpsReadWrite": 60,
              "encryption": {
                "type": "EncryptionAtRestWithPlatformKey"
              },
              "networkAccessPolicy": "AllowAll",
              "publicNetworkAccess": "Enabled",
              "timeCreated": "2022-11-21T08:40:26.9713353\u002B00:00",
              "provisioningState": "Succeeded",
              "diskState": "Unattached",
              "diskSizeBytes": 1073741824,
              "uniqueId": "ececb5a9-5237-4e06-bc14-2a3e3a705303"
            }
          }
        },
        "name": "f9c8b700-779c-48fc-88f5-d4e06121331c"
      }
    },
[...]
