<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
        <add key="repositoryPath" value="./NugetInstall" />
        <add key="globalPackagesFolder" value="./Nuget" />
        -->
        <add key="repositoryPath" value="%AGENT_WORKFOLDER%/NugetInstall" />
        <add key="globalPackagesFolder" value="%AGENT_WORKFOLDER%/Nuget" />
    </config>
    <packageSources>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>
