{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourcegroups/sdk-test-rg-delete?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete",
        "name": "sdk-test-rg-delete",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete?api-version=2022-05-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westeurope"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B?api-version=2022-05-13",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022960ab49f-0000-0d00-0000-631cfb720000\u0022",
        "x-ms-async-operation-timeout": "PT10M",
        "x-ms-image-digest": "sha256:07f4244bdd4fa89539813bd1c743e57090add13dcd42a51e9d87dd441e56a734",
        "x-ms-image-tag": "1.0.02049.29-cb8535e39ba27833da973165c9003a442deb7d8d",
        "x-ms-machineName": "controlplane-5cdd86b86f-rdp4b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete",
        "name": "dotnet-sdk-test-ledger-delete",
        "type": "microsoft.confidentialledger/ledgers",
        "location": "westeurope",
        "tags": {},
        "systemData": {
          "createdBy": "64c98884-3d2a-4203-adbe-cd393d69e0b9",
          "createdByType": "Application",
          "createdAt": "2022-09-10T21:02:36.2007146Z",
          "lastModifiedBy": "64c98884-3d2a-4203-adbe-cd393d69e0b9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-10T21:02:36.2007146Z"
        },
        "properties": {
          "ledgerName": "dotnet-sdk-test-ledger-delete",
          "ledgerType": "Unknown",
          "aadBasedSecurityPrincipals": [
            {
              "principalId": "9a4ca6fb-4dbe-41e6-b960-f496ec641737",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "ledgerRoleName": "Administrator"
            }
          ],
          "ledgerInternalNamespace": "d24694c0-28ed-4229-b95e-31adc91e897c",
          "ledgerSku": "Unknown",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee022801-0000-0d00-0000-631cfb6c0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11969"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B",
        "name": "7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B",
        "resourceId": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete",
        "status": "Accepted",
        "startTime": "2022-09-10T21:02:36.7626019Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee023601-0000-0d00-0000-631cfbd00000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B",
        "name": "7f9219f8-1092-4c6d-997e-52ce63c84a33*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B",
        "resourceId": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete",
        "status": "Succeeded",
        "startTime": "2022-09-10T21:02:36.7626019Z",
        "endTime": "2022-09-10T21:04:16.2274395Z",
        "properties": {
          "LedgerName": "dotnet-sdk-test-ledger-delete",
          "LedgerUri": "https://dotnet-sdk-test-ledger-delete.confidential-ledger.azure.com",
          "IdentityServiceUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/dotnet-sdk-test-ledger-delete",
          "LedgerStorageAccount": null,
          "LedgerType": "Unknown",
          "AadBasedSecurityPrincipals": [
            {
              "PrincipalId": "9a4ca6fb-4dbe-41e6-b960-f496ec641737",
              "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "LedgerRoleName": "Administrator"
            }
          ],
          "CertBasedSecurityPrincipals": null,
          "LedgerInternalNamespace": "d24694c0-28ed-4229-b95e-31adc91e897c",
          "LedgerSku": "Unknown"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022960ab7a5-0000-0d00-0000-631cfbd00000\u0022",
        "x-ms-image-digest": "sha256:07f4244bdd4fa89539813bd1c743e57090add13dcd42a51e9d87dd441e56a734",
        "x-ms-image-tag": "1.0.02049.29-cb8535e39ba27833da973165c9003a442deb7d8d",
        "x-ms-machineName": "controlplane-5cdd86b86f-rdp4b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/Ledgers/dotnet-sdk-test-ledger-delete",
        "name": "dotnet-sdk-test-ledger-delete",
        "type": "Microsoft.ConfidentialLedger/Ledgers",
        "location": "westeurope",
        "tags": {},
        "properties": {
          "ledgerName": "dotnet-sdk-test-ledger-delete",
          "ledgerUri": "https://dotnet-sdk-test-ledger-delete.confidential-ledger.azure.com",
          "identityServiceUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/dotnet-sdk-test-ledger-delete",
          "ledgerType": "Unknown",
          "aadBasedSecurityPrincipals": [
            {
              "principalId": "9a4ca6fb-4dbe-41e6-b960-f496ec641737",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "ledgerRoleName": "Administrator"
            }
          ],
          "ledgerInternalNamespace": "d24694c0-28ed-4229-b95e-31adc91e897c"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete?api-version=2022-05-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/6d84a664-03f8-434d-98f0-540d62483aac*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B?api-version=2022-05-13",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022960af5a5-0000-0d00-0000-631cfbd40000\u0022",
        "Location": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/6d84a664-03f8-434d-98f0-540d62483aac*132377D7F8F513B1D67BE1B92A110D256E276DB56BBFF3F5586922870E99548B?api-version=2022-05-13",
        "x-ms-async-operation-timeout": "PT5M",
        "x-ms-image-digest": "sha256:07f4244bdd4fa89539813bd1c743e57090add13dcd42a51e9d87dd441e56a734",
        "x-ms-image-tag": "1.0.02049.29-cb8535e39ba27833da973165c9003a442deb7d8d",
        "x-ms-machineName": "controlplane-5cdd86b86f-rdp4b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-delete/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-delete?api-version=2022-05-13",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1513421967",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "027da7f8-2fc6-46d4-9be9-560706b60fec",
    "TEST-LEDGER-NAME-PREFIX": "dotnet-sdk-test-ledger-"
  }
}
