{
  "Entries": [
    {
      "RequestUri": "/luis/api/v2.0/apps/usagescenarios",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "[\r\n  \"IoT\",\r\n  \"Bot\",\r\n  \"Mobile Application\",\r\n  \"Other\"\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}