<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net40" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+sl50+wp80+win" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net40" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="6.0.0" targetFramework="net45" />
</packages>