{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.2/training/projects?name=Test%20Project&description=This%20is%20a%20test%20project&domainId=c151d5b5-dd07-472a-acc8-15d29dea8518",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"b6970df8-92b4-4a1f-9c8b-68f3df1b6c4f\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"This is a test project\",\r\n  \"settings\": {\r\n    \"domainId\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"targetExportPlatforms\": [],\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null,\r\n    \"imageProcessingSettings\": {\r\n      \"augmentationMethods\": {\r\n        \"rotation\": true,\r\n        \"scaling\": true,\r\n        \"translation\": true,\r\n        \"horizontal flip\": true,\r\n        \"equalize\": true,\r\n        \"solarize\": true,\r\n        \"padtosquare\": true\r\n      }\r\n    }\r\n  },\r\n  \"created\": \"2020-02-11T16:38:19.166Z\",\r\n  \"lastModified\": \"2020-02-11T16:38:19.166Z\",\r\n  \"thumbnailUri\": null,\r\n  \"drModeEnabled\": false,\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/b6970df8-92b4-4a1f-9c8b-68f3df1b6c4f/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"5a2eaa41-57de-466b-becf-4123dfeb3667\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/b6970df8-92b4-4a1f-9c8b-68f3df1b6c4f/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\"\r\n    }\r\n  ],\r\n  \"tagIds\": [\r\n    \"5a2eaa41-57de-466b-becf-4123dfeb3667\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"e572ec6d-c43e-47bb-bc0a-855d447c0f87\",\r\n        \"created\": \"2020-02-11T16:38:19.6811792\",\r\n        \"width\": 900,\r\n        \"height\": 1600,\r\n        \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-b6970df892b44a1f9c8b68f3df1b6c4f/i-e572ec6dc43e47bbbc0a855d447c0f87?sv=2017-04-17&sr=b&sig=haO4jQUpv3qjf7rvRn%2BUxMoKAaY1vzGUn3SDb7jBMak%3D&se=2020-02-12T16%3A38%3A19Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-b6970df892b44a1f9c8b68f3df1b6c4f/t-e572ec6dc43e47bbbc0a855d447c0f87?sv=2017-04-17&sr=b&sig=NWex1mS53x6vwHJZpNzPq1lVs25K8qr%2FJOMhAyxAOb8%3D&se=2020-02-12T16%3A38%3A19Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-b6970df892b44a1f9c8b68f3df1b6c4f/i-e572ec6dc43e47bbbc0a855d447c0f87?sv=2017-04-17&sr=b&sig=haO4jQUpv3qjf7rvRn%2BUxMoKAaY1vzGUn3SDb7jBMak%3D&se=2020-02-12T16%3A38%3A19Z&sp=r\",\r\n        \"tags\": [\r\n          {\r\n            \"tagId\": \"5a2eaa41-57de-466b-becf-4123dfeb3667\",\r\n            \"tagName\": null,\r\n            \"created\": \"2020-02-11T16:38:19.7354767\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/b6970df8-92b4-4a1f-9c8b-68f3df1b6c4f",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}