{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.3/training/projects/ef987470-9e9b-4bd3-a406-452cf61159e0/quicktest/url?iterationId=0a4feb59-6628-44ae-87f2-810e406e4ca6&store=true",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"a2450209-a605-41ce-ab82-36b38aa6f1c9\",\r\n  \"project\": \"ef987470-9e9b-4bd3-a406-452cf61159e0\",\r\n  \"iteration\": \"0a4feb59-6628-44ae-87f2-810e406e4ca6\",\r\n  \"created\": \"2020-06-06T16:51:39.044Z\",\r\n  \"predictions\": [\r\n    {\r\n      \"probability\": 0.9999961,\r\n      \"tagId\": \"d9c727c9-29c9-45d5-9179-7709946d2595\",\r\n      \"tagName\": \"Tag1\",\r\n      \"tagType\": \"Regular\"\r\n    },\r\n    {\r\n      \"probability\": 8.79471951E-13,\r\n      \"tagId\": \"cebbc42d-9a31-4105-9459-b0753d8d0aa2\",\r\n      \"tagName\": \"Tag2\",\r\n      \"tagType\": \"Regular\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/ef987470-9e9b-4bd3-a406-452cf61159e0/images/predictions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"id\": \"a2450209-a605-41ce-ab82-36b38aa6f1c9\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"a2450209-a605-41ce-ab82-36b38aa6f1c9\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"517f087c-3134-41c9-b66d-d8eeb292ebaf\",\r\n        \"created\": \"2020-06-06T16:51:39.3448903\",\r\n        \"width\": 1260,\r\n        \"height\": 900,\r\n        \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ef9874709e9b4bd3a406452cf61159e0/i-517f087c313441c9b66dd8eeb292ebaf?sv=2017-04-17&sr=b&sig=0BIS9F4WznlJKlvaVe4Mz%2FMkbvvzb7cUJLen8MuRSZg%3D&se=2020-06-07T16%3A51%3A39Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ef9874709e9b4bd3a406452cf61159e0/t-517f087c313441c9b66dd8eeb292ebaf?sv=2017-04-17&sr=b&sig=Zbi5ZVLUYM6AWzBUBj25MK1xH9G2A%2FS6Ir90azoAsjw%3D&se=2020-06-07T16%3A51%3A39Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ef9874709e9b4bd3a406452cf61159e0/i-517f087c313441c9b66dd8eeb292ebaf?sv=2017-04-17&sr=b&sig=0BIS9F4WznlJKlvaVe4Mz%2FMkbvvzb7cUJLen8MuRSZg%3D&se=2020-06-07T16%3A51%3A39Z&sp=r\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}