{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects?name=Test%20Project&description=This%20is%20a%20test%20project&domainId=c151d5b5-dd07-472a-acc8-15d29dea8518",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"23c562a1-71f7-45ad-827f-1c53e1bfc8dd\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"This is a test project\",\r\n  \"settings\": {\r\n    \"domainId\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"targetExportPlatforms\": [],\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null,\r\n    \"imageProcessingSettings\": {\r\n      \"augmentationMethods\": {\r\n        \"rotation\": true,\r\n        \"scaling\": true,\r\n        \"translation\": true,\r\n        \"horizontal flip\": true,\r\n        \"equalize\": true,\r\n        \"solarize\": true,\r\n        \"padtosquare\": true\r\n      }\r\n    }\r\n  },\r\n  \"created\": \"2020-11-06T16:37:26.593Z\",\r\n  \"lastModified\": \"2020-11-06T16:37:26.593Z\",\r\n  \"thumbnailUri\": null,\r\n  \"drModeEnabled\": false,\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/23c562a1-71f7-45ad-827f-1c53e1bfc8dd/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"190275b9-6328-4764-b848-34fb730312fc\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/23c562a1-71f7-45ad-827f-1c53e1bfc8dd/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\"\r\n    }\r\n  ],\r\n  \"tagIds\": [\r\n    \"190275b9-6328-4764-b848-34fb730312fc\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"a28a81eb-ff45-487e-8874-e6480d0fa164\",\r\n        \"created\": \"2020-11-06T16:37:27.3151279\",\r\n        \"width\": 900,\r\n        \"height\": 1600,\r\n        \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-23c562a171f745ad827f1c53e1bfc8dd/i-a28a81ebff45487e8874e6480d0fa164?sv=2017-04-17&sr=b&sig=MTZSotx28FHE%2FxBwoId96FfyNuAro57eE3OZZ2BNBFY%3D&se=2020-11-07T16%3A37%3A27Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-23c562a171f745ad827f1c53e1bfc8dd/t-a28a81ebff45487e8874e6480d0fa164?sv=2017-04-17&sr=b&sig=QSzET7agj247UForOSNgLve2TUISRVSwtdORO3K74jM%3D&se=2020-11-07T16%3A37%3A27Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-23c562a171f745ad827f1c53e1bfc8dd/i-a28a81ebff45487e8874e6480d0fa164?sv=2017-04-17&sr=b&sig=MTZSotx28FHE%2FxBwoId96FfyNuAro57eE3OZZ2BNBFY%3D&se=2020-11-07T16%3A37%3A27Z&sp=r\",\r\n        \"tags\": [\r\n          {\r\n            \"tagId\": \"190275b9-6328-4764-b848-34fb730312fc\",\r\n            \"tagName\": null,\r\n            \"created\": \"2020-11-06T16:37:27.3234969\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/23c562a1-71f7-45ad-827f-1c53e1bfc8dd",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}