{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.0/training/projects?name=Test%20Project&description=This%20is%20a%20test%20project&domainId=c151d5b5-dd07-472a-acc8-15d29dea8518",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"1d5f8e78-e7b3-4593-9407-1578b5334af8\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"This is a test project\",\r\n  \"settings\": {\r\n    \"domainId\": \"c151d5b5-dd07-472a-acc8-15d29dea8518\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null,\r\n    \"targetExportPlatforms\": []\r\n  },\r\n  \"created\": \"2019-03-21T01:31:11.186Z\",\r\n  \"lastModified\": \"2019-03-21T01:31:11.186Z\",\r\n  \"thumbnailUri\": null,\r\n  \"drModeEnabled\": false\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.0/training/projects/1d5f8e78-e7b3-4593-9407-1578b5334af8/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"80c795b2-9947-4341-91aa-8cd99652b70c\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.0/training/projects/1d5f8e78-e7b3-4593-9407-1578b5334af8/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\"\r\n    }\r\n  ],\r\n  \"tagIds\": [\r\n    \"80c795b2-9947-4341-91aa-8cd99652b70c\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Hemlock/hemlock_1.jpg\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"598d05f8-dfde-404e-b0db-04464099dce6\",\r\n        \"created\": \"2019-03-21T01:31:11.6094494\",\r\n        \"width\": 900,\r\n        \"height\": 1600,\r\n        \"resizedImageUri\": \"https://irisusscppestore.blob.core.windows.net/i-1d5f8e78e7b3459394071578b5334af8/i-598d05f8dfde404eb0db04464099dce6?sv=2017-04-17&sr=b&sig=C9XMHf56KhqIq9OJmSukXhqe4g7QSPzwh712Nfk%2FeZA%3D&se=2019-03-22T01%3A31%3A11Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisusscppestore.blob.core.windows.net/i-1d5f8e78e7b3459394071578b5334af8/t-598d05f8dfde404eb0db04464099dce6?sv=2017-04-17&sr=b&sig=W36mkUrGKPB1nVQaHpsCEjP2rm4YCVfz7kbpSb2DCg4%3D&se=2019-03-22T01%3A31%3A11Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisusscppestore.blob.core.windows.net/i-1d5f8e78e7b3459394071578b5334af8/i-598d05f8dfde404eb0db04464099dce6?sv=2017-04-17&sr=b&sig=C9XMHf56KhqIq9OJmSukXhqe4g7QSPzwh712Nfk%2FeZA%3D&se=2019-03-22T01%3A31%3A11Z&sp=r\",\r\n        \"tags\": [\r\n          {\r\n            \"tagId\": \"80c795b2-9947-4341-91aa-8cd99652b70c\",\r\n            \"tagName\": null,\r\n            \"created\": \"2019-03-21T01:31:11.6233401\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.0/training/projects/1d5f8e78-e7b3-4593-9407-1578b5334af8",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}