{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.3/training/projects?name=Test%20Project",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"270b60b2-0706-47a8-b4fd-9fc682aa6b9e\",\r\n  \"name\": \"Test Project\",\r\n  \"description\": \"\",\r\n  \"settings\": {\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"targetExportPlatforms\": [],\r\n    \"useNegativeSet\": true,\r\n    \"detectionParameters\": null,\r\n    \"imageProcessingSettings\": {\r\n      \"augmentationMethods\": {\r\n        \"rotation\": true,\r\n        \"scaling\": true,\r\n        \"translation\": true,\r\n        \"horizontal flip\": true,\r\n        \"equalize\": true,\r\n        \"solarize\": true,\r\n        \"padtosquare\": true\r\n      }\r\n    }\r\n  },\r\n  \"created\": \"2020-06-06T16:51:03.036Z\",\r\n  \"lastModified\": \"2020-06-06T16:51:03.036Z\",\r\n  \"thumbnailUri\": null,\r\n  \"drModeEnabled\": false,\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/270b60b2-0706-47a8-b4fd-9fc682aa6b9e/images/urls",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"images\": [\r\n    {\r\n      \"url\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"sourceUrl\": \"https://raw.githubusercontent.com/Microsoft/Cognitive-CustomVision-Windows/master/Samples/Images/Test/test_image.jpg\",\r\n      \"status\": \"OK\",\r\n      \"image\": {\r\n        \"id\": \"176810c9-d786-4455-a131-b20d11ee5e40\",\r\n        \"created\": \"2020-06-06T16:51:03.255989\",\r\n        \"width\": 1260,\r\n        \"height\": 900,\r\n        \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-270b60b2070647a8b4fd9fc682aa6b9e/i-176810c9d7864455a131b20d11ee5e40?sv=2017-04-17&sr=b&sig=Or6SONUD5kOYxEgmPDIoIEUTaXuKd%2FHzi9exurozMw0%3D&se=2020-06-07T16%3A51%3A03Z&sp=r\",\r\n        \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-270b60b2070647a8b4fd9fc682aa6b9e/t-176810c9d7864455a131b20d11ee5e40?sv=2017-04-17&sr=b&sig=ajZe80Ro3%2BHsJRLziSvOdy4PfEsY4Qa8MIh5zLdHfZY%3D&se=2020-06-07T16%3A51%3A03Z&sp=r\",\r\n        \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-270b60b2070647a8b4fd9fc682aa6b9e/i-176810c9d7864455a131b20d11ee5e40?sv=2017-04-17&sr=b&sig=Or6SONUD5kOYxEgmPDIoIEUTaXuKd%2FHzi9exurozMw0%3D&se=2020-06-07T16%3A51%3A03Z&sp=r\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/270b60b2-0706-47a8-b4fd-9fc682aa6b9e/images?imageIds=176810c9-d786-4455-a131-b20d11ee5e40",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/270b60b2-0706-47a8-b4fd-9fc682aa6b9e",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}