{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.1/training/projects/2dfd2506-f790-43a0-aacb-51b2e8918d35/predictions/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"maxCount\": 0,\r\n  \"orderBy\": \"Newest\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"token\": {\r\n    \"session\": \"9:133017\",\r\n    \"continuation\": null,\r\n    \"maxCount\": 0,\r\n    \"orderBy\": \"Newest\",\r\n    \"tags\": null,\r\n    \"iterationId\": null,\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"application\": null\r\n  },\r\n  \"results\": [\r\n    {\r\n      \"resizedImageUri\": \"https://irisusscppestorepredict1.blob.core.windows.net/e-2dfd2506f79043a0aacb51b2e8918d35/o-dbeae2bb104b46639e99e1862b0dddac?sv=2017-04-17&sr=b&sig=6QJ4Acu%2Fno%2Ft66B7rsIIR10tVl%2FocFLczT0mA%2Fun7JY%3D&se=2019-09-17T15%3A05%3A03Z&sp=r\",\r\n      \"thumbnailUri\": \"https://irisusscppestorepredict1.blob.core.windows.net/e-2dfd2506f79043a0aacb51b2e8918d35/t-dbeae2bb104b46639e99e1862b0dddac?sv=2017-04-17&sr=b&sig=e6dLOLBTXtjKOMCOAb7iz%2BaKuphv7UkYRaI70PYMhPU%3D&se=2019-09-17T15%3A05%3A03Z&sp=r\",\r\n      \"originalImageUri\": \"https://irisusscppestorepredict1.blob.core.windows.net/e-2dfd2506f79043a0aacb51b2e8918d35/o-dbeae2bb104b46639e99e1862b0dddac?sv=2017-04-17&sr=b&sig=6QJ4Acu%2Fno%2Ft66B7rsIIR10tVl%2FocFLczT0mA%2Fun7JY%3D&se=2019-09-17T15%3A05%3A03Z&sp=r\",\r\n      \"domain\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n      \"id\": \"dbeae2bb-104b-4663-9e99-e1862b0dddac\",\r\n      \"project\": \"2dfd2506-f790-43a0-aacb-51b2e8918d35\",\r\n      \"iteration\": \"e66426c4-0458-4136-90e8-609b72378af2\",\r\n      \"created\": \"2019-09-16T15:05:03.53Z\",\r\n      \"predictions\": [\r\n        {\r\n          \"probability\": 0.9999961,\r\n          \"tagId\": \"da8e7dcb-ae13-48df-a2e3-833b45c939d1\",\r\n          \"tagName\": \"Tag1\"\r\n        },\r\n        {\r\n          \"probability\": 8.79471951E-13,\r\n          \"tagId\": \"87b6c09f-c472-4461-b4c5-5bc3c6f00a16\",\r\n          \"tagName\": \"Tag2\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.1/training/projects/2dfd2506-f790-43a0-aacb-51b2e8918d35/predictions?ids=dbeae2bb-104b-4663-9e99-e1862b0dddac",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}