{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.2/training/projects/b48a7440-dccf-4554-9952-29d88d408a67/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"b36b50e6-a60a-43b9-9c60-960918331f7a\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2020-02-11T16:47:21.75Z\",\r\n    \"lastModified\": \"2020-02-11T16:47:52.933Z\",\r\n    \"trainedAt\": \"2020-02-11T16:47:52.774Z\",\r\n    \"projectId\": \"b48a7440-dccf-4554-9952-29d88d408a67\",\r\n    \"exportable\": true,\r\n    \"exportableTo\": [\r\n      \"CoreML\",\r\n      \"DockerFile\",\r\n      \"ONNX\",\r\n      \"TensorFlow\"\r\n    ],\r\n    \"domainId\": \"0732100f-1a38-4e49-a514-c9b44c697ab5\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/f7b4a5ce-d3bd-4a03-84fe-8bcad772c8c1/resourceGroups/areddish-eastus/providers/Microsoft.CognitiveServices/accounts/areddisheast-Prediction\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/b48a7440-dccf-4554-9952-29d88d408a67/iterations/b36b50e6-a60a-43b9-9c60-960918331f7a/export?platform=TensorFlow",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"platform\": \"TensorFlow\",\r\n  \"status\": \"Exporting\",\r\n  \"downloadUri\": null,\r\n  \"flavor\": \"TensorFlowNormal\",\r\n  \"newerVersionAvailable\": false\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/b48a7440-dccf-4554-9952-29d88d408a67/iterations/b36b50e6-a60a-43b9-9c60-960918331f7a/export",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"platform\": \"TensorFlow\",\r\n    \"status\": \"Exporting\",\r\n    \"downloadUri\": null,\r\n    \"flavor\": \"TensorFlowNormal\",\r\n    \"newerVersionAvailable\": false\r\n  }\r\n]",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//customvision/v3.2/training/projects/b48a7440-dccf-4554-9952-29d88d408a67/iterations/b36b50e6-a60a-43b9-9c60-960918331f7a/export",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"platform\": \"TensorFlow\",\r\n    \"status\": \"Done\",\r\n    \"downloadUri\": \"https://irisprodeu2training.blob.core.windows.net/m-b48a7440dccf4554995229d88d408a67/b36b50e6a60a43b99c60960918331f7a.TensorFlow.zip?sv=2017-04-17&sr=b&sig=B6lsnN62Dzw2uWTKisVnEd7edVndEADRKYQeq%2By%2Fb7E%3D&se=2020-02-12T16%3A47%3A55Z&sp=r\",\r\n    \"flavor\": \"TensorFlowNormal\",\r\n    \"newerVersionAvailable\": false\r\n  }\r\n]",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}