{
  "Entries": [
    {
      "RequestUri": "/customvision/v1.2/Training/projects/e222c033-5f5d-4a23-bde9-8343f19c0a01/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Id\": \"e925ea5b-4db0-4c1e-8d62-e35c74fffeed\",\r\n    \"Name\": \"Iteration 2\",\r\n    \"IsDefault\": true,\r\n    \"Status\": \"Completed\",\r\n    \"Created\": \"2018-02-08T08:22:42.0666667\",\r\n    \"LastModified\": \"2018-02-22T15:21:06.8400133\",\r\n    \"TrainedAt\": \"2018-02-22T15:04:16.9186193\",\r\n    \"ProjectId\": \"e222c033-5f5d-4a23-bde9-8343f19c0a01\",\r\n    \"Exportable\": false,\r\n    \"DomainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\"\r\n  },\r\n  {\r\n    \"Id\": \"6c643254-9d8f-4242-8082-915da8600a55\",\r\n    \"Name\": \"Iteration 4\",\r\n    \"IsDefault\": false,\r\n    \"Status\": \"Completed\",\r\n    \"Created\": \"2018-02-22T15:11:40.8666667\",\r\n    \"LastModified\": \"2018-02-22T15:21:24.1501369\",\r\n    \"TrainedAt\": \"2018-02-22T15:21:24.1501369\",\r\n    \"ProjectId\": \"e222c033-5f5d-4a23-bde9-8343f19c0a01\",\r\n    \"Exportable\": true,\r\n    \"DomainId\": \"0732100f-1a38-4e49-a514-c9b44c697ab5\"\r\n  },\r\n  {\r\n    \"Id\": \"841b453e-5677-4c06-bf6b-a979f30b334e\",\r\n    \"Name\": \"Iteration 5\",\r\n    \"IsDefault\": false,\r\n    \"Status\": \"New\",\r\n    \"Created\": \"2018-02-22T15:21:23.6766667\",\r\n    \"LastModified\": \"2018-02-22T15:21:23.6916181\",\r\n    \"ProjectId\": \"e222c033-5f5d-4a23-bde9-8343f19c0a01\",\r\n    \"Exportable\": false,\r\n    \"DomainId\": null\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/customvision/v1.2/Training/projects/e222c033-5f5d-4a23-bde9-8343f19c0a01/iterations/6c643254-9d8f-4242-8082-915da8600a55/export",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Platform\": \"TensorFlow\",\r\n    \"Status\": \"Done\",\r\n    \"DownloadUri\": \"https://irisscuprodstore.blob.core.windows.net/m-e222c0335f5d4a23bde98343f19c0a01/6c6432549d8f42428082915da8600a55.zip?sv=2016-05-31&sr=b&sig=CkgqmxDCOZAsMbDnATpkHufc%2BZnR%2FH7wzi54pazwT9s%3D&se=2018-02-23T00%3A00%3A00Z&sp=r\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}