{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.3/training/projects/c0d13e82-dc72-443b-91b0-6c6c2cfc458e/images/count?taggingStatus=All",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/c0d13e82-dc72-443b-91b0-6c6c2cfc458e/images?taggingStatus=All&take=5&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"ad1852cb-46e6-44f6-ae9f-3c00720fc0e0\",\r\n    \"created\": \"2020-06-06T17:50:55.6766804\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-c0d13e82dc72443b91b06c6c2cfc458e/i-ad1852cb46e644f6ae9f3c00720fc0e0?sv=2017-04-17&sr=b&sig=79Nv2YtwPzynw7uXwY5I9nqkx%2FyaYUOI9MvllJqrK70%3D&se=2020-06-07T17%3A51%3A07Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-c0d13e82dc72443b91b06c6c2cfc458e/t-ad1852cb46e644f6ae9f3c00720fc0e0?sv=2017-04-17&sr=b&sig=UOQHknpHSA9D0vc2MM0zX2jmNrLTHJEZD%2BA7aJ0ifR0%3D&se=2020-06-07T17%3A51%3A07Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-c0d13e82dc72443b91b06c6c2cfc458e/i-ad1852cb46e644f6ae9f3c00720fc0e0?sv=2017-04-17&sr=b&sig=79Nv2YtwPzynw7uXwY5I9nqkx%2FyaYUOI9MvllJqrK70%3D&se=2020-06-07T17%3A51%3A07Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"47239e6e-7ab7-45c1-8816-a8e587539846\",\r\n        \"tagName\": \"Tag2\",\r\n        \"created\": \"2020-06-06T17:50:55.6854677\"\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"d9a57fef-5013-43c2-bd57-d2490dac073b\",\r\n    \"created\": \"2020-06-06T17:50:55.5829114\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-c0d13e82dc72443b91b06c6c2cfc458e/i-d9a57fef501343c2bd57d2490dac073b?sv=2017-04-17&sr=b&sig=LRGWVV3NaC7u8RvW2WjVgPeFKKi0EbT2618fxcEGqXM%3D&se=2020-06-07T17%3A5[...]
