{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.2/training/projects/82f62c15-407f-43d2-9c1b-423ee184e1a5/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"b782e311-a9a9-40c2-8cc1-c3c9019785f7\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2020-02-11T16:38:19.95Z\",\r\n    \"lastModified\": \"2020-02-11T16:39:08.677Z\",\r\n    \"trainedAt\": \"2020-02-11T16:39:08.433Z\",\r\n    \"projectId\": \"82f62c15-407f-43d2-9c1b-423ee184e1a5\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/82f62c15-407f-43d2-9c1b-423ee184e1a5/iterations/b782e311-a9a9-40c2-8cc1-c3c9019785f7",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"b782e311-a9a9-40c2-8cc1-c3c9019785f7\",\r\n  \"name\": \"Iteration 1\",\r\n  \"status\": \"Completed\",\r\n  \"created\": \"2020-02-11T16:38:19.95Z\",\r\n  \"lastModified\": \"2020-02-11T16:39:08.677Z\",\r\n  \"trainedAt\": \"2020-02-11T16:39:08.433Z\",\r\n  \"projectId\": \"82f62c15-407f-43d2-9c1b-423ee184e1a5\",\r\n  \"exportable\": false,\r\n  \"exportableTo\": [],\r\n  \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n  \"classificationType\": \"Multilabel\",\r\n  \"trainingType\": \"Regular\",\r\n  \"reservedBudgetInHours\": 0,\r\n  \"trainingTimeInMinutes\": 1,\r\n  \"publishName\": \"Training UnitTest Iteration\",\r\n  \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/82f62c15-407f-43d2-9c1b-423ee184e1a5/iterations/b782e311-a9a9-40c2-8cc1-c3c9019785f7",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"name\": \"New Iteration Name\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"b782e311-a9a9-40c2-8cc1-c3c9019785f7\",\r\n  \"name\": \"New Iteration Name\",\r\n  \"status\": \"Completed\",\r\n  \"created\": \"2020-02-11T16:38:19.95Z\",\r\n  \"lastModified\": \"2020-02-11T16:39:09.492Z\",\r\n  \"trainedAt\": \"2020-02-11T16:39:08.433Z\",\r\n  \"projectId\": \"82f62c15-407f-43d2-9c1b-423ee184e1a5\",\r\n  \"exportable\": false,\r\n  \"exportableTo\": [],\r\n  \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n  \"classificationType\": \"Multilabel\",\r\n  \"trainingType\": \"Regular\",\r\n  \"reservedBudgetInHours\": 0,\r\n  \"trainingTimeInMinutes\": 1,\r\n  \"publishName\": \"Training UnitTest Iteration\",\r\n  \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}