{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.1/training/projects/2591e07c-2a07-4523-ad30-df967153b0cf/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"d266f9b4-e5a7-4707-a1df-4c410eebba51\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2019-09-16T14:58:48.613Z\",\r\n    \"lastModified\": \"2019-09-16T14:58:59.316Z\",\r\n    \"trainedAt\": \"2019-09-16T14:58:58.282Z\",\r\n    \"projectId\": \"2591e07c-2a07-4523-ad30-df967153b0cf\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.1/training/projects/2591e07c-2a07-4523-ad30-df967153b0cf/iterations/d266f9b4-e5a7-4707-a1df-4c410eebba51",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"d266f9b4-e5a7-4707-a1df-4c410eebba51\",\r\n  \"name\": \"Iteration 1\",\r\n  \"status\": \"Completed\",\r\n  \"created\": \"2019-09-16T14:58:48.613Z\",\r\n  \"lastModified\": \"2019-09-16T14:58:59.316Z\",\r\n  \"trainedAt\": \"2019-09-16T14:58:58.282Z\",\r\n  \"projectId\": \"2591e07c-2a07-4523-ad30-df967153b0cf\",\r\n  \"exportable\": false,\r\n  \"exportableTo\": [],\r\n  \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n  \"classificationType\": \"Multilabel\",\r\n  \"trainingType\": \"Regular\",\r\n  \"reservedBudgetInHours\": 0,\r\n  \"trainingTimeInMinutes\": 1,\r\n  \"publishName\": \"Training UnitTest Iteration\",\r\n  \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.1/training/projects/2591e07c-2a07-4523-ad30-df967153b0cf/iterations/d266f9b4-e5a7-4707-a1df-4c410eebba51",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"name\": \"New Iteration Name\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"d266f9b4-e5a7-4707-a1df-4c410eebba51\",\r\n  \"name\": \"New Iteration Name\",\r\n  \"status\": \"Completed\",\r\n  \"created\": \"2019-09-16T14:58:48.613Z\",\r\n  \"lastModified\": \"2019-09-16T14:59:00.02Z\",\r\n  \"trainedAt\": \"2019-09-16T14:58:58.282Z\",\r\n  \"projectId\": \"2591e07c-2a07-4523-ad30-df967153b0cf\",\r\n  \"exportable\": false,\r\n  \"exportableTo\": [],\r\n  \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n  \"classificationType\": \"Multilabel\",\r\n  \"trainingType\": \"Regular\",\r\n  \"reservedBudgetInHours\": 0,\r\n  \"trainingTimeInMinutes\": 1,\r\n  \"publishName\": \"Training UnitTest Iteration\",\r\n  \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}