{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.2/training/projects/4be36a17-c226-4685-9645-76c126c04423/images/tagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/4be36a17-c226-4685-9645-76c126c04423/images/untagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "0",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/4be36a17-c226-4685-9645-76c126c04423/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"feb64c7d-c3dc-477e-9d97-c48ccbab65ef\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2020-02-11T16:34:55.56Z\",\r\n    \"lastModified\": \"2020-02-11T16:35:38.355Z\",\r\n    \"trainedAt\": \"2020-02-11T16:35:37.327Z\",\r\n    \"projectId\": \"4be36a17-c226-4685-9645-76c126c04423\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/f7b4a5ce-d3bd-4a03-84fe-8bcad772c8c1/resourceGroups/areddish-eastus/providers/Microsoft.CognitiveServices/accounts/areddisheast-Prediction\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.2/training/projects/4be36a17-c226-4685-9645-76c126c04423/iterations/feb64c7d-c3dc-477e-9d97-c48ccbab65ef/performance/images/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "2",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}