{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/7307c511-7e78-4d8c-8aa0-8cd638d84bf3/images/tagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/7307c511-7e78-4d8c-8aa0-8cd638d84bf3/images/untagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "0",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/7307c511-7e78-4d8c-8aa0-8cd638d84bf3/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"92d792f3-5872-49fe-9b28-36739f2675eb\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2020-11-06T16:21:15.84Z\",\r\n    \"lastModified\": \"2020-11-06T16:26:29.418Z\",\r\n    \"trainedAt\": \"2020-11-06T16:26:28.209Z\",\r\n    \"projectId\": \"7307c511-7e78-4d8c-8aa0-8cd638d84bf3\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": null,\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\",\r\n    \"customBaseModelInfo\": null,\r\n    \"trainingErrorDetails\": null\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/7307c511-7e78-4d8c-8aa0-8cd638d84bf3/iterations/92d792f3-5872-49fe-9b28-36739f2675eb/performance/images/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "2",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}