{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.3/training/projects/2ebc0a2e-abbb-46af-801e-bc1d1818f7e1/images/tagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "10",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/2ebc0a2e-abbb-46af-801e-bc1d1818f7e1/images/untagged/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "0",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/2ebc0a2e-abbb-46af-801e-bc1d1818f7e1/iterations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"c091fa9f-76d7-43e6-bb32-0f563778afc3\",\r\n    \"name\": \"Iteration 1\",\r\n    \"status\": \"Completed\",\r\n    \"created\": \"2020-06-06T16:43:23.87Z\",\r\n    \"lastModified\": \"2020-06-06T16:43:53.094Z\",\r\n    \"trainedAt\": \"2020-06-06T16:43:51.987Z\",\r\n    \"projectId\": \"2ebc0a2e-abbb-46af-801e-bc1d1818f7e1\",\r\n    \"exportable\": false,\r\n    \"exportableTo\": [],\r\n    \"domainId\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n    \"classificationType\": \"Multilabel\",\r\n    \"trainingType\": \"Regular\",\r\n    \"reservedBudgetInHours\": 0,\r\n    \"trainingTimeInMinutes\": 1,\r\n    \"publishName\": \"Training UnitTest Iteration\",\r\n    \"originalPublishResourceId\": \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{predictionResourceProviderName}\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/2ebc0a2e-abbb-46af-801e-bc1d1818f7e1/iterations/c091fa9f-76d7-43e6-bb32-0f563778afc3/performance/images/count",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "2",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}