{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.2/training/projects/574b0422-8a93-4d75-8c1b-56c311f8cf74/predictions/query",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"maxCount\": 0,\r\n  \"orderBy\": \"Newest\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"token\": {\r\n    \"session\": \"2:4193186\",\r\n    \"continuation\": null,\r\n    \"maxCount\": 0,\r\n    \"orderBy\": \"Newest\",\r\n    \"tags\": null,\r\n    \"iterationId\": null,\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"application\": null\r\n  },\r\n  \"results\": [\r\n    {\r\n      \"resizedImageUri\": \"https://irisprodeu2predictions.blob.core.windows.net/predictionimages/574b0422-8a93-4d75-8c1b-56c311f8cf74/o-9e5346d3bcc24321ac820dfbd94c89d5?sv=2017-04-17&sr=b&sig=DJzedP8Jx0YqKRQMHTPZOnMC4o9WSiAnRH9GJqptZ1k%3D&se=2020-02-12T16%3A41%3A01Z&sp=r\",\r\n      \"thumbnailUri\": \"https://irisprodeu2predictions.blob.core.windows.net/predictionimages/574b0422-8a93-4d75-8c1b-56c311f8cf74/t-9e5346d3bcc24321ac820dfbd94c89d5?sv=2017-04-17&sr=b&sig=9LCEjQ27z895G6L21rtzbGPO6ssv5aM7XQVMeEzJjBU%3D&se=2020-02-12T16%3A41%3A01Z&sp=r\",\r\n      \"originalImageUri\": \"https://irisprodeu2predictions.blob.core.windows.net/predictionimages/574b0422-8a93-4d75-8c1b-56c311f8cf74/o-9e5346d3bcc24321ac820dfbd94c89d5?sv=2017-04-17&sr=b&sig=DJzedP8Jx0YqKRQMHTPZOnMC4o9WSiAnRH9GJqptZ1k%3D&se=2020-02-12T16%3A41%3A01Z&sp=r\",\r\n      \"domain\": \"ee85a74c-405e-4adc-bb47-ffa8ca0c9f31\",\r\n      \"id\": \"9e5346d3-bcc2-4321-ac82-0dfbd94c89d5\",\r\n      \"project\": \"574b0422-8a93-4d75-8c1b-56c311f8cf74\",\r\n      \"iteration\": \"11809ccd-eedc-4b51-a05b-43a6c1629e3e\",\r\n      \"created\": \"2020-02-11T16:41:01.171Z\",\r\n      \"predictions\": [\r\n        {\r\n          \"probability\": 0.9999961,\r\n          \"tagId\": \"2f097102-a88d-4715-a4c4-6d405fd5be43\",\r\n          \"tagName\": \"Tag1\"\r\n        },\r\n        {\r\n          \"probability\": 8.79471951E-13,\r\n          \"tagId\": \"9d693506-80a6-4b55-b311-a0494dbd5710\",\r\n          \"tagName\": \"Tag2\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}