{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"94c71361-0df3-4ec4-a7ed-220e7e054d42\",\r\n    \"created\": \"2020-06-06T16:54:03.2543681\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ae1676df4e184e158fd6c6adf8f7573e/i-94c713610df34ec4a7ed220e7e054d42?sv=2017-04-17&sr=b&sig=H0Bnqs0rr%2B4xaMDrcDOXOg%2BXYNW%2BpP6O%2BIX1hO2TV2I%3D&se=2020-06-07T16%3A57%3A24Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ae1676df4e184e158fd6c6adf8f7573e/t-94c713610df34ec4a7ed220e7e054d42?sv=2017-04-17&sr=b&sig=notO2TAgtVJ8mcB6Sjxb4NAJGOsDBf5UudGDhy4NuJk%3D&se=2020-06-07T16%3A57%3A24Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ae1676df4e184e158fd6c6adf8f7573e/i-94c713610df34ec4a7ed220e7e054d42?sv=2017-04-17&sr=b&sig=H0Bnqs0rr%2B4xaMDrcDOXOg%2BXYNW%2BpP6O%2BIX1hO2TV2I%3D&se=2020-06-07T16%3A57%3A24Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"d31a9b05-d08c-49d9-93cf-a5a67e2ae7ef\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2020-06-06T16:54:03.2513555\"\r\n      }\r\n    ],\r\n    \"regions\": [\r\n      {\r\n        \"regionId\": \"3c9c87dd-1657-433c-b9dc-689440690a59\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2020-06-06T16:54:03.266978\",\r\n        \"tagId\": \"d31a9b05-d08c-49d9-93cf-a5a67e2ae7ef\",\r\n        \"left\": 0.4007353,\r\n        \"top\": 0.184264734,\r\n        \"width\": 0.2720588,\r\n        \"height\": 0.6862745\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"831bf12c-a9a5-488a-a518-f3f6a96a9748\",\r\n    \"created\": \"2020-06-06T16:54:03.2543681\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-ae1676df4e184e158fd6c6adf8f7573e/i-831bf12ca9a5488aa518f3f6a96a9748?sv=2017-04-17&sr=b&sig=SrmkpVp1CMj4nKUFmfBHX0lmdnX4sZbom57o5Jl0p5g%3D&se=2020-[...]
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"ab3cc2b6-94f5-4621-ae76-dc7e6cd53f2d\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/images/94c71361-0df3-4ec4-a7ed-220e7e054d42/regionproposals",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"projectId\": \"ae1676df-4e18-4e15-8fd6-c6adf8f7573e\",\r\n  \"imageId\": \"94c71361-0df3-4ec4-a7ed-220e7e054d42\",\r\n  \"proposals\": [\r\n    {\r\n      \"confidence\": 0.3795618,\r\n      \"boundingBox\": {\r\n        \"left\": 0.2903865,\r\n        \"top\": 0.256612241,\r\n        \"width\": 0.406619,\r\n        \"height\": 0.416933\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/images/regions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"regions\": [\r\n    {\r\n      \"imageId\": \"94c71361-0df3-4ec4-a7ed-220e7e054d42\",\r\n      \"tagId\": \"ab3cc2b6-94f5-4621-ae76-dc7e6cd53f2d\",\r\n      \"left\": 0.2903865,\r\n      \"top\": 0.256612241,\r\n      \"width\": 0.406619,\r\n      \"height\": 0.416933\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"created\": [\r\n    {\r\n      \"imageId\": \"94c71361-0df3-4ec4-a7ed-220e7e054d42\",\r\n      \"regionId\": \"f5cf3bc1-3606-4c8e-a6c5-331ebf87a98b\",\r\n      \"tagName\": null,\r\n      \"created\": \"2020-06-06T16:57:25.5719607\",\r\n      \"tagId\": \"ab3cc2b6-94f5-4621-ae76-dc7e6cd53f2d\",\r\n      \"left\": 0.2903865,\r\n      \"top\": 0.256612241,\r\n      \"width\": 0.406619,\r\n      \"height\": 0.416933\r\n    }\r\n  ],\r\n  \"duplicated\": [],\r\n  \"exceeded\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/images/id?imageIds=94c71361-0df3-4ec4-a7ed-220e7e054d42",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"94c71361-0df3-4ec4-a7ed-220e7e054d42[...]
[...]
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/images/regions?regionIds=f5cf3bc1-3606-4c8e-a6c5-331ebf87a98b",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "//customvision/v3.3/training/projects/ae1676df-4e18-4e15-8fd6-c6adf8f7573e/tags/ab3cc2b6-94f5-4621-ae76-dc7e6cd53f2d",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}