{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/images/tagged?take=50&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"98c7200d-ece5-4951-8329-782292c87659\",\r\n    \"created\": \"2020-11-06T18:17:19.0234206\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-bc6952bb354a4eb5bbd0e9522ae7cb71/i-98c7200dece549518329782292c87659?sv=2017-04-17&sr=b&sig=772bAiHM6habocHwU%2FNTV4LcvTm4HXiz5ac3%2FDk6bKM%3D&se=2020-11-07T18%3A23%3A41Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-bc6952bb354a4eb5bbd0e9522ae7cb71/t-98c7200dece549518329782292c87659?sv=2017-04-17&sr=b&sig=xDEMIjEqYhtM82%2FO%2F76%2F5d2bZXpQben%2Fu9in5glHMNE%3D&se=2020-11-07T18%3A23%3A41Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-bc6952bb354a4eb5bbd0e9522ae7cb71/i-98c7200dece549518329782292c87659?sv=2017-04-17&sr=b&sig=772bAiHM6habocHwU%2FNTV4LcvTm4HXiz5ac3%2FDk6bKM%3D&se=2020-11-07T18%3A23%3A41Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"ebe1960e-c6e0-4d4b-a304-948ef101d717\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2020-11-06T18:17:19.0490433\"\r\n      }\r\n    ],\r\n    \"regions\": [\r\n      {\r\n        \"regionId\": \"40cdee72-245d-4e2b-8f9b-134745de10d4\",\r\n        \"tagName\": \"scissors\",\r\n        \"created\": \"2020-11-06T18:17:19.0646754\",\r\n        \"tagId\": \"ebe1960e-c6e0-4d4b-a304-948ef101d717\",\r\n        \"left\": 0.295343131,\r\n        \"top\": 0.259428144,\r\n        \"width\": 0.403186262,\r\n        \"height\": 0.421568632\r\n      }\r\n    ]\r\n  },\r\n  {\r\n    \"id\": \"657b7467-ee10-4859-84f4-50b0694fef69\",\r\n    \"created\": \"2020-11-06T18:17:19.0077937\",\r\n    \"width\": 816,\r\n    \"height\": 612,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-bc6952bb354a4eb5bbd0e9522ae7cb71/i-657b7467ee10485984f450b0694fef69?sv=2017-04-17&sr=b&sig=CzCTtl%2FmElVY4gZays8thtWvmAy5KmM485dg69Qzo6Y%3D&se[...]
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/tags?name=Test%20Tag%201",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"7d8ab7be-734f-4498-a283-1322b9c53440\",\r\n  \"name\": \"Test Tag 1\",\r\n  \"description\": null,\r\n  \"type\": \"Regular\",\r\n  \"imageCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/images/98c7200d-ece5-4951-8329-782292c87659/regionproposals",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"projectId\": \"bc6952bb-354a-4eb5-bbd0-e9522ae7cb71\",\r\n  \"imageId\": \"98c7200d-ece5-4951-8329-782292c87659\",\r\n  \"proposals\": [\r\n    {\r\n      \"confidence\": 0.0962185338,\r\n      \"boundingBox\": {\r\n        \"left\": 0.3807391,\r\n        \"top\": 0.164848924,\r\n        \"width\": 0.276588678,\r\n        \"height\": 0.6538571\r\n      }\r\n    },\r\n    {\r\n      \"confidence\": 0.04893415,\r\n      \"boundingBox\": {\r\n        \"left\": 0.392996728,\r\n        \"top\": 0.191271275,\r\n        \"width\": 0.281127751,\r\n        \"height\": 0.6621586\r\n      }\r\n    },\r\n    {\r\n      \"confidence\": 0.0405641049,\r\n      \"boundingBox\": {\r\n        \"left\": 0.392996728,\r\n[...]
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/images/regions",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"regions\": [\r\n    {\r\n      \"imageId\": \"98c7200d-ece5-4951-8329-782292c87659\",\r\n      \"tagId\": \"7d8ab7be-734f-4498-a283-1322b9c53440\",\r\n      \"left\": 0.3807391,\r\n      \"top\": 0.164848924,\r\n      \"width\": 0.276588678,\r\n      \"height\": 0.6538571\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"created\": [\r\n    {\r\n      \"imageId\": \"98c7200d-ece5-4951-8329-782292c87659\",\r\n      \"regionId\": \"2c06d359-a863-40b4-985c-1de77ff3c412\",\r\n      \"tagName\": null,\r\n      \"created\": \"2020-11-06T18:23:42.2506551\",\r\n      \"tagId\": \"7d8ab7be-734f-4498-a283-1322b9c53440\",\r\n      \"left\": 0.3807391,\r\n      \"top\": 0.164848924,\r\n      \"width\": 0.276588678,\r\n      \"height\": 0.6538571\r\n    }\r\n  ],\r\n  \"duplicated\": [],\r\n  \"exceeded\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/images/id?imageIds=98c7200d-ece5-4951-8329-782292c87659",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"98c7200d-ece5-4951-8329-7822[...]
[...]
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/images/regions?regionIds=2c06d359-a863-40b4-985c-1de77ff3c412",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/bc6952bb-354a-4eb5-bbd0-e9522ae7cb71/tags/7d8ab7be-734f-4498-a283-1322b9c53440",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {}
}