{
  "Entries": [
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/a499f985-9681-4d56-b4fc-d3494ef662ce/images?taggingStatus=All&take=1&skip=0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"7d3a65a7-151e-4d9b-95d5-0bcb6bb03733\",\r\n    \"created\": \"2020-11-06T18:23:45.5635527\",\r\n    \"width\": 900,\r\n    \"height\": 1600,\r\n    \"resizedImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-a499f98596814d56b4fcd3494ef662ce/i-7d3a65a7151e4d9b95d50bcb6bb03733?sv=2017-04-17&sr=b&sig=YkDlQ%2BpQLNwo3%2FtfBdxYTbF2Hnc0QwiaXID5Jxdy9F8%3D&se=2020-11-07T18%3A29%3A34Z&sp=r\",\r\n    \"thumbnailUri\": \"https://irisprodeu2training.blob.core.windows.net/i-a499f98596814d56b4fcd3494ef662ce/t-7d3a65a7151e4d9b95d50bcb6bb03733?sv=2017-04-17&sr=b&sig=tfK2jroEPWdhtmwJUqjn9QP8bkeEFe0gHMmrbJV6dbo%3D&se=2020-11-07T18%3A29%3A34Z&sp=r\",\r\n    \"originalImageUri\": \"https://irisprodeu2training.blob.core.windows.net/i-a499f98596814d56b4fcd3494ef662ce/i-7d3a65a7151e4d9b95d50bcb6bb03733?sv=2017-04-17&sr=b&sig=YkDlQ%2BpQLNwo3%2FtfBdxYTbF2Hnc0QwiaXID5Jxdy9F8%3D&se=2020-11-07T18%3A29%3A34Z&sp=r\",\r\n    \"tags\": [\r\n      {\r\n        \"tagId\": \"ac7bd1c6-ba91-4fc8-96a2-95031c2aa635\",\r\n        \"tagName\": \"Tag2\",\r\n        \"created\": \"2020-11-06T18:23:45.5789318\"\r\n      }\r\n    ]\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "//customvision/v3.4-preview/training/projects/a499f985-9681-4d56-b4fc-d3494ef662ce/images/metadata?imageIds=7d3a65a7-151e-4d9b-95d5-0bcb6bb03733",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"unit test\",\r\n  \"value\": \"30\"\r\n}",
      "RequestHeaders": {
        "Training-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"isBatchSuccessful\": true,\r\n  \"images\": [\r\n    {\r\n      \"imageId\": \"7d3a65a7-151e-4d9b-95d5-0bcb6bb03733\",\r\n      \"status\": \"OK\",\r\n      \"metadata\": {\r\n        \"type\": \"unit test\",\r\n        \"value\": \"30\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}