{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/csmrg2864?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/csmrg2864\",\r\n  \"name\": \"csmrg2864\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/csmrg2864/providers/Sendgrid.Email//accounts/csmr4393?api-version=2015-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"password\": \"p@ss7584\",\r\n    \"acceptMarketingEmails\": false,\r\n    \"email\": \"tiano@email.com\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"email\": \"tiano@email.com\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": \"Running\",\r\n    \"username\": \"azure_e4930f7a0cdaf33b59e8d13a4277e030@azure.com\",\r\n    \"smtpServer\": \"smtp.sendgrid.net\",\r\n    \"planLabel\": \"Free\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/csmrg2864/providers/Sendgrid.Email//accounts/csmr4393?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/csmrg2864/providers/Sendgrid.Email/accounts/csmr4393\",\r\n  \"name\": \"csmr4393\",\r\n  \"type\": \"Sendgrid.Email/accounts\",\r\n  \"location\": \"centralus\",\r\n  \"subscriptionId\": \"fb3a3d6b-44c8-44f5-88c9-b20917c9b96b\",\r\n  \"resourceGroup\": \"csmrg2864\",\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  },\r\n  \"properties\": {\r\n    \"status\": \"Running\",\r\n    \"username\": \"azure_e4930f7a0cdaf33b59e8d13a4277e030@azure.com\",\r\n    \"smtpServer\": \"smtp.sendgrid.net\",\r\n    \"email\": \"tiano@email.com\",\r\n    \"planLabel\": \"Free\",\r\n    \"isFromPortalV1\": false,\r\n    \"firstName\": \"Sender\",\r\n    \"lastName\": \"Whiz\",\r\n    \"company\": \"Company\",\r\n    \"website\": \"http://Website\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceWithPlan": [
      "csmrg2864",
      "csmr4393",
      "p@ss7584"
    ]
  },
  "Variables": {
    "SubscriptionId": "fb3a3d6b-44c8-44f5-88c9-b20917c9b96b"
  }
}