{
  "Entries": [
    {
      "RequestUri": "https://algernon.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable5y03y4pq"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://algernon.table.core.windows.net/Tables(\u0027testtable5y03y4pq\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://algernon.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "algernon.Tables",
        "odata.id": "https://algernon.table.core.windows.net/Tables(\u0027testtable5y03y4pq\u0027)",
        "odata.editLink": "Tables(\u0027testtable5y03y4pq\u0027)",
        "TableName": "testtable5y03y4pq"
      }
    },
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable5y03y4pq?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": "0001-01-01T00:00:00.0000000Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A06.8713471Z\u0027\u0022",
        "Location": "https://algernon.table.core.windows.net/testtable5y03y4pq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://algernon.table.core.windows.net/$metadata#testtable5y03y4pq/@Element",
        "odata.type": "algernon.testtable5y03y4pq",
        "odata.id": "https://algernon.table.core.windows.net/testtable5y03y4pq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A06.8713471Z\u0027\u0022",
        "odata.editLink": "testtable5y03y4pq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-07-01T18:25:06.8713471Z",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00Z",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00Z",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1.0,
        "IntTypeProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable5y03y4pq()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20gt%20%2710%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://algernon.table.core.windows.net/$metadata#testtable5y03y4pq",
        "value": [
          {
            "odata.type": "algernon.testtable5y03y4pq",
            "odata.id": "https://algernon.table.core.windows.net/testtable5y03y4pq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A07.7209551Z\u0027\u0022",
            "odata.editLink": "testtable5y03y4pq(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "11",
   [...]
    {
      "RequestUri": "https://algernon.table.core.windows.net/Tables(\u0027testtable5y03y4pq\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:10 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1689105773",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "algernon"
  }
}