{
  "Entries": [
    {
      "RequestUri": "https://algernon.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable8r2upx69"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://algernon.table.core.windows.net/Tables(\u0027testtable8r2upx69\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://algernon.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "algernon.Tables",
        "odata.id": "https://algernon.table.core.windows.net/Tables(\u0027testtable8r2upx69\u0027)",
        "odata.editLink": "Tables(\u0027testtable8r2upx69\u0027)",
        "TableName": "testtable8r2upx69"
      }
    },
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is the original",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "0001-01-01T00:00:00.0000000Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "ETag": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A11.890958Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable8r2upx69()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://algernon.table.core.windows.net/$metadata#testtable8r2upx69",
        "value": [
          {
            "odata.type": "algernon.testtable8r2upx69",
            "odata.id": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A11.890958Z\u0027\u0022",
            "odata.editLink": "testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-07-01T18:25:11.890958Z",
            "StringTypeProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:13 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "algernon.testtable8r2upx69",
        "odata.id": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A11.890958Z\u0027\u0022",
        "odata.editLink": "testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is new and improved!",
        "Timestamp": "2020-07-01T18:25:11.8909580Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "StringTypeProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A12.007039Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272020-07-01T18%3A25%3A11.890958Z\u0027\u0022",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "algernon.testtable8r2upx69",
        "odata.id": "https://algernon.table.core.windows.net/testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-07-01T18%3A25%3A12.007039Z\u0027\u0022",
        "odata.editLink": "testtable8r2upx69(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp": "2020-07-01T18:25:12.0070390Z",
        "Timestamp@odata.type": "Edm.DateTime",
        "SomeStringProperty": "This changed due to a matching Etag",
        "StringTypeProperty": "This is the original"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:ebeb7437-e002-0081-39d4-4f3f37000000\nTime:2020-07-01T18:25:12.1170841Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://algernon.table.core.windows.net/Tables(\u0027testtable8r2upx69\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 Jul 2020 18:25:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1460013312",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "algernon"
  }
}