{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 May 2020 20:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable140183"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable140183\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable140183\u0027)",
        "odata.editLink": "Tables(\u0027testtable140183\u0027)",
        "TableName": "testtable140183"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 May 2020 20:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.9000122Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable140183()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey eq %27somPartition%27 and RowKey eq %271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Wed, 06 May 2020 20:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtable140183",
        "value": [
          {
            "odata.type": "chrissscratch.testtable140183",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.9000122Z\u0027\u0022",
            "odata.editLink": "testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-05-06T20:08:05.9000122Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "MERGE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Wed, 06 May 2020 20:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "chrissscratch.testtable140183",
        "odata.id": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.9000122Z\u0027\u0022",
        "odata.editLink": "testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-05-06T20:08:05.9000122Z",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.975075Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "MERGE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.9000122Z\u0027\u0022",
        "x-ms-date": "Wed, 06 May 2020 20:08:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "chrissscratch.testtable140183",
        "odata.id": "https://chrissscratch.table.core.windows.net/testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-05-06T20%3A08%3A05.975075Z\u0027\u0022",
        "odata.editLink": "testtable140183(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-05-06T20:08:05.975075Z",
        "SomeStringProperty": "This changed due to a matching Etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:2de36070-f002-0071-7ae2-23b6d1000000\nTime:2020-05-06T20:08:06.0672510Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable140183\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 06 May 2020 20:08:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1886039722",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}