{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable986245789"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable986245789\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable986245789\u0027)",
        "odata.editLink": "Tables(\u0027testtable986245789\u0027)",
        "TableName": "testtable986245789"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.3783248Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable986245789()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable986245789",
        "value": [
          {
            "odata.type": "chrissprim.testtable986245789",
            "odata.id": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.3783248Z\u0027\u0022",
            "odata.editLink": "testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-05-01T16:21:31.3783248Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "If-Match": "*",
        "x-ms-date": "Fri, 01 May 2020 16:21:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "chrissprim.testtable986245789",
        "odata.id": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.3783248Z\u0027\u0022",
        "odata.editLink": "testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-05-01T16:21:31.3783248Z",
        "SomeStringProperty": "This is new and improved!"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.5184179Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "If-Match": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.3783248Z\u0027\u0022",
        "x-ms-date": "Fri, 01 May 2020 16:21:31 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "odata.type": "chrissprim.testtable986245789",
        "odata.id": "https://chrissprim.table.core.windows.net/testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A31.5184179Z\u0027\u0022",
        "odata.editLink": "testtable986245789(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-05-01T16:21:31.5184179Z",
        "SomeStringProperty": "This changed due to a matching Etag"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.error": {
          "code": "UpdateConditionNotSatisfied",
          "message": {
            "lang": "en-US",
            "value": "The update condition specified in the request was not satisfied.\nRequestId:4fc2cd31-b002-007e-47d4-1f7ee4000000\nTime:2020-05-01T16:21:31.6562013Z"
          }
        }
      }
    },
[...]
