{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable919967430"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable919967430\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable919967430\u0027)",
        "odata.editLink": "Tables(\u0027testtable919967430\u0027)",
        "TableName": "testtable919967430"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable919967430(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A19.890649Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable919967430()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 01 May 2020 16:21:20 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable919967430",
        "value": [
          {
            "odata.type": "chrissprim.testtable919967430",
            "odata.id": "https://chrissprim.table.core.windows.net/testtable919967430(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-01T16%3A21%3A19.890649Z\u0027\u0022",
            "odata.editLink": "testtable919967430(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-05-01T16:21:19.890649Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
[...]
