{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 11 May 2020 13:10:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable201819"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable201819\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable201819\u0027)",
        "odata.editLink": "Tables(\u0027testtable201819\u0027)",
        "TableName": "testtable201819"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable201819(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 11 May 2020 13:10:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "1",
        "SomeStringProperty": "This is the original"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\u0022datetime\u00272020-05-11T13%3A10%3A14.4841754Z\u0027\u0022",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtable201819()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20eq%20%271%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 11 May 2020 13:10:14 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtable201819",
        "value": [
          {
            "odata.type": "chrissscratch.testtable201819",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtable201819(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-11T13%3A10%3A14.4841754Z\u0027\u0022",
            "odata.editLink": "testtable201819(PartitionKey=\u0027somPartition\u0027,RowKey=\u00271\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1",
            "Timestamp@odata.type": "Edm.DateTime",
            "Timestamp": "2020-05-11T13:10:14.4841754Z",
            "SomeStringProperty": "This is the original"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable201819\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 May 2020 13:10:15 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "776165456",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}