{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable675382187"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable675382187\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable675382187\u0027)",
        "odata.editLink": "Tables(\u0027testtable675382187\u0027)",
        "TableName": "testtable675382187"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable675382187?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:25 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeIntProperty": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A25.3269772Z\u0027\u0022",
        "Location": "https://chrissprim.table.core.windows.net/testtable675382187(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable675382187/@Element",
        "odata.type": "chrissprim.testtable675382187",
        "odata.id": "https://chrissprim.table.core.windows.net/testtable675382187(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A25.3269772Z\u0027\u0022",
        "odata.editLink": "testtable675382187(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-04-30T22:03:25.3269772Z",
        "SomeStringProperty": "This is table entity number 01",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1,
        "SomeIntProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable675382187()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20gt%20%2710%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:27 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable675382187",
        "value": [
          {
            "odata.type": "chrissprim.testtable675382187",
            "odata.id": "https://chrissprim.table.core.windows.net/testtable675382187(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A26.2486334Z\u0027\u0022",
            "odata.editLink": "testtable675382187(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "PartitionKey": "somPartition",
            "RowKey": "1[...]
