{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 19 May 2020 21:12:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtabler810c07d"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtabler810c07d\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtabler810c07d\u0027)",
        "odata.editLink": "Tables(\u0027testtabler810c07d\u0027)",
        "TableName": "testtabler810c07d"
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtabler810c07d?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 19 May 2020 21:12:02 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty": "2020-01-01T01:02:00.0000000\u002B00:00",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00.0000000\u002B00:00",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "BinaryTypeProperty": "AQIDBAU=",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "Int64TypeProperty": "1",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "DoubleTypeProperty": 1,
        "DoubleTypeProperty@odata.type": "Edm.Double",
        "IntTypeProperty": 1,
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp": "0001-01-01T00:00:00.0000000\u002B00:00",
        "Timestamp@odata.type": "Edm.DateTime",
        "ETag": null
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-05-19T21%3A12%3A02.0051192Z\u0027\u0022",
        "Location": "https://chrissscratch.table.core.windows.net/testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtabler810c07d/@Element",
        "odata.type": "chrissscratch.testtabler810c07d",
        "odata.id": "https://chrissscratch.table.core.windows.net/testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-05-19T21%3A12%3A02.0051192Z\u0027\u0022",
        "odata.editLink": "testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-05-19T21:12:02.0051192Z",
        "StringTypeProperty": "This is table entity number 01",
        "DatetimeTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeTypeProperty": "2020-01-01T01:02:00\u002B00:00",
        "DatetimeOffsetTypeProperty@odata.type": "Edm.DateTime",
        "DatetimeOffsetTypeProperty": "2020-01-01T01:02:00\u002B00:00",
        "GuidTypeProperty@odata.type": "Edm.Guid",
        "GuidTypeProperty": "0d391d16-97f1-4b9a-be68-4cc871f90001",
        "BinaryTypeProperty@odata.type": "Edm.Binary",
        "BinaryTypeProperty": "AQIDBAU=",
        "Int64TypeProperty@odata.type": "Edm.Int64",
        "Int64TypeProperty": "1",
        "DoubleTypeProperty": 1.0,
        "IntTypeProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtabler810c07d()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$select=\u0026$filter=%28PartitionKey%20eq%20%27somPartition%27%29%20and%20%28RowKey%20gt%20%2710%27%29",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 19 May 2020 21:12:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtabler810c07d\u0026$select=",
        "value": [
          {
            "odata.type": "chrissscratch.testtabler810c07d",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-19T21%3A12%3A02.4294744Z\u0027\u0022",
            "odata.editLink": "testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002711\u0027)",
            "PartitionKey": "somPartition",
            "RowKey":[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtabler810c07d()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=10\u0026$select=\u0026$filter=PartitionKey%20eq%20%27somPartition%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 19 May 2020 21:12:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!16!c29tUGFydGl0aW9u",
        "x-ms-continuation-NextRowKey": "1!4!MTE-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#testtabler810c07d\u0026$select=",
        "value": [
          {
            "odata.type": "chrissscratch.testtabler810c07d",
            "odata.id": "https://chrissscratch.table.core.windows.net/testtabler810c07d(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-05-1[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/testtabler810c07d()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=10\u0026$select=\u0026$filter=PartitionKey%20eq%20%27somPartition%27\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MTE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Tue, 19 May 2020 21:12:03 GMT",
        "x-ms-v[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtabler810c07d\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 19 May 2020 21:12:03 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1143135500",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}