{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable1976657609"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1976657609\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1976657609\u0027)",
        "odata.editLink": "Tables(\u0027testtable1976657609\u0027)",
        "TableName": "testtable1976657609"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1976657609?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:19 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeStringProperty": "This is table entity number 01",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1000000000000001,
        "SomeIntProperty": 1
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A19.6739629Z\u0027\u0022",
        "Location": "https://chrissprim.table.core.windows.net/testtable1976657609(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable1976657609/@Element",
        "odata.type": "chrissprim.testtable1976657609",
        "odata.id": "https://chrissprim.table.core.windows.net/testtable1976657609(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A19.6739629Z\u0027\u0022",
        "odata.editLink": "testtable1976657609(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-04-30T22:03:19.6739629Z",
        "SomeStringProperty": "This is table entity number 01",
        "SomeBinaryProperty": "AQIDBAU=",
        "SomeDoubleProperty0": 1,
        "SomeDoubleProperty1": 1.1,
        "SomeIntProperty": 1
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1976657609()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!16!c29tUGFydGl0aW9u",
        "x-ms-continuation-NextRowKey": "1!4!MDY-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable1976657609",
        "value": [
          {
            "odata.type": "chrissprim.testtable1976657609",
            "odata.id": "https://chrissprim.table.core.windows.net/testtable1976657609(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-04-30T22%3A03%3A19.6739629Z\u0027\u0022",
            "odata.editLink": "testtable1976657609(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "PartitionKey": "somPartition",
            "RowKey":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1976657609()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MDY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1976657609()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MTE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:21 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1976657609()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MTY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Thu, 30 Apr 2020 22:03:22 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "Sta[...]
