{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable1808697145"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1808697145\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1808697145\u0027)",
        "odata.editLink": "Tables(\u0027testtable1808697145\u0027)",
        "TableName": "testtable1808697145"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1808697145?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:24:53 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "SomeProperty": "This is table entity number 01"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-04-27T17%3A24%3A53.5723428Z\u0027\u0022",
        "Location": "https://chrissprim.table.core.windows.net/testtable1808697145(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable1808697145/@Element",
        "odata.type": "chrissprim.testtable1808697145",
        "odata.id": "https://chrissprim.table.core.windows.net/testtable1808697145(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-04-27T17%3A24%3A53.5723428Z\u0027\u0022",
        "odata.editLink": "testtable1808697145(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "01",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-04-27T17:24:53.5723428Z",
        "SomeProperty": "This is table entity number 01"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtable1808697145()?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:24:55 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtable1808697145",
        "value": [
          {
            "odata.type": "chrissprim.testtable1808697145",
            "odata.id": "https://chrissprim.table.core.windows.net/testtable1808697145(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-04-27T17%3A24%3A53.5723428Z\u0027\u0022",
            "odata.editLink": "testtable1808697145(PartitionKey=\u0027somPartition\u0027,RowKey=\u002701\u0027)",
            "PartitionKey": "somPartition",
            "RowKey":[...]
