{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "id": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "eee2cef4-bc47-4278-b4f8-cfc65f25dfd8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "MaintenanceTests",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/Maintenance-RG-1926?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourceGroups/Maintenance-RG-1926",
        "name": "Maintenance-RG-1926",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/Maintenance-RG-1926/providers/Microsoft.Maintenance/maintenanceConfigurations/maintenance-config-2674?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "maintenanceScope": "Host",
          "visibility": "Custom",
          "maintenanceWindow": {
            "startDateTime": "2023-12-31 12:00",
            "expirationDateTime": "9999-12-31 12:00",
            "duration": "05:00:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "location": "eastus",
        "tags": {},
        "properties": {
          "namespace": "Microsoft.Maintenance",
          "extensionProperties": {},
          "maintenanceScope": "Host",
          "maintenanceWindow": {
            "startDateTime": "2023-12-31 12:00",
            "expirationDateTime": "9999-12-31 12:00",
            "duration": "05:00",
            "timeZone": "Pacific Standard Time",
            "recurEvery": "Day"
          },
          "visibility": "Custom",
          "configurationType": "Regular"
        },
        "id": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/Maintenance-RG-1926/providers/Microsoft.Maintenance/maintenanceConfigurations/maintenance-config-2674",
        "name": "maintenance-config-2674",
        "type": "Microsoft.Maintenance/maintenanceConfigurations"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourceGroups/Maintenance-RG-1926/providers/Microsoft.Maintenance/maintenanceConfigurations?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11946"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "tags": {},
            "properties": {
              "namespace": "Microsoft.Maintenance",
              "extensionProperties": {},
              "maintenanceScope": "Host",
              "maintenanceWindow": {
                "startDateTime": "2023-12-31 12:00",
                "expirationDateTime": "9999-12-31 12:00",
                "duration": "05:00",
                "timeZone": "Pacific Standard Time",
                "recurEver[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/Maintenance-RG-1926?api-version=**",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NQUlOVEVOQU5DRToyRFJHOjJEMTkyNi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NQUlOVEVOQU5DRToyRFJHOjJEMTkyNi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NQUlOVEVOQU5DRToyRFJHOjJEMTkyNi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2022-09-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NQUlOVEVOQU5DRToyRFJHOjJEMTkyNi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11940"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "722018512",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "eee2cef4-bc47-4278-b4f8-cfc65f25dfd8"
  }
}
