<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Test.Framework" version="2.0.5658.29898-prerelease" targetFramework="net45" />
  <package id="Microsoft.Azure.Test.HttpRecorder" version="2.0.5647.30205-prerelease" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.14.201151115" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="1.0.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net451" />
</packages>
