{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1491757494?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8194b86a-327b-45da-be18-49284dca75da",
        "traceresponse": "00-23d9ebc765d0154c9371f29f766e7f59-34fb148531ed2ae6-01"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1491757494. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11200556?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a6ab432e-89a5-4731-a133-2be71428ff08",
        "traceresponse": "00-5c77b9fe2d357e44b08c56b5cde357ad-af45db4d7523e99b-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11200556. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B175402164?includeModelDefinition=true\u0026api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "066933a3-94bd-4760-ae0b-5ccfcd5b0be1",
        "traceresponse": "00-6f32f5bed62ac9479b9839b44ab90713-a13876e475e86935-01"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;175402164. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;175402164\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a buil[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-02-27-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "320cdf57-b7f5-4469-b634-ddf5b3006318",
        "traceresponse": "00-4da727eadf581c43a1b677e97b83b36b-70ccc368c68cc558-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:Ward;142582203",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9369753\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;177753514",
            "description": {
              "en": "A separate partition in a building, made of rooms and hallways."
            },
            "displayName": {
              "en": "Ward"
            },
            "decommissioned": false,
            "uploadTime": "2023-01-19T23:58:12.9483585\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;160994964",
     [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1491757494?api-version=2023-02-27-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;175402164"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ab75382f-ae7f-4ad0-b0f2-c829be521d03\u0022",
        "mise-correlation-id": "acc636fa-af79-4636-9a7a-f93509707716",
        "traceresponse": "00-f3e2ece4227aee40a98e891d23848750-a635dd95122f7b56-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1491757494",
        "$etag": "W/\u0022ab75382f-ae7f-4ad0-b0f2-c829be521d03\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;175402164",
          "$lastUpdateTime": "2023-01-24T01:01:34.8393603Z",
          "Temperature": {
            "lastUpdateTime": "2023-01-24T01:01:34.8393603Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-01-24T01:01:34.8393603Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-01-24T01:01:34.8393603Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-01-24T01:01:34.8393603Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-02-27-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "SELECT * FROM DIGITALTWINS"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "75cad3b8-8824-46bf-951c-1029485f7d0b",
        "query-charge": "31.43",
        "traceresponse": "00-a7e36d2df70234489d46a67c10e75ef5-e8891604b4d6912f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin874907283",
            "$etag": "W/\u0022e40cd9e3-2290-4ab2-b922-2a475283c382\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;113404396",
              [...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B175402164?api-version=2023-02-27-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "69e88470-951d-4115-8448-3b8b224b2786",
        "traceresponse": "00-39f7a5ae665e014b96ecd291239a61e1-775068c6a286eb55-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "992555925"
  }
}
