{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OIHyak7814/providers/Microsoft.OperationalInsights/workspaces/AzSDKTest2888/linkedServices/Automation?api-version=2015-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"Automation\",\r\n  \"properties\": {\r\n    \"resourceId\": \"/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OIHyak7814/providers/Microsoft.Automation/automationAccounts/testAccount\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ParentResourceNotFound\",\r\n    \"message\": \"Can not perform requested operation on nested resource. Parent resource 'AzSDKTest2888' not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "LinkedServiceCreateFailsWithoutWorkspace": [
      "AzSDKTest2888"
    ]
  },
  "Variables": {
    "SubscriptionId": "df1ec963-d784-4d11-a779-1b3eeb9ecb78"
  }
}