{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&aggregation=avg%2Ccount%2Cmin%2Cmax%2Csum",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-09-24T09:36:22.94Z\",\r\n    \"end\": \"2018-09-24T21:36:22.94Z\",\r\n    \"requests/duration\": {\r\n      \"avg\": 83.25,\r\n      \"count\": 39162,\r\n      \"min\": 0.44,\r\n      \"max\": 24541.22,\r\n      \"sum\": 3260388.99\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}