{
  "Entries": [
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "55"
      },
      "ResponseBody": {
        "from": 0,
        "total": 20,
        "sessions": [
          {
            "id": 2,
            "appId": "application_1576225874089_0001",
            "appInfo": {
              "driverLogUrl": "http://008b79baa75e493ba50798a50e751b9d03116310046:8042/node/containerlogs/container_1576225874089_0001_01_000001/trusted-service-user",
              "sparkUiUrl": "http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/"
            },
            "state": "killed",
            "log": [
              "\t final status: UNDEFINED",
              "\t tracking URL: http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/",
              "\t user: trusted-service-user",
              "19/12/13 08:31:59 INFO ShutdownHookManager: Shutdown hook called",
              "19/12/13 08:31:59 INFO ShutdownHookManager: Deleting directory /tmp/spark-13f31a03-7633-4467-bf81-3fe3309fb856",
              "19/12/13 08:31:59 INFO ShutdownHookManager: Deleting [...]
    {
      "RequestUri": "https://testsynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/testsparkpool/sessions/2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "http://171.1.155.13:8998/",
        "x-ms-job-clusterrequested-on": "12/13/2019 8:29:10 AM \u002B00:00",
        "x-ms-job-ended-on": "12/13/2019 9:12:57 AM \u002B00:00",
        "x-ms-job-internal-id": "2",
        "x-ms-job-livysubmission-on": "12/13/2019 8:31:43 AM \u002B00:00",
        "x-ms-job-queued-on": "12/13/2019 8:31:00 AM \u002B00:00",
        "x-ms-job-result": "Cancelled",
        "x-ms-job-scheduled-on": "12/13/2019 8:29:10 AM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "zhezhou@microsoft.com",
        "x-ms-job-submitted-on": "12/13/2019 8:29:09 AM \u002B00:00",
        "x-ms-job-type": "SparkServiceSession",
        "x-ms-response-time-ms": "16"
      },
      "ResponseBody": {
        "id": 2,
        "appId": "application_1576225874089_0001",
        "appInfo": {
          "driverLogUrl": "http://008b79baa75e493ba50798a50e751b9d03116310046:8042/node/containerlogs/container_1576225874089_0001_01_000001/trusted-service-user",
          "sparkUiUrl": "http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/"
        },
        "state": "killed",
        "log": [
          "\t final status: UNDEFINED",
          "\t tracking URL: http://008b79baa75e493ba50798a50e751b9d04071d71770:8088/proxy/application_1576225874089_0001/",
          "\t user: trusted-service-user",
          "19/12/13 08:31:59 INFO ShutdownHookManager: Shutdown hook called",
          "19/12/13 08:31:59 INFO ShutdownHookManager: Deleting directory /tmp/spark-13f31a03-7633-4467-bf81-3fe3309fb856",
          "19/12/13 08:31:59 INFO ShutdownHookManager: Deleting directory /tmp/spark-40fe5680-835f-462d-bcbb-c8fffa1bbe6f",
          "19/12/13 08:31:59 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "19/12/13 08:31:59 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "19/12/13 08:31:59 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nYARN Diagnostics: "
        ]
      }
    },
[...]
