{
  "Entries": [
    {
      "RequestUri": "https://workspacet8e502a8ec0bd4e5d.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkt8e502a8ec/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "26"
      },
      "ResponseBody": {
        "from": 0,
        "total": 0,
        "sessions": []
      }
    }
  ],
  "Variables": {
    "AZURE_SYNAPSE_SPARK_POOL_NAME": "sparkt8e502a8ec",
    "AZURE_SYNAPSE_WORKSPACE_URL": "https://workspacet8e502a8ec0bd4e5d.dev.azuresynapse.net",
    "RandomSeed": "1867952465"
  }
}