{
  "Entries": [
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-time-ms": "51"
      },
      "ResponseBody": {
        "from": 0,
        "total": 20,
        "sessions": [
          {
            "id": 74,
            "appId": "application_1607962121345_0001",
            "appInfo": {
              "driverLogUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8042/node/containerlogs/container_1607962121345_0001_01_000001/trusted-service-user",
              "sparkUiUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
              "isSessionTimedOut": "false"
            },
            "state": "killed",
            "log": [
              "\t final status: UNDEFINED",
              "\t tracking URL: http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
              "\t user: trusted-service-user",
              "20/12/14 16:09:09 INFO ShutdownHookManager: Shutdown hook called",
              "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting directory /tmp/spark-9a48bd2a-f0ad-42e6-b456-363e01153316",
              "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting [...]
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/sessions/74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "https://vnet-593110a0-westus2-41.westus2.cloudapp.azure.com:59439/",
        "x-ms-job-clusterrequested-on": "12/14/2020 4:07:40 PM \u002B00:00",
        "x-ms-job-ended-on": "12/14/2020 4:09:55 PM \u002B00:00",
        "x-ms-job-internal-id": "74",
        "x-ms-job-livysubmission-on": "12/14/2020 4:08:59 PM \u002B00:00",
        "x-ms-job-queued-on": "12/14/2020 4:08:58 PM \u002B00:00",
        "x-ms-job-result": "Cancelled",
        "x-ms-job-scheduled-on": "12/14/2020 4:07:40 PM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "00b81593-6414-45e8-98bf-c0396b2972ee",
        "x-ms-job-submitted-on": "12/14/2020 4:07:38 PM \u002B00:00",
        "x-ms-job-type": "SparkServiceSession",
        "x-ms-response-time-ms": "24"
      },
      "ResponseBody": {
        "id": 74,
        "appId": "application_1607962121345_0001",
        "appInfo": {
          "driverLogUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8042/node/containerlogs/container_1607962121345_0001_01_000001/trusted-service-user",
          "sparkUiUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
          "isSessionTimedOut": "false"
        },
        "state": "killed",
        "log": [
          "\t final status: UNDEFINED",
          "\t tracking URL: http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
          "\t user: trusted-service-user",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Shutdown hook called",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting directory /tmp/spark-9a48bd2a-f0ad-42e6-b456-363e01153316",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting directory /tmp/spark-b0f835a3-302b-4cc5-9f8a-893843dfc487",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nYARN Diagnostics: "
        ]
      }
    },
    {
      "RequestUri": "https://workspacechhamosynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkchhamosyna/sessions/74?detailed=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-job-cluster": "https://vnet-593110a0-westus2-41.westus2.cloudapp.azure.com:59439/",
        "x-ms-job-clusterrequested-on": "12/14/2020 4:07:40 PM \u002B00:00",
        "x-ms-job-ended-on": "12/14/2020 4:09:55 PM \u002B00:00",
        "x-ms-job-internal-id": "74",
        "x-ms-job-livysubmission-on": "12/14/2020 4:08:59 PM \u002B00:00",
        "x-ms-job-queued-on": "12/14/2020 4:08:58 PM \u002B00:00",
        "x-ms-job-result": "Cancelled",
        "x-ms-job-scheduled-on": "12/14/2020 4:07:40 PM \u002B00:00",
        "x-ms-job-scheduler-state": "Ended",
        "x-ms-job-submitted-by-name": "00b81593-6414-45e8-98bf-c0396b2972ee",
        "x-ms-job-submitted-on": "12/14/2020 4:07:38 PM \u002B00:00",
        "x-ms-job-type": "SparkServiceSession",
        "x-ms-response-time-ms": "24"
      },
      "ResponseBody": {
        "livyInfo": {
          "notStartedAt": null,
          "startingAt": "2020-12-14T16:08:59.7128781\u002B00:00",
          "idleAt": "2020-12-14T16:09:41.9035044\u002B00:00",
          "deadAt": null,
          "shuttingDownAt": null,
          "killedAt": null,
          "recoveringAt": null,
          "busyAt": null,
          "errorAt": null,
          "currentState": "killed",
          "jobCreationRequest": {
            "name": "session-d53e331b-fc79-4b49-8e02-725242181ff3",
            "conf": {},
            "driverMemory": "28g",
            "driverCores": 4,
            "executorMemory": "28g",
            "executorCores": 4,
            "numExecutors": 2
          }
        },
        "name": "session-d53e331b-fc79-4b49-8e02-725242181ff3",
        "workspaceName": "workspacechhamosynapse",
        "computeName": "sparkchhamosyna",
        "sparkPoolName": "sparkchhamosyna",
        "submitterId": "00b81593-6414-45e8-98bf-c0396b2972ee",
        "artifactId": "Livy",
        "jobType": "SparkSession",
        "result": "Cancelled",
        "schedulerInfo": {
          "submittedAt": "2020-12-14T16:07:38.0740963\u002B00:00",
          "scheduledAt": "2020-12-14T16:07:40.3004676\u002B00:00",
          "endedAt": "2020-12-14T16:09:55.5577244\u002B00:00",
          "cancellationRequestedAt": "2020-12-14T16:09:53.9608642\u002B00:00",
          "currentState": "Ended"
        },
        "pluginInfo": {
          "preparationStartedAt": "2020-12-14T16:07:40.3256504\u002B00:00",
          "resourceAcquisitionStartedAt": "2020-12-14T16:07:40.4973283\u002B00:00",
          "submissionStartedAt": "2020-12-14T16:08:58.9706455\u002B00:00",
          "monitoringStartedAt": "2020-12-14T16:08:59.7301414\u002B00:00",
          "cleanupStartedAt": "2020-12-14T16:09:53.9608687\u002B00:00",
          "currentState": "Ended"
        },
        "tags": {},
        "id": 74,
        "appId": "application_1607962121345_0001",
        "appInfo": {
          "driverLogUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8042/node/containerlogs/container_1607962121345_0001_01_000001/trusted-service-user",
          "sparkUiUrl": "http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
          "isSessionTimedOut": "false"
        },
        "state": "killed",
        "log": [
          "\t final status: UNDEFINED",
          "\t tracking URL: http://8df8f88678dc4167abf7867576148e23000bf120163:8088/proxy/application_1607962121345_0001/",
          "\t user: trusted-service-user",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Shutdown hook called",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting directory /tmp/spark-9a48bd2a-f0ad-42e6-b456-363e01153316",
          "20/12/14 16:09:09 INFO ShutdownHookManager: Deleting directory /tmp/spark-b0f835a3-302b-4cc5-9f8a-893843dfc487",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: Stopping azure-file-system metrics system...",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: azure-file-system metrics system stopped.",
          "20/12/14 16:09:09 INFO MetricsSystemImpl: azure-file-system metrics system shutdown complete.",
          "\nYARN Diagnostics: "
        ]
      }
    },
[...]
