{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvHOqi9WPN4fvHGJ4PwnuDPM3K5i/TuvsxdeQ9Yw9jA+cOaGabh0m+y9kiN7yQaGNex/BywyeOQpVjc5R8/mVMnXjn0PnhP5kWR8WWUi0gIXPa5ws+QYtTVj1KRc0zPSXuvRL1/wLjO53PMs4XP+Zp"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14772"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.Fabric.Admin/fabricLocations\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"pepIpAddresses\": [\r\n          \"192.168.200.224\"\r\n        ],\r\n        \"timeServer\": \"10.10.240.20\",\r\n        \"stampInformationId\": \"fad287c9-60c3-4107-9fb2-140de7fcf787\",\r\n        \"externalDNSIPAddress01\": \"AzS-ns01.local.azurestack.external\",\r\n        \"externalDNSIPAddress02\": \"AzS-ns02.local.azurestack.external\",\r\n        \"exclusiveAdminOperationRunning\": false\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvkkCu9c/0eKATBHiCLNN23lN/O7+kYNeP2pX1b7W9Km5UGEL/ZeZauvgU5/Y9SHXuE5c9pJYLzym0BDgVLWlXvP+zE083FrK/yzXRt31jp48eyavvQXtcyVBIj/anlYQwihqV7WHJgvpubEB0xPWx"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14771"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/s-cluster\",\r\n      \"name\": \"local/s-cluster\",\r\n      \"type\": \"Microsoft.Fabric.Admin/fabricLocations/scaleUnits\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"scaleUnitType\": \"HyperConverged\",\r\n        \"logicalFaultDomain\": 0,\r\n        \"nodes\": [\r\n          \"/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1n22r0412\"\r\n        ],\r\n        \"state\": \"Running\",\r\n        \"totalCapacity\": {\r\n          \"memoryGB\": 255.90625,\r\n          \"cores\": 40\r\n        },\r\n        \"isMultiNode\": false\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/s-cluster/storageSubSystems?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv3ARLv2l78a3Pwt+3ZfZt0BIoYn0iFarBJwRRRfpD9MdUlmVNMULoVvoGqPQV53LSY/o8W+Kcu9uFsxTSbo+zXvbCq+bhCiv7RppVFYcP/2Yae2u1Mpmkkjd0um7uqO5Ol0Phc2pxstf7/VCowV0f"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14770"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/s-cluster/storageSubSystems/s-cluster.azurestack.local\",\r\n      \"name\": \"local/s-cluster/s-cluster.azurestack.local\",\r\n      \"type\": \"Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"totalCapacityGB\": 30797,\r\n        \"remainingCapacityGB\": 30396,\r\n        \"healthStatus\": \"Healthy\",\r\n        \"operationalStatus\": \"OK\",\r\n        \"rebalanceStatus\": \"\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1e9b25d5-0ce8-4561-a7dc-6b1155f11c42/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/s-cluster/storageSubSystems/s-cluster.azurestack.local/drives?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ[...]
