{
  "Entries": [
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/receivedShares/7de5fc90-2960-45a0-adb4-940db27a2305?api-version=2023-02-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "container214746",
              "folder": "folder214746",
              "mountPath": ""
            }
          },
          "displayName": "testDisplayName1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/receivedShares/7de5fc90-2960-45a0-adb4-940db27a2305/7de5fc90-2960-45a0-adb4-940db27a2305",
        "Operation-Id": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
        "Operation-Location": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-02-15T03:41:16.3027829Z",
          "sharedAt": "2023-02-15T03:41:16.3027829Z",
          "displayName": "testDisplayName1",
          "provisioningState": "Succeeded",
          "shareStatus": "Attached",
          "sentShareDescription": "updatedDescription",
          "receiverName": "SyMS",
          "receiverTenantName": "Microsoft",
          "senderName": "SyMS",
          "senderTenantName": "Microsoft",
          "assetLocation": "southafricanorth",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "container214746",
              "folder": "folder214746",
              "mountPath": "",
              "location": "southafricanorth"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/0f3dcfc3-18f8-4099-b381-8353e19d43a7/resourceGroups/faisalaltell/providers/Microsoft.Storage/storageAccounts/ftreceiversan",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "7de5fc90-2960-45a0-adb4-940db27a2305",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://ads-perf-westeurope-pv.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-02-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "startTime": "2023-02-15T03:49:45.2314552Z",
        "endTime": "2023-02-15T03:49:45.2314552Z",
        "status": "Succeeded",
        "error": null
      }
    },
[...]
