{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/11726395-c265-4d91-acc8-7bb2cc650f5c?api-version=2023-05-30-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "shareKind": "InPlace",
        "properties": {
          "sink": {
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/consumerTestStorageAccount",
              "type": "ArmResourceReference"
            },
            "properties": {
              "containerName": "container2241218",
              "folder": "folder2241218",
              "mountPath": ""
            }
          },
          "displayName": "testDisplayName1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Id": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
        "Operation-Location": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview"
      },
      "ResponseBody": {
        "properties": {
          "createdAt": "2023-06-12T03:59:44.2894837Z",
          "sharedAt": "2023-06-12T03:59:44.2894837Z",
          "displayName": "testDisplayName1",
          "state": "Succeeded",
          "shareStatus": "Attached",
          "sentShareDescription": "updatedDescription",
          "receiverName": "sdk-05-30-share",
          "receiverTenantName": "Microsoft",
          "senderName": "sdk-05-30-share",
          "senderTenantName": "Microsoft",
          "assetLocation": "australiaeast",
          "assetStoreKind": "AdlsGen2Account",
          "sink": {
            "properties": {
              "containerName": "container2241218",
              "folder": "folder2241218",
              "mountPath": "",
              "location": "australiaeast"
            },
            "storeKind": "AdlsGen2Account",
            "storeReference": {
              "referenceName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testResourceGroup/providers/Microsoft.Storage/storageAccounts/consumerTestStorageAccount",
              "type": "ArmResourceReference"
            }
          }
        },
        "shareKind": "InPlace",
        "id": "11726395-c265-4d91-acc8-7bb2cc650f5c",
        "type": "ReceivedShare"
      }
    },
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/operationResults/00000000-0000-0000-0000-000000000000?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "startTime": "2023-06-12T04:17:53.0571822Z",
        "endTime": "2023-06-12T04:17:53.0571822Z",
        "status": "Succeeded",
        "error": null
      }
    },
[...]
