{
  "Entries": [
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourcegroups/sqlcrudtest-4646?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Europe\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4646\": \"2020-12-29 23:11:41Z\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646\",\r\n  \"name\": \"sqlcrudtest-4646\",\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"sqlcrudtest-4646\": \"2020-12-29 23:11:41Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"administratorLoginPassword\": \"Un53cuRE!\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/d2fbb015-1248-4ac6-af0d-bce89a7ed1d6?api-version=2019-06-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/d2fbb015-1248-4ac6-af0d-bce89a7ed1d6?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-12-29T23:11:47.42Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/d2fbb015-1248-4ac6-af0d-bce89a7ed1d6?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"d2fbb015-1248-4ac6-af0d-bce89a7ed1d6\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-12-29T23:11:47.42Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"dummylogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-7009.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009\",\r\n  \"name\": \"sqlcrudtest-7009\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"PremiumPool\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolOperationResults/0f7b81bf-cb82-4f58-8911-cb1abcaf8158?api-version=2020-08-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/0f7b81bf-cb82-4f58-8911-cb1abcaf8158?api-version=2020-08-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalElasticPool\",\r\n  \"startTime\": \"2020-12-29T23:12:38.607Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"PremiumPool\",\r\n    \"capacity\": 250\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolOperationResults/76176dfc-7b26-4d6b-af74-fb40c78a6021?api-version=2020-08-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/76176dfc-7b26-4d6b-af74-fb40c78a6021?api-version=2020-08-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpdateLogicalElasticPool\",\r\n  \"startTime\": \"2020-12-29T23:13:41.56Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/0f7b81bf-cb82-4f58-8911-cb1abcaf8158?api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"0f7b81bf-cb82-4f58-8911-cb1abcaf8158\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-12-29T23:12:38.607Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629?api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"PremiumPool\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 125\r\n  },\r\n  \"kind\": \"pool\",\r\n  \"properties\": {\r\n    \"state\": \"Ready\",\r\n    \"creationDate\": \"2020-12-29T23:12:38.747Z\",\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"perDatabaseSettings\": {\r\n      \"minCapacity\": 0.0,\r\n      \"maxCapacity\": 125.0\r\n    },\r\n    \"zoneRedundant\": false\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {\r\n    \"tagKey1\": \"TagValue1\"\r\n  },\r\n  \"id\": \"/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629\",\r\n  \"name\": \"sqlcrudtest-9629\",\r\n  \"type\": \"Microsoft.Sql/servers/elasticPools\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629/operations?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"elasticPoolName\": \"sqlcrudtest-9629\",\r\n        \"operation\": \"UPDATE\",\r\n        \"operationFriendlyName\": \"UPDATE\",\r\n        \"percentComplete\": 1,\r\n        \"serverName\": \"sqlcrudtest-7009\",\r\n        \"startTime\": \"2020-12-29T23:13:41.56Z\",\r\n        \"state\": \"IN_PROGRESS\",\r\n        \"estimatedCompletionTime\": \"2020-12-29T23:14:23.887Z\",\r\n        \"description\": \"'UpdateLogicalElasticPool' on pool 'sqlcrudtest-9629', target Edition 'Premium', target pool DTU '250'.\",\r\n        \"isCancellable\": false\r\n      },\r\n      \"id\": \"/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629/operations/76176dfc-7b26-4d6b-af74-fb40c78a6021\",\r\n      \"name\": \"76176dfc-7b26-4d6b-af74-fb40c78a6021\",\r\n      \"type\": \"Microsoft.Sql/servers/elasticPools/operations\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/servers/sqlcrudtest-7009/elasticPools/sqlcrudtest-9629/operations/76176dfc-7b26-4d6b-af74-fb40c78a6021/cancel?api-version=2017-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourceGroups/sqlcrudtest-4646/providers/Microsoft.Sql/locations/westeurope/elasticPoolAzureAsyncOperation/76176dfc-7b26-4d6b-af74-fb40c78a6021?api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"76176dfc-7b26-4d6b-af74-fb40c78a6021\",\r\n  \"status\": \"Canceled\",\r\n  \"startTime\": \"2020-12-29T23:13:41.56Z\",\r\n  \"error\": {\r\n    \"code\": \"OperationCancelled\",\r\n    \"message\": \"The operation has been cancelled by user.\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/resourcegroups/sqlcrudtest-4646?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/10a238d6-a139-46d0-818d-d091394072b6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUxDUlVEVEVTVDoyRDQ2NDYtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2017-05-10"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {
    "CreateResourceGroup": [
      "sqlcrudtest-4646"
    ],
    "CreateServer": [
      "sqlcrudtest-7009"
    ],
    "TestCancelUpdateElasticPoolOperation": [
      "sqlcrudtest-9629"
    ]
  },
  "Variables": {
    "SubscriptionId": "10a238d6-a139-46d0-818d-d091394072b6"
  }
}