{
  "Entries": [
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/collections/mysubCollection?api-version=2019-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "parentCollection": {
          "referenceName": "dotnetLLCPurviewAccount"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "mysubCollection",
        "friendlyName": "mysubCollection",
        "parentCollection": {
          "type": "CollectionReference",
          "referenceName": "dotnetllcpurviewaccount"
        },
        "systemData": {
          "createdBy": "4faa32fd-963a-464d-b6bf-c12cf48c0317",
          "createdByType": "Application",
          "createdAt": "2021-08-20T03:37:47.1185314Z",
          "lastModifiedBy": "4faa32fd-963a-464d-b6bf-c12cf48c0317",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2021-08-20T03:37:47.1185315Z"
        },
        "collectionProvisioningState": "Creating"
      }
    },
[...]
    {
      "RequestUri": "https://dotnetllcpurviewaccount.purview.azure.com/collections/mysubCollection?api-version=2019-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "934309058"
  }
}