{
	"Entries": [
		{
			"RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-device/alerts?api-version=2019-08-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseHeaders": {
				"x-ms-ratelimit-remaining-subscription-reads": [
					"11990"
				],
				"Content-Type": [
					"application/json; charset=utf-8"
				]
			},
			"ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"title\": \"Edge compute couldn’t access data on share argus-nfs-cloud-share.\",\r\n        \"alertType\": \"EdgeCompute.StorageEndpointsInaccessible\",\r\n        \"appearedAtTime\": \"2019-07-15T06:10:38.6199662Z\",\r\n        \"appearedAtDateTime\": \"2019-07-15T06:10:38.6199662Z\",\r\n        \"recommendation\": \"Verify that you can access share argus-nfs-cloud-share. If you can access the share, it indicates an issue with Edge compute.<br>\\r\\n\\r\\nTo resolve the issue, restart your device. In the local web UI of your device, go to Maintenance > Power settings and click Restart. <br> If the problem persists, contact Microsoft Support.\",\r\n        \"severity\": \"Warning\",\r\n        \"errorDetails\": {\r\n          \"errorCode\": \"\",\r\n          \"errorMessage\": \"\",\r\n          \"occurrences\": 1,\r\n          \"occurences\": 1\r\n        },\r\n        \"detailedInformation\": {}\r\n      },\r\n      \"id\": \"/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-device/alerts/c66615ff-0000-8888-b204-9e9f348a887a\",\r\n      \"name\": \"c66615ff-0000-8888-b204-9e9f348a887a\",\r\n      \"type\": \"Microsoft.DataBoxEdge/dataBoxEdgeDevices/alerts\"\r\n    }\r\n  ]\r\n}",
			"StatusCode": 200
		},
		{
			"RequestUri": "/subscriptions/db4e2fdb-6d80-4e6e-b7cd-736098270664/resourceGroups/demo-resources/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/demo-edge-device/alerts/c66615ff-0000-8888-b204-9e9f348a887a?api-version=2019-08-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseHeaders": {
				"x-ms-ratelimit-remaining-subscription-reads": [
					"11989"
				],
				"Content-Type": [
					"application/json; charset=utf-8"
				]
			},
			"Respons[...]
