{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "d2b80745-3b5d-4357-84cc-ede5c5886c5a",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "A4O VoiceServices RP Test Subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourcegroups/SDKTest4176?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176",
        "name": "SDKTest4176",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785?api-version=2023-01-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centraluseuap",
        "properties": {
          "serviceLocations": [
            {
              "name": "eastus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.1"
                ]
              }
            },
            {
              "name": "westus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.2"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/60b2ba65-e739-42ba-8c92-5920bdf3278e*1D7D675F580F7F0F1CB9B4DDAAFE083AF9A90947A8F206B86F42B8464895BBCB?api-version=2023-01-31",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010012cd-0000-3400-0000-63f37cf80000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785",
        "name": "SDKTest2785",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "b3fd61be-0e34-4d9e-90c3-0a5abd40a26a",
          "createdByType": "Application",
          "createdAt": "2023-02-20T14:00:24.7152386Z",
          "lastModifiedBy": "b3fd61be-0e34-4d9e-90c3-0a5abd40a26a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-20T14:00:24.7152386Z"
        },
        "properties": {
          "serviceLocations": [
            {
              "name": "eastus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.1"
                ]
              }
            },
            {
              "name": "westus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.2"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/60b2ba65-e739-42ba-8c92-5920bdf3278e*1D7D675F580F7F0F1CB9B4DDAAFE083AF9A90947A8F206B86F42B8464895BBCB?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002241004be2-0000-3400-0000-63f37cf80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/providers/Microsoft.VoiceServices/locations/CENTRALUSEUAP/operationStatuses/60b2ba65-e739-42ba-8c92-5920bdf3278e*1D7D675F580F7F0F1CB9B4DDAAFE083AF9A90947A8F206B86F42B8464895BBCB",
        "name": "60b2ba65-e739-42ba-8c92-5920bdf3278e*1D7D675F580F7F0F1CB9B4DDAAFE083AF9A90947A8F206B86F42B8464895BBCB",
        "resourceId": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785",
        "status": "Accepted",
        "startTime": "2023-02-20T14:00:24.8448339Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785?api-version=2023-01-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010013cd-0000-3400-0000-63f37cfe0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785",
        "name": "SDKTest2785",
        "type": "microsoft.voiceservices/communicationsgateways",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "b3fd61be-0e34-4d9e-90c3-0a5abd40a26a",
          "createdByType": "Application",
          "createdAt": "2023-02-20T14:00:24.7152386Z",
          "lastModifiedBy": "b3fd61be-0e34-4d9e-90c3-0a5abd40a26a",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-02-20T14:00:24.7152386Z"
        },
        "properties": {
          "status": "ChangePending",
          "apiBridge": null,
          "autoGeneratedDomainNameLabel": "SDKTest2785.f6hxd3g3fvfkavfg",
          "serviceLocations": [
            {
              "name": "eastus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.1"
                ]
              }
            },
            {
              "name": "westus",
              "primaryRegionProperties": {
                "operatorAddresses": [
                  "1.1.1.2"
                ]
              }
            }
          ],
          "connectivity": "PublicAddress",
          "codecs": [
            "PCMA"
          ],
          "e911Type": "Standard",
          "platforms": [
            "OperatorConnect"
          ],
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785?api-version=2023-01-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "tagKey": "tagValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010016cd-0000-3400-0000-63f37d060000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d2b80745-3b5d-4357-84cc-ede5c5886c5a/resourceGroups/SDKTest4176/providers/Microsoft.VoiceServices/communicationsGateways/SDKTest2785?api-version=2023-01-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1918800794",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "d2b80745-3b5d-4357-84cc-ede5c5886c5a"
  }
}
