{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/alerts?targetResource=%2Fsubscriptions%2Fdd91de05-d791-4ceb-b6dc-988682dc7d72%2Fresourcegroups%2Falertslab%2Fproviders%2Fmicrosoft.apimanagement%2Fservice%2Faig-test&monitorService=Platform&severity=Sev3&api-version=2019-05-05-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nextLink\": \"\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dd91de05-d791-4ceb-b6dc-988682dc7d72"
  }
}