{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/hostName?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/hostName\",\r\n  \"type\": \"Microsoft.Intune/locations\",\r\n  \"name\": \"hostname\",\r\n  \"properties\": {\r\n    \"hostName\": \"fef.bmsua01\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/flaggedUsers?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/flaggedUsers/f4058390-f6d0-459b-9c36-3cf9d88e87f5\",\r\n      \"name\": \"f4058390-f6d0-459b-9c36-3cf9d88e87f5\",\r\n      \"type\": \"Microsoft.Intune/locations/flaggedUsers\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"(株)パソナ　パソナキャリアカンパニー 鹿島建設株式会社\",\r\n        \"errorCount\": 1\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Elapsed-Time-Milliseconds": [
          "103"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "b0a6ead6-9c04-4e15-a3b8-236036f1c1a5"
        ],
        "related-activity-id": [
          "b0a6ead6-9c04-4e15-a3b8-236036f1c1a5"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Intune/locations/fef.bmsua01/flaggedUsers/f4058390-f6d0-459b-9c36-3cf9d88e87f5?api-version=2015-01-14-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Intune/locations/fef.bmsua01/flaggedUsers/f4058390-f6d0-459b-9c36-3cf9d88e87f5\",\r\n  \"name\": \"f4058390-f6d0-459b-9c36-3cf9d88e87f5\",\r\n  \"type\": \"Microsoft.Intune/locations/flaggedUsers\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"(株)パソナ　パソナキャリアカンパニー 鹿島建設株式会社\",\r\n    \"errorCount\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata;streaming=true;charset=utf-8,application/json;odata=minimalmetadata;streaming=true;charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 19 Nov 2015 01:00:14 GMT"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "Elapsed-Time-Milliseconds": [
          "100"
        ],
        "service-name": [
          "AdminExperienceService"
        ],
        "unique-request-id": [
          "2eecccf9-2f0e-4802-a471-cc10620fb2a4"
        ],
        "related-activity-id": [
          "2eecccf9-2f0e-4802-a471-cc10620fb2a4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "None"
  }
}