{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/LogicAppRG-9580?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580",
        "name": "LogicAppRG-9580",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580/providers/Microsoft.Logic/workflows/workflow7792?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "integrationAccount": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580/providers/Microsoft.Logic/integrationAccounts/integration1356"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2023-02-07T08:33:44.6054843Z",
          "changedTime": "2023-02-07T08:33:44.592693Z",
          "state": "Enabled",
          "version": "08585258480608975851",
          "accessEndpoint": "https://prod-03.centralus.logic.azure.com:443/workflows/230255490c8c45a5aa850a926b9d7cad",
          "integrationAccount": {
            "name": "integration1356",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580/providers/Microsoft.Logic/integrationAccounts/integration1356",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.67.236.125"
                },
                {
                  "address": "104.208.25.27"
                },
                {
                  "address": "40.122.170.198"
                },
                {
                  "address": "40.113.218.230"
                },
                {
                  "address": "23.100.86.139"
                },
                {
                  "address": "23.100.87.24"
                },
                {
                  "address": "23.100.87.56"
                },
                {
                  "address": "23.100.82.16"
                },
                {
                  "address": "52.141.221.6"
                },
                {
                  "address": "52.141.218.55"
                },
                {
                  "address": "20.109.202.36"
                },
                {
                  "address": "20.109.202.29"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "13.67.236.76"
                },
                {
                  "address": "40.77.111.254"
                },
                {
                  "address": "40.77.31.87"
                },
                {
                  "address": "104.43.243.39"
                },
                {
                  "address": "13.86.98.126"
                },
                {
                  "address": "20.109.202.37"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "52.173.241.27"
                },
                {
                  "address": "52.173.245.164"
                },
                {
                  "address": "13.89.171.80/28"
                },
                {
                  "address": "13.89.178.64/27"
                },
                {
                  "address": "40.77.68.110"
                },
                {
                  "address": "20.98.144.224/27"
                },
                {
                  "address": "20.98.145.0/28"
                },
                {
                  "address": "20.80.123.134"
                },
                {
                  "address": "20.80.123.57"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580/providers/Microsoft.Logic/workflows/workflow7792",
        "name": "workflow7792",
        "type": "Microsoft.Logic/workflows",
        "location": "centralus",
        "tags": {}
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-9580/providers/Microsoft.Logic/workflows/workflow7792?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Logic/workflows/workflow7792\u0027 under resource group \u0027LogicAppRG-9580\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "468667363",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
