{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/LogicAppRG-2042?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042",
        "name": "LogicAppRG-2042",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/integrationAccounts/integration2160?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/integrationAccounts/integration2160",
        "name": "integration2160",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/workflows/workflow6886?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "integrationAccount": {
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/integrationAccounts/integration2160"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2022-08-25T06:59:54.8477756Z",
          "changedTime": "2022-08-25T06:59:54.8431195Z",
          "state": "Enabled",
          "version": "08585401960906539984",
          "accessEndpoint": "https://prod-28.centralus.logic.azure.com:443/workflows/e69a2d5a5b934315b64ee8a594e32900",
          "integrationAccount": {
            "name": "integration2160",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/integrationAccounts/integration2160",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {},
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {}
                }
              }
            },
            "actions": {
              "Response": {
                "runAfter": {},
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200
                }
              }
            },
            "outputs": {}
          },
          "parameters": {},
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.67.236.125"
                },
                {
                  "address": "104.208.25.27"
                },
                {
                  "address": "40.122.170.198"
                },
                {
                  "address": "40.113.218.230"
                },
                {
                  "address": "23.100.86.139"
                },
                {
                  "address": "23.100.87.24"
                },
                {
                  "address": "23.100.87.56"
                },
                {
                  "address": "23.100.82.16"
                },
                {
                  "address": "52.141.221.6"
                },
                {
                  "address": "52.141.218.55"
                },
                {
                  "address": "20.109.202.36"
                },
                {
                  "address": "20.109.202.29"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "13.67.236.76"
                },
                {
                  "address": "40.77.111.254"
                },
                {
                  "address": "40.77.31.87"
                },
                {
                  "address": "104.43.243.39"
                },
                {
                  "address": "13.86.98.126"
                },
                {
                  "address": "20.109.202.37"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "52.173.241.27"
                },
                {
                  "address": "52.173.245.164"
                },
                {
                  "address": "13.89.171.80/28"
                },
                {
                  "address": "13.89.178.64/27"
                },
                {
                  "address": "40.77.68.110"
                },
                {
                  "address": "20.98.144.224/27"
                },
                {
                  "address": "20.98.145.0/28"
                },
                {
                  "address": "20.80.123.134"
                },
                {
                  "address": "20.80.123.57"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/workflows/workflow6886",
        "name": "workflow6886",
        "type": "Microsoft.Logic/workflows",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-2042/providers/Microsoft.Logic/workflows?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "19994"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "createdTime": "2022-08-25T06:59:28.9478865Z",
              "changedTime": "2022-08-25T06:59:28.9366968Z",
              "state": "Enabled",
              "version": "08585401961166262104",
              "accessEndpoint": "https://prod-14.centralus.logic.azure.com:443/workflows/34a3af86c54a4e33a72f16c01833794d",
              "integrationAccount": {
                "name": "integration2160",[...]
