{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2018-04-04&$top=10&$from=2018-04-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-05-22T18:02:28Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/MC_JOELPOCLUSTER_JOELPOAKS_EASTUS/providers/Microsoft.Compute/virtualMachines/aks-nodepool1-34433659-2/extensions/OmsAgentForLinux\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/3c53617ee139444db82514a5\",\r\n      \"policyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyDefinitions/textboxdefaultvalue\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Compute/virtualMachines/extensions\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"resourceGroup\": \"MC_JOELPOCLUSTER_JOELPOAKS_EASTUS\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"3c53617ee139444db82514a5\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"EFFECT_1\\\":{\\\"value\\\":\\\"\\\"}}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"policyDefinitionName\": \"textboxdefaultvalue\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policySetDefinitions/5c7950f6-99c0-4ead-a646-b0b9b7832559\",\r\n      \"policySetDefinitionName\": \"5c7950f6-99c0-4ead-a646-b0b9b7832559\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"1748719353954991994\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-05-22T18:02:28Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/AzureResourcesCache/providers/Microsoft.ServiceFabric/clusters/gov-rp-int-arc/applications/Res[...]
