{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/9cdb41aa9f304cdeb4a8b090/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2017-12-12-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/9cdb41aa9f304cdeb4a8b090/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 49,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/9cdb41aa9f304cdeb4a8b090/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-07T01:20:11.3681346Z\",\r\n      \"ResourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/microsoft.compute/virtualmachinescalesets/cheggtest\",\r\n      \"PolicyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/9cdb41aa9f304cdeb4a8b090\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/2a0e14a6-b0a6-4fab-991a-187a4f81c498\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"ResourceType\": \"/microsoft.compute/virtualmachinescalesets\",\r\n      \"ResourceLocation\": \"eastus\",\r\n      \"ResourceGroup\": \"cheggpolicy\",\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"9cdb41aa9f304cdeb4a8b090\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{\\\"tagName\\\":{\\\"value\\\":\\\"owner\\\"},\\\"tagValue\\\":{\\\"value\\\":\\\"AFM\\\"}}\",\r\n      \"PolicyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/cheggpolicy\",\r\n      \"PolicyDefinitionName\": \"2a0e14a6-b0a6-4fab-991a-187a4f81c498\",\r\n      \"PolicyDefinitionAction\": \"append\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": null,\r\n      \"PolicySetDefinitionName\": null,\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n      \"PolicySetDefinitionParameters\": null,\r\n      \"ManagementGroupIds\": \"AzGovTest5,AzGovTest3,AzGovTest2,AzGovTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PolicyDefinitionReferenceId\": null,\r\n      \"TenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PrincipalOid\": \"36e2f355-d2e2-4fbc-88ab-4281639dff94\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/9cdb41aa9f304cdeb4a8b090/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-07T01:20:03.3496976Z\",\r\n      \"ResourceId\": \"/subscriptions/d0610b27-9663-4c0[...]
