{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2017-12-12-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 1000,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-07T20:36:39Z\",\r\n      \"ResourceId\": \"/subscriptions/acc3e6fc-7c70-46a9-8d3d-a50f58b72b07/resourceGroups/testRG/providers/Microsoft.Compute/snapshots/snapshot_4e517658-7243-47e7-8261-1c9ac7d3caa6\",\r\n      \"PolicyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyAssignments/1ef5d536aec743a0aa801c1a\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"acc3e6fc-7c70-46a9-8d3d-a50f58b72b07\",\r\n      \"ResourceType\": \"/Microsoft.Compute/snapshots\",\r\n      \"ResourceLocation\": \"eastus\",\r\n      \"ResourceGroup\": \"testRG\",\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"1ef5d536aec743a0aa801c1a\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{}\",\r\n      \"PolicyAssignmentScope\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1\",\r\n      \"PolicyDefinitionName\": \"022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"PolicyDefinitionAction\": \"audit\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policySetDefinitions/335cefd2-ab16-430f-b364-974a170eb1d5\",\r\n      \"PolicySetDefinitionName\": \"335cefd2-ab16-430f-b364-974a170eb1d5\",\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n      \"PolicySetDefinitionParameters\": null,\r\n      \"ManagementGroupIds\": \"AzGovTest4,AzGovTest3,AzGovTest2,AzGovTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PolicyDefinitionReferenceId\": \"4337452039094051187\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-07T20:36:39Z\",\r\n      \"ResourceId\": \"/subscriptions/acc3e6fc-7c70-46a9-8d3d-a50f58b72b07/resourceGroups/testRG/providers/Microsoft.Compute/snapshots/snapshot_4e517658-7243-47e7-8261-1c9ac7d3caa6\",\r\n      \"PolicyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"acc3e6fc-7c70-46a9-8d3d-a50f58b72b07\",\r\n      \"ResourceType\": \"/Microsoft.Compute/snapshots\",\r\n      \"ResourceLocation\": \"eastus\",\r\n      \"ResourceGroup\": \"testRG\",\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"186044306c044a1d8c0ff76c\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{\\\"allowedLocations\\\":{\\\"value\\\":[\\\"centralus\\\"]}}\",\r\n      \"PolicyAssignmentScope\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1\",\r\n      \"PolicyDefinitionName\": \"022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"PolicyDefinitionAction\": \"audit\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": \"\",\r\n      \"PolicySetDefinitionName\": \"\",\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n    [...]
