{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"eaab1166-1e13-4370-a951-6ed345a48c15\"\r\n  ],\r\n  \"query\": \"project id, location | where where\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "14"
        ],
        "x-ms-user-quota-remaining": [
          "14"
        ],
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"Please provide below info when asking for support: timestamp = 2021-03-15T04:30:48.0909177Z, correlationId = 66081604-fd11-4806-b774-53569c05e815.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"InvalidQuery\",\r\n        \"message\": \"Query is invalid. Please refer to the documentation for the Azure Resource Graph service and fix the error before retrying.\"\r\n      },\r\n      {\r\n        \"code\": \"ParserFailure\",\r\n        \"message\": \"ParserFailure\",\r\n        \"line\": 1,\r\n        \"characterPositionInLine\": 34,\r\n        \"token\": \"<EOF>\",\r\n        \"expectedToken\": \"Ǐ\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "eaab1166-1e13-4370-a951-6ed345a48c15"
  }
}