{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a964a14-8c81-38bd-1089-6ad3b67b56b6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:42 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E95CB04BA\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:43 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a964a14-8c81-38bd-1089-6ad3b67b56b6/test-blob-544ec9f7-ab3e-cd12-6f80-17820ca00332",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Vto5rHh7uEGey5Q6gXBtjA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E964CCF07\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:44 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:26:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:26:43.4403887Z"
      },
      "ResponseBody": "9yIibsZc0JekR09OAc7lBbqX/uyT/vQr7Lv\u002BnIRjcerLyPcw6WAMd/hQs3kL3a9Za/OIRdJ7L/gt9oELXjMSQdZkgjjXtBtZi4bzQkp6IA8LpDCR2ysYUJj\u002BAvLfABnEPXKjplt3grbXLrpLh\u002B2ts9ZyALkDgWaqTDGf2LIoeYtsLgTY13qzlCJ5uqxxzMmrUE8cbf9fwbwM\u002BFkp16kErrQu31jo1dtbvmyXica5OYBo84diDAyLDW1Hy94hirx4dAv3Qu1xw3pzwK6TyDf2Ur/YwOMhoqKoo9LqoQr9OjOvHhW6wvaT9zAN7ktd90Q1UXgeSMnYVtJpT58bhiJwdoZ75KkiO5DJRcmyFLNWSquNtU\u002BR3vJp1shCUXJWeHAOnHjF4hOaExXnVQMAJUEfEwT0jdH[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0a964a14-8c81-38bd-1089-6ad3b67b56b6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:44 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "497545437",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}