{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2E8EEE3C6\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3/test-blob-66fe2b50-6378-882d-fc64-748bb48d99b5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2E8FBB3E6\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:14.9814246Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3/test-blob-66fe2b50-6378-882d-fc64-748bb48d99b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E8FBB3E6\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:14.9814246Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3/test-blob-66fe2b50-6378-882d-fc64-748bb48d99b5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2E8FBB3E6\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "mme7OvfDMFiPzLaXD3B/5r9daDxTbY0LefaJneSM03o9maVKZF\u002BxDZY4IorePW1NMCdEK6jkuyzar8EAOZN0Avg8WXXLNYJfrFulGksCLTuIPG29SKfSWd14b7WesNMDxB\u002BRoeT4gvql5H9NPqDh14GGd/0ltrpQav\u002BXUsXNwfuHolYrcItWkLlyGGQohBo8l5gzGDjW3Q1lQTfkYDA12CKDxZxKtWb2L\u002BdEs55VKOXlWrstmanDscRIxi9TcTCJPEBCpL9\u002B8uExPOhRkSlvEBhS/wV0CD54wBTXAu82or22unZeEoMmZmjZ\u002B1zAcR\u002Ba2bUXAXIqFDQByeSqpu/y\u002BpormtayEP2VLJmcmwzht070PSk5H6FLi6Z[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3/test-blob-66fe2b50-6378-882d-fc64-748bb48d99b5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2E914418D\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "IDBTLCtCphc=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:14.9814246Z"
      },
      "ResponseBody": "mme7OvfDMFiPzLaXD3B/5r9daDxTbY0LefaJneSM03o9maVKZF\u002BxDZY4IorePW1NMCdEK6jkuyzar8EAOZN0Avg8WXXLNYJfrFulGksCLTuIPG29SKfSWd14b[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-42291f4b-b8f5-30b0-0658-063a03e51fe3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:15 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1356962197",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}