{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111D7D8218\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939/test-blob-6f5fcd37-7fd5-cd04-297d-7ccf718c6d5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111D875AD7\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:49.9006167Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939/test-blob-6f5fcd37-7fd5-cd04-297d-7ccf718c6d5d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D111D875AD7\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:49.9006167Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939/test-blob-6f5fcd37-7fd5-cd04-297d-7ccf718c6d5d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D111D875AD7",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "jFpHea9lrDeS3NJ2UQ\u002B7vicupuxluQkY76Rgokmwl\u002BU3y6HozW9WQw8ZrVSKjP9r2yn0XWBUetJRL4kLBAru4kTsP4Vt0/G312LdSwy1jWOl9ccfvDmF41HOlp7mSz4EK8oPnU16/Qc4PIX9di7Gm6EmZg9CziYLZ1w0nzxT0Iwk2B9Bpe8WK/e/5n\u002Bzh2wiB/v8wOUuwl2kBDbwRV7K5Wv52Z4PhfWyEDoYguemV\u002BDvEpdBVhCm9RbCnKG5JeWY9QETuq7OE4IFSrCqFj91/a1WADPHiY5bUuOHTOhU\u002BOpVf43mk50yIf4VOwxg\u002B9/XTZ/0YiSx0WtyuGfKRsaZsVHFVZaxj2oPJN40sk2C\u002BlcDsP9JX5bFo60hc9o2[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939/test-blob-6f5fcd37-7fd5-cd04-297d-7ccf718c6d5d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "0qrGLO9Q0mxj8uJMyU2\u002BXg==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D111D98E479\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-bf005e69-fcee-fe3c-d310-354ea8b6f939?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:50 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "817863788",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}