{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-867a366e-7c3a-54ad-5ecd-3c2e0c497b9b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1113540C67\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-867a366e-7c3a-54ad-5ecd-3c2e0c497b9b/test-blob-e573f028-c76c-0f48-6dbd-363a790b34c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "8D4EKwXKjcN29LfhNb7ieRKKWBJoaZ9/d0RJamD6i\u002B18u/4035CsC20dmwfo4ojz1dCyb4nKI4eehbPBgCNifGjKZHrArpqC3U2kS82Yl5W7VpSQSBtjspd2lVrc6opKuh\u002BeHn4OMyY2MJI8Jdi5Bu0dBiqO0jNNZrHiSRhApfLCWpCt\u002BXkXrCNuWhiJJ42/vY5svuRfvOjsUbfMLOkO9oqgectHDAx0BlkHIHgawz8kIoyJ0\u002BYNYp6nwajBSoA5YGSN6a3Bd7CC\u002BLiKWJxv0Y13qAldhCKkkhctn0pjsrzZzr8UjNqRYqrbB9suggoBOPAaSaJ229tB6VeWlNd[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-867a366e-7c3a-54ad-5ecd-3c2e0c497b9b/test-blob-e573f028-c76c-0f48-6dbd-363a790b34c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "HmJC3JzNOtF5kGUquKLqAQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D11135D39C1\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-blob-content-md5": "HmJC3JzNOtF5kGUquKLqAQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:32.8473025Z"
      },
      "ResponseBody": "8D4EKwXKjcN29LfhNb7ieRKKWBJoaZ9/d0RJamD6i\u002B18u/4035CsC20dmwfo4ojz1dCyb4nKI4eehbPBgCNifGjKZHrArpqC3U2kS82Yl5W7VpSQSBtjspd2lVrc6opKuh\u002BeHn4OMyY2MJI8Jdi5Bu0dBiqO0jNNZrHiSRhApfLCWpCt\u002BXkXrCNuWhiJJ42/vY5svuRfvOjsUbfMLOkO9oqgectHDAx0BlkHIHgawz8kIoyJ0\u002BYNYp6nwajBSoA5YGSN6a3Bd7CC\u002BLiKWJxv0Y13qAldhCKkkhctn0pjsrzZzr8UjNqRYqrbB9suggoBOPAaSaJ229tB6VeWlNdlHkX7sYrcW0Sz5kVfgnxHdQ8MK2daSGgZYvLj0qOC\u002B87SdeiVMtGAJdyrZ2NdF1lf\u[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-867a366e-7c3a-54ad-5ecd-3c2e0c497b9b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:32 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "459785761",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}