{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cf53f5a3-62bf-7a5e-443d-cd2f4fea4175?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D111FFF6FD3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cf53f5a3-62bf-7a5e-443d-cd2f4fea4175/test-blob-a6976015-1991-208a-1d2f-69047056423c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "X\u002BiOoTxgr3mfffiHcUuJ1MhYOgKKaWcifacQ3tMBq\u002BUCXLMI4dM4lJ7nOZD6V9XytYKN0LczCvWBbCOUUNClntIThBWXgfP0IKVkojDWJybSHShQdNouz1K\u002BhnSvo0TNQZq\u002B59PAWzSPmK8Rz2fFq0T9wjOnVCr35bXD2ft\u002BRX1glmGVGEBTEsH0wdsqHP/q\u002BNswsuARJuxwxgEd/II5EVMysTkFMJIEqa9xspNOzci12OEfTpKcT3B0JVI\u002BNRU/u7CI\u002BGvG5cdIKwgxn3NZIfk5ZySgGcPAlWHIkAtAxXSaMvfixtRd7/MZ1yKKa7D8GwRY[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cf53f5a3-62bf-7a5e-443d-cd2f4fea4175/test-blob-a6976015-1991-208a-1d2f-69047056423c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1120085155\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-blob-content-md5": "OFOtym7GkQ6sQs9pJm4Kmw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-11T23:44:54.1012309Z"
      },
      "ResponseBody": "X\u002BiOoTxgr3mfffiHcUuJ1MhYOgKKaWcifacQ3tMBq\u002BUCXLMI4dM4lJ7nOZD6V9XytYKN0LczCvWBbCOUUNClntIThBWXgfP0IKVkojDWJybSHShQdNouz1K\u002BhnSvo0TNQZq\u002B59PAWzSPmK8Rz2fFq0T9wjOnVCr35bXD2ft\u002BRX1glmGVGEBTEsH0wdsqHP/q\u002BNswsuARJuxwxgEd/II5EVMysTkFMJIEqa9xspNOzci12OEfTpKcT3B0JVI\u002BNRU/u7CI\u002BGvG5cdIKwgxn3NZIfk5ZySgGcPAlWHIkAtAxXSaMvfixtRd7/MZ1yKKa7D8GwRYBc7wnqLtyGIJ/VS8CGaUlmx8dlok23gxh0KgNSmxzHUG58CmqZRV9f5xU/GeXc679tRDgKSp[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-cf53f5a3-62bf-7a5e-443d-cd2f4fea4175?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:54 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1845948919",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}