{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2F1D4B2A2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688/test-blob-0975c085-8686-9147-9ddb-c5fb291d821a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2F1E18375\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:29.9102842Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688/test-blob-0975c085-8686-9147-9ddb-c5fb291d821a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2F1E18375\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:29.9102842Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688/test-blob-0975c085-8686-9147-9ddb-c5fb291d821a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2F1E18375\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "TGb2IPm7x2ON0q5aqelaFqZ8nllvWzY2cN9StR6Qc7YPJ98u76NO088PDX\u002BJb\u002B57vBQpv8V0gvAwv68aaBFF/F73S4EKLCcDLcuKX062rAHx1/kKZ7TxmqXv/S/zNGq9yhAhkiNscI/tJpH56iKhehOuKZEYOpWpBbDcGy/3EPlhzJU9lRnehGZpHUAj\u002BLCCTYIcRAvYpI97d41yj1Vg9RaXlx2NZOX50KQqrx1Uhg0AWc6s28vuiCcFwR2Ma/QRCCcqi2GT9emdInRmrvVyJ/CAcjaHsxpLqQ71h6LHbGSvGab1KvurbWTkD7hWh9oyk5otDPm\u002BiVUM3\u002BFSnW5G1bYQt5ROfPz11ATRoqRi9CI0w/MHml9q8I9R6UoZWc/1nTkCRc[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688/test-blob-0975c085-8686-9147-9ddb-c5fb291d821a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u00220x8D993F2F1FCF6DA\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "odfWp86jI2W5R7oUnTOPrw==",
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2F1FCF6DA\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-c981eead-c238-ef15-fc6a-c32df0e2f688?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:30 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "262635120",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}