{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1115CE0972\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093/test-blob-5af87b37-bec0-2788-3b48-15793dd68d21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "3072",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:36 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1115D72C62\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:37.0029421Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093/test-blob-5af87b37-bec0-2788-3b48-15793dd68d21",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1115D72C62\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:37.0029421Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093/test-blob-5af87b37-bec0-2788-3b48-15793dd68d21?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D1115D72C62",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "B6QRjiToVXWUX4c0yUNYkK8TuWVwIIMI5STUfKYhVj1ZG3AZOq4LOnM667AFRqhDALwmWZCjF\u002BYgCKj/FNnPcwhK2q3SP1UBCH7yNjXTA558kHvp\u002Bv2stQOJ\u002BDIFCyaaa3enu2z6cMFnJFARseGwTQUKg4Nd5XgLnSWqSEYj\u002B/xXV8q\u002BK0cygR\u002B6gtasmgMi2ass\u002B4iiPIX\u002BnB1GUCd6QylTuloW8iG91wFkomOiXgIhh2\u002Ba9wB0tRpFv44p6zH3Pz6tWeCpC\u002BaKbiSGPpkiWz4bJci34Ewo3gQ/0TOTlOvQbGMk9QUieHyJEIjc7naBImNPDsZpP1/yhHrbajmz9to4ttE2/WU5\u002BK1LLs/E[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093/test-blob-5af87b37-bec0-2788-3b48-15793dd68d21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D1115E92B24",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1115E92B24\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "YuFeVUPsdWk=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:37.0029421Z"
      },
      "ResponseBody": "B6QRjiToVXWUX4c0yUNYkK8TuWVwIIMI5STUfKYhVj1ZG3AZOq4LOnM667AFRqhDALwmWZCjF\u002BYgCKj/FNnPcwhK2q3SP1UBCH7yNjXTA558kHvp\u002Bv2s[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-0e238c68-6d96-16ba-dcec-43dc2e20a093?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:37 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1473878535",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}