{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-923e1a93-8d82-07ea-1f38-5475a5051d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11232E856D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-923e1a93-8d82-07ea-1f38-5475a5051d10/test-blob-7198e935-dd12-7d40-3e3e-627a68a7613e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D112337BDF3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:59.4451955Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-923e1a93-8d82-07ea-1f38-5475a5051d10/test-blob-7198e935-dd12-7d40-3e3e-627a68a7613e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D112337BDF3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:59.4451955Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-923e1a93-8d82-07ea-1f38-5475a5051d10/test-blob-7198e935-dd12-7d40-3e3e-627a68a7613e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "8ywsvbrw\u002BwkuKZhXdSxFmQ==",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D112337BDF3",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "0\u002By2YouEoCY4\u002BpI9LNFBWa/2eLBR7x\u002BrPjxJbh/ArhhS8kbYDiXSeFSO9fbIYTGW1vNyn29BHOPNCiROOjEGeEx66jmKaUuJIwBcw/oo4twLspgsTQ\u002BpEdZiCwMAgz0ih3yqTnf3C22n6Xtu5VnppCdIQ4iZ2Ss90dljKF1HiKDDOTt9fpRkFKYrhWOTOit9eWfbuEC0iK5RbXyelOMQYGDbq6sdayWT4y7hblTHqZat5q71a9BfDrGMLBEYxoDCGyQCuI6AXw1CSNQR0xpaisPl8K00GvSQe536kD8TehyuH1MvxPAILYagsiP7TjuXMqJNMtbSjQAwcj3xhc/OLs24YrTGKsXS3cInlGfRlS1iYl6dxUhG3JFT/1KzFqe30oNVQ\u002B[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-923e1a93-8d82-07ea-1f38-5475a5051d10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:00 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1299255991",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}