{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a02dfc7c-5020-2913-b1cf-af9eb1cf2aba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1117D3D31D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a02dfc7c-5020-2913-b1cf-af9eb1cf2aba/test-blob-9785d12b-aea6-821d-e54b-28865188db62",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "10240",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D1117DD385F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:40.3970143Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a02dfc7c-5020-2913-b1cf-af9eb1cf2aba/test-blob-9785d12b-aea6-821d-e54b-28865188db62",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D1117DD385F\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:44:40.3970143Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a02dfc7c-5020-2913-b1cf-af9eb1cf2aba/test-blob-9785d12b-aea6-821d-e54b-28865188db62?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2AdpSRgMnaf2KHNUNuWT9w==",
        "Content-Type": "application/octet-stream",
        "If-Match": "0x8D98D1117DD385F",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "GwYGPgQrvK57THrv74j91YBl9IQpY1FORho0tD5efKAGz3Al1RBEf2/3SxzegKpUlrqi/5ClaLi0uPjq9whwHc/Z6CAX2P9wIHUVMhc1cMVv4B2Eu30QYWe4cBwXWohnhi5MBJiKPL66Md4bkDWgf0gyehfq7GFSyYe5X2fiWcbtrqzo6Gst5aRfyoqe9NExF/HU5OBxfJrN\u002BjsR0NxW19gYLuGJt5bdBZRyiiLXs9S2h0h1DnTlezERG\u002B0vHBXHCPKxhcbvqF9b999L/vJ49UdnWkiU4chkMrKvd5uoreh/q4EvJS0Oxt/oGhaUmX0/mCWmyMHMMycpTFITPzDEskr2zFNwSc8ZWJRpq8ayz5k0cN51AeQnsndaBdna\u002BoeuJGfMnswqz09WjW8t[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-a02dfc7c-5020-2913-b1cf-af9eb1cf2aba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:44:41 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1582962274",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}