{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9e28d0a9-f870-d281-5265-19cc375349bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EAAB85700\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9e28d0a9-f870-d281-5265-19cc375349bb/test-blob-50842850-f295-2797-cdbc-84b7ec7328f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "mfrLuOAvcPVQmp9QqG59QQ==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EAADB79F3\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:27:18.4075364Z"
      },
      "ResponseBody": "SI5H4vB9HHRmLOS6Jpd7MjriHLv\u002Bk\u002BiFP3FKJ7/Ad7gXDqHI2EdFMl/gT6ZDs3/ALUNuoeXixLWmwqN/MvW1prUsoxj2slnynOlcHkRCQYvxifl7UdbSNErsIhajxgBqK6jwFw9nynvpewT8hqZwZIAXjaj7OVTfWW/NCpBCTtbp8vKbUSp7ir9\u002BkdXR1q2je76WjDhXbvFUEb2gmb/qpiwtE5Sz1BJWnAPofKd\u002BDYPBKo7SrMKekYMBRz9t2/AAlOupo8MZ8KerP/A1bvFJ1QM63m8wF/lpj4ERsYzT6cAS6Oi81Wq/qDrnJ2zSaSKRuHI7M/yBz3zxPxRBBz4a2FYvIoYJjP\u002BZejY1SfCNliZff/kal7bEkBlsy5ZVfaD7zU8Vo0abhytyorjGTIaMZKju4ohE/0Cga5JtncFpQ/2VOXuhd/Pfw/fOqPX9/UOS32ftZ5sYts4OdTi0LuppCF67MBMK6uy0Dh6QdldLom1O2r1ZfNxifYKtkgK7K5UNZJ\u002BWQs0wiPR6OFl8h0B2wtLKZlQsEIyCWLOQXVjq\u002BeOJgxG3tGCgHVLI30OD5fVBNs8v8MVB4FQTFOkZoCqckD918gQvvw1yKkgBZDFI/3O\u002BTiaIuwkeSKK9o6B2hn0nK08EDfLwEnbCvcZ8P3wjyhV2W1EDFNQ1VqpicRxt/KM="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9e28d0a9-f870-d281-5265-19cc375349bb/test-blob-50842850-f295-2797-cdbc-84b7ec7328f1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0EAADB79F3",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "/sid/Ax6qkVJgc1zo4LKAw==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EAADB79F3\u0022",
        "Last[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-9e28d0a9-f870-d281-5265-19cc375349bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:18 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2039926809",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}