{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-61552852-6f62-a814-2641-a4d1f209cc7c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EAB3F62B2\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-61552852-6f62-a814-2641-a4d1f209cc7c/test-blob-94ff386b-4341-7b3e-c268-400a01b50b28",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EAB597143\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "BQ8292Ajpb4=",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:27:19.2360664Z"
      },
      "ResponseBody": "PQYb0XKw77/uxGVrWnrINDJSC/i/UpItYVAZ1E5qtFpn8VzY1z3fFAqKiyZRU4B7xRCdipaWZOp07XAilxtxgxAKA2kd8F30c/buNcds2w3QnQ49zCnE0YxxZOnNvH3vGAcVR08WXdWzqRagqC4jBxJiUfkMNLfmRjLcq4tzJ7Z4/hy/VpS9uT85iSMTJCldTVzXamqE4\u002BRQLgAdObFJP4FfJ6kRZLF9pJe506qT0yIJfl4vnLxM9Bs4bieUoICN70mhs/x/TOmrWcbTyw86vFvdFLtTGqPFEzOO2fWJ6QQXK\u002BRg8SAliTJ1hEP2eCkL/rHMtovFOtWm3J/J8XLzIm/Cu58r2co6t4qI3pZgz5oKgttEvDN4UvEOuRWAXJi/gmLTM72J4CTnkf4APFs\u002BRg0Fv2\u002BXrmU8SWiuHB\u002B1ulvyyFw0jJvcgKG2XCs0eBaV0HMHe5wpJ9P8l\u002BpV2sMEMdejDXP/CrlyKD7N4VI6B9BRGUysrT\u002B\u002ByaGIN/Wwh6bdsStUkWqilcW5lVNeW0aBwpAaA8B3V4OY5ETSdtPEwaGY7y8m5nVmr4SH8xfrYG1aB3RlloPlZlqnu6wlzx7y9NOxxWwWWtwas1Q88GRsrITXd29eXysds4nVfyrIQN9llP9EOZoBQ62YSuIuqHX1Ow8nTlevk5WolBLiQduyUXM="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-61552852-6f62-a814-2641-a4d1f209cc7c/test-blob-94ff386b-4341-7b3e-c268-400a01b50b28",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0EAB597143",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0EAB597143\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:19 GMT",
    [...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-61552852-6f62-a814-2641-a4d1f209cc7c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:19 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1627693592",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}