{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ac32972d-775b-0033-3c1a-fd1428272a99?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0E9DB63428\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ac32972d-775b-0033-3c1a-fd1428272a99/test-blob-3d800333-6281-6542-e970-0a6019e77d7c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "6As6a8gwiJZVI71q295PuA==",
        "Content-Range": "bytes 0-511/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E9DD57E32\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:26:56.5469485Z"
      },
      "ResponseBody": "YIfBhes5SMSCKVZLLE7fykC0zHk/6Zd/KHpU7eYo/q7xSYOasFRdDmcjvtjsK4eKrberVdqlwXfvQVxw5FvdWSqoWuLKRBnsV70SHCu/kvzzyT8ufajTTIcMqm737SoMRWStQ9Gkv2idvv4dkqVMMK9ffBobr9yC1A1bvpqr9GmSBdbGEk4rTgnXkb6qtrnhwHq/l3AP8JaIK2/DSQHO8smUiozPhR5gNC0RRB0d2B5Uef0g6135gxVAPuffaAUHCJ71FSssEjtcX2NC/qx4alJRb88Ergdsmwd3j0Y3gMsnCTt/KMLyKGbCxIv5toVpx9SUjvk2A1qWiHojtIP0JN\u002BXGvRw\u002BUKPXkZoQul8c\u002BSCDsdyovLS8Qbg6J9Iz3PjzZ\u002BsYZuQ\u002BM6RBC\u002ByzcBxGhWVoaa8goHsxSnukBCiRo/ThXRKzxFJ8Rb54Z7CICRFb82Ksy7MJksdv5xyome97r2g3kdMJksDTK\u002BPwqHjKaQFqCFDGJNhBl4pLQ901k\u002BuO/LgIUHc\u002BUiCh2d\u002BPWSpOZX3bflGetYqP9fpIvk7jnVg4YeuAghiKK/YwJAs4sn6gPN6fWlVZ8EbtuJp8tdPR/jyHlvc\u002BjeNlERKbrlF/l0O7qIFwRELCnnGkksl\u002BTbYiHmYOcNuHYW87OglC/kH1riFWwQ1SYbm5hPiFmjraJs="
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ac32972d-775b-0033-3c1a-fd1428272a99/test-blob-3d800333-6281-6542-e970-0a6019e77d7c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8D98D0E9DD57E32",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-range": "bytes=512-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "cwmkdJuMdh8T5D9bwstu0w==",
        "Content-Range": "bytes 512-1023/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D98D0E9DD57E32\u0022",
        "Last[...]
[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-ac32972d-775b-0033-3c1a-fd1428272a99?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:26:56 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "244269817",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}