{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2F70C10E2\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644/test-blob-2045df84-597a-6fba-74da-95f47b66a29a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D993F2F7199B7C\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:38.6655100Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644/test-blob-2045df84-597a-6fba-74da-95f47b66a29a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2F7199B7C\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:38.6655100Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644/test-blob-2045df84-597a-6fba-74da-95f47b66a29a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-Match": "\u00220x8D993F2F7199B7C\u0022",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": "WDavK2fYRwLAq90pYeZkRWLBjLHHz\u002BRkkAvfU5B8Iar6EJRpNxuVyZj8FbRSK0qSe7XdX36BdYhSSptc\u002BPRxQ4ozL1FS\u002Bg1HK8IYy7kvEmTATdfbnsEreZoLF\u002B1/OdCkitIqH/z5P4CnljO7aKnPIjc3nKsdlqXIB7W2R\u002BMfyPLxdEDnBPNnxw1WMwiObxHxPPS1SJ0lhvQtYhhHQ/idiM5AyvNp5x5Ez9Wdx2KcOZekxQruaoBVzO5MuqLbIIMVuKs6TqUdiFTWcXjIiL\u002BRkCmAon7trx1O6v4FHSx8aa9Rhw63Yuvxhjy1GPgHjUMuuip5Wn0FJwmN62OnGGsoWQjIdgCx2i09jxxBN5YlRly61mICAw4xS2AEKnaHSW3Rj[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644/test-blob-2045df84-597a-6fba-74da-95f47b66a29a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-range-get-content-crc64": "true",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D993F2F732EC59\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-content-crc64": "1vV8OXTJNYY=",
        "x-ms-creation-time": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-04-10",
        "x-ms-version-id": "2021-10-20T17:56:38.6655100Z"
      },
      "ResponseBody": "WDavK2fYRwLAq90pYeZkRWLBjLHHz\u002BRkkAvfU5B8Iar6EJRpNxuVyZj8FbRSK0qSe7XdX36BdYhSSptc\u002BPRxQ4ozL1FS\u002Bg1HK8IYy7kvEmTATdf[...]
    {
      "RequestUri": "https://amandacanary.blob.core.windows.net/test-container-92ed7d8d-ad57-05d3-2baa-bf2e92c5a644?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 17:56:38 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "332703885",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}