{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a29d575-067f-c02d-6d3d-6342647ad272?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EA0D961D1\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a29d575-067f-c02d-6d3d-6342647ad272/test-blob-8796bec8-af03-3b32-1ad2-693ec7ccbd27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:01 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D0EA0E2C1D1\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:27:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-12-06",
        "x-ms-version-id": "2021-10-11T23:27:01.7909713Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a29d575-067f-c02d-6d3d-6342647ad272/test-blob-8796bec8-af03-3b32-1ad2-693ec7ccbd27?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "9Tw4UcESnyHQSzF7Hmzdgg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": "SO\u002BTGO1Dodrw3w1RnPgxmBApeNvoQXpRaRpgJGv41jsfGOyfQRRNh\u002Bi3oBcS9FuWXJbdSXkyaQd0Qq/S4nxv\u002BAnSMoMMkVf73PDzMKFiPnS/ycfVG43B7K/lKv9leqRrSKgOQMHXiss/4W2JPjllEgM6Exm0mtx8EEbTJ2ZXlmJMiOf5VP6z5z/8lTkgOK51fxj7KmeLtq7Lki97A2Jk50oKPLZRbL0FhyvZuASjW9eXXqdOXGz6wNE4LcHON\u002BPcmK7vFfv3IxNa9qM8sf6qKDZX46W6ForeEHzkGD78Nk9H/B9Ws0bcoDqU82bIvg7TjgWKdlM\u002BIYEjEAV/EwrVXr9T9LXeU3Twe0NrJiMkFVFtEIo4ccD7CdqdMqJBXIwvv5Smdc[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-3a29d575-067f-c02d-6d3d-6342647ad272?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:27:02 GMT",
        "x-ms-version": "2020-12-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-12-06"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "315831960",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}