{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-39b17962-d929-b4b9-fb45-687665d91066?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D112804B8FD\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-39b17962-d929-b4b9-fb45-687665d91066/test-blob-cbe820b6-396e-c13e-e2ca-db29465c8f5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D11280E346D\u0022",
        "Last-Modified": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08",
        "x-ms-version-id": "2021-10-11T23:45:07.5615853Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-39b17962-d929-b4b9-fb45-687665d91066/test-blob-cbe820b6-396e-c13e-e2ca-db29465c8f5b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-content-crc64": "gB7/N3XCdTo=",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": "cqJ/ITBGOWJCHhMrC08hhymuPaJAyjj1cu2Jz76KnjCKn/jx9PqJ8oo1Aw8u88cVxbqDRrjR7qZpia9DvGmkt4DjoWxXMJIuJEoXCscpx38mdAoDB1h3uLBRh2tKRjUhkUuOSlFavZUoVCFtuuTfQMIvHEdfoLAoa\u002Bm8Bakn5N0U9nl7mnwty7Z027I2Cv7LcUaoGinuwvCbZt5onrjsAXBDWMNrZKZGAlGQ6sX98WHq8JRifsm0JjOI3zOexCz\u002Bh9pC87E6YA2fYhjYXdcrnnV8fq4jiYKnjzKQ4oRzpz0lkWPqu/6wsI\u002BHwxyw28lcXUG\u002BIUZ92/1YmmN/qn6ILLras8t0QOJ2zM0enMZl9rNpM4VDtYb3p7ZlkiCbMAYR/pdi1ij95xx[...]
    {
      "RequestUri": "http://seanmcccanary3.blob.core.windows.net/test-container-39b17962-d929-b4b9-fb45-687665d91066?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 11 Oct 2021 23:45:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1873808312",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}