{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk7087?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk7087",
        "name": "networkcloud-sdk7087",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/bareMetalMachines?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "7288823e-90b7-456f-96aa-d031391a2770",
          "061413e2-6b8f-47fa-9785-dbc5e47f3a82",
          "9ca212d6-80df-4abd-9435-c7233cedde1f"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02",
            "name": "rack1compute02",
            "type": "microsoft.networkcloud/baremetalmachines",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "CreatedBy": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-4ae3464d/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc/resourcesyncrules/baremetalmachineshydrationrule"
            },
            "systemData": {
              "createdBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "createdByType": "Application",
              "createdAt": "2023-06-20T00:23:53.5334235Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-22T12:45:48.4499514Z"
            },
            "properties": {
              "rackId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/racks/aa5678",
              "machineSkuId": "Compute_DellR750_56C_512GB_4d6n_sim",
              "rackSlot": 2,
              "machineName": "rack1compute02",
              "bootMacAddress": "52:54:00:68:9b:b1",
              "bmcMacAddress": "AA:BB:CC:DD:EE:BB",
              "bmcCredentials": {
                "username": "ZFhObGNtNWhiV1VL"
              },
              "bmcConnectionString": "redfish\u002Bhttps://10.100.100.10:8443/redfish/v1/Systems/rack1compute02",
              "machineDetails": "",
              "serialNumber": "BM1219XX2",
              "associatedResourceIds": [],
              "hybridAksClustersAssociatedIds": [],
              "virtualMachinesAssociatedIds": [],
              "provisioningState": "Succeeded",
              "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/anpankie-sim/providers/Microsoft.NetworkCloud/clusters/simulator",
              "readyState": "True",
              "cordonStatus": "Uncordoned",
              "powerState": "On",
              "hardwareInventory": {
                "interfaces": [
                  {
                    "macAddress": "52:54:00:68:9b:b1",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:68:9b:b1",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:68:ab:b1",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:68:ab:b1",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:a7:17:a1",
                    "name": "enp75s0f0"
                  },
                  {
                    "macAddress": "52:54:00:a7:27:a1",
                    "name": "enp75s0f1"
                  }
                ],
                "nics": [
                  {
                    "macAddress": "52:54:00:68:9b:b1",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:68:9b:b1",
                    "name": "enp4s0f0"
                  },
                  {
                    "macAddress": "52:54:00:68:ab:b1",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:68:ab:b1",
                    "name": "enp4s0f1"
                  },
                  {
                    "macAddress": "52:54:00:a7:17:a1",
                    "name": "enp75s0f0"
                  },
                  {
                    "macAddress": "52:54:00:a7:27:a1",
                    "name": "enp75s0f1"
                  }
                ]
              },
              "detailedStatus": "Provisioned",
              "detailedStatusMessage": "The OS is provisioned to the machine",
              "oamIpv4Address": "10.23.25.102",
              "osImage": "http://10.10.10.13:80/3.3.0/worker.raw",
              "kubernetesNodeName": "rack1compute02",
              "kubernetesVersion": "v1.25.4"
            }
          },
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-4AE3464D/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute03",
            "name": "rack1compute03",
            "type": "microsoft.networkcloud/baremetalmachines",
            "location": "eastus",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/s[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/bareMetalMachines?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b1f41555-f89d-482d-[...]
