pr:
  branches:
    include:
    - dev

pool:
  vmImage: 'VS2017-Win2016'

variables:
  IgnoreBuildTokens: 'Microsoft.Rest.ClientRuntime.Tracing.Tests Microsoft.Azure.Services.AppAuthentication.IntegrationTests KeyVault\dataPlane LocationBasedServices Az.Auth.Tests BotService.Tests Search Batch.FileStaging.Tests Azure.Batch.IntegrationTests Azure.Batch.ProtocolTests Batch\Support\FileConventions AzureBatchFileConventions.IntegrationTests Batch\DataPlane\Azure.Batch.Unit.Tests Batch\DataPlane\Tools\ConfigureAwaitAnalyzer\ConfigureAwaitAnalyzer.Tests ContainerService\ContainerService.Tests Consumption\Consumption.Tests Billing\Billing.Tests ApplicationInsights\Management\ApplicationInsights.Tests Batch\Management\Management.Batch.Tests SecurityCenter\SecurityCenter.Tests AzureStack\Admin\FabricAdmin\Fabric.Admin.Tests IotHub\IotHub.Tests Monitor\Monitor.Tests Reservations\Reservations.Tests'
  FlpArg: 'Summary;Verbosity=minimal;LogFile=msbuild.sum'
  FlpArg1: 'warningsonly;logfile=msbuild.wrn'
  FlpArg2: 'errorsonly;logfile=msbuild.err'
  DotNetCoreVersion: '2.1.503'

steps:
  - task: DotNetCoreInstaller@0
    displayName: 'Use .NET Core sdk $(DotNetCoreVersion)'
    inputs:
      version: '$(DotNetCoreVersion)'
  - task: CmdLine@1
    inputs:
      filename: C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.2 Tools\sn.exe
      arguments: -Vr *,31bf3856ad364e35
  - task: MSBuild@1
    inputs:
      solution: build.proj
  - task: MSBuild@1
    inputs:
      solution: build.proj
      msbuildArguments: /t:RunTests /clp:ShowTimestamp /flp:$(FlpArg) /flp1:$(FlpArg1) /flp2:$(FlpArg2) /p:IgnorePathTokens="$(IgnoreBuildTokens)"
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: '**/*.trx'
      testRunTitle: 'Windows Test Results'
      testResultsFormat: 'VSTest'
      mergeTestResults: true