{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2629?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2629",
        "name": "testRG-2629",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2629/providers/Microsoft.Web/sites/testSite-3357?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00221D881F5B83E7060\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "499"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2629/providers/Microsoft.Web/sites/testSite-3357",
        "name": "testSite-3357",
        "type": "Microsoft.Web/sites",
        "kind": "app",
        "location": "eastus",
        "tags": {},
        "properties": {
          "name": "testSite-3357",
          "state": "Running",
          "hostNames": [
            "testsite-3357.azurewebsites.net"
          ],
          "webSpace": "testRG-2629-EastUSwebspace",
          "selfLink": "https://waws-prod-blu-327.api.azurewebsites.windows.net:454/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/webspaces/testRG-2629-EastUSwebspace/sites/testSite-3357",
          "repositorySiteName": "testSite-3357",
          "owner": null,
          "usageState": "Normal",
          "enabled": true,
          "adminEnabled": true,
          "enabledHostNames": [
            "testsite-3357.azurewebsites.net",
            "testsite-3357.scm.azurewebsites.net"
          ],
          "siteProperties": {
            "metadata": null,
            "properties": [
              {
                "name": "LinuxFxVersion",
                "value": ""
              },
              {
                "name": "WindowsFxVersion",
                "value": null
              }
            ],
            "appSettings": null
          },
          "availabilityState": "Normal",
          "sslCertificates": null,
          "csrs": [],
          "cers": null,
          "siteMode": null,
          "hostNameSslStates": [
            {
              "name": "testsite-3357.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Standard"
            },
            {
              "name": "testsite-3357.scm.azurewebsites.net",
              "sslState": "Disabled",
              "ipBasedSslResult": null,
              "virtualIP": null,
              "thumbprint": null,
              "toUpdate": null,
              "toUpdateIpBasedSsl": null,
              "ipBasedSslState": "NotConfigured",
              "hostType": "Repository"
            }
          ],
          "computeMode": null,
          "serverFarm": null,
          "serverFarmId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2629/providers/Microsoft.Web/serverfarms/Default1ym",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "lastModifiedTimeUtc": "2022-06-17T02:55:36.4366667",
          "storageRecoveryDefaultState": "Running",
          "contentAvailabilityState": "Normal",
          "runtimeAvailabilityState": "Normal",
          "vnetRouteAllEnabled": false,
          "siteConfig": {
            "numberOfWorkers": 1,
            "defaultDocuments": null,
            "netFrameworkVersion": null,
            "phpVersion": null,
            "pythonVersion": null,
            "nodeVersion": null,
            "powerShellVersion": null,
            "linuxFxVersion": "",
            "windowsFxVersion": null,
            "requestTracingEnabled": null,
            "remoteDebuggingEnabled": null,
            "remoteDebuggingVersion": null,
            "httpLoggingEnabled": null,
            "azureMonitorLogCategories": null,
            "acrUseManagedIdentityCreds": false,
            "acrUserManagedIdentityID": null,
            "logsDirectorySizeLimit": null,
            "detailedErrorLoggingEnabled": null,
            "publishingUsername": null,
            "publishingPassword": null,
            "appSettings": null,
            "metadata": null,
            "connectionStrings": null,
            "machineKey": null,
            "handlerMappings": null,
            "documentRoot": null,
            "scmType": null,
            "use32BitWorkerProcess": null,
            "webSocketsEnabled": null,
            "alwaysOn": false,
            "javaVersion": null,
            "javaContainer": null,
            "javaContainerVersion": null,
            "appCommandLine": null,
            "managedPipelineMode": null,
            "virtualApplications": null,
            "winAuthAdminState": null,
            "winAuthTenantState": null,
            "customAppPoolIdentityAdminState": null,
            "customAppPoolIdentityTenantState": null,
            "runtimeADUser": null,
            "runtimeADUserPassword": null,
            "loadBalancing": null,
            "routingRules": null,
            "experiments": null,
            "limits": null,
            "autoHealEnabled": null,
            "autoHealRules": null,
            "tracingOptions": null,
            "vnetName": null,
            "vnetRouteAllEnabled": null,
            "vnetPrivatePortsCount": null,
            "publicNetworkAccess": null,
            "cors": null,
            "push": null,
            "apiDefinition": null,
            "apiManagementConfig": null,
            "autoSwapSlotName": null,
            "localMySqlEnabled": null,
            "managedServiceIdentityId": null,
            "xManagedServiceIdentityId": null,
            "keyVaultReferenceIdentity": null,
            "ipSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictions": [
              {
                "ipAddress": "Any",
                "action": "Allow",
                "priority": 1,
                "name": "Allow all",
                "description": "Allow all access"
              }
            ],
            "scmIpSecurityRestrictionsUseMain": null,
            "http20Enabled": false,
            "minTlsVersion": null,
            "minTlsCipherSuite": null,
            "supportedTlsCipherSuites": null,
            "scmMinTlsVersion": null,
            "ftpsState": null,
            "preWarmedInstanceCount": null,
            "functionAppScaleLimit": 0,
            "healthCheckPath": null,
            "fileChangeAuditEnabled": null,
            "functionsRuntimeScaleMonitoringEnabled": null,
            "websiteTimeZone": null,
            "minimumElasticInstanceCount": 0,
            "azureStorageAccounts": null,
            "http20ProxyFlag": null,
            "sitePort": null,
            "antivirusScanEnabled": null,
            "storageType": null
          },
          "deploymentId": "testSite-3357",
          "slotName": null,
          "trafficManagerHostNames": null,
          "sku": "Free",
          "scmSiteAlsoStopped": false,
          "targetSwapSlot": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "clientAffinityEnabled": true,
          "clientCertEnabled": false,
          "clientCertMode": "Required",
          "clientCertExclusionPaths": null,
          "hostNamesDisabled": false,
          "domainVerificationIdentifiers": null,
          "customDomainVerificationId": "B2B26A95110144FA7D61C7F11182785CA097CEE09243353FC8B6B68E6270D88A",
          "kind": "app",
          "inboundIpAddress": "20.119.0.5",
          "possibleInboundIpAddresses": "20.119.0.5",
          "ftpUsername": "testSite-3357\\$testSite-3357",
          "ftpsHostName": "ftps://waws-prod-blu-327.ftp.azurewebsites.windows.net/site/wwwroot",
          "outboundIpAddresses": "52.151.232.87,52.151.232.195,52.151.233.231,52.151.239.6,52.188.138.231,52.188.139.192,20.119.0.5",
          "possibleOutboundIpAddresses": "52.151.232.87,52.151.232.195,52.151.233.231,52.151.239.6,52.188.138.231,52.188.139.192,52.188.141.34,52.188.142.78,40.71.232.1,40.71.232.51,40.71.232.223,40.71.233.112,40.71.234.112,40.71.234.232,40.71.235.166,40.71.235.171,40.71.235.251,40.71.236.145,52.142.32.248,52.142.33.10,52.142.35.99,52.142.35.107,52.142.35.115,52.142.36.46,52.142.36.141,52.142.38.119,52.142.39.82,52.149.168.243,52.149.169.230,52.149.170.64,20.119.0.5",
          "containerSize": 0,
          "dailyMemoryTimeQuota": 0,
          "suspendedTill": null,
          "siteDisabledReason": 0,
          "functionExecutionUnitsCache": null,
          "maxNumberOfWorkers": null,
          "homeStamp": "waws-prod-blu-327",
          "cloningInfo": null,
          "hostingEnvironmentId": null,
          "tags": {},
          "resourceGroup": "testRG-2629",
          "defaultHostName": "testsite-3357.azurewebsites.net",
          "slotSwapStatus": null,
          "httpsOnly": false,
          "redundancyMode": "None",
          "inProgressOperationId": null,
          "geoDistributions": null,
          "privateEndpointConnections": null,
          "publicNetworkAccess": null,
          "buildVersion": null,
          "targetBuildVersion": null,
          "migrationState": null,
          "eligibleLogCategories": "AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs",
          "storageAccountRequired": false,
          "virtualNetworkSubnetId": null,
          "keyVaultReferenceIdentity": "SystemAssigned"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2629/providers/Microsoft.Web/sites/testSite-33571?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Web/sites/testSite-33571\u0027 under resource group \u0027testRG-2629\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1249825332",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
