{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-8025?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025",
        "name": "testRG-8025",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "2cf9eb86-36b5-49dc-86ae-9a63135dfa8c",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "7c33bfcb-8d33-48d6-8e60-dc6404003489",
            "roleDefinitionId": "ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"
          },
          {
            "applicationId": "1e3e4475-288f-4018-a376-df66fd7fac5f",
            "roleDefinitionId": "1d538b69-3d87-4e56-8ff8-25786fd48261"
          },
          {
            "applicationId": "a0be0c72-870e-46f0-9c49-c98333a996f7",
            "roleDefinitionId": "7ce[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-948",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/ffcec17a-9519-4c5f-86ad-f509234be6c9?api-version=2022-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "testVNet-2389",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389",
        "etag": "W/\u00229a0d7944-b4f5-444f-b67b-e1a927283ca7\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "ccccf146-bdb6-4c45-aff2-288624e9d333",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-948",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389/subnets/testSubnet-948",
              "etag": "W/\u00229a0d7944-b4f5-444f-b67b-e1a927283ca7\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus/operations/ffcec17a-9519-4c5f-86ad-f509234be6c9?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022005473dc-0f8c-4c9b-b8f6-39ebdbd7979d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "testVNet-2389",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389",
        "etag": "W/\u0022005473dc-0f8c-4c9b-b8f6-39ebdbd7979d\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-5124?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-5124",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389/subnets/testSubnet-948"
                          },
                          "primary": true
                        }
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/f3704f03-c1b3-46a2-8ad3-1410ad8886c5?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;0",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": {
        "name": "testVMSS-5124",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-5124",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastus",
        "tags": {},
        "sku": {
          "name": "Standard_F2",
          "tier": "Standard",
          "capacity": 2
        },
        "properties": {
          "singlePlacementGroup": true,
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS-5124",
              "adminUsername": "adminuser",
              "linuxConfiguration": {
                "disablePasswordAuthentication": true,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/adminuser/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC\u002BwWK73dCr\u002BjgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz\u002B3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG\u002BTo7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Standard_LRS"
                },
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "Canonical",
                "offer": "UbuntuServer",
                "sku": "16.04-LTS",
                "version": "latest"
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "example",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "dnsSettings": {
                      "dnsServers": []
                    },
                    "enableIPForwarding": false,
                    "ipConfigurations": [
                      {
                        "name": "internal",
                        "properties": {
                          "primary": true,
                          "subnet": {
                            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-8025/providers/Microsoft.Network/virtualNetworks/testVNet-2389/subnets/testSubnet-948"
                          },
                          "privateIPAddressVersion": "IPv4"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "provisioningState": "Creating",
          "overprovision": true,
          "doNotRunExtensionsOnOverprovisionedVMs": false,
          "uniqueId": "fd0dea36-2cec-4f42-bb3f-9735ca6be4ba"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/f3704f03-c1b3-46a2-8ad3-1410ad8886c5?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "61",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "startTime": "2022-07-27T22:20:24.2067833\u002B00:00",
        "status": "InProgress",
        "name": "f3704f03-c1b3-46a2-8ad3-1410ad8886c5"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus/operations/f3704f03-c1b3-46a2-8ad3-1410ad8886c5?p=6a5473bf-f845-44a5-b675-411600120563\u0026api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29998",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "startTime": "2022-07-27T22:20:24.2067833\u002B00:00",
        "endTime": "2022-07-27T22:21:10.4568733\u002B00:00",
        "status": "Succeeded",
        "name": "f3704f03-c1b3-46a2-8ad3-1410ad8886c5"
      }
    },
[...]
