{
  "Entries": [
    {
      "RequestUri": "https://jolov-cloud.centralus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022804727fb-9a95-d54b-5ac4-f10ee190f01c\u0022,\u0022source\u0022:\u0022record\u0022,\u0022data\u0022:\u0022hello\u0022,\u0022type\u0022:\u0022Microsoft.MockPublisher.TestEvent\u0022,\u0022time\u0022:\u00222020-09-28T20:34:52.3613661-07:00\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022subject\u0022:\u0022Subject-0\u0022,\u0022testattribute1\u0022:\u0022test\u0022,\u0022testattribute2\u0022:{\u0022Name\u0022:\u0022name\u0022,\u0022Age\u0022:0},\u0022traceparent\u0022:\u[...]
