{
  "Entries": [
    {
      "RequestUri": "https://jolov-cloud.centralus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u002209808de2-9f9e-2e12-6342-bf2c543c585c\u0022,\u0022source\u0022:\u0022record\u0022,\u0022type\u0022:\u0022Microsoft.MockPublisher.TestEvent\u0022,\u0022data\u0022:\u0022hello\u0022,\u0022time\u0022:\u00222021-02-21T00:33:44.4452173-08:00\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022subject\u0022:\u0022Subject-0\u0022,\u0022testattribute1\u0022:\u0022test\u0022,\u0022traceparent\u0022:\u0022Sanitized\u0022},{\u0022id\u0022:\u00224d9e05b5-f107-218e-2dd4-71ba4f5490a4\u[...]
