{
  "Entries": [
    {
      "RequestUri": "https://t-kerlee-customevent-topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022dataVersion\u0022:\u00221.0\u0022,\u0022eventTime\u0022:\u00222020-07-09T15:10:22.3763199-07:00\u0022,\u0022eventType\u0022:\u0022Microsoft.MockPublisher.TestEvent\u0022,\u0022id\u0022:\u002296a352e2-e039-e489-f54b-6e03b635539f\u0022,\u0022subject\u0022:\u0022Subject-0\u0022,\u0022topic\u0022:\u0022Topic-0\u0022},{\u0022dataVersion\u0022:\u00221.0\u0022,\u0022eventTime\u0022:\u00222020-07-09T15:10:22.3763199-07:00\u0022,\u0022eventType\u0022:\u0022Microsoft.MockPublisher.TestEvent\u002[...]
