{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/Sql-RG-8919?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919",
        "name": "Sql-RG-8919",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/1fef114d-9db1-4c12-8d72-84ee587963ee?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "network-security-group-7695",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695",
        "etag": "W/\u0022b5751be5-0ad5-41fd-81ea-92698e295464\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "dc577cb9-3e51-4bd4-b7ad-64e0269f603b",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\u0022b5751be5-0ad5-41fd-81ea-92698e295464\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Updating",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\u0022b5751be5-0ad5-41fd-81ea-92698e295464\u0022",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/1fef114d-9db1-4c12-8d72-84ee587963ee?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002239d4ee5c-6c6a-47d5-bab3-bc54a0a615bf\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "name": "network-security-group-7695",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695",
        "etag": "W/\u002239d4ee5c-6c6a-47d5-bab3-bc54a0a615bf\u0022",
        "type": "Microsoft.Network/networkSecurityGroups",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/routeTables/route-table-9406?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/1ce2fb7c-91cf-4e15-bd42-ea6388b9defd?api-version=2021-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "route-table-9406",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/routeTables/route-table-9406",
        "etag": "W/\u0022bf144ecb-592c-4dca-8b86-daf466bf4bd4\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "dc9bb771-9e36-4677-bc33-04b400241af4",
          "disableBgpRoutePropagation": false,
          "routes": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/virtualNetworks/vnet-4855?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.10.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subnet01",
              "properties": {
                "addressPrefix": "10.10.1.0/24"
              }
            },
            {
              "name": "ManagedInstance",
              "properties": {
                "addressPrefix": "10.10.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/networkSecurityGroups/network-security-group-7695",
                  "properties": {}
                },
                "routeTable": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/routeTables/route-table-9406",
                  "properties": {}
                },
                "delegations": [
                  {
                    "name": "Microsoft.Sql/managedInstances",
                    "type": "Microsoft.Sql/managedInstances",
                    "properties": {
                      "serviceName": "Microsoft.Sql/managedInstances"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/westus2/operations/48c6d56f-3cd5-4ab5-a146-d2c8e0902b04?api-version=2021-02-01",
        "Conten[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "administratorLogin": "admin-managed-instance-7256",
          "administratorLoginPassword": "HvVJ%paVC@%GBKmi",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/virtualNetworks/vnet-4855/subnets/ManagedInstance",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "zoneRedundant": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "administratorLogin": "admin-managed-instance-7256",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "SystemDefault",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256",
        "name": "managed-instance-7256",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "sku": {
          "name": "GP_Gen5",
          "tier": "GeneralPurpose",
          "family": "Gen5",
          "capacity": 8
        },
        "properties": {
          "provisioningState": "Creating",
          "fullyQualifiedDomainName": "managed-instance-7256.637aacea58f0.database.windows.net",
          "administratorLogin": "admin-managed-instance-7256",
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/virtualNetworks/vnet-4855/subnets/ManagedInstance",
          "state": "Creating",
          "licenseType": "LicenseIncluded",
          "vCores": 8,
          "storageSizeInGB": 256,
          "collation": "SQL_Latin1_General_CP1_CI_AS",
          "dnsZone": "637aacea58f0",
          "publicDataEndpointEnabled": false,
          "proxyOverride": "Proxy",
          "timezoneId": "UTC",
          "maintenanceConfigurationId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
          "privateEndpointConnections": [],
          "currentBackupStorageRedundancy": "Geo",
          "requestedBackupStorageRedundancy": "Geo",
          "zoneRedundant": false
        },
        "location": "westus2",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256",
        "name": "managed-instance-7256",
        "type": "Microsoft.Sql/managedInstances"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/virtualClusters?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/virtualNetworks/vnet-4855/subnets/ManagedInstance",
              "version": "2.0",
              "childResources": [
                "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256"
              ]
            },
            "location": "westus2",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/virtualClusters/VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f14",
            "name": "VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f14",
            "type": "Microsoft.Sql/virtualClusters"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/virtualClusters/VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f14?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "properties": {
          "subnetId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Network/virtualNetworks/vnet-4855/subnets/ManagedInstance",
          "version": "2.0",
          "childResources": [
            "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256"
          ]
        },
        "location": "westus2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/virtualClusters/VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f14",
        "name": "VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f14",
        "type": "Microsoft.Sql/virtualClusters"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/virtualClusters/VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f140?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.Sql/virtualClusters/VirtualClusterc3c197f3-ef25-48fe-9e17-28bed2588f140\u0027 under resource group \u0027Sql-RG-8919\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/managedInstances/managed-instance-7256?api-version=2022-08-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/westus2/managedInstanceAzureAsyncOperation/ab317c09-aacd-43b4-921b-922c0ca04957?api-version=2022-08-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/westus2/managedInstanceOperationResults/ab317c09-aacd-43b4-921b-922c0ca04957?api-version=2022-08-01-preview",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": {
        "operation": "DropManagedServer",
        "startTime": "2023-03-02T09:51:25.62Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/westus2/managedInstanceAzureAsyncOperation/ab317c09-aacd-43b4-921b-922c0ca04957?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "name": "ab317c09-aacd-43b4-921b-922c0ca04957",
        "status": "InProgress",
        "startTime": "2023-03-02T09:51:25.62Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/Sql-RG-8919/providers/Microsoft.Sql/locations/westus2/managedInstanceAzureAsyncOperation/ab317c09-aacd-43b4-921b-922c0ca04957?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "name": "ab317c09-aacd-43b4-921b-922c0ca04957",
        "status": "Succeeded",
        "startTime": "2023-03-02T09:51:25.62Z"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1555252534",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
