{
  "Entries": [
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:39 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable19o2q1j2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable19o2q1j2\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissscratch.Tables",
        "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable19o2q1j2\u0027)",
        "odata.editLink": "Tables(\u0027testtable19o2q1j2\u0027)",
        "TableName": "testtable19o2q1j2"
      }
    },
[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!44!dGVzdHRhYmxlMTIxMDk3ATAxZDYyYWU1NDYwZjRmMGU-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissscratch.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "odata.type": "chrissscratch.Tables",
            "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027test1\u0027)",
            "odata.editLink": "Tables(\u0027test1\u0027)",
            "TableName": "test1"
          },
          {
            "odata.type": "chrissscratch.Tables",
            "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027test3\u0027)",
            "odata.editLink": "Tables(\u0027test3\u0027)",
            "TableName": "test3"
          },
          {
            "odata.type": "chrissscratch.Tables",
            "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable106873\u0027)",
            "odata.editLink": "Tables(\u0027testtable106873\u0027)",
            "TableName": "testtable106873"
          },
          {
            "odata.type": "chrissscratch.Tables",
            "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable116063\u0027)",
            "odata.editLink": "Tables(\u0027testtable116063\u0027)",
            "TableName": "testtable116063"
          },
          {
            "odata.type": "chrissscratch.Tables",
            "odata.id": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable118134\u0027)",
            "odata.editLink": "Tables(\u0027testtable118134\u0027)",
            "TableName": "testtable118134"
          }
        ]
      }
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlMTIxMDk3ATAxZDYyYWU1NDYwZjRmMGU-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlMTUwMTQ5ATAxZDYyYWUzNDZhNDk3NzI-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlMTY0NzY5ATAxZDYyYWUzNDZiNTE1YjY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlMTkzMjUwATAxZDYyYWUzZjRiZmNkMTE-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlMjQ1ODAyATAxZDYyYWUzZjRiMTk5Mzk-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlM2VocmZjaTEBMDFkNjJhZWJhZWQ4ODg1Nw--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 20[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlNjM5MjQ1ATAxZDYyYWUzZjQ5OTAyZGU-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxlYW95c25kATAxZDYyYWVhMmI3YWM1MTY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlaWp3cnB6c2sBMDFkNjJhZWI5ZWY4MjZlNg--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 20[...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2144%21dGVzdHRhYmxldmttdG1tATAxZDYyYWVhMmZiOTA5YmI-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
 [...]
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable22mmrbnl\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable3ehrfci1\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablem47c362j\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable4ezvlzdc\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablehvb81ntm\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtableksyzj447\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable3qp72vno\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:40 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablefl98fa8a\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtabley6vwrx3v\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtablegro4wbmd\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://chrissscratch.table.core.windows.net/Tables(\u0027testtable19o2q1j2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 15 May 2020 19:04:41 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1961602842",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissscratch"
  }
}