{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtable1951811920"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1951811920\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1951811920\u0027)",
        "odata.editLink": "Tables(\u0027testtable1951811920\u0027)",
        "TableName": "testtable1951811920"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextTableName": "1!48!dGVzdHRhYmxlMTExNTA3ODA0MAEwMWQ2MWNiOGM5MDlhNTAx",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "odata.type": "chrissprim.Tables",
            "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1018601994\u0027)",
            "odata.editLink": "Tables(\u0027testtable1018601994\u0027)",
            "TableName": "testtable1018601994"
          },
          {
            "odata.type": "chrissprim.Tables",
            "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1021935668\u0027)",
            "odata.editLink"[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTExNTA3ODA0MAEwMWQ2MWNiOGM5MDlhNTAx",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTIyMDgwODYxNAEwMWQ2MWNiOGNhNTc2Y2Ex",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTI4NjI2MTg4NgEwMWQ2MWMwMDVhMzJhYmZk",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTQ2MzYxMzE0NAEwMWQ2MWMxMDc1NmRmNGVm",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:05 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTU5OTI4NDQ3NwEwMWQ2MWNiODhhN2RkMGNm",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTY3NDY1NjgyMAEwMWQ2MWNiODRjYTVkYTgy",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTgwODY5NzE0NQEwMWQ2MWNiOGMzOTcyMTM4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMTkzNTE1MzgwNQEwMWQ2MWMxMTZlMjFjMmE2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMjA5NjU2NTQyMgEwMWQ2MWMxZmRmNzA1ZmJh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlMjM3NTk3MTcwATAxZDYxY2I4YmZjMGI5NmY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2180%21dGVzdHRhYmxlMzUwYTFiM2IwZDZlNDNkZDkyMDNlY2EzNjlkZWY4NzkBMDFkNjE5YmE4MTYxMWM4NQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlNDk4MjE2MDEzATAxZDYxYzFhMjEwNjY3OTg-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2180%21dGVzdHRhYmxlNWYxZGVhZDQ4NWI5NDI0YWE0NTVlNDZkN2RiMzhjOTYBMDFkNjE5YmU0N2FlYzI5MQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlNzU3NDU0Mzc1ATAxZDYxYzE5M2ViOTNkODY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2148%21dGVzdHRhYmxlODQ2NTgyNzEBMDFkNjFjYjg0Yjg0ZjY5YQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2180%21dGVzdHRhYmxlOTRiYmNiNTU3N2Y2NDlmMWI4ZjYxNjQ4ZGU4MzVlODIBMDFkNjE5YzY5YmM2MzQ1NQ--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2156%21dGVzdHRhYmxlYXN5bmMxNTI1NjUxMTEBMDFkNjFjYjM2MThlZTIxZA--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2180%21dGVzdHRhYmxlYjdlZTBmZjM3MDE2NDg5ZmI4ZTMwNmFmNTRhNmFlZDIBMDFkNjE5YzJiZTNiZTAzMw--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=5\u0026NextTableName=1%2180%21dGVzdHRhYmxlZjBhYTg3ODFhYTJmNDE2Nzk4YjhlNTI1MGI4ZjZhNjMBMDFkNjE5Yzk5NDAwNTAwMw--",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody":[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables(\u0027testtable1951811920\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 27 Apr 2020 17:25:07 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1114560000",
    "TABLES_PRIMARY_STORAGE_ACCOUNT_KEY": "",
    "TABLES_STORAGE_ACCOUNT_NAME": "chrissprim"
  }
}