{
  "Entries": [
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/Tables?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "testtableasync1135560153"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "Location": "https://chrissprim.table.core.windows.net/Tables(\u0027testtableasync1135560153\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#Tables/@Element",
        "odata.type": "chrissprim.Tables",
        "odata.id": "https://chrissprim.table.core.windows.net/Tables(\u0027testtableasync1135560153\u0027)",
        "odata.editLink": "Tables(\u0027testtableasync1135560153\u0027)",
        "TableName": "testtableasync1135560153"
      }
    },
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=nometadata",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:06 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "PartitionKey": "somPartition",
        "RowKey": "00",
        "SomeProperty": "This is table entity number 00"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "ETag": "W/\u0022datetime\u00272020-04-27T14%3A24%3A06.2200837Z\u0027\u0022",
        "Location": "https://chrissprim.table.core.windows.net/testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtableasync1135560153/@Element",
        "odata.type": "chrissprim.testtableasync1135560153",
        "odata.id": "https://chrissprim.table.core.windows.net/testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
        "odata.etag": "W/\u0022datetime\u00272020-04-27T14%3A24%3A06.2200837Z\u0027\u0022",
        "odata.editLink": "testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
        "PartitionKey": "somPartition",
        "RowKey": "00",
        "Timestamp@odata.type": "Edm.DateTime",
        "Timestamp": "2020-04-27T14:24:06.2200837Z",
        "SomeProperty": "This is table entity number 00"
      }
    },
[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtableasync1135560153",
        "value": [
          {
            "odata.type": "chrissprim.testtableasync1135560153",
            "odata.id": "https://chrissprim.table.core.windows.net/testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-04-27T14%3A24%3A06.2200837Z\u0027\u0022",
            "odata.editLink": "testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
            "PartitionKey": "somPartition",
      [...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-continuation-NextPartitionKey": "1!16!c29tUGFydGl0aW9u",
        "x-ms-continuation-NextRowKey": "1!4!MDQ-",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://chrissprim.table.core.windows.net/$metadata#testtableasync1135560153",
        "value": [
          {
            "odata.type": "chrissprim.testtableasync1135560153",
            "odata.id": "https://chrissprim.table.core.windows.net/testtableasync1135560153(PartitionKey=\u0027somPartition\u0027,RowKey=\u002700\u0027)",
            "odata.etag": "W/\u0022datetime\u00272020-04-27T[...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=4\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MDQ-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
     [...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=4\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MDg-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
     [...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=4\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MTI-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
     [...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$top=4\u0026NextPartitionKey=1%2116%21c29tUGFydGl0aW9u\u0026NextRowKey=1%214%21MTY-",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:08 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
     [...]
    {
      "RequestUri": "https://chrissprim.table.core.windows.net/testtableasync1135560153()?$format=application%2Fjson%3Bodata%3Dfullmetadata\u0026$filter=PartitionKey%20eq%20%27somPartition%27%20and%20RowKey%20ge%20%2710%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-date": "Mon, 27 Apr 2020 14:24:09 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "Stat[...]
