{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "displayName": "StartSingleLabelClassifyWithName",
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "I need a reservation for an indoor restaurant in China. Please don\u0027t stop the music. Play music and add it to my playlist",
              "language": "en"
            },
            {
              "id": "2",
              "text": "David Schmidt, senior vice president--Food Safety, International Food Information Council (IFIC), Washington, D.C., discussed the physical activity component.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "659c1851-be0b-4142-b12a-087da9785926",
              "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
            },
            "kind": "CustomSingleLabelClassification"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b1794b76-60ce-4fe6-9e3e-57af4ece395f?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b1794b76-60ce-4fe6-9e3e-57af4ece395f?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b1794b76-60ce-4fe6-9e3e-57af4ece395f",
        "lastUpdatedDateTime": "2022-09-09T17:03:25Z",
        "createdDateTime": "2022-09-09T17:03:25Z",
        "expirationDateTime": "2022-09-10T17:03:25Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "StartSingleLabelClassifyWithName",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/b1794b76-60ce-4fe6-9e3e-57af4ece395f?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "b1794b76-60ce-4fe6-9e3e-57af4ece395f",
        "lastUpdatedDateTime": "2022-09-09T17:03:31Z",
        "createdDateTime": "2022-09-09T17:03:25Z",
        "expirationDateTime": "2022-09-10T17:03:25Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "StartSingleLabelClassifyWithName",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomSingleLabelClassificationLROResults",
              "lastUpdateDateTime": "2022-09-09T17:03:31.6314395Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "class": [
                      {
                        "category": "BookRestaurant",
                        "confidenceScore": 1.0
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "class": [
                      {
                        "category": "RateBook",
                        "confidenceScore": 0.57
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "659c1851-be0b-4142-b12a-087da9785926",
                "deploymentName": "659c1851-be0b-4142-b12a-087da9785926"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1035522057",
    "TEXTANALYTICS_SINGLE_CATEGORY_CLASSIFY_DEPLOYMENT_NAME": "659c1851-be0b-4142-b12a-087da9785926",
    "TEXTANALYTICS_SINGLE_CATEGORY_CLASSIFY_PROJECT_NAME": "659c1851-be0b-4142-b12a-087da9785926",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
