# NOTE: Please refer to https://aka.ms/azsdk/engsys/ci-yaml before editing this file.

trigger: none

pr:
  branches:
    include:
    - main
    - feature/*
    - hotfix/*
    - release/*
  paths:
    include:
    - sdk/grafana/ci.mgmt.yml
    - sdk/grafana/Azure.ResourceManager.Grafana/

extends:
  template: /eng/pipelines/templates/stages/archetype-sdk-client.yml
  parameters:
    ServiceDirectory: grafana
    LimitForPullRequest: true
    Artifacts:
    - name: Azure.ResourceManager.Grafana
      safeName: AzureResourceManagerGrafana
