{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n      \"name\": \"3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n      \"type\": \"Microsoft.Storage.Admin/farms\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"farmId\": \"3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n        \"version\": \"2015-12-01-preview\",\r\n        \"settingsStore\": \"AzS-ACS01.azurestack.local:19000\",\r\n        \"settings\": {\r\n          \"settingsPollingIntervalInSecond\": 60,\r\n          \"retentionPeriodForDeletedStorageAccountsInDays\": 0,\r\n          \"hostStyleHttpPort\": 0,\r\n          \"hostStyleHttpsPort\": 0,\r\n          \"corsAllowedOriginsList\": \"https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/\",\r\n          \"dataCenterUriHostSuffixes\": \"local.azurestack.external\",\r\n          \"bandwidthThrottleIsEnabled\": false,\r\n          \"usageCollectionIntervalInSeconds\": 10,\r\n          \"feedbackRefreshIntervalInSeconds\": 10,\r\n          \"numberOfAccountsToSync\": 20,\r\n          \"defaultThrottleProbabilityDecayIntervalInSeconds\": 240,\r\n          \"gracePeriodForFullThrottlingInRefreshIntervals\": 3,\r\n          \"gracePeriodMaxThrottleProbability\": 0.9,\r\n          \"overallRequestThresholdInTps\": 10000.0,\r\n          \"defaultRequestThresholdInTps\": 200.0,\r\n          \"minimumRequestThresholdInTps\": 1.0,\r\n          \"toleranceFactorForTps\": 2.0,\r\n          \"overallIngressThresholdInGbps\": 25.0,\r\n          \"defaultIngressThresholdInGbps\": 2.0,\r\n          \"minimumIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIngress\": 2.0,\r\n          \"overallIntranetIngressThresholdInGbps\": 25.0,\r\n          \"defaultIntranetIngressThresholdInGbps\": 2.0,\r\n          \"minimumIntranetIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetIngress\": 2.0,\r\n          \"overallEgressThresholdInGbps\": 30.0,\r\n          \"defaultEgressThresholdInGbps\": 3.0,\r\n          \"minimumEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForEgress\": 2.0,\r\n          \"overallIntranetEgressThresholdInGbps\": 30.0,\r\n          \"defaultIntranetEgressThresholdInGbps\": 3.0,\r\n          \"minimumIntranetEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetEgress\": 2.0,\r\n          \"overallTotalIngressThresholdInGbps\": 50.0,\r\n          \"defaultTotalIngressThresholdInGbps\": 5.0,\r\n          \"minimumTotalIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalIngress\": 2.0,\r\n          \"overallTotalEgressThresholdInGbps\": 50.0,\r\n          \"defaultTotalEgressThresholdInGbps\": 5.0,\r\n          \"minimumTotalEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalEgress\": 2.0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvzrQzYCxn4BWKXY6r5izAJTf0nNkdira1gx8Ov14/qu1VhMV48lSF2t63XKtEfHwowWz9DCSMinb4jF9xftszqS8wqvAJpPWlYwwECDvWY6xY505S1FoJ/c0fZbdfnq9S4YSbBezXQ5Xl98jGuESy"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14825"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/shares?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/shares/||SU1FileServer.azurestack.local|SU1_ObjStore\",\r\n    \"name\": \"3cf03497-c44a-4e51-a56f-3987d88c70af/||SU1FileServer.azurestack.local|SU1_ObjStore\",\r\n    \"type\": \"Microsoft.Storage.Admin/farms/shares\",\r\n    \"location\": \"local\",\r\n    \"properties\": {\r\n      \"shareName\": \"||SU1FileServer.azurestack.local|SU1_ObjStore\",\r\n      \"uncPath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n      \"totalCapacity\": 2728176648192,\r\n      \"usedCapacity\": 400509059072,\r\n      \"freeCapacity\": 2327667589120,\r\n      \"healthStatus\": \"Healthy\"\r\n    }\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvbxKXa3T4LtFMNYDm7zAbL2xrgKRbeOGyOWq9i4hTzey+zbsvGbzmWMk4pmR8XYlruSB2Gs/nG+ZsMqj2UT+HTTBmseoqe4Q47VlNHgIpjWympNm85yj00nBafyof5z4RQe4JOLYR1j0GgEcu5CmG"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14824"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/shares/%7C%7CSU1FileServer.azurestack.local%7CSU1_ObjStore/metricdefinitions?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"retention\": \"P30D\",\r\n          \"timeGrain\": \"PT1H\"\r\n        },\r\n        {\r\n          \"retention\": \"P60D\",\r\n          \"timeGrain\": \"P1D\"\r\n        }\r\n      ],\r\n      \"name\": {\r\n        \"localizedValue\": \"Total Capacity\",\r\n        \"value\": \"TotalCapacity\"\r\n      },\r\n      \"primaryAggregationType\": \"Average\",\r\n      \"unit\": \"Count\"\r\n    },\r\n    {\r\n      \"metricAvailabilities\": [\r\n        {\r\n          \"retention\": \"P30D\",\r\n          \"timeGrain\": \"PT1H\"\r\n        },\r\n        {\r\n          \"retention\": \"P60D\",\r\n          \"timeGrain\": \"P1D\"\r\n        }\r\n      ],\r\n      \"name\": {\r\n        \"localizedValue\": \"Used Capacity\",\r\n        \"value\": \"UsedCapacity\"\r\n      },\r\n      \"primaryAggregationType\": \"Average\",\r\n      \"unit\": \"Count\"\r\n    },\r\n    {[...]
