{
  "Entries": [
    {
      "RequestUri": "/subscriptions/047e87e6-327f-4c44-8184-fb6bc35e8b38/providers/Microsoft.Storage.Admin/locations/local/storageaccounts?api-version=2019-08-08-preview&summary=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Prefer": [
          "odata.maxpagesize=1000"
        ]
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvjP3JFBNWy09BXUB2Cb3XN899SKXJNqAqNCaKgcKU+9y/SXFxSLbmOJYdvWSRWkWP9pdjmwRxgib9F5YZ2VnmIDkRdFCdDrjUjJam2ZrMmqQ/0UJ9PUxsrK+ALhxfC2k1ORgYt2hIgLpO94QsWL/w"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14652"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"161d2969192b4330afd8c50ec70be923\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://112srp02test112.blob.local.azurestack.external/\",\r\n          \"queue\": \"https://112srp02test112.queue.local.azurestack.external/\",\r\n          \"table\": \"https://112srp02test112.table.local.azurestack.external/\"\r\n        },\r\n        \"primaryLocation\": \"local\",\r\n        \"statusOfPrimary\": \"Available\",\r\n        \"encryption\": {\r\n          \"services\": {\r\n            \"blob\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"9/6/2019 7:43:30 AM\"\r\n            },\r\n            \"table\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"9/6/2019 7:43:30 AM\"\r\n            },\r\n            \"queue\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"9/6/2019 7:43:30 AM\"\r\n            }\r\n          },\r\n          \"keySource\": \"Microsoft.Storage\"\r\n        },\r\n        \"supportsHttpsTrafficOnly\": false,\r\n        \"tenantViewId\": \"/subscriptions/047e87e6-327f-4c44-8184-fb6bc35e8b38/resourcegroups/system.local/providers/Microsoft.Storage/storageAccounts/112srp02test112\",\r\n        \"tenantSubscriptionId\": \"047e87e6-327f-4c44-8184-fb6bc35e8b38\",\r\n        \"tenantStorageAccountName\": \"112srp02test112\",\r\n        \"tenantResourceGroupName\": \"system.local\",\r\n        \"accountStatus\": \"Active\",\r\n        \"accountId\": \"161d2969192b4330afd8c50ec70be923\",\r\n        \"accountType\": \"Standard_LRS\",\r\n        \"creationTime\": \"9/6/2019 7:43:30 AM\"\r\n      },\r\n      \"id\": \"/subscriptions/047e87e6-327f-4c44-8184-fb6bc35e8b38/providers/Microsoft.Storage.Admin/locations/local/storageAccounts/161d2969192b4330afd8c50ec70be923\",\r\n      \"type\": \"Microsoft.Storage.Admin/storageAccounts\"\r\n    },\r\n    {\r\n      \"name\": \"3cca152472c84ce58d24546fa28670f7\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://505srp02test505.blob.local.azurestack.external/\",\r\n          \"queue\": \"https://505srp02test505.queue.local.azurestack.external/\",\r\n          \"table\": \"https://505srp02test505.table.local.az[...]
