{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n      \"name\": \"3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n      \"type\": \"Microsoft.Storage.Admin/farms\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"farmId\": \"3cf03497-c44a-4e51-a56f-3987d88c70af\",\r\n        \"version\": \"2015-12-01-preview\",\r\n        \"settingsStore\": \"AzS-ACS01.azurestack.local:19000\",\r\n        \"settings\": {\r\n          \"settingsPollingIntervalInSecond\": 60,\r\n          \"retentionPeriodForDeletedStorageAccountsInDays\": 0,\r\n          \"hostStyleHttpPort\": 0,\r\n          \"hostStyleHttpsPort\": 0,\r\n          \"corsAllowedOriginsList\": \"https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/\",\r\n          \"dataCenterUriHostSuffixes\": \"local.azurestack.external\",\r\n          \"bandwidthThrottleIsEnabled\": false,\r\n          \"usageCollectionIntervalInSeconds\": 10,\r\n          \"feedbackRefreshIntervalInSeconds\": 10,\r\n          \"numberOfAccountsToSync\": 20,\r\n          \"defaultThrottleProbabilityDecayIntervalInSeconds\": 240,\r\n          \"gracePeriodForFullThrottlingInRefreshIntervals\": 3,\r\n          \"gracePeriodMaxThrottleProbability\": 0.9,\r\n          \"overallRequestThresholdInTps\": 10000.0,\r\n          \"defaultRequestThresholdInTps\": 200.0,\r\n          \"minimumRequestThresholdInTps\": 1.0,\r\n          \"toleranceFactorForTps\": 2.0,\r\n          \"overallIngressThresholdInGbps\": 25.0,\r\n          \"defaultIngressThresholdInGbps\": 2.0,\r\n          \"minimumIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIngress\": 2.0,\r\n          \"overallIntranetIngressThresholdInGbps\": 25.0,\r\n          \"defaultIntranetIngressThresholdInGbps\": 2.0,\r\n          \"minimumIntranetIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetIngress\": 2.0,\r\n          \"overallEgressThresholdInGbps\": 30.0,\r\n          \"defaultEgressThresholdInGbps\": 3.0,\r\n          \"minimumEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForEgress\": 2.0,\r\n          \"overallIntranetEgressThresholdInGbps\": 30.0,\r\n          \"defaultIntranetEgressThresholdInGbps\": 3.0,\r\n          \"minimumIntranetEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetEgress\": 2.0,\r\n          \"overallTotalIngressThresholdInGbps\": 50.0,\r\n          \"defaultTotalIngressThresholdInGbps\": 5.0,\r\n          \"minimumTotalIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalIngress\": 2.0,\r\n          \"overallTotalEgressThresholdInGbps\": 50.0,\r\n          \"defaultTotalEgressThresholdInGbps\": 5.0,\r\n          \"minimumTotalEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalEgress\": 2.0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvG6oFh8XFtlf6yLC0wfdgv/wscL8ANjU7708+wsFZxAxRcHB+6CwfirV+BF7dVWC/BuzGV6RCop9ibSspMn4b2EAvuaBXum3elWEtapz825r68YJLOzi7Ffj+4H2hT69Rt8Zflokq5t+wz5oXVvyy"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14928"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/blobservices/default?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/blobservices/default\",\r\n  \"name\": \"3cf03497-c44a-4e51-a56f-3987d88c70af/default\",\r\n  \"type\": \"Microsoft.Storage.Admin/farms/blobservices\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"settings\": {\r\n      \"frontEndHttpListenPort\": 11000,\r\n      \"frontEndHttpsListenPort\": 11100,\r\n      \"frontEndCallbackThreadsCount\": 1600,\r\n      \"frontEndCpuBasedKeepAliveThrottlingEnabled\": true,\r\n      \"frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold\": 90.0,\r\n      \"frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle\": 2.0,\r\n      \"frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds\": 5,\r\n      \"frontEndMemoryThrottlingEnabled\": true,\r\n      \"frontEndMaxMillisecondsBetweenMemorySamples\": 10000,\r\n      \"frontEndMemoryThrottleThresholdSettings\": \"5,100,0;7,50,0;10,25,0;15,0,25;\",\r\n      \"frontEndMinThreadPoolThreads\": 1850,\r\n      \"frontEndThreadPoolBasedKeepAliveIOCompletionThreshold\": 1500,\r\n      \"frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold\": 1500,\r\n      \"frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds\": 30,\r\n      \"frontEndThreadPoolBasedKeepAlivePercentage\": 10.0,\r\n      \"frontEndUseSlaTimeInAvailability\": true,\r\n      \"blobSvcContainerGcInterval\": 3600000,\r\n      \"blobSvcShallowGcInterval\": 3600000,\r\n      \"blobSvcStreamMapMinContainerOccupancyPercent\": 80\r\n    },\r\n    \"version\": \"1.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRviiB9AvVfoMlVnSl3P9pFpbFoRuutzoo/v0uLTPH7elbUty5yXXMLlOHJ58xThCRhbwDD4BDYcMG1Dt0lbu9gMDFYOwxDAE/5s8JQtVGsJxNsOc6lXY+/JGuHdMbV46UsZmwBiK87A/9jk3y3QeLj"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14927"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/blobservices/default/metrics?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"endTime\": \"2018-01-30T19:31:02.3087124Z\",\r\n      \"metricUnit\": \"CountPerSecond\",\r\n      \"metricValues\": [],\r\n      \"name\": {\r\n        \"localizedValue\": \"Requests per second (BlobFrontEnd)\",\r\n        \"value\": \"BlobFrontEndRequestsPerSecond\"\r\n      },\r\n      \"startTime\": \"2018-01-23T00:00:00Z\",\r\n      \"timeGrain\": \"P1D\"\r\n    },\r\n    {\r\n      \"endTime\": \"2018-01-30T19:31:02.3087124Z\",\r\n      \"metricUnit\": \"Count\",\r\n      \"metricValues\": [],\r\n      \"name\": {\r\n        \"localizedValue\": \"End-to-end latency (BlobFrontEnd)\",\r\n        \"value\": \"BlobFrontEndE2ELatency\"\r\n      },\r\n      \"startTime\": \"2018-01-23T00:00:00Z\",\r\n      \"timeGrain\": \"P1D\"\r\n    },\r\n    {\r\n      \"endTime\": \"2018-01-30T19:31:02.3087124Z\",\r\n      \"metricUnit\": \"Count\",\r\n [...]
