{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af0df211-4b38-45cc-9b95-54b592586984/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts?api-version=2019-08-08-preview&summary=false",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvYOaXdh7A2IkrRL/Q5jF8RYoVnaEavOftBohzlFVKuP/IXkQ8bx/3D1wJMRlwsXfgYIOQbLzvQTBFRa7DBqmqoSMHc5h9BMc2QEUHImy+be+/sFD0OessLDsfQnV6btYmrHpMJ6BrNtqI6ni08q3j"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14785"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"2d79f76c06d84313a697403fb17fabd8\",\r\n      \"location\": \"redmond\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://account323a6eddc5ce4d3.blob.redmond.ext-v.masd.stbtest.microsoft.com/\",\r\n          \"queue\": \"https://account323a6eddc5ce4d3.queue.redmond.ext-v.masd.stbtest.microsoft.com/\",\r\n          \"table\": \"https://account323a6eddc5ce4d3.table.redmond.ext-v.masd.stbtest.microsoft.com/\"\r\n        },\r\n        \"primaryLocation\": \"redmond\",\r\n        \"statusOfPrimary\": \"Available\",\r\n        \"encryption\": {\r\n          \"services\": {\r\n            \"blob\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"8/2/2019 1:23:01 AM\"\r\n            },\r\n            \"table\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"8/2/2019 1:23:01 AM\"\r\n            },\r\n            \"queue\": {\r\n              \"enabled\": true,\r\n              \"lastEnabledTime\": \"8/2/2019 1:23:01 AM\"\r\n            }\r\n          },\r\n          \"keySource\": \"Microsoft.Storage\"\r\n        },\r\n        \"supportsHttpsTrafficOnly\": false,\r\n        \"tenantViewId\": \"/subscriptions/af0df211-4b38-45cc-9b95-54b592586984/resourcegroups/xrprgtestooyneq/providers/Microsoft.Storage/storageAccounts/account323a6eddc5ce4d3\",\r\n        \"tenantSubscriptionId\": \"af0df211-4b38-45cc-9b95-54b592586984\",\r\n        \"tenantStorageAccountName\": \"account323a6eddc5ce4d3\",\r\n        \"tenantResourceGroupName\": \"xrprgtestooyneq\",\r\n        \"accountStatus\": \"Active\",\r\n        \"accountId\": \"2d79f76c06d84313a697403fb17fabd8\",\r\n        \"accountType\": \"Standard_LRS\",\r\n        \"creationTime\": \"8/2/2019 1:23:01 AM\"\r\n      },\r\n      \"id\": \"/subscriptions/af0df211-4b38-45cc-9b95-54b592586984/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageAccounts/2d79f76c06d84313a697403fb17fabd8\",\r\n      \"type\": \"Microsoft.Storage.Admin/storageAccounts\"\r\n    },\r\n    {\r\n      \"name\": \"58f0269e3eb749e0be92676d01281144\",\r\n      \"location\": \"redmond\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://account4c98a637f4204dc.blob.redmond.ext-v.masd.stbtest.microsoft.com/\",\r\n          \"queue\": \"https://account4c98a637f4204dc.queue.redmond.ext-v.masd.stbtest.microsoft.com/\",\r\n          \"tab[...]
