{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sqlvmtestrg5946?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946",
        "name": "sqlvmtestrg5946",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage1857?api-version=2021-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/4a072c7e-bffd-4566-85ef-ed2f11deaa87?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/4a072c7e-bffd-4566-85ef-ed2f11deaa87?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/4a072c7e-bffd-4566-85ef-ed2f11deaa87?monitor=true\u0026api-version=2021-09-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/4a072c7e-bffd-4566-85ef-ed2f11deaa87?monitor=true\u0026api-version=2021-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage1857",
        "name": "sqlvmteststorage1857",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-18T02:09:23.8465659Z",
            "key2": "2022-08-18T02:09:23.8465659Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T02:09:23.8621383Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-18T02:09:23.8621383Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-18T02:09:23.7684124Z",
          "primaryEndpoints": {
            "dfs": "https://sqlvmteststorage1857.dfs.core.windows.net/",
            "web": "https://sqlvmteststorage1857.z22.web.core.windows.net/",
            "blob": "https://sqlvmteststorage1857.blob.core.windows.net/",
            "queue": "https://sqlvmteststorage1857.queue.core.windows.net/",
            "table": "https://sqlvmteststorage1857.table.core.windows.net/",
            "file": "https://sqlvmteststorage1857.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage1857/listKeys?api-version=2021-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11996"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2022-08-18T02:09:23.8465659Z",
            "keyName": "key1",
            "value": "YsSWdYh8iQHlj5j\u002B45S3vtjUL1cVWbhkbU12/drkGhg9JuudZLPCt\u002BCN7ZxukYXGWtpSXGOwqPLQ\u002BAStG7mQZA==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2022-08-18T02:09:23.8465659Z",
            "keyName": "key2",
            "value": "aUSbFQPSwVDBnJZmY\u002BQ91jc1LVMCHv32ouqoowFIvKx5/uGk9YP\u002BMaPzxaGwCAK1qPZjVAoIg8NO\u002BAStQg3dkg==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "domainFqdn": "Domain.com",
            "clusterOperatorAccount": "myvmadmin@Domain.com",
            "sqlServiceAccount": "sqlService@Domain.com",
            "storageAccountUrl": "https://sqlvmteststorage1857.blob.core.windows.net/",
            "storageAccountPrimaryKey": "YsSWdYh8iQHlj5j\u002B45S3vtjUL1cVWbhkbU12/drkGhg9JuudZLPCt\u002BCN7ZxukYXGWtpSXGOwqPLQ\u002BAStG7mQZA==",
            "clusterSubnetType": "SingleSubnet"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachinegroup/operationResults/750c5175-8086-4f8a-b681-a6ed58d402c7?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "ProvisioningDomainful",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "storageAccountUrl": "https://sqlvmteststorage1857.blob.core.windows.net/"
          }
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051",
        "name": "sqlvmgrp2051",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachinegroup/operationResults/750c5175-8086-4f8a-b681-a6ed58d402c7?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11973"
      },
      "ResponseBody": {
        "name": "750c5175-8086-4f8a-b681-a6ed58d402c7",
        "status": "Succeeded",
        "startTime": "2022-08-18T02:09:46.173Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "updateTag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/updatesqlvirtualmachinegroup/operationResults/8cf9aaab-e82b-4510-9c9b-5d8a57aeff34?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "UpdatingDomainful",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "storageAccountUrl": "https://sqlvmteststorage1857.blob.core.windows.net/",
            "clusterSubnetType": "SingleSubnet"
          }
        },
        "location": "westus",
        "tags": {
          "test": "updateTag"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051",
        "name": "sqlvmgrp2051",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "domainFqdn": "Domain.com",
            "clusterOperatorAccount": "myvmadmin@Domain.com",
            "sqlServiceAccount": "sqlService@Domain.com",
            "storageAccountUrl": "https://sqlvmteststorage1857.blob.core.windows.net/",
            "clusterSubnetType": "SingleSubnet"
          }
        },
        "location": "westus",
        "tags": {
          "test": "updateTag"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg5946/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp2051",
        "name": "sqlvmgrp2051",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1002503994",
    "RESOURCE_MANAGER_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
