{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11985"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sqlvmtestrg1967?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967",
        "name": "sqlvmtestrg1967",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage214?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "StorageV2",
        "location": "westus",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/3a4e6028-ae26-4c3d-8e3c-0ffdf99a64ac?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/3a4e6028-ae26-4c3d-8e3c-0ffdf99a64ac?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/3a4e6028-ae26-4c3d-8e3c-0ffdf99a64ac?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/westus/asyncoperations/3a4e6028-ae26-4c3d-8e3c-0ffdf99a64ac?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_LRS",
          "tier": "Standard"
        },
        "kind": "StorageV2",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage214",
        "name": "sqlvmteststorage214",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "westus",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-08-19T02:09:15.2381366Z",
            "key2": "2022-08-19T02:09:15.2381366Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-19T02:09:15.2381366Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-08-19T02:09:15.2381366Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "accessTier": "Hot",
          "provisioningState": "Succeeded",
          "creationTime": "2022-08-19T02:09:15.1287412Z",
          "primaryEndpoints": {
            "dfs": "https://sqlvmteststorage214.dfs.core.windows.net/",
            "web": "https://sqlvmteststorage214.z22.web.core.windows.net/",
            "blob": "https://sqlvmteststorage214.blob.core.windows.net/",
            "queue": "https://sqlvmteststorage214.queue.core.windows.net/",
            "table": "https://sqlvmteststorage214.table.core.windows.net/",
            "file": "https://sqlvmteststorage214.file.core.windows.net/"
          },
          "primaryLocation": "westus",
          "statusOfPrimary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.Storage/storageAccounts/sqlvmteststorage214/listKeys?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11997"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2022-08-19T02:09:15.2381366Z",
            "keyName": "key1",
            "value": "2KiwZcxqIURaVjDwEznxlJsLu4w6qLRHT\u002B42oJ4Qs8veD2kOE7tKs6Ath2CeaDmr7bQkw5Mpj5Gw\u002BAStx8NyLw==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2022-08-19T02:09:15.2381366Z",
            "keyName": "key2",
            "value": "OAh0BwmECbkXTsc6bBlMDTy75buPPUFtiDrQtOhciUkcS6YerhF2q\u002BW7LpyHfJ/R45/ZKo44XGUU\u002BAStQ\u002Bobdw==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646?api-version=2022-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus",
        "properties": {
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "domainFqdn": "Domain.com",
            "clusterOperatorAccount": "myvmadmin@Domain.com",
            "sqlServiceAccount": "sqlService@Domain.com",
            "storageAccountUrl": "https://sqlvmteststorage214.blob.core.windows.net/",
            "storageAccountPrimaryKey": "2KiwZcxqIURaVjDwEznxlJsLu4w6qLRHT\u002B42oJ4Qs8veD2kOE7tKs6Ath2CeaDmr7bQkw5Mpj5Gw\u002BAStx8NyLw==",
            "clusterSubnetType": "SingleSubnet"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachinegroup/operationResults/9ca306b2-3621-423f-a4f8-12931370f717?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "ProvisioningDomainful",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "storageAccountUrl": "https://sqlvmteststorage214.blob.core.windows.net/"
          }
        },
        "location": "westus",
        "tags": {},
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646",
        "name": "sqlvmgrp7646",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachinegroup/operationResults/9ca306b2-3621-423f-a4f8-12931370f717?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "name": "9ca306b2-3621-423f-a4f8-12931370f717",
        "status": "Succeeded",
        "startTime": "2022-08-19T02:09:40.637Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646?api-version=2022-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "updateTag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/updatesqlvirtualmachinegroup/operationResults/dc9fde7e-9896-47d1-832d-021c8927d32e?api-version=2022-02-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "UpdatingDomainful",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "storageAccountUrl": "https://sqlvmteststorage214.blob.core.windows.net/",
            "clusterSubnetType": "SingleSubnet"
          }
        },
        "location": "westus",
        "tags": {
          "test": "updateTag"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646",
        "name": "sqlvmgrp7646",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "sqlImageOffer": "SQL2017-WS2016",
          "sqlImageSku": "Enterprise",
          "wsfcDomainProfile": {
            "domainFqdn": "Domain.com",
            "clusterOperatorAccount": "myvmadmin@Domain.com",
            "sqlServiceAccount": "sqlService@Domain.com",
            "storageAccountUrl": "https://sqlvmteststorage214.blob.core.windows.net/",
            "clusterSubnetType": "SingleSubnet"
          }
        },
        "location": "westus",
        "tags": {
          "test": "updateTag"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sqlvmtestrg1967/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups/sqlvmgrp7646",
        "name": "sqlvmgrp7646",
        "type": "Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1784620156",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
