{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaservices/mediaservice9813?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11871"
      },
      "ResponseBody": {
        "name": "mediaservice9813",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaservices/mediaservice9813",
        "type": "Microsoft.Media/mediaservices",
        "location": "West US 2",
        "properties": {
          "mediaServiceId": "cb65e444-601a-45bb-9870-d8ca700005d5",
          "storageAccounts": [
            {
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Storage/storageAccounts/azstorageformedia1483",
              "type": "Primary"
            }
          ],
          "storageAuthentication": "System",
          "encryption": {
            "type": "SystemKey"
          },
          "keyDelivery": {
            "accessControl": {
              "defaultAction": "Allow",
              "ipAllowList": []
            }
          },
          "publicNetworkAccess": "Enabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaServices/mediaservice9813/assets/asset5878?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11989"
      },
      "ResponseBody": {
        "name": "asset5878",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaservices/mediaservice9813/assets/asset5878",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "55d101dd-f4c7-4276-b57a-b1bed9f3a563",
          "created": "2022-08-17T02:21:07.84Z",
          "lastModified": "2022-08-17T02:21:07.84Z",
          "storageAccountName": "azstorageformedia1483",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T02:21:07.5613833Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T02:21:07.5613833Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaServices/mediaservice9813/assets/asset5878?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=minimal",
        "OData-Version": "4.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11870"
      },
      "ResponseBody": {
        "name": "asset5878",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/MediaServiceRG7435/providers/Microsoft.Media/mediaservices/mediaservice9813/assets/asset5878",
        "type": "Microsoft.Media/mediaservices/assets",
        "properties": {
          "assetId": "55d101dd-f4c7-4276-b57a-b1bed9f3a563",
          "created": "2022-08-17T02:21:07.84Z",
          "lastModified": "2022-08-17T02:21:07.84Z",
          "container": "asset-55d101dd-f4c7-4276-b57a-b1bed9f3a563",
          "storageAccountName": "azstorageformedia1483",
          "storageEncryptionFormat": "None"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-08-17T02:21:07.5613833Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-17T02:21:07.5613833Z"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1042371927",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
