{
  "Entries": [
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser6993\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser6993@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser6993test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/rbacclitest.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"ac6fe9fe-4b8f-4dd0-add7-24c83d5d506b\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"signInNames\": [],\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser6993\",\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser6993test\",\r\n  \"mobile\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2016-07-19T20:23:46.9218454Z\",\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser6993@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Location": [
          "https://graph.windows.net/rbacclitest.onmicrosoft.com/directoryObjects/ac6fe9fe-4b8f-4dd0-add7-24c83d5d506b/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "iYdxC4//s1JYk40t8P7wp4F402LFHd9cy7lmjVT3g6E="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "CX_PPG3FVeJIisuGUbbjYV2ZHUOPQnPYaQ73EOfKJ0AnZejB4cuUjHOTljgtdDR-c3QFY2mlwjVINAi1ld6fjdmsnxwRF6_DTlrieq3ZuXyT012Ng0Lcwj-A7PRIUiCi_WqKCLAaBd2CdCawVTQYRg.zsX0odUq3hGwiYiJiTZFFOFFrkU4gIPIpiuBgs-nTH4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "9523821"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/rbacclitest.onmicrosoft.com/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser6895\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"Test12345\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser6895@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser6895test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_BadRequest\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Another object with the same value for property userPrincipalName already exists.\"\r\n    },\r\n    \"values\": [\r\n      {\r\n        \"item\": \"PropertyName\",\r\n        \"value\": \"userPrincipalName\"\r\n      },\r\n      {\r\n        \"item\": \"PropertyErrorCode\",\r\n        \"value\": \"ObjectConflict\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "QyNul+QHNehCBkdgefKI8GTyyTZdKljRxMVgIG/Sq7g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "uNoo3EXRYfDQaU-ItK2TOp_irgZGrqWFA99XMuTrb-0OI6eQBMW6N7_QSy05Aru7koliYPUc1tn55kkRj4sQ5pvA6dQ0fyWK2dMG4Niju1-8kOos477lBo0Za3-7GkB6rIc_B5a5j5CH7BbHCuWRrw.PJpy5-7JrEomdtrVaCiHggIPNKydO9AQKq9pVdHV87c"
        ],
        "Duration": [
          "10286763"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {
    "CreateUser": [
      "aduser6993",
      "aduser3200",
      "aduser3291",
      "aduser1939",
      "aduser9162",
      "aduser6895"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "rbacclitest.onmicrosoft.com",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}