{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/PPE-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/testRg-9207?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207",
        "name": "testRg-9207",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207/providers/Microsoft.DeviceUpdate/accounts/Account-7957?api-version=2022-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/740d2f0e-bbe9-453d-9575-781f8625ca0f*3244D93A70F2D265F74EC16322F96062E5E6E9D77F58B9858AE44A0A997E1357?api-version=2022-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503d77b-0000-0800-0000-629ef2ff0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207/providers/Microsoft.DeviceUpdate/accounts/Account-7957",
        "name": "Account-7957",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T06:41:02.3444902Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T06:41:02.3444902Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/740d2f0e-bbe9-453d-9575-781f8625ca0f*3244D93A70F2D265F74EC16322F96062E5E6E9D77F58B9858AE44A0A997E1357?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d404b5c2-0000-0800-0000-629ef2ff0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/740d2f0e-bbe9-453d-9575-781f8625ca0f*3244D93A70F2D265F74EC16322F96062E5E6E9D77F58B9858AE44A0A997E1357",
        "name": "740d2f0e-bbe9-453d-9575-781f8625ca0f*3244D93A70F2D265F74EC16322F96062E5E6E9D77F58B9858AE44A0A997E1357",
        "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207/providers/Microsoft.DeviceUpdate/accounts/Account-7957",
        "status": "Accepted",
        "startTime": "2022-06-07T06:41:03.7066104Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207/providers/Microsoft.DeviceUpdate/accounts/Account-7957?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503e97b-0000-0800-0000-629ef3270000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-9207/providers/Microsoft.DeviceUpdate/accounts/Account-7957",
        "name": "Account-7957",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T06:41:02.3444902Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T06:41:02.3444902Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-7957.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "320659628",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603"
  }
}
