{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "a645d3be-5a4a-40ef-82a1-d5f5358a424c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/Canary-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourcegroups/testRg-8733?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733",
        "name": "testRg-8733",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733/providers/Microsoft.DeviceUpdate/accounts/Account-4070?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/4707afa3-3d48-42bf-b87c-9183f8a5f46f*F1B594CD1667049BD3818EF7D9CEDE66FB0E5397AC9B1EB7C704A0C2C9B9136D?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c600af30-0000-0800-0000-62f328b00000\u0022",
        "mise-correlation-id": "749f0da0-1298-4032-9d78-314f76fe0090",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733/providers/Microsoft.DeviceUpdate/accounts/Account-4070",
        "name": "Account-4070",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T03:40:28.4688782Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T03:40:28.4688782Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/4707afa3-3d48-42bf-b87c-9183f8a5f46f*F1B594CD1667049BD3818EF7D9CEDE66FB0E5397AC9B1EB7C704A0C2C9B9136D?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022e50077d8-0000-0800-0000-62f328b00000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/4707afa3-3d48-42bf-b87c-9183f8a5f46f*F1B594CD1667049BD3818EF7D9CEDE66FB0E5397AC9B1EB7C704A0C2C9B9136D",
        "name": "4707afa3-3d48-42bf-b87c-9183f8a5f46f*F1B594CD1667049BD3818EF7D9CEDE66FB0E5397AC9B1EB7C704A0C2C9B9136D",
        "resourceId": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733/providers/Microsoft.DeviceUpdate/accounts/Account-4070",
        "status": "Accepted",
        "startTime": "2022-08-10T03:40:32.2758178Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733/providers/Microsoft.DeviceUpdate/accounts/Account-4070?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022c6006933-0000-0800-0000-62f328d70000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/a645d3be-5a4a-40ef-82a1-d5f5358a424c/resourceGroups/testRg-8733/providers/Microsoft.DeviceUpdate/accounts/Account-4070",
        "name": "Account-4070",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-08-10T03:40:28.4688782Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-08-10T03:40:28.4688782Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-4070.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
