{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Env": "NonProd",
          "IsHostedOnBehalfOf": "False"
        },
        "subscriptionId": "cf65b9a6-fe0f-4011-881c-aba5a5fb8603",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AzureDeviceUpdate/PPE-MS",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourcegroups/testRg-7644?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644",
        "name": "testRg-7644",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Env": "NonProd"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644/providers/Microsoft.DeviceUpdate/accounts/Account-8109?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {
          "sku": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-03-01-preview, 2022-04-01-preview, 2022-10-01",
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/9e33eee4-c52b-4a15-b751-141db6e57f1f*890B4F1DAEC955C405242E0E8829B9AD0D2009C82779A1F3EA97FA7843F8F578?api-version=2022-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503397c-0000-0800-0000-629ef3db0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644/providers/Microsoft.DeviceUpdate/accounts/Account-8109",
        "name": "Account-8109",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T06:44:42.2860688Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T06:44:42.2860688Z"
        },
        "properties": {
          "sku": "Standard",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/9e33eee4-c52b-4a15-b751-141db6e57f1f*890B4F1DAEC955C405242E0E8829B9AD0D2009C82779A1F3EA97FA7843F8F578?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d40460c5-0000-0800-0000-629ef3db0000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.DeviceUpdate/locations/WESTUS2/operationStatuses/9e33eee4-c52b-4a15-b751-141db6e57f1f*890B4F1DAEC955C405242E0E8829B9AD0D2009C82779A1F3EA97FA7843F8F578",
        "name": "9e33eee4-c52b-4a15-b751-141db6e57f1f*890B4F1DAEC955C405242E0E8829B9AD0D2009C82779A1F3EA97FA7843F8F578",
        "resourceId": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644/providers/Microsoft.DeviceUpdate/accounts/Account-8109",
        "status": "Accepted",
        "startTime": "2022-06-07T06:44:43.898884Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644/providers/Microsoft.DeviceUpdate/accounts/Account-8109?api-version=2022-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f503557c-0000-0800-0000-629ef4030000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/cf65b9a6-fe0f-4011-881c-aba5a5fb8603/resourceGroups/testRg-7644/providers/Microsoft.DeviceUpdate/accounts/Account-8109",
        "name": "Account-8109",
        "type": "microsoft.deviceupdate/accounts",
        "location": "westus2",
        "tags": {},
        "systemData": {
          "createdBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "createdByType": "Application",
          "createdAt": "2022-06-07T06:44:42.2860688Z",
          "lastModifiedBy": "1e5942b3-36f1-43eb-88d9-98c12d95000b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-06-07T06:44:42.2860688Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "hostName": "account-8109.api.adu.microsoft.com",
          "locations": [
            {
              "name": "westus2",
              "role": "Primary"
            },
            {
              "name": "WestCentralUS",
              "role": "Failover"
            }
          ],
          "sku": "Standard",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
