{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"id\": \"AggregatedSegmentMetric\",\r\n    \"parameters\": {\r\n      \"metricId\": \"requests/duration\",\r\n      \"timespan\": \"PT12H\",\r\n      \"aggregation\": [\r\n        \"avg\"\r\n      ],\r\n      \"segment\": [\r\n        \"request/name\"\r\n      ]\r\n    }\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"AggregatedSegmentMetric\",\r\n    \"status\": 200,\r\n    \"body\": {\r\n      \"value\": {\r\n        \"start\": \"2017-11-08T06:29:03.083Z\",\r\n        \"end\": \"2017-11-08T18:29:03.083Z\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 14607.51\r\n            },\r\n            \"request/name\": \"GET customers/Index\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 1207.34\r\n            },\r\n            \"request/name\": \"POST ServiceTickets/Create\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 1105.13\r\n            },\r\n            \"request/name\": \"GET Customers/Details\"\r\n          },\r\n          {\r\n            [...]
