{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"id\": \"AggregatedSegmentMetric\",\r\n    \"parameters\": {\r\n      \"metricId\": \"requests/duration\",\r\n      \"timespan\": \"PT12H\",\r\n      \"aggregation\": [\r\n        \"avg\"\r\n      ],\r\n      \"segment\": [\r\n        \"request/name\"\r\n      ]\r\n    }\r\n  }\r\n]",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"AggregatedSegmentMetric\",\r\n    \"status\": 200,\r\n    \"body\": {\r\n      \"value\": {\r\n        \"start\": \"2018-09-22T15:30:27.953Z\",\r\n        \"end\": \"2018-09-23T03:30:27.953Z\",\r\n        \"segments\": [\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 826.12\r\n            },\r\n            \"request/name\": \"GET Customers/Details\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 822.8\r\n            },\r\n            \"request/name\": \"GET ServiceTickets/Assign\"\r\n          },\r\n          {\r\n            \"requests/duration\": {\r\n              \"avg\": 489.72\r\n            },\r\n            \"request/name\": \"GET Home/Index\"\r\n          },\r\n          {\r\n            \"requests/[...]
