{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/favoriteProcesses/AM_Base.exe?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "provider-api-validation"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"HttpResponsePayloadAPISpecValidationFailed\",\r\n    \"target\": \"Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/favoriteProcesses/AM_Base.exe\",\r\n    \"message\": \"Failed to create HTTP response as per the API specification with one or more errors. Please see details for more information. Consider to retry operation with api-versions ''.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"ObjectMissingRequiredProperty\",\r\n        \"message\": \"Missing required property: actualProcessName. Paths in payload: '$.properties.actualProcessName'\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 412
    },
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/TESTBASEACCOUNT_KAIFA/packages/package1_kaifa-2.0\",\r\n      \"name\": \"package1_kaifa-2.0\",\r\n      \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n      \"location\": \"global\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"version\": \"2.0\",\r\n        \"testTypes\": [\r\n          \"OutOfBoxTest\"\r\n        ],\r\n        \"targetOSList\": [\r\n          {\r\n            \"osUpdateType\": \"Feature updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\"\r\n            ]\r\n          },\r\n          {\r\n            \"osUpdateType\": \"Security updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\",\r\n              \"Windows 10 2004\",\r\n              \"Windows 10 1909\",\r\n              \"All Future OS Updates\",\r\n              \"Windows Server 2019\",\r\n              \"Windows Server 2019 - Server Core\",\r\n              \"Windows Server 2016\",\r\n              \"Windows Server 2016 - Server Core\"\r\n            ]\r\n          }\r\n        ],\r\n        \"packageStatus\": \"Ready\",\r\n        \"lastModifiedTime\": \"2021-05-13T01:40:46Z\",\r\n        \"flightingRing\": \"Insider Beta Channel\",\r\n        \"isEnabled\": true,\r\n        \"blobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/320288be-68d2-4c6c-aaf5-c4ac3edd0709/test.zip?sv=2019-07-07&sr=b&sig=vagrCcV7g0gP0%2FREZkhIzp0%2FNeXlw8Xq0EQSV2iNKkU%3D&se=2021-05-14T01%3A38%3A56Z&sp=acw\",\r\n        \"validationResults\": [\r\n          {\r\n            \"validationName\": \"Sanity Checks Validator\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"CopyZipPackage\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"SchedulePackageValidationRun\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          }\r\n        ],\r\n        \"tests\": [\r\n          {\r\n            \"testType\": \"OutOfBoxTest\",\r\n            \"validationRunStatus\": \"Passed\",\r\n            \"isActive\": true,\r\n            \"commands\": [\r\n              {\r\n                \"name\": \"install\",\r\n                \"action\": \"Install\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/install/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": false\r\n              },\r\n              {\r\n                \"name\": \"launch\",\r\n                \"action\": \"Launch\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/launch/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": fal[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210617153636742?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210617153636742' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0101ba8a-0000-0700-0000-60af04c70000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/TESTBASEACCOUNT_KAIFA/packa[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/getFileUploadUrl?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"blobName\": \"test.zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"uploadUrl\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/b1331037-698d-4d54-9141-1ea2fca49606/test.zip?sv=2019-07-07&sr=b&sig=X5ZNtaJ9Qw5WNC8Pk%2Byss%2BNu712IuIs6Odvu2De4HLE%3D&se=2021-06-18T07%3A36%3A38Z&sp=acw\",\r\n  \"blobPath\": \"c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/b1331037-698d-4d54-9141-1ea2fca49606/test.zip\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase6486_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"ta[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/5eb099ea-98f4-4193-9f0e-844f2b8178bc?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"03006dc1-0000-0700-0000-60cafb960000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/5eb099ea-98f4-4193-9f0e-844f2b8178bc\",\r\n  \"name\": \"5eb099ea-98f4-4193-9f0e-844f2b8178bc\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-17T07:36:43.5993785Z\",\r\n  \"endTime\": \"2021-06-17T07:36:54.7407921Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"ApplicationName\": \"testbase6486_pkg\",\r\n    \"Version\": \"1.0.0\",\r\n    \"TargetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\",\r\n          \"Windows 10 1909\",\r\n          \"All Future OS Updates\",\r\n          \"Windows Server 2019\",\r\n          \"Windows Server 2019 - Server Core\",\r\n          \"Windows Server 2016\",\r\n          \"Windows Server 2016 - Server Core\"\r\n        ]\r\n      }\r\n    ],\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"FlightingRing\": \"Insider Beta Channel\",\r\n    \"BlobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/b1331037-698d-4d54-9141-1ea2fca49606/test.zip\",\r\n    \"Tests\": [\r\n      {\r\n        \"testType\": \"OutOfBoxTest\",\r\n        \"validationRunStatus\": \"Unknown\",\r\n        \"isActive\": true,\r\n        \"commands\": [\r\n          {\r\n            \"name\": \"install\",\r\n            \"action\": \"Install\",\r\n            \"contentType\": \"Path\",\r\n            \"content\": \"test/scripts/install/job.ps1\",\r\n            \"runElevated\": false,\r\n            \"restartAfter\": true,\r\n            \"maxRunTime\": 1800,\r\n            \"runAsIn[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"05002c41-0000-0700-0000-60cafb960000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0\",\r\n  \"name\": \"testbase6486_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"test\": \"test\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase6486_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windo[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0500cb47-0000-0700-0000-60cafbb80000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0\",\r\n  \"name\": \"testbase6486_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210617_153721\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase6486_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210617_153721\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"05008146-0000-0700-0000-60cafbb20000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/f08888df-2c9f-41e0-8bdb-3d2235720c69?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/f08888df-2c9f-41e0-8bdb-3d2235720c69?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0\",\r\n  \"name\": \"testbase6486_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"etag\": \"\\\"05002c41-0000-0700-0000-60cafb960000\\\"\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210617_153721\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-17T07:36:43.4762892Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-17T07:37:22.244194Z\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase6486_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windows 10 20H2\",\r\n          \"Windows [...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/f08888df-2c9f-41e0-8bdb-3d2235720c69?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0300c5c3-0000-0700-0000-60cafbb80000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/f08888df-2c9f-41e0-8bdb-3d2235720c69\",\r\n  \"name\": \"f08888df-2c9f-41e0-8bdb-3d2235720c69\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-17T07:37:22.3558174Z\",\r\n  \"endTime\": \"2021-06-17T07:37:28.7499948Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase6486_pkg-1.0.0/hardDelete?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/e5f44cc0-ec84-42a7-9453-0878f4de9ba0?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/e5f44cc0-ec84-42a7-9453-0878f4de9ba0?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestPackageOperations": [
      "testbase6486"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}