{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Monthly\",\r\n    \"quantity\": 3,\r\n    \"displayName\": \"TestPurchaseBillingPlanReservation\",\r\n    \"appliedScopeType\": \"Single\",\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\"\r\n    ],\r\n    \"renew\": false,\r\n    \"reservedResourceProperties\": {\r\n      \"instanceFlexibility\": \"On\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-ms-test": [
          "{\"contact\":\"kgautam\",\"scenarios\":\"v6-recurrence-test,time-scale:35040,AcceleratedPayment\",\"retention\":\"1/26/2020 4:19:40 AM\"}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"billingCurrencyTotal\": {\r\n      \"currencyCode\": \"USD\",\r\n      \"amount\": 1398.0\r\n    },\r\n    \"netTotal\": 0.0,\r\n    \"taxTotal\": 0.0,\r\n    \"grandTotal\": 0.0,\r\n    \"reservationOrderId\": \"086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n    \"skuTitle\": \"Reserved VM Instance, Standard_D1, US West, 1 Year\",\r\n    \"skuDescription\": \"Standard_D1\",\r\n    \"pricingCurrencyTotal\": {\r\n      \"currencyCode\": \"USD\",\r\n      \"amount\": 1398.0\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Monthly\",\r\n    \"quantity\": 3,\r\n    \"displayName\": \"TestPurchaseBillingPlanReservation\",\r\n    \"appliedScopeType\": \"Single\",\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\"\r\n    ],\r\n    \"renew\": false,\r\n    \"reservedResourceProperties\": {\r\n      \"instanceFlexibility\": \"On\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1?api-version=2022-03-01"
        ],
        "Retry-After": [
          "120"
        ],
        "x-ms-test": [
          "{\"contact\":\"kgautam\",\"scenarios\":\"v6-recurrence-test,time-scale:35040,AcceleratedPayment\",\"retention\":\"1/26/2020 4:19:44 AM\"}"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders\",\r\n  \"name\": \"086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"etag\": 1,\r\n  \"properties\": {\r\n    \"displayName\": \"TestPurchaseReservation\",\r\n    \"requestDateTime\": \"2019-10-28T04:19:58.8463652Z\",\r\n    \"term\": \"P1Y\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"reservations\": [\r\n      {\r\n        \"sku\": {\r\n          \"name\": \"Standard_D1\"\r\n        },\r\n        \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1/reservations/f1041f4f-7cef-4903-811e-4a83bb290476\",\r\n        \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n        \"name\": \"086641e5-3de5-41a3-acdd-1ca40b1e88f1/f1041f4f-7cef-4903-811e-4a83bb290476\",\r\n        \"etag\": 1,\r\n        \"location\": \"westus\",\r\n        \"properties\": {\r\n          \"appliedScopes\": [\r\n            \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\"\r\n          ],\r\n          \"appliedScopeType\": \"Single\",\r\n          \"quantity\": 3,\r\n          \"provisioningState\": \"Creating\",\r\n          \"displayName\": \"TestPurchaseReservation\",\r\n          \"effectiveDateTime\": \"2019-10-28T04:19:58.8463652Z\",\r\n          \"lastUpdatedDateTime\": \"2019-10-28T04:19:58.8463652Z\",\r\n          \"reservedResourceType\": \"VirtualMachines\",\r\n          \"instanceFlexibility\": \"On\",\r\n          \"skuDescription\": \"Reserved VM Instance, Standard_D1, US West, 1 Year\",\r\n          \"renew\": false\r\n        }\r\n      }\r\n    ],\r\n    \"originalQuantity\": 3,\r\n    \"billingPlan\": \"Upfront\"\r\n  }\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders\",\r\n  \"name\": \"086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"etag\": 6,\r\n  \"properties\": {\r\n    \"displayName\": \"TestPurchaseReservation\",\r\n    \"requestDateTime\": \"2019-10-28T04:19:58.8463652Z\",\r\n    \"term\": \"P1Y\",\r\n    \"provisioningState\": \"ConfirmedCapacity\",\r\n    \"reservations\": [\r\n      {\r\n        \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1/reservations/f1041f4f-7cef-4903-811e-4a83bb290476\"\r\n      }\r\n    ],\r\n    \"originalQuantity\": 3,\r\n    \"billingPlan\": \"Upfront\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders\",\r\n  \"name\": \"086641e5-3de5-41a3-acdd-1ca40b1e88f1\",\r\n  \"etag\": 9,\r\n  \"properties\": {\r\n    \"displayName\": \"TestPurchaseReservation\",\r\n    \"requestDateTime\": \"2019-10-28T04:19:58.8463652Z\",\r\n    \"createdDateTime\": \"2019-10-28T04:22:58.3271351Z\",\r\n    \"expiryDate\": \"2020-10-28\",\r\n    \"term\": \"P1Y\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"reservations\": [\r\n      {\r\n        \"id\": \"/providers/microsoft.capacity/reservationOrders/086641e5-3de5-41a3-acdd-1ca40b1e88f1/reservations/f1041f4f-7cef-4903-811e-4a83bb290476\"\r\n      }\r\n    ],\r\n    \"originalQuantity\": 3,\r\n    \"billingPlan\": \"Upfront\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d3ae48e5-dbb2-4618-afd4-fb1b8559cb80"
  }
}