{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourcegroups/sdk-test-rg-update?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-update",
        "name": "sdk-test-rg-update",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-update/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-update?api-version=2022-05-13",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westeurope"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF?api-version=2022-05-13",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022960a35c1-0000-0d00-0000-631cfcb80000\u0022",
        "x-ms-image-digest": "sha256:07f4244bdd4fa89539813bd1c743e57090add13dcd42a51e9d87dd441e56a734",
        "x-ms-image-tag": "1.0.02049.29-cb8535e39ba27833da973165c9003a442deb7d8d",
        "x-ms-machineName": "controlplane-5cdd86b86f-rdp4b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-update/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-update",
        "name": "dotnet-sdk-test-ledger-update",
        "type": "microsoft.confidentialledger/ledgers",
        "location": "westeurope",
        "etag": "\u0022960ab7c0-0000-0d00-0000-631cfcaf0000\u0022",
        "tags": {},
        "systemData": {
          "createdBy": "64c98884-3d2a-4203-adbe-cd393d69e0b9",
          "createdByType": "Application",
          "createdAt": "2022-09-10T21:06:03.3346705Z",
          "lastModifiedBy": "64c98884-3d2a-4203-adbe-cd393d69e0b9",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-10T21:08:07.665662Z"
        },
        "properties": {
          "ledgerName": "dotnet-sdk-test-ledger-update",
          "ledgerUri": "https://dotnet-sdk-test-ledger-update.confidential-ledger.azure.com",
          "identityServiceUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/dotnet-sdk-test-ledger-update",
          "ledgerType": "Unknown",
          "aadBasedSecurityPrincipals": [
            {
              "principalId": "f526677c-636d-43fd-b34f-e20487fabc85",
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "ledgerRoleName": "Contributor"
            }
          ],
          "ledgerInternalNamespace": "a4e95d8b-c84b-4e53-92e5-88dba5801313",
          "ledgerSku": "Unknown",
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee025701-0000-0d00-0000-631cfcb80000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11969"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF",
        "name": "845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF",
        "resourceId": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-update/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-update",
        "status": "Accepted",
        "startTime": "2022-09-10T21:08:08.0631942Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF?api-version=2022-05-13",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022ee025801-0000-0d00-0000-631cfcc30000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11963"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.ConfidentialLedger/locations/WESTEUROPE/operationStatuses/845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF",
        "name": "845a93bf-842d-4341-a853-627237e86627*A3379AEC791F44F28B936D3524E2DE9FA69AD35F481FB3331D4E229ACE5E9CDF",
        "resourceId": "/subscriptions/027da7f8-2fc6-46d4-9be9-560706b60fec/resourceGroups/sdk-test-rg-update/providers/Microsoft.ConfidentialLedger/ledgers/dotnet-sdk-test-ledger-update",
        "status": "Succeeded",
        "startTime": "2022-09-10T21:08:08.0631942Z",
        "endTime": "2022-09-10T21:08:19.4082776Z",
        "properties": {
          "LedgerName": "dotnet-sdk-test-ledger-update",
          "LedgerUri": "https://dotnet-sdk-test-ledger-update.confidential-ledger.azure.com",
          "IdentityServiceUri": "https://identity.confidential-ledger.core.azure.com/ledgerIdentity/dotnet-sdk-test-ledger-update",
          "LedgerStorageAccount": null,
          "LedgerType": "Unknown",
          "AadBasedSecurityPrincipals": [
            {
              "PrincipalId": "9a4ca6fb-4dbe-41e6-b960-f496ec641737",
              "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "LedgerRoleName": "Administrator"
            }
          ],
          "CertBasedSecurityPrincipals": null,
          "LedgerInternalNamespace": "a4e95d8b-c84b-4e53-92e5-88dba5801313",
          "LedgerSku": "Unknown"
        }
      }
    },
[...]
