{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953"
          }
        ],
        "tags": {
          "azsecpack": "nonprod"
        },
        "subscriptionId": "964c10bb-8a6c-43bc-83d3-6b318c6c7305",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "BDHadoopHumboldtAdhocTestShortTermTeam3",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourcegroups/HDInsightRG-40?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "japaneast"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40",
        "name": "HDInsightRG-40",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "japaneast",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost?api-version=2023-04-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "japaneast",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0",
          "osType": "Linux",
          "tier": "Standard",
          "clusterDefinition": {
            "kind": "Spark",
            "configurations": {
              "gateway": {
                "restAuthCredential.isEnabled": "true",
                "restAuthCredential.username": "admin4468",
                "restAuthCredential.password": "Password1!9688"
              }
            }
          },
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "Standard_DS14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Standard_DS14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Standard_DS14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              }
            ]
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster4962.blob.core.windows.net",
                "isDefault": true,
                "container": "container7469",
                "key": "Sanitized"
              }
            ]
          },
          "diskEncryptionProperties": {
            "encryptionAtHost": true
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost/azureasyncoperations/create?api-version=2023-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022867c2d4d-8bda-40ac-8abc-7e5d30c28fb6\u0022",
        "x-ms-hdi-clusteruri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost?api-version=2023-04-15-preview",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost",
        "name": "hdisdk-encryptionathost",
        "type": "Microsoft.HDInsight/clusters",
        "location": "Japan East",
        "etag": "867c2d4d-8bda-40ac-8abc-7e5d30c28fb6",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "4.0.3000.1",
          "clusterHdpVersion": "",
          "osType": "Linux",
          "clusterDefinition": {
            "blueprint": "https://blueprints.azurehdinsight.net/spark-4.0.3000.1.2304280205.json",
            "kind": "Spark",
            "componentVersion": {
              "Spark": "2.4"
            }
          },
          "clusterId": "7aa58cffa2114d5eac6d1f49e3bd9427",
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "standard_ds14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_ds14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_ds14_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              }
            ]
          },
          "provisioningState": "InProgress",
          "clusterState": "Accepted",
          "createdDate": "2023-06-12T10:07:13.753",
          "quotaInfo": {
            "coresUsed": 80
          },
          "tier": "standard",
          "diskEncryptionProperties": {
            "vaultUri": null,
            "keyName": null,
            "keyVersion": null,
            "encryptionAlgorithm": null,
            "msiResourceId": null,
            "encryptionAtHost": true
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster4962.blob.core.windows.net",
                "resourceId": null,
                "msiResourceId": null,
                "key": null,
                "fileSystem": null,
                "container": "container7469",
                "saskey": null,
                "isDefault": true,
                "enableSecureChannel": null,
                "fileshare": null
              }
            ]
          },
          "excludedServicesConfig": {
            "excludedServicesConfigId": "default",
            "excludedServicesList": ""
          },
          "computeIsolationProperties": {
            "enableComputeIsolation": false,
            "hostSku": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/HDInsightRG-40/providers/Microsoft.HDInsight/clusters/hdisdk-encryptionathost/azureasyncoperations/create?api-version=2023-04-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "japaneast",
        "x-ms-ratelimit-remaining-subscription-reads": "11947"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
