{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/HDInsightRG-2022?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022",
        "name": "HDInsightRG-2022",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.Storage/storageAccounts/azstorageforcluster3642?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/a9f67369-a7d7-4d97-9176-c0e84a50b8b5?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/a9f67369-a7d7-4d97-9176-c0e84a50b8b5?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/a9f67369-a7d7-4d97-9176-c0e84a50b8b5?monitor=true\u0026api-version=2022-05-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Storage/locations/eastus/asyncoperations/a9f67369-a7d7-4d97-9176-c0e84a50b8b5?monitor=true\u0026api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.Storage/storageAccounts/azstorageforcluster3642",
        "name": "azstorageforcluster3642",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus",
        "tags": {},
        "properties": {
          "keyCreationTime": {
            "key1": "2022-09-08T09:23:17.4485787Z",
            "key2": "2022-09-08T09:23:17.4485787Z"
          },
          "privateEndpointConnections": [],
          "minimumTlsVersion": "TLS1_0",
          "allowBlobPublicAccess": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-08T09:23:17.4642150Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2022-09-08T09:23:17.4642150Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2022-09-08T09:23:17.3079533Z",
          "primaryEndpoints": {
            "blob": "https://azstorageforcluster3642.blob.core.windows.net/",
            "queue": "https://azstorageforcluster3642.queue.core.windows.net/",
            "table": "https://azstorageforcluster3642.table.core.windows.net/",
            "file": "https://azstorageforcluster3642.file.core.windows.net/"
          },
          "primaryLocation": "eastus",
          "statusOfPrimary": "available",
          "secondaryLocation": "westus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.Storage/storageAccounts/azstorageforcluster3642/listKeys?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2022-09-08T09:23:17.4485787Z",
            "keyName": "key1",
            "value": "NifvCRluif9L5fFgeOgb0e8dXgrfPNjFKaXnYTmEpLXW2Kb0EW9u5Lhivjlksgl3Dv6YbgugmfFC\u002BAStmQT7/w==",
            "permissions": "FULL"
          },
          {
            "creationTime": "2022-09-08T09:23:17.4485787Z",
            "keyName": "key2",
            "value": "rQWlLM1CJ6X/MpOhzUFyPxAQdJtX0uNGHJQqCcBrwS/Doljgsgs3t9sNsuw910ZHbqGlCFtI6bnf\u002BAStXpqSPQ==",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.Storage/storageAccounts/azstorageforcluster3642/blobServices/default/containers/container9553?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "ETag": "\u00220x8DA917BD002FE13\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.Storage/storageAccounts/azstorageforcluster3642/blobServices/default/containers/container9553",
        "name": "container9553",
        "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
        "properties": {
          "deleted": false,
          "remainingRetentionDays": 0,
          "hasImmutabilityPolicy": false,
          "hasLegalHold": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.HDInsight/clusters/hdisdk-loadbased?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "3.6",
          "osType": "Linux",
          "tier": "Standard",
          "clusterDefinition": {
            "kind": "Hadoop",
            "configurations": {
              "gateway": {
                "restAuthCredential.isEnabled": "true",
                "restAuthCredential.username": "admin4468",
                "restAuthCredential.password": "Password1!9688"
              }
            }
          },
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "autoscale": {
                  "capacity": {
                    "minInstanceCount": 4,
                    "maxInstanceCount": 5
                  }
                },
                "hardwareProfile": {
                  "vmSize": "Large"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "Small"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951",
                    "password": "Password!5951"
                  }
                }
              }
            ]
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster3642.blob.core.windows.net",
                "isDefault": true,
                "container": "container9553",
                "key": "NifvCRluif9L5fFgeOgb0e8dXgrfPNjFKaXnYTmEpLXW2Kb0EW9u5Lhivjlksgl3Dv6YbgugmfFC\u002BAStmQT7/w=="
              }
            ]
          },
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.HDInsight/clusters/hdisdk-loadbased/azureasyncoperations/create?api-version=2021-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022805d90e9-2535-4280-8f54-ed19516c388c\u0022",
        "x-ms-hdi-clusteruri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.HDInsight/clusters/hdisdk-loadbased?api-version=2021-06-01",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.HDInsight/clusters/hdisdk-loadbased",
        "name": "hdisdk-loadbased",
        "type": "Microsoft.HDInsight/clusters",
        "location": "East US",
        "etag": "805d90e9-2535-4280-8f54-ed19516c388c",
        "tags": {
          "key0": "value0"
        },
        "properties": {
          "clusterVersion": "3.6.2000.67",
          "clusterHdpVersion": "",
          "osType": "Linux",
          "clusterDefinition": {
            "blueprint": "https://blueprints.azurehdinsight.net/hadoop-3.6.2000.67.2201042214.json",
            "kind": "Hadoop",
            "componentVersion": {
              "Hadoop": "2.7"
            }
          },
          "clusterId": "6c92b09578d740e58988bb03c4929507",
          "computeProfile": {
            "roles": [
              {
                "name": "headnode",
                "targetInstanceCount": 2,
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "workernode",
                "targetInstanceCount": 3,
                "autoscale": {
                  "capacity": {
                    "minInstanceCount": 4,
                    "maxInstanceCount": 5
                  }
                },
                "hardwareProfile": {
                  "vmSize": "standard_a4_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              },
              {
                "name": "zookeepernode",
                "targetInstanceCount": 3,
                "hardwareProfile": {
                  "vmSize": "standard_a1_v2"
                },
                "osProfile": {
                  "linuxOperatingSystemProfile": {
                    "username": "sshuser5951"
                  }
                },
                "encryptDataDisks": false
              }
            ]
          },
          "provisioningState": "InProgress",
          "clusterState": "Accepted",
          "createdDate": "2022-09-08T09:23:44.727",
          "quotaInfo": {
            "coresUsed": 20
          },
          "tier": "standard",
          "encryptionInTransitProperties": {
            "isEncryptionInTransitEnabled": true
          },
          "storageProfile": {
            "storageaccounts": [
              {
                "name": "azstorageforcluster3642.blob.core.windows.net",
                "resourceId": null,
                "msiResourceId": null,
                "key": null,
                "fileSystem": null,
                "container": "container9553",
                "saskey": null,
                "isDefault": true,
                "fileshare": null
              }
            ]
          },
          "excludedServicesConfig": {
            "excludedServicesConfigId": "default",
            "excludedServicesList": ""
          },
          "computeIsolationProperties": {
            "enableComputeIsolation": false,
            "hostSku": null
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/HDInsightRG-2022/providers/Microsoft.HDInsight/clusters/hdisdk-loadbased/azureasyncoperations/create?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-hdi-served-by": "eastus",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
