{
  "Entries": [
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/prebuilts",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  \"email\"\r\n]",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"6ac9c9d1-c4c1-42c5-a6e5-27d0501ad4f5\",\r\n    \"name\": \"email\",\r\n    \"typeId\": 2,\r\n    \"readableType\": \"Prebuilt Entity Extractor\",\r\n    \"roles\": []\r\n  }\r\n]",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/entities",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"children\": [\r\n    {\r\n      \"children\": [\r\n        {\r\n          \"name\": \"instanceOf\",\r\n          \"instanceOf\": \"email\"\r\n        }\r\n      ],\r\n      \"name\": \"child1\"\r\n    }\r\n  ],\r\n  \"name\": \"Entity To Be Added\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/entities/97286418-10ba-4935-8af5-d74688163709"
        ],
        "Operation-Location": [
          "https://westus.api.cognitive.microsoft.com/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/entities/97286418-10ba-4935-8af5-d74688163709"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "\"97286418-10ba-4935-8af5-d74688163709\"",
      "StatusCode": 201
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/entities/97286418-10ba-4935-8af5-d74688163709",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/luis/authoring/v3.0-preview/apps/57145764-300b-4640-a4ed-0289ad085e05/versions/0.1/prebuilts/6ac9c9d1-c4c1-42c5-a6e5-27d0501ad4f5",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "507dfc3e5c29448e98fad6046cdee451"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"Success\",\r\n  \"message\": \"Operation Successful\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}