{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/microsoft.insights/register?api-version=2018-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/microsoft.insights\",\r\n  \"namespace\": \"microsoft.insights\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"11c174dc-1945-4a9a-a36b-c79a0f246b9b\",\r\n      \"roleDefinitionId\": \"dd9d4347-f397-45f2-b538-85f21c90037b\"\r\n    },\r\n    {\r\n      \"applicationId\": \"035f9e1d-4f00-4419-bf50-bf2d87eb4878\",\r\n      \"roleDefinitionId\": \"323795fe-ba3d-4f5a-ad42-afb4e1ea9485\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f5c26e74-f226-4ae8-85f0-b4af0080ac9e\",\r\n      \"roleDefinitionId\": \"529d7ae6-e892-4d43-809d-8547aeb90643\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"components\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"West US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-05-01\",\r\n        \"2014-12-01-preview\",\r\n        \"2014-08-01\",\r\n        \"2014-04-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"components/query\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"West US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-04-20\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"components/metrics\",\r\n      \"locations\"[...]
    {
      "RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/providers/Microsoft.ApiManagement\",\r\n      \"namespace\": \"Microsoft.ApiManagement\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"8602e328-9b72-4f2d-a4ae-1387d013a2b3\",\r\n        \"roleDefinitionId\": \"e263b525-2e60-4418-b655-420bae0b172e\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"service\",\r\n          \"locations\": [\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"West US\",\r\n            \"Canada Central[...]
