{
  "Entries": [
    {
      "RequestUri": "https://api.cognitive.microsofttranslator.com/translate?to=en\u0026from=zh-chs\u0026textType=html\u0026api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "Ocp-Apim-Subscription-Region": "westus"
      },
      "RequestBody": "[{\u0022Text\u0022:\u0022\\u003Cspan class=notranslate\\u003E\\u4ECA\\u5929\\u662F\\u600E\\u4E48\\u56DE\\u4E8B\\u662F\\u003C/span\\u003E\\u975E\\u5E38\\u53EF\\u6015\\u7684\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Metered-Usage": "44",
        "X-MT-System": "Microsoft",
        "X-RequestId": "TRAN.MW1P.99BF.0322T2122.5C1E19F"
      },
      "ResponseBody": "[{\u0022translations\u0022:[{\u0022text\u0022:\u0022\u003Cspan class=notranslate\u003E\u4ECA\u5929\u662F\u600E\u4E48\u56DE\u4E8B\u662F\u003C/span\u003Every scary\u0022,\u0022to\u0022:\u0022en\u0022}]}]"
    }
  ],
  "Variables": {
    "RandomSeed": "33618301",
    "TEXT_TRANSLATION_API_KEY": "Sanitized",
    "TEXT_TRANSLATION_ENDPOINT": "https://api.cognitive.microsofttranslator.com",
    "TEXT_TRANSLATION_REGION": "westus"
  }
}
