{
  "Entries": [
    {
      "RequestUri": "https://t9b55506e142b41d0topic.westus-1.eventgrid.azure.net/api/events?api-version=2018-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "aeg-sas-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\u0022id\u0022:\u00222c083a42-ae54-ca96-b4f8-c16360404785\u0022,\u0022subject\u0022:\u0022source\u0022,\u0022data\u0022:\u0022data\u0022,\u0022eventType\u0022:\u0022type\u0022,\u0022eventTime\u0022:\u00222023-06-13T19:04:56.9803700Z\u0022,\u0022dataVersion\u0022:\u00221\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2018-01-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2023-06-13T12:04:56.9803700-07:00",
    "EVENT_GRID_TOPIC_ENDPOINT": "https://t9b55506e142b41d0topic.westus-1.eventgrid.azure.net/api/events",
    "EVENT_GRID_TOPIC_KEY": "Kg==",
    "RandomSeed": "308252093"
  }
}
