{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "844cd0ec-8e67-46b2-9bf5-c39301783e0c",
            "dataFeedName": "testgIK977Xj",
            "metrics": [
              {
                "metricId": "6b3c22b6-431f-4071-95de-ee55501b4b68",
                "metricName": "someMetricName",
                "metricDisplayName": "someMetricDisplayName",
                "metricDescription": "someDescription"
              }
            ],
            "dimension": [],
            "dataStartFrom": "2020-09-30T00:00:00Z",
            "dataSourceType": "AzureBlob",
            "timestampColumn": "",
            "startOffsetInSeconds": 0,
            "maxQueryPerMinute": 30.0,
            "granularityName": "Daily",
            "granularityAmount": null,
            "allUpIdentification": null,
            "needRollup": "NoRollup",
            "fillMissingPointType": "PreviousValue",
            "fillMissingPointValue": 0.0,
            "rollUpMethod": "None",
            "rollUpColumns": [],
            "dataFeedDescription": "my feed description",
            "stopRetryAfterInSeconds": -1,
            "minRetryIntervalInSeconds": -1,
            "maxConcurrency": -1,
            "viewMode": "Private",
            "admins": [
              "foo@contoso.com"
            ],
            "viewers": [],
            "creator": "foo@contoso.com",
            "status": "Active",
            "createdTime": "2020-09-30T22:43:51Z",
            "isAdmin": true,
            "actionLinkTemplate": "",
            "dataSourceParameter": {
              "container": "foo",
              "connectionString": "Sanitized",
              "blobTemplate": "template"
            }
          }
        ],
        "@nextLink": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/dataFeeds?$top=1\u0026$skip=1"
      }
    },
[...]
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "NamebN2ov5kz",
        "metricId": "6b3c22b6-431f-4071-95de-ee55501b4b68",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 42,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 67
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 23,
            "upperBound": 45,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 50
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 12,
            "shiftPoint": 5,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/8c35733c-ecb6-4c6b-9f15-51aeeb5ed6c3"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "test8DS005qN",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "0b253fd8-27f2-4a3e-8e56-58c0c5f91fc8",
            "anomalyScopeType": "TopN",
            "dimensionAnomalyScope": {
              "dimension": {
                "test": "test2"
              }
            },
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/7c16a872-9bff-486f-9f4e-c5e25e933a31"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/7c16a872-9bff-486f-9f4e-c5e25e933a31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "7c16a872-9bff-486f-9f4e-c5e25e933a31",
        "name": "test8DS005qN",
        "description": "",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "0b253fd8-27f2-4a3e-8e56-58c0c5f91fc8",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/0b253fd8-27f2-4a3e-8e56-58c0c5f91fc8/alert/anomaly/configurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyAlertingConfigurationId": "7c16a872-9bff-486f-9f4e-c5e25e933a31",
            "name": "test8DS005qN",
            "description": "",
            "hookIds": [],
            "metricAlertingConfigurations": [
              {
                "anomalyDetectionConfigurationId": "0b253fd8-27f2-4a3e-8e56-58c0c5f91fc8",
                "anomalyScopeType": "TopN",
                "negationOperation": false,
                "topNAnomalyScope": {
                  "top": 8,
                  "period": 4,
                  "minTopCount": 2
                }
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/7c16a872-9bff-486f-9f4e-c5e25e933a31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "test8DS005qN",
        "description": "Updated",
        "crossMetricsOperator": "AND",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "0b253fd8-27f2-4a3e-8e56-58c0c5f91fc8",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/7c16a872-9bff-486f-9f4e-c5e25e933a31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "848324583"
  }
}