{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "d9bb5d8a-4ade-4b41-a912-a3f82ee93c14",
            "dataFeedName": "SqlServerDatafeed",
            "metrics": [
              {
                "metricId": "81582df6-0272-40bf-994d-eb497b74d13b",
                "metricName": "cost",
                "metricDisplayName": "cost",
                "metricDescription": ""
              },
              {
                "metricId": "507eaf33-3a65-4664-a7d6-5cdcc2dda6ff",
                "metricName": "revenue",
                "metricDisplayName": "revenue",
                "metricDescription": ""
              }
            ],
            "dimension": [
              {
                "dimensionName": "category",
                "dimensionDisplayName": "category"
              },
              {
                "dimensionName": "city",
                "dimensionDisplayName": "city"
              }
            ],
            "dataStartFrom": "2020-08-11T00:00:00Z",
            "dataSourceType": "SqlServer",
            "timestampColumn": "timestamp",
            "startOffsetInSeconds": 0,
            "maxQueryPerMinute": 30.0,
            "granularityName": "Daily",
            "granularityAmount": null,
            "allUpIdentification": "__SUM__",
            "needRollup": "NeedRollup",
            "fillMissingPointType": "SmartFilling",
            "fillMissingPointValue": 0.0,
            "rollUpMethod": "Sum",
            "rollUpColumns": [],
            "dataFeedDescription": "",
            "stopRetryAfterInSeconds": -1,
            "minRetryIntervalInSeconds": -1,
            "maxConcurrency": -1,
            "viewMode": "Private",
            "admins": [
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com"
            ],
            "viewers": [],
            "creator": "foo@contoso.com",
            "status": "Active",
            "createdTime": "2020-10-16T17:35:24Z",
            "isAdmin": true,
            "actionLinkTemplate": "",
            "dataSourceParameter": {
              "connectionString": "Sanitized",
              "query": "select * from adsample2 where Timestamp = @StartTime"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/dataFeeds?$top=1\u0026$skip=1"
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "NameQxRrjnPc",
        "metricId": "81582df6-0272-40bf-994d-eb497b74d13b",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 42,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 67
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 23,
            "upperBound": 45,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 50
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 12,
            "shiftPoint": 5,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/eb298315-3d08-4c49-97f4-ab116458055e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "testpTcyfRrH",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "eb298315-3d08-4c49-97f4-ab116458055e",
            "anomalyScopeType": "TopN",
            "dimensionAnomalyScope": {
              "dimension": {
                "test": "test2"
              }
            },
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a0e2b37c-903a-4758-88fa-6bacffb06e66"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a0e2b37c-903a-4758-88fa-6bacffb06e66",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyAlertingConfigurationId": "a0e2b37c-903a-4758-88fa-6bacffb06e66",
        "name": "testpTcyfRrH",
        "description": "",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "eb298315-3d08-4c49-97f4-ab116458055e",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/eb298315-3d08-4c49-97f4-ab116458055e/alert/anomaly/configurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyAlertingConfigurationId": "a0e2b37c-903a-4758-88fa-6bacffb06e66",
            "name": "testpTcyfRrH",
            "description": "",
            "hookIds": [],
            "metricAlertingConfigurations": [
              {
                "anomalyDetectionConfigurationId": "eb298315-3d08-4c49-97f4-ab116458055e",
                "anomalyScopeType": "TopN",
                "negationOperation": false,
                "topNAnomalyScope": {
                  "top": 8,
                  "period": 4,
                  "minTopCount": 2
                }
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a0e2b37c-903a-4758-88fa-6bacffb06e66",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "testpTcyfRrH",
        "description": "Updated",
        "crossMetricsOperator": "AND",
        "hookIds": [],
        "metricAlertingConfigurations": [
          {
            "anomalyDetectionConfigurationId": "eb298315-3d08-4c49-97f4-ab116458055e",
            "anomalyScopeType": "TopN",
            "negationOperation": false,
            "topNAnomalyScope": {
              "top": 8,
              "period": 4,
              "minTopCount": 2
            }
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/alert/anomaly/configurations/a0e2b37c-903a-4758-88fa-6bacffb06e66",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "848285796"
  }
}