{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "container": "foo",
          "blobTemplate": "template"
        },
        "dataSourceType": "AzureBlob",
        "dataFeedName": "testLtg3HvAE",
        "dataFeedDescription": "my feed description",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "someMetricName",
            "metricDisplayName": "someMetricDisplayName",
            "metricDescription": "someDescription"
          }
        ],
        "dataStartFrom": "2020-09-29T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f4bdd4b0-858d-4565-9ca5-23b4aed8aef3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/f4bdd4b0-858d-4565-9ca5-23b4aed8aef3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-09-29T18:42:22.2298735-05:00",
    "METRICSADVISOR_ACCOUNT_NAME": "anuchan-cg-metric-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1694694471"
  }
}