{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "container": "foo",
          "blobTemplate": "template"
        },
        "dataSourceType": "AzureBlob",
        "dataFeedName": "testBUIyQFO5",
        "dataFeedDescription": "my feed description",
        "granularityName": "Daily",
        "metrics": [
          {
            "metricName": "someMetricName",
            "metricDisplayName": "someMetricDisplayName",
            "metricDescription": "someDescription"
          }
        ],
        "dataStartFrom": "2020-10-28T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2ef373e3-5aba-421f-8aff-7bd4cd55fd9d"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2ef373e3-5aba-421f-8aff-7bd4cd55fd9d",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "dataSourceParameter": {
          "connectionString": "Sanitized",
          "container": "foo",
          "blobTemplate": "template"
        },
        "dataSourceType": "AzureBlob",
        "dataFeedName": "testBUIyQFO5",
        "dataFeedDescription": "descU17vAWN9",
        "dataStartFrom": "2020-10-28T00:00:00Z",
        "viewMode": null,
        "status": null
      },
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds/2ef373e3-5aba-421f-8aff-7bd4cd55fd9d",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2020-10-28T11:40:18.2937184-07:00",
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_PRIMARY_STORAGE_ACCOUNT_KEY": "Kg==",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1864362231"
  }
}