{
  "Entries": [
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "0072a752-1476-4cfa-8cf0-f226995201a0",
            "dataFeedName": "testElasticsearchDataFeed",
            "metrics": [
              {
                "metricId": "04f6e969-2302-412e-98b2-8c41e3a0e22e",
                "metricName": "Metric1",
                "metricDisplayName": "Metric1",
                "metricDescription": ""
              },
              {
                "metricId": "4e5ea50b-d983-4d91-bc00-f9630941fd2d",
                "metricName": "Metric2",
                "metricDisplayName": "Metric2",
                "metricDescription": ""
              }
            ],
            "dimension": [
              {
                "dimensionName": "Dim1",
                "dimensionDisplayName": "Dim1"
              },
              {
                "dimensionName": "Dim2",
                "dimensionDisplayName": "Dim2"
              }
            ],
            "dataStartFrom": "2020-08-09T00:00:00Z",
            "dataSourceType": "Elasticsearch",
            "timestampColumn": "Timestamp",
            "startOffsetInSeconds": 0,
            "maxQueryPerMinute": 30.0,
            "granularityName": "Daily",
            "granularityAmount": null,
            "allUpIdentification": null,
            "needRollup": "NoRollup",
            "fillMissingPointType": "SmartFilling",
            "fillMissingPointValue": 0.0,
            "rollUpMethod": "None",
            "rollUpColumns": [],
            "dataFeedDescription": "",
            "stopRetryAfterInSeconds": -1,
            "minRetryIntervalInSeconds": -1,
            "maxConcurrency": -1,
            "viewMode": "Private",
            "admins": [
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com"
            ],
            "viewers": [],
            "creator": "foo@contoso.com",
            "status": "Active",
            "createdTime": "2020-09-25T00:58:52Z",
            "isAdmin": true,
            "actionLinkTemplate": "",
            "dataSourceParameter": {
              "authHeader": "Sanitized",
              "port": "9200",
              "query": "select * from adsample where timestamp = @StartTime",
              "host": "ad-sample-es.westus2.cloudapp.azure.com"
            }
          },
          {
            "dataFeedId": "4957a2f7-a0f4-4fc0-b8d7-d866c1df0f4c",
            "dataFeedName": "testDataFeed1",
            "metrics": [
              {
                "metricId": "3d48ed3e-6e6e-4391-b78f-b00dfee1e6f5",
                "metricName": "Metric1",
                "metricDisplayName": "Metric1",
                "metricDescription": ""
              },
              {
                "metricId": "6b593f7[...]
    {
      "RequestUri": "https://anuchan-cg-metric-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=2\u0026$skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
          [...]
