{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/metrics/27e3015f-04fd-44ba-a20b-bc529a0aebae/enrichment/anomalyDetection/configurations",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "anomalyDetectionConfigurationId": "e17f32d4-3ddf-4dc7-84ee-b4130c7e1777",
            "name": "detection-config",
            "description": "",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "wholeMetricConfiguration": {
              "smartDetectionCondition": {
                "sensitivity": 100.0,
                "anomalyDetectorDirection": "Both",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          },
          {
            "anomalyDetectionConfigurationId": "fb5a6ed6-2b9e-4b72-8b0c-0046ead1c15c",
            "name": "Default",
            "description": "",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "wholeMetricConfiguration": {
              "smartDetectionCondition": {
                "sensitivity": 100.0,
                "anomalyDetectorDirection": "Both",
                "suppressCondition": {
                  "minNumber": 1,
                  "minRatio": 100.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          },
          {
            "anomalyDetectionConfigurationId": "10240200-6f3a-4783-b8e4-e7b34a3973d6",
            "name": "my_detection_config",
            "description": "anomaly detection config for metric",
            "metricId": "27e3015f-04fd-44ba-a20b-bc529a0aebae",
            "wholeMetricConfiguration": {
              "conditionOperator": "OR",
              "smartDetectionCondition": {
                "sensitivity": 10.0,
                "anomalyDetectorDirection": "Up",
                "suppressCondition": {
                  "minNumber": 2,
                  "minRatio": 2.0
                }
              },
              "hardThresholdCondition": {
                "upperBound": 100.0,
                "anomalyDetectorDirection": "Up",
                "suppressCondition": {
                  "minNumber": 2,
                  "minRatio": 2.0
                }
              },
              "changeThresholdCondition": {
                "changePercentage": 20.0,
                "shiftPoint": 10,
                "anomalyDetectorDirection": "Both",
                "withinRange": true,
                "suppressCondition": {
                  "minNumber": 5,
                  "minRatio": 2.0
                }
              }
            },
            "dimensionGroupOverrideConfigurations": [],
            "seriesOverrideConfigurations": []
          }
        ]
      }
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "88212133"
  }
}