{
  "Entries": [
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/dataFeeds?$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "dataFeedId": "d9bb5d8a-4ade-4b41-a912-a3f82ee93c14",
            "dataFeedName": "SqlServerDatafeed",
            "metrics": [
              {
                "metricId": "81582df6-0272-40bf-994d-eb497b74d13b",
                "metricName": "cost",
                "metricDisplayName": "cost",
                "metricDescription": ""
              },
              {
                "metricId": "507eaf33-3a65-4664-a7d6-5cdcc2dda6ff",
                "metricName": "revenue",
                "metricDisplayName": "revenue",
                "metricDescription": ""
              }
            ],
            "dimension": [
              {
                "dimensionName": "category",
                "dimensionDisplayName": "category"
              },
              {
                "dimensionName": "city",
                "dimensionDisplayName": "city"
              }
            ],
            "dataStartFrom": "2020-08-11T00:00:00Z",
            "dataSourceType": "SqlServer",
            "timestampColumn": "timestamp",
            "startOffsetInSeconds": 0,
            "maxQueryPerMinute": 30.0,
            "granularityName": "Daily",
            "granularityAmount": null,
            "allUpIdentification": "__SUM__",
            "needRollup": "NeedRollup",
            "fillMissingPointType": "SmartFilling",
            "fillMissingPointValue": 0.0,
            "rollUpMethod": "Sum",
            "rollUpColumns": [],
            "dataFeedDescription": "",
            "stopRetryAfterInSeconds": -1,
            "minRetryIntervalInSeconds": -1,
            "maxConcurrency": -1,
            "viewMode": "Private",
            "admins": [
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com",
              "foo@contoso.com"
            ],
            "viewers": [],
            "creator": "foo@contoso.com",
            "status": "Active",
            "createdTime": "2020-10-16T17:35:24Z",
            "isAdmin": true,
            "actionLinkTemplate": "",
            "dataSourceParameter": {
              "connectionString": "Sanitized",
              "query": "select * from adsample2 where Timestamp = @StartTime"
            }
          }
        ],
        "@nextLink": "https://js-metrics-advisor.cognitiveservices.azure.com:443/metricsadvisor/v1.0/dataFeeds?$top=1\u0026$skip=1"
      }
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": {
        "name": "NameYOv5NiD8",
        "metricId": "81582df6-0272-40bf-994d-eb497b74d13b",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 42,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 67
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 23,
            "upperBound": 45,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 50
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 12,
            "shiftPoint": 5,
            "withinRange": true,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Location": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b1f350e1-e808-407c-84ae-8910d5b909f3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b1f350e1-e808-407c-84ae-8910d5b909f3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "anomalyDetectionConfigurationId": "b1f350e1-e808-407c-84ae-8910d5b909f3",
        "name": "NameYOv5NiD8",
        "description": "",
        "metricId": "81582df6-0272-40bf-994d-eb497b74d13b",
        "wholeMetricConfiguration": {
          "conditionOperator": "AND",
          "smartDetectionCondition": {
            "sensitivity": 42.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 67.0
            }
          },
          "hardThresholdCondition": {
            "lowerBound": 23.0,
            "upperBound": 45.0,
            "anomalyDetectorDirection": "Both",
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 50.0
            }
          },
          "changeThresholdCondition": {
            "changePercentage": 12.0,
            "shiftPoint": 5,
            "anomalyDetectorDirection": "Both",
            "withinRange": true,
            "suppressCondition": {
              "minNumber": 1,
              "minRatio": 1.0
            }
          }
        },
        "dimensionGroupOverrideConfigurations": [],
        "seriesOverrideConfigurations": []
      }
    },
[...]
    {
      "RequestUri": "https://js-metrics-advisor.cognitiveservices.azure.com/metricsadvisor/v1.0/enrichment/anomalyDetection/configurations/b1f350e1-e808-407c-84ae-8910d5b909f3",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized",
        "x-api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "METRICSADVISOR_ACCOUNT_NAME": "js-metrics-advisor",
    "METRICSADVISOR_ENDPOINT_SUFFIX": null,
    "METRICSADVISOR_PRIMARY_API_KEY": "Sanitized",
    "METRICSADVISOR_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "667423799"
  }
}