{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus2euap/sharedGalleries/97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetGallery3Min;349,Microsoft.Compute/GetGallery30Min;2499"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {},\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"name\": \"97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\",\r\n  \"identifier\": {\r\n    \"uniqueId\": \"/SharedGalleries/97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus2euap/sharedGalleries?api-version=2022-08-03&sharedTo=tenant",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListGallery3Min;149,Microsoft.Compute/ListGallery30Min;999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"cd394747-7701-4062-a28e-6e3804c8f71d-AURORACONCURRENCYGALLERY\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/cd394747-7701-4062-a28e-6e3804c8f71d-AURORACONCURRENCYGALLERY\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"CblMariner.1P.Canary\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/CblMariner.1P.Canary\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"WindowsServer.1P.Canary\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/WindowsServer.1P.Canary\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"WindowsServer.DotNet.1P.Canary\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/WindowsServer.DotNet.1P.Canary\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/providers/Microsoft.Compute/locations/eastus2euap/sharedGalleries?api-version=2022-08-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListGallery3Min;148,Microsoft.Compute/ListGallery30Min;998"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"name\": \"97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\",\r\n      \"identifier\": {\r\n        \"uniqueId\": \"/SharedGalleries/97f78232-382b-46a7-8a72-964d692c4f3f-LONGLIVEGALLERYFOJNVV\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e37510d7-33b6-4676-886f-ee75bcc01871"
  }
}