{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/vmSizes?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetSubscriptionInfo3Min;358",
        "x-ms-ratelimit-remaining-subscription-reads": "11827"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022name\u0022: \u0022Standard_NV6\u0022,\r\n",
        "      \u0022numberOfCores\u0022: 6,\r\n",
        "      \u0022osDiskSizeInMB\u0022: 1047552,\r\n",
        "      \u0022resourceDiskSizeInMB\u0022: 389120,\r\n",
        "      \u0022memoryInMB\u0022: 57344,\r\n",
        "      \u0022maxDataDiskCount\u0022: 24\r\n",
        "    },\r\n",
        "    {\r\n",
        "      \u0022name\u0022: \u[...]
