{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testRG-2936?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936",
        "name": "testRG-2936",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "autoStorage": {
            "storageAccountId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/AutoRestResources2/providers/Microsoft.Storage/storageAccounts/20220725datafactory"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/operationResults/104a79e6-980d-4cc8-9d58-b470e5a6cedc?api-version=2022-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/operationResults/104a79e6-980d-4cc8-9d58-b470e5a6cedc?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/operationResults/104a79e6-980d-4cc8-9d58-b470e5a6cedc?api-version=2022-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testRG-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/operationResults/104a79e6-980d-4cc8-9d58-b470e5a6cedc?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220x8DA8FD08C19152D\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 06:25:09 GMT",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151",
        "name": "testaccount7151",
        "type": "Microsoft.Batch/batchAccounts",
        "location": "westus",
        "properties": {
          "accountEndpoint": "testaccount7151.westus.batch.azure.com",
          "provisioningState": "Succeeded",
          "dedicatedCoreQuota": 0,
          "dedicatedCoreQuotaPerVMFamily": [
            {
              "name": "standardAv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardEv3Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv2Family",
              "coreQuota": 0
            },
            {
              "name": "standardDSv3Family",
              "core[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/applications/Application-4462?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00220x8DA8FD08CAFBDE7\u0022",
        "Last-Modified": "Tue, 06 Sep 2022 06:25:10 GMT",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "type": "Microsoft.Batch/batchAccounts/applications",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/applications/Application-4462",
        "name": "Application-4462",
        "etag": "W/\u00220x8DA8FD08CAFBDE7\u0022",
        "properties": {
          "displayName": "displayName",
          "allowUpdates": true
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/applications?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.Batch/batchAccounts/applications",
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/applications/Application-1889",
            "name": "Application-1889",
            "etag": "W/\u00220x8DA8FD08DDA07CF\u0022",
            "properties": {
              "displayName": "displayName",
              "allowUpdates": true
            }
          },
    [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testrg-2936/providers/Microsoft.Batch/batchAccounts/testaccount7151/applications/Application-44621?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "error": {
          "code": "ApplicationNotFound",
          "message": "The specified application does not exist.\nRequestId:dad0465d-ca1c-41ce-940b-43762c68e00a\nTime:2022-09-06T06:25:14.8469013Z",
          "target": "BatchAccount"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1550239535",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
