{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/dependencies?timespan=P1D&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "application/json; charset=utf-8; ieee754compatible=false; odata.metadata=none; odata.streaming=false"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#dependencies\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"ada132b8-c041-11e8-bbc3-011041bbe785\",\r\n      \"count\": 1,\r\n      \"type\": \"dependency\",\r\n      \"timestamp\": \"2018-09-24T21:34:29.702Z\",\r\n      \"customDimensions\": {\r\n        \"_MS.ProcessedByMetricExtractors\": \"(Name:'Dependencies', Ver:'1.1')\"\r\n      },\r\n      \"customMeasurements\": null,\r\n      \"operation\": {\r\n        \"name\": \"GET Home/Index\",\r\n        \"id\": \"6000ffc23f944f38ba77de6ab3f04e91\",\r\n        \"parentId\": \"|6000ffc23f944f38ba77de6ab3f04e91.0.84dd66e7_\",\r\n        \"syntheticSource\": \"Application Insights Availability Monitoring\"\r\n      },\r\n      \"session\": {\r\n        \"id\": \"6000ffc23f944f38ba77de6ab3f04e91\"\r\n      },\r\n      \"user\": {\r\n        \"id\": \"us-fl-mia-edge_6000ffc23f944f38ba77de6ab3f04e91\",\r\n        \"accountId\": \"\",\r\n        \"authenticatedId\": \"\"\r\n      },\r\n      \"cloud\": {\r\n        \"roleName\": \"fabrikamfiberapp\",\r\n        \"roleInstance\": \"RD00155D467AF0\"\r\n      },\r\n      \"ai\": {\r\n        \"iKey\": \"5a2e4e0c-e136-4a15-9824-90ba859b0a89\",\r\n        \"appName\": \"fabrikamprod\",\r\n        \"appId\": \"cf58dcfd-0683-487c-bc84-048789bca8e5\",\r\n        \"sdkVersion\": \"rddp:2.7.0-10498\"\r\n      },\r\n      \"dependency\": {\r\n        \"target\": \"tcp:fabrikamxyz.database.windows.net,1433 | FabrikamlSQL\",\r\n        \"data\": \"SELECT \\r\\n    [Extent1].[ID] AS [ID], \\r\\n    [Extent1].[Title] AS [Title], \\r\\n    [Extent1].[Description] AS [Description], \\r\\n    [Extent1].[Status] AS [Status], \\r\\n    [Extent1].[StatusValue] AS [StatusValue], \\r\\n    [Extent1].[EscalationLevel] AS [EscalationLevel], \\r\\n    [Extent1].[Opened] AS [Opened], \\r\\n    [Extent1].[Closed] AS [Closed], \\r\\n    [Extent1].[CustomerID] AS [CustomerID], \\r\\n    [Extent1].[CreatedByID] AS [CreatedByID], \\r\\n    [Extent1].[Ass[...]
    {
      "RequestUri": "/v1/apps/DEMO_APP/events/dependencies/ada132b8-c041-11e8-bbc3-011041bbe785?timespan=P1D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0;"
        ],
        "Content-Type": [
          "appli[...]
