{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "id": "/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "f100532e-a283-4523-8ff6-a8cebadb6e9d",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASE_Ordering_IDC_testBVT",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/f100532e-a283-4523-8ff6-a8cebadb6e9d/providers/Microsoft.EdgeOrder/listConfigurations?api-version=2021-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "configurationFilters": [
          {
            "hierarchyInformation": {
              "productFamilyName": "AzureStackEdge",
              "productLineName": "AzureStackEdge",
              "productName": "AzureStackEdgeGPU",
              "configurationName": "EdgeP_Base"
            },
            "filterableProperty": [
              {
                "type": "ShipToCountries",
                "supportedValues": [
                  "US"
                ]
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022value\u0022: [\r\n",
        "    {\r\n",
        "      \u0022properties\u0022: {\r\n",
        "        \u0022specifications\u0022: [\r\n",
        "   [...]
