{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/sanitized/providers/Microsoft.EdgeOrder/listProductFamilies?api-version=2020-12-01-preview\u0026$expand=configurations",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filterableProperties": {
          "azurestackedge": [
            {
              "type": "ShipToCountries",
              "supportedValues": [
                "US"
              ]
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "productLines": [
                {
                  "properties": {
                    "products": [
                      {
                        "properties": {
                          "configurations": [
                            {
                              "properties": {
                                "specifications": [
                                  {
                                    "name": "Usable compute",
                                    "value": "40 vCPU"
                                  },
                                  {
                                    "name": "Usable memory",
                                    "value": "102 GB"
                                  },
                                  {
                                    "name": "Usable storage",
                                    "value": "4.2 TB"
                                  }
                                ],
                                "dimensions": {
                                  "length": 50.0,
                                  "height": 15.0,
                                  "width": 5.0,
                                  "lengthHeightUnit": "IN",
                                  "weight": 50.0,
                                  "depth": 2.0,
                                  "weightUnit": "LBS"
                                },
                                "filterableProperties": [
                                  {
                                    "type": "ShipToCountries",
                                    "supportedValues": [
                                      "US"
                                    ]
                                  }
                                ],
                                "displayName": "Azure Stack Edge Pro - 1 GPU",
                                "description": {
                                  "descriptionType": "Base",
                                  "shortDescription": "",
                                  "longDescription": "",
                                  "keywords": [
                                    "GPU"
                                  ],
                                  "attributes": [],
                                  "links": []
                                },
                                "imageInformation": [],
                                "costInformation": {
                                  "billingMeterDetails": [
                                    {
                                      "name": "RentalFee",
                                      "meterDetails": {
                                        "meterGuid": "91edd360-e07c-5529-a0fd-99f30b20cf21",
                                        "billingType": "Pav2",
                                        "multiplier": 1.0,
                                        "chargingType": "PerOrder"
                                      },
                                      "meteringType": "Recurring",
                                      "frequency": "P1D"
                                    },
                                    {
                                      "name": "ShippingFee",
                                      "meterDetails": {
                                        "meterGuid": "97b0cf84-c662-567c-bcbb-4158fa54ccc9",
                                        "billingType": "Pav2",
                                        "multiplier": 1.0,
                                        "chargingType": "PerOrder"
                 [...]
