// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Consumption
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Collections;
    using System.Collections.Generic;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// ReservationRecommendationsOperations operations.
    /// </summary>
    public partial interface IReservationRecommendationsOperations
    {
        /// <summary>
        /// List of recommendations for purchasing reserved instances.
        /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
        /// </summary>
        /// <param name='scope'>
        /// The scope associated with reservation recommendations operations.
        /// This includes '/subscriptions/{subscriptionId}/' for subscription
        /// scope,
        /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
        /// for resource group scope,
        /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
        /// for BillingAccount scope, and
        /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
        /// for billingProfile scope
        /// </param>
        /// <param name='filter'>
        /// May be used to filter reservationRecommendations by:
        /// properties/scope with allowed values ['Single', 'Shared'] and
        /// default value 'Single'; properties/resourceType with allowed values
        /// ['VirtualMachines', 'SQLDatabases', 'PostgreSQL', 'ManagedDisk',
        /// 'MySQL', 'RedHat', 'MariaDB', 'RedisCache', 'CosmosDB',
        /// 'SqlDataWarehouse', 'SUSELinux', 'AppService', 'BlockBlob',
        /// 'AzureDataExplorer', 'VMwareCloudSimple'] and default value
        /// 'VirtualMachines'; and properties/lookBackPeriod with allowed
        /// values ['Last7Days', 'Last30Days', 'Last60Days'] and default value
        /// 'Last7Days'.
        /// </param>
        /// <param name='customHeaders'>
        /// The headers that will be added to request.
        /// </param>
        /// <param name='cancellationToken'>
        /// The cancellation token.
        /// </param>
        /// <exception cref="ErrorResponseException">
        /// Thrown when the operation returned an invalid status code
        /// </exception>
        /// <exception cref="Microsoft.Rest.SerializationException">
        /// Thrown when unable to deserialize the response
        /// </exception>
        /// <exception cref="Microsoft.Rest.ValidationException">
        /// Thrown when a required parameter is null
        /// </exception>
        Task<AzureOperationResponse<IPage<ReservationRecommendation>>> ListWithHttpMessagesAsync(string scope, string filter = default(string), Dictionary<string, List<string>> customHeaders = null, CancellationToken cancellationToken = default(CancellationToken));
        /// <summary>
        /// List of recommendations for purchasing reserved instances.
        /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
        /// </summary>
        /// <param name='nextPageLink'>
        /// The NextLink from the previous successful call to List operation.
        /// </param>
        /// <param name='customHeaders'>
        /// The headers that will be added to request.
        /// </param>
        /// <param name='cancellationToken'>
        /// The cancellation token.
        /// </param>
        /// <exception cref="ErrorResponseException">
        /// Thrown when the operation returned an invalid status code
        /// </exception>
        /// <exception cref="Microsoft.Rest.SerializationException">
        /// Thrown when unable to deserialize the response
        /// </exception>
        /// <exception cref="Microsoft.Rest.ValidationException">
        /// Thrown when a required parameter is null
        /// </exception>
        Task<AzureOperationResponse<IPage<ReservationRecommendation>>> ListNextWithHttpMessagesAsync(string nextPageLink, Dictionary<string, List<string>> customHeaders = null, CancellationToken cancellationToken = default(CancellationToken));
    }
}
