// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Consumption
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Collections;
    using System.Collections.Generic;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// ReservationRecommendationDetailsOperations operations.
    /// </summary>
    public partial interface IReservationRecommendationDetailsOperations
    {
        /// <summary>
        /// Details of a reservation recommendation for what-if analysis of
        /// reserved instances.
        /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
        /// </summary>
        /// <param name='scope'>
        /// The scope associated with reservation recommendation details
        /// operations. This includes '/subscriptions/{subscriptionId}/' for
        /// subscription scope,
        /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
        /// for resource group scope,
        /// /providers/Microsoft.Billing/billingAccounts/{billingAccountId}'
        /// for BillingAccount scope, and
        /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
        /// for billingProfile scope
        /// </param>
        /// <param name='scope1'>
        /// Scope of the reservation. Possible values include: 'Single',
        /// 'Shared'
        /// </param>
        /// <param name='region'>
        /// Used to select the region the recommendation should be generated
        /// for.
        /// </param>
        /// <param name='term'>
        /// Specify length of reservation recommendation term. Possible values
        /// include: 'P1Y', 'P3Y'
        /// </param>
        /// <param name='lookBackPeriod'>
        /// Filter the time period on which reservation recommendation results
        /// are based. Possible values include: 'Last07Days', 'Last30Days',
        /// 'Last60Days'
        /// </param>
        /// <param name='product'>
        /// Filter the products for which reservation recommendation results
        /// are generated. Examples: Standard_DS1_v2 (for VM),
        /// Premium_SSD_Managed_Disks_P30 (for Managed Disks)
        /// </param>
        /// <param name='customHeaders'>
        /// The headers that will be added to request.
        /// </param>
        /// <param name='cancellationToken'>
        /// The cancellation token.
        /// </param>
        /// <exception cref="HighCasedErrorResponseException">
        /// Thrown when the operation returned an invalid status code
        /// </exception>
        /// <exception cref="Microsoft.Rest.SerializationException">
        /// Thrown when unable to deserialize the response
        /// </exception>
        /// <exception cref="Microsoft.Rest.ValidationException">
        /// Thrown when a required parameter is null
        /// </exception>
        Task<AzureOperationResponse<ReservationRecommendationDetailsModel>> GetWithHttpMessagesAsync(string scope, string scope1, string region, string term, string lookBackPeriod, string product, Dictionary<string, List<string>> customHeaders = null, CancellationToken cancellationToken = default(CancellationToken));
    }
}
