// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Consumption
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for ReservationRecommendationsOperations.
    /// </summary>
    public static partial class ReservationRecommendationsOperationsExtensions
    {
            /// <summary>
            /// List of recommendations for purchasing reserved instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope associated with reservation recommendations operations. This
            /// includes '/subscriptions/{subscriptionId}/' for subscription scope,
            /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
            /// resource group scope,
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
            /// BillingAccount scope, and
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
            /// for billingProfile scope
            /// </param>
            /// <param name='filter'>
            /// May be used to filter reservationRecommendations by: properties/scope with
            /// allowed values ['Single', 'Shared'] and default value 'Single';
            /// properties/resourceType with allowed values ['VirtualMachines',
            /// 'SQLDatabases', 'PostgreSQL', 'ManagedDisk', 'MySQL', 'RedHat', 'MariaDB',
            /// 'RedisCache', 'CosmosDB', 'SqlDataWarehouse', 'SUSELinux', 'AppService',
            /// 'BlockBlob', 'AzureDataExplorer', 'VMwareCloudSimple'] and default value
            /// 'VirtualMachines'; and properties/lookBackPeriod with allowed values
            /// ['Last7Days', 'Last30Days', 'Last60Days'] and default value 'Last7Days'.
            /// </param>
            public static IPage<ReservationRecommendation> List(this IReservationRecommendationsOperations operations, string scope, string filter = default(string))
            {
                return operations.ListAsync(scope, filter).GetAwaiter().GetResult();
            }

            /// <summary>
            /// List of recommendations for purchasing reserved instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope associated with reservation recommendations operations. This
            /// includes '/subscriptions/{subscriptionId}/' for subscription scope,
            /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
            /// resource group scope,
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
            /// BillingAccount scope, and
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
            /// for billingProfile scope
            /// </param>
            /// <param name='filter'>
            /// May be used to filter reservationRecommendations by: properties/scope with
            /// allowed values ['Single', 'Shared'] and default value 'Single';
            /// properties/resourceType with allowed values ['VirtualMachines',
            /// 'SQLDatabases', 'PostgreSQL', 'ManagedDisk', 'MySQL', 'RedHat', 'MariaDB',
            /// 'RedisCache', 'CosmosDB', 'SqlDataWarehouse', 'SUSELinux', 'AppService',
            /// 'BlockBlob', 'AzureDataExplorer', 'VMwareCloudSimple'] and default value
            /// 'VirtualMachines'; and properties/lookBackPeriod with allowed values
            /// ['Last7Days', 'Last30Days', 'Last60Days'] and default value 'Last7Days'.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<IPage<ReservationRecommendation>> ListAsync(this IReservationRecommendationsOperations operations, string scope, string filter = default(string), CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListWithHttpMessagesAsync(scope, filter, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

            /// <summary>
            /// List of recommendations for purchasing reserved instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='nextPageLink'>
            /// The NextLink from the previous successful call to List operation.
            /// </param>
            public static IPage<ReservationRecommendation> ListNext(this IReservationRecommendationsOperations operations, string nextPageLink)
            {
                return operations.ListNextAsync(nextPageLink).GetAwaiter().GetResult();
            }

            /// <summary>
            /// List of recommendations for purchasing reserved instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='nextPageLink'>
            /// The NextLink from the previous successful call to List operation.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<IPage<ReservationRecommendation>> ListNextAsync(this IReservationRecommendationsOperations operations, string nextPageLink, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListNextWithHttpMessagesAsync(nextPageLink, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
