// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Consumption
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for ReservationRecommendationDetailsOperations.
    /// </summary>
    public static partial class ReservationRecommendationDetailsOperationsExtensions
    {
            /// <summary>
            /// Details of a reservation recommendation for what-if analysis of reserved
            /// instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope associated with reservation recommendation details operations.
            /// This includes '/subscriptions/{subscriptionId}/' for subscription scope,
            /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
            /// resource group scope,
            /// /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
            /// BillingAccount scope, and
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
            /// for billingProfile scope
            /// </param>
            /// <param name='scope1'>
            /// Scope of the reservation. Possible values include: 'Single', 'Shared'
            /// </param>
            /// <param name='region'>
            /// Used to select the region the recommendation should be generated for.
            /// </param>
            /// <param name='term'>
            /// Specify length of reservation recommendation term. Possible values include:
            /// 'P1Y', 'P3Y'
            /// </param>
            /// <param name='lookBackPeriod'>
            /// Filter the time period on which reservation recommendation results are
            /// based. Possible values include: 'Last07Days', 'Last30Days', 'Last60Days'
            /// </param>
            /// <param name='product'>
            /// Filter the products for which reservation recommendation results are
            /// generated. Examples: Standard_DS1_v2 (for VM),
            /// Premium_SSD_Managed_Disks_P30 (for Managed Disks)
            /// </param>
            public static ReservationRecommendationDetailsModel Get(this IReservationRecommendationDetailsOperations operations, string scope, string scope1, string region, string term, string lookBackPeriod, string product)
            {
                return operations.GetAsync(scope, scope1, region, term, lookBackPeriod, product).GetAwaiter().GetResult();
            }

            /// <summary>
            /// Details of a reservation recommendation for what-if analysis of reserved
            /// instances.
            /// <see href="https://docs.microsoft.com/en-us/rest/api/consumption/" />
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='scope'>
            /// The scope associated with reservation recommendation details operations.
            /// This includes '/subscriptions/{subscriptionId}/' for subscription scope,
            /// '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
            /// resource group scope,
            /// /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for
            /// BillingAccount scope, and
            /// '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
            /// for billingProfile scope
            /// </param>
            /// <param name='scope1'>
            /// Scope of the reservation. Possible values include: 'Single', 'Shared'
            /// </param>
            /// <param name='region'>
            /// Used to select the region the recommendation should be generated for.
            /// </param>
            /// <param name='term'>
            /// Specify length of reservation recommendation term. Possible values include:
            /// 'P1Y', 'P3Y'
            /// </param>
            /// <param name='lookBackPeriod'>
            /// Filter the time period on which reservation recommendation results are
            /// based. Possible values include: 'Last07Days', 'Last30Days', 'Last60Days'
            /// </param>
            /// <param name='product'>
            /// Filter the products for which reservation recommendation results are
            /// generated. Examples: Standard_DS1_v2 (for VM),
            /// Premium_SSD_Managed_Disks_P30 (for Managed Disks)
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<ReservationRecommendationDetailsModel> GetAsync(this IReservationRecommendationDetailsOperations operations, string scope, string scope1, string region, string term, string lookBackPeriod, string product, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.GetWithHttpMessagesAsync(scope, scope1, region, term, lookBackPeriod, product, null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
