{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "A recent report by the Government Accountability Office found a dramatic increase in oil.",
              "language": "en"
            },
            {
              "id": "2",
              "text": "Un informe reciente de la Oficina de Responsabilidad del Gobierno encontr\u00F3 un aumento dram\u00E1tico en el petr\u00F3leo.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deployment-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/1755719f-25f8-493f-a7cb-76c9ceeea83e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/1755719f-25f8-493f-a7cb-76c9ceeea83e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "1755719f-25f8-493f-a7cb-76c9ceeea83e",
        "lastUpdateDateTime": "2021-09-27T11:25:11Z",
        "createdDateTime": "2021-09-27T11:25:11Z",
        "expirationDateTime": "2021-09-28T11:25:11Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/1755719f-25f8-493f-a7cb-76c9ceeea83e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "1755719f-25f8-493f-a7cb-76c9ceeea83e",
        "lastUpdateDateTime": "2021-09-27T11:25:12Z",
        "createdDateTime": "2021-09-27T11:25:11Z",
        "expirationDateTime": "2021-09-28T11:25:11Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customEntityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-09-27T11:25:12.6568537Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "recent",
                        "category": "object_select",
                        "offset": 2,
                        "length": 6,
                        "confidenceScore": 0.08
                      },
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length": 6,
                        "confidenceScore": 0.11
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "dramatic",
                        "category": "sort",
                        "offset": 64,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "oil",
                        "category": "music_item",
                        "offset": 85,
                        "length": 3,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "reciente",
                        "category": "object_select",
                        "offset": 11,
                        "length": 8,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Responsabilidad",
                        "category": "state",
 [...]
