{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Microsoft was founded by Bill Gates and Paul Allen.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            },
            {
              "id": "2",
              "text": "My cat might need to see a veterinarian.",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deployment-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/68fd322f-839f-435c-a342-ea6332d09e6f"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/68fd322f-839f-435c-a342-ea6332d09e6f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "68fd322f-839f-435c-a342-ea6332d09e6f",
        "lastUpdateDateTime": "2021-09-27T11:10:49Z",
        "createdDateTime": "2021-09-27T11:10:49Z",
        "expirationDateTime": "2021-09-28T11:10:49Z",
        "status": "notStarted",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1
        }
      }
    },
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze/jobs/68fd322f-839f-435c-a342-ea6332d09e6f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "68fd322f-839f-435c-a342-ea6332d09e6f",
        "lastUpdateDateTime": "2021-09-27T11:10:51Z",
        "createdDateTime": "2021-09-27T11:10:49Z",
        "expirationDateTime": "2021-09-28T11:10:49Z",
        "status": "succeeded",
        "errors": [],
        "displayName": "NA",
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customEntityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-09-27T11:10:51.0804247Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "Microsoft",
                        "category": "service",
                        "offset": 0,
                        "length": 9,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Bill Gates",
                        "category": "artist",
                        "offset": 25,
                        "length": 10,
                        "confidenceScore": 0.58
                      },
                      {
                        "text": "Paul Allen",
                        "category": "artist",
                        "offset": 40,
                        "length": 10,
                        "confidenceScore": 0.78
                      },
                      {
                        "text": "and",
                        "category": "party_size_description",
                        "offset": 36,
                        "length": 3,
                        "confidenceScore": 0.32
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "2",
                    "entities": [
                      {
                        "text": "cat",
                        "category": "current_location",
                        "offset": 3,
                        "length": 3,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "veterinarian",
                        "category": "facility",
                        "offset": 27,
                        "length": 12,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1044415089",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net",
    "TEXT_ANALYTICS_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
  }
}