{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office found a dramatic increase in oil.",
              "language": "en"
            },
            {
              "id": "1",
              "text": "Capital Call #20 for Berkshire Multifamily.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/37097fca-0fb8-4125-bd75-b5c94458e1c6?api-version=2022-05-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/37097fca-0fb8-4125-bd75-b5c94458e1c6?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "37097fca-0fb8-4125-bd75-b5c94458e1c6",
        "lastUpdatedDateTime": "2022-07-21T23:25:35Z",
        "createdDateTime": "2022-07-21T23:25:34Z",
        "expirationDateTime": "2022-07-22T23:25:34Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/37097fca-0fb8-4125-bd75-b5c94458e1c6?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "37097fca-0fb8-4125-bd75-b5c94458e1c6",
        "lastUpdatedDateTime": "2022-07-21T23:25:35Z",
        "createdDateTime": "2022-07-21T23:25:34Z",
        "expirationDateTime": "2022-07-22T23:25:34Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-07-21T23:25:35.3826319Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "recent",
                        "category": "object_select",
                        "offset": 2,
                        "length": 6,
                        "confidenceScore": 0.08
                      },
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length": 6,
                        "confidenceScore": 0.11
                      },
                      {
                        "text": "dramatic",
                        "category": "sort",
                        "offset": 64,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "oil",
                        "category": "music_item",
                        "offset": 85,
                        "length": 3,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  },
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "Berkshire Multifamily",
                        "category": "location_name",
                        "offset": 21,
                        "length": 21,
                        "confidenceScore": 0.46
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "288627942",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
