{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "A recent report by the Government Accountability Office found a dramatic increase in oil.",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d9f61871-bb78-4b1e-8393-acb20233d973?api-version=2022-10-01-preview",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d9f61871-bb78-4b1e-8393-acb20233d973?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "d9f61871-bb78-4b1e-8393-acb20233d973",
        "lastUpdateDateTime": "2022-10-24T20:42:22Z",
        "createdDateTime": "2022-10-24T20:42:22Z",
        "expirationDateTime": "2022-10-25T20:42:22Z",
        "status": "notStarted",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/d9f61871-bb78-4b1e-8393-acb20233d973?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "d9f61871-bb78-4b1e-8393-acb20233d973",
        "lastUpdateDateTime": "2022-10-24T20:42:22Z",
        "createdDateTime": "2022-10-24T20:42:22Z",
        "expirationDateTime": "2022-10-25T20:42:22Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-10-24T20:42:22.9719929Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "entities": [
                      {
                        "text": "recent",
                        "category": "object_select",
                        "offset": 2,
                        "length": 6,
                        "confidenceScore": 0.08
                      },
                      {
                        "text": "Government",
                        "category": "restaurant_name",
                        "offset": 23,
                        "length": 10,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Accountability",
                        "category": "geographic_poi",
                        "offset": 34,
                        "length": 14,
                        "confidenceScore": 0.07
                      },
                      {
                        "text": "Office",
                        "category": "restaurant_name",
                        "offset": 49,
                        "length": 6,
                        "confidenceScore": 0.11
                      },
                      {
                        "text": "dramatic",
                        "category": "sort",
                        "offset": 64,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "oil",
                        "category": "music_item",
                        "offset": 85,
                        "length": 3,
                        "confidenceScore": 0.06
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1217425695",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
