{
  "Entries": [
    {
      "RequestUri": "https://cognitiveweppe.azure-api.net/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": null,
              "text": "Hello world",
              "language": "en"
            }
          ]
        },
        "tasks": {
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deployment-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Invalid document in request.",
          "innererror": {
            "code": "InvalidDocument",
            "message": "At least one document is missing an Id attribute."
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1937417632",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_ENDPOINT": "https://cognitiveweppe.azure-api.net",
    "TEXT_ANALYTICS_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
  }
}