{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Un informe reciente de la Oficina de Responsabilidad del Gobierno encontr\u00F3 un aumento dram\u00E1tico en el petr\u00F3leo.",
              "language": "es"
            }
          ]
        },
        "tasks": {
          "customEntityRecognitionTasks": [
            {
              "parameters": {
                "project-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deployment-name": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/707d0e21-be09-42a3-977e-745bc424f015"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/text/analytics/v3.2-preview.2/analyze/jobs/707d0e21-be09-42a3-977e-745bc424f015",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "707d0e21-be09-42a3-977e-745bc424f015",
        "lastUpdateDateTime": "2021-10-25T23:44:20Z",
        "createdDateTime": "2021-10-25T23:44:19Z",
        "expirationDateTime": "2021-10-26T23:44:19Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "customEntityRecognitionTasks": [
            {
              "lastUpdateDateTime": "2021-10-25T23:44:20.2739158Z",
              "state": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "reciente",
                        "category": "object_select",
                        "offset": 11,
                        "length": 8,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Responsabilidad",
                        "category": "state",
                        "offset": 37,
                        "length": 15,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "del",
                        "category": "restaurant_name",
                        "offset": 53,
                        "length": 3,
                        "confidenceScore": 0.06
                      },
                      {
                        "text": "Gobierno",
                        "category": "location_name",
                        "offset": 57,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "dram\u00E1tico",
                        "category": "sort",
                        "offset": 86,
                        "length": 9,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "petr\u00F3leo",
                        "category": "timeRange",
                        "offset": 102,
                        "length": 8,
                        "confidenceScore": 0.02
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "522932983",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}