{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2022-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "1",
              "text": "Un informe reciente de la Oficina de Responsabilidad del Gobierno encontr\u00F3 un aumento dram\u00E1tico en el petr\u00F3leo.",
              "language": "es"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
              "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
            },
            "kind": "CustomEntityRecognition"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f3b36b06-baef-4985-b2be-744bbfa353ad?api-version=2022-04-01-preview"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f3b36b06-baef-4985-b2be-744bbfa353ad?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f3b36b06-baef-4985-b2be-744bbfa353ad",
        "lastUpdateDateTime": "2022-05-13T19:22:48Z",
        "createdDateTime": "2022-05-13T19:22:48Z",
        "expirationDateTime": "2022-05-14T19:22:48Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/f3b36b06-baef-4985-b2be-744bbfa353ad?api-version=2022-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "jobId": "f3b36b06-baef-4985-b2be-744bbfa353ad",
        "lastUpdateDateTime": "2022-05-13T19:22:48Z",
        "createdDateTime": "2022-05-13T19:22:48Z",
        "expirationDateTime": "2022-05-14T19:22:48Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "CustomEntityRecognitionLROResults",
              "lastUpdateDateTime": "2022-05-13T19:22:48.9454718Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "1",
                    "entities": [
                      {
                        "text": "reciente",
                        "category": "object_select",
                        "offset": 11,
                        "length": 8,
                        "confidenceScore": 0.05
                      },
                      {
                        "text": "Responsabilidad",
                        "category": "state",
                        "offset": 37,
                        "length": 15,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "del",
                        "category": "restaurant_name",
                        "offset": 53,
                        "length": 3,
                        "confidenceScore": 0.06
                      },
                      {
                        "text": "Gobierno",
                        "category": "location_name",
                        "offset": 57,
                        "length": 8,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "dram\u00E1tico",
                        "category": "sort",
                        "offset": 86,
                        "length": 9,
                        "confidenceScore": 0.03
                      },
                      {
                        "text": "petr\u00F3leo",
                        "category": "timeRange",
                        "offset": 102,
                        "length": 8,
                        "confidenceScore": 0.02
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [],
                "projectName": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
                "deploymentName": "88ee0f78-fbca-444d-98e2-7c4c8631e494"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "420777404",
    "TEXTANALYTICS_CUSTOM_ENTITIES_DEPLOYMENT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXTANALYTICS_CUSTOM_ENTITIES_PROJECT_NAME": "88ee0f78-fbca-444d-98e2-7c4c8631e494",
    "TEXT_ANALYTICS_API_KEY": "Sanitized",
    "TEXT_ANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
