{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Insights/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Insights/Operations/Read\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Operations\",\r\n        \"operation\": \"Operations read\",\r\n        \"description\": \"Reading operations\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/MetricDefinitions/Read\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Metric Definitions\",\r\n        \"operation\": \"Metric definitions read\",\r\n        \"description\": \"Read metric definitions\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/Metrics/Read\",\r\n      \"[...]
