{
  "Entries": [
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-57bf7d0a-c370-4b14-2788-d02d51ada8b4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D92C5CE3158249\u0022",
        "Last-Modified": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-57bf7d0a-c370-4b14-2788-d02d51ada8b4/test-blob-0e27cc19-0a28-a7b8-2768-21bd0d32b26a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D92C5CE31BDF9A\u0022",
        "Last-Modified": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-08-04",
        "x-ms-version-id": "2021-06-10T22:12:50.8503962Z"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-57bf7d0a-c370-4b14-2788-d02d51ada8b4/test-blob-0e27cc19-0a28-a7b8-2768-21bd0d32b26a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": "qzY\u002Bbg3V8rI6mteZBanlEDPeiIZp5dSIvaa7c0vYaXcU1GOL2MU1X5QVkvuhXDhE5AqGRTb0xsZitbFnGn9mYjBfhDBGWTdtqSnxU1PY52Ftdo9BUiNBHw6cKSMUzUQVrzDLQdcH/orSGJwMAnJzis1P\u002BaPvJRAMHWQiqTAUWdvk3KQjDaWKZXcEbzmHNR2bKZ9VxdSgJYogviRy5VRavb7AJybOUHwoxJMs67XWhOdHhoCRvpMHRLcaAk\u002BBGIAjqbF6xw72zdkiLQFAdDnUSjk8Kl7Uyf8rueNvs00tpqsTCEEEW73ZULmmbpCSxs99RbgVRO4iTuCyTw0qhxmM9IZVLWv30O57YtmkLlpumPMT8W6UF2K98LphUQuwr8mfGnoKPJljhXXKm[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-57bf7d0a-c370-4b14-2788-d02d51ada8b4?restype=container\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2020-08-[...]
    {
      "RequestUri": "https://rnpstd.blob.core.windows.net/test-container-57bf7d0a-c370-4b14-2788-d02d51ada8b4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 10 Jun 2021 22:12:50 GMT",
        "x-ms-version": "2020-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2020-08-04"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "409958312",
    "Storage_TestConfigDefault": "ProductionTenant\nrnpstd\nU2FuaXRpemVk\nhttps://rnpstd.blob.core.windows.net\nhttps://rnpstd.file.core.windows.net\nhttps://rnpstd.queue.core.windows.net\nhttps://rnpstd.table.core.windows.net\n\n\n\n\nhttps://rnpstd-secondary.blob.core.windows.net\nhttps://rnpstd-secondary.file.core.windows.net\nhttps://rnpstd-secondary.queue.core.windows.net\nhttps://rnpstd-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://rnpstd.blob.core.windows.net/;QueueEndpoint=https://rnpstd.queue.core.windows.net/;FileEndpoint=https://rnpstd.file.core.windows.net/;BlobSecondaryEndpoint=https://rnpstd-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://rnpstd-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://rnpstd-secondary.file.core.windows.net/;AccountName=rnpstd;AccountKey=Kg==;\n[encryption scope]"
  }
}