{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2367173c-a5bd-4005-be8e-c882f160dcc4/providers/Microsoft.MarketplaceOrdering/offerTypes/virtualmachine/publishers/microsoft-ads/offers/windows-data-science-vm/plans/windows2016/agreements/current?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2367173c-a5bd-4005-be8e-c882f160dcc4/providers/Microsoft.MarketplaceOrdering/offertypes/microsoft-ads/offers/windows-data-science-vm/plans/windows2016\",\r\n  \"name\": \"windows2016\",\r\n  \"type\": \"Microsoft.MarketplaceOrdering/offertypes\",\r\n  \"properties\": {\r\n    \"publisher\": \"microsoft-ads\",\r\n    \"product\": \"windows-data-science-vm\",\r\n    \"plan\": \"windows2016\",\r\n    \"licenseTextLink\": \"https://106c4.wpc.azureedge.net/80106C4/Gallery-Prod/cdn/2015-02-24/prod20161101-microsoft-windowsazure-gallery/microsoft-ads.windows-data-science-vmwindows2016.1.0.2/Content/LegalTerms0.DEFAULT.txt\",\r\n    \"privacyPolicyLink\": \"https://www.microsoft.com/EN-US/privacystatement/OnlineServices/Default.aspx\",\r\n    \"retrieveDatetime\": \"2017-09-22T00:35:58.3133579Z\",\r\n    \"signature\": \"XOANNQQPPIZMQLGAKK5YBOHNZYBBE3QX6HXVTNFVEFE77ANGWONNAHGEDBM7ZCGLJYKBCRQEHQC2EY5VWRVPPYCYPVF7BE77PXO3AFI\",\r\n    \"accepted\": true\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "DataServiceVersion": [
          "5.2.1.309 (AzureUX-Store:master.9dbea9b4.170911-1246)"
        ]
      },
      "StatusCode": 200
    },
[...]
