{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11898"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/sdktest-60508111?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-22T14:27:07.3818099"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1178"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111",
        "name": "sdktest-60508111",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "DeleteAfter": "2023-06-22T14:27:07.3818099"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "inputSchemaMappingType": "Json",
            "properties": {
              "topic": {
                "sourceField": "myTopicField"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/89223A90-1E86-4891-AFAD-D12365748C58?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1177"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "minimumTlsVersionAllowed": "1.0",
          "endpoint": null,
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "properties": {
              "id": null,
              "topic": {
                "sourceField": "myTopicField"
              },
              "eventTime": null,
              "eventType": null,
              "subject": null,
              "dataVersion": null
            },
            "inputSchemaMappingType": "Json"
          }
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383",
        "name": "sdk-Domain-7383",
        "type": "Microsoft.EventGrid/domains"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/89223A90-1E86-4891-AFAD-D12365748C58?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11897"
      },
      "ResponseBody": {
        "id": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/89223A90-1E86-4891-AFAD-D12365748C58?api-version=2023-06-01-preview",
        "name": "89223a90-1e86-4891-afad-d12365748c58",
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11893"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "minimumTlsVersionAllowed": "1.0",
          "endpoint": "https://sdk-domain-7383.eastus2euap-1.eventgrid.azure.net/api/events",
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "properties": {
              "id": null,
              "topic": {
                "sourceField": "myTopicField"
              },
              "eventTime": null,
              "eventType": null,
              "subject": null,
              "dataVersion": null
            },
            "inputSchemaMappingType": "Json"
          },
          "metricResourceId": "d20cf0b8-7b91-49c0-b7a6-332103471290",
          "publicNetworkAccess": "Enabled",
          "dataResidencyBoundary": "WithinGeopair"
        },
        "sku": {
          "name": "Basic"
        },
        "systemData": null,
        "location": "eastus2euap",
        "tags": {
          "originalTag1": "originalValue1",
          "originalTag2": "originalValue2"
        },
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383",
        "name": "sdk-Domain-7383",
        "type": "Microsoft.EventGrid/domains"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11891"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "minimumTlsVersionAllowed": "1.0",
              "endpoint": "https://sdk-domain-7383.eastus2euap-1.eventgrid.azure.net/api/events",
              "inputSchema": "CloudEventSchemaV1_0",
              "inputSchemaMapping": {
                "properties": {
                  "id": null,
                  "topic": {
                    "sourceField": "myTopicField"
                  },
                  "eventTime": null,
                  "eventType": null,
                  "subject": null,
                  "dataVersion": null
                },
                "inputSchemaMappingType": "Json"
              },
              "metricResourceId": "d20cf0b8-7b91-49c0-b7a6-332103471290",
              "publicNetworkAccess": "Enabled",
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Basic"
            },
            "systemData": null,
            "location": "eastus2euap",
            "tags": {
              "originalTag1": "originalValue1",
              "originalTag2": "originalValue2"
            },
            "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383",
            "name": "sdk-Domain-7383",
            "type": "Microsoft.EventGrid/domains"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/domains?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11890"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded",
              "minimumTlsVersionAllowed": "1.0",
              "endpoint": "https://sdk-domain-9700.eastus2euap-1.eventgrid.azure.net/api/events",
              "inputSchema": "CloudEventSchemaV1_0",
              "inputSchemaMapping": {
                "properties": {
                  "id": null,
                  "topic": {
                    "sourceField": "myTopicField"
                  },
                  "eventTime": null,
                  "eventType": null,
                  "subject": null,
                  "dataVersion": null
                },
                "inputSchemaMappingType": "Json"
              },
              "metricResourceId": "f20d6f67-3156-4450-9be5-716b8e22dd86",
              "publicNetworkAccess": "Enabled",
              "disableLocalAuth": false,
              "autoCreateTopicWithFirstSubscription": false,
              "autoDeleteTopicWithLastSubscription": false,
              "dataResidencyBoundary": "WithinGeopair"
            },
            "sku": {
              "name": "Basic"
            },
            "systemData": null,
            "location": "eastus2euap",
            "tags": {
              "originalTag1": "originalValue1",
              "originalTag2": "originalValue2"
            },
            "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-41922706/providers/Microsoft.EventGrid/domains/sdk-Domain-9[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "replacedTag1": "replacedValue1",
          "replacedTag2": "replacedValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "inputSchemaMappingType": "Json",
            "properties": {
              "topic": {
                "sourceField": "myTopicField"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subsc[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "updatedTag1": "updatedValue1",
          "updatedTag2": "updatedValue2"
        },
        "properties": {
          "publicNetworkAccess": "Enabled"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/018DF482-8263-492C-B328-259AF6CD4EA3?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-Afte[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "replacedTag1": "replacedValue1",
          "replacedTag2": "replacedValue2"
        },
        "location": "eastus2euap",
        "properties": {
          "inputSchema": "CloudEventSchemaV1_0",
          "inputSchemaMapping": {
            "inputSchemaMappingType": "Json",
            "properties": {
              "topic": {
                "sourceField": "myTopicField"
              }
            }
          },
          "publicNetworkAccess": "Disabled",
          "inboundIpRules": [
            {
              "ipMask": "12.35.67.98",
              "action": "Allow"
            },
            {
              "ipMask": "12.35.90.100",
              "action": "Allow"
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/168726D5-0298-44FB-978A-86D814F5CAD7?api-version=2021-10-15-preview",
        "Content-Type": "application/[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-6083?api-version=2023-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/2C5744DB-7DFC-490D-9864-4255818D4F78?api-version=2021-10-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1173"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating"
        },
        "systemData": null,
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-6083",
        "name": "sdk-DomainTopic-6083",
        "type": "Microsoft.EventGrid/domains/topics"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "886"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "systemData": null,
            "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-6083",
            "name": "sdk-DomainTopic-6083",
            "type": "Microsoft.EventGrid/domains/topics"
          },
          {
            "properties": {
              "provisioningState": "Succeeded"
            },
            "systemData": null,
            "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-5632",
            "name": "sdk-DomainTopic-5632",
            "type": "Microsoft.EventGrid/domains/topics"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-6083?api-version=2023-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com:443/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/EF3A6CDC-CF93-4AFB-AAF1-FFA73AC38DB2?api-version=2021-10-15-preview",
        "Location": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationResults/EF3A6CDC-CF93-4AFB-AAF1-FFA73AC38DB2?api-version=2021-10-15-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383/topics/sdk-DomainTopic-6083?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "885"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Domain topic sdk-DomainTopic-6083 under Domain sdk-Domain-7383 is not found. Please check the domain topic name and try again."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/sdktest-60508111/providers/Microsoft.EventGrid/domains/sdk-Domain-7383?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11869"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Domain sdk-Domain-7383 is not found. Please check the domain name and try again."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DateTimeOffsetNow": "2023-06-21T23:27:07.3818099-07:00",
    "RandomSeed": "1677615348",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b6a8bef9-9220-454a-a229-f360b6e9f0f6"
  }
}
