<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Azure.Management.MixedReality.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Management.MixedReality.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Azure.Management.MixedReality.Properties.Settings>
            <setting name="ResourceProviderEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="ResourceGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
        </Microsoft.Azure.Management.MixedReality.Properties.Settings>
        <Management.MixedReality.UnitTests.Properties.Settings>
            <setting name="ResourceProviderEndpoint" serializeAs="String">
                <value>https://mrc-arp-ppe-0.westus2.cloudapp.azure.com</value>
            </setting>
        </Management.MixedReality.UnitTests.Properties.Settings>
    </applicationSettings>
</configuration>