{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "tagKey1": "tagValue1",
          "tagKey2": "tagValue2"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg6397?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "northcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397",
        "name": "sdktestrg6397",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "northcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397/providers/Microsoft.KeyVault/vaults/sdktestvault4110?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397/providers/Microsoft.KeyVault/vaults/sdktestvault4110",
        "name": "sdktestvault4110",
        "type": "Microsoft.KeyVault/vaults",
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "1970-01-19T20:02:50.231Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "1970-01-19T20:44:17.331Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "vaultUri": "https://sdktestvault4110.vault.azure.net/",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397/providers/Microsoft.KeyVault/vaults?$top=2\u0026api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscript[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397/providers/Microsoft.KeyVault/vaults?$top=2\u0026api-version=2021-04-01-preview\u0026$skiptoken=ServiceBased,Tm9uZSxjMlJyZEdWemRIWmhkV3gwTlRZMk13PT0=",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg6397/providers/Microsoft.KeyVault/vaults/sdktestvault2370?api-version=2021-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14996"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CLIENT_ID": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
    "ObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
    "RandomSeed": "1949756256",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}