{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg-kv-6987?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "canadacentral"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1185"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6987",
        "name": "sdktestrg-kv-6987",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6987/providers/Microsoft.KeyVault/vaults/sdktest-vault-7727?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "http://vaulturi.com/",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6987/providers/Microsoft.KeyVault/vaults/sdktest-vault-7727",
        "name": "sdktest-vault-7727",
        "type": "Microsoft.KeyVault/vaults",
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-05-05T02:43:29.762Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-05T02:43:29.762Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "7bee3764-dbea-4729-9c33-446f321aa721",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "vaultUri": "https://sdktest-vault-7727.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/deletedVaults/sdktest-vault-7727?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11879"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/locations/canadacentral/deletedVaults/sdktest-vault-7727",
        "name": "sdktest-vault-7727",
        "type": "Microsoft.KeyVault/deletedVaults",
        "properties": {
          "vaultId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-6987/providers/Microsoft.KeyVault/vaults/sdktest-vault-7727",
          "location": "canadacentral",
          "tags": {
            "tag1": "value1",
            "tag2": "value2",
            "tag3": "value3"
          },
          "deletionDate": "2022-05-05T02:43:52Z",
          "scheduledPurgeDate": "2022-05-12T02:43:52Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b2defcb7-5344-420a-aa3f-c05a3131f72a",
          "70fe2246-22ac-41aa-8c53-ee77d9e4761f",
          "b2d06a80-b954-4402-9265-cf0f66ced7cf",
          "ee825e52-6ad4-4e48-92a2-d9dee3aeff90",
          "51970eaa-d7e4-4548-9368-c81de086f315",
          "d5a9db2a-bc85-496b-bc94-22e441ff07ea",
          "8d0ae868-8e60-4988-8d25-0d8a712c9021",
          "920d6889-a9be-475c-b213-9c383118ec3e",
          "9bfa0537-b8b2-4d6c-9213-8b409ded14ed",
          "aafde971-d921-41c3-ae30-2956259cb0cf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=1ZLdboJAEIXfhTS9KrL8tFUT01B3MbTOksVdmvYOYVVAwbD4h%2fHdu2n6El6cizMzOZP5MlejluduXtSVMsZXg%2fgLLhbG2Nh03V6NLWuX1ula7mTdDdL%2b0MpB1uwsdViqrC32XdHUysqXdrp8WSHTe30Zmd7SeTVHLpImsqUjV6PMdtzM2rfNschlqywosrZRzaobfMpLkh62nZXLrexk%2fmfUW7ovzKOe1OETBzm2aSOd9figKr2xqWQ9EVXyFScfPBZxwEkiFmIUzcVWrHBoA8%2b0vj3Ks2daijP0YAP%2bG[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1db4IwGEb%2fC1l2h22B6SAxC7GY4CgGRll2CeVFkc%2fQahDjf5fs8jk5Oc9D62BSQdXVUnMe2s4NXeruvDCJ3UBztLNSg3QQarMuO0ELnVpl83WElehbJK%2b5FGM1qKrvJCpykuXrEuvWZm3rVm5sdNvEoGMCBpS2IIYp0DD2t6qAUSJWibGXfalW33BPs2ujUAENKCj%2bh%2fzKhkq%2fLeYS3xrYIDrBS%2bv9TdbLY19Dt%2bV1%2bhunhyTm8T7xUv7D7WPAG15Sn7BEEEa5xS7RPUzEFM7CZJf4M%2bI%2[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1Ra4MwGAD%2fi4y9aYx17SyUIVqhnbGYJY7tTePnqmlVTCytpf%2b9sseD4%2b5utHDVcd1KZazvRuAnfugH24RRPzbWxlHrXq0ROudt%2fgdnaLWVT%2bMAlujOSI2FEkPd67prFSoLnBfLyjbd1dIz3cJZmd7CBtPG4EDlCewsBOqH7lKXMChEajF0qqu09Qm3LB9PGpVwAg3lP6iPvK%2fNy2zO8Y1jO9jE9tx6fVFyPnYS2g2X2TfN9oxyGrFtxr%2b4d4j5iVfhDhMmMAm5m4S7azIRN5nSK5n277T5jVJ2jGi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1ba4MwGED%2fi4y9aUwq7RTKcNUOO5OiSxx79PJpnVdM2q6W%2fvfJHg8czrlrPfyqsO4bqTl3becy13N3PuOxG2qOdlJqlA5CXdqnFXTQKyOdzxMY%2bdAhec5kPtWjqodeoiLDabYuTd3arG3dyshGt1cm6CYGAqWdY7LK0TgNl7qASSJa59Mgh1IZH3BL0nOrUAEtKCj%2bQb6mY61fFnOJb4lJsI7NpfX8JJvlODTQb0WTfMXJgcci3nM%2fEZ%2fCPoaiFaUXYMpzTD1hMY%2bSo%2bcS9kNnyg8vVEQ3KoI5M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1Ra4MwGAD%2fi4y92ZhY2lkowxod3UzKMuPYo8bP1WpVTCyrpf%2b9sseD4%2b5mtfBn4qqttbW5WYHPfeoHIU%2bEH1sb62hMrzcInbM2%2b4UztGaRTeMAC9WdkR5zrYaqN1XXalTkOMtXpWMv1yvPXuZkbXuuA7aDgUDpKUxchfqhu1QFDBqxSg2d7kqz%2bIBrmo2NQQU0YKD4B%2f2a9ZV9mc05viUOwTZ25tbzk67nY1dDu5V1%2bi3S90RIESVhKr%2bkd4hlI0u6xyxRmFG55PSHMKqmAw1dnuxe2MQD7vB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1da4MwGEb%2fi4zdaRLr2imUIY0bdSYyZ9y1xlfn%2fMTEslr63ye7ejhwOM%2fNGOBXR83QKsO7GSef%2b9Q%2fBTxN%2fMjwjG%2btJ%2bUh1OdDXkMPg7bydZnBkmOP1FIoOTeTbsZBobIgebGvsOkc9q7pFPbBdHcYTEzAhsqVxN5JNM3jpSlhVog1ch7VWGnrHa5ZvnQaldCBhvIf1Es%2bNeZlM7f40cY2MQneWo8Pqt0exxaGo2izryQL00Qkr2mQiU%2fhxpHoREXPhKWSMCocTtttz5hT%2bcRp%2bcwou[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1Rb4IwGAD%2fS7PsDUsBdZiYhUmXuNEaupY9Q%2fmYiAKhxUyM%2f31kj5dc7u6ohV%2bb1G1j0OaOdhGP4mhHuRRRgjboaG1vNhhf8jb%2fgQu0dpFP4wAL3V2wGQujh7q3ddcaXBYkL1aV6wTrVegEhbd2Qt8FxyXgQRVq4vka90N3rUsYDGa1HjrTVXbxCbcsH88Wl3AGC%2bU%2fmNe8r53rbM7xred6xCHu3Hp%2bMs187Bpot6rJvkX2IYUS75Jm6kuFh0SdVRXvCZOasFgFXFKfTWzJpnTJTm8vXKobpywQi[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1ba4MwGED%2fi4y9aYxKO4UypNrRzVjMEgd70%2fjZeReT3iz975U9Hjicc9d6uKqo6hupeXdt68d%2b4G%2fDmFE%2f0jztT6lRegh1WZ8doYNeGdl8msAQQ4fkKZdiqkZVDb1ERY6zfFWaurNeubqTW2vdtU3QTQwWlK7Ali3QOA3nqoBJIlKJaZBDqYwvuKXZqVWogBYUFP8g37Ox0s%2bLucQ3lmlhHZtL6%2fVFNstxaKDf8Cb9oekno5zuWJjyb%2b4eIt7yMthjwgQmAXdiRq5kbuaFnbj%2bfSN16CQNt8m[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3dToMwGEDfhRjvoC0smyxZDAw007WL2GL0jp8P7Moood2iLHt3iZcnOTnn6vTwY%2feyV8ZZX51txKIk2qaMZ9HeWTvf1g5mjdCp6IsWTtBbr5jOI3iVPiFzLk01ysFK3RtUl6Qolw12F6tl6C5Kf%2bWGAQYXE%2fChCSviBxUaRn2RNYwGUVmN2ujGeq%2fwmxfnzqIaOrBQ%2f4N5LAbpXmZzjm987BOX4Ll1f2fUfNQK%2bo1Q%2bUeWv%2fBMZE88zcW7CA970Ykm2RHKK0ITsWD8czpwitnUEnpkD0yxlHIW0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1ba4MwGED%2fi4y9aYxKO4UybGNHOxPBJY49evnsbLxhYte19L9P9njgcM7d6OGq46aXygjuxi5kIQl3EeNpGBuB8a31qAKEurzPT9BBr638Nk9glUOH1FyocmpG3Qy9QlWB82JV26a3XvmmVzhr03dtMG0MDtR%2biR23ROM0XJoKJoVoU06DGmptvcNvls%2btRhW0oKH6B%2fWaj415WcwlvnFsB5vYXlrPT0oux0FCvxEy%2b0yzI09FuudRJj6En8SiFTU5YMpLTInw2Dm6Ui4cRoSd8PYllUdCOfUoOWFG2j0[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3RaoMwFED%2fRcbebIzadhbKkMaCXZNCluueNV47q1Uxadks%2fffJHg8cznk4Hf7YY901xtk8nF0sYhbvEqFkfHQ2zre1g9kQcs27%2fIxX7Owin24jLnR%2fJeZWGD3Wg637zpCyoHmxqjw3XK8iNyz8tRsFHroeRR%2brSFM%2f0GQY%2b3td4mgIr%2fXYm76yiw%2f8zfJba0mJLVos%2f8G850Pt3mdzjm99z6cu9ebW64tp5mPfYLeFJvuS2UFJkHuVZPAJ0ekILVQspVxpyhmE4pIuBdMBvzSeUNnbScHEY[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1db4IwGEb%2fC1l2B%2f3Q6CAxC7EucbM1MMoS76C8KKBAaHUM43%2b32cVzcZKT89ydFkazq9pGO8HdWYciZOF6I5I43DmBczKm1wFCl6zNjnCB1njZdB3AU90F6Wuu1VD1pupajYqcZPmixO58ufDdeU6Xrj%2fD4GICFEpfETpTqB%2b6W1XAoBGv1NDprjTeF%2fyl2fVsUAFnMFD8g37P%2bsq9WdPGVxRT4hJsW68vurGPXQPtSjbpT5x%2bJrGMP5JNKr%2blv9%2fJsyzZlvBEEc7kXNQR5dOWWsacHd4EP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3RboIwGEbfhSy7g7YIOkzMQoQtOlsDoyxelvLjEARCq3E1vrtkV19OcnK%2bu9XBTe%2fqrlHW8m6tQxZG4TpmWRrurKX1q%2fWglgidRSeOcIZOO8JcRnBkf0bqUig51oOu%2b06hsiCimFfY9hbzwPYKd2EHMww2JuBCFUjiziQaxv5alzAqRGs59qqvtPMFf7m4tBqV0IKG8h%2fUuxhq%2bzqZU3zlYpfYBE%2bt1xfVTI99A92KN%2flPmm%2bzlKcfWZzzbx7sd7zlVbQhNJOERtxjpwNmUXhjhhuapW97npA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1ta4MwHMS%2fi4y90yQq7SyUYauFdY1Flzj6UuPfVeMTJi2rpd%2b9bi%2bO447jd3ejg199qDqpjNXd2PqRH%2fjbMGKJfzBWxlnrQa0QarMu%2b4EWOm1l02UES%2fQtUpdcibEadNV3ChU5yfJFiU13ufBMN7eXpudgMDEBG0pPENsRaBj7a1XAqBCtxNirvtTWJ9zS7NJoVEADGor%2foN6zoTKv83KGr21sE5PgmfX6ouT82Evo1lym30m6ZwlPdixM%2bRf3jgfe8DL4IJSJWb5zZML9czqdMK03b7SmE61Pc[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1dT4MwGEb%2fCzHeQaHMTUgWgwMTlXYZthgvobwglK%2fQss%2fsv0u8eC5OcnKem9HDWcd1L5Xh34xdQIMw2EWUJUFs%2bMav1qPyEeqyPqugg15b2XWewBJDh9ScKzHVo66HXqEid7J8XdrmarP2zFWON6bn2mDaDmAoPeFgV6BxGo51AZNCpBbToIZSW59wSbO51aiAFjQU%2f6BesrE2j4u5xLfYxo7p2Evr8UHJ5XGQ0G%2b5TL%2bT9IMlPHljUcq%2fuLePecvL8N0hTCwL3D2TF9pEZ9pwTJr0mUhySliFD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3NaoQwGEXfRUp3GqPOTBWGYo2CrVG0xtKlxs%2fWfzFxmHaYd690cRcHDufelAmuMmqnXijOTfHc2CWu58d55kaKo3xLuQgHobGcyi8YYZJa%2bbutoPF5RGKrBF%2fbRbbzJFBd4bI6NrpqnY62alXGSbVNHVQdgwGNzbFhcrSs86WtYRWItnydxdxI7Q1%2binIbJKphAAn1P4jncmnVy27u8bOhG1jF%2bt56fBD9%2fjj3MJ1ZX3xkxWuesSzI%2fYK9MzuJ2MAaEmKa832uRYlv0i7Fccd12tVPKQuChIU4YxQ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1La4NAGEX%2fi5TudHyRVCEUcTS0dZRYxxJ3Pj4TGV84Y5om5L9n6OIsLtx77l0Z4SqibmRcce%2bK78Ue9vwgzlIvUlzlLMTMXYSGcixPMMAotPK2LqDV04D4WvF66WbRTSNHTWWU1abVVXu7cVS7MreqY%2bmg6gaY0Dq1YVo1mpfp0jWwcES6epn41ArtC%2f7ycu0FaqAHAc1%2f4O%2fl3KkX2ZTynambhmro0vX6wpl8nBiMO8rynzT%2fzFKahlmQ02%2fqJBHtaYs%2fDJLVEs8mmNgJPloEnyTpW4rP%2b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1da4MwGIX%2fi4zdaRKVdgplSO3GOpOiM47tTuNrZ%2f3ExKKW%2fvfKLs7FOTw856a1MKmgbCupuTdt7zHP9%2fYHFkdeoLnan1K9dBFq0jY9QwOtMtJlHMAQXYPkmEkxlL0qu1aiPCNptimwbm83jm5n5lZ3LAw6JmBC4QhiWgL1Q3ctcxgkoqUYOtkVyviEOUnHWqEcalCQ%2fxf5mvalfl3JVb4zsUl0glfX85Os1seugnbHq%2bQ7So5xxKO3%2bJDwL%2b6cAl7zwv8gNBZrPJsunNBFYHb5sajPXk5x5NP4T[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3RToMwGEbfhRjvWGnBTUgWg6Mm6loCthgvofwoKQNCu82x7N0lXnwXJzk539Xp4dfu214bJ7o6u5jHSbyjXOTx3omcH2tHEyF0KPvyGw7Q21U5HydYqeGAzLEyampH2w69QXWFy2rdeG6wWYduUJGNG%2foeuB4GAk2oMPEVGqfh1NYwGcRaNQ1maOzqHS5FeewsqqEDC%2fU%2fmKdybN3TYi7xLfEIdrG3tO7vjF4eBw39VuriMy%2feRC7zF0EL%2bSHDdC872SSvmAm1LA7YrM5MUMJmjdOkfmSaYk5ZkCbZJRP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY3RaoMwGEbfRcbubGLq2imUIVXBzihmiaO70%2fjbOVsVE0tn6btPdvFdHDic7250cNNx07XKcO%2fG3ks839sHCWdebLjGt9aDchG6FF1xggt0elXM0wgr2V%2bQmkolx2bQTd8pVJVWUW5qbNrbjWPaJdmazhqDiS0gUDvSImuJhrG%2fNhWMCtFGjr3qa716h9%2b8mM4aVXAGDdU%2fqLdiaMzrYi7xHcHEMi28tJ6fVLs89i10O9Hmnyw%2fcCZYyINcfAgnjcVZ1H5kUS6XeTadW0xniRMe3ZI5fE3FEWc49NP[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1dT4MwGIX%2fCzHeQVuGm5AshgCaTehCpRh3B%2bVF%2bSa0LMqy%2fy56cS7OyZPnXLUevlVY9Y3UnKvmudT1XS%2bgCXNDzdG%2blBqlg1CX9dkndNArI1vmCQwxdEjOuRRTNapq6CUqcpLl2xLr1m5r61Zu7nR7g0HHBEwobUHMjUDjNFyqAiaJokpMgxxKZbzCT5rNrUIFtKCg%2bC%2fyKRsr%2fbKSq3xvYpPoBK%2bu%2bzvZrI9DA%2f2eN%2bk7S48J4%2bw5CVL%2bxu1TyFte%2bgcSJWKNa1E%2fICf[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1da4MwGEb%2fi4zdaRJb2imU4aoddiZSZ9y1xtfN%2bYmJ1Vr63ye7eC4OPJxz11qYVVC2ldTsu3Z0mOM6R4%2fFkRNotvajVC9thJq0Tb%2bhgVYZ6TIOYIiuQXLMpBjKXpVdK1GekTTbFVjf7neWvs3MvW5tMOiYgAmFJYi5EagfumuZwyARLcXQya5QxgfcknSsFcqhBgX5P8jXtC%2f16%2fpc5QcTm0QneHU9P8lqLXYVtAdeJV9Rco4jHp1iL%2bGf3AoDXvPC9QmNxTpvovFlYsvKCyVhzF7o4kx0qebol0%[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1da4MwGEb%2fi4zdaYz2YwpluEZHXU0xS9y1xtdV%2fMSkpbP0v8%2ft4rk4cDjP3ejhpo913yjDvxv7gAYk2IeUs%2bBo%2bMZZ61H5CHV5n39DB7228vkygSWHDqlLoeRUj7oeeoXKAufFprLN1XbjmavC2Zqea4NpY3Cg8iR2XInGabjWJUwKJbWcBjVU2vqAnyy%2ftBqV0IKG8h%2fUaz7W5nUxl%2fjOsR1sYntpPT%2bpZnkcGuh3osm%2bWBZzJljEw0x8Cu90FK2oyAEnXP7NpSSdEy5uJx6sE569pHMUM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY1db4IwGIX%2fS7PsDkqL0UFiFiLdwiY1dJRlu%2bPjxWEVCK1GMP53yS7OxTl58pwbauFqtk2rNPJvaBPwIAw2jKci2CIf%2fRnTax%2fjU97mezhBa%2bx8Og9gl90J63Ohy6HpTdO1GlcFyYtl7ViL1dKzFgVdWZ7rgOUQoFB7JaFuifuhuzQVDBrHTTl0uquN%2fQljlp%2bPBldwBAPVf9Gved9Yl5mc5WvqUGIRZ3Y9P2k1P3YK2rVU2bfIPlIhxVvKMvklvd1WHmUdRiROyzn7kU%2bS8IkRngZjfOAvuzByR[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.KeyVault/deletedVaults?api-version=2021-10-01\u0026%24skiptoken=HY9ta4MwHMS%2fi4y908RU2lkow1UH7XzAzDj6UuPfzsYnTOxWS7%2f7wl4cx8HxO%2b5u9PCrwqYX0tjejb0Xe763D%2bKMeqGxNb6VGuUWoa7oizN00CurWOYJLD50SM6l5FMzqmboJapKuyjXNTadzdo1nZJsTHeFwcQ2EKhdbpMVR%2bM0XJsKJomihk%2bDHGplfcAtL%2bZWoQpaUFD9B%2flajI151U0N3xFMbNPGmvX8JIVeHAT0OybyL5ofM8roexbk7JO5SchaVvsHO8q41vmWZAwnPluiJSL61Evs52%2fxhZNUnBzKTkvsC%2b0HJ2XHgPrsh17afXo5YSqY8Xj8AQ%3d%3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "e9a97307-4d9b-4d92-958a-3f6b8ac82e05",
        "x-ms-ratelimit-remaining-subscription-reads": "11958"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "CLIENT_ID": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
    "ObjectId": "7bee3764-dbea-4729-9c33-446f321aa721",
    "RandomSeed": "135739207",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
