{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11955"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Free Trial",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "FreeTrial_2014-09-01",
          "spendingLimit": "On"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/sdktestrg-kv-559?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559",
        "name": "sdktestrg-kv-559",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "canadacentral",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559/providers/Microsoft.KeyVault/vaults/sdktest-vault-6923?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "761b08c6-7367-4ecf-8375-4f785b103d63",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "http://vaulturi.com/",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "softDeleteRetentionInDays": 7,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559/providers/Microsoft.KeyVault/vaults/sdktest-vault-6923",
        "name": "sdktest-vault-6923",
        "type": "Microsoft.KeyVault/vaults",
        "location": "canadacentral",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "systemData": {
          "createdBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "createdByType": "Application",
          "createdAt": "2022-05-12T07:01:19.031Z",
          "lastModifiedBy": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-05-12T07:01:19.031Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
              "objectId": "761b08c6-7367-4ecf-8375-4f785b103d63",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 7,
          "vaultUri": "https://sdktest-vault-6923.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559/providers/Microsoft.KeyVault/vaults?$top=2\u0026api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-r[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559/providers/Microsoft.KeyVault/vaults?$top=2\u0026api-version=2021-10-01\u0026$skiptoken=c2RrdGVzdC12YXVsdC03Mjg1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11932"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/sdktestrg-kv-559/providers/Microsoft.KeyVault/vaults/sdktest-vault-2723?api-version=2021-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14994"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLIENT_ID": "8e6d47e0-7969-4fde-a62c-4fea4f165e98",
    "ObjectId": "761b08c6-7367-4ecf-8375-4f785b103d63",
    "RandomSeed": "786832153",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
