{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11961"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault",
        "namespace": "Microsoft.KeyVault",
        "authorizations": [
          {
            "applicationId": "cfa8b339-82a2-471a-a3c9-0fc0be7a4093",
            "roleDefinitionId": "1cf9858a-28a2-4228-abba-94e606305b95"
          },
          {
            "applicationId": "589d5083-6f11-4d30-a62a-a4b316a14abf"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "vaults",
            "locations": [
              "North Central US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "South Central US",
              "West US",
              "Japan East",
              "Japan West",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Central India",
              "South India",
              "West India",
              "Canada Central",
              "Canada East",
              "UK South",
              "UK West",
              "West Central US",
              "West US 2",
              "Korea Central",
              "Korea South",
              "France Central",
              "Australia Central",
              "UAE North",
              "South Africa North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "East US 2 EUAP",
              "Central US EUAP"
            ],
            "apiVersions": [
              "2019-09-01",
              "2018-02-14-preview",
              "2018-02-14",
              "2016-10-01",
              "2015-06-01"
            ],
            "apiProfiles": [
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2016-10-01"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2016-10-01"
              },
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2016-10-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove"
          },
          {
            "resourceType": "vaults/secrets",
            "locations": [
              "North Central US",
              "East US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "East US 2",
              "Central US",
              "South Central US",
              "West US",
              "Japan East",
              "Jap[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/sdktestrg8554?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "North Central US"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/sdktestrg8554",
        "name": "sdktestrg8554",
        "location": "northcentralus",
        "tags": {
          "StorageType": "Standard_LRS",
          "type": "test"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "accessPolicies": [
            {
              "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
              "objectId": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "vaultUri": "",
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ]
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995",
        "name": "sdktestvault3995",
        "type": "Microsoft.KeyVault/vaults",
        "location": "North Central US",
        "tags": {
          "tag1": "value1",
          "tag2": "value2",
          "tag3": "value3"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
          "networkAcls": {
            "bypass": "AzureServices",
            "defaultAction": "Allow",
            "ipRules": [
              {
                "value": "1.2.3.4/32"
              },
              {
                "value": "1.0.0.0/25"
              }
            ],
            "virtualNetworkRules": []
          },
          "accessPolicies": [
            {
              "tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
              "objectId": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
              "permissions": {
                "keys": [
                  "all"
                ],
                "secrets": [
                  "all"
                ],
                "certificates": [
                  "all"
                ],
                "storage": [
                  "all"
                ]
              }
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "enableSoftDelete": true,
          "vaultUri": "https://sdktestvault3995.vault.azure.net",
          "provisioningState": "RegisteringDns"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault3995?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/deletedVaults/sdktestvault3995",
        "name": "sdktestvault3995",
        "type": "Microsoft.KeyVault/deletedVaults",
        "properties": {
          "vaultId": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/sdktestrg8554/providers/Microsoft.KeyVault/vaults/sdktestvault3995",
          "location": "North Central US",
          "tags": {
            "tag1": "value1",
            "tag2": "value2",
            "tag3": "value3"
          },
          "deletionDate": "2020-05-18T08:08:47Z",
          "scheduledPurgeDate": "2020-08-16T08:08:47Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/deletedVaults?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "6ee55774-56df-452f-8154-c56208d3fb2c",
          "3f5b83d2-b681-4575-9cff-9289c53d2269",
          "85481c75-5252-4497-83d3-2fe312b43387",
          "202ba1c4-e894-4de7-80ab-efa0ec56c0bc",
          "e4519547-9ca9-49e6-9673-f7d9a1db1075",
          "e2b7a6fa-aa3c-4197-9e33-6fe5cf6d0a90",
          "b74b2462-53ea-47d4-bb93-8ac7ad8c45f5",
          "6f6e301c-3c6a-47e7-b49f-fb14c4f9b415",
          "698edb30-aa07-4ab7-a588-47e115905375",
          "1c798a4f-71ac-44fa-ad3f-a31cc3df313d[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault1519/purge?api-version=2019-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTc4OTQ4NDM3MXwwRDA1OEEwRDZFNzA0NzQyQjY4NzBGNjdGQUNEMjJCNw?api-version=2019-09-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTc4OTQ4NDM3MXwwRDA1OEEwRDZFNzA0NzQyQjY4NzBGNjdGQUNEMjJCNw?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTc4OTQ4NDM3MXwwRDA1OEEwRDZFNzA0NzQyQjY4NzBGNjdGQUNEMjJCNw?api-version=2019-09-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "createdDateTime": "2020-05-18 08:09:37Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTc4OTQ4NDM3MXwwRDA1OEEwRDZFNzA0NzQyQjY4NzBGNjdGQUNEMjJCNw?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11912"
      },
      "ResponseBody": {
        "createdDateTime": "2020-05-18 08:09:37Z",
        "lastActionDateTime": "2020-05-18 08:09:53Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/North%20Central%20US/deletedVaults/sdktestvault1519?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The specified resource does not exist."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTk2MDA5NDE5MXwzMjAwNjQwNEZDNTI0RkIzOUU5NzQzQjQ4RUM5MkUzOQ?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MTk2MDA5NDE5MXwzMjAwNjQwNEZDNTI0RkIzOUU5NzQzQjQ4RUM5MkUzOQ?api-version=2019-09-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11910"
      },
      "ResponseBody": {
        "createdDateTime": "2020-05-18 08:09:55Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MjExNDg5NTQwN3xFM0VBQTE3NjhDNjQ0MDg3QTJEQzMxMUMxMkFERjFDQg?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.KeyVault/locations/northcentralus/operationResults/VVR8MDYzNzI1Mzg2MjExNDg5NTQwN3xFM0VBQTE3NjhDNjQ0MDg3QTJEQzMxMUMxMkFERjFDQg?api-version=2019-09-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-reads": "11897"
      },
      "ResponseBody": {
        "createdDateTime": "2020-05-18 08:10:10Z",
        "status": "NotStarted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUUkc4NTU0LU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUUkc4NTU0LU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11884"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TREtURVNUUkc4NTU0LU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11862"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "CLIENT_ID": "c445f1d5-499c-45ee-a5ff-024d36ade650",
    "ObjectId": "1aa92e15-ee4e-4dda-9e61-5b4dc35d280b",
    "RandomSeed": "1067057456",
    "SUBSCRIPTION_ID": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
    "TENANT_ID": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"
  }
}