{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "authorizationSource": "Bypassed",
        "managedByTenants": [],
        "subscriptionId": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure SDK Developer Playground",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d501692f-0000-0300-0000-632ccad90000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012",
        "name": "secdevops-ado7012",
        "type": "microsoft.securitydevops/azuredevopsconnectors",
        "location": "centralus",
        "tags": {},
        "systemData": {
          "createdBy": "9c89e482-5940-4fdf-9ec8-ce386d050b5f",
          "createdByType": "Application",
          "createdAt": "2022-09-22T20:51:32.6759581Z",
          "lastModifiedBy": "9c89e482-5940-4fdf-9ec8-ce386d050b5f",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-09-22T20:51:32.6759581Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012?api-version=2022-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4?api-version=2022-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022dd013ee7-0000-0300-0000-632ce3a80000\u0022",
        "Location": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4?api-version=2022-09-01-preview",
        "mise-correlation-id": "e701c1c9-0cc2-431b-9999-aa0df301a1cd",
        "Retry-After": "60",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d01e2f9-0000-0300-0000-632ce3a80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4",
        "name": "8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4",
        "resourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012",
        "status": "Deleting",
        "startTime": "2022-09-22T22:37:28.2597935Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224d01d9fd-0000-0300-0000-632ce3c80000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.SecurityDevOps/locations/CENTRALUS/operationStatuses/8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4",
        "name": "8fe8c359-0b1b-4177-8b66-4c5d812ef93e*4093125B59E3927C83FE29C6A76BAD5D115B07CD3BE5FA6687A0C4E2583C3DE4",
        "resourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012",
        "status": "Succeeded",
        "startTime": "2022-09-22T22:37:28.2597935Z",
        "endTime": "2022-09-22T22:37:59.9182973Z",
        "properties": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/rg-securitydevopssdk/providers/Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012?api-version=2022-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Microsoft.SecurityDevOps/azureDevOpsConnectors/secdevops-ado7012\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "LOCATION": "centralus",
    "RandomSeed": "754018299",
    "RESOURCE_GROUP": "rg-securitydevopssdk",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "faa080af-c1d8-40ad-9cce-e1a450ca5b57"
  }
}
