{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d6b65a42-5d78-abe6-56a0-293eb036802f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9533A599E3\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d6b65a42-5d78-abe6-56a0-293eb036802f/test-blob-4305b962-51cc-5c36-b9a6-e7ec88846b91",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "Jbiw0gnxQlGbWPZRM4uT/TvqOAK1hG6kn3Wm9QSTNeh7pjRgp5I1FGwvYWmgxNBHxu/vPr\u002BpzqFJDDOTS0xMByIN1YxWMlaptCSWhSMFA9qlXi4VpPco0diTFpteocgf4llGk\u002B5E8JSZRombE0h\u002BRAhY7uweNmMr5QS0wxu6ShNbdqLJvnDrYG6ZfF1ujb6PFdGTBrLcAKz2Gq3qjy143vt1QJyltYWXbY5\u002BhLoFvVhGJK1JJkRhfnX20qTCAdFAIZ5i\u002BEwh6mBM/JkkXnzx8VxVpGt/Lre3FMEmruLh1Gu8PWMcosULJDpN/SqrPSD5BeBHbV1lwPLmq\u002B[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d6b65a42-5d78-abe6-56a0-293eb036802f/test-blob-4305b962-51cc-5c36-b9a6-e7ec88846b91?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9533B1C398\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T05:59:43.5174283Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:59:43.5184283Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d6b65a42-5d78-abe6-56a0-293eb036802f/test-blob-4305b962-51cc-5c36-b9a6-e7ec88846b91?snapshot=2022-07-27T05:59:43.5174283Z\u0026sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A59%3A41Z\u0026sp=cuprwdylatfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9JRAdk4URg0Hb5FzGBQs4g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F9533B1C398\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:59:43 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d6b65a42-5d78-abe6-56a0-293eb036802f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:59:41.7866621-07:00",
    "RandomSeed": "1631467135",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
