{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9131f614-27d1-d483-47ad-170348911602?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77362BA47A5D\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 22:59:37 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9131f614-27d1-d483-47ad-170348911602/test-blob-2568cc3b-2e6f-adc7-b1c1-679db64a00e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:35 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "iu6Yn7MEtJzaPn7CAhr0xzKBXWqzfvfhfxDH477qbgQ=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "2eWk0esZMIO4\u002BhkpCYKKxySO94ofUE\u002Bt9rWYEajkZz5nBvGMM\u002BxtIZvlbXUVnqQuNqB4KFN1w4mW99s2gR/a05LawQOR/pM4INbuOuPZl1cRatsIbD/r8kJn9jwRN6B8CpniOt2hnDgMQAd9homlvF\u002BDJRdE0mZT78/AKQdXJ\u002Bg1cjBJ9116b82j/Cw3bmu5wjncjRKIODczj0sO4HMwtBkfRxNYW8UBCLVKodY6G4FjB2fNepnWrTr4FmcSbI5ackcTGCZXYGZ024VcPpdh\u002BXTJq9kLYjmASJrZYEVd75sn7y6OJwNaC6cAWZ8TeW6jlx3zSMG0ThANks\u002BMfgAhF\u002Bv[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9131f614-27d1-d483-47ad-170348911602/test-blob-2568cc3b-2e6f-adc7-b1c1-679db64a00e3?sv=2023-01-03\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T22%3A59%3A35Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "iu6Yn7MEtJzaPn7CAhr0xzKBXWqzfvfhfxDH477qbgQ=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YX3tPbim9PNWTksBjk9SKA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA77362BBF5389\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 22:59:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 22:59:37 GMT",
        "x-ms-encryption-key-sha256": "iu6Yn7MEtJzaPn7CAhr0xzKBXWqzfvfhfxDH477qbgQ=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T22:59:37.2244873Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9131f614-27d1-d483-47ad-170348911602?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T15:59:35.3671945-07:00",
    "RandomSeed": "803394463",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
