{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d6d0e70-e256-ef4c-0717-e56f70076dc4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950BF9230D\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d6d0e70-e256-ef4c-0717-e56f70076dc4/test-blob-f0f324ff-fda2-5a18-2c2c-fe5603638646",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "/yS6h97d4IgGDGVu4byzeGgu6EPNJx620M5kt3SJpqNu7iZo\u002BxHSIkRq6ZaYqnlveYbt1HtCedgGBLYPeCgTfWXCAPKWS3xXXMb/Yz6HHiZV9D7um9EoK3VOYfdaw6kbVmsw1amG2S4Klni0QhaafuWPuYTqJeGUmtR9R\u002BmE/Jgc5AzSV0h8zxoQ5AVZc\u002BhftOISygokMDGKmzvUCZFEhZnfmF4JxyecE\u002Bpq2kHcOyfsHpMGcjKO97PbR7sNp8WIy15redqKVey7dbcfulbvrWAT6Ov\u002BPhNnUKCqLoBsjmsk4Q7icMFMYsinS/x6bjxd65pa\u002Bb/aioxLBC[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d6d0e70-e256-ef4c-0717-e56f70076dc4/test-blob-f0f324ff-fda2-5a18-2c2c-fe5603638646?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A35Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "b8XSiOMNWz0JSoEVLnMxXA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F950C04A434\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:58:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:58:36.8797504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d6d0e70-e256-ef4c-0717-e56f70076dc4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:35.1490684-07:00",
    "RandomSeed": "13459746",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
