{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6364b965-9bc6-1c43-6b78-3ea866854e0d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950B21F5AF\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6364b965-9bc6-1c43-6b78-3ea866854e0d/test-blob-7c14dace-dfc9-21d0-e4a9-e1f32df0f72c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "W9Op13iYmPZAyyPspYhzQ8gaP6ap1G4p/UTHm1wo9xcfll/Vftmq0CblOdP9bI0OhM6IhugUtYdkf9k00P2aGNMMzQ8onsXucG9/w5qbLJC2uBeNn3EuCuDYcP7/df8pSyEA8J9\u002B5uUImRV5lfLsyVNJfhjmDHhh3cIuTy7H7/pvVnh5mzvwONIxhQVctXXu66aqtvfnQz6onhLdT5a3QaobCj96cy4YWEZFtIdzBShNQGSHHDgChxI50PwoE\u002Bk7ekRbQKs1c3h4kl6xoY63NZnqjw4yLyRxGYIsQKMx70RcCTpDGMR9F8zrD4naUeWEgppjPoTaCUsf6ScoCTPUR6MZVJhUcx3UbH[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6364b965-9bc6-1c43-6b78-3ea866854e0d/test-blob-7c14dace-dfc9-21d0-e4a9-e1f32df0f72c?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950B2E12DF\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T05:58:35.5585116Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:58:35.5595116Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6364b965-9bc6-1c43-6b78-3ea866854e0d/test-blob-7c14dace-dfc9-21d0-e4a9-e1f32df0f72c?snapshot=2022-07-27T05:58:35.5585116Z\u0026sv=2021-10-04\u0026ss=fb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A33Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "T6maOZZI4vimaTCTHMR2eA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F950B2E12DF\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:58:35 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6364b965-9bc6-1c43-6b78-3ea866854e0d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:33.8290989-07:00",
    "RandomSeed": "697742661",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
