{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-22eca171-c391-dfa5-cb8c-b562a8a38086?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019397DF645\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-22eca171-c391-dfa5-cb8c-b562a8a38086/test-blob-13119109-561e-a415-548d-746b82ab27f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "Jtp\u002B8c6TjhTFf8c/gILijfxe8CbCUryNoTCYaTor6ZyfVKOhoTcTdQL9TZ6P1STSq\u002BZuJLoANNMd8VCe\u002ByTZmZUqnyveQezFSnojxQUe/csMxb5UvcXhnh/Pg6/mdXrdI7MIZDb49Gn5qdpA3G/O//OFkjZmhNzQSAAMDr0839UARqFRFZmVE9FUWhPqocKvAYS7YOJEd5/XOBs16\u002BWsvcoEQJbOfepa8H5lESnI5ac\u002BXA05gH7yvM4Cet19XyjsqJ1J5mEs4YSaYW9k32Z1DlJ09o/XcjxLEYPIywIM3ZBWeGiMf/9FEnqJnx8Pjt1njGyKCGmZFDZg/tTdYxW[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-22eca171-c391-dfa5-cb8c-b562a8a38086/test-blob-13119109-561e-a415-548d-746b82ab27f7?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A44%3A44Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oTNhUhaQXqJQu09kFMZubA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7019398C5846\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:46.8338758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-22eca171-c391-dfa5-cb8c-b562a8a38086?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:44.4228151-07:00",
    "RandomSeed": "2122062948",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
