{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a530616-e345-a5d1-b4db-d419b84d7688?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950E08061B\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a530616-e345-a5d1-b4db-d419b84d7688/test-blob-751492e9-a03a-d70b-a68f-3230fc6258a1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "P/OzLP8fS8AbK6PTlEotBThGhbn/JaXGgHWwrcAzafNFCdWhnq6hyUdUWg78OENbYS34tt2eohpN7ayKbp3/58KwjYp1i2aJpLtyq8qXyUcyVUyTO7MVpme7U7ECF1qqVHNMTKq45tXGbhEiLPdPtiNkWBlQbKsPmuYjuTe0h41gx1ZXSnyceW92zMyh83lwbJ2Nnb9BWejHPLLDlSydEeeDwWWg92unyN6q2p/fbadts02aJ\u002BrOH21ujw7K2ORC2bvlHjEUz3Qx5dXgl39J6M4KVuHfAur8tKH3Mmdd3e/6ZwHj\u002BU92WOPYaUEV7ojtJKdAv4ICY9bR6WqPHJwN1Ajl5jB\u002BZ[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a530616-e345-a5d1-b4db-d419b84d7688/test-blob-751492e9-a03a-d70b-a68f-3230fc6258a1?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A38Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KyKJiUmeWU\u002BxQ9CV5vRySA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F950E13AE9D\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:58:40.3337640Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a530616-e345-a5d1-b4db-d419b84d7688?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:38.6027419-07:00",
    "RandomSeed": "355222145",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
