{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6a84b5e6-43fc-ed2a-34a2-994e86d671c9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954EBD05A7\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6a84b5e6-43fc-ed2a-34a2-994e86d671c9/test-blob-1f82757e-6768-30ac-067e-e0dee6b711f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "jOHi\u002BJ5loQhQtKz33\u002BuX75PlunsmSF4zLSn5DqicEvM=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "CtUv3aT8/u9sv9SO3IYAnDecnMtaWRVRLJhgEPsJp/Z1hofz6O6LgXaSsqmSHlSAfUOnSRtGl7HA3rAMnO70YhjdGFX/DLRJEBpUx6Zrvg5D4JK3Yl3bLu/VMwk9f\u002BWInk\u002BQtQX/gXGPXTkA8c8KVCCiybxbPAC7AupmKdiqC5E1yylW2ggJRF4hJwQj2jwfyt/pm7YpLWFP1bIbmVeY5VKoyialtHkXmYVdOhT7lyetRl75wXDbDJ7IBgVW7qsHiUKyexAWehZm0QExzPNMVD6KbVL4niThzb6I3K10wavZVbDSSBsXlstHku9uqkCqfLLGy4BYDuoe0a5Rjp1p8hBWV3ZCeQwjctaHsQs0ciN[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6a84b5e6-43fc-ed2a-34a2-994e86d671c9/test-blob-1f82757e-6768-30ac-067e-e0dee6b711f1?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A27Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "jOHi\u002BJ5loQhQtKz33\u002BuX75PlunsmSF4zLSn5DqicEvM=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6vk/se8wK/eIlfUthWZTXA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954EC8DD0B\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-encryption-key-sha256": "jOHi\u002BJ5loQhQtKz33\u002BuX75PlunsmSF4zLSn5DqicEvM=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:28.8943371Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6a84b5e6-43fc-ed2a-34a2-994e86d671c9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:27.4953564-07:00",
    "RandomSeed": "315697923",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
