{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a80a99d-82ce-00dd-098c-d4955347aa1a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9507B95B17\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a80a99d-82ce-00dd-098c-d4955347aa1a/test-blob-d3a7ce18-4f56-c1e7-db0f-6146dfab722a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "COIf6QqQ7HqUKzgMyzcKdgFMGb83sJsmg3s\u002BHuQ23U085o6Eg51Mh\u002BEsPisX2vWkBOtEkpKy81hG\u002BWWPUs2VXU7q0OSohvJkAJHeCnFvD6mFmhr58kq6ifM2PYo3vDUTluHdLAkQ\u002B37435IB1Onm1um8CbeznGoEMEfxcklnLUNcynOQkuKfdJ\u002BbARO3ubQJUGage7J9YPp22fvCH4g1kLJPpQp1VUQHHJQYF5tXTHeS5yLixrGQ3mp4Gbnm3VUWZnBgZxOqlPoimV4dZEhfH4yELzdlUskAvsag/DyKID8/ArEq9\u002BRj6FMowC1Tc3ohGfosYq4esBSmX6[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a80a99d-82ce-00dd-098c-d4955347aa1a/test-blob-731baffe-e617-baa5-2168-2943716708c2?sv=2021-10-04\u0026ss=qb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A28Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "4ba390da-3c3f-4564-98a3-967a6dad8300",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9507D183E9\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:29 GMT",
        "x-ms-lease-id": "4ba390da-3c3f-4564-98a3-967a6dad8300",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a80a99d-82ce-00dd-098c-d4955347aa1a/test-blob-731baffe-e617-baa5-2168-2943716708c2?sv=2021-10-04\u0026ss=qb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A28Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9507D183E9\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:29 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a80a99d-82ce-00dd-098c-d4955347aa1a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:28.1045711-07:00",
    "RandomSeed": "1616470278",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
