{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7f1a7424-f336-5826-c282-1f500cc30d9c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D188ED603\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7f1a7424-f336-5826-c282-1f500cc30d9c/test-blob-acdfa162-6a7c-a5b4-2801-136859442f20",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "elAZy2QlHVsTd6Wts53KVRddf4fBW1PMjbi/feIiqYFfqzT\u002B/uzXPISDmATFBvKLN75Q\u002B8WnXh78TD2rZaB58M0jTgdozFcqhkIDPsJOBobGNEYk0q68t0wVAbGuK9fjCqg3orjqImpnJXWCoyBbrUa35TBZVR4fZ5a7UsqlfFprHzMaF2TN2xLbvaw4ORQrulRq90WnirWJGDsiL9CgwakbF4PtQZbh6QoefZdy5y2CkJh1O4QUw5V\u002Bkf8pq6xBOvwCHSKQPnm9iQ47iQwdFzANn584K4YlBlPub6\u002BXtz1d3EObb8oK8VIft7F12TqIYHnOGwsMCQ923RbOos7JJtHR[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7f1a7424-f336-5826-c282-1f500cc30d9c?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T22%3A12%3A27Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "18d0c61d-f078-6994-2c85-ddc550b743e2",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D188ED603\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:29 GMT",
        "x-ms-lease-id": "18d0c61d-f078-6994-2c85-ddc550b743e2",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7f1a7424-f336-5826-c282-1f500cc30d9c?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T22%3A12%3A27Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D188ED603\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:29 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7f1a7424-f336-5826-c282-1f500cc30d9c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:09741c75-c01e-0026-1905-a205b8000000\n",
        "Time:2022-07-27T22:12:29.7941248Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T15:12:27.1546902-07:00",
    "RandomSeed": "2088211121",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
