{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1c728da9-df34-18d0-18a6-c5e480107954?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954446596E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:11 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1c728da9-df34-18d0-18a6-c5e480107954/test-blob-76196cf9-89a4-7735-7d47-033eb28617cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "A/ekeRzJoUpR\u002Bhs0\u002BkJTNQjhT5QyLCq30n0zazWb889aa8rgP3QvL8rOJaptAH069M010TeDmdbN7KeflTUVtQZM2o94cvWUsh/KZAeAStEA\u002BXdoZiKX19HzE1PNkJqUuG\u002BjICbtwoHXoB8XuDXPTaLWn5y\u002BrU/jtQK9hF6ixyGFNauY3CqqEjb1kMUDgB6cJMax9vH91Qsfv2skMD4jNNn9kYOKN3B4K4xmyRyJ4DTkIWCY8dAwiF\u002BfeB2\u002BhuH40lvsBu\u002BbEuxWOctklwzult82QA/dikMIzAkj6r9TuaWqbfbBndpFSA5zQrgFzPBSseE9[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1c728da9-df34-18d0-18a6-c5e480107954?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T06%3A00%3A09Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "f16d1b0f-937c-4417-bd28-20ad3f54c666",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954446596E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:11 GMT",
        "x-ms-lease-id": "f16d1b0f-937c-4417-bd28-20ad3f54c666",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1c728da9-df34-18d0-18a6-c5e480107954?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T06%3A00%3A09Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954446596E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:11 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1c728da9-df34-18d0-18a6-c5e480107954?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:78d68bae-e01e-0031-017e-a1acb3000000\n",
        "Time:2022-07-27T06:00:11.5576152Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:09.6098783-07:00",
    "RandomSeed": "1881336000",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
