{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5c06e922-0bde-0773-28de-20bdc07b2241?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701980A214DD\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5c06e922-0bde-0773-28de-20bdc07b2241/test-blob-43f1a239-b990-ea9a-0262-757e95600c5e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "oC0XnSXRnioc2\u002BpyEuQ1CkS63w\u002BIGU4yGIzMHjDKrbU=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "\u002BGfkO3TJzDmSea96hLW62SPO7EJ0hyONmXu0Vmvn1M7KiVg\u002BDP5lcNa4sBcKH2VNp5tax3TK6XFDV6H4FHbNq6TgsPtcfMwlaHxrvNYMg3oWZ67QjAxaAJ/n\u002BrVcbVtf6gVyKW9q8CvONV/3XiyaN9Mn4q3H/R6Yhq9bdYEXyPogC9LRmVoLrHeDAlatYqFzTMPiNYutmO3m2qK/Dnqpt2xk1lJayZ15HDU2Q/vH6iQO6Ci\u002BNJNvc3Pk6r\u002B3S5382krpSYtOGIMlaBhVdlTyHvB9sCZR64LZ9GPfdd7ewdCYOmmw3aCZwNClmcx7Gvwe8szPOpp2qu7IEFQnbqKkRqdHvDzq[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5c06e922-0bde-0773-28de-20bdc07b2241/test-blob-43f1a239-b990-ea9a-0262-757e95600c5e?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A46%3A43Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "oC0XnSXRnioc2\u002BpyEuQ1CkS63w\u002BIGU4yGIzMHjDKrbU=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "3GxnQf3KiUtiDa8zom1Z4A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA701980AEDB74\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:46:46 GMT",
        "x-ms-encryption-key-sha256": "oC0XnSXRnioc2\u002BpyEuQ1CkS63w\u002BIGU4yGIzMHjDKrbU=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:46:46.1782900Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5c06e922-0bde-0773-28de-20bdc07b2241?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:46:43.7788506-07:00",
    "RandomSeed": "1363244693",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
