{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-80ee978a-3125-9815-6c17-d76a266629fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9535724E2D\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-80ee978a-3125-9815-6c17-d76a266629fb/test-blob-60a8942a-66a1-04ba-2c82-33bf43bbaf5c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PrQhEgaR7UdEcLt/68iJ0fJFL1Rnd4HiWVtsitGyLJ/APWMuWmGhmaZhHDGqOhhj\u002BGLM/oxa9McyP7iqJWJ1kUQcv65lW3eQpJauBVpQNx5CCZJu5S0TZUic\u002Bxqo9nRD64rtjntq/pzqPFn2rO9s4giaaBzQBqwWCFllyGBd564hahrPYqmj1wr1g6nUHblZLxgSDo5YcuTe1oUiBTU8jVSr1EHVnH9e95AR24ICQeugC5lHStkfyfg18YskgNLVuPZVKUh3hJOZsxf\u002BR5dh25WZgvmc9UN6iwtJn6vzOna9OyKMrRijKIcGrpfCIYJg0xX2iv7ZOcOy2p09LeTnpXigQAt01[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-80ee978a-3125-9815-6c17-d76a266629fb/test-blob-60a8942a-66a1-04ba-2c82-33bf43bbaf5c?sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A59%3A44Z\u0026sp=cuprwdyla\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mr\u002BogffbybS/gd/hOjuhvg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F95357DDB67\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:59:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:59:46.4597351Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-80ee978a-3125-9815-6c17-d76a266629fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:59:44.7318566-07:00",
    "RandomSeed": "1141378595",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
