{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-777c7387-4792-75fd-2008-2388ecc3528c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954E10D94B\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-777c7387-4792-75fd-2008-2388ecc3528c/test-blob-e1c3359a-ecb2-c460-b71d-438cd937f837",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:25 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "lgGNyDnT0KyfwrJ50bzTiZr9eZpvLp1/dFVjvRxmuFk=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "JjgYYJbzcHmqz\u002B5XtP9ivQeabWlVzLhdNUlF5WStWqvdyhMHkF4Fp8VKNuP9CQ\u002B3u4aFPsqO4lmAuipNrYsU/XRDeersWyyolMakCpXUXyw5jineJxvhTui5h9YzuPk6NTluuo8ly2BZ3KkD6tfDq1r\u002BEx9hNdZZYSoBMtNWdNzMadRcZaWcFMLJhEpx3WMR9tx7NaTa2ABiFVhlI5mMA2jNNoACZkW1Yf5dl7CL54TG8Dv32j438pHU\u002BVBMN/EoPYHipKbjDo\u002BXxtOlfEFP1y3UnjJdlCkplUPvLWz0aSoNNFovqUPd4\u002BGsYBNrknVPhSIid5i\u002By6lYuA5i8\u002BAiol2[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-777c7387-4792-75fd-2008-2388ecc3528c/test-blob-e1c3359a-ecb2-c460-b71d-438cd937f837?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A26Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "lgGNyDnT0KyfwrJ50bzTiZr9eZpvLp1/dFVjvRxmuFk=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UqsG7oY2fJ87852On9polA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954E200BB3\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:27 GMT",
        "x-ms-encryption-key-sha256": "lgGNyDnT0KyfwrJ50bzTiZr9eZpvLp1/dFVjvRxmuFk=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:27.7889725Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-777c7387-4792-75fd-2008-2388ecc3528c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:26.0583242-07:00",
    "RandomSeed": "1324109988",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
