{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-72157e04-dd23-4662-a275-8d3ef02a1fd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:15 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95002D2EF1\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:17 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-72157e04-dd23-4662-a275-8d3ef02a1fd7/test-blob-7dc4b747-110a-8ccc-7bb9-372be7fc5667",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:15 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "p4LjhDfjpkAFPAZwsoMC2nwHHjd2UABJn2bAdvFqxAW1XtfWffe3YxGEeM0LXNn3t1yu390f8VaCmeTQIi9Pm3gBu1SsK1yFT7om8dczPkONyL6Uu\u002BQnlm2AVOMS5kHhNdxUCqCFSowAKY8i\u002BP9\u002BTlqhQ1lwuuCU2STmLNd5cml5RLz73jSiB30ylJFUBJ1uAQWJcKPncXr8wDB7nh60h7YmqbNCg28m/jzcPiZOP9WHeCrR8ALGktNC/h4EJmhffQ3aLlvqK32WYnFmCzNUroFb9Cbz45e0YBbfAIVRIdfTfMAYdBF5nUytO42QX4eg7VCdqTJBa5p2Jc1ECiv3REGZko5yO[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-72157e04-dd23-4662-a275-8d3ef02a1fd7?sv=2021-10-04\u0026ss=bqtf\u0026srt=oc\u0026se=2022-07-28T05%3A58%3A15Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "c0af813b-2da9-452b-ae14-34b96e6292d2",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95002D2EF1\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:17 GMT",
        "x-ms-lease-id": "c0af813b-2da9-452b-ae14-34b96e6292d2",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-72157e04-dd23-4662-a275-8d3ef02a1fd7?sv=2021-10-04\u0026ss=bqtf\u0026srt=oc\u0026se=2022-07-28T05%3A58%3A15Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95002D2EF1\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:17 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-72157e04-dd23-4662-a275-8d3ef02a1fd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:15 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:cba74482-b01e-0003-157d-a1acc4000000\n",
        "Time:2022-07-27T05:58:17.3226075Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:15.3608364-07:00",
    "RandomSeed": "720722611",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
