{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5dd99621-f20d-f57b-ae8a-0b1c3fa220af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736A4908566\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:02:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5dd99621-f20d-f57b-ae8a-0b1c3fa220af/test-blob-cd244467-ac7d-7af3-c846-046bc79ec6cb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "q4z2tUu2kgBDZlApZAAbek\u002B5deq\u002BEgF6ltuh1qglfp23dyLr6J4lsLIkiRdbyhbHKokcDSnbDJiLex9vFbtXHeizcu3eMJGwlMQ4mojqH8zF2qwfCXB022qJX2x/tZv2zWsup1cp6Pn3a3lko3IPoVxSqjsOOBN4P5eCVdAlMd8pQc0du3h0nPGyJ573Dzf4eb4QLAtg55RXtmjAppMo0jmaO2Gl8uXk3g1JXBF0gC9fitsSFAXTyFk4xQQQtPVdiVRlXdTWU4bYLE79FouD4zU4YBy3Fr4zxnIHbC3g1CkY7NK8DyNaiTdUOei31rLOteLP11PYpXOWMpdizuZZ\u002BFgk5Cq4x[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5dd99621-f20d-f57b-ae8a-0b1c3fa220af/test-blob-cd244467-ac7d-7af3-c846-046bc79ec6cb?sv=2021-12-02\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A02%3A58Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9mbLQY5aovj2THl/0j8NHA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736A4A3B47E\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:00.0477822Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5dd99621-f20d-f57b-ae8a-0b1c3fa220af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:02:58.2175024-07:00",
    "RandomSeed": "1297092956",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
