{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5b963d60-e46e-3cdb-4d33-9c181480562e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701936912F13\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5b963d60-e46e-3cdb-4d33-9c181480562e/test-blob-a4f903a5-e357-7510-060f-3c32ccbfef36",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "id1d2wbZ4k\u002Bd81\u002BbxYFU\u002Bfh8dkoeBWfWKAR2PCMqnZ0F7yxUx2iUzCGpBmSEda\u002BEu0I6T0mlF4R1h7ICYqUsclbCldZV/zGP6KkodP4CUrNV8oDh8E1TYNeo3kC1kWp7fZQOwt/YL7wRqmeffKOFczX/rXAlSoEIbjX/rSDx2VY/rfdp9I/TfMLE0Ebms\u002BQzImsLteT5VjITBVOq2YKbH9AQYM6sG36lLDCtYHo7IbpQy4q05iRxRVfEVu48KKJAKbB11VMVhwfsZYmzTPW31\u002BOYWQ745jmsnhp258WQaQOObTfKxUxnOkODyICavfliDH4Ko86USEJ2yT[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5b963d60-e46e-3cdb-4d33-9c181480562e?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A44%3A39Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701936912F13\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:41 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-5b963d60-e46e-3cdb-4d33-9c181480562e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:39.6059693-07:00",
    "RandomSeed": "264207560",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
