{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-077e50a1-a190-e41f-3aad-505247584a2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:23 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D16D5CD7A\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-077e50a1-a190-e41f-3aad-505247584a2a/test-blob-b3c53303-b139-da9c-8302-af9940d8e183",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "ehoW4Xxy/FNAOMYZ35/4RrhHQ8/xf/yKyQFUK/nahhNDZLNp\u002B12ckDZycwHrgvrkCWng\u002BJQSkvseixd7HtBZZrGy1Xrrj0tbqrOZfgv6n0YGcCKQ\u002BY1\u002BMdG4Sm9FIXFlGQxQOK2A\u002BHkehU7heBTvI\u002BzQdK6uyW0jM6OpM0XbFYlBNGT/qmeZhnepcXQ/nbm8yCaDdKzDt1CfLAQJ1sU0Qm/EoESw8HmFN\u002B03BVf545bq7GoeWKHcfn0UX31ij6\u002BxdC4Ee/x0DNet/T2\u002Bi7H4pkltHupaFerO5yHHm5H7Iqc9hZAo9GiZdt\u002BTcF[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-077e50a1-a190-e41f-3aad-505247584a2a/test-blob-b86a62ea-53ab-cb4a-108e-f4432ba489f3?sv=2023-01-03\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T22%3A12%3A24Z\u0026sp=cuprwdyla\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "d9e0e992-dc6e-dd11-3341-3c9b56ffed45",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D16F15295\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:26 GMT",
        "x-ms-lease-id": "d9e0e992-dc6e-dd11-3341-3c9b56ffed45",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-077e50a1-a190-e41f-3aad-505247584a2a/test-blob-b86a62ea-53ab-cb4a-108e-f4432ba489f3?sv=2023-01-03\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T22%3A12%3A24Z\u0026sp=cuprwdyla\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D16F15295\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:12:26 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-077e50a1-a190-e41f-3aad-505247584a2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:12:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T15:12:24.3589001-07:00",
    "RandomSeed": "1352639234",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
