{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a511d4f-e1c1-9ea7-3eb6-92b6a0d65ab0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:48 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F035462D\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:57:50 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a511d4f-e1c1-9ea7-3eb6-92b6a0d65ab0/test-blob-0d328216-393b-8c28-e5a2-cc1ba9521273",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:48 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "rrPEjrO7Smoqm7gaAhbzLUr5PgiY\u002BqK36Za5wz1LSjy0TXIIu8yLWzjI4qCADYnOr57QsBQK2rQQDKUdAYcs31B8ZrSj6nJ\u002BbeLQzxcCNtwM6hSfepooqnK9964mbVmwnANQBKbVKsQsUUIxOgqdDtXIERZzjGS1VLxC5vLDV/\u002BJHzMTsjI1N8BPcihX9m9nIOnZXVtCPQ\u002Bemq/qk0TRaflDqBrXilyjk9pWIxo8Xl1M2sUJ6fqjRuEjdBeCS6R7fQkuFE5UkJaMNcqB7Bn1YjxSnbh\u002ByH//n2I5sxVEIEc226YQDUkO90kvfbQvIlnILhHbMK3r/LWJLnTsG9y[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a511d4f-e1c1-9ea7-3eb6-92b6a0d65ab0/test-blob-0d328216-393b-8c28-e5a2-cc1ba9521273?sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A57%3A48Z\u0026sp=cuprwdyla\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4/mRlFmRIQ8ygMVtZmIKtg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F94F0427060\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:57:50 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:57:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:57:50.3075424Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a511d4f-e1c1-9ea7-3eb6-92b6a0d65ab0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:48 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:57:48.5786700-07:00",
    "RandomSeed": "1847154244",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
