{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a5e6ed0-50bf-c3c0-d038-8cff2dcf5c7a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019376095AC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a5e6ed0-50bf-c3c0-d038-8cff2dcf5c7a/test-blob-96a1313f-e39d-ffc0-3ac3-f24943a238a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "Z3fhIN7ESlChOUI/6FSRJXkPUwjgXZVkMNQDfLtozIet/AS6yp6d6NqeXavBtAYcTKDqR23KigrifPAKwc6VOGy6ketQ1lrbcmotQv/qonzO5i8afYQa43L62E6tkycMCSU\u002BByIbzHZFD9UCnEcK\u002BNl0PNqeerrnn654Vf4MLt5DITnZq5tZshq51W6vF0cq7990OFdNbY5rVmd0o3Z3OeD3v3oOMEw\u002BGom/5aRLOIhmTmUel/WG9rOqblUz5Q\u002BkQpuOt1jMHL6TNh3NjYjqHx3fDVUQWKHrcMnHY8H2CjV6GqMIvYEwmjGmi2HXuWgrwE83VNe5lOn6okePBbj9nSzo[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a5e6ed0-50bf-c3c0-d038-8cff2dcf5c7a/test-blob-96a1313f-e39d-ffc0-3ac3-f24943a238a5?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019376D2395\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:43 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T21:44:43.3648707Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:43.3658707Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a5e6ed0-50bf-c3c0-d038-8cff2dcf5c7a/test-blob-96a1313f-e39d-ffc0-3ac3-f24943a238a5?snapshot=2022-07-27T21:44:43.3648707Z\u0026sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A44%3A40Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "DD4nCuXYf/Rb0C4wbK1P\u002Bw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7019376D2395\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:43 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8a5e6ed0-50bf-c3c0-d038-8cff2dcf5c7a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:41 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:40.9765281-07:00",
    "RandomSeed": "878541782",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
