{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8da82adc-edaf-40b6-58bf-53f31ce9014f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9505ADABEC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8da82adc-edaf-40b6-58bf-53f31ce9014f/test-blob-036a2cd6-e635-dc64-995b-7bc01ca8063f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "L0K3bhPbvB2Kh4fPgD9GSMZ5Nw2ujNxUSfmNNwlhvW90QCHDErlD\u002B3BNeK1flFxZFTP5onD4kKJlYyUaTYUTKcoXWz8dgjUMNTydYRQu9bSdMyLWZxr\u002Be7B/Xa6UKa3rOU7jRzkcO5L97G00Wy6NN21wfRpiPcKwGN\u002BPniWHeAyOsSjGS617gPeP2XqtyiCB8iZBJKuSiPyLMi5ZjJ1tdnRgpakGxuu/9fwj02NIA06/Dqz\u002BRlRh\u002BygsOxh/IfRZImMFTCR2eys6gS6ub7WYQy/gmn7xbjAg/qqB2YvTQNMIybAAQrYpSJKAxMUlsoxzk/jon4d2aLQz5U569aG[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8da82adc-edaf-40b6-58bf-53f31ce9014f?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A24Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9505ADABEC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:26 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-8da82adc-edaf-40b6-58bf-53f31ce9014f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:24 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:24.6836285-07:00",
    "RandomSeed": "1234150268",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
