{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d15a045c-34b5-340b-17ad-dee4b180aeac?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77362C370807\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 22:59:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d15a045c-34b5-340b-17ad-dee4b180aeac/test-blob-1d592c4e-d566-e7fa-ee20-4d1fb2de58f9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "caE8NT4USSILg3QbeiJWCHZvPXYtaZ9KloUjizM/4EZjTHg80QEwkvEwOYkjzJ/\u002Bzv1Ch9jAPwcB8p\u002B58b3vzKIuty6pGTZ0PqqF/S8VJsnmJL01/FltowxwO99id6EzQW3n9RRxVLTHzUktO0LY68vV0swAudBJwRQhOd1XEsYJUbzBLjG0dc8Ibi4PP2jKl1ATjKTUM4ednjT/TxvXb7uDJOmGFryZIV38\u002BEuhOYGsV6GNQ4UhNR00JI/9tCa0MP5yjBt\u002BQ4CTemtH1zo7\u002B2WyU/d6Siw2Ye/LUfEsnGw3SMdMLqxlLhQg\u002BckZ2V3j\u002BSkqSmEuO[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d15a045c-34b5-340b-17ad-dee4b180aeac?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T15:59:36.2628385-07:00",
    "RandomSeed": "940167948",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
