{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-609e9253-920a-aaaf-79a4-074298622256?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94E8F83FDA\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:57:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-609e9253-920a-aaaf-79a4-074298622256/test-blob-20674ecc-edbf-be1d-7d09-abd19e828b68",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "zp2Nr94ttEzZ87/RQ3SC2Z0AYM\u002BptqnHy8V3mIBHgylS6NJ0TusVn5obRswtTHoIh9I0nSG8vhj0xeQYthzLkXCWf1uhDouy68E1jm/dmn5KbhCtEuUHlSm6f4gH/Oh\u002BT7Rbl8wfZ3lHgrJghzCoFitlzkgLHn6Kjuky544Cqu7Ytz\u002B6gQKyKweXZpAzpw74EWldoS6gcjE20Qni7H/qRdfDiM/w7pUos6JBc7fuVufbOtUlpAnAN0QOhLD4zz\u002BHrCG5cB8\u002BByPTNO6LX/95R3oiB7KqxaHNA1CL4mrkMORjucaWNObInDKyUW8bNNdFlTw21seN3OeA62zOsyW[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-609e9253-920a-aaaf-79a4-074298622256/test-blob-1d614192-525c-1df2-b596-b8ab34d920d9?sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A57%3A36Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "719fd537-a3de-4d43-9538-9d3ced5858a1",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94E9125F51\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:57:38 GMT",
        "x-ms-lease-id": "719fd537-a3de-4d43-9538-9d3ced5858a1",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-609e9253-920a-aaaf-79a4-074298622256/test-blob-1d614192-525c-1df2-b596-b8ab34d920d9?sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A57%3A36Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94E9125F51\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:57:38 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-609e9253-920a-aaaf-79a4-074298622256?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:57:36.5310993-07:00",
    "RandomSeed": "472635309",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
