{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a6328f6-9cb3-28fe-d427-c4c9aa20ee9a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95407BD5FA\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a6328f6-9cb3-28fe-d427-c4c9aa20ee9a/test-blob-41ca0f2e-7348-f361-eda4-d160986a8d2e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "tTZozfTPRIF\u002Bcmp9oo8d10wX8ugoy40YreOuRweIQRjsLbrUlA24B312pJp0n/CBg5XVl6RhpOqpUB8QIf159jFRkXXVSUM\u002BXutrsibyow7zLMNysqlzi4jQKkPtp\u002BV//K5pIg17qzpSlji59fLDt6wRHfQ5B0SH3QbsBR//UbcF67V4iYAAeIGJHxtxupWVDHOW24rxRfRp4kQHjqYbUkWBswo8Sy4sEaVzsOcoFSNxVvmsaHUtE6XBDqY7\u002BOrabs3W8AeKWcBFasrlfpUMQcwhljetbunQU59kez2H8Bi6mEIaUSUb5v04Z/6rSJUQtMzZGWKyLP/jBpxoJt2DvXqx[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a6328f6-9cb3-28fe-d427-c4c9aa20ee9a/test-blob-41ca0f2e-7348-f361-eda4-d160986a8d2e?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954092D180\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T06:00:05.4857967Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:05.4867967Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a6328f6-9cb3-28fe-d427-c4c9aa20ee9a/test-blob-41ca0f2e-7348-f361-eda4-d160986a8d2e?snapshot=2022-07-27T06:00:05.4857967Z\u0026sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T06%3A00%3A03Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qZs5qGuSzDUU5eIuKs1dcg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954092D180\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a6328f6-9cb3-28fe-d427-c4c9aa20ee9a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:03.7616090-07:00",
    "RandomSeed": "1213388174",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
