{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-984a891c-c892-dd6c-d2fb-79732f111453?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:11 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94FDAE5C9C\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:12 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-984a891c-c892-dd6c-d2fb-79732f111453/test-blob-30d939c4-6c52-a1eb-240d-d343c952e60d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:11 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "jFL\u002BYZg3x5pFK2Z5jcvYUB\u002BWVbzrPdUI4ti4fkCN5mvS3wwRdc7QjXE\u002B6yYGchRZNIIkMv0pIk989n7Afkhat0T7pq2/xtpQxsdLrFKuAm/EX0m9abRuqb28lX9PEA8p5DPiC8xmmm6n02s13nX8zfQO/B/\u002BnE6Pjf3vAjFbAbW4IscezPajXcTbFpVJOMpHwMeLQBTvKkjlUn7Pd5g8TNK2fbyu3gH9a59aI4a4RlQyp0Jqz8ChyPd/OHl41OUsn8nDkroNmeHFjtV1lAfCLQwpnM9W0n0RFLTFLqWIhZe5LYS89LOZJQ5gpEHqKzPwvQttTjcW1sxMsn4GSGs8PQk\[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-984a891c-c892-dd6c-d2fb-79732f111453/test-blob-30d939c4-6c52-a1eb-240d-d343c952e60d?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T05%3A58%3A11Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "HSg11yF325qKT9V7b5licg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F94FDBA50A4\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:12 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:58:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:58:12.9035428Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-984a891c-c892-dd6c-d2fb-79732f111453?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:11 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:11.1844338-07:00",
    "RandomSeed": "798966457",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
