{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-11e19750-7b13-6ddb-8be5-0c1769398c93?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94FC97E5A6\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:11 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-11e19750-7b13-6ddb-8be5-0c1769398c93/test-blob-7d38bccd-a2c7-60a9-3798-7a9fa3a6d97d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "C\u002Ba23wIxvO4lDyUzq1qK2cMY1Jxsj0YL8lHG9W\u002BQO1ro0nT7\u002B0LwEhDd2D24naeHQRkefL1akXygq\u002Byxa8Z/lNPKStnmjt2BKMGLjrYJUlWqPrRWcr\u002BcjkD3W09VP6ZKXkRp7VLOobI7nVT7zgLGlliXBiwRKCEULryY7jKNK\u002BkaQTByoGUC3J0BGtVqob8\u002BMcX3vjh6ODYiVL\u002BWNrKArnJq4I3SU/bzlSqOEA1MqYz8Wbxtlm2woAn5T0uma6bqgWxjAMAybN7OBCgO6yco1qoymtz2ExgEukCD2AOqTCmDo46h6anMyu3dnpJEorTh0Xmh[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-11e19750-7b13-6ddb-8be5-0c1769398c93?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:09.3624715-07:00",
    "RandomSeed": "857809723",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
