{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9ae7971b-3c15-02d1-ee3b-4126de18e0e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701930A8399D\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:31 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9ae7971b-3c15-02d1-ee3b-4126de18e0e0/test-blob-01e996ca-7f31-6b2d-a237-abe7e5c4855a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:29 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "aNCYKUgVw3IzPtcxvRi7TZxKD3r50VRA0MShubjoTHI=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "ZotFuCgIChPTdJDplwZqo78wROWnu0GRsgKQ5peK7lXEW5vMCQ9AwovWLrzvRNOczAgntYCgsqpJswYmdyR7SIY7JTtqnZqw74FZ0YyFom0u9BmPYznVI6jwg1UIGktnWuU2sx\u002BYMS5tdsX\u002BRuEexBGY\u002BIMK6\u002BRMZgGSeRpEp9U28namTu5NlcLrIex01t3H0r5DcCLHXG8A6U0eBbcUKc7wyFRrd3UiSmLBH8r42I8jy6dbADeyb5UHpWWgL5AL1vgdgw6JXFtIISXABj2kCBC\u002B\u002BjoQuCiXPVm\u002BY9EQgRvStkjR2lSBmm9LEt8R8mhYYp1U4jRV\u002Bh7Qhka1yviKOJ8[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9ae7971b-3c15-02d1-ee3b-4126de18e0e0/test-blob-01e996ca-7f31-6b2d-a237-abe7e5c4855a?sv=2021-12-02\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T21%3A44%3A29Z\u0026sp=cuprwdyla\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "aNCYKUgVw3IzPtcxvRi7TZxKD3r50VRA0MShubjoTHI=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "0jNJEJxfzV2wxQvKj1D72w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA701930B4056E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:31 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:31 GMT",
        "x-ms-encryption-key-sha256": "aNCYKUgVw3IzPtcxvRi7TZxKD3r50VRA0MShubjoTHI=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:31.9954038Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9ae7971b-3c15-02d1-ee3b-4126de18e0e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:29.5841730-07:00",
    "RandomSeed": "938993177",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
