{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bc7533b7-98a9-6735-fbe9-2fde03be7b8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701939B948E2\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:47 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bc7533b7-98a9-6735-fbe9-2fde03be7b8b/test-blob-dfc8402e-e5f8-3c8c-636d-52dddf1afd89",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "G9dnvUswQIEnHW1J28yLKbE37Smq7l\u002BRuTbn3TYF\u002Bmc4Fuej2F01/v9GuNp3Q2CW4igrqC3T3i141QQVSGJLIiMFEMXl6FBUAu4pYzaFGXbVUPsO2VI6ZTe6KwNYH7ad\u002B5W3cjKbsfnX1qU\u002BqXr38ryOP/dnPUjRy6uNKr1N/OI4jGigzqdDOp8BNgOs\u002B7u8wjhGyuC\u002BNb1M5aaHDYY8idrCBR0SViQUSgRXZQZFJM/v0GeEBjEBeVaqVOgAvCwYxawo6fWeqmwTMn/cZtC3B8HXlzwet4KpwIvGZwI8E47XP6BZHTrZUSb7cdSxJROG80wnKSTw\u002B[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bc7533b7-98a9-6735-fbe9-2fde03be7b8b/test-blob-dfc8402e-e5f8-3c8c-636d-52dddf1afd89?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A44%3A44Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "Hp\u002BFlUoU6gSBzh\u002Bu0/he5g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA701939C5884B\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:47.2086603Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bc7533b7-98a9-6735-fbe9-2fde03be7b8b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:44.8077102-07:00",
    "RandomSeed": "1154741069",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
