{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d9d8f605-ade3-2d4a-290c-88aa71cae7a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F70B0E79\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:01 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d9d8f605-ade3-2d4a-290c-88aa71cae7a2/test-blob-358a43aa-c90d-aa05-fdb6-dae89483460f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:57:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "y9IdE0EPEHg39Qn8CfvEQx9eHKOPDKjDWN7a2hwIB9kbQTGLnsZ5mzIR/RjACaEC8pbJNWeif74pWbtjNDVcLu0v4MjKOaRY5YBxfg6QA0492OiFP9FyecFyYUULFWf9tM8qkCnYN7jxcFDnMQGwmFZsJVxN1\u002B8cvWYGWNdfTc8Zc8k/ZnIlZKAvlM\u002BBi0jAwcnvn/AKr93fDtPC0d/hkiOAzb03cTLjRsG7HUMfmjEeRpYOb67fDsTsX1eeY5LATQGsAb2KiFCWC1gvT5GawHOho4tJ0yJ0oL75SxHaROMu\u002Bs9Bc5hzk71Fd2NWsL4yUZ/k/b8Hd3reN2H/kTw/vMd0AFXCW[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d9d8f605-ade3-2d4a-290c-88aa71cae7a2?sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T05%3A58%3A00Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F70B0E79\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:01 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-d9d8f605-ade3-2d4a-290c-88aa71cae7a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:00 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:00.1612200-07:00",
    "RandomSeed": "458011381",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
