{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-16a36388-6851-065f-d842-0ebe93920029?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9552E35749\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-16a36388-6851-065f-d842-0ebe93920029/test-blob-61bedd07-cf74-d9f8-4860-2d0a371e9b8e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "FYpWokwDodI\u002B/igXpuNtveqKOY2LyhCY\u002BGy0KLjanK3YeiFK1LpaBDzsI3Wn4TJl8nAgreQNAkp6vqrfTngZY2F6PyzBIugvLzVRn6ea8BY5TzVHuu/Jy3fXzxYPerXD0r8TLKIGo8\u002BI8H2uvGOi382Tpv5D0alysXO06lPSILR/jczoh8R0M6xlv8lyGg4UNPBIe9S3fwEVoXsuUbl8tdDILi6XulgJH3JS3hLgAJZln7ZiiaTgyA3L0\u002BVIRuLz6An4qevgfXqXP1xiZKHuNaHkybECGiws6GUgy\u002BdywNiQXvUI51aqhCI8yklHfWNs3J1EZHww8M7dzMGGv7G[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-16a36388-6851-065f-d842-0ebe93920029/test-blob-61bedd07-cf74-d9f8-4860-2d0a371e9b8e?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A34Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tMwOpkQGIIyp37uQXUvhpA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F9552EEE001\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:35.8543361Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-16a36388-6851-065f-d842-0ebe93920029?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:34.1250022-07:00",
    "RandomSeed": "525790595",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
