{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-212b73ff-88e6-26a3-b9e7-ddaa79cf907e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F953DF192C6\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:00 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-212b73ff-88e6-26a3-b9e7-ddaa79cf907e/test-blob-8cadf8e3-4412-c21b-33e6-092bcb056db5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "VoslEmVtzQYrLAq8x1VjKh2GOzuILtGIK0WqYCUdl6XhXfc4abfxAW9AN39z0JL/I6gM4TUM2ie5nOcfw23gDZVk2mpeK8FmlDrMR/ZRFVqyqz19ELZw1YLPf8zP0T0CYCnqDvYooPjmpkz6QJMwZ4eMbRgwY/3e8wXnjqz1lsL8yefNZwZkiQpElmppdpTvnhdEQmQl0v0rDBvwQRJM8Q\u002BK/XasYwCAKOMN682TdH1x9\u002B\u002BUsFRe1vfpoVrrc0j3\u002BKRa33gdQzsXxBqAGOcwmJeef0kit0C7LCd/wsGllbSaFfIoOJUEU7S0fOw53b4PuQnDTPT/1UBjn7JRnYF6ci5m[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-212b73ff-88e6-26a3-b9e7-ddaa79cf907e/test-blob-8cadf8e3-4412-c21b-33e6-092bcb056db5?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F953DFE7E12\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:00 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T06:00:00.7994909Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:00.8004909Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-212b73ff-88e6-26a3-b9e7-ddaa79cf907e/test-blob-8cadf8e3-4412-c21b-33e6-092bcb056db5?snapshot=2022-07-27T06:00:00.7994909Z\u0026sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T05%3A59%3A59Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "4WAetTnJN8SEhng0aNRUPg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F953DFE7E12\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:00 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:00 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-212b73ff-88e6-26a3-b9e7-ddaa79cf907e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:59:59.0700967-07:00",
    "RandomSeed": "1676627533",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
