{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-19b66b7e-76f9-e89e-b1c8-1029646e1ccb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954138A1AC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-19b66b7e-76f9-e89e-b1c8-1029646e1ccb/test-blob-02a4bf9a-403a-6c3a-d75d-14acdd9f1a9b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "QEnvDnE4iREactxr1Va5aN07klbv0LAXVArBVRvfEyuHNwflWNxjXoRtMajID07KAuiU9H6weXCY17lmdjP2O16w5J1P1A8A1zTRgZ4IT0W791MzSx6t1r2WTIEj/edRd/ZJGCuwey3YlB1K3/jRkIh0qn7gwu8/Ag3guIiO3dpMgAqovjYaC3wlWrcBY/fFxbv4rlJpcbQGChUd0MOlSbZD/V7tKdJSWp8Bumg4Pp8WGvLMlS6H4w9VobQg/Dq5gBEAvWWY15zpplSyZ7ZMzst1BrbQ2bOIvBlPmIcdMV1kSDpWOIE5fkJV4u/a1XtYCdPoqvaE6KddeAFMSD8Vy3X3TR989ZZKPIhzevbEruae[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-19b66b7e-76f9-e89e-b1c8-1029646e1ccb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:04.5081410-07:00",
    "RandomSeed": "618900283",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
