{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1dd2b098-d7ae-b973-528e-7818c0195260?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701981E86F90\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:48 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1dd2b098-d7ae-b973-528e-7818c0195260/test-blob-2217b0b8-3b95-25fb-506d-8aaf80a95886",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "wD79skxSc1NM962re1GdvJCuEbC1q6TfE6ivftK2B7nWcU2I2LxcZTzD1p2OT6r\u002B0M4e0pio0BSaHp6ko/WBlvDz1AkDFePTUqx08dQGUMP9sK4ElzQhLqA57bket8FGQkCtm3qg\u002B7rqS4DrM98/lM7apvNHfP680aZoyigptZrrLa\u002BUWbRIXbXzGky0NvrB\u002BVnrQxHN/8VB8MnUODCSwJbl/wYvqzsZkUk\u002BU2KyB5urp9HOPnGIHi3pU2jqdCSEYFq2zjb0kU4e0bHIjqxjjukuKJBfw4EkXeHYRlfSLh0kuvIH/DhlthWDsGzAwI\u002BBhsR/vEuUJZzYkn[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1dd2b098-d7ae-b973-528e-7818c0195260/test-blob-2217b0b8-3b95-25fb-506d-8aaf80a95886?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A46%3A45Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "F8DRLgp5tz3AdpYKccjrWw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA701981F81AFC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:46:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:46:48.3360508Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1dd2b098-d7ae-b973-528e-7818c0195260?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:46:45.9258410-07:00",
    "RandomSeed": "703361029",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
