{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cc5359c7-3508-9cdf-f213-6182d13687b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F955345B430\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cc5359c7-3508-9cdf-f213-6182d13687b1/test-blob-539f387e-74e3-d1ee-e378-46080f1dabdd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "a1WPfCYX0Zru99Ix3u29yQuwQ7h2VCh\u002BZj6NaOaqG6wFOhzHLHhPZ2cEZeuhvPP1u338X9ryZhctERXoiWm0Q9wmK6PR9Z2TYNtRcu483apKl6xprrzRE9QEmhtjZt3\u002BTyIPe5FPJMXfaf7\u002BoPMp8DRrnvK8S5UfVBjOzFqCL/r\u002BUyLMLWEY\u002BnPniUS\u002B03Lg26rn\u002BMjrQgSN7yd4gFdrXToE/03RXcLSUqN\u002B1MJRYYGm7vCvmzcxExEePj46oHkcfCwJudMkD37oFKYlbG1CPI2l0ZJmu8EC0uw8sh6Dl7EpYliVR6etgt5yx4aRDKaj3AKx[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cc5359c7-3508-9cdf-f213-6182d13687b1/test-blob-539f387e-74e3-d1ee-e378-46080f1dabdd?sv=2021-10-04\u0026ss=qb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A34Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "7Upd6QvYcvwJNtA4O28NeA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F9553542297\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:36 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:36.5179543Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cc5359c7-3508-9cdf-f213-6182d13687b1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:34 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:34.7881649-07:00",
    "RandomSeed": "1126881669",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
