{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-975d8927-d36e-7a00-2864-c250059eba82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:53 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70193F0049AB\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-975d8927-d36e-7a00-2864-c250059eba82/test-blob-20dccd4f-03a2-4bf2-fade-895308f01109",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:53 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PSB\u002BCKZ98eMRLQdz1yqMah1ZwZtDB//OCqxCs6DbJger\u002BibSJfTL0dv4DnT8fnTQUR81ry51xTUgsP76Oz5DNgf/yNwEuUQpje\u002B/SviL0Ys3cmGBpXbYNTTxsnX20ZadtNht/LaXy5jaDCE/tXs8ld9ywsncwpCQJ5KoEwbOM7xZIpUfHtTVoKbIpplVmH\u002B5tB2Wgw/MwPJI3NUj77iRC9ll5ZPlHHcKnSEjExv3O44T7l7pOK\u002BtjGGi10H\u002BsbHtN5u/8LLs05imi\u002BXtqazXUaBGEABap9Mpt1gxQkU1DOtvNtyAN0vbJhvGQ6zKv\u002BO0y4ah[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-975d8927-d36e-7a00-2864-c250059eba82/test-blob-20dccd4f-03a2-4bf2-fade-895308f01109?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T21%3A44%3A53Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "m7bGiof1FmPzM/yL1wBBWw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA70193F0DC086\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:56.0705670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-975d8927-d36e-7a00-2864-c250059eba82?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:53 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:53.6594481-07:00",
    "RandomSeed": "292557767",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
