{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7d73358a-b686-9249-2f10-f130290e231d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94FA496AF9\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7d73358a-b686-9249-2f10-f130290e231d/test-blob-3baace12-c50c-eaa5-c163-2e5a7cd40c62",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PxFfZWEMXIsgcm6zsS0gbr8QvFIXX1twRBd57fMZLJoSUtxgYOx/Z3lso1AbH6pY9508w7hum9\u002B27iFKkm\u002BXB0XUoF9QwA3TkVTZqrwLVSVsIfVW3GnhpLb8qnHLNNUK1JwKR35LBzePaTFjlfEjqpn73XB5QSrb8vyoVBWbCFx/ztUfAA2nIRq\u002BxnM4fg7E2P/Yz1dkkJNyL1WBorMh82HU48YbBKqLVLxWu3q3onPu5HsWwzgFGz1BrNC4Jn5mnNIRZJpIqdRUTHuaDdQYu4zhk744CzAozsiI2VfZ0y0\u002B7x\u002BnpT7ZpjumwXe9ag1oKfFE15PALpCi6ZXSv89[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7d73358a-b686-9249-2f10-f130290e231d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:05.4811113-07:00",
    "RandomSeed": "718103322",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
