{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-598505fe-41a1-9f31-381f-58d236ac483a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736C176C472\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:48 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-598505fe-41a1-9f31-381f-58d236ac483a/test-blob-89c09ac5-cccc-45c6-1907-99cdaf84202b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "yDun5AVb\u002BxD6w2K0kaBjf0Hy5\u002BRMzVBei2LUN1NOF4Vl\u002B4Pgmq2aap\u002BvjglqErN5pBqMvJw73vvqSVmjhsS9rKvcT5YcguSTWH1FnT5G83iuW5M5wlvoKR2I9VFU9\u002BPa8uJejcMdXCE1\u002BGQe9UC8pFXg9Cowg\u002BpQ8yV5k42TP2Gaaqtc6Ga1kf5yBMn2yjTcy1H8dAK4qm74Dpmeo8mTorkChIqVYLvvK2Isvn8gWSnwncc8l8te4cA8ZNrMFu013mIQ9EWqRmuVDEifjOvv17VvrQYBVwrto6PJWPzhIhR19uAdD2TkRlZcpoqCv1TVTYwlXGnmM[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-598505fe-41a1-9f31-381f-58d236ac483a/test-blob-89c09ac5-cccc-45c6-1907-99cdaf84202b?sv=2021-12-02\u0026ss=fqb\u0026srt=sco\u0026se=2022-08-06T23%3A03%3A46Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "dmGg5EWROCWKrNA0c0DmQQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736C189FA84\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:48 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:48.5331076Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-598505fe-41a1-9f31-381f-58d236ac483a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:46 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:03:46.6842428-07:00",
    "RandomSeed": "1721630608",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
