{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-400b1e69-8a8b-c00e-e967-5e7ad75e5739?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9542773487\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:08 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-400b1e69-8a8b-c00e-e967-5e7ad75e5739/test-blob-18702216-3495-955a-4e7d-9b2673cd616d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PeAlun2cEg\u002B4mqzzkaCsCYnYKTsLEukfwkxsqQqgQeA01PIBdSDCeRBgYPqIZgOu0ZGdmqQmYir2BfgwMGgEF1jMvryuq5RoFa8qqrLul1tIvth5A6Y8DnHHCm8nkUmoXEiivKdGACX8NIX0\u002B7h4CG6d53GQihSxj7BL5qEkQYRlgk1pTNuzAr6yfM4hRxO5TwIBiqrXGNE08Cz3\u002BxmE2PMAjnhqDruS6eWz3Q5Gj0ickZefI7bZjmp7NVyvuwakLqTaILibTkBGbqDEJDrD7mDkW2qC5bQ8JwAO79hf4y3eDq9pa26PAUJXWLQWFWkvt0f8y2CcIkjvnfm3jF9n54ty5RWLW[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-400b1e69-8a8b-c00e-e967-5e7ad75e5739/test-blob-18702216-3495-955a-4e7d-9b2673cd616d?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T06%3A00%3A06Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "IQIBYUI3rqHLO0\u002BdZ2eJjw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954283F814\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:08.3101716Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-400b1e69-8a8b-c00e-e967-5e7ad75e5739?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:06.5801746-07:00",
    "RandomSeed": "67917858",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
