{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-436ef3ad-7e9d-6f6f-704e-98810e7ffbce?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 22:15:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D76F3FBCA\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:15:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-436ef3ad-7e9d-6f6f-704e-98810e7ffbce/test-blob-78398776-3d83-171e-fa07-d3d5674ea4e2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 22:15:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "Uxm3\u002B5gFgiySeteqnf3TS/Q6qkNUg/uL8877REansI5jFah6a9hDcAQN5Qlmc3n9NIjgLKRgjs8eLAfKCj3l68lIR4hVWd8b9jk/Rp3yJIBU/RC\u002BxoTpA4bYWz/QeWXGJ/k/HSzxqNuoxDVqIUcyKweHdQwtJyVFX0MBfP2gS33TeB6ksgZTY1U1FgFOf\u002BE\u002Bpi83SQRZmQDT\u002Br7o7yvdB3m4lqkpjXkBMxG29xAj9\u002BBhwtbNaQJ4et4e0bdHanMqWA6Ileg4FRi2NRXyoqLvrwPehyxUEJ53PxzKCrvBucmejJ8Bm2H3KK29FzPshtg7LiG0aeNH1khwEV[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-436ef3ad-7e9d-6f6f-704e-98810e7ffbce/test-blob-ef852461-002a-debb-8093-220bcc0c59dd?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T22%3A15%3A05Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a5c2c237-1208-7d2d-8ab8-e301d2714e1f",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D770D8D27\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:15:08 GMT",
        "x-ms-lease-id": "a5c2c237-1208-7d2d-8ab8-e301d2714e1f",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-436ef3ad-7e9d-6f6f-704e-98810e7ffbce/test-blob-ef852461-002a-debb-8093-220bcc0c59dd?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T22%3A15%3A05Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701D770D8D27\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 22:15:08 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-436ef3ad-7e9d-6f6f-704e-98810e7ffbce?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 22:15:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T15:15:05.6262320-07:00",
    "RandomSeed": "1980208243",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
