{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2131cd34-bc64-9618-589c-eb3b5f143e83?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950F39F03C\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:42 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2131cd34-bc64-9618-589c-eb3b5f143e83/test-blob-e4e72380-6191-0868-a2b1-0bc5788844cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "kg6FesRo211Qfo9VwpENW9DkDy\u002BjJUxUfEYz9ugkPKJRnAdkNVOaGEeKlBLRE0URo7D1k3kVKm3CMP1\u002BNOV0LEHtBCWJqCV8SvfnGZE5g2kBIlI4LqkpPHKaogVWHONhFWfR5A4gh/uLeUiCLRHbiK2TfRKTPP2Yw8ez7wUgJS4ThgMpaJ5a4JpWrbVgpw5gvhpXwp/RztlqOCBHbZj1alMabqcNsiAOOJx3PY5IOBy4UjDryGOPQbcqvi9\u002BE3MCYEJhRThnUwz5SIkCWpBKIgADjhtoCqHwiy3v4/PwkCUpddxM5/LkUf4k8X/ZjOcm35wueoVXmVahcLoKeG8YCbhk2OW0/[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2131cd34-bc64-9618-589c-eb3b5f143e83/test-blob-e4e72380-6191-0868-a2b1-0bc5788844cd?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A40Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "xKdZon/h09p4fcFeFzFrpg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F950F45BFF7\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:42 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:58:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:58:42.3386103Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2131cd34-bc64-9618-589c-eb3b5f143e83?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:40.6104079-07:00",
    "RandomSeed": "1644124258",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
