{
  "Entries": [
    {
      "RequestUri": "https://seancanaryversioning.blob.core.windows.net/test-container-ce7294d2-21ef-30f3-8bbe-197a0e2b2498?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65AC81826DC3\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryversioning.blob.core.windows.net/test-container-ce7294d2-21ef-30f3-8bbe-197a0e2b2498/test-blob-64d0cc96-74b9-ec02-9f3d-e753146df19c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA65AC818BF8B0\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-14T15:21:20.8570813Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryversioning.blob.core.windows.net/test-container-ce7294d2-21ef-30f3-8bbe-197a0e2b2498/test-blob-64d0cc96-74b9-ec02-9f3d-e753146df19c?sv=2021-12-02\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-15T15%3A21%3A20Z\u0026sp=cudypafitrwl\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA65AC818BF8B0\u0022",
        "Last-Modified": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-14T15:21:20.8570813Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryversioning.blob.core.windows.net/test-container-ce7294d2-21ef-30f3-8bbe-197a0e2b2498?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 14 Jul 2022 15:21:20 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-14T10:21:20.5499713-05:00",
    "RandomSeed": "162155991",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanaryversioning\nU2FuaXRpemVk\nhttps://seancanaryversioning.blob.core.windows.net\nhttps://seancanaryversioning.file.preprod.core.windows.net\nhttps://seancanaryversioning.queue.core.windows.net\nhttps://seancanaryversioning.table.core.windows.net\n\n\n\n\nhttps://seancanaryversioning-secondary.blob.core.windows.net\nhttps://seancanaryversioning-secondary.file.preprod.core.windows.net\nhttps://seancanaryversioning-secondary.queue.core.windows.net\nhttps://seancanaryversioning-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seancanaryversioning.blob.core.windows.net/;QueueEndpoint=https://seancanaryversioning.queue.core.windows.net/;FileEndpoint=https://seancanaryversioning.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryversioning-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryversioning-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryversioning-secondary.file.preprod.core.windows.net/;AccountName=seancanaryversioning;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
