{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cdcab256-66fb-16b8-d36b-8fe85a62ab76?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:02 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F8945A85\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cdcab256-66fb-16b8-d36b-8fe85a62ab76/test-blob-f09612e2-55be-9f3c-d1bf-425bb2e4ca5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:02 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "ii8bADEExYvMy8ttbjlaw2pb8jnd8KF4HpHV8nnGCH926B2BrDUn3UwKI/KJzjGXZH7xV/GRgpmNouKfL9MRBsNL9oUb2Rc0MxXt0syu7k9gPo371LGN5WWE8wlTh655\u002BB0vPtere4tmvSPco7DM37SSP/BFFjESvRAgl\u002BUN4Ktnc9mvfrB3tMIClBeNsUG1txRVwUi9NOLsHYDGi\u002BSlWN13dDDWHWADGosuQoEahAzOat/RuB9jqj/3w2EwsSjdXTs5FjwR35qzUqa9jvFg0Zh0\u002BCEE06C\u002BE8rx31r/02liUOVF4G7PvYpEHmZ4phtNlvHIvLgH2YmbewJyH/9[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cdcab256-66fb-16b8-d36b-8fe85a62ab76/test-blob-e43e6544-3cc3-f869-adf5-c3d45450b715?sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T05%3A58%3A02Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "02b0f1ad-6479-444c-9492-14b0e58ef9ce",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F8AFB4C5\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:04 GMT",
        "x-ms-lease-id": "02b0f1ad-6479-444c-9492-14b0e58ef9ce",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cdcab256-66fb-16b8-d36b-8fe85a62ab76/test-blob-e43e6544-3cc3-f869-adf5-c3d45450b715?sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T05%3A58%3A02Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F94F8AFB4C5\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:04 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-cdcab256-66fb-16b8-d36b-8fe85a62ab76?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:02 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:02.7153924-07:00",
    "RandomSeed": "1272911346",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
