{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-510f6091-ef23-9dab-3f14-53f7995b294e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:07 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA77361B7C4CE5\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 22:59:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-510f6091-ef23-9dab-3f14-53f7995b294e/test-blob-de6db3b3-69a6-85ae-b704-a5abd907c5cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:08 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "21aLOpl//epNe\u002BO8Qr8oa5gpBf6j1xH\u002BFqo8/gaAfbd7UhAeR0KQcpzNA8E9zIBJqDP57LDstwNFjSTuQv/kzP4sQPCuCiRWmZNi1tRPwUkq81bSh5EGjpsN2boeoS\u002Bd6DbDEIuQmp0Po1IdiuAv9czaw0\u002BpEUVtJrJUoTFpOPdjxO6djLC9mli4w\u002BQ\u002B6QS73ePtQ93g9NfxVurZO/hspWtaucbxkmgbHCn28E5hLjytmcNNfPQZg9AWqzbF415gTB154y8\u002ByUt70Sa06gOIkCetK6E0Hil2QTb12uYyVjjLlqQx6EoNb9B40qrNZZjMjhsOGLe8K[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-510f6091-ef23-9dab-3f14-53f7995b294e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 22:59:08 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T15:59:08.1680459-07:00",
    "RandomSeed": "347680563",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
