{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a649ebe9-5011-c509-659a-a09912a47d55?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019806CB4AD\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a649ebe9-5011-c509-659a-a09912a47d55/test-blob-38f17273-efd5-5d27-72bd-fc7b5cbf5586",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "cSdcvJGruU1l\u002BgSST9LzqsrjZL8bKbqeh0LIo72Bn5M=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "6XPwO6Ze0vGtu5wS2zq\u002BFPs4ut6negU4hn\u002Bd/ZCwnChi/G357nZNFZ8AihpTFYI3/ueAJAV23m5uuLQnwdRh/R5zr97NxSaE66U/p/Dq5XH9Zf\u002BoL3gj6x7\u002BizXBJlTKnoz832WjajnB\u002BzhfNzd\u002Bg9NDKVvVuc2lUMPAzjnww8VRdAhj7gULWfrF5jQ/w7Tnfwhifvz49eW/Vo6h45v/0ThzDsIuG5TNN9BgD9OZZY0P2E8xjUTIWX4jpJh3aXZexRT7zLXxuGRzlEYrl\u002BYSJvABkgpMzkPzqrVECnb8Vs5ZAUm\u002BnZnXHR/qvfn\u002BnMGYEX6ndtZrEvfQC[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a649ebe9-5011-c509-659a-a09912a47d55/test-blob-38f17273-efd5-5d27-72bd-fc7b5cbf5586?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A46%3A43Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "cSdcvJGruU1l\u002BgSST9LzqsrjZL8bKbqeh0LIo72Bn5M=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "F14HoRYFfCZVX7yIKuv2zg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA70198079C986\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:46:45 GMT",
        "x-ms-encryption-key-sha256": "cSdcvJGruU1l\u002BgSST9LzqsrjZL8bKbqeh0LIo72Bn5M=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:46:45.8304902Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a649ebe9-5011-c509-659a-a09912a47d55?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:43 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:46:43.4233290-07:00",
    "RandomSeed": "1732216347",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
