{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-45137521-deab-644b-7706-7f75d3a4616a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9540FB0571\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-45137521-deab-644b-7706-7f75d3a4616a/test-blob-d7df7625-3ef7-13fc-f619-317ba2143051",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "uMZqFw3P/lxv5zhBKJi\u002By2XDhos8/TwxdMA21mUUbIcpY/reQImuIEkL9Ean1B6RvJSM/P\u002B0FbqJOaJNmCj2W3uwF8Sd34rbFGVBMQn2iZ\u002BhpRrRh2\u002BHdU5AVQfnYYghFJnK9rxZ89wJseeacuOwk68Cq/INJdMLKaJ2XYqD87PdIB1wLJPiR7E\u002Bx9aI7QJqkMFX5bWVE\u002B7Fvswa45ZRhb00vFHGQGYbH2RBz179gzygDM3IKw7\u002BRwwuqm3GyGQa7EIYVDCwo09bO8VRU0SQyDqQedbJiFmvNXVFmJb4VVb/J\u002BIb5C8L72l9bfBJrPPInuEz[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-45137521-deab-644b-7706-7f75d3a4616a/test-blob-d7df7625-3ef7-13fc-f619-317ba2143051?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954107541A\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T06:00:05.8935615Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:05.8945615Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-45137521-deab-644b-7706-7f75d3a4616a/test-blob-d7df7625-3ef7-13fc-f619-317ba2143051?snapshot=2022-07-27T06:00:05.8935615Z\u0026sv=2021-10-04\u0026ss=bqtf\u0026srt=os\u0026se=2022-07-28T06%3A00%3A04Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "JsFjh9bUISY8IZR0xDevLg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954107541A\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-45137521-deab-644b-7706-7f75d3a4616a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:04.1634573-07:00",
    "RandomSeed": "1156882611",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
