{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d2d6f62-d286-7f66-76bb-a1261944907d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:01:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773660BA7F00\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:01:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d2d6f62-d286-7f66-76bb-a1261944907d/test-blob-401c6a0f-8463-e02d-6f7d-658ea1cc538a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:01:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "tvP1j7BHf8Z9BRzlMSYSjTXsi8HQxEqsXLPZgIg\u002BniRSxiKqRTOUx\u002BtVw11oSK9Ia9hZtEGSuvGpSDL9bv4\u002BPmf3kmoDZ0cBWMPVegHsRBQEkBWv5enjwAwxAf0AllnsF4T2cLVERAORV1x9vD/vvAQe\u002Bd3ojll9FNJd0mVJAcFp6WN99dNev0sSHo2NZQPNQkX44Z17BIgqeFvj53KeR1WbE9PbccYwwDqS1nDM8K/OkI8gUR8k7uTbU313etjZc9Y38VEv8tB\u002ByCFj6S0YXoisFFbifvY2dyXu/x5JuUVhuGKZlP5dn56/oYj\u002BwAW3w/X1ymWB9vXgAX[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d2d6f62-d286-7f66-76bb-a1261944907d?sv=2021-12-02\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A01%3A04Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "a5ed890e-6cdf-d4d9-dc8a-7dc9f4d939ab",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773660BA7F00\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:01:06 GMT",
        "x-ms-lease-id": "a5ed890e-6cdf-d4d9-dc8a-7dc9f4d939ab",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d2d6f62-d286-7f66-76bb-a1261944907d?sv=2021-12-02\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A01%3A04Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA773660BA7F00\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:01:06 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-2d2d6f62-d286-7f66-76bb-a1261944907d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:01:04 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:af16018a-e01e-006c-781f-a9a637000000\n",
        "Time:2022-08-05T23:01:06.4099058Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:01:04.3256542-07:00",
    "RandomSeed": "827915063",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
