{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-565c8776-f6f6-2584-acfa-263b80ceed40?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:01 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F953F884ADC\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-565c8776-f6f6-2584-acfa-263b80ceed40/test-blob-b5ba2625-220e-57ef-5bdf-bec71c51da0d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:01 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "AamlX4rN9kg0SIgr0VrF8w\u002BoHRM7lMqnYP9WVUe5WFw=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PmfAV5fWe94ngoBtZlUlEidPLBeAL3W8E/RNN/OceybsIudLq5Z5TqrbjYuhgfEFuqygzCXDjQ7xA0SiiUTrigdagENu2WaR1d5spaLqGpEDR3xH\u002B64BKZXZWqdR18Vm7wKDRwGtl\u002BBFD/ZGV\u002BhsBumyn0HHpI5YWFaulH\u002B/P/4ZBbWfZ9OQVrCcAey4utKtbVO\u002BnzeDnkpzKu6r/gJghc/3LVEyzZ8VIkiQK6KioJ6DAScsAZ/GlWdrKzzk5FetO3wcwIyBeqC0qH3u83On0YpQJ/3bNIQwMJfqx6FiMT3x4u8mheARAoaHd1ki16Lzw1mylL1a0gf47I/0l7P\u002BUXY//RCD[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-565c8776-f6f6-2584-acfa-263b80ceed40/test-blob-b5ba2625-220e-57ef-5bdf-bec71c51da0d?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T06%3A00%3A01Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "AamlX4rN9kg0SIgr0VrF8w\u002BoHRM7lMqnYP9WVUe5WFw=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "8d2J\u002BoCUXki4zSZtpxHtcw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F953F94249B\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:03 GMT",
        "x-ms-encryption-key-sha256": "AamlX4rN9kg0SIgr0VrF8w\u002BoHRM7lMqnYP9WVUe5WFw=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:03.3840039Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-565c8776-f6f6-2584-acfa-263b80ceed40?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:01 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:01.6535715-07:00",
    "RandomSeed": "416934361",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
