{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6d92be09-b306-3462-dbd5-f93cd1b4d99e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9541AC130E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6d92be09-b306-3462-dbd5-f93cd1b4d99e/test-blob-ca83e669-ecde-8417-54ef-813565e1f7c7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "FeM2YjBjfoWOPfbZPOKzccqhwJtGfxzdYfoO\u002BZQnYZt61mqdM6gnGLfnzEQryHqhm30\u002BUBoXWZbHWQA1VIXwZtxbXmV3FT4ieqfkX7LXspiAbV4X6RGAYn3T1tqn8cQx92Vo0GoUKYU/G9ZzM/rj76Zotecm2H3L2vznpD9jeojjsmdNb\u002BIua0PZ2M06DS\u002BD7\u002BYzPzzcCx7nnfVuLYVF26FOkIGSloDEOUmkTQCwkM3MZLRYMDtLB6ZJZdLswD69k/0s7H2t8FlmbgXzN70eNwwoocjR7apmAonaSTGu2HkL57kChKRPH3Nb8cE1WM/oKi3Fwx9166ZSxun00qc[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-6d92be09-b306-3462-dbd5-f93cd1b4d99e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:05 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:05.2475586-07:00",
    "RandomSeed": "1039804796",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
