{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bf8f2abc-219a-6970-38c9-b995af1bee8b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736B5AB910E\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bf8f2abc-219a-6970-38c9-b995af1bee8b/test-blob-78c7b042-580f-a230-a142-5902306f7a66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "O\u002Bw4//OWCSfW/6c/8WdIyL\u002BAvj0KFr0Ef4W2PtmtLGoLweYXZdh9q6afoRCw8LE6\u002BpBDsLE9XCQvM4Bu4MtOKNM9NC\u002BAMGPnAhKWanSsU47Te0NJanu4zWXB6DFXD8rbUXg9cryBucosW62epvKwguDxmmWIBL1XhGbKv0cyj/NHuxj8b\u002BDSUsF4HQ/NGidyEWZQZnRlUk265u5Vt/qC\u002Bcy6VurZsxIAH0ijD\u002BeuiWo\u002BV63h4il\u002B4mjLQYnyfJvH9SNDE8Q8mV1TUEYswkNlDFyEFl9MoBeiO3SCDnKJDaOt2xnEa3WlAr5QjpHiUh8[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bf8f2abc-219a-6970-38c9-b995af1bee8b/test-blob-78c7b042-580f-a230-a142-5902306f7a66?sv=2023-01-03\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A03%3A26Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "qUrr4vcW9Br/seD1khOnxQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736B5BF6079\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:28 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:28.7503993Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-bf8f2abc-219a-6970-38c9-b995af1bee8b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:03:26.9035636-07:00",
    "RandomSeed": "1110100551",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
