{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-944e20f9-271e-5ade-6185-b0ed46e49d10?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736B4F6DA93\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-944e20f9-271e-5ade-6185-b0ed46e49d10/test-blob-b8212176-1cea-7e10-d178-d21716a1b18d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "2sL2qJljR6gq7Ogzkzi8rKXVQ8xIWuQPp7gLfvqR9oiypsvbvjdBRjHzGD8pk7sKCqq/lt9rpH/d5gDgV8mtmfVfgOxt4e5ulP2bVUKl5hP9AXRQ0WCoRwJL/tc2YO9oRX5JyRPPnCi7UAHi0E49N//s41ZVXceUtznqIuMXODQOMw/DWx0ALmRLlIFexXazDcbXSXyYE\u002Bi3tBHa5HpFpBjN1J0\u002Betvh7LXxCchGNvHCNxQdP\u002B63dSAnDKcMJknqBvBokfDZdJLq9V3GpwkgcH4fF61lKGQqFV98F2401cVsBgPX3qQB6MKCMkmQ8c0WB5so7A6chd6LPXuRXFwktiCXWqEGS[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-944e20f9-271e-5ade-6185-b0ed46e49d10/test-blob-b8212176-1cea-7e10-d178-d21716a1b18d?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736B50A5BC0\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:27 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-08-05T23:03:27.6800117Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:27.6810117Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-944e20f9-271e-5ade-6185-b0ed46e49d10/test-blob-b8212176-1cea-7e10-d178-d21716a1b18d?snapshot=2022-08-05T23:03:27.6800117Z\u0026sv=2021-12-02\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A03%3A25Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "YWoHSp7/4Qn/ZTmZczW3LQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736B50A5BC0\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:27 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-944e20f9-271e-5ade-6185-b0ed46e49d10?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:25 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:03:25.8273533-07:00",
    "RandomSeed": "1647388607",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
