{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9da9eddd-0ef4-1967-64b1-34402ac0c558?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F953B85337C\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:56 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9da9eddd-0ef4-1967-64b1-34402ac0c558/test-blob-9058e506-72b5-d2a8-4d61-ffd16735cab1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "bwXu\u002Ba4EcTaDVEgM7OyYX8ijK2lasHjgiD9zhkm14jIVbEOpUGFVAXQiDWEpnOZgyaAIwwphV7\u002BNDnFukevsznEW93\u002Bo7g5mTin0OKMXtuxZE7yprB8nsxWEHELv53CJNT7vE6Rmt9qRoXXhbB4bdVeFFH4uQiJS7kNqJNLMd2a5awJkJ6NH8lviFwqpRkf2aKbqatLxWvMcnCRh/JMIxSoOKAAct020PiIiSyoXqaf8c7sr4Q2UxxAPSIp\u002B5vXI2VLfmh5G2rFYNiuvzw/IBfN8ZInY3eMdemDwDW/CNVcsWnLYNw6JtZgJ0qvh5PcBRkKXAYFs8PxuwiC9Vs1ClQDU[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9da9eddd-0ef4-1967-64b1-34402ac0c558?sv=2021-10-04\u0026ss=bqtf\u0026srt=ocs\u0026se=2022-07-28T05%3A59%3A55Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F953B85337C\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:56 GMT",
        "x-ms-blob-public-access": "container",
        "x-ms-default-encryption-scope": "$account-encryption-key",
        "x-ms-deny-encryption-scope-override": "false",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-immutable-storage-with-versioning-enabled": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-9da9eddd-0ef4-1967-64b1-34402ac0c558?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:59:55.0031799-07:00",
    "RandomSeed": "630734925",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
