{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-28c673e5-4763-d3da-32e4-4fc2743aa616?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736A99026A3\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:08 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-28c673e5-4763-d3da-32e4-4fc2743aa616/test-blob-952667b9-bb43-29f4-0b58-629f38402bab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:06 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "zuRgfGXs9ogCjZXVR07T9IPRlwfgxnUPeZchh3zC0xI=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "OfbGWRsh1g8kE0oPrpxixEpxm/8gdpHp7qooSvpuzfk9bF7kXMdHl5EXcS9w5Htv9p1UxqUsisNk3Gpx\u002BYsUtUZR0kE9fmiDKQNtCQVheQkvuFRdGQZUEOGbgH9c1p4FArvpHxI5Mng10Zyiv4C9AmNgQkE3t5w//MFfov3oJlNlZwdKeFr39YXcJ0dpsVFg3X0b\u002B5NczkofqiJR2pB6TatJPVd5c4oJaU27WpBU1Upv/sR/zCq/CJi8Ks43phv1YtqcIHT652rzEZJGoHO6ytTX4dvL\u002BoCAiTS\u002BvUi80sMxxfi1uLXWdRdajLuYeWckAWD5YMRAKWdaG5ZAOyohNz/OFNt7BBIeAWvDcW7F6BD[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-28c673e5-4763-d3da-32e4-4fc2743aa616/test-blob-952667b9-bb43-29f4-0b58-629f38402bab?sv=2021-12-02\u0026ss=fqb\u0026srt=sco\u0026se=2022-08-06T23%3A03%3A06Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "zuRgfGXs9ogCjZXVR07T9IPRlwfgxnUPeZchh3zC0xI=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "uW3HaaWgcKM9huMfIFcUvQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736A9A48F35\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:08 GMT",
        "x-ms-encryption-key-sha256": "zuRgfGXs9ogCjZXVR07T9IPRlwfgxnUPeZchh3zC0xI=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:08.4419893Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-28c673e5-4763-d3da-32e4-4fc2743aa616?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:06 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:03:06.5947156-07:00",
    "RandomSeed": "434657070",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
