{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-146b2bb5-7487-c6cb-b78a-124dcc7efab2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95071AE897\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-146b2bb5-7487-c6cb-b78a-124dcc7efab2/test-blob-d1db487e-e27d-838d-2eb8-0693d9d35556",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:26 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "lDUntMCKabo4opp2wfd6L4\u002BNeSeGJWBCijlAj\u002BToGil0GXEDtq9N894gmNtIFsI3PtYDTFkuz27U5SmHSdnVT4dxAaeFd3ngQIZIZYyF\u002BnN3CVEO5M7PRkoCLtGFxakESklT1hQascZdIwvT5WriT\u002Bq2D0CHx2q5ortdg0inWnrcQxpDMiReXFeKscHC/GHfIN/nz7VpfYPemTRZvS5\u002BtcmR9qFPnxzGV7Pp/Bap96VafWNowIrEc8aXZJjvBZ4pDPv4MQW/kIDCIHgCf4BsNKKO/0DKFvU\u002BzIPatzqE1lEUwPAbscWfmu3ipZ8SwvNGKzD2YAVeXvUGuW[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-146b2bb5-7487-c6cb-b78a-124dcc7efab2/test-blob-f797bce3-ba92-84ab-2680-e0bcd1243400?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A27Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "ccfef8ea-7b34-4cdb-972a-562c28cc5552",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950734499F\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:28 GMT",
        "x-ms-lease-id": "ccfef8ea-7b34-4cdb-972a-562c28cc5552",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-146b2bb5-7487-c6cb-b78a-124dcc7efab2/test-blob-f797bce3-ba92-84ab-2680-e0bcd1243400?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A27Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950734499F\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:28 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-146b2bb5-7487-c6cb-b78a-124dcc7efab2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:27 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:27.0717408-07:00",
    "RandomSeed": "1438571922",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
