{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-b05aeb10-1072-6db4-b6df-0f9439432c4e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954407FA06\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:10 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-b05aeb10-1072-6db4-b6df-0f9439432c4e/test-blob-38c0608d-e13d-c632-3b76-75bfd08ad986",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "LleUPeMLzw4Jb6dhN07G9kPlmzNweHseyZrlCXzc7LFfjDPGrzF2gpGyL8050Y7sr3976u\u002BmFrXbdnRJJsWRLIL2AasbAEcRbxiivkmt5PcL\u002BFn9YQHBuXV\u002B6ji9LFzLIAJLQ8/i0a43aXvWA1hrLpF9PS1rk8uBNUg1nRYOVEK8151GYqEnKSarxveG67UdErynP\u002B8uX403yQ6HrTSYKBQ4GSy6JMzwVRQHwM3T\u002B0mSF4paZxVTjncPD5iSoHzyEp3jTdGJY\u002B7wturaJ57AZM7E9JWpPsH/5Yu0qhUzXbWYFK4v7654CbScarEqeWfZT6rKzqvmSNTc42[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-b05aeb10-1072-6db4-b6df-0f9439432c4e/test-blob-38c0608d-e13d-c632-3b76-75bfd08ad986?sv=2021-10-04\u0026ss=bqtf\u0026srt=oc\u0026se=2022-07-28T06%3A00%3A09Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "eHkv96GCfaMoCt6sFf9\u002BgA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F95441AFDFA\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:10 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:10.9786376Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-b05aeb10-1072-6db4-b6df-0f9439432c4e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:09 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:09.2608527-07:00",
    "RandomSeed": "309499240",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
