{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-f20f3748-9e14-9467-4c54-a9258d6491c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950E7954C8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-f20f3748-9e14-9467-4c54-a9258d6491c3/test-blob-c0a88181-cabb-c7d8-4927-fe87d4f37ec0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "sM2OALyRjXyhgiInQPos/YI68pTj4yDLs9\u002B2DXrs8jBUf0PuZwrT8PMrHjinsYdP\u002BwAFmgDp3c2tw03c2n8BtY/x0sG3PpZ4ZgKgt8TnIwJYZxJ551gwa6F2QaS99hV0KWmptt7FmL1qjTP\u002BSCUIxZ9Lg3Nsh803wWcfQP3xu2/sLI1aPm0jk85VD1okMSJ8bXsFcXOhB6KccfV3ple/edHEERyYrocxJ/CkF3hyE49Fo9OB7En8SyTrvcx3q\u002B13lZWIYB8G5L7000qC/PApKV5lMgKDPoyIx8b3rPC6unsDLYLi6bJwPr8VjRj/eU40wpNuEnnq81cI/5hZDjfNORnO[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-f20f3748-9e14-9467-4c54-a9258d6491c3?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A39Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "7b7f6493-27ce-430b-b25c-d30862f0d8b1",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950E7954C8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-lease-id": "7b7f6493-27ce-430b-b25c-d30862f0d8b1",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-f20f3748-9e14-9467-4c54-a9258d6491c3?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T05%3A58%3A39Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease\u0026restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F950E7954C8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:40 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-f20f3748-9e14-9467-4c54-a9258d6491c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:39 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "LeaseIdMissing",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003ELeaseIdMissing\u003C/Code\u003E\u003CMessage\u003EThere is currently a lease on the container and no lease ID was specified in the request.\n",
        "RequestId:cba7599f-b01e-0003-317d-a1acc4000000\n",
        "Time:2022-07-27T05:58:41.2967597Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:39.3476796-07:00",
    "RandomSeed": "378312477",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
