{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-0b8b213c-c65b-5310-51d6-edf39f9b40ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954F59CAEB\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-0b8b213c-c65b-5310-51d6-edf39f9b40ec/test-blob-624dba86-f75b-a22c-a0bb-339d9fd373b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "H2mEKTme0bkz4J8gLZR61F\u002BBeuOt2PTLdfsOuPzmvGA=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "0m/yC67Vvm9o8Gg2dFxECxpRP\u002BcNiU4XCjSY8MT/u5TgU5h/GIvrsfvd\u002BmqO9S5EdyeDTZSMo0gg2gF5PM6qaDXTViDDxfKOZo7rL4/jiBQGVHice20AVLBPXj2KcXUtMpE1u58NgLE19ecGoHO4PVHsc\u002BdVDu3I0gFwdGe1BPQYvv3\u002Brs10\u002BdTHZ4aF\u002BrQ8lyHrnf6N1ySjbeienQtKgPDy7eJ2uY6Ed3oTjqZnQthNM91FyWb2i\u002BbYW0Dl1lvIfOeVkw3Rxt2SZyWDeUl\u002BPCsPUGkuBLeJ\u002B2H7nl5On6EeShG/0a7Le2z/s2FBchKdWh4V1YXymngwC[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-0b8b213c-c65b-5310-51d6-edf39f9b40ec/test-blob-624dba86-f75b-a22c-a0bb-339d9fd373b1?sv=2021-10-04\u0026ss=qb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A28Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "H2mEKTme0bkz4J8gLZR61F\u002BBeuOt2PTLdfsOuPzmvGA=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wMxdH2zMsy3LsgM\u002BB5SABQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F954F66656E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:29 GMT",
        "x-ms-encryption-key-sha256": "H2mEKTme0bkz4J8gLZR61F\u002BBeuOt2PTLdfsOuPzmvGA=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:29.9267438Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-0b8b213c-c65b-5310-51d6-edf39f9b40ec?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:28 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:28.1967351-07:00",
    "RandomSeed": "1581312488",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
