{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-974a8a67-01b0-cc7e-1a53-2afb3a8fa441?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F93FC5F6F11\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:51:01 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-974a8a67-01b0-cc7e-1a53-2afb3a8fa441/test-blob-45d89542-7efe-8bc6-e774-a8d53f384c23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "z2dfuhwa56diaQnitbnVAQsrA5aa7gl36NoaMJR8jcJ89PWPuY3i3LxNUs70uopdNyqeKMi6veBe6NJBALYT5txGZsHDRUh\u002BSCbZTJw6gy1QvPlq3mT6wTcUMdC7oNwGOmzyrVTJmvHhIN\u002Bh4XBEI2Sk8US9qAh3TKSKrhN3wqdJ0xIvSNXYhyIHiL2EWODH0A1rFq\u002BYSJFkemGwPuveal04Vw1dFNuPzGohtiBK8vPDw94GC6z4sYqBy810KEg2KR5fTADTabsy3EpFdpJwGYdu7HsM116xP6aC3EkNG6Qi64wC6qby8Fki0y5isjv4ELFGBjzMKVG/rgxaUI1yJcGmIosFb[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-974a8a67-01b0-cc7e-1a53-2afb3a8fa441?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:59 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:50:59.4868048-07:00",
    "RandomSeed": "195852751",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
