{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-119bc25f-d319-246c-6e25-734bbc805a8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:21 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954BA1BB44\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:23 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-119bc25f-d319-246c-6e25-734bbc805a8d/test-blob-387d1e08-d24a-9bfa-091a-95391bed1dd5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:21 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "cS1FVaKi/UdXPTufK4jq0wDRdugae/s0bEOudV54qvgww8BoZIhEZiE24QyXW2\u002BAMMI5Snc1u/UxEOlf84jo35JCbmjHgW53jA/G5JrvnBHTLUScP2CB\u002BgjKN1Of5XOZTQJ5VewHua5Twb1ob9ZbQnPYi8VDTJ8ywHRf/Eob2KebLZeXdUclzHSVSX2jGYsxb/Tfx1qtVQFiR5R3p7xkN\u002BkWzEE/w80ssr9QrQIij6foLY1WOxBN7teVNS2zrSS4MRGUjExJ8qsnsxSaXaf\u002BP7jsj3ouDfvZyd5qqY2feAWamHzwjgJbnzviLoj7spAwl/Z1xh6qiSMWusNu30gdiDoP[...]
[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-119bc25f-d319-246c-6e25-734bbc805a8d/test-blob-9933242c-801b-82c8-d7cf-cc58abb231da?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A22Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "15",
        "x-ms-proposed-lease-id": "280cac12-dc83-4b68-a42b-35aff638a039",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954BC58475\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:23 GMT",
        "x-ms-lease-id": "280cac12-dc83-4b68-a42b-35aff638a039",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-119bc25f-d319-246c-6e25-734bbc805a8d/test-blob-9933242c-801b-82c8-d7cf-cc58abb231da?sv=2021-10-04\u0026ss=tqfb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A22Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized\u0026comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-lease-action": "break",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F954BC58475\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:23 GMT",
        "x-ms-lease-time": "14",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-119bc25f-d319-246c-6e25-734bbc805a8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:22 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:22.1089019-07:00",
    "RandomSeed": "1278250931",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
