{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75d501a0-ebce-b083-e849-a4f966367dcf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:56 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736A3ED0A6A\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:02:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75d501a0-ebce-b083-e849-a4f966367dcf/test-blob-a4c91f61-89d6-30b7-a766-9df4721366d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "QhEe6ODVcRqxAo7ZVlXmWO93DylJYrtRxib/95exp1e4QsF2YgIhi66u8tT63tlSgEUF\u002BgM9jd9WzCG61nmC/1o3IBSTcPbsVoR7mm/mV\u002BhMrXdSrKxTe7XhH5XgZ7Q1K/N6w73Fvg9OGKR/wfJwb3U5bSkBMFKt46ReslBgDO7PRW98bJQqhu5nA5MI1LnDca8gp/mLM/ugzN8YZwy\u002B7gy1sHyD8wPhDuc6miy/pQ/rm0CgP2T1QxJz26C0Eh7iqBWGUiM9QH2sP5kRUZnO4SbPLcvLHq6nwGxpDxhjLPvIV/EXOVPrrVvD9ADL4/J5pfl55ORTF4pm3pG30zBkSBOdSPmnt[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75d501a0-ebce-b083-e849-a4f966367dcf/test-blob-a4c91f61-89d6-30b7-a766-9df4721366d6?sv=2021-12-02\u0026ss=bqtf\u0026srt=soc\u0026se=2022-08-06T23%3A02%3A57Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "XBSu/JVtaC99/SuZ/B1mLw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736A400AE67\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:02:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:02:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:02:58.9793895Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75d501a0-ebce-b083-e849-a4f966367dcf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:02:57 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:02:57.1411905-07:00",
    "RandomSeed": "1520901204",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
