{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-449c4dba-c003-1e64-7e04-4c0215fca4f6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019310F50BF\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:32 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-449c4dba-c003-1e64-7e04-4c0215fca4f6/test-blob-6c9b8ee4-79d6-4af2-2bf0-5fb35087139d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "TGntGB5/j9lRmCqZDZrqgiU5CHrLIGrZKkRqkPMo1io1hH3KDsb0ewtYMvLBdBaPkmut8\u002Ba6Yyv/FO7ZFf/mKMEAY4gdIHRfRIxvcu53GLUu2v2He\u002BNDeyFRyvrYGmULcgkwwBCOcXL2Tq9ZSvE9h/w4qzoCXq3evehnzFV6hykmZADkR1ekn2iKkS0z6TEvE0P\u002Bn28rCRRcUgIoJ6UdfMaFM\u002BbwWT\u002BkkwzSd81/qtS2N7gRe\u002Be6\u002B1vsh/VUe3fDbRRmrrZKP7oEWQtjWJFH3KcucvDtCwHfyzeKBNFKTxiUDwq4Gfwea/f9DSHbV6LKpapOJgmH1[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-449c4dba-c003-1e64-7e04-4c0215fca4f6/test-blob-6c9b8ee4-79d6-4af2-2bf0-5fb35087139d?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7019312072E8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:32 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2022-07-27T21:44:32.7909476Z",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:44:32.7919476Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-449c4dba-c003-1e64-7e04-4c0215fca4f6/test-blob-6c9b8ee4-79d6-4af2-2bf0-5fb35087139d?snapshot=2022-07-27T21:44:32.7909476Z\u0026sv=2021-12-02\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T21%3A44%3A30Z\u0026sp=cuprwdyla\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "gLXzxXIGUNCv8pQJvJY/\u002BA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7019312072E8\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:44:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:44:32 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-449c4dba-c003-1e64-7e04-4c0215fca4f6?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:44:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:44:30.4125899-07:00",
    "RandomSeed": "1922911455",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
