{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75a70600-8d88-6d93-a8a1-d65c235bff44?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9552B040D6\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75a70600-8d88-6d93-a8a1-d65c235bff44/test-blob-2d345f2c-7ec3-d486-00bc-2c7e8a4bb993",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "0qF0\u002BJ8i49O/GuCdMfwhTc1bG1XhoXFppOfcpRhdsiJlZzYoh0QICXtgbame6KIEmt6xLi9jsTAvClO3Rj66YWi\u002BOMnF\u002BcWIUxHagDTIyrxF1wo5q4PyAbYG\u002BHzxUMM9pQxA4LDYPqEYKdsdiTH8Z0CXcm40gbXlyzcTvwBJlwNOnNsnh\u002BoLbJhoIIKo1XiECZE8Wd1UCSRWWxR5xH\u002Bgz5LXz\u002BxW1N9WiwbVy2AzPfa\u002BjrZvDD0l\u002BZO20SzVkqcZyFHw0AaLLjSx5s7Xfj3EIx4eujbIMMJUsdVYnwOzgPhevAIPQmzwM2CBviZuTnp[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75a70600-8d88-6d93-a8a1-d65c235bff44/test-blob-2d345f2c-7ec3-d486-00bc-2c7e8a4bb993?sv=2021-10-04\u0026ss=qb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A33Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oYsP/36yyDw7iLes9hloGQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F9552BCDAD9\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:35.5265241Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-75a70600-8d88-6d93-a8a1-d65c235bff44?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:33.7966875-07:00",
    "RandomSeed": "735828075",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
