{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a036e45c-cce5-0755-184a-c24d15671091?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F93F989FA94\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:50:56 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a036e45c-cce5-0755-184a-c24d15671091/test-blob-1af14c34-d5fc-efb1-1c76-83ca75746a8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "ZfEKaELi6FY7ceThN774eEAIWxeGfLKKW8mQvQP3sVgq4DEdlaF3DxWKWW1QzzA58YlxCwfCLek\u002BgA14USpTRMCLt1aM2uOekEwB/CJFOYuZV8t6haZQZ7JH3hSU/r3qNxWsxBjZrBel0nu7wDHH\u002BUaB3/pf2L4aO0\u002BkRfvOCpGPFsUMmHRyv6q01bMqlaaBgOXOEh/Ci15XkonJNWcb18jpLKlsumDRDyBPqgMK76aoI8QW//dxzItmtQbrqYlDmP3rQWj8FcWE/AP\u002Bc\u002BFbTKPjIBKiBdfRd2AeBQVa5maXDBEFH649qw3/kQPzc1ipCmhjCIh2oJMmGskI3g\[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-a036e45c-cce5-0755-184a-c24d15671091?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:50:54 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:50:54.7486010-07:00",
    "RandomSeed": "709142381",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
