{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-62604597-621b-bc01-05bb-ddf9ae550941?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:31 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95516D68DA\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-62604597-621b-bc01-05bb-ddf9ae550941/test-blob-1daf0789-88e6-972e-f8b8-e1340b9e176a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:31 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "DkTrVANavrGKpHaqV\u002BUXqlx82Z3rj7KFK7m3yuGhg1OXPVpM6jbXLkn9kkIRhEASoTbXjsV6f36RZShJo/PQ6CAiEhqLysAmpKpT7fxwdKZ5pCmqyvSOHL3buoQNjYtWLKkh7nElh9Z1seoaJ5GBIPGC0P7KJR4sk/Zdrw88GBYf/cBTT4U1UxxSNRkJdPUrWpqSi72MiweL9Vt7yNfGOZnT\u002BynQLtFsTXzhd/AFIh8AMVV1qYxZknG5yFkquYtFjPuANXnLWizIJj5BqhQWhdM7epeCUI8Memi4F2Z3QpPxnOv0heymNdcprYNOGOddo0KG7j/zwjtsc7sQE0PFUeSrTw4oIQDmlU[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-62604597-621b-bc01-05bb-ddf9ae550941/test-blob-1daf0789-88e6-972e-f8b8-e1340b9e176a?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T06%3A00%3A31Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "BHRSPgjzJUj4oNtmLg8GJg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F955179B4F9\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 06:00:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T06:00:33.4087417Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-62604597-621b-bc01-05bb-ddf9ae550941?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 06:00:31 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T23:00:31.6931414-07:00",
    "RandomSeed": "68614532",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
