{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-574d1316-fea2-4491-9fb1-d0e1a42d8812?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:55 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA701988014B32\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:58 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-574d1316-fea2-4491-9fb1-d0e1a42d8812/test-blob-0d47985b-7c83-dc40-9bd5-20dbdd4f0ccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:56 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "dczSjKvbioKlCwzK8bGABFtu55\u002BKLoCS1qUSsTEHYRfbelEqX98Hfw3EZ3hwderpVRuAbmdtQkZLP7YFydlRnqn073dgVaV7ZmeRxsYIImC7KFsVh/OvbjgK3yApArY0c8nOfIZziAB2BAcA23x/QxxVSaB9Oxe1RIA\u002BVnaEUmSwXVL9OabaSJ9bnoLrr5O8ipsD07gWtjexGDcGNDKK8bKiT34pggl2ewEAIZyUyZXtgcvagX6rmqYaSyFu1BNt0a3QSV8UkwiSjFi3FZWbHE6iGLJmr3Az97XYDjboB6btk1DvxIA12O7DSPQl9IQRfy/SzLthBiE8nFGqPITRqoSyyoJEq1jNbE[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-574d1316-fea2-4491-9fb1-d0e1a42d8812/test-blob-0d47985b-7c83-dc40-9bd5-20dbdd4f0ccd?sv=2021-10-04\u0026ss=fqb\u0026srt=sco\u0026se=2022-07-28T21%3A46%3A56Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "2rOQWcpM7f0iyBTpKkKSaA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7019880D972C\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:46:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:46:58.5431852Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-574d1316-fea2-4491-9fb1-d0e1a42d8812?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:56 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:46:56.1318244-07:00",
    "RandomSeed": "1991036889",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
