{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a812746-e778-edb5-9d22-5a7fe511d8c3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA70198142D18E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:47 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a812746-e778-edb5-9d22-5a7fe511d8c3/test-blob-68c7e940-4ab4-629f-45d7-cc5e67843fde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "1nOtY7cNnMxbUYTDAuRC2YOH8MP34zOI4veFT4ZfwlQ1BCf0KDNBMk37DWLG3F9hlfLa35R85vI/JYDAiExF/I8wjf68TrBQRr11\u002B9bQwQWXJLqThOLAuR00tAOygKoBtRHTlk9hpEdBipnWBuscb2N6KWOSsnesb9Thh5mtncUTdEbF/Cu2NX9zUfpJ6bIxF0SfN1ZGbgOZJyZ6gB2tlOzTw5GkV3M3xPPkHmB9Y4Yhr29UDmVvzAVDK9QFPLVixr0OdSUhjcDRaHNiYlCiHMSfWNCtWIWGZPeLYSyeMoc\u002BgViib\u002B1gACKvgqbyDGm1oA4QZePktW03hxAulSuUMzbrJOD3A[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a812746-e778-edb5-9d22-5a7fe511d8c3/test-blob-68c7e940-4ab4-629f-45d7-cc5e67843fde?sv=2021-10-04\u0026ss=bqtf\u0026srt=soc\u0026se=2022-07-28T21%3A46%3A44Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UIgQfQxyQsHOMkQ8BsawHg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7019814F2294\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 21:46:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 21:46:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T21:46:47.2286868Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-7a812746-e778-edb5-9d22-5a7fe511d8c3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 21:46:44 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-27T14:46:44.8169998-07:00",
    "RandomSeed": "792369008",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
