{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-c453d2b3-9f86-708d-22a8-cbfde4504979?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F95360920E3\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:47 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-c453d2b3-9f86-708d-22a8-cbfde4504979/test-blob-887abaac-5329-8e03-dc6e-a621ab475ced",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "HiFXeZ/Zjn6QinYfx2vpIkOQmVq5AYBSaCKTfBGHzZY/cGvapKfD0yv895/d48dxhITeG60BMx2gBBB8RhJtCbzf4Ff/Dn2bzMYuvQrhdYRbIfeMqbLoPTxOOqCXR4wZju3i/QNwcnYGQk7n0nYTvo\u002BMISUa4GAK9qIasdTdBIU5FS8c/3eB66\u002BBhWZjAWrFOnsQCiZn/q2N1wZgVcGhKT3Jrb1H978XCzV1mVv5p/U4VHZYzPpe0haBjidxIJbt31wpmVStfkO8\u002Bf/w8WVSlC8RKABLSFxDatunxWiYpeqfiLn\u002B0A6gi9YynNP6buCwLvr3X/iWopcA5S55BbnaJFMU[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-c453d2b3-9f86-708d-22a8-cbfde4504979/test-blob-887abaac-5329-8e03-dc6e-a621ab475ced?sv=2021-10-04\u0026ss=bqtf\u0026srt=sco\u0026se=2022-07-28T05%3A59%3A45Z\u0026sp=racwdlxyuptfi\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "UyyqI6cZkDEU6SVZjNEV7g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6F953615713E\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:59:47 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Jul 2022 05:59:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-07-27T05:59:47.4531646Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-c453d2b3-9f86-708d-22a8-cbfde4504979?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:59:45 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:59:45.7544357-07:00",
    "RandomSeed": "811508438",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
