{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-3df3ce62-c7ce-57fa-3445-2eb01392b254?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:29 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6F9508F72A59\u0022",
        "Last-Modified": "Wed, 27 Jul 2022 05:58:31 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-3df3ce62-c7ce-57fa-3445-2eb01392b254/test-blob-8f8063d6-2b2a-cecc-2574-8efc45f7ee8f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "wjnAkJAT0CWFno/LmD57EDADqft/Pg9xgFhyl\u002BJkWJJGm/mjY4Oa8kfs7qY7aHYqrUmz\u002BXG/E4MqTw83oTlDIEb9hPxE162tabe0klBpNRjhR\u002BmYsF8gh4h2eRRzYlENqc5fPeN55tWcBo\u002B6C4AzwBn3VVlPq2/n3f10zl6YOQZlpumBCvg1aGEU\u002B6rPZXwIQ7j6fA33vv1fd2DlBRh2A8yJVWSWsbYhwe34OrDEGHeBa4umnr34bejrIpKYT2NJnvfdRRAXcZEB2bof/4NNml7oZJmN0GUPked8qo8jiHGKr5y459Nnafn5pMUC2G5knoc0sOvJvM6RzbQpmsc[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-3df3ce62-c7ce-57fa-3445-2eb01392b254?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Jul 2022 05:58:30 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-07-26T22:58:30.1040848-07:00",
    "RandomSeed": "1048110018",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
