{
  "Entries": [
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a8be531-b536-fe93-f6da-6ac5647df4e9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA7736BB99B500\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:38 GMT",
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a8be531-b536-fe93-f6da-6ac5647df4e9/test-blob-d9f40cc2-f0a5-c89f-8871-6dab84057add",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:36 GMT",
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "nKetGO96n8E1mKbLGJUs1aDIa93umQL1Q6GuCdNEQW0=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": "PHui7UckMtcMBRMePvpD46z25IPWbwkez00hdI0kFsHDy/plBtObndodzJ/dgYmNLor\u002BjiD3Bsxygx75A71K6O9RWnIA3d3ZWkeouaJpQE7Ek0YDJYegy8Qt8oK1opod0uSwjCYXjVGsJTTZT00pCUPPNW92R8JnsI\u002Bu0upbJLisiue\u002BubQorQb1Vv9Tx3x3A\u002Bk\u002B5WwrposhSNuWaLpmUQF7LcRma1COpohpgfDCE\u002BkTNs8AHD5LgeNbnHDYkURLjgX\u002B15m3EZeZsD/kwSSaXzXygzLqZTXCMKzhCs/gtRREHfPrxDtPWyU3Zmz/Zr\u002B\u002BwT065g0RYSjQO6ft1g[...]
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a8be531-b536-fe93-f6da-6ac5647df4e9/test-blob-d9f40cc2-f0a5-c89f-8871-6dab84057add?sv=2023-01-03\u0026ss=fqb\u0026srt=sco\u0026se=2022-08-06T23%3A03%3A36Z\u0026sp=racwdlxyuptf\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-encryption-algorithm": "AES256",
        "x-ms-encryption-key": "Sanitized",
        "x-ms-encryption-key-sha256": "nKetGO96n8E1mKbLGJUs1aDIa93umQL1Q6GuCdNEQW0=",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "x7BDqA9OvIFEIa8AjLQzxQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA7736BBAD37C3\u0022",
        "Last-Modified": "Fri, 05 Aug 2022 23:03:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 05 Aug 2022 23:03:38 GMT",
        "x-ms-encryption-key-sha256": "nKetGO96n8E1mKbLGJUs1aDIa93umQL1Q6GuCdNEQW0=",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-10-04",
        "x-ms-version-id": "2022-08-05T23:03:38.6977219Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev3.blob.core.windows.net/test-container-1a8be531-b536-fe93-f6da-6ac5647df4e9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 05 Aug 2022 23:03:36 GMT",
        "x-ms-version": "2021-10-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-10-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2022-08-05T16:03:36.8509628-07:00",
    "RandomSeed": "212299287",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev3\nU2FuaXRpemVk\nhttps://amandadev3.blob.core.windows.net\nhttps://amandadev3.file.core.windows.net\nhttps://amandadev3.queue.core.windows.net\nhttps://amandadev3.table.core.windows.net\n\n\n\n\nhttps://amandadev3-secondary.core.windows.net\nhttps://amandadev3-secondary.file.core.windows.net\nhttps://amandadev3-secondary.queue.core.windows.net\nhttps://amandadev3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev3.blob.core.windows.net/;QueueEndpoint=https://amandadev3.queue.core.windows.net/;FileEndpoint=https://amandadev3.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev3-secondary.core.windows.net/;QueueSecondaryEndpoint=https://amandadev3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev3-secondary.file.core.windows.net/;AccountName=amandadev3;AccountKey=Sanitized\nencryptionScope1\n\n"
  }
}
