{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15767759": "20230530",
          "NRMS14293353": "20221028"
        },
        "subscriptionId": "264e9200-2944-4334-9a02-721e6268b55f",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "EnS-Velma-Fengy-NonProd",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourcegroups/testRg4289?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1183"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289",
        "name": "testRg4289",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289/providers/Microsoft.IoTFirmwareDefense/workspaces/resource2304?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002213014a8a-0000-0100-0000-6478a2a50000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289/providers/Microsoft.IoTFirmwareDefense/workspaces/resource2304",
        "name": "resource2304",
        "type": "microsoft.iotfirmwaredefense/workspaces",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-06-01T13:52:37.3291695Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-01T13:52:37.3291695Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289/providers/Microsoft.IoTFirmwareDefense/workspaces/resource2304/firmwares/resource4254?api-version=2023-02-08-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "fileName": "testFileName",
          "vendor": "testVendor",
          "model": "testModel",
          "version": "testVersion",
          "description": "testDescription",
          "fileSize": 1
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022d100e79a-0000-0100-0000-6478a2a50000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1181"
      },
      "ResponseBody": {
        "id": "/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289/providers/Microsoft.IoTFirmwareDefense/workspaces/resource2304/firmwares/resource4254",
        "name": "resource4254",
        "type": "microsoft.iotfirmwaredefense/workspaces/firmwares",
        "systemData": {
          "createdBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "createdByType": "Application",
          "createdAt": "2023-06-01T13:52:37.7666199Z",
          "lastModifiedBy": "7b16e1fa-ea98-4de3-bf0e-c580630393bd",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-01T13:52:37.7666199Z"
        },
        "properties": {
          "fileName": "testFileName",
          "vendor": "testVendor",
          "model": "testModel",
          "version": "testVersion",
          "description": "testDescription",
          "fileSize": 1,
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/264e9200-2944-4334-9a02-721e6268b55f/resourceGroups/testRg4289/providers/Microsoft.IoTFirmwareDefense/workspaces/resource2304/firmwares/resource4254?api-version=2023-02-08-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-failure-cause": "gateway",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The resource \u0027Microsoft.IoTFirmwareDefense/workspaces/resource2304/firmwares/resource4254\u0027 could not be found."
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "340728153",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "264e9200-2944-4334-9a02-721e6268b55f"
  }
}
