{
  "Entries": [
    {
      "RequestUri": "https://recordsdktestsmultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/configurations/service",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "rewardWaitTime": "PT10M",
        "defaultReward": 0.0,
        "rewardAggregation": "earliest",
        "explorationPercentage": 0.2,
        "modelExportFrequency": "PT5M",
        "logRetentionDays": 90,
        "lastConfigurationEditDate": "2021-08-05T20:30:42",
        "learningMode": "Online",
        "isAutoOptimizationEnabled": false,
        "autoOptimizationFrequency": "P28D",
        "autoOptimizationStartDate": "2021-08-20T20:25:06"
      }
    },
    {
      "RequestUri": "https://recordsdktestsmultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/multislot/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "NewsArticle",
            "features": [
              {
                "Type": "News"
              }
            ]
          },
          {
            "id": "SportsArticle",
            "features": [
              {
                "Type": "Sports"
              }
            ]
          },
          {
            "id": "EntertainmentArticle",
            "features": [
              {
                "Type": "Entertainment"
              }
            ]
          }
        ],
        "slots": [
          {
            "id": "Main Article",
            "features": [
              {
                "Size": "Large",
                "Position": "Top Middle"
              }
            ],
            "excludedActions": [
              "SportsArticle",
              "EntertainmentArticle"
            ],
            "baselineAction": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "features": [
              {
                "Size": "Small",
                "Position": "Bottom Right"
              }
            ],
            "excludedActions": [
              "EntertainmentArticle"
            ],
            "baselineAction": "SportsArticle"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "slots": [
          {
            "id": "Main Article",
            "rewardActionId": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "rewardActionId": "SportsArticle"
          }
        ],
        "eventId": "2855cc18ab5f47d5b682d7f09e13cc48-8iKoV"
      }
    },
    {
      "RequestUri": "https://recordsdktestsmultislot.cognitiveservices.azure.com/personalizer/v1.1-preview.1/multislot/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "contextFeatures": [
          {
            "User": {
              "ProfileType": "AnonymousUser",
              "LatLong": "47.6,-122.1"
            }
          },
          {
            "Environment": {
              "DayOfMonth": "28",
              "MonthOfYear": "8",
              "Weather": "Sunny"
            }
          },
          {
            "Device": {
              "Mobile": true,
              "Windows": true
            }
          },
          {
            "RecentActivity": {
              "ItemsInCart": 3
            }
          }
        ],
        "actions": [
          {
            "id": "NewsArticle",
            "features": [
              {
                "Type": "News"
              }
            ]
          },
          {
            "id": "SportsArticle",
            "features": [
              {
                "Type": "Sports"
              }
            ]
          },
          {
            "id": "EntertainmentArticle",
            "features": [
              {
                "Type": "Entertainment"
              }
            ]
          }
        ],
        "slots": [
          {
            "id": "Main Article",
            "features": [
              {
                "Size": "Large",
                "Position": "Top Middle"
              }
            ],
            "excludedActions": [
              "SportsArticle",
              "EntertainmentArticle"
            ],
            "baselineAction": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "features": [
              {
                "Size": "Small",
                "Position": "Bottom Right"
              }
            ],
            "excludedActions": [
              "EntertainmentArticle"
            ],
            "baselineAction": "SportsArticle"
          }
        ],
        "deferActivation": false
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "slots": [
          {
            "id": "Main Article",
            "rewardActionId": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "rewardActionId": "SportsArticle"
          }
        ],
        "eventId": "ba1840eb3043406cbb2f60bf651ed06c-8iKoV"
      }
    },
[...]
