{
  "Entries": [
    {
      "RequestUri": "https://sdktestrecorder.cognitiveservices.azure.com/personalizer/v1.1-preview.1/multislot/rank",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "actions": [
          {
            "id": "NewsArticle",
            "features": [
              {
                "Type": "News"
              }
            ]
          },
          {
            "id": "SportsArticle",
            "features": [
              {
                "Type": "Sports"
              }
            ]
          },
          {
            "id": "EntertainmentArticle",
            "features": [
              {
                "Type": "Entertainment"
              }
            ]
          }
        ],
        "slots": [
          {
            "id": "Main Article",
            "features": [
              {
                "Size": "Large",
                "Position": "Top Middle"
              }
            ],
            "excludedActions": [
              "SportsArticle",
              "EntertainmentArticle"
            ],
            "baselineAction": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "features": [
              {
                "Size": "Small",
                "Position": "Bottom Right"
              }
            ],
            "excludedActions": [
              "EntertainmentArticle"
            ],
            "baselineAction": "SportsArticle"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "slots": [
          {
            "id": "Main Article",
            "rewardActionId": "NewsArticle"
          },
          {
            "id": "Side Bar",
            "rewardActionId": "SportsArticle"
          }
        ],
        "eventId": "bbe0868816cc4159bc4b94ac73e2900a-8ftEg"
      }
    }
  ],
  "Variables": {
    "PERSONALIZER_API_KEY": "Sanitized",
    "PERSONALIZER_ENDPOINT": "https://sdktestrecorder.cognitiveservices.azure.com/",
    "RandomSeed": "341113140"
  }
}