<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysisDotNet40" ToolsVersion="11.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
	<Rule Id="CA1006" Action="None" />
  </Rules>
</RuleSet>