{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/discoGroups/University%20of%20Kansas:run?api-version=2023-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ui-version": "sdk",
        "X-RiskIQ-RequestID": "6451ef30-106c-4351-9c95-58bb124e7ae6"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "ENDPOINT": "Sanitized",
    "RandomSeed": "654986642",
    "RESOURCEGROUPNAME": "Sanitized",
    "SUBSCRIPTION_ID": "59af3bf1-d118-4916-808e-923509b34a94",
    "WORKSPACENAME": "Sanitized"
  }
}
