{
  "Entries": [
    {
      "RequestUri": "https://eastus.easm.defender.microsoft.com/subscriptions/59af3bf1-d118-4916-808e-923509b34a94/resourceGroups/shad-rg/workspaces/sdktest/discoGroups/University%20of%20Kansas/runs?api-version=2023-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ui-version": "sdk"
      },
      "ResponseBody": {
        "totalElements": 25,
        "value": [
          {
            "submittedDate": "2023-08-03T16:14:55\u002B0000",
            "startedDate": "2023-08-03T16:14:55\u002B0000",
            "completedDate": "2023-08-03T16:39:00\u002B0000",
            "tier": "advanced",
            "state": "completed",
            "totalAssetsFoundCount": 25435,
            "assetsAddedToInventoryCount": 119,
            "seeds": [
              {
                "kind": "domain",
                "name": "actionsdg.org"
              },
              {
                "kind": "domain",
                "name": "kansasltap.org"
              },
              {
                "kind": "as",
                "name": "11659"
              },
              {
                "kind": "domain",
                "name": "kudining.net"
              },
              {
                "kind": "domain",
                "name": "kiteaai.org"
              },
              {
                "kind": "domain",
  [...]
