{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-28f861f3-4b43-36da-9d4a-e8020719b0a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A91F02EA35\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-28f861f3-4b43-36da-9d4a-e8020719b0a5/test-file-05df4370-d390-f59d-1882-053f59b618f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A91F1C6C7D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:18:37.9164797Z",
        "x-ms-file-creation-time": "2022-05-10T17:18:37.9164797Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:18:37.9164797Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-28f861f3-4b43-36da-9d4a-e8020719b0a5/test-file-05df4370-d390-f59d-1882-053f59b618f3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "tSTKdfpZuN2sVnxkVosB1/NB7gwQVQpH6Iy1t/D37s6CBJoQ\u002B\u002BGsu0IrrkSHzkvTLU7KcvBQ3l8ag41uowHstWit4lHx8NsRlTLJ5abFvxlA4YmiLHveMSY69nhUPRdBPvjb2ev64j1yuNy9h/m5VMNzLsJ3Sonsz7Ert/ljvFcbh6at6eUtRv9ML3OfIaksgaG14Q9VyvRv7go5zipDD/uFogBSC2rdRefCKxoVTa4I/zZXrdtIxb2yPvvb83fVCCB3Gn6p2XU315snkp/aWqFcMc/07GEgPdxDoM1vAlFw7SP5nTMvXyXAINZAIDMe2ONZfsKo4Bu\u002BV9yiZjmox9VJt6V74LxtLdKpM8uL3xyoJcfpFYOPxwwHOkVWjPjsF1gA9miNovgn7FHv/qxQM3jA\u002BUBxv7JSuu\u002BYdKV3FqHZvRxyi\[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-28f861f3-4b43-36da-9d4a-e8020719b0a5/test-file-05df4370-d390-f59d-1882-053f59b618f3",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A91F2C21B6\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:18:38.0194230Z",
        "x-ms-file-creation-time": "2022-05-10T17:18:37.9164797Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:18:38.0194230Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "tSTKdfpZuN2sVnxkVosB1/NB7gwQVQpH6Iy1t/D37s6CBJoQ\u002B\u002BGsu0IrrkSHzkvTLU7KcvBQ3l8ag41uowHstWit4lHx8NsRlTLJ5abFvxlA4YmiLHveMSY69nhUPRdBPvjb2ev64j1yuNy9h/m5VMNzLsJ3Sonsz7Ert/ljvFcbh6at6eUtRv9ML3OfIaksgaG14Q9VyvRv7go5zipDD/uFogBSC2rdRefCKxoVTa4I/zZXrdtIxb2yPvvb83fVCCB3Gn6p2XU315snkp/aWqFcMc/07GEgPdxDoM1vAlFw7SP5nTMvXyXAINZAIDMe2ONZfsKo4Bu\u002BV9yiZjmox9VJt6V74LxtLdKpM8uL3xyoJcfpFYOPxwwHOk[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-28f861f3-4b43-36da-9d4a-e8020719b0a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "544966370",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
