{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ae9c807f-6e05-31da-9eb4-85bfdc4b7034?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76A4F1775\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ae9c807f-6e05-31da-9eb4-85bfdc4b7034/test-file-813539fd-4b8b-afb8-9af9-8eb874b6394c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76A656218\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:25.2302872Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:25.2302872Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:25.2302872Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ae9c807f-6e05-31da-9eb4-85bfdc4b7034/test-file-813539fd-4b8b-afb8-9af9-8eb874b6394c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "iO7RuLDKraDQ2KnYxhECsKFzBI2Ja9K1uK5w0N3AkBrFuEFBHFph8KEhNIngNp1ma1JOv\u002BXaZRwcG/8CWd3DEEiOEg7PwJNGERTraDZI1YIRCWSKcdA161MkJQFaXpbEXiRAUiOOl6u\u002BCK3R7/3m00V88FB5OJ93WCe7q5qR7LJ\u002BJwoSCINfgnK5zGkjZPxWPlK83W5GSyWFyfn80\u002BsQLRz6Usfy08rCHW7dv2w1VPQrZG1I1Q5EONzkjT\u002BKYq6GqJ5NKBE0Y2qH\u002BsD/aIu5T3QF0W5\u002ByFgNtRrrDkaLN7vAVhfN6Czi9gECwNtORc9QKz3KhZE/COBGP3L2SFUj/MIEPxF062ZIItptfAh9v3BLmuIJwbIqgE42h6m67K6s38QYSQa\u002B3D/XgmO20ozXyX8Bq61yGjoP2r7[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ae9c807f-6e05-31da-9eb4-85bfdc4b7034?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "456935532",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
