{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a0b262d0-d9a0-bc93-2cf8-28f19fa7fde9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E15B07C03\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a0b262d0-d9a0-bc93-2cf8-28f19fa7fde9/test-file-34c121ea-19f0-cfe1-2fd4-c59709bfb9c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E15C15AA0\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:18.3085216Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:18.3085216Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:18.3085216Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a0b262d0-d9a0-bc93-2cf8-28f19fa7fde9/test-file-34c121ea-19f0-cfe1-2fd4-c59709bfb9c5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "eYMVcuLLvehChEVziGivDYPL/JB84xmhq4Ri44rvJjmMsLCICQJ6KVFC10r/lW98Ik\u002BsPCQPI5ZpdMZdadleU14L59i4JwOAUNI\u002BOQvPohYV5cA6QuoUfI0ZHpU7Hb945ITr9K6Xw/tLK\u002BtS0eqLmtGwSIMZIxF09mtKnghuRDMSxlWH465nfSLF7xb\u002BwqqjjoTDitU8XsByd/1DTCXy3ea4PwuUBLYjScphUzT6dTPApxCEqrpe1meVFGywJDD80xEvRoOfDorOn0EK2guLeALJg6UVbjIsWWik/\u002B9JcySZZIAiyy6wIJmGtQt4U/tbCZxq5qGL52XfAuwa\u002Bw6ahCwdcHaKaKzTGWILjrgmtAZtSPVT34yCDn0bQ8hClSWL7DDeWuOF0KHvls0/gFisuE3mrbIYRqWgmmL5byTjkYM8g[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a0b262d0-d9a0-bc93-2cf8-28f19fa7fde9/test-file-34c121ea-19f0-cfe1-2fd4-c59709bfb9c5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "Eu8a9DrPk4jTMHJi42/OPw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D2E15D02580\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:18.4054656Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:18.3085216Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:18.4054656Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "eYMVcuLLvehChEVziGivDYPL/JB84xmhq4Ri44rvJjmMsLCICQJ6KVFC10r/lW98Ik\u002BsPCQPI5ZpdMZdadleU14L59i4JwOAUNI\u002BOQvPohYV5cA6QuoUfI0ZHpU7Hb945ITr9K6Xw/tLK\u002BtS0eqLmtGwSIMZIxF09mtKnghuRDMSxlWH465nfSLF7xb\u002BwqqjjoTDitU8XsByd/1DTCXy3ea4PwuUBLYjScphUzT6dTPApxCEqrpe1meVFGywJDD80xEvRoOfDorOn0EK2guLeALJg6UVbjIsWWik/\u002B9JcySZZIAiyy6wIJmGtQt4U/tbCZxq5qGL52XfAuwa\u002Bw6ahCwdcHaKaKzTGWILjrgmtAZ[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a0b262d0-d9a0-bc93-2cf8-28f19fa7fde9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1908107556",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
