{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e3282d89-8df1-6110-09b2-c64864aba973?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F88EB3434378\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e3282d89-8df1-6110-09b2-c64864aba973/test-file-00a80a1d-401b-66a0-20a7-4d10432dc10a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F88EB350C38A\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-25T18:43:22.7094922Z",
        "x-ms-file-creation-time": "2022-02-25T18:43:22.7094922Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-25T18:43:22.7094922Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e3282d89-8df1-6110-09b2-c64864aba973/test-file-00a80a1d-401b-66a0-20a7-4d10432dc10a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "J4YE4vpxlQ45/qv9FOCwo8GRUBCbMVcwBxcBS9XkLKDZEwgqYA86hr0BPhwIr7cSEwFOa0YIyfUu1Nrjb0o4VdIKJADXhkOyV8lTmfM7KFhf7jjTlcBa0EkT\u002B4s0VxZzyehK/Yq2O4y\u002BmxR8tS8C86yCg4ERZL8Rr1S3xIu3ff\u002By39AK8CrNqbOrFfqs3RoZEAffstOVYmQpOE02/3YBBh4UytZf\u002BAOBtNrNZU/FZdI5nbOD2MsrHX1r4bjclqk8qg/clxNEuhgEXf35x/wVY9J7/WLDfi5S6KxY9BZKpR0wkLs/6c6/9OKaf3rNMlWBVX3lYZlHeSvgia5m68YBubjgyTdA1XkDvAh/KP\u002BzhbZX156ZZESE6RePX2AgWQgcmcXC7WgeQIAD4qWQx1AsLQP3DhQoaFRzW98fsXYZ42L/Yo858Z[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-e3282d89-8df1-6110-09b2-c64864aba973?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "836427166",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}