{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-40cf6e55-2b81-7311-9e56-1c89dfe42d46?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E165BBE10\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-40cf6e55-2b81-7311-9e56-1c89dfe42d46/test-file-8465a428-b2d8-dcbd-cce7-3c4890753e0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E166DD3CC\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:19.4388428Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:19.4388428Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:19.4388428Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-40cf6e55-2b81-7311-9e56-1c89dfe42d46/test-file-8465a428-b2d8-dcbd-cce7-3c4890753e0f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "J9bCmTgdTCuazAWzNz\u002B3tK3D8nfPJG8AN3sWBXVSF8Dr8KrlKA8geRvpbQvL3HpM9ADTKIhqMwNnwWG8B0a2SLRFyEeV0Yyeonhb5rZkNVsByhF0fu83gL2nfmatZHLVMiVWhRMytiJzNYUPDkxMA4sGujw1QcrEDUeJ7lMl8T4FhrORDbBHzhPvAUhqKHJwWnvapqk1n/FaknfLqcjOTURHCYeZu/XbvuwpRkCBWuXVGZPYSkqU0OfCN3s4fCVLILMEIx7q15\u002BF/\u002Bi9DFmw2DeR9o809QP5sjmg14R6okLG3SWMfTbH60L0Ukti18ONEV5DpoWVFiqwCnDkSQAbC12l9i4zI1sBygpNQKK3l9t2E8UlN/u8Mcb63HPG46FB2UftvOCUWe4DQtx7SNaH\u002BHKVbjY69dRh6cVnOUfoOudpC2Zbydv64bn[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-40cf6e55-2b81-7311-9e56-1c89dfe42d46?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1325019495",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
