{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-29a14021-53b8-fe3d-9d60-a78b5adaa6d5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A768F44E88\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:22 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-29a14021-53b8-fe3d-9d60-a78b5adaa6d5/test-file-110a7628-df94-b728-d451-2ba89ff783b1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76904F3FA\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:22.9206010Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:22.9206010Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:22.9206010Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-29a14021-53b8-fe3d-9d60-a78b5adaa6d5/test-file-110a7628-df94-b728-d451-2ba89ff783b1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "mqth50tDXuePXrh\u002BsRBCkGKcHknrtpfbZRzCtnl\u002B53BpK5IPqxbAKLIHYd\u002BEwXrMUTDPv\u002BKGi\u002BMUhoEugahuEHdIFYV9MuRL3PWX41S3VqSi9WRIrieO46Cu\u002BiWVkacJmVFoO6z1Tx5LhOPs76ePXS/djIxEJWFPujHkzji/tkpOjUoDTxr3rKZF/SpEovP5H532twQbxXTvGIF6EIDmjM2YnmJdiw4U5d/l/yc2Cxg9666ayf9GMsjVFDaZfZwlXnFdqwORnJSO4dEkNcZMuQ1pPCTRS8LNUmuah3fYe2hDwKC22GAUrE8ZDOctIf0BiVopL0F3UxKuj1iY9xQdtmZp4XUlleCsVZDVtz/bnzFtmP0crksmzGyOCEgHe7Q6/FWBxECI3PN5fNmxopzS0/AnK18XAAgaQhUJlo2Xpdrbm[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-29a14021-53b8-fe3d-9d60-a78b5adaa6d5/test-file-110a7628-df94-b728-d451-2ba89ff783b1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "\u002BMXikXgrXqesqjMpvggfYw==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A76930917D\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:23.2064381Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:22.9206010Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:23.2064381Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "mqth50tDXuePXrh\u002BsRBCkGKcHknrtpfbZRzCtnl\u002B53BpK5IPqxbAKLIHYd\u002BEwXrMUTDPv\u002BKGi\u002BMUhoEugahuEHdIFYV9MuRL3PWX41S3VqSi9WRIrieO46Cu\u002BiWVkacJmVFoO6z1Tx5LhOPs76ePXS/djIxEJWFPujHkzji/tkpOjUoDTxr3rKZF/SpEovP5H532twQbxXTvGIF6EIDmjM2YnmJdiw4U5d/l/yc2Cxg9666ayf9GMsjVFDaZfZwlXnFdqwORnJSO4dEkNcZMuQ1pPCTRS8LNUmuah3fYe2hDwKC22GAUrE8ZDOctIf0BiVopL0F3UxKuj1iY9xQdtmZp4XUlleCsVZDVtz/bnzF[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-29a14021-53b8-fe3d-9d60-a78b5adaa6d5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1203955617",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
