{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-712af901-8de6-e55f-360d-d77b12432204?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7736DB6B8\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-712af901-8de6-e55f-360d-d77b12432204/test-file-09c7a10c-e32c-97fb-435b-10de4e316f61",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77395684E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:40.6445134Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:40.6445134Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:40.6445134Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-712af901-8de6-e55f-360d-d77b12432204/test-file-09c7a10c-e32c-97fb-435b-10de4e316f61?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "2Xorv4MgdSQnofmiujUZXuco53IIEZ1mQtrPr6G3a55wHlFRrWUrcyoW6cVSoe3U\u002B90x9fJhrMjcxHypUMaCbzZbMZvjx7CB/HRH8ijYFKDs\u002B7PEhnarD3KJdOnpgiNkk3mO93BS8DQsr/h\u002BGbmfBK/bvFQTvunAryEpWlPGmHpR416uSR0wmgp/l9Z\u002BLPa46XA5DcXOUNWQzkdOKZbhZRd9LTVb8buSqyFKlCYSQYIrcHHijYq1gpKJHXrV4XF0njG/Af/AXfe0p2Kjg7yufo3EI7gk/tiMx6qi0dNBvMmw1vb1UkCDaxJ5LuUnEf7W2p/tEb64T59YMjlUHYsjc\u002BuZ863GuStMQbimq8/zZLWrzPY0VKsL94ZWnCAHLk2GVbv6jh5RECF0oM8GEqPQZc2DqVGU7x9AjfwmbxwLRRNqH1UU\u[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-712af901-8de6-e55f-360d-d77b12432204?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "846115670",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
