{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4b2d5fad-cdbb-7f75-88de-c4992678c087?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A776328897\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4b2d5fad-cdbb-7f75-88de-c4992678c087/test-file-49336fc9-1e27-8f88-eb75-884f9c2cde76",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A776429844\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:45.1349572Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:45.1349572Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:45.1349572Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4b2d5fad-cdbb-7f75-88de-c4992678c087/test-file-49336fc9-1e27-8f88-eb75-884f9c2cde76?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "NTkjofpCNsBY4IZb3Y4opz82ky3yi\u002BblbsUwovO/fRgVuLAdvf2TwsLF3MDvMT0aDVEImRcdRKpTPjM0EpPNmGJuRiXdC\u002BpCotFqLa4m9T2IFZWht\u002BMB93MGyX7JXrAv\u002BERdgeoYPAJnxvZGsxf7LEn1rPz\u002BK\u002BF/bU6x10FreEQgOjVqyHNSb9mSOvDsukNcCp0007K0MM1i3RScZmTB\u002B02yJnjikGTWozwia/Dwk7ILVcykN6SRbApoB\u002Bpetgl00T\u002BjOZTKeXk5XjB1kcXcckphkBCYHMSoIblueol5d\u002B0zrpqwTVkeQNtSa9h0G9pFi5Wg/SX43LR7\u002BhjaXP/wwOdDQuMqLCTxQ1A1RbHrNAXfKe7z2HrHO9LlNVNAROTcYqvxMNn3Gl9wrrnUw5YC[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4b2d5fad-cdbb-7f75-88de-c4992678c087?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "705859602",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
