{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d7f7cfad-2a9e-e2d5-f8a3-b35dcf1c4aa4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:34 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5D1977BD\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d7f7cfad-2a9e-e2d5-f8a3-b35dcf1c4aa4/test-file-d0cacdd6-df95-d2f8-4bf0-88a09f22baf1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5D20C7E7\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:33.4364647Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:33.4364647Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:33.4364647Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d7f7cfad-2a9e-e2d5-f8a3-b35dcf1c4aa4/test-file-d0cacdd6-df95-d2f8-4bf0-88a09f22baf1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "I1Aqn7XurTI4XN4WbTBlfxx3mRZZlHOdj7dCsfmiUHaiAoAtTueG1QyQfdMfMVkyWALY0enPYY7cjBD9rPs4lQtoc2qwNzA08cMKyReffV1eD1n3yX\u002BM06HyUMLXiCkQV\u002BfHt77ugiDRpOAlxZd3PQ\u002Byn5yhQcyM25/JveduXGia\u002BXIw18Wfb404JSSeZg4JexOyJeiMbxUaO9seJcQ5Y0d3i8slRmVJEi8PaBun7nSRv0LTuzd/DYpcFZzpgUnI/8HdJttC4zSuaRK5fQb6c0xnjGWBZagQ\u002BH1ByTHIX5HlRmlZysiYTtsOJVEkxpCDYqJQgvTkR5oZzC5eARoC5QmA0zadoKiEzj6Kcz9W6zHsvWePeNycAf/OQP6aOk3BC0BHo/NZ5sH5y7S2WtNbwuD8ckOzc20t5NE3zmCq6pPwyGf/Dk[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d7f7cfad-2a9e-e2d5-f8a3-b35dcf1c4aa4/test-file-d0cacdd6-df95-d2f8-4bf0-88a09f22baf1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:34 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "9/QYODeLEPd\u002BN7\u002BZm/xGEQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A5D26BA6D\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:33.4754413Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:33.4364647Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:33.4754413Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "I1Aqn7XurTI4XN4WbTBlfxx3mRZZlHOdj7dCsfmiUHaiAoAtTueG1QyQfdMfMVkyWALY0enPYY7cjBD9rPs4lQtoc2qwNzA08cMKyReffV1eD1n3yX\u002BM06HyUMLXiCkQV\u002BfHt77ugiDRpOAlxZd3PQ\u002Byn5yhQcyM25/JveduXGia\u002BXIw18Wfb404JSSeZg4JexOyJeiMbxUaO9seJcQ5Y0d3i8slRmVJEi8PaBun7nSRv0LTuzd/DYpcFZzpgUnI/8HdJttC4zSuaRK5fQb6c0xnjGWBZagQ\u002BH1ByTHIX5HlRmlZysiYTtsOJVEkxpCDYqJQgvTkR5oZzC5eARoC5QmA0zadoKiEzj6Kcz9W6zHsvWeP[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d7f7cfad-2a9e-e2d5-f8a3-b35dcf1c4aa4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "764393440",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
