{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-f7a48fee-3517-9c0f-35d8-77a361b9fbbc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7730B32E2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-f7a48fee-3517-9c0f-35d8-77a361b9fbbc/test-file-b4f23352-4cff-8fa1-dfaa-040d8201b25b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7731B8F19\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:39.8459673Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:39.8459673Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:39.8459673Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-f7a48fee-3517-9c0f-35d8-77a361b9fbbc/test-file-b4f23352-4cff-8fa1-dfaa-040d8201b25b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "k0gOYwm6LIIPiYThdPpcewBr\u002BrzzcXT6aMJRiMnKlFAqHIH3q3QD7nhDer0BO2916ye0GihOsSHUE/tGaaS5RfU0t1h5ZdCLZwtEr/a3\u002BS1T252hFXon22pfIpd5vYXUijXIzYMW/IVWKLIdCgErHRrO8o4HFy97DNztGUI5EqqGcCXA7iupPN4XS\u002BzHCtFoNAV8q8r3zXIFTcGnKeJCHRYIl5rbai7vJLav78xDswEKhOU9vGffjqKzu6FqAhP81S7Wv3M3jcrWjYYUSN2mwpm/nKT9BWCuKAj3KK\u002BNhCKishmdbfSN0/cbZi/hykbFDPgIqmVv/9DNJ5ZrP2QaSQhkcpXDCFWkMcis4Z4xzV3BMhy2hdq8M7NJ0EVeIpSTABwmfFixAQOjY3idwh0xnFo4qQ1HZMQuqD7hejgPRg80GOCBClEEDzA[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-f7a48fee-3517-9c0f-35d8-77a361b9fbbc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "89769608",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
