{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-94d9254c-0d09-2682-d31a-a7311f7a475a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A767CE4968\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:20 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-94d9254c-0d09-2682-d31a-a7311f7a475a/test-file-5b7a42da-e405-92f3-e8e3-b4b4575274df",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A767E29742\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:21.0176834Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:21.0176834Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:21.0176834Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-94d9254c-0d09-2682-d31a-a7311f7a475a/test-file-5b7a42da-e405-92f3-e8e3-b4b4575274df?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "xIvCb17LxPOHvun5e/\u002BVDnBb7Ti4qNGzcXeCBxC7GdkUS74EAjrteCLNF8oxL5X4yjlxpeTDjRy6D/3mSbzjzKQQ5S9AkAs2bXQV6pAGgkHiiT3WSXT0Ub2iSvM8Bi5m6kslIEpluDkuOzdvraOMs4y8BMB/DYMwG5RxnkYX\u002BmZGrwBE4WH3fNEEpw48haMaFpdmfwJu5t3I9QW29BnyF0DRKP2iR9IrxYjvemV185XwVoivsXpj2MgjfOxbQIe3EZDNa1yleM7FO7p6fmx3UwFwxp6QQ2bFbVA1f8rlz4QAN2nVp4g5St656nbA6Vlcqynq63rpJs4qB/0LcPgD32s1ekcDoqt5N3vA11nvBYT32NOh\u002BuQKFhCbqp\u002BLLdrltQoKim8RWQh9cbT/KU90OgJ4FJckYuSGK2M2Z/cM7Qmh2iFO5XoV5X/[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-94d9254c-0d09-2682-d31a-a7311f7a475a/test-file-5b7a42da-e405-92f3-e8e3-b4b4575274df",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "mfnkj9DBVa8kefvdaJJsaA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A767F2C187\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:21.1236231Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:21.0176834Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:21.1236231Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "xIvCb17LxPOHvun5e/\u002BVDnBb7Ti4qNGzcXeCBxC7GdkUS74EAjrteCLNF8oxL5X4yjlxpeTDjRy6D/3mSbzjzKQQ5S9AkAs2bXQV6pAGgkHiiT3WSXT0Ub2iSvM8Bi5m6kslIEpluDkuOzdvraOMs4y8BMB/DYMwG5RxnkYX\u002BmZGrwBE4WH3fNEEpw48haMaFpdmfwJu5t3I9QW29BnyF0DRKP2iR9IrxYjvemV185XwVoivsXpj2MgjfOxbQIe3EZDNa1yleM7FO7p6fmx3UwFwxp6QQ2bFbVA1f8rlz4QAN2nVp4g5St656nbA6Vlcqynq63rpJs4qB/0LcPgD32s1ekcDoqt5N3vA11nvBYT32NOh\u002BuQKFhCbqp[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-94d9254c-0d09-2682-d31a-a7311f7a475a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "215557159",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
