{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b89c5694-af79-1f09-dc53-6aa520a5eb06?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5CB6F4B0\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b89c5694-af79-1f09-dc53-6aa520a5eb06/test-file-7c08aef7-fc62-23ee-2f9f-54e8980e588d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5CBEB9D3\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:32.7938515Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:32.7938515Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:32.7938515Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b89c5694-af79-1f09-dc53-6aa520a5eb06/test-file-7c08aef7-fc62-23ee-2f9f-54e8980e588d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "oAygY33VPb3dsQdcQwkmZcYEzhOArrBnit1gpDkeZ4kjVF/s1irpAc9nX6Ro6ZJV\u002BzeTf1nll/FbONifdZmEvkp\u002BOO\u002BqOY\u002BcGs1EGE8M/qBLCqgBi\u002BcvPr1tkZ1RSYs24qBZ6rGiq8Go92SMoH6iTzk3VGvwgzNiT/kyPKjxStFBDjavshTuqF/mWZODop0\u002By0JkGvUgRV9s9pu4cG4ZtqyTS5JI8pwlSKsLCimf36xc83FmjTDcIMnWQrx5NjfwzaLn71cK9timPtJJFDs2zRfvW339syh8tyrJcbDfrBFzGjyGuO9UUf2YwE5ekgyNoHSkitu68xp5azgtQYQnxpLA1vn\u002BrxUnmgqAZPLZHiQeO9E7OiI2uCciDEy2JxB4cPq8nbwSjvFffe/QOo4noE0UDgWz7Itwih3S26LI[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b89c5694-af79-1f09-dc53-6aa520a5eb06/test-file-7c08aef7-fc62-23ee-2f9f-54e8980e588d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "53GpNgFkC2vAi/6Nv6tr7Q==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A5CC56F86\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:32.8378246Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:32.7938515Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:32.8378246Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "oAygY33VPb3dsQdcQwkmZcYEzhOArrBnit1gpDkeZ4kjVF/s1irpAc9nX6Ro6ZJV\u002BzeTf1nll/FbONifdZmEvkp\u002BOO\u002BqOY\u002BcGs1EGE8M/qBLCqgBi\u002BcvPr1tkZ1RSYs24qBZ6rGiq8Go92SMoH6iTzk3VGvwgzNiT/kyPKjxStFBDjavshTuqF/mWZODop0\u002By0JkGvUgRV9s9pu4cG4ZtqyTS5JI8pwlSKsLCimf36xc83FmjTDcIMnWQrx5NjfwzaLn71cK9timPtJJFDs2zRfvW339syh8tyrJcbDfrBFzGjyGuO9UUf2YwE5ekgyNoHSkitu68xp5azgtQYQnxpLA1vn\u002BrxUnmgqAZP[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b89c5694-af79-1f09-dc53-6aa520a5eb06?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1699160199",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
