{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-567e9a49-8020-60a9-7c8e-f0f66110d38a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:15 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABD597C37\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:14 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-567e9a49-8020-60a9-7c8e-f0f66110d38a/test-file-f139bc8d-3edd-c559-76c9-5870f2e7e289",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABD60D5AD\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:14.9175213Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:14.9175213Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:14.9175213Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-567e9a49-8020-60a9-7c8e-f0f66110d38a/test-file-f139bc8d-3edd-c559-76c9-5870f2e7e289?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "vlpu6q/vdsq4nJVwd/3R1TJ7LDYmQ2JY5FOMl6KQzBg\u002Bfu0zN3HF2rQg14s1XNervwcfmXw7Y3v4FgVbYt4nJ9B8MvgQnp7BtlKCBmvXI4h84deacTKcAhpyOyBraXfV\u002BLC6uCnfmyFpXuIquF0QIfN934EHjbae4C/dnmJ9VU3arQ27HGtenEa2MRNPcUq9YRks7on2zmv5HNf5Af2\u002B6wiVTwtQVASIHkI7UFujTm7lIDxJUGbD5N\u002BiwQCTZJtJ\u002BEYKuiI\u002BbQwUpNBGu30PVc1oFODAdZqi0WssrZME9Lmn8lgVmZRMprMvNKyWfShhk2syK1C7iIOrZ\u002Bi3Er95EK8Wn8kl\u002Brw5G20skUDuC1RCyxon0chp62nVaTGrlZPztSP8gN1fO5iv\u002BRDijvZCvVyUdEelUj[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-567e9a49-8020-60a9-7c8e-f0f66110d38a/test-file-f139bc8d-3edd-c559-76c9-5870f2e7e289",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "R79eqR24bpmCHTMDnHKJpQ==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6ABD66EF44\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:14.9574980Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:14.9175213Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:14.9574980Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "vlpu6q/vdsq4nJVwd/3R1TJ7LDYmQ2JY5FOMl6KQzBg\u002Bfu0zN3HF2rQg14s1XNervwcfmXw7Y3v4FgVbYt4nJ9B8MvgQnp7BtlKCBmvXI4h84deacTKcAhpyOyBraXfV\u002BLC6uCnfmyFpXuIquF0QIfN934EHjbae4C/dnmJ9VU3arQ27HGtenEa2MRNPcUq9YRks7on2zmv5HNf5Af2\u002B6wiVTwtQVASIHkI7UFujTm7lIDxJUGbD5N\u002BiwQCTZJtJ\u002BEYKuiI\u002BbQwUpNBGu30PVc1oFODAdZqi0WssrZME9Lmn8lgVmZRMprMvNKyWfShhk2syK1C7iIOrZ\u002Bi3Er95EK8Wn8kl\u002Brw5G[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-567e9a49-8020-60a9-7c8e-f0f66110d38a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1093097890",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
