{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6471cb62-0f04-6f17-b597-ef5d59902eb3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A91FCD6DF9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6471cb62-0f04-6f17-b597-ef5d59902eb3/test-file-29e181b6-982f-0a0a-ca56-2faccfd4fcaa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A91FE17475\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:18:39.2077429Z",
        "x-ms-file-creation-time": "2022-05-10T17:18:39.2077429Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:18:39.2077429Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6471cb62-0f04-6f17-b597-ef5d59902eb3/test-file-29e181b6-982f-0a0a-ca56-2faccfd4fcaa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "nIjkZSl8AeRmwjU4PLOp/LNOs4L4P/CzqjYWGhBM5VOkvcc91H53LdWyiACFcW\u002B4QXBkeyilHV2YMLrzZufUGd3hk37sbCg01oasRbbvLTnGXtif6Gor/6BqpKPDhMbu3m4jpN7xy9RIL6Sh\u002BdemqQKBLQcONTFytpPegsiEcFK/vWdIy4la1JIDV7nGiQbIxPugQla/4Kk8se1KEkkMw75S4jtwXd15Jlh0Ct53rC2NFr7M5C77/92\u002BCxqcEMJJ9pP6c6bKV2YdJxv\u002BS9XLxQXAvPyLQN6PVuJeslHD3RaWKxNKfDiGwr5Xr70T/bQH8kYU21PFvba1ax3EbKUVWUoFZx/BgEjMOvo\u002BNJAhfFgtVr8LrgHC0W1clREbwlUYQlVyDpWVRXL\u002BSKFZhokmk\u002B7ElhXmCqpIQpayZes2[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6471cb62-0f04-6f17-b597-ef5d59902eb3/test-file-29e181b6-982f-0a0a-ca56-2faccfd4fcaa",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A91FFA4FFF\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:18:39.3706495Z",
        "x-ms-file-creation-time": "2022-05-10T17:18:39.2077429Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:18:39.3706495Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "nIjkZSl8AeRmwjU4PLOp/LNOs4L4P/CzqjYWGhBM5VOkvcc91H53LdWyiACFcW\u002B4QXBkeyilHV2YMLrzZufUGd3hk37sbCg01oasRbbvLTnGXtif6Gor/6BqpKPDhMbu3m4jpN7xy9RIL6Sh\u002BdemqQKBLQcONTFytpPegsiEcFK/vWdIy4la1JIDV7nGiQbIxPugQla/4Kk8se1KEkkMw75S4jtwXd15Jlh0Ct53rC2NFr7M5C77/92\u002BCxqcEMJJ9pP6c6bKV2YdJxv\u002BS9XLxQXAvPyLQN6PVuJeslHD3RaWKxNKfDiGwr5Xr70T/bQH8kYU21PFvba1ax3EbKUVWUoFZx/BgEjMOvo\u002BNJAhfFgtVr8L[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6471cb62-0f04-6f17-b597-ef5d59902eb3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:18:39 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "425646875",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
