{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-52f82663-20a8-30ca-5bc2-f32ef38a1765?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A569CCB01\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:22 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-52f82663-20a8-30ca-5bc2-f32ef38a1765/test-file-9e676995-9a71-2bf6-9ddb-5e8fa758d54f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A56A5C65C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:22.5640028Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:22.5640028Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:22.5640028Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-52f82663-20a8-30ca-5bc2-f32ef38a1765/test-file-9e676995-9a71-2bf6-9ddb-5e8fa758d54f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "6ELQxZhXFVBtAY8j2zJlUPghKdMrnX7umTQPd3WCsOLstK\u002BIOQU5rAoODOWH8oo7nEw\u002BJbbEZUrE4itjSJ7a61CtNyaD3Bby53zJHJGYZqaq09ooQ4osKE9lxFfZ1mRsNCCV2rpjuL81Sz45\u002Bki5K3yFuHTDsafFgA/XHRi/GRAYXehwA4zrRhsa8vhM8y0Gq5jbVB3vqYJ5z1mrjJqndTItIJ1gSCfvmXJYqL\u002BveY3h0HF/5MTyKLRl9jQzQLmBc33GH9KQpmNx67urlgDDylbMyrwoJ5FtOvfp\u002BlHzvFi41zRB6Vm6USkODvkJR5KzoizeZnb8WEzsWOXap6sRfi9i8r7MgeD8EXiSGRiXY/JlNVglFFXiu37nVZB036p\u002B/Y/KplTT5iFM4lX9aj8zVPTydXFT7GnZgDdA5CtQhzHOF[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-52f82663-20a8-30ca-5bc2-f32ef38a1765/test-file-9e676995-9a71-2bf6-9ddb-5e8fa758d54f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "mcn/kKQOhWhi3lkQLF\u002BvKA==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A56AB43C3\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:22.5999811Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:22.5640028Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:22.5999811Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": "6ELQxZhXFVBtAY8j2zJlUPghKdMrnX7umTQPd3WCsOLstK\u002BIOQU5rAoODOWH8oo7nEw\u002BJbbEZUrE4itjSJ7a61CtNyaD3Bby53zJHJGYZqaq09ooQ4osKE9lxFfZ1mRsNCCV2rpjuL81Sz45\u002Bki5K3yFuHTDsafFgA/XHRi/GRAYXehwA4zrRhsa8vhM8y0Gq5jbVB3vqYJ5z1mrjJqndTItIJ1gSCfvmXJYqL\u002BveY3h0HF/5MTyKLRl9jQzQLmBc33GH9KQpmNx67urlgDDylbMyrwoJ5FtOvfp\u002BlHzvFi41zRB6Vm6USkODvkJR5KzoizeZnb8WEzsWOXap6sRfi9i8r7MgeD8EXiSGRiXY/JlNVgl[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-52f82663-20a8-30ca-5bc2-f32ef38a1765?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1848650914",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
