{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ab2d381b-9c1e-a7de-2c16-a64e6e8fa2ff?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E16AA95C1\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ab2d381b-9c1e-a7de-2c16-a64e6e8fa2ff/test-file-d167937a-7ad5-7266-3b04-ed890bc75c14",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E16BC35DC\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:19.9525340Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:19.9525340Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:19.9525340Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ab2d381b-9c1e-a7de-2c16-a64e6e8fa2ff/test-file-d167937a-7ad5-7266-3b04-ed890bc75c14?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "IZRw6Mz2xf9s88ANZC6yS9jl9BwF\u002BDIIJP591hVA85afIo5gcFT0Yo2JPdkKpAfBK7uyYV5VDyliaMPNee7qKwApbUGgUtqD8ZKPe7tY/YD3vKtajZE4ShNl/QeRJumenxHZ4DbGIdjgL3DLxpNtCmtC1rxDkJ5v8SItOlXS8sup8Nyqfh1KMZrSeV4gbIR/9/OcTk8sWw5zau4TmOaDDTylIdW3w4tO\u002BKUicRY/ToSerUJhNqN7fZXNNhQuNpizTmshe0quyDNnTVaqCun4MxtqdeqkIdeYKaRA6Yx3IMEMbiKqHdM58OQP\u002BuhN0HOr1QL4w8GtDy2UiFGmbd\u002Bm8C2UnZvHThZIMIUFlCfuS1gwlRSKflwAXl71FZSBk4IFaAm6uTPX5Ibsr5M8qHoFpT34ddjKHHHRkz490jiCx50C/yweM5ElWbG[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ab2d381b-9c1e-a7de-2c16-a64e6e8fa2ff/test-file-d167937a-7ad5-7266-3b04-ed890bc75c14",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "LlVPMQQSo4148V/cJZOu8w==",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D2E16CB27B0\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:20.0504752Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:19.9525340Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:20.0504752Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": "IZRw6Mz2xf9s88ANZC6yS9jl9BwF\u002BDIIJP591hVA85afIo5gcFT0Yo2JPdkKpAfBK7uyYV5VDyliaMPNee7qKwApbUGgUtqD8ZKPe7tY/YD3vKtajZE4ShNl/QeRJumenxHZ4DbGIdjgL3DLxpNtCmtC1rxDkJ5v8SItOlXS8sup8Nyqfh1KMZrSeV4gbIR/9/OcTk8sWw5zau4TmOaDDTylIdW3w4tO\u002BKUicRY/ToSerUJhNqN7fZXNNhQuNpizTmshe0quyDNnTVaqCun4MxtqdeqkIdeYKaRA6Yx3IMEMbiKqHdM58OQP\u002BuhN0HOr1QL4w8GtDy2UiFGmbd\u002Bm8C2UnZvHThZIMIUFlCfuS1gwlRSKflwAX[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-ab2d381b-9c1e-a7de-2c16-a64e6e8fa2ff?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "404741409",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
