{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-05de3bc4-edb5-8ff5-575c-f014ed51fea7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F88EB1818A07\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-05de3bc4-edb5-8ff5-575c-f014ed51fea7/test-file-6a766028-c08b-c51e-de54-be3e2afce5d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F88EB1915470\u0022",
        "Last-Modified": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-25T18:43:19.7771888Z",
        "x-ms-file-creation-time": "2022-02-25T18:43:19.7771888Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-25T18:43:19.7771888Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-05de3bc4-edb5-8ff5-575c-f014ed51fea7/test-file-6a766028-c08b-c51e-de54-be3e2afce5d3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "Sogaideq9WiqUqXysvbsJUeG/RqyWDyOgohM5Sgrq\u002BQ\u002BULMZFouSbN02\u002BxhXTNGdhA4eWn1pOPJLjAZOXQ9Af6fAtGFD0w6785E8fF0kNza2r2AaDFFm1BjAzoqFQw7O9XtwlphwWbH/Y2brLbyVJ1XPmK6uJnNVWd9IggSDNrCDbYbhs6CeRVWuGqjqeqdcK6c1tatfH88HGj25KNetey22aL81s3O1MVJY/wzKa94361ZdToAEI0632phi5R19AZ57MxLnJ3czgIRZBh/CPK9egTyATy2sskVxfdnaUks02/1tTzfMT8TeKs78qxwu9J3pBGTg/LJxz4HMdqmeWC04JCshVO14kTF4oiVerwYoQ4g78U3nVN5L/IC1/9kaQNGgxIbwDJ\u002BwcXIyZ1qNEh97pDMgYmfgUdBN1lhswpJYXmJTveuANzb[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-05de3bc4-edb5-8ff5-575c-f014ed51fea7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 25 Feb 2022 18:43:19 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "475729298",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}