{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5014e9ca-74a7-eee6-fba4-3480c3cc1392?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE312DA9661\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:24 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5014e9ca-74a7-eee6-fba4-3480c3cc1392/test-file-fecfc690-ba80-ad34-5916-f33373ffec22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 03 May 2023 14:31:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE312E35B79\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5014e9ca-74a7-eee6-fba4-3480c3cc1392/test-file-fecfc690-ba80-ad34-5916-f33373ffec22",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:25 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BE312E35B79\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:24.9606521Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5014e9ca-74a7-eee6-fba4-3480c3cc1392/test-file-fecfc690-ba80-ad34-5916-f33373ffec22?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5Jsj6oOstcxMJ4rcwWKPXA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 03 May 2023 14:31:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "f6MjOxXAjeswDCEts1J9WfQfJS51DDELpYarZvshpI0YVRTNfnUAmwdr1VRnWR7niImjQ3wz9nJxF5WOFCfvD2iUFF0\u002Br9t/H4kmCTbdpExoxN1xfWAR5V\u002BhW2bfcYbffMbr0kTAqdmuJCTyDOw7lHNJJlBKfpIHgy7\u002BnFN1n64DRo1w8dEHpxoEw1g8HthyZsfylko1lf00408WwQ2FOYV17sZfy6OhQX81Rbs5y2RVizaMgglkzbCPPA2C8eUNf4rTxjASE5ojUFTLAFBC\u002BhjqwDbX\u002BLZ7ESEVz46WH1CZJ8YxZgQ0Q3ebaTG0mcxgTEH0lzCvNofTV7UO/UQLjTEDMdiKEZMTtn2/PI\u002BExnhUtIJNoYgf6vE/XQ9PJUUzj9sAsWf01jut4eCz8Pr3TpA9uUjBvuyo5EfnS7OExJA3i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5014e9ca-74a7-eee6-fba4-3480c3cc1392?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "184610263",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
