{
  "Entries": [
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-92183a93-a7ff-47c1-8184-ebf0c61a01e1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DAE6593C7\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:53 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-92183a93-a7ff-47c1-8184-ebf0c61a01e1/test-file-7c2ce977-e42e-5e46-7225-89bdf399bb40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9940DAE73532D\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-92183a93-a7ff-47c1-8184-ebf0c61a01e1/test-file-7c2ce977-e42e-5e46-7225-89bdf399bb40",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:52 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D9940DAE73532D\u0022",
        "Last-Modified": "Wed, 20 Oct 2021 21:07:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-creation-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-20T21:07:53.1915053Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1729393344912377937*12727421398096584927",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-92183a93-a7ff-47c1-8184-ebf0c61a01e1/test-file-7c2ce977-e42e-5e46-7225-89bdf399bb40?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "4M9fOgIhgSsec1RBk\u002ByTYQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "Ts\u002BHz0Wjsyg5lNYG5Gs19h63lxoSsjirtKY39TkvoDBZTQdCA5butffeFRRemcbKiTqxLPSFYpuX2xufbL7vCfOmrJdk8/KIyOIjM5wjTBrgbGv\u002BfXQ71Oprqyd7T0k57wshuOwuZpZHKWQSYi7\u002Bc44Avv9S8Ix\u002Batit\u002BEfKDXmY6USRApMtsQbUtlQQKXK7bDiZepBK5/5/ok4UgW5PfRzqeXjqbXH60g34fTo3bkBl8YsPMZLoTgJGEV9FGC\u002BYhTk3JbD50f/GnqeCUWnERzQOrpDiP0uJAip2o1sRtbneX/cAAEiQax\u002BMSJPrZfyYgsoqN2qftUburSOFgy2jtOjtpPFyw0frfUJwVva3npwt3iGR5n5PPqmxElIlCujx6JSr/cELJb6CP7knLl9PNg\u002BGWKUMEs1pnWV[...]
[...]
    {
      "RequestUri": "https://amandacanary.file.core.windows.net/test-share-92183a93-a7ff-47c1-8184-ebf0c61a01e1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 20 Oct 2021 21:07:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1405179988",
    "Storage_TestConfigDefault": "ProductionTenant\namandacanary\nU2FuaXRpemVk\nhttps://amandacanary.blob.core.windows.net\nhttps://amandacanary.file.core.windows.net\nhttps://amandacanary.queue.core.windows.net\nhttps://amandacanary.table.core.windows.net\n\n\n\n\nhttps://amandacanary-secondary.blob.core.windows.net\nhttps://amandacanary-secondary.file.core.windows.net\nhttps://amandacanary-secondary.queue.core.windows.net\nhttps://amandacanary-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandacanary.blob.core.windows.net/;QueueEndpoint=https://amandacanary.queue.core.windows.net/;FileEndpoint=https://amandacanary.file.core.windows.net/;BlobSecondaryEndpoint=https://amandacanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandacanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandacanary-secondary.file.core.windows.net/;AccountName=amandacanary;AccountKey=Kg==;\ntestscope2\n\n"
  }
}