{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76DB6A110\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17/test-file-0025b632-d391-7461-eaa8-95b3b6be3298",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76DC96B53\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:30.9190483Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:30.9190483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:30.9190483Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17/test-file-0025b632-d391-7461-eaa8-95b3b6be3298?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "TezVMc3dGtJyOlqWeuqA6ZV3QJhHzvdBflViIY65jViFJin\u002BIGd9zsanG\u002BYs1h7XSh68C4h4tX71k7N3evlEuawBEVTAgcgu\u002BXHRoLMRFag3i9Zw/YLQDHCqCYy0BlTNY2E5KsTJF8hVjREWphXL5H4KQO8j1LwpMQTjFng8efMdBD1R1\u002BrjbXQNGm9xuWVb3iQNqcVlqo6kD/nA5QFPGRQd\u002BaLYegyTJ9J7FblNuHeeiDdULtAtuFmurMjxI4dzvQFbVMDDg2QXeoLz6ZXVV1eBIV3J\u002B\u002BpD70BJKc1EoQNKCFe48mO22wXSPLNOOs7E2FVxcAEqqcEWF2V/elmX09h\u002BqeE9HWTzykZY97829bVyhFB30zECIF6Wodr\u002BN2CrOmjb0JHsh7vxfqW60rEC3yKwDfUIIA[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17/test-file-0025b632-d391-7461-eaa8-95b3b6be3298",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A76DEB6D4E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:31.1419214Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:30.9190483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:31.1419214Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17/test-file-0025b632-d391-7461-eaa8-95b3b6be3298",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "alqQKyo602K44RfrFli0Rw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32A76DEB6D4E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:31.1419214Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:30.9190483Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:31.1419214Z",
        "x-ms-file-parent-id[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7b4a7d68-9e2c-6c60-df2e-c2ed7ac25b17?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1297818876",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
