{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4bd91eca-a468-e0e5-ef50-978ea1c38ed1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:27 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A58C71D1B\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:26 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4bd91eca-a468-e0e5-ef50-978ea1c38ed1/test-file-5d293cee-9b65-03bd-e0ad-8f1242e3a035",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A58CDCF9F\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4bd91eca-a468-e0e5-ef50-978ea1c38ed1/test-file-5d293cee-9b65-03bd-e0ad-8f1242e3a035",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:27 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A58CDCF9F\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:26.1818271Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4bd91eca-a468-e0e5-ef50-978ea1c38ed1/test-file-5d293cee-9b65-03bd-e0ad-8f1242e3a035?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ag2fg\u002BR5GKW1fmx0NtYEQw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "rLKZNadr5nKPezQxZRRRQozLyJb9qpzte8nz1UMiSmcBESbdE44kWiRTVbmbeG84HdLgR\u002BafLwEVrLrdeBAvbDDNL1PtdC/9pm1xqVXiUgJaurdwQQOAYuIlx2bUR\u002BITJOiJzUgbSqmi46B5LYasMlm4gr1ZvistTc1xyKzIKV\u002BLXoVsWYW5Pm8Nzl5jBzRbeZUNG8QkumW9XIB7qoL92bpA7c8AP9jU/kNOS/DNyUaZFU8Xuw2aZ6Mfr/0EPpTtEPSkIhlkWzm8OB2B1m918JI64pQy5h6spoYr4Y/bz8CvYDr7KacsNLoVW4LwGZA0qr9rylz/uirW93uSOXqq4Ghd0XU0esbqDa3aHYqbvI329zbQcARjr6UQJDErmftAa3oZk0caAC/4gL2uJZ2fOjvunEJD2nBk\u002BSLPI1WVvnOymrEQgShF2/Y[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-4bd91eca-a468-e0e5-ef50-978ea1c38ed1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "278341863",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
