{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-347c2249-cf3a-5361-1ec9-c854226e0e27?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76D694FC1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-347c2249-cf3a-5361-1ec9-c854226e0e27/test-file-421028fc-719a-784e-872f-6b88028fda6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76D7ED8A1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:30.4303265Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:30.4303265Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:30.4303265Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-347c2249-cf3a-5361-1ec9-c854226e0e27/test-file-421028fc-719a-784e-872f-6b88028fda6b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "jlatkTXf3HxoJq8IHPx9np20t0w/sYGdI1mMSu3DceNYDtaA0Zrevfmy9H61fdT37UFZMOqNZdzUD27bUpKPpLTLrw4l/cwC1flSjLwD6KWFlV2rakH5y6n5q8IsAmtnI1DJ6c7G0fB0VlrxOtkg0CfIVrw14zlz0eNlK1EK1tKN62hrOv7XvsRsNxPmCJHP2duaZKyuMkAXVRjrYaaeaYCIY05wtJYp8Zf4yKwljclRlVJ2cHEm37goVOTm610ezs2TXqVCXyREcXMUtmqT8chPmcxUKPkOYoOVR2CyQgU62vrfki4jDjUtMf7\u002BEShOlGIbl1KRyqXThPwhrBfDki5u2txwtF\u002BZK4qWJvb7EFBaR7P\u002BlquyqQ9UCw4yAmIdaZ/PkDdM3t8CgWvH\u002BqOv2HSrxmVkxfyDuzDMG6lRZikoebxWK38YDmj[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-347c2249-cf3a-5361-1ec9-c854226e0e27?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "841141243",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
