{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3b980185-b5ee-0b3a-535b-dd422d1048c7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6AC0716BF1\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3b980185-b5ee-0b3a-535b-dd422d1048c7/test-file-adb5539d-17d1-d24e-4a81-78c030d395d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6AC078719A\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3b980185-b5ee-0b3a-535b-dd422d1048c7/test-file-adb5539d-17d1-d24e-4a81-78c030d395d7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:21 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6AC078719A\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:20.1054106Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3b980185-b5ee-0b3a-535b-dd422d1048c7/test-file-adb5539d-17d1-d24e-4a81-78c030d395d7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "cnCYLuha8EC6gqcRnlJbMQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "bLzYKY4y/ewZykBf3HA/byhfwBpNSCrEd\u002Bygyc3U\u002BSd6pV0PCwjwTxTX5tK5vfn/JFzqdRL55iOSE7KhkTQfRNAZ5TYTMGQfb3AGdmJXC7rzoaVw6YQUgb86ffdWTr3gt6ECoNfD6/T4ywWh8nDAOgj3rfCOrltLBGR22bNtyCCyJr7BVGriMLWxeB5/c45OeULuX6HNUQhFt5tzTBJAiwLk7syy/\u002BWeFX063TY9zJHWKF9wfml/5dS1e53Pb\u002BSjcOwbmoTBnHlcUEkjk3PSB\u002BsKnSOyzwyYZAn3/YRIz6WZl21JITENFIzmFC4gXFJh43OyxdLA8KDggzV7yZ/1FIGkivsGiOW5/IiXzLveeAi2lhkQlQrT2KfMaZ77kUrt8P\u002Bse9FWWluN\u002BMhJKSPkAQstxDOF5H530LFUOR5H[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3b980185-b5ee-0b3a-535b-dd422d1048c7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "580808023",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
