{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a8d49a08-080a-3196-21a5-a9159913877a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A605731F7\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a8d49a08-080a-3196-21a5-a9159913877a/test-file-97dd8a14-2659-24ea-3d1d-1294e99aa9e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A605EAA4E\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a8d49a08-080a-3196-21a5-a9159913877a/test-file-97dd8a14-2659-24ea-3d1d-1294e99aa9e9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:39 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A605EAA4E\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:38.8751950Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a8d49a08-080a-3196-21a5-a9159913877a/test-file-97dd8a14-2659-24ea-3d1d-1294e99aa9e9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "YGLDiEH6UDP1pmmmcxInEg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "t1hYZo2SpHvPaZHQbLYtIKlQZ2yyCM9xUCMvlGUFQNJaRyirqJbKG4jkr0FBNkT/iwYc2dtzoq6I5hVqYhAWySi/diWNgncThUzjzliNLxreMAhe6Wb25qR6I8KAYLl4zuYYgr8fcQmOCVOPj9RV\u002Brb7izEHt\u002BDCyI\u002BAE1\u002B1kiWSa/9yda1av7//0N8SZ1bQJCgLhNSIcRcFVrkwnl6q2HYu/CTU44UIocxyCOcAr2E5sO82qg5QCvrobR70KiBgVPdp5Gox\u002B0CjAuMIFmgwBKZX9u5vcy5o3fIq7HVmFHarEbPwl8v3B7Wuk6cqR/ORt2h3nDMy8eDIAQZ3Bw7KPO1sXQW1QG3bYO45wOCGPZX\u002BmDQN73hDeR/TJ5XEgACm41e6vuru3Hf7mztF\u002BTEAQcRxeG7ZvUx0KeTl4RjX[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a8d49a08-080a-3196-21a5-a9159913877a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "621272071",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
