{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bdd765b4-3f00-7de6-7f16-ed724a3bc445?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE3138932A0\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bdd765b4-3f00-7de6-7f16-ed724a3bc445/test-file-37a802f8-ec1c-ec2f-e4ce-f7b155dbf35e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE313937ED5\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bdd765b4-3f00-7de6-7f16-ed724a3bc445/test-file-37a802f8-ec1c-ec2f-e4ce-f7b155dbf35e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BE313937ED5\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:26.1149909Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bdd765b4-3f00-7de6-7f16-ed724a3bc445/test-file-37a802f8-ec1c-ec2f-e4ce-f7b155dbf35e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "Q5yBAlwLEinElux1X/Pq7Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 03 May 2023 14:31:26 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "IEgQWCzjmwT5FrcSrzGXktxLY4tDuletofQOyNZCIm3frZSd3OB1KyPyENeYc72XhkdMUjWCn2bwY7c31dIutvNJMwGd\u002BbX81jdoUKl/FC03d0KO9tA3XA4urHkoPVZRxFrjTkC7\u002BoyRUHz9Gk68cU6KAF2Qn8AjEtbzbkw805jhFoxPm8bte3y1/aVTOULAcjsqnj34wCSZvzxqyIxAVH3jHAPBbNWInIXg26Ia0NiTMvwQETRb6FZotdyJg7LwdagocB0//gVmogG4F\u002BWBf\u002B9k1paPL0JIiDOtWbf4/hnS8GX68l\u002B7VDP2qm8yotBw5jbsJawcYEVl4OfpkaVObaTo5Sd/h4yPqYFimYXTFeViPHKADNhsto8glBJ40cOOpzzLSr2p8F6pXHwrusfAksoBhlQzzmHLey\u002BYX/N6F9e\u[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-bdd765b4-3f00-7de6-7f16-ed724a3bc445?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "376040012",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
