{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABFF7E0E1\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:19 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277/test-file-96333258-3446-5d82-6cca-815e4b4c19d7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABFFE7251\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:19.3058897Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:19.3058897Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:19.3058897Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277/test-file-96333258-3446-5d82-6cca-815e4b4c19d7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "Llo74ojeiCR1sNm/hTPcJ39lECR5yCR0kZZ6sUzvzzhXVmU0jg\u002BmOTe6pKJu\u002B/IOAXVFRZW82WU2x1DyY9bXhuGgZy7OqJhvvtftviSBBZajbLDXqomjmn3//ce/tNVg4h7AzZPEQFnc1Ye9zxpBtcG6TvcmANxX/c2xzqrQsAkBjNwGwDcD3ytW\u002BtQC5cpivkgGBGbdOuFBadDFE3GvCyR9u0M\u002BO/SJt2/L0AYHVRcCThBhyqyjJFL6xFdnPcy6pu6vhCqHJIJUfU33EmrbOhO4wsRgTUF42pfwRHecIXmiESkXV9HteyqNDUxerBHoHopEr3oHWVmsN6qSlt8Lt1vTVABAxOJCykeZ0j/0Gi6FCCXsV3L/m7fQaiAmWuRKglXwi1cRp1qnAuQzbYcZuB17DY26Hl/p1LlJcFnCG29iTlDqA47WdGH[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277/test-file-96333258-3446-5d82-6cca-815e4b4c19d7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6AC003A1A8\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:19.3398696Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:19.3058897Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:19.3398696Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277/test-file-96333258-3446-5d82-6cca-815e4b4c19d7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "lQhO\u002BW\u002BUevYPKt3CiWrFMA==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6AC003A1A8\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:19 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:19.3398696Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:19.3058897Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:19.3398696Z",
        "x-ms-file-parent-id[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b72b290e-2ff7-6cc7-f272-9528e458e277?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1271496682",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
