{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-17998321-3a09-542d-8d12-785e152e1455?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFCBA42CB3\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:56 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-17998321-3a09-542d-8d12-785e152e1455/test-file-1b8b1f45-a1c2-a425-4348-818ca5a001fa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFCBBFABC8\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-creation-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-17998321-3a09-542d-8d12-785e152e1455/test-file-1b8b1f45-a1c2-a425-4348-818ca5a001fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFCBBFABC8\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-creation-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:07:57.1183560Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-17998321-3a09-542d-8d12-785e152e1455/test-file-1b8b1f45-a1c2-a425-4348-818ca5a001fa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "A0\u002BuHFl\u002BDMI\u002BDQ6EtAYxWQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 03 May 2023 14:07:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "6cc3fn3eXeLqH8\u002BWkNbYDhjTrHEmKJbQA2V8odgpxpBy9my0R3sn00UlAp9QANy0YVdW3wyPi8ExZnoYYbsKwFk/JJlpI8ecq9gsACX2gAOIyECA0\u002BeD42uqguABD3GKG0FGEdtCSj2QujMzY4qcO\u002BZ3j5l6iu1xu0Euv6Dnm5xnoeTjr24oRX0D7xizUH/gDkf5iX/XD5FU1FaZFIucqB\u002BXzMGluIt4Tkocd5rUvWvBTbBZ7REcj5FTj9oYjjHxZkb5HIS\u002BO1a7gTs1upj3fxbq18bbQ7sOejwvUiixX8AYKxBT26HnAxJZnmzW59T5WxDDLbZqFSOL66JHjuguCiF6HY\u002BIpKN1A9S0gaVON5JnNvYY7TIJrRXsx/D\u002Bn3QpK5NLW8pFcLdsTiritpN\u002BPbMP4FjyFRzvcG9[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-17998321-3a09-542d-8d12-785e152e1455?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:07:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "58509763",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
