{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d604a74b-9803-afdc-9d2c-162385fc5e9d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF49810483\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d604a74b-9803-afdc-9d2c-162385fc5e9d/test-file-bad2aeb0-11cb-69e9-c876-dffa33f9f90e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 09 May 2022 21:02:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF4992BCDD\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-creation-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d604a74b-9803-afdc-9d2c-162385fc5e9d/test-file-bad2aeb0-11cb-69e9-c876-dffa33f9f90e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:55 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA31FF4992BCDD\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-creation-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:02:54.7121373Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d604a74b-9803-afdc-9d2c-162385fc5e9d/test-file-bad2aeb0-11cb-69e9-c876-dffa33f9f90e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:02:55 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "eT4nqMgp/\u002BUfi3Err/kEzyUNJWHLls\u002BPkUWHWg1/MJhwcGlspl1A1CVLqEMjDparY4jiO6cGrONvlxeCoaXYoFvZuz\u002BQlynIzVE7f\u002B2La4Kv2/aEnPXwacOF/Q5GvTKAcwjnSlNXG8tfGm1Wyi314yuV08auUwNm6FJ8CpoagQ8euwvkpCEvV78rJYKHmp6WkBniseps0SAFgWIB2hExRJheNw4hED8KZnsGgi6B3k2z5nqAONAlsurr3yK\u002BLX2u\u002BeDpKGOPdH/a10tuZU7yg6IVTfSXsQvIOYQkNjAcTDj\u002BWIlNmLXqJHL6pWCFtkyb\u002BFx/qd\u002BJFkjVIO/eaj1OvYsScA3FpevsKymCnAuqQoI4iT7UnaJYdEFBeHfGC7k0rOjVckU\u002B1VNwkn62B3o8Kt5tp[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-d604a74b-9803-afdc-9d2c-162385fc5e9d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "904794631",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
