{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-06b4f1fa-2a8f-b6b0-958e-68358619c0c1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABE55DFB8\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:16 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-06b4f1fa-2a8f-b6b0-958e-68358619c0c1/test-file-ed0815bf-91bd-1f98-86e2-2a8dd53c2fc6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:17 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6ABE5C9B39\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-06b4f1fa-2a8f-b6b0-958e-68358619c0c1/test-file-ed0815bf-91bd-1f98-86e2-2a8dd53c2fc6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:17 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6ABE5C9B39\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:23:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-creation-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:23:16.5675321Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-06b4f1fa-2a8f-b6b0-958e-68358619c0c1/test-file-ed0815bf-91bd-1f98-86e2-2a8dd53c2fc6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "EwmQbCeiwBLzylOAZE\u002BU4A==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "Dyob1YuNCBHgvgYNffTo2MpB5ylnd/E7O6L\u002BScpiauc6hKujoe6cwFSgZxK31CzvhUXiSTEdwZg54Jnoj79HflMe0vhJRTfcpSfVxg/fg2d1DsOFfyC1HcMTasBUszGUWem\u002BmAEzpkANBqQJR/qJWl0yc4D7wf4yabU1Ndt3h/L2QG0lIOtlQmeDeHl8q9XIiRBiIj\u002BwmZfrjC5M/XBllX6yEweNYzlxzDAYeEmEtr7fbavKFGWyRqfVOpS8GET3HeL6yZjOOibW8VUPlyBOZtVwbZDFmoAZAM1fuCmltbTsIVpmie0mEDKF9CMPo66Hh9O\u002BTKuzMoJh4cjLboL9MDuhInbF59zoSlxdP6ZdCV0e2DBV5mkIOO/XBKgkW6Gwh8PnboA3wZ/31gFOVvLcBNhrrJZRqErSmemH7eM0xO\u002B6rbfidZ[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-06b4f1fa-2a8f-b6b0-958e-68358619c0c1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:23:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "252949438",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
