{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4a510cd3-9576-c231-43cd-d24bfe1d0e6e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFD136D05D\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4a510cd3-9576-c231-43cd-d24bfe1d0e6e/test-file-f8cb648b-96fe-ba63-cbf8-42e59f6aff0d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BDFD140EDDD\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-creation-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4a510cd3-9576-c231-43cd-d24bfe1d0e6e/test-file-f8cb648b-96fe-ba63-cbf8-42e59f6aff0d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BDFD140EDDD\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-creation-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:08:06.3540701Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4a510cd3-9576-c231-43cd-d24bfe1d0e6e/test-file-f8cb648b-96fe-ba63-cbf8-42e59f6aff0d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "uzSn0o9oXLCRd2bIAUhrvQ==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 03 May 2023 14:08:06 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "MlWD7XXBhUDlSL\u002BzoEt003I2pQpmtWFFwuLt6tJjqib\u002BYbP37G0m4292c8Q7aClZ4u1RKL\u002B5LHz0PiuT05pugZ2YtD\u002BXfeYED8Gb8EGcClm4lAflEYJnRDU2A65CkhDUCPEnorTqwWUGTRj9Hjs7VzPR2j6TiHAaMG8KYHk3wXyxxudPdWelztOh3sNpaib5\u002B6x7cbjRQH\u002BBDXJE32DszoycS1hT6\u002BLLLAxr8amssMZJEWTMvE/E4IVozmj1YO9ytRA3zR/NpQ/Kr0SrZU/V1Vys\u002B877HxI82GrS6x151ssd\u002BDyZdOOme2tVAg0KGHo2kvgLSGUgdpX9\u002B/W0\u002B7nyUNh4jm0SO2B5BX9iph0FMb/vm1gkbo5m/IGnnHnu8oCxYrE0kYkNJFaYkkPlvdB3[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-4a510cd3-9576-c231-43cd-d24bfe1d0e6e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:08:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "12082725",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
