{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A57B4ED4E\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf/test-file-229dad05-c03d-20f3-107b-4d0b009c5c1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "3072",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A57BBED8C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:24.3869068Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:24.3869068Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:24.3869068Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf/test-file-229dad05-c03d-20f3-107b-4d0b009c5c1f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "0Yd3YevqJy3xYWeM0Hmg7uues3B85xyD0Q9/nl5UPywwUmWLxBYfsklID1Hvj7\u002BWtVbXyuZ64epq9JDbaojOnSI6W34TFCnUfgEnM9fLk0FP6ekIfHVGtnB7IdCFREfAeXIutDNBgqAtAkvlUq0SnmBOjIGfxiCt9KUOmPNYTjq5ZrplnN4ODmdI23kpYGPCaINwN7fGIbJRgcCNM\u002Bmt1LMRLOzzrQGBQH0ZVuunhJNCSzBw6BeC8kUHFBsegNt\u002BmwfFFzR2z7qB7/Y6rMvGqv0sS\u002Be5POucjzmn65nmYsCim7rk4Wxfy3t17vkhR0V5QGkd8TXzxF8bKYf6z\u002BMhm4w2mBEQ4smQzX9rQ03xe0f0LasvyHGLrtZbybfkZPuYVFNt6q80aV6gjSS1h4ERKa5ABqI48dIbq\u002Bk6tRkRq2iD0[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf/test-file-229dad05-c03d-20f3-107b-4d0b009c5c1f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A57C1E01B\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:24.4258843Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:24.3869068Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:24.4258843Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf/test-file-229dad05-c03d-20f3-107b-4d0b009c5c1f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "M\u002B8uA/wiWeuXg4DTVDrwLA==",
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A57C1E01B\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:24.4258843Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:24.3869068Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:24.4258843Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-2d0908d1-80a8-b3b1-2a63-a950e1f1e9cf?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:25 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2049040702",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
