{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6a8ce77-723d-104d-1bae-38821d7745d9?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76E90181A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6a8ce77-723d-104d-1bae-38821d7745d9/test-file-d19bcb2e-1048-0429-d173-d7c81d36d571",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A76EA21F8F\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:32.3392399Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:32.3392399Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:32.3392399Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6a8ce77-723d-104d-1bae-38821d7745d9/test-file-d19bcb2e-1048-0429-d173-d7c81d36d571?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "KE\u002B/WiV7N/KonG7CcAsy01aWb/BEB\u002B5mhXU7/leIiRkd9hmOiP58l/RAlE5An4w1m1tH669txiBgWdWvQDmbIBNVpHryo0pXGtj8A3KfJuXpBWP7QZ5psC/4Li8ozFa7pXQ76vsRQ/gR79HXcMKtwTPvxjvVn9907PNL\u002BXUbL02BQF7\u002BZDvp18Jr6VHMkT9sS2z8OQYb5QaVxv0IxkmC9sCEVjBkr133Be94arWNqFqz364IHvVHZVpXaJ0\u002B4RF46PORSDsPB5wPBDMWonpQCB6iVOebetfKPPDVDEbAuSTdAILC\u002B18fo9cS\u002BRrCMMLgB2B\u002Bm4wp3W0cxgtKOfpVT0sPOaL3jgy/g7APiIG9CAwu9QXlQR6XtCIVpTVT1GrdvKnOsvcg6HlUvxfbGlTsX77/HEP1cA4teIS[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6a8ce77-723d-104d-1bae-38821d7745d9?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1059011773",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
