{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACCA5DF702\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c/test-file-0066030b-2be2-cad8-a253-5f6252974d98",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:44:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACCA7092F2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:53.8485490Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:53.8485490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:53.8485490Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c/test-file-0066030b-2be2-cad8-a253-5f6252974d98?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:44:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "gfrQ\u002B9aTOKZq9VryvK/Y8KzsdvQqnd/qkd9o\u002B/aR3EdKqQNj7PhuNcCYNYf/pvKf7ZIKkO7F9eMb5Wr2Kzyw2RkTpxOrdQSzfUAzkWhX6urtyA1khkxYhbQfRwaOdwmD6Fxu7P7f9HeNVxKtkWN7w/t/CWMuTFLMuiJejC39JAU3sKkL6f3rDdSV1i85q/RRpIQLDm6mVJwKoTLcgGhKkDINduC5cNr9k/uPmXUikw8tDeip8RaXkFsNAUfLD41rS0b9LDQTlzOpDntyF7sm5w0irnOAoJ4cduaFq26SMYRuI00vJWfaGnW0/\u002BOaJHif5xk5qWAZ66un4bZOjuvFF9z2BPRu98KmSJT\u002BzKC6gVFt5cRUWIgjVDehh0Sxi4yJ7ugGoyCEMO9Xk2HMGx8K7V9k4agncL5U06\u002B8zW9\u002B9bwHd[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c/test-file-0066030b-2be2-cad8-a253-5f6252974d98",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:54 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACCA804816\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:53.9514902Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:53.8485490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:53.9514902Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c/test-file-0066030b-2be2-cad8-a253-5f6252974d98",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:54 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACCA804816\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:53.9514902Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:53.8485490Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:53.9514902Z",
        "x-ms-file-parent-id[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-064db21f-85f6-3633-ada0-303fed683d5c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "759666059",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
