{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8819e9ef-7e7e-39f2-1f49-6eabc6b62845?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5F7AFDEB\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:37 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8819e9ef-7e7e-39f2-1f49-6eabc6b62845/test-file-031e9e61-a826-0c29-664e-b57543ba9190",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5F8200D2\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8819e9ef-7e7e-39f2-1f49-6eabc6b62845/test-file-031e9e61-a826-0c29-664e-b57543ba9190",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A5F8200D2\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:37.4290642Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8819e9ef-7e7e-39f2-1f49-6eabc6b62845/test-file-031e9e61-a826-0c29-664e-b57543ba9190?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "yMU2PZXiIPTHkcGnCIQwNA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "nz59GHorRhvVSQdVVVdUllX1OwysJ2NmC1Nfk6n0kYJRBvqmC9r/Q3PvK5hOk9nuw5TKSMPKdnjaFwwnzLNy4LeEA05drot69fiZvfvLF3d5cM8UKki/h5CCy/TN2HfAfUrgyZCKkRQJT1PLMbl8D/\u002BVrVvjXbZvxXy\u002B2uOXrB2A2T\u002Bw603n7t\u002B6C9r19FbWBbz0OCoc3B\u002BUcQQUzLYxcqI2Sld5yySyrr57KFLcedEl59QmonTyZP0gHHlJ0iIoiZg3v6n\u002BXTqYQopsoLPNt/cy7uXiCs8uQ\u002BZaWa6qaNucU5\u002B5pLonJ4majmDphcRJUmSBF\u002BQ9Rn7JCXvDpAOL7dmv0EwUExM9CsdbR3tvRb0iEQZJKFH2Xg0h8Js\u002BZIKGDqCGOrV3ND9RRAwd4v4CWsS9o[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8819e9ef-7e7e-39f2-1f49-6eabc6b62845?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1299733243",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
