{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-89738d24-8728-06c4-63c9-6031367079c7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3206294E4160\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-89738d24-8728-06c4-63c9-6031367079c7/test-file-6dc739a5-12bd-1a7d-8482-4f1a082f8752",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 09 May 2022 21:52:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3206295FE7F1\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:52:07.1690225Z",
        "x-ms-file-creation-time": "2022-05-09T21:52:07.1690225Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:52:07.1690225Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-89738d24-8728-06c4-63c9-6031367079c7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:07 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1304556546",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
