{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A57328B1F\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7/test-file-7be65315-37c9-14cb-9e95-cea7936bbe0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A573879E4\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:23.5254244Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:23.5254244Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:23.5254244Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7/test-file-7be65315-37c9-14cb-9e95-cea7936bbe0b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "bXpL8rn4s/hC1npEwsHstoeSAyZ463YgotMTB0610DpuBOLRa1zoWzzlgopIkZA9PKFVJREEcoIEK0/l5aupjQVA1b3eG0sqqafpk2nr1xFD1cqtX6spapJgzD8NAnaQO/WECLvSXiFWK3tpGt4YGFM\u002Bog/h/C1aFmsrfk4LHaYwWVd0Zs5VcHapVzQvv0\u002BzR7PszmBnrz/HKvJQpuDSSg3UOMGGpLKE6TGYN6X5KlYbeDabH05GyakYrDzcBMqW1wwmW4eOLKMBZ\u002BUvzniZzf\u002BbNS6pNyu\u002Bjm8Ybvd1qORnAmCZ08/PjUuTmbhpF/oxf949Qc\u002Bb7J/gZ80Xdb6rjL8Ax8wXAPovy6fiFp5zVXZ15\u002B4YOGYVyxbAuGsCuBeN6A35aE8tGX/kDXUnudYBbRJWoY7PklNY6/y2VkeP[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7/test-file-7be65315-37c9-14cb-9e95-cea7936bbe0b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A573DD049\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:23.5604041Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:23.5254244Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:23.5604041Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7/test-file-7be65315-37c9-14cb-9e95-cea7936bbe0b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "ZClyvPgijrTevdErdIZTWw==",
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA6E6A573DD049\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:23.5604041Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:23.5254244Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:23.5604041Z",
        "x-ms-file-parent-id[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-c95ed49f-b2de-3811-6cd6-34571657b0d7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "464126432",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
