{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3c87ddd9-7054-a261-086a-35f40c9a1f76?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF47CB2F91\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:51 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3c87ddd9-7054-a261-086a-35f40c9a1f76/test-file-f822fdfd-e497-0ddb-6717-673ad50b1e55",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Mon, 09 May 2022 21:02:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA31FF47DDF96E\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-creation-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3c87ddd9-7054-a261-086a-35f40c9a1f76/test-file-f822fdfd-e497-0ddb-6717-673ad50b1e55",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA31FF47DDF96E\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:02:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-creation-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:02:51.8497646Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3c87ddd9-7054-a261-086a-35f40c9a1f76/test-file-f822fdfd-e497-0ddb-6717-673ad50b1e55?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:02:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "MNxk015Zk3Mi49n5HWLwIpLozdvZ71D6R1rwye49aXlvi87UgQXtzZ1MDUI3k6ZES1XrURsO7kCMaosEacqF5HlgiZKTHKGM\u002BwA\u002BjeIOwrS0q36YURheYZyORxZ56WPTxyjI1wkUsC60X1Ya0GFdfqfXT71L7JJhASj1BdSKEhKcasW6ReuroPpP5PLBQ5A6MMlvopmmh9qVZ9XgHqtaKkxEfWWbozi8K67C/Aign76XutQLG3B49uPrJN0VyoJP9bqmfcYqno2Qsnbr5IrR9ccXSGPWTw7czIeCsH5bpmEscwdO\u002BSL4bRxGemj5jBJYGS8W/oIeeKWryrA\u002BqO4ONQsVvnGDg/ulH9tHj9Sm4j91KpdPRajfDvphoi9xucQuOEVc486g1ZUzcN\u002Bm1\u002BjRBedxyX5Xv/BjNrB2IeHMM2YWG[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3c87ddd9-7054-a261-086a-35f40c9a1f76?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:02:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "963252800",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
