{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E18EBCCA3\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530/test-file-3d3c285c-640a-79e6-5ca0-07be721c9aea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "3072",
        "x-ms-date": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E18FDDDDB\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:23.7382619Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:23.7382619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:23.7382619Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530/test-file-3d3c285c-640a-79e6-5ca0-07be721c9aea?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-range": "bytes=0-3071",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "TJp3mPmV1rzO47IRzPh8S/8HeFO9BOqyiIZxc1xh1J\u002BCjTQOrf5yP8\u002BBg2LLIc0bXHBZ8jtbDkevxBByI2NfbA4Sjz/Dbp4BlDmEPIGI52a5VhbsB\u002BJjJn/sXunu/xtrIhZTuJKNV\u002B7SWF0C19LGJ9ypuc1Mc2Usr2jA1g\u002B1E5UdGBpqNC/UK/4oGa6FYU\u002BsJjcMRUZOH66wJwkqzYDeHUXH5L64W/Kt1Y3OJFq3p04YE7DYqM5Pz/lrugwmqV59SfxpvXyQ9MpEX2\u002B4f/tT\u002BYC7ErrQBnR3eBXFTKHlhysvUdpeTenShx7mk0lellD9F8CMapejrUOH8kRmy6gpX9dEiC4g9ayW6Iub6nMqGOHEyDThWRyUi6OX1lula7x1vTNyGg4i3CEU9YILCMPPXdlioQJzRwW7r/2[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530/test-file-3d3c285c-640a-79e6-5ca0-07be721c9aea",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:24 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D2E191CABBE\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:23.9401406Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:23.7382619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:23.9401406Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530/test-file-3d3c285c-640a-79e6-5ca0-07be721c9aea",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:24 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-range-get-content-md5": "true",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-MD5": "JzitOL\u002B0s/EGhNNuZnkbIA==",
        "Content-Range": "bytes 0-1023/3072",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA2D2E191CABBE\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:23.9401406Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:23.7382619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:23.9401406Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05b089d6-2541-2578-7097-734df9fc5530?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1027754223",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
