{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACC95ED509\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1/test-file-fbc5a522-99fa-4ab6-731c-3f252261af4c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32ACC972A8F1\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:52.1844977Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:52.1844977Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:52.1844977Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1/test-file-fbc5a522-99fa-4ab6-731c-3f252261af4c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "RkxXAjKF\u002B1uvhXB/FZYl32brgt\u002BoVSpr3L8GMty\u002BU0yQS2oTWHug1TmEKPIwsGNgbmjgQnf8PfEi7CVyfsh\u002B8DEk7sksEobqSq2mJCw4OyxcpsR03hHUkw558WxVLVZwBTfADMGZNFzh9ffKVhnE6bD5FtgEChIgT1q7siAZlB1WNR70eC5qwnJok\u002BkZCT30tAe7XBd\u002BbPsln7xm3YE7x2DZdCH6z3GCj1Nlm3YoB0Udxv4ZXjgF18giz9hxA\u002BTwLMuIP5Uc\u002BeWVOc3DGNCE/Zh3SReDImkn1JxY1wCYEItudG\u002Bqn8ewAcwYgyRrQr74ntJA\u002BrrNbQpiYWv4wyLl/ClBVKRh2V3QxkdKap5EvJHdXzkuWBXRoQdkSD5btz2qM4f7Ke0alsR0bzNygwNsHaTZG[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1/test-file-fbc5a522-99fa-4ab6-731c-3f252261af4c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACC9825E0E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:52.2874382Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:52.1844977Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:52.2874382Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1/test-file-fbc5a522-99fa-4ab6-731c-3f252261af4c",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DA32ACC9825E0E\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:44:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:44:52.2874382Z",
        "x-ms-file-creation-time": "2022-05-10T17:44:52.1844977Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:44:52.2874382Z",
        "x-ms-file-parent-id[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b705b480-48ec-8646-90e4-bddd13892da1?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:44:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1843876169",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
