{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e5a21a4-5dd1-c37c-da37-65e1dae0855d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE3141AAE5E\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e5a21a4-5dd1-c37c-da37-65e1dae0855d/test-file-c35b9f89-0eb5-168b-7d51-2fd5dd9f0ed2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "10240",
        "x-ms-date": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DB4BE314287D12\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e5a21a4-5dd1-c37c-da37-65e1dae0855d/test-file-c35b9f89-0eb5-168b-7d51-2fd5dd9f0ed2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DB4BE314287D12\u0022",
        "Last-Modified": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-creation-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-05-03T14:31:27.0914322Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e5a21a4-5dd1-c37c-da37-65e1dae0855d/test-file-c35b9f89-0eb5-168b-7d51-2fd5dd9f0ed2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "9Ih4ypQFfl3O8eEU94om5Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 03 May 2023 14:31:27 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2022-11-02",
        "x-ms-write": "update"
      },
      "RequestBody": "azIt2RHI4zDwsu4Ne4ZKyN1bx8fpOfb5o4jDqC4wOk4dKIpG5ID4Ui/GW7TLKxNGdH0jElre0DE8MzWIBDoCwHif71L8BONdY3WYI95BLXh1fDSwDSf0PlhZCrFKb030w5s8LDvASm\u002Baxa/lRqxS\u002BgW9E4cGUbJQq7H6ovoyEvMnpF9DBQE8tTLEFkd4D/irBhCrjVzF7nLo7ICKxad1aLO7vaFND/QEgV1VQTtr2Jy4T5zphoWXYrXtWxmAsfCKT66TvFFWXfcbpwz\u002BcKw2fBPk0XULi\u002BEuJFvsX7Pbg89ty/KN1xtKYfGlzt95mPEIt94FnOB6fsPMZZj2av5DQCM8kaW6qKT4mW\u002BDZr0CtYtp46jU1ebv8kwuwXKDU/fzYY67PAdLTg45DANw9xgGyrAMjYdVbmo9TZ5Zi\u002BcydUZ4k[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-5e5a21a4-5dd1-c37c-da37-65e1dae0855d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 03 May 2023 14:31:28 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2022-11-02"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2022-11-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "910338330",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
