{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-43b29d76-a83b-a7a8-9cb2-f015dea4693e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:34 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E1F106258\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-43b29d76-a83b-a7a8-9cb2-f015dea4693e/test-file-ee9ea031-8053-a85e-c134-2d7eb6e2efe2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 03 May 2022 17:55:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E1F221AA9\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:34.0420777Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:34.0420777Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:34.0420777Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-43b29d76-a83b-a7a8-9cb2-f015dea4693e/test-file-ee9ea031-8053-a85e-c134-2d7eb6e2efe2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:34 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "u\u002BL\u002B55d0UhJLTsImRSYi5JT/9MjevHBvw36YyGNXnzEoGsajujZaq8OzYX9bAs1Pvx1lxFojav9xjyMY3Imv9K6Q/ipgfylepEkEKlrxE8CwSAhG8drXBLDGMSsSQc46BG3QywSj70DzByARH0ClgHtjaJOAaQLTuPl6mU3\u002BS2J6yiXtIEi8DVnIUuq6xeVvIbCvr9k6uZtq/BIKKFXy9Ly9llUauGAzp1o6uBYYGfMTCnicT5yJQBCKgiM1seUD1V4u/C\u002BQVGlQfAd\u002BAAGEUeMf9h3dVqUfNFZEkDU8/fZ1N\u002BK36hzDg7YPS9OVCj8PBTE/FrrHJn\u002B5DsfZTMMzFH4RCckezGfGW3NnzQrRiioWNYsD/OY7rRBj/ttU6jby2zdUgwB28DjJebtGYFl154Odwhc4LxeY1Vu4u86L[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-43b29d76-a83b-a7a8-9cb2-f015dea4693e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1564281362",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
