{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0ad67bc7-95a8-8573-49a6-c61a3359464a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7B81136D\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:50 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0ad67bc7-95a8-8573-49a6-c61a3359464a/test-file-9a909b7b-2a2c-c5f3-b7f0-b46b4eb47b52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:58:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7BA079F1\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:58:50.6359281Z",
        "x-ms-file-creation-time": "2022-05-09T22:58:50.6359281Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:58:50.6359281Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0ad67bc7-95a8-8573-49a6-c61a3359464a/test-file-9a909b7b-2a2c-c5f3-b7f0-b46b4eb47b52?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:58:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "GL9F\u002BCLT1hNNHRBbCDKyjp2u0rReVJrg/TRkTZhxBBEbISgSdQ/1dKjopJESSZg6lY0fBRZ8DcQkZfvtb4h63Bn\u002BP\u002BcKoBiNuF4LdbAJzbObKrgLUv76nxRk7Q8UCAQfbcd4EwmxL/R0kU24cJcTG5hHUUXQb4obA6DSpbIIea9Z7Ajokbqq6frElsCwQi59UNJ3zba/T/48XA9o34lCbBeeXoSOKordnGdKC9jJasFyVVXgkKv4mpwKrDSqQQpwgSmpEuOp7iZHmjBPdEMlc/JO9Yo0YttspcTnhH5WMlpd2omuIFjdyGYumPZ6qSVY5DhBXEyAOx9OPGwfwWqn8WfV8Zq5dlKacC0jBcnl8fyejp9FFNUO3J5qYOPrvQb8h6eOpbeLn27mp\u002BwfXTVWaEtwgTPKYt2RxxT7TxVurrImJn4iV0xEEu8[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0ad67bc7-95a8-8573-49a6-c61a3359464a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1483628535",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
