{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cfa2486e-6bc4-059a-36e0-2c078cff49f8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43BB28330F\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cfa2486e-6bc4-059a-36e0-2c078cff49f8/test-file-77fc9105-ac16-6bc9-4ce7-f23f317e3795",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D98D43BB32093A\u0022",
        "Last-Modified": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2021-10-12T05:47:09.2579642Z",
        "x-ms-file-creation-time": "2021-10-12T05:47:09.2579642Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-12T05:47:09.2579642Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cfa2486e-6bc4-059a-36e0-2c078cff49f8/test-file-77fc9105-ac16-6bc9-4ce7-f23f317e3795?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "HMKax7i56PfHOUCFCQKSArlH1gsjDPOwRDMtpbay0WeJhHuwmV8rd5jkdcyzoDPYEb0VUFGqug/O6oOEi0NBFGjZ\u002B4WG4mhZHF9yP5cn/KMAVZT4nIAV38ls4a7cp\u002BtVomBj2qSuUS5UuzTyN3p4p\u002B7fhDauSHfnwxy7GgG6fHRzHJ02wyH/UgNlo\u002BBMI6dP8zrA/SO1plnofBaH8jYsmj\u002B/fhvdQuPM3zEySaWWm6B1bCbH\u002BX9RvnVDTUcLd1/NOAmhjKSMcbFW8x3xgl20UeF2EoYPZaC/bcClmvScwWjRZRCc9Q776Pp1cAViYDwYj/xmlWXYvdNo4h7k5te9ujK1HxxMGFzSeimMmvSaXQ2DjQv3NSsC\u002BKg9MxLwFwIjt7bSrEAfy3afkxo7TCLezYQRYFnMxYQGsiZ0DuRJ[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-cfa2486e-6bc4-059a-36e0-2c078cff49f8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Oct 2021 05:47:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1392736810",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}