{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7669c6d1-f21c-841e-1b9f-7df5fbf6bda6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F8795089A\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7669c6d1-f21c-841e-1b9f-7df5fbf6bda6/test-file-dc320690-990e-34da-62c9-ad870214e015",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:59:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F87A99751\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:59:10.8283217Z",
        "x-ms-file-creation-time": "2022-05-09T22:59:10.8283217Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:59:10.8283217Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7669c6d1-f21c-841e-1b9f-7df5fbf6bda6/test-file-dc320690-990e-34da-62c9-ad870214e015?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:59:11 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "h7fZZydTHkNEJ7CkFU4zndF/lGpooOEIaRzesRprxedb2kiZpGfWDXFL15wur61OLNVF/EqxmebW0P0LdG0o2GHISDoFmvlpqIf4HMhF2rlvj4RFJsmcqkFhw9Nqy5gEIv86ZWZySZLc21TCuHwekPVDnOXo47GYK575o9cl/93u9PrJCnVT/EbyaEt12vLEQzLeJi6zGz9NoTnIeaW7ttx208SCVIaA8KCe9npmI1GsNV\u002BlR9muO9i6e2k8ioKgN7Fu/gYtQe6sXTWOFCXE537nHERGFm8Dx5jryNkcRGUd/b7J\u002BCRLfvNw\u002BOmjICay9ZTrVG4\u002BWiFCajduQnkVjxnPcRZm\u002B\u002B9Zm55Q1R2FYKdxONJFMe/33qOdho3t3Tt6W2nQ064QS/mlkbnQ7oUEvAqP/Amm0F0p2JJzyXRha75i1[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-7669c6d1-f21c-841e-1b9f-7df5fbf6bda6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:11 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "348505953",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
