{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6c4c594-b5a6-e168-d4c1-7f6188997495?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32062DD71525\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:14 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6c4c594-b5a6-e168-d4c1-7f6188997495/test-file-d92e244b-82df-ef91-78fa-2db824476406",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 21:52:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32062DE8E3F3\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:52:14.7776499Z",
        "x-ms-file-creation-time": "2022-05-09T21:52:14.7776499Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:52:14.7776499Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6c4c594-b5a6-e168-d4c1-7f6188997495/test-file-d92e244b-82df-ef91-78fa-2db824476406?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "wEDs\u002B635ZQtVEuNZxmOeHA==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:52:15 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "BpAtXYLsa2fi8U1uAQVm2xePkfHxhOpRv33Ps2opKQyISlvry01t4ytADbmk\u002BHv0\u002BOejGbu/eIKm3J0EHbj8uchA5bepehDJIa3FsXcxrMcC2rqDhQ9QydHZRe\u002BvacZzRFTwYxLDSn7X2fgN\u002BccLdC/WAUL9eDO58BzlzzUhGrjnUmwiQEi0Po88rKwXQtAJztC/2GeEdcshN3P23XtItr8/JqZa6DTnIsOywMyGoa1L2wBlYUFQY9yhAAnVvWEU9Pbs1xwpr\u002Bab2Lak0bT/mpXFqgF64lR\u002B78PJuecrEWVinszVmsqRIiwayYmLrJEooWZzDxJfmRGibuhYX/b\u002BcMZRQjPoKQDLM4jVYBjK80MxoReBtwFSAgS6MyvhOcI1HFnDOWleP3hmqNyJiTn413ulJr7ffLjE/j8uLfbU[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a6c4c594-b5a6-e168-d4c1-7f6188997495?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:15 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1592782492",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
