{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-01251753-79fb-e36a-76db-88a1ef582c00?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:38 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32089B9AF1BA\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-01251753-79fb-e36a-76db-88a1ef582c00/test-file-443eec5a-191b-23d2-9743-ad4292d06b17",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:09:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32089BAC8EBD\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:09:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:09:37.9250877Z",
        "x-ms-file-creation-time": "2022-05-09T22:09:37.9250877Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:09:37.9250877Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-01251753-79fb-e36a-76db-88a1ef582c00/test-file-443eec5a-191b-23d2-9743-ad4292d06b17?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:09:38 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "7Htua5nJs/PSfrvIV7/bvfZdBJ6TLs7IUZShsyGL2XNLPr6MSnmR0p3SK7T9NBghJIHDcM1IT76tphkEKP/SR6RIfBgATnJ9yzEAwQMZyh18gI\u002Bfx2mlA\u002B4A36RfjaqdAOMPtLf/INUORaSbR466k9v8iKdwMn86o3gpAG/OHT6HY8EfCRZlfV\u002B5kIHFCbxgRUvIYwUCLM1k1BE/1SBmQChmFOTMm4rFlgtIt6L9dZm8yLojBbk5hDb0uzQEJqc\u002BU1BZX/TYk6rBA836unUrZl93gwxlQjpvLZCt2N9VwG9jCWRSpBak4zUQYgLrPsnAyFXVjKOa2REV6TJkKrrKa0JdlrAR2cFI05/XVd83g\u002B7G7RCKgDPMyTBSPLrkQLl6Rva/jqgYr\u002B\u002BTjLkEwoMx3mZEnT2qQOsPkMyAvpwG[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-01251753-79fb-e36a-76db-88a1ef582c00?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:09:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "13670263",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
