{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1a1100af-3627-a57f-1530-254b3143cb0d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:53 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7D07EF97\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:52 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1a1100af-3627-a57f-1530-254b3143cb0d/test-file-b37dd540-f642-6fc2-4b74-a154e70a447d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:58:53 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7D19C314\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:58:53.1085076Z",
        "x-ms-file-creation-time": "2022-05-09T22:58:53.1085076Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:58:53.1085076Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1a1100af-3627-a57f-1530-254b3143cb0d/test-file-b37dd540-f642-6fc2-4b74-a154e70a447d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:58:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "NBHfy4l\u002BtKhtr1ShXH4c9Ies8ZmmAneYy/OGI9oyvPbJWsx3Qd3w2\u002BT0W\u002Ba2QSI6LTfZ\u002Bt4i2TKZRwCW\u002BJDOOvNd1wKxpLOpvBa1saaQ4YrQTPWiWMEXp4Ga3vndWeNTJiHzWGogiYmEMD7IbSeLCGV1xaubLOExRjCBFsa5y2IyYYuFnYkfsMJsHieCTzlZD9WUaJM3t/k/whE5n3LCymXclQycBWvbVRXoLw26rvf3JwfxJWPO\u002BqqRRtp35RFQqVTCprktvQlpuRJ\u002BTojshRMaQndr0aUCDZphC7\u002BRY28EmIW59wc9yWr9iGxRUKwhpcDHXaOZ5Niuv5key7FK2FWiebYCMo0L3HkMbkk4sb3uQGX\u002ByQbMarOtCjhuH/64srAWr9b1H3Izu4ApjXaOdQ7bL4tMSw[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1a1100af-3627-a57f-1530-254b3143cb0d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1080889408",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
