{
  "Entries": [
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5d657518-cba6-a180-2663-3d175e1da400?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:32:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72D25CE1DD8\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:32:32 GMT",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5d657518-cba6-a180-2663-3d175e1da400/test-file-57e7dd83-5a00-d91c-f98d-e6ee905e2f8d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Thu, 24 Feb 2022 00:32:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9F72D25D966BD\u0022",
        "Last-Modified": "Thu, 24 Feb 2022 00:32:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-02-24T00:32:33.0229437Z",
        "x-ms-file-creation-time": "2022-02-24T00:32:33.0229437Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-02-24T00:32:33.0229437Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5d657518-cba6-a180-2663-3d175e1da400/test-file-57e7dd83-5a00-d91c-f98d-e6ee905e2f8d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Feb 2022 00:32:33 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-04-10",
        "x-ms-write": "update"
      },
      "RequestBody": "E62cDlEMDszAgB23TnJYhdeCeA5o4DWlchXktvcEjjTKBfqcBX1pkkLoA0onLE6rgM/Y05EWDzJ49pw7KFfUu/Lp7Ul3vH9aGeXLgNzqfUbHODUoLLqis/XHJA7gLmrrE0hYPj4EM8RPfbqsS49VjXlWc\u002B8hrI83RjlTr5hxeep6322UkT8HwgRx2a4A9mhmcpaVirp7yWe4IPcFsYQr3gTPMWsiwPs5T7Dqr9LhN1DR7T0B2\u002B4w/xUF23FHARGARfupMMT8RLGaWzsKkBmU1\u002BmnNMRGKQIVnzJVHOSK8k2faWrWNwaL1KmMZ3\u002BzJm78cQSHoM1MOhv5lJGSpifMEGnuaievvaDjG18busKCYnnDWavgA1KAUi5O3aJ0\u002BS2BwFcWxbtGTLNjo4RtMYBZdjIYzk186wwWbRj4Yd/9byIymflra5[...]
    {
      "RequestUri": "http://seanmcccanary3.file.core.windows.net/test-share-5d657518-cba6-a180-2663-3d175e1da400?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Feb 2022 00:32:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-04-10"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-04-10"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1686579909",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttp://seanmcccanary3.blob.core.windows.net\nhttp://seanmcccanary3.file.core.windows.net\nhttp://seanmcccanary3.queue.core.windows.net\nhttp://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttp://seanmcccanary3-secondary.blob.core.windows.net\nhttp://seanmcccanary3-secondary.file.core.windows.net\nhttp://seanmcccanary3-secondary.queue.core.windows.net\nhttp://seanmcccanary3-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=http://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=http://seanmcccanary3.queue.core.windows.net/;FileEndpoint=http://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=http://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Kg==;\n[encryption scope]\n\n"
  }
}