{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-42fe21a5-20a0-c546-7510-14d304fe6ade?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E1EC9EDCE\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-42fe21a5-20a0-c546-7510-14d304fe6ade/test-file-9dc9a0e3-0bdb-f9e3-3b82-e45973d22794",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E1EDD7B15\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:33.5923477Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:33.5923477Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:33.5923477Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-42fe21a5-20a0-c546-7510-14d304fe6ade/test-file-9dc9a0e3-0bdb-f9e3-3b82-e45973d22794?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "c5rRpfgPibfPUzYvczsOMw74XUYwDZCljJIh579hCoEbXpccb1wjZjQWjfl1iRl6FvrjqC0PHmYKLBhm7qL3bkm1ExWj8sSx1PYRGX\u002BWMAN5ptDFfWFTDD8xEUNDvXiSHx\u002BwwHUD1iM2MdQ2/QXmc/sV7EfRMfDnYQfVcuCAbhZ\u002Bfvpf5nCOddCsjkyNHQ46S55HLtAwwe0vyF5tLWRDtsO9uH4Kho2Lhnd3JKOjWkT4mydCOD9FTb0NMB0RIEdradiJz2WQL8QRvKdZuJ1KjG4adZE8AX6Dd2rA/VZvemYvC7rKGYrfaGxiMXyX7JUfwqOv96u2LmhaBVf6zzFuoUFBKq3if3LkOw0l2tAB7IvVoTuywIO7ed1RbxQy5Jg78486VsHnPEIxyryekFSYWBnLJS72vOG\u002BhrHQkRBesVZ06eZAx5bK7WT[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-42fe21a5-20a0-c546-7510-14d304fe6ade?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "501175938",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
