{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-e742020c-c688-c980-722f-b44e1506b834?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:18 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F8BEBD9C9\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:17 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-e742020c-c688-c980-722f-b44e1506b834/test-file-7109f2ad-257e-f748-a161-223dd2d714ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:59:18 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F8BFD5A5A\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:59:18.0881498Z",
        "x-ms-file-creation-time": "2022-05-09T22:59:18.0881498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:59:18.0881498Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-e742020c-c688-c980-722f-b44e1506b834/test-file-7109f2ad-257e-f748-a161-223dd2d714ce?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:59:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "JQOvI3j6Jtu3/F5WJ5gM8uhYVQSKLkBj2g/EJcotBoLvdsK50CLi/umg0vb4BnKdxHMz5rE9nffCS0lpNQERivbcZ7HWUiLGdVca6ltKa9OcJ2FX\u002BR/RsdjL94TZecjojkj/G57Bx3FQbXBaI7Obd\u002BB1zA6gupDWC7bYC1qe7PyOMlsTSk8022DvBoyudo0kL4CjZKy5SNS4KBDo6bsWsoF0y/FYhyyRQPCusLMDJ5Qos9va\u002BohP1emGWyI/TPKk2VQLOquczKhTEiO7C5cgtAB7wDXgO7j4JPYH0SwKUvT\u002BCdZf\u002BO3pi\u002BYzhudkk8lRZaYhw4u8xJ2cEhW1lPt7ScAvvQLBwbsTkjVOrbTQk5EstWuF6I5oQUQ5w\u002BbXM/brtz0nNdbGkKTrDjFWbhfoy36EiN\u002BP9WAyxnu[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-e742020c-c688-c980-722f-b44e1506b834?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "643822832",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
