{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a499e10c-7f03-8ac1-0b32-6f9a0a1f47f6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E11292CEF\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a499e10c-7f03-8ac1-0b32-6f9a0a1f47f6/test-file-f628bede-2d62-5a35-2261-c5097465737c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E113A13B2\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:10.7110834Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:10.7110834Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:10.7110834Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a499e10c-7f03-8ac1-0b32-6f9a0a1f47f6/test-file-f628bede-2d62-5a35-2261-c5097465737c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "oD1P6ULs2/fGnWNNKsWaqw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "rSgWtI//JnTxmELVONIsccHKAlWwXBlpv2UHtP2t12SmaUA0hL0VmI37\u002BUTsu0PGDCmCXfkxLVEPrPQp\u002BHJ3RMHdLs6S\u002BO0DtWrHtWPUfAQhQKfTK3lqdTvvJNfJ66AbhLSDDox0NBM7fqiPaXjtOzDvB7fKoxlHcrmTotMWOsnKrDGuUG13rQuUmKzR2wzDAemn2ePoUOCbO5zT4JFAJUPexbxHP\u002BrCeFqsNgtsdpes0KDqb2Hm4VxQExXRpMx5VHJp8xZPe8L\u002B5GCIPBnVLsUEJhDxVbbh9\u002BNg9ivV8NOOMuKYA4KBXVTe7IoAXaRCeuVPzH27iP68h/sy74WWKPOM\u002Bgo2PStDg8m8Emkr4Zo\u002BHXxGhiRV0qnk23yHT23PR8OWc2OaCz25DEm0/3aVkaZh89IIUKLPNyd[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a499e10c-7f03-8ac1-0b32-6f9a0a1f47f6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1268509719",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
