{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38baa34e-012c-eb43-732c-2fca9596b421?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77CD059C9\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38baa34e-012c-eb43-732c-2fca9596b421/test-file-e773acf7-adc1-9fb3-2d31-c5e3afab02a7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77CE1CBFC\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:56.2446332Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:56.2446332Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:56.2446332Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38baa34e-012c-eb43-732c-2fca9596b421/test-file-e773acf7-adc1-9fb3-2d31-c5e3afab02a7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "Vv\u002BQ4jWQRsv3fIUgQfSDgja6WRqXoUGj7F2/jnkjpvihsfhoYBM/4DQzHGN2fpEocoZS3GBQd7W\u002B7PbY0bdS09aNf4/7GyIjenjmZIXdLG7Llhzy0MmXUTlDqXMcZw994UiM6f8BLVdkL2HnahIv4L\u002BIDDqbXwIN9i1Vt3GuBhNpaIM8UUNuymjEjqFnr\u002BYnE8mzlFrU4oFFfvLRq3bltSlOfgGP8498GULR1tFhpkZHLqOo\u002B3G5lIUB99JQnR7y39h3GDHlmCA5N3sXAwuw49irinzSPLq3lOl7jfu8K3sj3vf46Y0VYZaCb8P2oZF6URP6pBOhH6IdwIRHaQolfQz/9CQUt/lKlijmUM33wfNXATzowoZogr9U2ykJzviLXfK3961tZZkZrw7qu8/VJv6Q72fOPLqFlnFlwNzQQccvW/LbP8[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38baa34e-012c-eb43-732c-2fca9596b421?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1272817404",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
