{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3ebba0a0-edae-2d64-20a6-ad5d87d5c3e3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E0F663B52\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:07 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3ebba0a0-edae-2d64-20a6-ad5d87d5c3e3/test-file-a6c5c8e6-91b6-8225-8df0-d045dae23ab8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 03 May 2022 17:55:07 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E0F774C37\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:07.7568567Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:07.7568567Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:07.7568567Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3ebba0a0-edae-2d64-20a6-ad5d87d5c3e3/test-file-a6c5c8e6-91b6-8225-8df0-d045dae23ab8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:08 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "q/HwVPhoHmc/818XR0MITm3xu2LXHcqbxI3aozP52WzJxXU04eTDOQeWZiSziGZSkbf5\u002B7ZsCY0mVZBrjXs0RhnyToHO1GyJLoFaQbam5zsmhxJ8/961XbznDoxTV6yMYSALwDrkhLxKcM01EcfXf21VRAVot0Y7PPDF5sbgNdfUzd\u002BWmyYAQgNVMY8QgEv0EI4e/hKmI6nZz4RJH572ajr1YEPoQORGVAICE4a3Kryl0NU3wTfELqo1vcuitiJlXsdUGx8IDNCp2KkQpA8jIqTHpE/IvqkDMTKZsoMYo53fnLW\u002BYg\u002BdncMFjemNtIqaEpom2xLTnZ8eUentb1pNkTQMMAdaZcCVKgeLwjC/dX2o/qDo8ciLDP8VoBAlsC1puPy0gYOCP6zakbEKR9puXtxsRHC6ZJ9sgCQHRcWvb3rZIgo0CvP5Jb7[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3ebba0a0-edae-2d64-20a6-ad5d87d5c3e3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "69499777",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
