{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0d036122-9811-5d02-b3f1-89985d99c0d6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:59 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F8095E8C7\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0d036122-9811-5d02-b3f1-89985d99c0d6/test-file-0b4e9e9a-1cf1-9676-42f7-8fcedc777a2a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:58:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F80AD1188\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:58:59.1070600Z",
        "x-ms-file-creation-time": "2022-05-09T22:58:59.1070600Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:58:59.1070600Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0d036122-9811-5d02-b3f1-89985d99c0d6/test-file-0b4e9e9a-1cf1-9676-42f7-8fcedc777a2a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:58:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "PA107zLzhM6QUYtjo/7cF2lo6W9Lr18XJwGjfkyUAJQGecdzJ5jvu2l/fyWJBEbaefDSSQM4MI2uXMcxUAWC/FH3XCk2aPDQeC4Gyy86jSO6yQVbwreQzkk5xcvQvmpj/YPTkqgdoxD/AdDVMmRddM6kdof/JjqaZ43f/KIl/7rDos2sZvt6nCX0XMDmu5zk3FD8LEfjZNdJOSsaPqZu2gEVEZCXsQ3SKdphCsp5s6vx\u002BiBSKNNz3z32Yi3QYF5/hoG/0aoMTSpCKgJsglkN0IV/KEOGG7IuojFSoE7gAsl84YNJueIB5a31D/7QBl3j6ZKoUDcb\u002BWvOkS94uazcYic58KDWxBajfkOVkAy0XZvUbre7OLKRYOgYeiiziCwAGazWlxW8DSV8BNH0hWheGjSTpEv0ICl1qJC4vUnu7/UXlHdf3cWFF2GSPzPgnNp/u[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-0d036122-9811-5d02-b3f1-89985d99c0d6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "50785917",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
