{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-666bf0e5-3a6e-4d18-2068-56a64b3f184d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:32 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320638215C65\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:31 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-666bf0e5-3a6e-4d18-2068-56a64b3f184d/test-file-9f0fc34e-728b-a2ca-2b13-e108bbb212cf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 21:52:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32063831F5B3\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:52:32.0337331Z",
        "x-ms-file-creation-time": "2022-05-09T21:52:32.0337331Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:52:32.0337331Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-666bf0e5-3a6e-4d18-2068-56a64b3f184d/test-file-9f0fc34e-728b-a2ca-2b13-e108bbb212cf?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "\u002B4CgbNQ/whQqLh6Erc9WQg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:52:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "\u002BwGvDvhPOo\u002BZVepiqI7SLYDKGeTIIlnBC32VESVtWibH1I15Q9mTPSvnXJ32TAWdYQNo8Dtf9Nmn7gN6uilqK/rEmtQBWOmnN9u44Ma8yr53\u002BK8iBGrqaOC00lTWGIMCfTCjMrIxmwgZwblfphMS6yNEAsF5RyaQ2jH0TYaU0B5YtmOVGZgLRl2mCUOwisHMoeYxkRXBiDUJEleBPE2ChPCaB/CvfNKLObtk0j7j309vJ6ygYz8Ili0uiwZAigoPJIRSFoLRHCQTplhZXbb2JjMHERWh4SCxknDCgfHMSq6xVa66kcnNngqHjL3mrjl3OGXTOHn1bUNjoIQRDpszR1upqAcHO5VpOnIKGVVjy\u002BM3S0iL\u002BBE1vOdrVvBFu49vVERhPAYxb/zQaf4G6lPtANWg2sJTp05KdOsfnOWkJH/im8UQAY[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-666bf0e5-3a6e-4d18-2068-56a64b3f184d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2012561406",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
