{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-16437fc1-06b6-ad44-2c17-66234ab3988c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:41 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A618B636C\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:40 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-16437fc1-06b6-ad44-2c17-66234ab3988c/test-file-7a6aab7f-6797-a557-2b36-3ff8f3a09455",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A6192B528\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:40 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:40.8939816Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:40.8939816Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:40.8939816Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-16437fc1-06b6-ad44-2c17-66234ab3988c/test-file-7a6aab7f-6797-a557-2b36-3ff8f3a09455?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "1UD7FAS6R4gP8VgNXKu5Cw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "mnXRLaVHdiRfgxiWdYV\u002B4sRmEo760kFeBlfkxrw8zAD4syW5dyVaykaVZsfZCOykLv4djOuZ4sczcyZNYrBoIrYYnsFfxWufC0dHZWx6hf1qP5i9H0AVX9BdhQT\u002BDWeWLEMRwWkrRWmTfoGjUX1bue4p4iMXqgN2Aj/wAj9moP3fsTgoaMOUP/ovKqC\u002BcQ1TAswW1StEfoJAm74pOkIpLN6DxKBEMlAqlKIo6H9jt5Eynf9zUMrSmjK26M0FagW3Bf7CO61tDs977ECIG5UC3OQt951DtdsTsSltjkmDJCqdceOBoXvjxI8w\u002BGSKSX6dswvp2HJndE8iroqDAH\u002BF98cW66qygTtoSTMOEr13iWeqz9o\u002Bmky3Nf2TXvLxYMQPqgCdc17U6jLPgI8/WWGSqyQj2DCkR1x7X7WtHiJJdulu/[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-16437fc1-06b6-ad44-2c17-66234ab3988c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "723360386",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
