{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b765bb70-29bc-79fd-45b0-1867787d357d?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:12 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32062C2CB18A\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:11 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b765bb70-29bc-79fd-45b0-1867787d357d/test-file-9ab053b0-c1d2-ad0b-99fc-48b4dabde6ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 21:52:12 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32062C450EA1\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:52:12.0262305Z",
        "x-ms-file-creation-time": "2022-05-09T21:52:12.0262305Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:52:12.0262305Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b765bb70-29bc-79fd-45b0-1867787d357d/test-file-9ab053b0-c1d2-ad0b-99fc-48b4dabde6ab?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5Mb4PCcINDl9dAoKnBza4Q==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:52:12 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "HpAHPYiBodnORKK7sxWrJa\u002BWqAod\u002B\u002BZ3fmjNyGb7qot5osk\u002BGcP5PcyGalMJu9faqApB3\u002BF8tSOpj74ftNlz05kXQRBMbAvrnWo\u002BlpCTbcOR8iBcucqp/eymlIkF2ojzE5e58nrGjjv\u002BVkJ3PR\u002BSFiH7jcK4FxnObkMjpteC5cPhS4P52ntIymTlXWOIMb/NE35nCkzGOvx96oQ2oudjfHB/lfKbmTymssNd07m1RjyEVpNZGtt3GhCHe\u002B/3ESd8geDzCJvNMnpCwVeIaWdCx6NHskxUCmKUCHvhEx1Mr6Cb4FHZwj6gtyMZFlmD7rGpRbRLr1/bKHd\u002BXgAg6x5c9RG37YgWaQRlp/spO/MJERrJOM5oAQBBwLjaW2M9f8sEvCFHzAEpk9uv5Qdjse2DdE3lV[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-b765bb70-29bc-79fd-45b0-1867787d357d?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1112597016",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
