{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3842e192-a2c0-6980-db9a-9a59b5d94037?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F86840E86\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3842e192-a2c0-6980-db9a-9a59b5d94037/test-file-847c0b34-5fd9-bd58-24b1-87dff7263961",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:59:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F8696F028\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:59:09.0283560Z",
        "x-ms-file-creation-time": "2022-05-09T22:59:09.0283560Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:59:09.0283560Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3842e192-a2c0-6980-db9a-9a59b5d94037/test-file-847c0b34-5fd9-bd58-24b1-87dff7263961?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:59:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "WAytNVr8D\u002BAN0WvZcjt3xHRrOEDSCCGycIKhbVgJLrERMe3lafDUJWUmKkRJksTHcJRU1\u002BSUK0/q\u002B8TXWqGIA6K5x0BOkVqDlxPbrN3daN2\u002B2v3DtFfMfQad\u002B20s/MrEnSaij8uEeN450T/RuX9yDZLnGX\u002BjxE5L7Uo5sZbsV5pIFw62O9kSOWIfieMX\u002B8SGKu7bRONKINjXVqKBSsdITXmliaFxu9G51N8dhDtrM/KFs4anERO3/fc13\u002BQ2ke\u002Ba1jxqcnIiFW8cInADLZudbCKw\u002B5dAoDtm7YuqO9ztgkPwg67\u002BAMF/Y50Wi\u002B\u002BitNBbmHLBhpVXWTUBBITmd9qTLp8sEqrtnmxhMJf5KhVLwzi7T6JpLPytmCl4/fs8mezDg1xPdqImbv[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3842e192-a2c0-6980-db9a-9a59b5d94037?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1552203671",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
