{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8d1d0d49-1e11-5056-91d9-fbd9f1fdd554?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7FEBB7DD\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:57 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8d1d0d49-1e11-5056-91d9-fbd9f1fdd554/test-file-11688727-c3ee-1855-110d-b6a1c153804c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:58:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7FFF10C6\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:58:57.9667142Z",
        "x-ms-file-creation-time": "2022-05-09T22:58:57.9667142Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:58:57.9667142Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8d1d0d49-1e11-5056-91d9-fbd9f1fdd554/test-file-11688727-c3ee-1855-110d-b6a1c153804c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:58:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "5jBVnJmf7EED7Ckx5XiM9//4dbvC6VJ1RCi3N/C7EknHI/aSQz5qxEn66BS6NvtlQx9PJqVdVPzd4Fdw57VQSNrfacKC\u002BbTBjrBxyAE9uw4tUfPQbOukas75tWPm\u002BdyUqaA62sw540lrjpj064z7nyRJQ5bBgNvuO//ziERR25TT3R5hA\u002BFB826pZd1TsH5C/hU\u002BnLZG0ijES57NRlsFGbMDIA5tmpxDB08oFxr\u002Bm4uAsIouEz7ejQr2nLhCdK0TpEsqUI9w1WR5\u002B5VnHroNxq8TTZXQ1gZ0JZIDd/3jAJOhFHPP00r7ENoltRepd25P6NYILyYYQs1EtSv8bF5nlvoBxQlHPvNkFz26qiHuy60ktI4m29BsidKlih0f/qR8vh4cp7FlCKnjoxjpXZesVep92LjPQLoqlDw2obPVRRiZP[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-8d1d0d49-1e11-5056-91d9-fbd9f1fdd554?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "282502087",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
