{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1149e777-c467-889f-5a1d-2429e8ee7f40?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77DFC9F8C\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1149e777-c467-889f-5a1d-2429e8ee7f40/test-file-17269f43-2be1-8563-d37d-41aa9df05d3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77E0CD9F2\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:58.2045170Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:58.2045170Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:58.2045170Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1149e777-c467-889f-5a1d-2429e8ee7f40/test-file-17269f43-2be1-8563-d37d-41aa9df05d3c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "v7063dvNE/KQEMN/Mljg2iTihc7C4p33G6mBEnB0NyyroojqRRpm1gY5DZKO93vYcTm9H5tuLNwfQsIyTACBG9iW1I/P9ZUJe6/IiNULaSQuqKE2txiRPHarywNYNIoFt/G69yPrCXuks6TspaMHFNmdA6NeS2TABZcZJCqRsUYlwtHjUXEAQp8mkgN0pZbTo7cqujDmpmyN\u002BfKM0uRQEgJdx\u002BPRJMJnnMEEOLhgTF8ARYBzZ/YVPxtkVld\u002BdG\u002B61X8BFt6zAX/0wh1v4W6zLK2Si4xj3asMR4fHbc1r6ChRSmI5XjWBTUQBfqTYpl2tsSqp7OnjVvjT9c9W7JSyiNn1HZYLes14ET5IYl4GM6AqGbyjwfw/bvNqZWlmK2CwT/XK4onGojZcMduqm/SZzcEuLNLXDsbdtq\u002BjoBRkEuXdlxNpO1[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-1149e777-c467-889f-5a1d-2429e8ee7f40?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "532888252",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
