{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05ae9bff-4967-16ab-1314-e4dfdbcb7416?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3206370E8E80\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05ae9bff-4967-16ab-1314-e4dfdbcb7416/test-file-c9953a7a-25df-768f-7930-42d36013f309",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA3206371F9C91\u0022",
        "Last-Modified": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T21:52:30.2357649Z",
        "x-ms-file-creation-time": "2022-05-09T21:52:30.2357649Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T21:52:30.2357649Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05ae9bff-4967-16ab-1314-e4dfdbcb7416/test-file-c9953a7a-25df-768f-7930-42d36013f309?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "2EKyPqCdUQNokEqHa\u002BTNJw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "kS7rLS7/7a\u002Bb3ZXLJ3oeCf1YQ3wF00YbgF4D0mMdDI4DNp/KHuldnHEWBfJJwOdiyuLka50b5r7n0K3P\u002BxpLfdEHyPDbU\u002BsU\u002B6cL7s1T0r93oAeBOaDw6FDh4k47jaBWyoghQfj2h3f20HD2EPfwlP3tWFoSyUMwF9\u002Bf\u002BXGc2G4HtCNFMZDGgBmQi2kw\u002BthZ8E5QTjVFRAFE8SoYVo0FWfcC7lvUq2JtJ9dBgT7aAB0HRgkjTIo4wnAiAEBlrSmLizFxLQt8hUXr4yZeA8LCafANEBCE4g1tySzrsasiB3qttvYNadISi8HEN2lj2r6tYJZQWJwZBqgjA2TekdOaydussE3LtAAd\u002B4VOwKqkCe9uPVEU0a7dk69O6mZuM/ruKW6Ntylx4quWMl0Xykb\u002Bf/l0cFOChf[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-05ae9bff-4967-16ab-1314-e4dfdbcb7416?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 21:52:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "298247549",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
