{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6ce327e1-344c-b2e6-00cf-fee636626ef3?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:37 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A7714164D4\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:36 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6ce327e1-344c-b2e6-00cf-fee636626ef3/test-file-8b4f9623-f579-fa12-ffa0-ba62dcae3158",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 10 May 2022 17:06:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA32A77151992A\u0022",
        "Last-Modified": "Tue, 10 May 2022 17:06:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-10T17:06:36.8446762Z",
        "x-ms-file-creation-time": "2022-05-10T17:06:36.8446762Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-10T17:06:36.8446762Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6ce327e1-344c-b2e6-00cf-fee636626ef3/test-file-8b4f9623-f579-fa12-ffa0-ba62dcae3158?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 10 May 2022 17:06:37 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "cTZ7ejaIpjCareCb6LkARfpeQTGKP9kP8fmOXZChFNBNBrp7P1ppHV2nlGszorxRWNrww3kxuzFcbIk9\u002Bkmg\u002BJkQTeL/hQag9CTT4qtu2088PAS1sFBWG0qIHtLRLCIUB5vRI1TaUtLUUM9VXtmG7pA5AL1E6kdJuTKYdmczzscBv9oPnLj7Yuky4WCAALxwAi9Blyxlzx1UiGkhQtxqoIEHVJ7/d1LYPp3UEgnnyLh1J3M48jeanPC8uxNP2SAMx0DeeKwecIrcaViPkbwTbL\u002BwrBpoMq5KbbiuQrw/iGV8x0vICE8MV7bpW4neCwo0qU5Tny0FpJSSlAv0by7OneDzEslwSmRvo1Rjf9ckbGGteplt6\u002Bk3diK3NnNEGOiIG76o6vhAw17p5PvYoiS9bSipRvSUYLL2vJunuRTwK4ts2mQZe4FpbLc[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-6ce327e1-344c-b2e6-00cf-fee636626ef3?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 10 May 2022 17:06:37 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1293299213",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
