{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a9ff85cb-a6ff-55a9-565c-ad0349756468?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E0E3D2925\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:05 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a9ff85cb-a6ff-55a9-565c-ad0349756468/test-file-0a405dcc-85d8-3683-3da9-cc83daaa4f34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "2048",
        "x-ms-date": "Tue, 03 May 2022 17:55:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E0E4E632C\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:05.8110252Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:05.8110252Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:05.8110252Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a9ff85cb-a6ff-55a9-565c-ad0349756468/test-file-0a405dcc-85d8-3683-3da9-cc83daaa4f34?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:05 GMT",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "1dBh3AwEh3Q4a5CRKDJby3ewiU2kDxBj0Ohy9MoxANVvtaEpKAfwdXRcHetg92mTCcCj4bmwI8a//gwjkZOpBmu6InORMqJwwBTZSPIlA9h/3\u002BsJjh8cv5HaaSr6zePgshaApdT1AdcdMyGk19vUmfszpLGnn3hMnWPhtsh4dfIx\u002BJXbpV0Did4U7Fr9d\u002Be2BtAvxigxORKeMwdxE0sOpb0uc99F\u002BPOdMBrTk7MdTiZ7K6/4Sa7K/76CPXFVknaTBUaczgMIcA7ckZYOXaVegOXh9uibFlwOZHMgwrqCSJ6kQI1tgH8ic7qhG7cYvKIZJL2Mc5uN9\u002B/qjWqP565TWUn4aR0Y8f9lv4Iu\u002Bvqk9qjRB5799dQCFkiegvMVkosMTcFuH1KEADK\u002BJrMZX/30RZfCvuAPVmR09lLVem8M[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-a9ff85cb-a6ff-55a9-565c-ad0349756468?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1228584966",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
