{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3075cd1e-6511-5909-d9ed-e8bc52544249?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F890615F6\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3075cd1e-6511-5909-d9ed-e8bc52544249/test-file-433b846c-1caa-71dd-4e47-9a42303b2bf6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F891833A2\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:59:13.2309410Z",
        "x-ms-file-creation-time": "2022-05-09T22:59:13.2309410Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:59:13.2309410Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3075cd1e-6511-5909-d9ed-e8bc52544249/test-file-433b846c-1caa-71dd-4e47-9a42303b2bf6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "4Echz6/3vQ\u002BP0xrs50vrHoYl1m12FNVpJTZOOyUp6ZBSoN0mmZcT7SjOnqAwKYx4N8qNkq1kZ8xxuKl5qIHpZumJmUdtxITuEehEqHU0Ofup1gNbm1fj7jgRtOHumkWm5De2po9FCnJFn4DEH79WPX6tz9J9jsqSpqsOXBCjAHejnsM\u002BfpNsY8yRFfzWHs55u3diQMpyKVVtJP/kNq1iop8IIYH7GL/rQWsG7HnOu4fclKGYQL\u002BtMHRt0FmThy0eLnJczf1NfqK4d/9ebDzcnmh3B6IMyWLfW/AMjUdlV7k\u002B6L0Gce6KjxX\u002B4MjAT8Q3kTLxHICKEWUPfHINQPFbUyBFH4R/1Sx57XiMDumZHwsr1PwVczs5tNZY9vR8fU4koo2oejA/uLsFdy8I/gJ7dl1m4Wv1Rt/kDGqtJ983/W8paGxc8a[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-3075cd1e-6511-5909-d9ed-e8bc52544249?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:59:13 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1023054116",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
