{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf95b0f4-ac03-28e5-d1ad-584ca5d617dc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7AC7A27E\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf95b0f4-ac03-28e5-d1ad-584ca5d617dc/test-file-6d59fee2-5553-1995-7266-99bf9ef6e4f1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA320F7AE27603\u0022",
        "Last-Modified": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-09T22:58:49.3906435Z",
        "x-ms-file-creation-time": "2022-05-09T22:58:49.3906435Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-09T22:58:49.3906435Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf95b0f4-ac03-28e5-d1ad-584ca5d617dc/test-file-6d59fee2-5553-1995-7266-99bf9ef6e4f1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "CQvhG1zqpOsLy2KdALRS812KbmDt9sTlaGt\u002BhpIQ1O3l2CbJ/DRx9KD8FUz1w1Hq/IE2agEg5hNG\u002B7Pxax5Z\u002B/Z1tyiNiPcpGHm/8eB476QalIkQ2WrsxPETggCAgImCoxpVgAwoXHOKDVGHYPUyzgwP1teUSCKMiPM2egb3qJjwPU3GI2\u002BY8TcWhssYZGP84LT0camx7Vr3yPcZ8eJtkmW5liOna6qcd\u002BWgfsFWcyOPOplRAjbuPlDzzlp3f/9UqPNmXs5AVXUKV/rEEW6YoVTTibdJHJAuylfStJxQJPjlS9bO7xVVTuUkR6o8Ki3hWi0FpPVHC4xjOJR2baDYuTMC3saYyrE/fjvSJdXl8aAq8VlvSoACnUBJareA3\u002BBES413OktnSJB7xSW5deW3fkbzS3xGaG6z/0CFT1/6vp5aj[...]
[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf95b0f4-ac03-28e5-d1ad-584ca5d617dc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 09 May 2022 22:58:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "457876594",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
