{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38215d8c-c17d-8361-43fe-9af4b2fbd3ad?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E106FBC36\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38215d8c-c17d-8361-43fe-9af4b2fbd3ad/test-file-06aca792-f74d-b645-b4bf-eb13cb004b30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E1080CB3B\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:09.4968123Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:09.4968123Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:09.4968123Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38215d8c-c17d-8361-43fe-9af4b2fbd3ad/test-file-06aca792-f74d-b645-b4bf-eb13cb004b30?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "n2DLomLI2bdib8jskKH/ew==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "R/8ZAwwE/JblYjYIOgMUUsseHOZ1gvq9gX\u002BBEWfMpgVcRBZv2DBv08/ubFDUvT4H1zvh\u002Bd8xy8QFW4GNgusvGLsxrPXtpHqarkkWhhap6cNBeTos6q0lKnlRaXyu4lDkv1OVohFIGjLBRkqVGkSuW3K9TAmxAi0NC4F8mzr97Mv5MsfDFEay\u002BF4HaqRijw80ow4K8JZGM7wlh5eQy3/3xFl\u002BnOh96kcrC1OqqZiJqntxSPcs8vs1sv8KnY2vIi3fD6ZK5PMnt7jG3\u002BVDnIkknNwbHoOHy9FeSenoc025e\u002BgmypnxPsaISZE/ZRMW8hZ15QGxlAOqWETV7JoKPkNrDWP8HdHvM10VktTySGW9SFfSc41LCOfke3JVHFIsfQtN01iwGdVFhrKkmwEutw/fF6RDOMu2IAR8F6FemhYL6RXJp[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-38215d8c-c17d-8361-43fe-9af4b2fbd3ad?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "594129669",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
