{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-641457c9-6e8b-e540-1bf3-d508c3d1884b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:46:54 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6E0AAD3733\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:46:53 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-641457c9-6e8b-e540-1bf3-d508c3d1884b/test-file-06ac762e-cc47-fa00-ffa9-a719aba3dd5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:46:54 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6E0ABCDDFF\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:46:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:46:53.1954175Z",
        "x-ms-file-creation-time": "2022-07-25T18:46:53.1954175Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:46:53.1954175Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-641457c9-6e8b-e540-1bf3-d508c3d1884b/test-file-06ac762e-cc47-fa00-ffa9-a719aba3dd5f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "5ef8YZmzrc/YmqVLHQiYxg==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:46:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "rJJZOeDG/6apjwvP47AckNsCnzOcuAObKqJyRKFgSbvNvuQ2MN/zoZCOJrhBeTMahPBzOP27MPOOvg49VLoESUZQASTL5V/8Dv6iDpJLWrFvWMCw7RG\u002BEY7wqHLQtUzVidxx8HcOTp6Qdin\u002BGSFgQmRdzfz5U1w1kvCW2j3tK1mxzIS22Wk5YQkiH3bnwPhskGYOc\u002BhQ2zWAPF6HeHNgo0vQTEydqmj6I2zy1zTmTdH3KUrX3rdxYfFONZ0KsemVwnwqF3Orz\u002Bb9E097XgQBmu\u002BMj04picWTX\u002BtbTnTL8HGDXBW4uzZeTFpk2spn9QLsTZutfSKabDi2lreHUIFxMSPd9wHvSd65LkP0xa/6LGnobgDYHXJP6fDcASV\u002B1vvY8qinif0B/AO99E/epqeJvGpOn\u002BGAmROwjQ4[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-641457c9-6e8b-e540-1bf3-d508c3d1884b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:46:54 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1952423445",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
