{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-823f07a5-b517-ade9-c637-31cf7f518ca4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E23784712\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-823f07a5-b517-ade9-c637-31cf7f518ca4/test-file-ef5e4136-cd3e-a060-bda6-b212f11b995d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2D2E238BA527\u0022",
        "Last-Modified": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-03T17:55:41.4446375Z",
        "x-ms-file-creation-time": "2022-05-03T17:55:41.4446375Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-03T17:55:41.4446375Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-823f07a5-b517-ade9-c637-31cf7f518ca4/test-file-ef5e4136-cd3e-a060-bda6-b212f11b995d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "ftDo3HCUEeLOug\u002B8OQmztw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "9rYTCFSPOQ1wQW0jfhlLePVinSdKHp3Iz8pB3CwQ3cwc2tmrOzl5oh75/sQ/CBOy9/ORvayxEtgYSjiKTVzgX2SgB6NAoD276foIUSDZice3juQ5fiAgasgAk/AB71TCGZ5gngBvcle21dSxqMG4P8Fx0r93puBEgJzbPwxMuvmlRjiBeOvGRxyNg6lLbsIHSFQvjxyVSnK9Gx1klDNKaRvaDGGINsbWq4qj6iM3\u002BBLZ0/a4HSvcD/zFxFzNYbPoQhmNcGFgfhKNWOSR8l9OhiMLi8A9kUvw/v1lw3JpCUnXuqgJqYexeFXkKsRGSh2cdz05wtXzq7DOnXJk\u002BrufJE\u002Bauje3RdybWRJqWGeGqbPgyUw0MEZ04w/3OwsUTH2aRAZ1rI/l5DFhnWjDiFJJR/S/hDFva/QIJtcowAnRhg2U0BRhEfwj\u002BuQ[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-823f07a5-b517-ade9-c637-31cf7f518ca4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 03 May 2022 17:55:41 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2091482524",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
