{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-fc4000fd-256b-9bce-4a1a-e8df2683e05a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5C13A219\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-fc4000fd-256b-9bce-4a1a-e8df2683e05a/test-file-f34ed078-3e05-c27d-c15d-32fafa53e51f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA6E6A5C1C2A38\u0022",
        "Last-Modified": "Mon, 25 Jul 2022 18:20:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-07-25T18:20:31.7284920Z",
        "x-ms-file-creation-time": "2022-07-25T18:20:31.7284920Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-07-25T18:20:31.7284920Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-fc4000fd-256b-9bce-4a1a-e8df2683e05a/test-file-f34ed078-3e05-c27d-c15d-32fafa53e51f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "uaSBK7G4Dru5\u002B\u002BObLFK6og==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-08-06",
        "x-ms-write": "update"
      },
      "RequestBody": "AUp0Mq4fCk\u002BCTNV3wvxfPbKivHK/Hs3BSL/fEsJmyqZwFs/xmTWYBKlzP0DysB7Iuq1kh8MQjON8s\u002BnuQPiMG4IuB6stbaN9CbjJS96NzpihFlcVAkLjX4rrdeVLqcOw5iO\u002BxKhym00J5n0LR0AE7\u002BRRTCmgdxg/S6ghQfi\u002BMl/0GGS7zwrwL3oKDBzF1xhK54UA\u002BlyaEG8Kf3gAUFpUS7QdFy7bSSDaYB2vlWv8enOP1lpyvTgDWgf1sVCR8N4gtsBop8Dpb51lJpk/6nsEDQQFcHoA4o57Grwm5pjQSHA/jt\u002BqlNKypme8DZaew2\u002BM8aNLjIBkINQy7IwEw4kFld0pAFycWXkyUskSQ9T33VZNmfT1hbzv224Ld6dGruLetne4dcMT8JcpGDm2Udz/Ow81timUEBAhOST[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-fc4000fd-256b-9bce-4a1a-e8df2683e05a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 25 Jul 2022 18:20:32 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1659457214",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
