{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-5d601997-6f65-20a9-8fcb-8cb9c1a0d6a2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A9233E94D\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-5d601997-6f65-20a9-8fcb-8cb9c1a0d6a2/test-file-974bc27e-4e35-db23-7f0b-136c3cad77c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A9244E9EE\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-04T22:08:08.4363758Z",
        "x-ms-file-creation-time": "2022-05-04T22:08:08.4363758Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-04T22:08:08.4363758Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-5d601997-6f65-20a9-8fcb-8cb9c1a0d6a2/test-file-974bc27e-4e35-db23-7f0b-136c3cad77c0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-MD5": "xMzjNjFwBW/cBYVmUymsWw==",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "EnXBVzyWS5lm\u002BXLA7edkaHIhnwVxrTwqZbeB5o2tmGkPVq5GZQEuhHCVwmyzgtunywiSrOGPuWU5lvKFFGULuWEJsJY4HQJx8huV3OrPduLb2hqFG\u002BuIgJ1JDc8OqG8KiQkLqtFEb64FILrG\u002Btx7aR8PqTpKhp51gTD57w8zYkmrilPgxMwQlmpsf/oxwobBzaSv/v41vwNrlSmhS4Ce0r5wGm\u002BJmqRT/hPP3gajRL6pOCFrg2NKdspPdS\u002Bib0vqzaw8wKcWNzP/W//rZuH8x1Bq\u002BBJfMk9aJaOlOSR1sY/H5RBZZ4MXkgDtbCdjXhDoUq3eN3c4i5td4poDcf4OiapwJIDQo2DMU2USccUn9saTvOZ3lnkYjll1/IXoEyEC3\u002BN88zqPGK9NEuQRJhnVNuvUcLQXl/IxWJYnW6fb[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-5d601997-6f65-20a9-8fcb-8cb9c1a0d6a2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:08:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2136920815",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
