{
  "Entries": [
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf76de72-3002-ce9f-427d-37561b0eb6fd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:08:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A9012B827\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:08:04 GMT",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf76de72-3002-ce9f-427d-37561b0eb6fd/test-file-7c4312f3-19e2-1c43-28e7-5c184e92010c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 04 May 2022 22:08:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DA2E1A9022F9E3\u0022",
        "Last-Modified": "Wed, 04 May 2022 22:08:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2022-05-04T22:08:04.8585187Z",
        "x-ms-file-creation-time": "2022-05-04T22:08:04.8585187Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2022-05-04T22:08:04.8585187Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "10117549752055461719*2650414171312005081",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf76de72-3002-ce9f-427d-37561b0eb6fd/test-file-7c4312f3-19e2-1c43-28e7-5c184e92010c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 04 May 2022 22:08:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2021-06-08",
        "x-ms-write": "update"
      },
      "RequestBody": "efa/RKXR7VYyHdheucD0bZ6bbY0YxWJC4QDvZAkHupsPNmXkFZn2GJ\u002Bfvn0h2eLIeKQFAt0GKLOTfWOk4YhMKmI9T4JaD1cFpVTueQbkIAceJ\u002BtlAbe9CQ2xUJg2UTYWUpQb5IpfbWhNAF2JGK\u002Btrlxchrqd5yiqf0Z1qb\u002B\u002BzlQe1ydyyTt9vrqCGAFaNPBeBKI82cp8eWpscGVE6sOpjjEIakCHO\u002BUg38j/Gs8nUEpVF6QdgvWJoV28BVjWONP22YrPUcmw1sm8G/oCfF\u002BbRSAb7tMejAs8f8njyzWMSqb0CUBFV/6ApUDbYGf6hiT\u002BIcA4ukkA101\u002BktIAzAuTMNBTDnMeVu0imkmSQyukQfik5Kl0U49c8zHzxsUsf9g1SC\u002BWpniw4MvTFiAAbpQh2lDZX[...]
    {
      "RequestUri": "https://jaschrepragrs.file.core.windows.net/test-share-bf76de72-3002-ce9f-427d-37561b0eb6fd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 04 May 2022 22:08:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2021-06-08"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2021-06-08"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1626304676",
    "Storage_TestConfigDefault": "ProductionTenant\njaschrepragrs\nU2FuaXRpemVk\nhttps://jaschrepragrs.blob.core.windows.net\nhttps://jaschrepragrs.file.core.windows.net\nhttps://jaschrepragrs.queue.core.windows.net\nhttps://jaschrepragrs.table.core.windows.net\n\n\n\n\nhttps://jaschrepragrs-secondary.blob.core.windows.net\nhttps://jaschrepragrs-secondary.file.core.windows.net\nhttps://jaschrepragrs-secondary.queue.core.windows.net\nhttps://jaschrepragrs-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jaschrepragrs.blob.core.windows.net/;QueueEndpoint=https://jaschrepragrs.queue.core.windows.net/;FileEndpoint=https://jaschrepragrs.file.core.windows.net/;BlobSecondaryEndpoint=https://jaschrepragrs-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jaschrepragrs-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jaschrepragrs-secondary.file.core.windows.net/;AccountName=jaschrepragrs;AccountKey=Sanitized\n[encryption scope]\n\n"
  }
}
