{
  "Entries": [
    {
      "RequestUri": "https://myaccountname.purview.azure.com/share/receivedShares/detached?api-version=2023-05-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "createdAt": "2023-06-12T04:31:21.3713676Z",
              "sharedAt": "2023-06-12T04:31:21.3713676Z",
              "displayName": "testDisplayName1",
              "state": "Succeeded",
              "shareStatus": "Detached",
              "sentShareDescription": "updatedDescription",
              "senderName": "sdk-05-30-share",
              "senderTenantName": "Microsoft",
              "assetLocation": "australiaeast",
              "assetStoreKind": "AdlsGen2Account"
            },
            "shareKind": "InPlace",
            "id": "c2da55e1-c80c-4925-91fc-37c82a925ff0",
            "type": "ReceivedShare"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "PURVIEW_SHARE_URL": "https://myaccountname.purview.azure.com/share",
    "RandomSeed": "14247008"
  }
}
