{
  "Entries": [
    {
      "RequestUri": "/v1/apps/DEMO_APP/metrics/requests%2Fduration?timespan=PT12H&interval=PT1H&aggregation=avg&segment=request%2Fname%2Crequest%2FresultCode",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-api-key": [
          "DEMO_KEY"
        ],
        "prefer": [
          "response-v1=true"
        ],
        "x-ms-app": [
          "csharpsdk"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": {\r\n    \"start\": \"2018-09-22T15:30:25.766Z\",\r\n    \"end\": \"2018-09-23T03:30:25.766Z\",\r\n    \"interval\": \"PT1H\",\r\n    \"segments\": [\r\n      {\r\n        \"start\": \"2018-09-22T15:30:25.766Z\",\r\n        \"end\": \"2018-09-22T16:00:00Z\",\r\n        \"segments\": [\r\n          {\r\n            \"request/name\": \"GET Customers/Details\",\r\n            \"segments\": [\r\n              {\r\n                \"requests/duration\": {\r\n                  \"avg\": 844.32\r\n                },\r\n                \"request/resultCode\": \"500\"\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"request/name\": \"GET Home/Index\",\r\n            \"segments\": [\r\n              {\r\n                \"requests/duration\": {\r\n                  \"avg\": 517.61\r\n                },\r\n                \"request/resultCode\": \"200\"\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"request/nam[...]
