{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-3529?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3529",
        "name": "SDKTestNRRG-3529",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3529/providers/NewRelic.Observability/monitors/testNR-LOP-7823?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centraluseuap",
        "properties": {
          "newRelicAccountProperties": {
            "organizationInfo": {
              "organizationId": "fe5759fb-092a-4353-906b-74df3b17f3d4"
            }
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200002a6f-0000-3300-0000-647d7c120000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410?api-version=2022-07-01",
        "mise-correlation-id": "428b97a3-15c4-48d1-aefb-7600f92cbe91",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3529/providers/NewRelic.Observability/monitors/testNR-LOP-7823",
        "name": "testNR-LOP-7823",
        "type": "newrelic.observability/monitors",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-06-05T06:09:18.1351558Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-05T06:09:18.1351558Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": {
              "organizationId": "fe5759fb-092a-4353-906b-74df3b17f3d4"
            }
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010022ba-0000-3300-0000-647d7c110000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11990"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410",
        "name": "ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3529/providers/NewRelic.Observability/monitors/testNR-LOP-7823",
        "status": "Accepted",
        "startTime": "2023-06-05T06:09:21.4924996Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010037ba-0000-3300-0000-647d7ee30000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11961"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410",
        "name": "ab0beb05-8dda-458f-bd83-da61e65acd77*E3887A5BD14FB942D33C592F4B5C005FB91C31DA8905A155F17B87A1C6930410",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3529/providers/NewRelic.Observability/monitors/testNR-LOP-7823",
        "status": "Succeeded",
        "startTime": "2023-06-05T06:09:21.4924996Z",
        "endTime": "2023-06-05T06:21:23.2409802Z",
        "error": {},
        "properties": null
      }
    },
[...]
