{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-3470?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3470",
        "name": "SDKTestNRRG-3470",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3470/providers/NewRelic.Observability/monitors/testNR-4845?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centraluseuap",
        "properties": {
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000196f-0000-3300-0000-647d7bb70000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11?api-version=2022-07-01",
        "mise-correlation-id": "1ab9a73f-05fb-4f44-9af0-1e341ddcc058",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3470/providers/NewRelic.Observability/monitors/testNR-4845",
        "name": "testNR-4845",
        "type": "newrelic.observability/monitors",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-06-05T06:07:43.4044347Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-05T06:07:43.4044347Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": null
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010020ba-0000-3300-0000-647d7bb60000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11",
        "name": "00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3470/providers/NewRelic.Observability/monitors/testNR-4845",
        "status": "Accepted",
        "startTime": "2023-06-05T06:07:50.548966Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010021ba-0000-3300-0000-647d7be20000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11991"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11",
        "name": "00840b8f-f73c-4770-93b0-ba43f0efe75c*705C13131C12F1C9E51E99BE81370CFD0BE9939B38FECE6744BF620EEBBB4B11",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-3470/providers/NewRelic.Observability/monitors/testNR-4845",
        "status": "Succeeded",
        "startTime": "2023-06-05T06:07:50.548966Z",
        "endTime": "2023-06-05T06:08:34.212681Z",
        "error": {},
        "properties": null
      }
    },
[...]
