{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-5885?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-5885",
        "name": "SDKTestNRRG-5885",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-5885/providers/NewRelic.Observability/monitors/testNR-4800?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centraluseuap",
        "properties": {
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002206005001-0000-3300-0000-647d82180000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A?api-version=2022-07-01",
        "mise-correlation-id": "9df9ec9c-e3dc-48ff-b08e-de716dc29f42",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-5885/providers/NewRelic.Observability/monitors/testNR-4800",
        "name": "testNR-4800",
        "type": "newrelic.observability/monitors",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-06-05T06:35:01.1330508Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-05T06:35:01.1330508Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": null
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201008aba-0000-3300-0000-647d82180000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11973"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A",
        "name": "c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-5885/providers/NewRelic.Observability/monitors/testNR-4800",
        "status": "Accepted",
        "startTime": "2023-06-05T06:35:04.3963057Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010091ba-0000-3300-0000-647d82480000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11965"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A",
        "name": "c041b5ea-07ac-47cb-8239-d6393ae49337*F5406F69F57C1C52669065E146D8416436214FAE9879B98E341BC4E13FFD232A",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-5885/providers/NewRelic.Observability/monitors/testNR-4800",
        "status": "Succeeded",
        "startTime": "2023-06-05T06:35:04.3963057Z",
        "endTime": "2023-06-05T06:35:52.5566426Z",
        "error": {},
        "properties": null
      }
    },
[...]
