{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-4481?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-4481",
        "name": "SDKTestNRRG-4481",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-4481/providers/NewRelic.Observability/monitors/testNR-6307?api-version=2022-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418?api-version=2022-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002204005624-0000-0100-0000-64636f270000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418?api-version=2022-07-01-preview",
        "mise-correlation-id": "11762690-c3cb-4645-bc13-c75cd9a77e33",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-4481/providers/NewRelic.Observability/monitors/testNR-6307",
        "name": "testNR-6307",
        "type": "newrelic.observability/monitors",
        "location": "eastus",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-05-16T11:55:16.8147167Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-05-16T11:55:16.8147167Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": null
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200004361-0000-0100-0000-64636f270000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11983"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418",
        "name": "cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-4481/providers/NewRelic.Observability/monitors/testNR-6307",
        "status": "Accepted",
        "startTime": "2023-05-16T11:55:19.8043005Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002200009061-0000-0100-0000-64636f460000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11976"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418",
        "name": "cd0eff71-e83c-44cd-aa89-4a77ba1647de*71B2AEF129333CA70E84DF8704B08147A959F71C1C1039D1472ED8D7645A7418",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-4481/providers/NewRelic.Observability/monitors/testNR-6307",
        "status": "Succeeded",
        "startTime": "2023-05-16T11:55:19.8043005Z",
        "endTime": "2023-05-16T11:55:50.9296924Z",
        "error": {},
        "properties": null
      }
    },
[...]
