{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourcegroups/SDKTestNRRG-2222?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222",
        "name": "SDKTestNRRG-2222",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centraluseuap",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors/testNR-6804?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centraluseuap",
        "properties": {
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890",
            "country": "IN"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30.0000000Z"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F?api-version=2022-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220500a3fe-0000-3300-0000-647d7fe60000\u0022",
        "Location": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F?api-version=2022-07-01",
        "mise-correlation-id": "2c0f7ce5-7498-4ba1-843b-dcd1dc102fc3",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors/testNR-6804",
        "name": "testNR-6804",
        "type": "newrelic.observability/monitors",
        "location": "centraluseuap",
        "tags": {},
        "systemData": {
          "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "createdByType": "Application",
          "createdAt": "2023-06-05T06:25:37.420688Z",
          "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-06-05T06:25:37.420688Z"
        },
        "properties": {
          "orgCreationSource": "LIFTR",
          "accountCreationSource": "LIFTR",
          "provisioningState": "Accepted",
          "monitoringStatus": "Enabled",
          "marketplaceSubscriptionStatus": "Active",
          "newRelicAccountProperties": {
            "userId": null,
            "accountInfo": null,
            "organizationInfo": null
          },
          "userInfo": {
            "firstName": "vipray",
            "lastName": "jain",
            "emailAddress": "viprayjain@microsoft.com",
            "phoneNumber": "1234567890"
          },
          "planData": {
            "usageType": "PAYG",
            "billingCycle": "MONTHLY",
            "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
            "effectiveDate": "2022-09-28T07:12:30Z"
          },
          "liftrResourceCategory": "MonitorLogs",
          "liftrResourcePreference": 0
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002201004aba-0000-3300-0000-647d7fe50000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11941"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F",
        "name": "d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors/testNR-6804",
        "status": "Accepted",
        "startTime": "2023-06-05T06:25:41.529829Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022010051ba-0000-3300-0000-647d80120000\u0022",
        "x-ms-ratelimit-remaining-tenant-reads": "11933"
      },
      "ResponseBody": {
        "id": "/providers/NewRelic.Observability/locations/CENTRALUSEUAP/operationStatuses/d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F",
        "name": "d2d4ccb7-b85d-4207-9589-78fcd5a7faf1*36223D4346DDEBDC74B273D2C09B18D37C50F8D2561D3B134AFE91895695B92F",
        "resourceId": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors/testNR-6804",
        "status": "Succeeded",
        "startTime": "2023-06-05T06:25:41.529829Z",
        "endTime": "2023-06-05T06:26:26.0699323Z",
        "error": {},
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b86c8bd1-7d9c-42ce-b1d8-5575de7d3545",
          "c724c953-2698-4636-bce8-cfeefa661628",
          "b30e8a64-d525-4deb-92a7-9e06b30ac303"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/SDKTestNRRG-2222/providers/NewRelic.Observability/monitors/testNR-6804",
            "name": "testNR-6804",
            "type": "newrelic.observability/monitors",
            "location": "centraluseuap",
            "tags": {},
            "systemData": {
              "createdBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
              "createdByType": "Application",
              "createdAt": "2023-06-05T06:25:37.420688Z",
              "lastModifiedBy": "09a13a20-12be-4fda-a11e-a6895d6b321b",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-06-05T06:25:37.420688Z"
            },
            "properties": {
              "orgCreationSource": "LIFTR",
              "accountCreationSource": "LIFTR",
              "provisioningState": "Succeeded",
              "monitoringStatus": "Enabled",
              "marketplaceSubscriptionStatus": "Active",
              "newRelicAccountProperties": {
                "accountInfo": {
                  "accountId": "11843587"
                },
                "organizationInfo": {
                  "organizationId": "78652fd8-7894-4295-8f93-da36926c834a"
                }
              },
              "userInfo": {
                "firstName": "vipray",
                "lastName": "jain",
                "emailAddress": "viprayjain@microsoft.com",
                "phoneNumber": "1234567890"
              },
              "planData": {
                "usageType": "PAYG",
                "billingCycle": "MONTHLY",
                "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg",
                "effectiveDate": "2022-09-28T07:12:30Z"
              },
              "liftrResourceCategory": "MonitorLogs",
              "liftrResourcePreference": 0
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "915189153",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "272c26cb-7026-4b37-b190-7cb7b2abecb0"
  }
}
