{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "272c26cb-7026-4b37-b190-7cb7b2abecb0",
        "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
        "displayName": "NewRelic-PayG",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "PayAsYouGo_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/providers/NewRelic.Observability/monitors?api-version=2022-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "a9a1321e-33ab-4e64-95af-e96b6748b7b4",
          "7566f6da-f006-4558-b13f-c862b7f6b15f",
          "759700f3-05c6-4385-bf21-192cc85decb3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/gaurav-test/providers/NewRelic.Observability/monitors/gaura-test-31-prod-1",
            "name": "gaura-test-31-prod-1",
            "type": "newrelic.observability/monitors",
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "gauravbang@microsoft.com",
              "createdByType": "User",
              "createdAt": "2023-03-31T11:09:44.0356961Z",
              "lastModifiedBy": "gauravbang@microsoft.com",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2023-03-31T11:09:44.0356961Z"
            },
            "identity": {
              "principalId": "ab1b948e-8bf9-4323-9219-768911c151c2",
              "tenantId": "888d76fa-54b2-4ced-8ee5-aac1585adee7",
              "type": "SystemAssigned"
            },
            "properties": {
              "orgCreationSource": "LIFTR",
              "accountCreationSource": "LIFTR",
              "provisioningState": "Succeeded",
              "monitoringStatus": "Enabled",
              "marketplaceSubscriptionStatus": "Active",
              "newRelicAccountProperties": {
                "userId": "",
                "accountInfo": {
                  "accountId": "3877706"
                },
                "organizationInfo": {
                  "organizationId": "bf303b25-eb22-4ce3-87b3-e654ac0551bd"
                }
              },
              "userInfo": {
                "firstName": "Gaurav",
                "lastName": "Bang",
                "emailAddress": "gauravbang@microsoft.com",
                "phoneNumber": ""
              },
              "planData": {
                "usageType": "PAYG",
                "billingCycle": "MONTHLY",
                "planDetails": "newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py",
                "effectiveDate": "2023-03-31T11:09:17.511Z"
              },
              "liftrResourceCategory": "MonitorLogs",
              "liftrResourcePreference": 0
            }
          },
          {
            "id": "/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/saurgupta_RG/providers/NewRelic.Observability/monitors/saurgupta_24_04_23_03",
            "name": "saurgupta_24_04_23_03",
            "type": "newrelic.observability/monitors",
            "location": "eastus",
            "tags": {},
            "systemData": {
              "createdBy": "saurgupta@microsoft.com",
              "createdByType": "User",
              [...]
