{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-566",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/LogicAppRG-7706?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706",
        "name": "LogicAppRG-7706",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "tags": {},
        "location": "centralus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805",
        "name": "intergrationAccount5805",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805/maps/map4372?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "mapType": "Xslt30",
          "content": "Sanitized",
          "contentType": "application/xml"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-00.centralus.logic.azure.com:443/integrationAccounts/fc5be21c93a0499b923f06ba31ceba22/maps/map4372/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-30T07%3A34%3A16.8099390Z\u0026sp=%2Fmaps%2Fmap4372%2Fread\u0026sv=1.0\u0026sig=fKCnWbLTDxp4uYfmIZbkwZIlOZsMJ2rXBAx6Asq-z0E",
            "contentSize": 412
          },
          "createdTime": "2022-08-30T03:34:16.7547907Z",
          "changedTime": "2022-08-30T03:34:16.7551381Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805/maps/map4372",
        "name": "map4372",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805/maps/map4372?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-00.centralus.logic.azure.com:443/integrationAccounts/fc5be21c93a0499b923f06ba31ceba22/maps/map4372/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-30T07%3A34%3A17.2474391Z\u0026sp=%2Fmaps%2Fmap4372%2Fread\u0026sv=1.0\u0026sig=Go-TFTGZSV2uvYhGh_g2M3hqKBSEmQlQkff4cYtWASg",
            "contentSize": 412
          },
          "createdTime": "2022-08-30T03:34:16.7547907Z",
          "changedTime": "2022-08-30T03:34:16.7551381Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7706/providers/Microsoft.Logic/integrationAccounts/intergrationAccount5805/maps/map4372",
        "name": "map4372",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "951963384",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
