{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888",
        "name": "intergrationAccount888",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map9061?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "mapType": "Xslt30",
          "content": "\u003Cxsl:stylesheet xmlns:xsl=\u0027http://www.w3.org/1999/XSL/Transform\u0027 xmlns:xs=\u0027http://www.w3.org/2001/XMLSchema\u0027 version=\u00273.0\u0027\u003E\n  \u003Cxsl:output method=\u0027text\u0027/\u003E\n  \u003Cxsl:template match=\u0027/\u0027\u003E\n    \u003Cxsl:value-of select=\u0027company/employee/name\u0027/\u003E\n    \u003Cxsl:variable name=\u0027test\u0027\u003E\n      \u003Cxsl:text\u003Ecompany/employee/name\u003C/xsl:text\u003E\n    \u003C/xsl:variable\u003E\n    \u003Cxsl:evaluate xpath=\u0027$test\u0027/\u003E\n  \u003C/xsl:template\u003E\n\u003C/xsl:stylesheet\u003E\n",
          "contentType": "application/xml"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-22.centralus.logic.azure.com:443/integrationAccounts/0f441da5d4674f7cbab9b4cc6a28f5ca/maps/map9061/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-29T16%3A48%3A26.6988987Z\u0026sp=%2Fmaps%2Fmap9061%2Fread\u0026sv=1.0\u0026sig=MzPIKap_3kPFpmXs0JNVd3pOBSEUx1E3h4VVaPlPMrM",
            "contentSize": 412
          },
          "createdTime": "2022-08-29T12:48:26.6729609Z",
          "changedTime": "2022-08-29T12:48:26.6732969Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map9061",
        "name": "map9061",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map9061?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-22.centralus.logic.azure.com:443/integrationAccounts/0f441da5d4674f7cbab9b4cc6a28f5ca/maps/map9061/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-29T16%3A48%3A27.2145544Z\u0026sp=%2Fmaps%2Fmap9061%2Fread\u0026sv=1.0\u0026sig=cDHMxFbL0c_Q-bQPpFktQIWuJEZDgRn6LuRqkZGYN-U",
            "contentSize": 412
          },
          "createdTime": "2022-08-29T12:48:26.6729609Z",
          "changedTime": "2022-08-29T12:48:26.6732969Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map9061",
        "name": "map9061",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1136187600",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
