{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7271/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1585?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7271/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1585",
        "name": "intergrationAccount1585",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7271/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1585/maps/map3201?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "mapType": "Xslt30",
          "content": "\u003Cxsl:stylesheet xmlns:xsl=\u0027http://www.w3.org/1999/XSL/Transform\u0027 xmlns:xs=\u0027http://www.w3.org/2001/XMLSchema\u0027 version=\u00273.0\u0027\u003E\r\n\t                        \u003Cxsl:output method=\u0027text\u0027/\u003E\r\n\t                        \u003Cxsl:template match=\u0027/\u0027\u003E\r\n\t\t                        \u003Cxsl:value-of select=\u0027company/employee/name\u0027/\u003E\r\n\t\t                        \u003Cxsl:variable name=\u0027test\u0027\u003E\r\n\t\t\t                        \u003Cxsl:text\u003Ecompany/employee/name\u003C/xsl:text\u003E\r\n\t\t                        \u003C/xsl:variable\u003E\r\n\t\t                        \u003Cxsl:evaluate xpath=\u0027$test\u0027/\u003E\r\n\t                        \u003C/xsl:template\u003E\r\n                        \u003C/xsl:stylesheet\u003E",
          "contentType": "application/xml"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-03.centralus.logic.azure.com:443/integrationAccounts/10352140095247f4b91b8bdbf6dbebfc/maps/map3201/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-24T12%3A52%3A41.2418286Z\u0026sp=%2Fmaps%2Fmap3201%2Fread\u0026sv=1.0\u0026sig=QRm5ScqwpkrSlmXrviqOCVqczJEImpeZMBZXZxaZjh8",
            "contentSize": 612
          },
          "createdTime": "2022-08-24T08:52:41.2008131Z",
          "changedTime": "2022-08-24T08:52:41.2011423Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7271/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1585/maps/map3201",
        "name": "map3201",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-7271/providers/Microsoft.Logic/integrationAccounts/intergrationAccount1585/maps?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "mapType": "Xslt30",
              "contentLink": {
                "uri": "https://prod-03.centralus.logic.azure.com:443/integrationAccounts/10352140095247f4b91b8bdbf6dbebfc/maps/map1365/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-24T12%3A52%3A41.8043432Z\u0026sp=%2Fmaps%2Fmap1365%2Fread\u0026sv=1.0\u0026sig=ICuA337eOKCNt2cdAMzqldNtUWuTMos_P96WuW9AiK4",
                "contentSize": 612
              },
              "c[...]
