{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "properties": {
          "state": "Enabled"
        },
        "sku": {
          "name": "Standard"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888",
        "name": "intergrationAccount888",
        "type": "Microsoft.Logic/integrationAccounts",
        "location": "centralus",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map5138?api-version=2019-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "centralus",
        "properties": {
          "mapType": "Xslt30",
          "content": "\u003Cxsl:stylesheet xmlns:xsl=\u0027http://www.w3.org/1999/XSL/Transform\u0027 xmlns:xs=\u0027http://www.w3.org/2001/XMLSchema\u0027 version=\u00273.0\u0027\u003E\n  \u003Cxsl:output method=\u0027text\u0027/\u003E\n  \u003Cxsl:template match=\u0027/\u0027\u003E\n    \u003Cxsl:value-of select=\u0027company/employee/name\u0027/\u003E\n    \u003Cxsl:variable name=\u0027test\u0027\u003E\n      \u003Cxsl:text\u003Ecompany/employee/name\u003C/xsl:text\u003E\n    \u003C/xsl:variable\u003E\n    \u003Cxsl:evaluate xpath=\u0027$test\u0027/\u003E\n  \u003C/xsl:template\u003E\n\u003C/xsl:stylesheet\u003E\n",
          "contentType": "application/xml"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "properties": {
          "mapType": "Xslt30",
          "contentLink": {
            "uri": "https://prod-22.centralus.logic.azure.com:443/integrationAccounts/0f441da5d4674f7cbab9b4cc6a28f5ca/maps/map5138/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-29T16%3A48%3A33.7927462Z\u0026sp=%2Fmaps%2Fmap5138%2Fread\u0026sv=1.0\u0026sig=VyCYw7vswijGZvQ7oHSt_Jox84ccEj69fX-8SKXIKKE",
            "contentSize": 412
          },
          "createdTime": "2022-08-29T12:48:33.754526Z",
          "changedTime": "2022-08-29T12:48:33.7553654Z"
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps/map5138",
        "name": "map5138",
        "type": "Microsoft.Logic/integrationAccounts/maps"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/LogicAppRG-3489/providers/Microsoft.Logic/integrationAccounts/intergrationAccount888/maps?api-version=2019-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "mapType": "Xslt30",
              "contentLink": {
                "uri": "https://prod-22.centralus.logic.azure.com:443/integrationAccounts/0f441da5d4674f7cbab9b4cc6a28f5ca/maps/map1690/contents/Value?api-version=2015-08-01-preview\u0026se=2022-08-29T16%3A48%3A34.6052872Z\u0026sp=%2Fmaps%2Fmap1690%2Fread\u0026sv=1.0\u0026sig=SnQgAgR_JbvAxgQw9PUUW6oslgF99oGAqgXpb6cg9fM",
                "contentSize": 412
              },
              "c[...]
