{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340?api-version=2021-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "c771ae10-b7c4-4030-a87e-cca9e154c340",
        "tenantId": "67419183-f612-47fe-9b45-48fa5b880dc6",
        "displayName": "testing_subscription",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "EnterpriseAgreement_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourcegroups/myRgName7591?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591",
        "name": "myRgName7591",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309?api-version=2022-09-22-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "appId": "19242d36-be5a-4142-9712-d912be7a599e"
        },
        "tags": {},
        "location": "global"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002269013227-0000-0500-0000-6423a8c60000\u0022",
        "mise-correlation-id": "e6f183dc-4d5e-473a-872f-b7a664aeafb9",
        "MS-CV": "zu5Zt9AXok6vBco4vO5jBA.0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309",
        "name": "SDKAccounts4309",
        "type": "microsoft.graphservices/accounts",
        "location": "global",
        "tags": {},
        "systemData": {
          "createdByType": "Application",
          "createdAt": "2023-03-29T02:55:58.9987747Z",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-29T02:55:58.9987747Z"
        },
        "properties": {
          "appId": "19242d36-be5a-4142-9712-d912be7a599e",
          "billingPlanId": "1f36ea01-bda4-4e6a-8ab8-771a13bd5915",
          "provisioningState": "Succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/providers/Microsoft.Resources?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          },
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "Central US",
              "North Central US",
              "France Central",
              "UK South",
              "UK West",
              "Central India",
              "South India",
              "Japan East",
              "Japan West",
              "Korea Central",
              "North Europe",
              "Norway East",
              "Sweden Central",
              "UAE North",
              "West Central US",
              "West Europe",
              "West US 2",
              "West US",
              "South Central US",
              "West US 3",
              "South Africa North",
              "Central US EUAP",
              "East US 2 EUAP"
            ],
            "apiVersions": [
              "2020-10-01",
              "2019-10-01-preview"
            ],
            "capabilities": "SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "deploymentScripts/logs",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309/providers/Microsoft.Resources/tags/default?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "Test": "Value"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "Test": "Value"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c771ae10-b7c4-4030-a87e-cca9e154c340/resourceGroups/myRgName7591/providers/Microsoft.GraphServices/accounts/SDKAccounts4309?api-version=2022-09-22-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "mise-correlation-id": "1cc3f39c-659b-4bc1-9ca0-8fca0da7002d",
        "MS-CV": "77YoWcEkbEqu2S2FKVhyMQ.0",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1584418889",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "c771ae10-b7c4-4030-a87e-cca9e154c340"
  }
}
